<div id="infobox-body">

<p><h1>מידע לבעלי זכויות יוצרים</h1></p>

<p>אם אתה בעל זכויות יוצרים של כל חומר המקושר באתר זה ואינך מעוניין שהמידע הזה יופץ על ידי משתמשים ללא הסכמתך, נשמח לסייע לך בהסרת הקישורים הרלוונטיים.</p>

<p>על מנת לעשות זאת, אנא שלח לנו מכתב אלקטרוני המכיל את המידע הבא:</p>

<p>1. הוכחה תיעודית לזכויותיך על החומר המוגן בזכויות יוצרים:</p>
<p> — מסמך סרוק עם חותמת רשמית, או</p>
<p> — דואר אלקטרוני שנשלח מדומיין רשמי של חברת זכויות היוצרים, או</p>
<p> — פרטי קשר אחרים שמזדהים באופן חד משמעי כבעל הזכויות.</p>

<p>2. הטקסט החלופי שברצונך שיופיע במקום התוכן שהוסר.</p>

<p>בטקסט זה תוכל לציין היכן ובאילו תנאים ניתן לקבל את המידע אשר הקישורים לו הוסרו, וכן את פרטי הקשר שלך כדי שמשתמשים יוכלו לפנות אליך בנוגע לחומר זה.</p>

<p>3. קישורים ישירים לדפים המכילים הפניות לנתונים שיש להסיר.</p>

<p>יש להציג את הקישורים בפורמט <strong>https://url.to/link</strong> או דומה לזה.</p>

<p>תוך 48 שעות מקבלת בקשתך, נסיר את הקישורים הרלוונטיים מהאתר.</p>

<p class="bold">האימייל שלנו: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>אזהרה!</p>

<p>א) שמורים לנו הזכויות לפרסם באתר כל מידע שנשלח אלינו בכתובת האימייל <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ב) אין לנו שליטה על פעולות המשתמשים שעשויים לפרסם מחדש קישורים למידע שהוא נושא זכויות היוצרים שלך. כל המידע בפורום מתפרסם אוטומטית, ללא סקירה או פיקוח מראש, בהתאם לנוהגים המקובלים בינלאומיים לאחסון מידע באינטרנט. עם זאת, נשקול את כל הבקשות בנוגע לקישורים למידע הפוגע בזכויותיך.</p>

<p>ג) על פי חוק זכויות יוצרים וזכויות נלוות החלים, קישור היפר לטקסט (הפניה מידע) בפני עצמו אינו מוגן בזכויות יוצרים (למרות שעלול להפר את הסכם המשתמש באתר). לכן, אנא נמנע משליחת מכתבים המכילים איומים או דרישות, שכן אין לכך בסיס משפטי.</p>

</div>
