<div id="infobox-body">

<p><h1>מידע על בעלי זכויות יוצרים</h1></p>

<p>אם אתה בעל זכויות יוצרים של כל חומר (או קישורים) הזמינים באתר זה, ואינך מעוניין שהמידע יופץ על ידי משתמשים ללא הסכמתך, נשמח לסייע לך בהסרת הקישורים המתאימים.</p>

<p>נדרש שתשלח לנו מכתב (בצורה אלקטרונית)
שמציין לנו את המידע הבא:</p>

<p>1. הוכחה תיעודית לבעלותך על החומר המוגן בזכויות יוצרים:</p>
<p> - סריקת מסמך עם חותם, או</p>
- דואר אלקטרוני מדומיין רשמי של בעל החברה, או
<p> - פרטי קשר נוספים שמזהים אותך באופן חד־משמעי כבעל/ת החומר.</p>

<p>2. הטקסט שברצונך לפרסם, מלווה במידע שניתן להסיר.</p>

<p>במכתב זה תוכל לציין היכן ובאילו תנאים ניתן לקבל מידע אשר הפניות אליו הוסרו, וכן את פרטי הקשר שלך, כדי שמשתמשים יוכלו לקבל ממך את כל המידע הנדרש לגבי חומר זה.</p>

<p>3. קישורים ישירים לדפים המכילים הפניות לנתונים שיש להסיר.</p>

<p>יש להציג את הקישורים בצורה <strong>https://url.to/link</strong> או דומה.</p>

<p>לאחר מכן, תוך 48 שעות, נסיר מהאתר את הקישורים שמעניינים אותך.</p>

<p class="bold">האימייל שלנו: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>אזהרה!</p>

<p>א) שמורים לנו הזכויות לפרסם באתר כל מידע שנשלח אלינו במייל <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

ב) אין לנו שליטה על הפעולות של משתמשים שעשויים לפרסם מחדש קישורים למידע, שהוא מושא זכויות היוצרים שלך. כל מידע שהפורום מציב באופן אוטומטי, ללא כל שליטה מכל גורם שהוא, התואם את הנוהג הבינלאומי המקובל של הצבת מידע באינטרנט. עם זאת, בכל מקרה, אנו שוקלים את כל פניותיך בנוגע להתייחסות למידע הפוגע בזכויותיך.</p>

ג) על פי חוק זכויות יוצרים וזכויות נלוות, הפניה לכל נתון (הודעת מידע), כשלעצמה, אינה כפופה לדיני זכויות יוצרים (אם כי היא עלולה להפר את "הסכם השימוש באתר"). לפיכך, אין צורך לשלוח מכתבים המכילים איומים או דרישות, כיוון שאין להם סיבה אמיתית.</p>

</div><!--/infobox-body-->
