<div>
	<h3>סרגל צד 2</h3>
	כדי להוסיף תוכן לסרגל צד זה, ערוך את הקבצים הבאים:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	כדי להשבית סרגל צד זה, הגדר את המשתנה page.show_sidebar2 בקובץ config/layouts.php ל-false.
</div>
