<div id="infobox-body">

<p>

<p><h1>הסכם המשתמש</h1></p>

<p><h3>על האתר</h3></p>

<p>משאב/אתר אינטרנט זה (להלן: "המשאב") הוא אתר המאפשר למשתמשים לשתף מידע ביניהם באמצעות ביט-טורנט, וכן בצורות נוספות, ומספק אמצעים לאימות שלמות המידע המועבר (באמצעות קבצי hash).</p>

<ol>

<li type="1"><h3>על הסכם המשתמש</h3>

<p>הסכם משתמש זה (להלן: "ההסכם") יכנס לתוקף עם לחיצה על "אני מסכים" בתחתית וישאר בתוקף לאורך כל תקופת השימוש של המשתמש במשאב. ההסכם עשוי להשתנות על ידי ההנהלה ללא הודעה מראש. גרסת ההסכם החדשה נכנסת לתוקפה 3 (שלושה) ימים לאחר פרסומה, אלא אם כן צוין אחרת בגרסה החדשה של ההסכם.</p>

<li><h3>מגבלות האחריות</h3>

<p>המשתמש מסכים במפורש להשתמש במשאב על אחריותו בלבד.</p>

<p>המשתמש מקבל ומסכים שהמשאב מתעסק בחומרים ונתונים שנוצרו על ידי צדדים שלישיים ואוחסנו על ידי אלה במחשבים ו/או בשרתים שלהם באינטרנט. התוכן והאבטחה של חומרים אלה אינם בשליטת הנהלת המשאב; לכן, ההנהלה לא תהיה אחראית:</p>
<ul>
<p>- לתוכן החומרים שהמשתמש קיבל דרך המשאב, כולל כל אי-התאמה אפשרית לחוקים החלים או לטיב הפוגעני שלהם;</p>
<p>- לתוצאות של השימוש, היישום או אי השימוש במידע שהתקבל;</p>
<p>- לכל אי-התאמה בין התוצאות שהושגו באמצעות המשאב לבין הציפיות של המשתמש;</p>
<p>- לנזק כלשהו שתגרם לחומרה או לתוכנה של המשתמש בעקבות השימוש במשאב;</p>
<p>- לחוסר היכולת להשתמש במשאב מכל סיבה שהיא;</p>
<p>- להשלכות שיכולות לנבוע מהפצת תוכנות לא חוקיות או לא מורשות, תכני אודיו/וידאו, חומרים או נתונים אחרים הפוגעים בזכויות צדדים שלישיים.</p>
</ul>

<p>בשום מקרה לא תחול על המשאב אחריות כלפי המשתמש או כל צד שלישי על נזקים, הפסדים או הוצאות שנגרמו בקשר למשאב, לשימוש בו או לאי היכולת להשתמש בו, כולל אובדן רווחים.</p>

<p>הנהלת המשאב אינה מחויבת להבטיח סודיות המידע שמספקים המשתמשים, אף על פי שנוקטת כל אמצעי זהירות סבירים, אלא אם כן קיים הסכם נפרד או שהחוק קובע אחרת.</p>

<p>תחומי האחריות של המשאב אינם כוללים ניטור של חוקיות המידע המועבר (כולל מידע בין משתמשים באמצעות ביט-טורנט, הודעות פנימיות בכל צורה, טקסט או קבצים), ולא כוללים קביעה על זכויות קניין רוחני או הלגיטימיות של שידור או קבלה של מידע זה.</p>

<li><h3>הגבלות על שימוש המשתמש במשאב</h3>

<p>בעת שימוש במשאב זה, המשתמש אינו רשאי ומתחייב שלא לבצע את הפעולות הבאות:</p>
<ul>
<p>- להעלות קבצי hash (טורנטים) המכילים נתונים עם וירוסים או תוכנות זדוניות אחרות, קבצים או תוכניות המיועדות לפגוע, להשבית או להגביל את תפקודו של מחשב או ציוד תקשורת, תוכנות לגישה בלתי מורשית, מספרי רישיון לתוכנות מסחריות או כלים ליצירתם, שמות משתמש, סיסמאות או אמצעים אחרים להשגת גישה בלתי מורשית למשאבים באינטרנט, וכן לפרסם קישורים אליהם;</p>
<p>- להעלות קבצי hash (טורנטים) המכילים הודעות, נתונים או תוכניות שהשימוש בהם מפר פטנטים, סימני מסחר, סודות מסחריים, זכויות יוצרים או זכויות קנייניות אחרות ו/או זכויות נלוות של צדדים שלישיים;</p>
<p>- לשלוח הודעות פרסום בלתי מורשות (דואר זבל) לכתובות דואר אלקטרוני המופיעות באתר;</p>
<p>- להעתיק ולהשתמש למטרות מסחריות בכל מידע שהושג באמצעות המשאב ומפר זכויות של אחרים או עלול לגרום להם נזק חומרי או מוסרי ישיר;</p>
<p>- לפרסם קישורים למשאבי אינטרנט שתוכנם מפר חקיקה קיימת;</p>
<p>- להתחזות לכל אדם או נציג ארגון ו/או קהילה ללא הרשאה מתאימה, כולל לעובדי ההנהלה או לבעל המשאב.</p>
</ul>

<li><h3>אי אחריות על ערבויות</h3>

<p>הגישה למשאב ניתנת "כפי שהיא" ללא כל ערבויות מכל סוג שהוא, מפורשות או משתמעות.</p>

<p>הנהלת המשאב אינה מבטיחה את פונקציונליות האתר או חלקיו השונים, ולא את תפקוד ואמינות הקישורים שהועלו על ידי המשתמשים.</p>

<p>המשאב אינו אחראי לכל נזק ישיר או עקיף הנובע משימוש או מאי-יכולת להשתמש בשירות; או גישה בלתי מורשית לתקשורת שלך.</p>

<li><h3>זכויות הנהלת המשאב</h3>

<p>הנהלת המשאב רשאית לסרב גישה לכל משתמש או קבוצת משתמשים ללא הסבר וללא הודעה מוקדמת.</p>

<p>הנהלת המשאב רשאית לשנות או למחוק כל מידע, קבצי hash (טורנטים), גרפיקה, אודיו ונתונים אחרים שהוגשו על ידי משתמשים ללא הודעה מוקדמת או הסבר.</p>

<li><h3>תחומי האחריות של הצדדים</h3>

<p>המשתמש מסכים שכל סכסוך הנובע מהסכם זה ייפתר בהתאם לחוק החלים.</p>

<p>המשתמש מודה כי חוקי הגנת הצרכן אינם חלים על השימוש במשאב זה, שכן הוא אינו מספק שירותים בתשלום.</p>

<p>המשאב אינו מקים סוכנות, שותפות, ייזום משותף, יחסי עובד-מעביד או כל יחסים אחרים שאינם מתוארים במפורש בהסכם זה.</p>

<p>אי פעולה של המשאב בתגובה להפרת הסכם זה על ידי משתמש או קבוצת משתמשים אינה מהווה אישור או סיוע לפעולות אלו.</p>

<p>אי פעולה של המשאב בתגובה להפרת הסכם זה על ידי משתמש או קבוצת משתמשים אינה מונעת מהמשאב את הזכות לנקוט בצעדים המתאימים להגנת האינטרסים שלו בעתיד.</p>

<li><h3>קבלת הסכם המשתמש</h3>

<p>אם אינך מסכים לכל התנאים וההגבלות שלעיל, אין באפשרותך לגשת למשאב או להשתמש בו, במלואו או בחלקו, למעט בדף הסכם המשתמש; ואין באפשרותך לקבל או לגשת לתכני המשאב בכל דרך אחרת, במלואה או בחלקה.</p>

<p>אם אינך מסכים עם הסכם המשתמש, עליך לעזוב את המשאב מיד.</p>

</ol>
</p>

</div>
