<div id="infobox-body">

<p>

<p><h1>הסכם משתמש</h1></p>

<p><h3>אודות האתר</h3></p>

<p>אינטרנט — משאב/אתר אינטרנט (להלן: המשאב) הוא אתר שמאפשר למשתמשים לשתף מידע זה עם זה באמצעות ביט-טורנט וכן באופן חופשי, ומספק אמצעים לניטור שלמות המידע המועבר (באמצעות קבצי hash).</p>

<ol>

<li type="1"><h3>על הסכם המשתמש</h3>

<p>הסכם משתמש זה ייכנס לתוקף לאחר לחיצה על "אני מסכים" בתחתית ויהיה בתוקף כל זמן ששימוש במשאב על ידי המשתמשים. הסכם המשתמש עשוי להשתנות על ידי המינהל ללא כל הודעה מוקדמת. הגרסה החדשה של UA נכנסת לתוקף לאחר 3 (שלושה) ימים ממועד הגשתה, אלא אם כן צוין אחרת בגרסה החדשה של הסכם המשתמש.</p>

<li><h3>מגבלות האחריות</h3>

<p>המשתמש מסכים במפורש שהשימוש במשאב הינו על אחריותו בלבד.</p>

<p>המשתמש יודע ומסכים שמדובר בחומרים ונתונים שנוצרו על ידי צדדים שלישיים שהועלו לאינטרנט ממחשביהם ו/או משרתיהם. התוכן והאבטחה של חומרים אלה אינם יכולים להיות נשלטים על ידי מנהל המשאבים, כך שהאחרון אינו אחראי:</p>
<ul>
<p>- לגבי תוכן החומרים שהמשתמש קיבל באמצעות השימוש במשאב, וכן לגבי אי התאמה אפשרית שלהם לחקיקה החלה או היותם פוגעניים;</p>
<p>- על ההשלכות של יישום, שימוש או אי-שימוש של המידע שהתקבל;</p>
<p>- לגבי אי התאמה אפשרית בין התוצאות שהושגו באמצעות המשאב לבין ציפיות המשתמש;</p>
<p>- לגבי כל נזק לחומרה או לתוכנה של המשתמש הנובע משימוש במשאב;</p>
<p>- לגבי חוסר היכולת להשתמש במשאב מכל סיבה שהיא;</p>
<p>- לגבי ההשלכות שעלולות לנבוע מהתפשטות תוכנות או מוצרי אודיו/וידאו לא חוקיים או לא מורשים, וכן חומרים או נתונים אחרים הפוגעים בזכויות של צדדים שלישיים.</p>
</ul>

<p>בשום אופן לא תחול על המשאב אחריות כלפי המשתמש או כל צד שלישי בגין נזקים, הפסדים או הוצאות שנגרמו בקשר למשאב זה, לשימוש בו או לאי-יכולת להשתמש בו, לרבות אובדן רווחים.</p>

<p>הנהלת המשאב אינה מחויבת להבטיח את סודיות המידע שמספקים המשתמשים שלה, על אף שהיא נוקטת את כל האמצעים האפשריים לכך, אלא אם הוסכם אחרת או בהתאם לדרישות החקיקה הרלוונטיות.</p>

<p>חובותיו של המשאב לא כוללות שליטה על מידע המועבר באופן חוקי או לא חוקי (כל סוגי המידע, לרבות מידע המועבר בין משתמשים באמצעות ביט-טורנט, העברות פנימיות של מידע בקישורים שונים, טקסט או קבצים), ולא כוללות קביעה של זכויות הקניין או הלגיטימיות של שידור או קבלה של מידע זה.</p>

<li><h3>מגבלות שימוש במשאב על ידי המשתמש</h3>

<p>כאשר אתה משתמש במשאב זה, למשתמש אין זכות לבצע את הפעולות הבאות, והוא מתחייב שלא לעשות כן:</p>
<ul>
<p>- לפרסם קבצי hash (טורנטים) או נתונים המכילים וירוסים או תוכנות זדוניות, קבצים או תוכניות שנועדו להפריע, להשמיד או להגביל את תפקודו של מחשב או ציוד תקשורת, וכן תוכנות המיועדות לגישה בלתי מורשית; לפרסם מספרי רישיון של תוכנות מסחריות או תוכנות לייצורם, שמות משתמש, סיסמאות ואמצעים אחרים להשגת גישה בלתי מורשית לאתרים באינטרנט; וכן לפרסם קישורים למידע כאמור;</p>
<p>- לפרסם קבצי hash (טורנטים) המכילים הודעות, נתונים או תוכניות שהשימוש בהם מפיר פטנט, סימן מסחרי, סוד מסחרי, זכויות יוצרים או זכויות קנייניות אחרות ו/או זכויות יוצרים וזכויות נלוות של צדדים שלישיים;</p>
<p>- לשלוח לכתובות הדואר האלקטרוני המופיעות באתר הודעות פרסומיות בלתי מורשות (דואר זבל/ספאם);</p>
<p>- להעתיק ולהשתמש למטרות מסחריות בכל מידע שהושג באמצעות משאב זה, באופן המפר זכויות של אחרים או העלול לגרום להם נזק ממוני או מוסרי ישיר;</p>
<p>- לפרסם קישורים למשאבים באינטרנט, שלתוכנם יש סתירה עם החקיקה הנוכחית;</p>
<p>- להתחזות לכל אדם או לנציג ארגון ו/או קהילה ללא סמכות מספקת, כולל לעובדי הנהלת המשאב או לבעליו;</p>
</ul>

<li><h3>אחריות לתפקוד</h3>

<p>הגישה למשאב ניתנת כמות שהיא ("as is"), ללא כל ערבות מכל סוג שהוא, בין ישירה ובין עקיפה.</p>

<p>בפרט הנהלת המשאב אינה מתחייבת לפונקציונליות האתר או חלקיו השונים, וכן לאמונה ולאמינות הקישורים שהעלו המשתמשים.</p>

<p>המשאב אינו אחראי לכל הפסד ישיר או עקיף שנגרם עקב: שימוש או חוסר יכולת להשתמש בשירות; גישה בלתי מורשית לתקשורת שלך.</p>

<li><h3>זכויות הנהלת המשאב</h3>

<p>הנהלת המשאב רשאית למנוע גישה לכל משתמש או לקבוצה של משתמשים ללא הסבר וללא הודעה מוקדמת.</p>

<p>הנהלת המשאב רשאית לשנות או למחוק כל מידע, קבצי hash (טורנטים), גרפיקה, אודיו ונתונים אחרים שהוגשו על ידי משתמשים באתר, ללא הודעה מוקדמת וללא צורך בהסבר לפעולותיה.</p>

<li><h3>תחומי האחריות של הצדדים</h3>

<p>המשתמש מסכים כי כל מחלוקות אפשריות הנוגעות להסכם השימוש ייפתרו בהתאם לנורמה המשפטית.</p>

<p>המשתמש מסכים שכללי וחוקי הגנת הצרכן אינם חלים על השימוש במשאב זה, שכן אין בו שירותים בתשלום.</p>

<p>המשאב אינו יוצר יחסי סוכן-משתמש, יחסי שותפות לפעילות משותפת, יחסי גיוס או כל יחסים אחרים שאינם מתוארים במפורש בהסכם השימוש.</p>

<p>חוסר תגובה של המשאב להפרה על ידי משתמש או קבוצה של משתמשים אינו מצביע על כך שהמשאב מסייע או תומך במשתמשים אלה בפעולות בלתי חוקיות.</p>

<p>חוסר תגובה של המשאב להפרת הסכם המשתמש אינו שולל ממנו את הזכות לנקוט באמצעים המתאימים להגן על האינטרסים שלו בהמשך.</p>

<li><h3>קבלת הסכם המשתמש</h3>

<p>אם אינך מסכים לכל התנאים וההגבלות שלעיל, אסור לך לגשת למשאב זה או להשתמש בו, במלואו או בחלקו, למעט בדף הסכם המשתמש; אין לקבל או לגשת לתכני המשאב בכל דרך אחרת, במלואה או בחלקה.</p>

<p>אם אינך מסכים עם הסכם המשתמש, אתה חייב מיד לעזוב את המשאב.</p>

</ol>
</p>

</div><!--/infobox-body-->
