<div id="infobox-body">

<p><h1>INFORMASI BAGI PEMEGANG HAK CIPTA</h1></p>

<p>Jika Anda adalah pemegang hak cipta atas materi apa pun yang tertaut di situs ini dan tidak ingin informasi ini disebarluaskan oleh pengguna tanpa persetujuan Anda, kami dengan senang hati akan membantu Anda dengan menghapus tautan yang relevan.</p>

<p>Untuk itu, silakan kirimkan surat elektronik kepada kami yang berisi informasi berikut:</p>

<p>1. Bukti dokumenter hak Anda atas materi yang dilindungi hak cipta:</p>
<p> — dokumen yang dipindai yang memuat cap resmi, atau</p>
<p> — email yang dikirim dari domain resmi perusahaan pemegang hak, atau</p>
<p> — informasi kontak lain yang secara unik mengidentifikasi Anda sebagai pemegang hak.</p>

<p>2. Teks pengganti yang ingin Anda posting sebagai pengganti konten yang dihapus.</p>

<p>Dalam teks ini, Anda dapat menentukan di mana dan dalam kondisi apa pengguna dapat memperoleh informasi yang tautannya telah dihapus, serta detail kontak Anda agar pengguna dapat menghubungi Anda mengenai materi ini.</p>

<p>3. Tautan langsung ke halaman yang memuat referensi data yang harus dihapus.</p>

<p>Tautan harus dalam format <strong>https://url.to/link</strong> atau serupa.</p>

<p>Dalam waktu 48 jam setelah menerima permintaan Anda, kami akan menghapus tautan yang relevan dari situs.</p>

<p class="bold">Email kami: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>PERINGATAN!</p>

<p>a) Kami berhak mempublikasikan di situs informasi apa pun yang dikirimkan kepada kami di <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Kami tidak mengendalikan tindakan pengguna yang mungkin memposting ulang tautan ke informasi yang menjadi subjek hak cipta Anda. Semua informasi di forum diposting secara otomatis, tanpa tinjauan atau moderasi sebelumnya, sesuai dengan praktik internasional yang umum diterapkan dalam penyampaian informasi di Internet. Namun demikian, kami akan mempertimbangkan semua permintaan terkait tautan ke informasi yang melanggar hak Anda.</p>

<p>c) Berdasarkan hukum hak cipta dan hak terkait yang berlaku, sebuah hyperlink ke data (referensi informasi) bukanlah perlindungan hak cipta itu sendiri (meskipun dapat melanggar Perjanjian Pengguna situs). Oleh karena itu, harap hindari mengirim surat berisi ancaman atau tuntutan, karena tidak ada dasar hukum untuk klaim semacam itu.</p>

</div>
