<div id=\"infobox-body\">

<p><h1>INFORMASI BAGI PEMEGANG HAK CIPTA</h1></p>

<p>Jika Anda adalah pemegang hak cipta atas materi (atau tautan) yang tersedia di situs ini dan tidak ingin informasi tersebut disebarkan oleh pengguna tanpa persetujuan Anda, kami akan dengan senang hati membantu dengan menghapus tautan yang bersangkutan.</p>

<p>Ini mengharuskan Anda telah mengirimkan surat kepada kami (dalam bentuk elektronik)
yang menunjukkan kepada kami informasi berikut:</p>

<p>1. Bukti dokumenter tentang hak Anda atas materi yang dilindungi oleh hak cipta:</p>
<p> - dokumen hasil pindai dengan stempel, atau</p>
<p> - email dari domain resmi pemilik perusahaan, atau</p>
<p> - informasi kontak lain yang secara unik mengidentifikasi Anda sebagai pemilik materi tersebut.</p>

<p>2. Teks yang ingin Anda cantumkan, disertai informasi yang dapat dihapus.</p>

<p>Dalam teks tersebut Anda dapat menyebutkan di mana dan dalam kondisi apa informasi (referensi) yang dihapus dapat diperoleh, serta menyertakan informasi kontak Anda, sehingga pengguna dapat memperoleh dari Anda semua informasi yang diperlukan mengenai materi ini.</p>

<p>3. Tautan langsung ke halaman yang berisi referensi ke data yang harus dihapus.</p>

<p>Tautan harus berformat <strong>https://url.to/link</strong> atau sesuatu yang serupa.</p>

<p>Setelah itu, dalam waktu 48 jam, kami akan menghapus tautan yang Anda maksud dari situs.</p>

<p class="bold">Email kami: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>PERINGATAN!</p>

<p>a) Kami berhak mempublikasikan di situs informasi apa pun yang dikirimkan kepada kami melalui email <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

b) Kami tidak memiliki kendali atas tindakan pengguna yang mungkin memposting ulang tautan ke informasi, yang merupakan objek hak cipta Anda. Setiap informasi di forum ditempatkan secara otomatis, tanpa pengawasan dari pihak manapun, sesuai dengan praktik internasional yang umum diterapkan dalam penempatan informasi di Internet. Namun, dalam hal apapun, kami akan menanggapi semua permintaan Anda mengenai referensi terhadap informasi yang melanggar hak Anda.</p>

<p>c) Menurut Undang-Undang Hak Cipta dan Hak Terkait, referensi ke data apa pun (pesan informasi), dengan sendirinya, tidak tunduk pada undang-undang hak cipta (meskipun dapat melanggar "Perjanjian tentang penggunaan situs web"). Dengan demikian, tidak perlu mengirimkan surat yang berisi ancaman atau tuntutan, karena tidak berdasar.</p>

</div><!--/infobox-body-->
