<div id=\"infobox-body\">

<p>

<p><h1>PERJANJIAN PENGGUNA</h1></p>

<p><h3>TENTANG SITUS</h3></p>

<p>Internet - sumber daya / website (selanjutnya - Sumber daya) adalah sebuah situs internet yang memungkinkan pengguna untuk berbagi informasi dengan satu sama lainnya melalui bit-torrent, serta dalam bentuk bebas, dan menyediakan sarana untuk memantau integritas informasi yang dikirim (melalui hash-file).</p>

<ol>

<li type="1"><h3>TENTANG PERJANJIAN PENGGUNA</h3>

<p>PERJANJIAN PENGGUNA ini mulai berlaku setelah mengklik "Saya setuju" di bagian bawah dan tetap berlaku selama penggunaan sumber daya oleh pengguna. PERJANJIAN PENGGUNA dapat diubah oleh Administrasi tanpa pemberitahuan apapun. <p>Versi baru PERJANJIAN PENGGUNA mulai berlaku setelah 3 (tiga) hari sejak tanggal diajukan, kecuali ditentukan lain dalam versi baru PERJANJIAN PENGGUNA.</p>

<li><h3>PEMBATASAN TANGGUNG JAWAB</h3>

<p>Pengguna dengan tegas menyetujui bahwa penggunaan sumber daya adalah atas risiko mereka sendiri.</p>

<p>Pengguna mengetahui dan menyetujui bahwa sumber daya berisi materi dan data yang dibuat oleh pihak ketiga dan ditempatkan di Internet pada komputer dan/atau server mereka. Konten dan keamanan materi ini tidak dapat dikendalikan oleh administrasi sumber daya, sehingga administrasi tidak bertanggung jawab:</p>
<ul>
<p>- atas isi materi yang diperoleh Pengguna dari penggunaan sumber daya dan kemungkinan ketidaksesuaian dengan hukum yang berlaku atau bersifat menyinggung;</p>
<p>- atas konsekuensi dari penerapan, penggunaan, atau tidak digunakannya informasi yang diterima;</p>
<p>- atas kemungkinan perbedaan antara hasil yang diperoleh dan harapan Pengguna saat menggunakan sumber daya;</p>
<p>- atas kerusakan perangkat keras atau perangkat lunak yang dialami Pengguna akibat penggunaan sumber daya;</p>
<p>- atas ketidakmampuan untuk menggunakan sumber daya karena alasan apapun;</p>
<p>- atas konsekuensi yang mungkin timbul dari penyebaran perangkat lunak dan produk audio/video yang ilegal atau tanpa lisensi, serta bahan atau data lain yang mempengaruhi hak pihak ketiga.</p>
</ul>

<p>Dalam keadaan apapun sumber daya tidak akan bertanggung jawab kepada Pengguna atau pihak ketiga atas kerusakan, kerugian, atau biaya yang timbul sehubungan dengan sumber daya ini, penggunaannya, atau ketidakmampuan untuk menggunakannya, termasuk kehilangan keuntungan.</p>

<p>Administrasi sumber daya tidak berkewajiban untuk menjamin kerahasiaan informasi yang diberikan oleh Pengguna, meskipun akan mengambil segala langkah yang mungkin untuk itu, kecuali ditentukan lain atau jika ada persyaratan perundang-undangan yang berlaku.</p>

<p>Tugas sumber daya tidak meliputi pengawasan atas informasi yang dikirim secara sah atau tidak sah (termasuk, namun tidak terbatas pada, informasi yang ditransmisikan antar pengguna melalui bit-torrent, transfer internal melalui berbagai tautan, teks atau berkas), penentuan hak kepemilikan, atau legitimasi transmisi atau penerimaan informasi tersebut.</p>

<li><h3>BATASAN PENGGUNAAN SUMBER DAYA OLEH PENGGUNA</h3>

<p>Saat Anda menggunakan sumber daya ini, pengguna tidak berhak melakukan hal-hal berikut dan dengan ini menyetujui pembatasan tersebut:</p>
<ul>
<p>- mengunggah hash-file (torrent) atau data yang mengandung virus atau program berbahaya lainnya, file atau program yang dirancang untuk mengganggu, merusak, atau membatasi fungsi perangkat komputer atau peralatan telekomunikasi, program untuk akses tidak sah, serta nomor seri perangkat lunak komersial, program pembuatannya, login, kata sandi, dan cara lain untuk mendapatkan akses tidak sah ke situs di Internet, atau memposting tautan ke informasi tersebut;</p>
<p>- mengunggah hash-file (torrent), pesan, data, atau program yang penggunaannya melanggar paten, merek dagang, rahasia dagang, hak cipta, atau hak kepemilikan lain dan/atau hak cipta serta hak terkait pihak ketiga;</p>
<p>- mengirim pesan surel iklan yang tidak diminta (junk mail/spam) ke alamat e-mail yang tercantum di situs;</p>
<p>- menyalin dan menggunakan untuk tujuan komersial setiap informasi yang diperoleh melalui sumber daya ini, yang melanggar hak pihak lain atau dapat menyebabkan kerugian materiil atau immateriil kepada mereka;</p>
<p>- mengunggah tautan ke sumber daya web, yang isinya bertentangan dengan hukum yang berlaku;</p>
<p>- menyamar sebagai orang lain atau sebagai perwakilan suatu organisasi dan/atau komunitas tanpa wewenang, termasuk mengaku sebagai karyawan administrasi atau pemilik sumber daya;</p>
</ul>

<li><h3>JAMINAN KINERJA</h3>

<p>Akses ke sumber daya disediakan 'sebagaimana adanya' tanpa jaminan apa pun, baik tersurat maupun tersirat.</p>

<p>Secara khusus, administrasi sumber daya tidak menjamin fungsionalitas situs maupun bagian-bagiannya, ataupun kinerja dan keandalan tautan yang ditempatkan di dalamnya oleh pengguna.</p>

<p>Sumber daya tidak bertanggung jawab atas kerugian langsung maupun tidak langsung yang terjadi akibat: penggunaan atau ketidakmampuan untuk menggunakan layanan; akses tidak sah terhadap komunikasi Anda.</p>

<li><h3>HAK-HAK ADMINISTRASI SUMBER DAYA</h3>

<p>Administrasi sumber daya berhak menolak akses ke sumber daya kepada pengguna atau kelompok pengguna tanpa penjelasan atau pemberitahuan.</p>

<p>Administrasi sumber daya dapat memodifikasi atau menghapus informasi, hash-file (torrent), grafik, audio, dan data lain yang dikirimkan oleh pengguna ke sumber daya tanpa pemberitahuan atau penjelasan.</p>

<li><h3>TANGGUNG JAWAB PARA PIHAK</h3>

<p>Pengguna setuju bahwa semua kemungkinan sengketa terkait PERJANJIAN PENGGUNAAN akan diselesaikan sesuai dengan norma hukum.</p>

<p>Pengguna setuju bahwa aturan dan undang-undang perlindungan konsumen tidak berlaku untuk penggunaan sumber daya ini, karena tidak terdapat layanan berbayar.</p>

<p>Sumber daya tidak menetapkan hubungan perwakilan pengguna, hubungan kemitraan untuk kegiatan bersama, hubungan perekrutan, maupun hubungan lain yang tidak secara tegas dijelaskan dalam PERJANJIAN PENGGUNAAN.</p>

<p>Kelalaian sumber daya untuk menindak pelanggaran oleh pengguna atau kelompok pengguna terhadap PERJANJIAN PENGGUNA tidak berarti bahwa sumber daya mendukung tindakan tersebut atau membantu para pelaku.</p>

<p>Kelalaian sumber daya untuk menindak pelanggaran oleh pengguna atau kelompok pengguna terhadap PERJANJIAN PENGGUNA tidak menghilangkan hak sumber daya untuk mengambil tindakan yang tepat guna melindungi kepentingannya di kemudian hari.</p>

<li><h3>PENERIMAAN PERJANJIAN PENGGUNA</h3>

<p>JIKA ANDA TIDAK SETUJU DENGAN SEMUA SYARAT DAN KETENTUAN DI ATAS, ANDA TIDAK BOLEH MENGAKSES SUMBER DAYA INI SECARA KESELURUHAN MAUPUN SEBAGIAN, KECUALI HALAMAN PERJANJIAN PENGGUNA; ANDA DILARANG MENERIMA DAN/ATAU MENGAKSES KONTEN SUMBER DAYA INI DENGAN CARA LAIN, SECARA KESELURUHAN ATAU SEBAGIAN!</p>

<p>JIKA ANDA TIDAK SETUJU DENGAN PERJANJIAN PENGGUNA INI, ANDA HARUS SEGERA MENINGGALKAN SUMBER DAYA.</p>

</ol>
</p>

</div><!--/infobox-body-->
