<div id=\"infobox-body\">

<p><h1>معلومات عن حقوق الطبع</h1></p>

<p>إذا كنت صاحب حقوق الطبع والنشر لأي رابط (أو روابط) من المواد المتاحة على هذا الموقع، ولا ترغب في نشر هذه المعلومات من قبل المستخدمين دون موافقتك، فسيسعدنا مساعدتك من خلال إزالة الروابط المناسبة.</p>

<p>هذا يتطلب أن تكون قد أرسلت لنا رسالة (بالشكل الإلكتروني)</p>
التي أشرت فيها لنا إلى المعلومات التالية:</p>

<p>1. دليل وثائقي على حقوقك في المادة المحمية بحقوق الطبع والنشر:</p>
<p> - وثيقة ممسوحة ضوئياً مع الختم، أو</p>
<p> - بريد إلكتروني من نطاق بريد رسمي للشركة المالكة، أو</p>
<p> - معلومات اتصال أخرى تحددك بدقة كمالك للمادة.</p>

<p>2. النص الذي تريد وضعه، مصحوبًا بمعلومات قابلة للإزالة.</p>

<p>يمكنك في هذا النص تحديد المكان والظروف التي يمكن بها الحصول على المعلومات التي تم إزالة الإشارات إليها، بالإضافة إلى معلومات الاتصال الخاصة بك، حتى يتمكن المستخدمون من الحصول منك على كل المعلومات اللازمة المتعلقة بهذه المادة.</p>

<p>3. روابط مباشرة إلى الصفحات التي تحتوي على إشارات إلى البيانات التي يجب إزالتها.</p>

<p>يجب أن تكون الروابط بالشكل <strong>https://url.to/link</strong> أو ما يشابه ذلك.</p>

<p>بعد ذلك، خلال 48 ساعة، سنقوم بإزالة الروابط التي تهمك من الموقع.</p>

<p class="bold">بريدنا الإلكتروني: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>تحذير!</p>

<p>أ) نحتفظ بالحق في نشر أي معلومات مرسلة إلينا عبر البريد الإلكتروني <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> على الموقع.</p>

<p>ب) ليس لدينا أي سيطرة على تصرفات المستخدمين الذين قد يعيدون نشر روابط إلى المعلومات، وهو موضوع حقوق التأليف والنشر الخاصة بك. أي معلومات يقوم المنتدى بوضعها تلقائيًا، دون أي رقابة من أي جهة كانت، وهذا يتوافق مع الممارسة الدولية المقبولة عمومًا لوضع المعلومات على الإنترنت. ومع ذلك، فإننا نأخذ في الاعتبار جميع استفساراتك المتعلقة بالإشارة إلى المعلومات التي تنتهك حقوقك.</p>

<p>ج) وفقًا لقانون حقوق المؤلف والحقوق المجاورة، فإن الإشارة إلى أي بيانات (رسالة معلومات)، بحد ذاتها، لا تخضع لقانون حقوق النشر (على الرغم من أنه قد ينتهك "الاتفاق على استخدام الموقع الإلكتروني"). لذا، ليس من الضروري إرسال رسائل تحتوي على تهديدات أو مطالبات دون وجود سبب حقيقي.</p>

</div><!--/infobox-body-->
