<div id=\"infobox-body\">

<p><h1>معلومات عن حقوق الطبع</h1></p>

<p>إذا كنت صاحب حقوق الطبع والنشر لأي رابط (أو روابط) من المواد المتاحة على هذا الموقع، ولا ترغب في نشر هذه المعلومات من قبل المستخدمين دون موافقتك، فسيسعدنا مساعدتك من خلال إزالة الروابط المناسبة.</p>

<p>هذا يتطلب أن تكون قد أرسلت لنا رسالة (بالشكل الإلكتروني)</p>
التي أشرت فيها لنا إلى المعلومات التالية:</p>

<p>1. دليل وثائقي على حقوقك في المادة المحمية بحقوق الطبع والنشر:</p>
<p> - وثيقة ممسوحة ضوئياً مع الختم، أو</p>
<p> - بريد إلكتروني من نطاق بريد رسمي للشركة المالكة، أو</p>
<p> - معلومات اتصال أخرى تحددك بدقة كمالك للمادة.</p>

<p>2. النص الذي تريد وضعه، مصحوبًا بمعلومات قابلة للإزالة.</p>

<p>يمكنك في هذا النص تحديد المكان والظروف التي يمكن بها الحصول على المعلومات التي تم إزالة الإشارات إليها، بالإضافة إلى معلومات الاتصال الخاصة بك، حتى يتمكن المستخدمون من الحصول منك على كل المعلومات اللازمة المتعلقة بهذه المادة.</p>

<p>3. روابط مباشرة إلى الصفحات التي تحتوي على إشارات إلى البيانات التي يجب إزالتها.</p>

<p>يجب أن تكون الروابط بالشكل <strong>https://url.to/link</strong> أو ما يشابه ذلك.</p>

<p>بعد ذلك، خلال 48 ساعة، سنقوم بإزالة الروابط التي تهمك من الموقع.</p>

<p class="bold">بريدنا الإلكتروني: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>تحذير!</p>

<p>أ) نحتفظ بالحق في نشر أي معلومات مرسلة إلينا عبر البريد الإلكتروني <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> على الموقع.</p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Any information the forum, place automatically, without any control from any quarter whatsoever, which corresponds to the generally accepted international practice of placing information on the Internet. ومع ذلك، فإننا نأخذ في الاعتبار جميع استفساراتك المتعلقة بالإشارة إلى المعلومات التي تنتهك حقوقك.</p>

<p>c) According to the Law on Copyright and Related Rights, a reference to any data (information message), by itself, is not subject to copyright law (although it may violate the "Agreement on the use of the website"). لذا، ليس من الضروري إرسال رسائل تحتوي على تهديدات أو مطالبات دون وجود سبب حقيقي.</p>

</div><!--/infobox-body-->
