<div id="infobox-body">

<p><h1>معلومات لحملة حقوق الطبع والنشر</h1></p>

<p>إذا كنت صاحب حقوق الطبع والنشر لأي مادة مرتبطة على هذا الموقع ولا ترغب في توزيع هذه المعلومات من قبل المستخدمين دون موافقتك، فسنسعد بمساعدتك عبر إزالة الروابط ذات الصلة.</p>

<p>للقيام بذلك، يرجى إرسال رسالة إلكترونية تحتوي على المعلومات التالية:</p>

<p>1. دليل وثائقي على حقوقك في المادة المحمية بحقوق الطبع والنشر:</p>
<p> — وثيقة ممسوحة ضوئياً تحمل ختمًا رسميًا، أو</p>
<p> — بريد إلكتروني مرسل من النطاق الرسمي للشركة المالكة للحقوق، أو</p>
<p> — معلومات اتصال أخرى تحددك بشكل فريد كمالك للحقوق.</p>

<p>2. النص البديل الذي ترغب في نشره بدلاً من المحتوى المُزال.</p>

<p>يمكنك في هذا النص تحديد مكان وتحت أي شروط يمكن للمستخدمين الحصول على المعلومات التي تمت إزالة روابطها، بالإضافة إلى بيانات الاتصال الخاصة بك ليتواصل المستخدمون معك بشأن هذه المادة.</p>

<p>3. روابط مباشرة للصفحات التي تحتوي على إشارات إلى البيانات التي يجب إزالتها.</p>

<p>يجب أن تكون الروابط بالصيغ <strong>https://url.to/link</strong> أو ما يشابهها.</p>

<p>خلال 48 ساعة من استلام طلبك، سنقوم بإزالة الروابط ذات الصلة من الموقع.</p>

<p class="bold">بريدنا الإلكتروني: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>تحذير!</p>

<p>أ) نحتفظ بحق نشر أي معلومات تُرسل إلينا على الموقع عبر البريد <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ب) لا نتحكم في تصرفات المستخدمين الذين قد يعيدون نشر الروابط للمعلومات التي تخضع لحقوقك. جميع المعلومات على المنتدى تُنشر تلقائيًا، دون مراجعة أو مراقبة مسبقة، بما يتوافق مع الممارسات الدولية المقبولة لاستضافة المعلومات على الإنترنت. ومع ذلك، سندرس جميع الطلبات المتعلقة بالروابط التي تنتهك حقوقك.</p>

<p>ج) بموجب قوانين حقوق الطبع والنشر والحقوق ذات الصلة، فإن الارتباط التشعبي إلى البيانات (مرجع معلوماتي) بحد ذاته لا يحظى بحماية حقوق النشر (على الرغم من أنه قد ينتهك اتفاقية المستخدم للموقع). لذا، يرجى الامتناع عن إرسال رسائل تحتوي على تهديدات أو مطالب، إذ لا توجد أسس قانونية لهذه المطالبات.</p>

</div>
