<div>
	<h3>الشريط الجانبي 2</h3>
	لإضافة محتوى إلى هذا الشريط الجانبي، قم بتحرير الملفات التالية:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	لتعطيل هذا الشريط الجانبي، قم بتعيين المتغير page.show_sidebar2 في الملف config/layouts.php إلى false.
</div>
