<div id=\"infobox-body\">

<p>

<p><h1>اتفاقية المستخدم</h1></p>

<p><h3>عن الموقع</h3></p>

<p>المورد هو موقع على شبكة الإنترنت يسمح للمستخدمين بمشاركة المعلومات مع بعضهم البعض عبر البيت-تورنت، وكذلك بشكل حر، ويوفر وسيلة لمراقبة سلامة المعلومات المرسلة (عبر ملفات التجزئة).</p>

<ol>

<li type="1"><h3>حول اتفاقية المستخدم</h3>

<p>تدخل اتفاقية المستخدم حيز التنفيذ بعد النقر على "موافق" في الأسفل وتظل سارية طوال فترة استخدام المورد من قبل المستخدمين. قد تقوم الإدارة بتغيير اتفاقية المستخدم دون أي إشعار مسبق. تدخل النسخة الجديدة من اتفاقية المستخدم حيز التنفيذ بعد 3 (ثلاثة) أيام من تاريخ نشرها، ما لم يُنص على خلاف ذلك في النسخة الجديدة من الاتفاقية.</p>

<li><h3>حدود المسؤولية</h3>

<p>يقر المستخدم صراحةً أنه يستخدم المورد على مسؤوليته الشخصية.</p>

<p>يعلم المستخدم ويوافق على أنه يتعامل مع الموارد والبيانات التي أنشأتها أطراف ثالثة وضعت على الإنترنت على أجهزة الكمبيوتر الخاصة بهم أو خوادمهم. <p>لا يمكن لإدارة المورد التحكم في محتوى وأمن هذه المواد، لذا فهي غير مسؤولة عن:</p>
<ul>
<p>- محتوى المواد التي يحصل عليها المستخدم من استخدام بيانات المورد والتي قد تتعارض مع القوانين المعمول بها أو تحتوي على محتوى مسيء;</p>
<p>- عواقب تطبيق أو استخدام أو عدم استخدام المعلومات المستلمة؛</p>
<p>- أي اختلاف محتمل بين النتائج التي تم الحصول عليها وتوقعات المستخدم عند استخدام المورد؛</p>
<p>- أي ضرر في الأجهزة أو البرامج الخاصة بالمستخدم الناتج عن استخدام المورد؛</p>
<p>- عدم القدرة على استخدام المورد لأي سبب من الأسباب؛</p>
<p>- العواقب الناجمة عن انتشار البرامج غير القانونية أو غير المرخصة، ومنتجات الصوت والفيديو، والمواد أو البيانات الأخرى التي تمس بحقوق الأطراف الثالثة.</p>
</ul>

<p>لا يكون المورد مسؤولاً تحت أي ظرف تجاه المستخدم أو أي طرف ثالث عن الأضرار أو الخسائر أو المصاريف التي تنشأ عن استخدام هذا المورد أو عدم القدرة على استخدامه، بما في ذلك فقدان الأرباح.</p>

<p>لا تلتزم إدارة المورد بضمان سرية المعلومات التي يقدمها المستخدمون، مع اتخاذ جميع التدابير الممكنة لذلك، ما لم تكن هناك اتفاقية مخالفة أو متطلبات قانونية ذات صلة.</p>

<p>لا تشمل مسؤوليات المورد مراقبة المعلومات المنقولة قانونيًا أو غير قانونيًا (بما في ذلك المعلومات المرسلة عبر البيت-تورنت، أو نقل المعلومات داخليًا عبر روابط مختلفة، نصوص أو ملفات)، أو تحديد حقوق الملكية أو شرعية الإرسال أو الاستقبال باستخدام هذه المعلومات.</p>

<li><h3>حدود استخدام المورد من قبل المستخدم</h3>

<p>عند استخدام هذا المورد، لا يحق للمستخدم، ويوافق على ما يلي:</p>
<ul>
<p>- تحميل بيانات ملفات التجزئة (السيول) التي تحتوي على فيروسات أو برامج خبيثة معروفة، أو ملفات أو برامج مصممة لتعطيل أو تدمير أو تقييد وظائف أي جهاز كمبيوتر أو معدات اتصالات، أو برامج للوصول غير المصرح به، بالإضافة إلى أرقام تسلسلية لبرمجيات تجارية وبرامج توليدها، وأسماء مستخدمين، وكلمات مرور، وأدوات أخرى للدخول غير المصرح به إلى مواقع الإنترنت، ونشر روابط لهذه المعلومات.</p>
<p>- تحميل أي رسائل أو بيانات أو برامج عبر ملفات التجزئة تنتهك براءة اختراع أو علامة تجارية أو سر تجاري أو حقوق نشر أو حقوق ملكية أخرى و/أو حقوق مؤلفين وأطراف ثالثة؛</p>
<p>- إرسال رسائل بريد إلكتروني غير مصرح بها من نوع الإعلانات المزعجة (البريد العشوائي) إلى عناوين البريد الإلكتروني المدرجة على الموقع؛</p>
<p>- نسخ واستخدام لأغراض تجارية أي معلومات تم الحصول عليها من خلال هذا المورد وتنتهك حقوق الآخرين أو قد تسبب لهم أضرارًا مادية أو معنوية مباشرة؛</p>
<p>- نشر روابط لمصادر ويب يتعارض محتواها مع التشريعات الحالية؛</p>
<p>- انتحال شخصية أي شخص أو ممثل منظمة و/أو مجتمع بدون حقوق كافية، بما في ذلك موظفي الإدارة أو صاحب المورد.</p>
</ul>

<li><h3>ضمان الأداء</h3>

<p>يتم توفير الوصول إلى المورد "كما هو" دون أي ضمانات من أي نوع، سواء كانت مباشرة أو غير مباشرة.</p>

<p>لا تضمن إدارة المورد وظائف الموقع وأجزائه الفردية، وأداء وموثوقية الروابط التي يضعها مستخدموه.</p>

<p>لا يكون المورد مسؤولاً عن أي خسائر مباشرة أو غير مباشرة نتيجة لاستخدام الخدمة أو عدم القدرة على استخدامها؛ الوصول غير المصرح به إلى اتصالاتك.</p>

<li><h3>حقوق إدارة المورد</h3>

<p>لإدارة المورد الحق في رفض الوصول إلى المورد لأي مستخدم أو مجموعة من المستخدمين دون إبداء أسباب أو إشعار.</p>

<p>يجوز لإدارة المورد تعديل أو حذف أي معلومات، ملفات التجزئة (السيول)، الرسومات، الصوت، والبيانات الأخرى المقدمة من المستخدم من المورد دون إشعار أو تفسير لأفعالها.</p>

<li><h3>مسؤوليات الأطراف</h3>

<p>يوافق المستخدم على أن جميع النزاعات المحتملة المتعلقة باتفاقية الاستخدام سيتم تسويتها وفقًا للقانون.</p>

<p>يوافق المستخدم على أن قوانين وأنظمة حماية المستهلك لا تنطبق على استخدام هذا المورد، لأنه لا يقدم خدمات مدفوعة.</p>

<p>لا ينشئ المورد علاقات وكيل أو شراكة أو علاقات توظيف، أو أي علاقات أخرى غير موصوفة صراحة في اتفاقية الاستخدام.</p>

<p>عدم تحرك المورد عند خرق اتفاقية المستخدم من قبل مستخدم أو مجموعة مستخدمين لا يعني مساعدة المورد لهم في مثل هذه الأفعال.</p>

<p>عدم تحرك المورد عند خرق اتفاقية المستخدم من قبل مستخدم أو مجموعة مستخدمين لا ينفي حق المورد في اتخاذ الإجراءات المناسبة لحماية مصالحه لاحقًا.</p>

<li><h3>قبول اتفاقية المستخدم</h3>

<p>إذا كنت لا توافق على جميع الشروط والأحكام أعلاه، فلا يحق لك استخدام المورد كليًا أو جزئيًا، باستثناء الصفحة التي تحتوي على اتفاقية المستخدم، ولا يمكنك استقبال أو الوصول إلى محتويات المورد بأي طريقة أخرى كليًا أو جزئيًا!</p>

<p>إذا كنت لا توافق على اتفاقية المستخدم، يجب أن تغادر المورد فورًا.</p>

</ol>
</p>

</div><!--/infobox-body-->
