<div id="infobox-body">

<p>

<p><h1>اتفاقية المستخدم</h1></p>

<p><h3>عن الموقع</h3></p>

<p>هذا المورد/الموقع الإلكتروني (ويشار إليه فيما يلي بـ"المورد") هو موقع يسمح للمستخدمين بمشاركة المعلومات مع بعضهم البعض عبر بروتوكول بيت تورنت، وكذلك بأشكال أخرى، ويوفر وسيلة للتحقق من سلامة المعلومات المنقولة (عبر ملفات الهاش).</p>

<ol>

<li type="1"><h3>حول اتفاقية المستخدم</h3>

<p>تدخل اتفاقية المستخدم هذه (ويشار إليها فيما يلي بـ"الاتفاقية") حيز التنفيذ عند النقر على "أوافق" في الأسفل وتظل سارية طوال فترة استخدام المستخدم للمورد. يجوز للإدارة تعديل الاتفاقية دون إشعار مسبق. تدخل النسخة الجديدة من الاتفاقية حيز التنفيذ بعد ٣ (ثلاثة) أيام من نشرها، ما لم ينص على خلاف ذلك في النسخة الجديدة من الاتفاقية.</p>

<li><h3>حدود المسؤولية</h3>

<p>يوافق المستخدم صراحة على استخدام المورد على مسؤوليته الشخصية.</p>

<p>يعترف المستخدم ويوافق على أن المورد يتعامل مع مواد وبيانات خلقها طرف ثالث ومستضافة لديهم على الإنترنت باستخدام أجهزتهم و/أو خوادمهم الخاصة. لا يمكن لإدارة المورد التحكم بمحتوى وأمن هذه المواد؛ لذلك، فإن الإدارة غير مسؤولة عن:</p>
<ul>
<p>- محتوى المواد التي يحصل عليها المستخدم عبر المورد، بما في ذلك أي تناقض محتمل مع القوانين المعمول بها أو أي طبيعة مسيئة لها؛</p>
<p>- عواقب تطبيق أو استخدام أو عدم استخدام المعلومات التي تم الحصول عليها؛</p>
<p>- أي اختلاف بين النتائج التي تم الحصول عليها عبر المورد وتوقعات المستخدم؛</p>
<p>- أي ضرر يصيب أجهزة المستخدم أو برامجه نتيجة لاستخدام المورد؛</p>
<p>- أي عجز عن استخدام المورد لأي سبب من الأسباب؛</p>
<p>- العواقب التي قد تنشأ من نشر برامج غير قانونية أو غير مرخصة، أو محتويات صوتية/فيديو، أو مواد أو بيانات أخرى تنتهك حقوق أطراف ثالثة.</p>
</ul>

<p>لا يجوز بأي حال أن تكون الإدارة مسؤولة تجاه المستخدم أو أي طرف ثالث عن أي أضرار أو خسائر أو مصاريف تنشأ عن استخدام المورد أو عدم إمكانية استخدامه، بما في ذلك الأرباح المفقودة.</p>

<p>إدارة المورد ليست ملزمة بضمان سرية المعلومات التي يقدمها مستخدموها، مع اتخاذ جميع التدابير المعقولة لذلك، ما لم يكن هناك اتفاق منفصل أو نص تشريعي يلزم بخلاف ذلك.</p>

<p>واجبات المورد لا تشمل مراقبة قانونية المعلومات المنقولة (بما في ذلك، على سبيل المثال لا الحصر، المعلومات المنقولة بين المستخدمين عبر بيت تورنت، الرسائل الداخلية بأي شكل، نص أو ملفات)، ولا تحديد حقوق الملكية الفكرية أو شرعية نقل أو استقبال هذه المعلومات.</p>

<li><h3>قيود على استخدام المستخدم للمورد</h3>

<p>عند استخدام هذا المورد، لا يجوز للمستخدم ويوافق على ألا:</p>
<ul>
<p>- رفع ملفات الهاش (التورنت) التي تحتوي على بيانات فيروسات أو برامج خبيثة أخرى، ملفات أو برامج مصممة لتعطيل أو تدمير أو تقييد وظائف أي جهاز كمبيوتر أو معدات اتصالات، برامج للوصول غير المصرح به، أرقام تسلسلية للبرامج التجارية أو أدوات إنشائها، بيانات تسجيل دخول، كلمات مرور، أو وسائل أخرى للوصول غير المصرح به إلى مصادر الإنترنت، بالإضافة إلى نشر روابط لهذه المواد؛</p>
<p>- رفع ملفات الهاش (التورنت) التي تحتوي على أي رسائل أو بيانات أو برامج ينتهك استخدامها أي براءة اختراع أو علامة تجارية أو سر تجاري أو حقوق نشر أو حقوق ملكية أخرى و/أو حقوق ذات صلة لأطراف ثالثة؛</p>
<p>- إرسال رسائل إعلانية غير مصرح بها (بريد غير مرغوب فيه، سبام) إلى عناوين البريد الإلكتروني المدرجة على الموقع؛</p>
<p>- نسخ واستخدام لأغراض تجارية أي معلومات تم الحصول عليها عبر المورد تنتهك حقوق الآخرين أو قد تسبب لهم ضررًا ماديًا أو معنويًا مباشرًا؛</p>
<p>- نشر روابط إلى موارد ويب تحتوي على محتوى ينتهك التشريعات المعمول بها؛</p>
<p>- انتحال شخصية أي شخص أو ممثل منظمة و/أو مجتمع بدون تفويض مناسب، بما في ذلك موظفو الإدارة أو مالك المورد.</p>
</ul>

<li><h3>إخلاء المسؤولية عن الضمانات</h3>

<p>الوصول إلى المورد متاح "كما هو" دون أي ضمانات من أي نوع، سواء كانت صريحة أو ضمنية.</p>

<p>على وجه الخصوص، لا تضمن إدارة المورد وظيفة الموقع أو أقسامه الفردية، ولا تشغيل وموثوقية الروابط التي ينشرها مستخدموه.</p>

<p>لا يتحمل المورد المسؤولية عن أي خسائر مباشرة أو غير مباشرة نتيجة لاستخدام أو عدم القدرة على استخدام الخدمة؛ أو الوصول غير المصرح به إلى اتصالاتك.</p>

<li><h3>حقوق إدارة المورد</h3>

<p>لإدارة المورد الحق في رفض الوصول إلى المورد لأي مستخدم أو مجموعة من المستخدمين دون إبداء أسباب أو إخطار مسبق.</p>

<p>يجوز لإدارة المورد تعديل أو حذف أي معلومات، ملفات هاش (تورنت)، رسوميات، صوتيات، وبيانات أخرى يقدّمها المستخدمون دون إشعار مسبق أو تفسير.</p>

<li><h3>مسؤوليات الأطراف</h3>

<p>يوافق المستخدم على حل جميع النزاعات الناشئة عن هذه الاتفاقية وفقًا للقانون المعمول به.</p>

<p>يوافق المستخدم على أن قوانين وأنظمة حماية المستهلك لا تنطبق على استخدام هذا المورد، لأنه لا يقدم خدمات مدفوعة.</p>

<p>المورد لا ينشئ وكالة أو شراكة أو مشروع مشترك أو علاقة عمل أو أي علاقات أخرى غير موصوفة صراحة في هذه الاتفاقية.</p>

<p>عدم تصرف المورد حيال خرق من قبل مستخدم أو مجموعة مستخدمين لهذه الاتفاقية لا يعني الموافقة أو المساعدة في هذه الأفعال.</p>

<p>عدم تصرف المورد حيال خرق من قبل مستخدم أو مجموعة مستخدمين لهذه الاتفاقية لا يسلب المورد حق اتخاذ إجراء مناسب لحماية مصالحه لاحقًا.</p>

<li><h3>الموافقة على اتفاقية المستخدم</h3>

<p>إذا لم توافق على جميع الشروط والأحكام أعلاه، فلا يجوز لك الوصول إلى المورد كليًا أو جزئيًا، باستثناء صفحة اتفاقية المستخدم، ولا تلقي أو الوصول إلى محتويات هذا المورد بأي وسيلة أخرى كليًا أو جزئيًا.</p>

<p>إذا لم توافق على هذه الاتفاقية، يجب عليك مغادرة المورد فورًا.</p>

</ol>
</p>

</div>
