<div id="infobox-body">

<p><h1>ИНФОРМАЦИЈЕ ЗА ВЛАСНИКА АУТОРСКИХ ПРАВА</h1></p>

<p>Ако сте власник ауторских права било ког материјала повезаног на овом сајту и не желите да ове информације корисници деле без ваше сагласности, радо ћемо вам помоћи уклањањем одговарајућих линкова.</p>

<p>Да бисте то урадили, молимо пошаљите нам електронско писмо које садржи следеће информације:</p>

<p>1. Документарни доказ ваших права на материјал заштићен ауторским правима:</p>
<p> — скенирани документ са службеним печатом, или</p>
<p> — имејл послат са званичног домена компаније која има права, или</p>
<p> — друге контакт информације које вас јединствено идентификују као власника права.</p>

<p>2. Текст који желите да буде објављен уместо уклоњеног садржаја.</p>

<p>У овом тексту можете назначити где и под којим условима корисници могу добити информације чије су везе уклоњене, као и ваше контакт информације како би вас корисници могли контактирати у вези са тим материјалом.</p>

<p>3. Директне везе ка страницама које садрже референце на податке које треба уклонити.</p>

<p>Линкови треба да буду у формату <strong>https://url.to/link</strong> или сличном.</p>

<p>У року од 48 сати од пријема вашег захтева уклонићемо одговарајуће линкове са сайта.</p>

<p class="bold">Наш е-маил: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>Упозорење!</p>

<p>а) Задржавамо право да објавимо на сајту све информације послате нам на <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) Немамо контролу над радњама корисника који могу поново постављати везе ка информацијама које су предмет ваших ауторских права. Све информације на форуму се постављају аутоматски, без претходне провере или модерације, у складу са општеприхваћеним међународним праксама постављања информација на Интернет. Ипак, разматраћемо све захтеве који се односе на везе ка информацијама које крше ваша права.</p>

<p>ц) Према важећем закону о ауторским правима и сродним правима, хипервеза ка подацима (информацијска референца) сама по себи није предмет ауторске заштите (иако може кршити Кориснички уговор сајта). Стога, молимо вас да се уздржите од слања писама која садрже претње или захтеве, јер за такве тврдње не постоје правни основи.</p>

</div>
