<div id="infobox-body">

<p><h1>ИНФОРМАЦИЈЕ ЗА ВЛАСНИКА АУТОРСКИХ ПРАВА</h1></p>

<p>Ако сте власник ауторских права било ког материјала, линка (или линкова) који је доступан на овом сајту, и не желите да се ове информације шире корисницима без ваше сагласности, биће нам драго да вам помогнемо брисањем одговарајућих линкова.</p>

<p>Ово захтева да нам пошаљете писмо (у електронском облику)
које нам је указало на следеће информације:</p>

<p>1. Документарни доказ ваших права на материјал заштићен ауторским правима:</p>
<p> - скенирани документ са печатом, или</p>
<p> - емаил са званичне домене електронске поште власника компаније, или</p>
<p> - остале контакт информације које вас јединствено идентификују као власника материјала.</p>

<p>2. Текст који желите да поставите, праћен информацијама које се могу уклонити.</p>

<p>У том тексту можете назначити где и под којим условима можете добити информације, референце на које су уклоњене, као и ваше контакт информације, како би корисници могли добити од вас све потребне информације у вези са овим материјалом.</p>

<p>3. Директне везе до страница које садрже референце на податке који се морају уклонити.</p>

<p>Линкови морају имати изглед <strong>https://url.to/link</strong> или нешто слично.</p>

<p>Након тога, у року од 48 сати, уклонићемо линкове који вас занимају са сајта.</p>

<p class="bold">Наш е-маил: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>УПОЗОРЕЊЕ!</p>

<p>а) Задржавамо право да објавимо на сајту било какве информације које нам пошаљете путем е-поште <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) Немамо контролу над радњама корисника који могу поново постављати везе ка информацијама које су предмет ваших ауторских права. Било коју информацију форум поставља аутоматски, без икакве контроле са било ког места, што је у складу са општеприхваћеном међународном праксом постављања информација на Интернет. Међутим, у сваком случају, разматрамо све ваше упите у вези са упућивањем на информације које крше ваша права.</p>

<p>ц) Према Закону о ауторском и сродним правима, упућивање на било који податак (информативну поруку), само по себи, не подлеже закону о ауторским правима (иако може представљати кршење „Уговора о коришћењу веб странице“). Дакле, није потребно слати писма која садрже претње или захтеве, јер немају прави разлог.</p>

</div><!--/infobox-body-->
