<div>
	<h3>Бочна трака 2</h3>
	Да додате садржај у ову бочну траку, измените следеће датотеке:
	<br /><br />
	<ul class="med">
		<li>библиотека/језик/*/хтмл/страна2.хтмл</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Да бисте онемогућили ову бочну траку, поставите променљиву page.show_sidebar2 у датотеци config/layouts.php на false.
</div>
