<div id="infobox-body">

<p>

<p><h1>КОРИСНИЧКИ УГОВОР</h1></p>

<p><h3>О САЈТУ</h3></p>

<p>Интернет-ресурс / веб сајт (у даљем тексту - Ресурс) је интернет сајт који омогућава корисницима да деле информације једни са другима преко бит-торента, као и у слободној форми, и обезбеђује средства за контролу интегритета пренетих информација (преко хеш-датотека).</p>

<ol>

<li type="1"><h3>О КОРИСНИЧКОМ УГОВОРУ</h3>

<p>Овај КОРИСНИЧКИ УГОВОР ступа на снагу након што кликнете на "Слажем се" на дну и важи током целог периода коришћења ресурса од стране корисника. КОРИСНИЧКИ УГОВОР може бити промењен од стране Администрације без претходне најаве. Нова верзија КУ ступа на снагу након 3 (три) дана од дана објављивања, осим ако није другачије предвиђено новом верзијом КОРИСНИЧКОГ УГОВОРА.</p>

<li><h3>ОГРАНИЧЕЊА ОДГОВОРНОСТИ</h3>

<p>Корисник изричито саглашава да користи Ресурс на сопствени ризик.</p>

<p>Корисник зна и сагласан је да се бави Ресурсним материјалима и подацима које креирају трећа лица и стављају их на Интернет на своје рачунаре и (или) сервере. Садржај и безбедност ових материјала не може да контролише администрација Ресурса, те из тог разлога Ресурс не сноси одговорност за следеће:</p>
<ul>
<p>- за садржај материјала који су корисници добили употребом података Ресурса и њихову могућу неусклађеност са важећим законима или увредљивим садржајем;</p>
<p>- за последице примене, коришћења или некоришћења добијених информација;</p>
<p>- за могућу разлику између резултата добијених коришћењем ресурса и очекивања корисника;</p>
<p>- за било какву штету на хардверу или софтверу корисника насталу услед коришћења Ресурса;</p>
<p>- за немогућност коришћења ресурса из било ког разлога;</p>
<p>- за последице које могу настати због ширења нелегалног или нелиценцираног софтвера, аудио- и видео-продукције као и других материјала или података који утичу на права трећих лица.</p>
</ul>

<p>Ни под којим околностима Ресурс није одговоран кориснику или трећој страни за штете, губитке или трошкове настале у вези са овим Ресурсом, његовом употребом или немогућношћу коришћења, укључујући губитак профита.</p>

<p>Администрација Ресурса није обавезна да обезбеди поверљивост информација које пружају корисници, иако предузима све могуће мере да то обезбеди, осим ако не постоји другачији договор или релевантни захтеви важећег законодавства.</p>

<p>Дужности Ресурса не укључују контролу законитости или незаконитости преноса информација (било каквих, укључујући информације које се преносе између корисника преко бит-торрента, интерних трансфера информација у облику линкова, текста или датотека), као ни утврђивање власничких права или законитости преноса или пријема тих информација.</p>

<li><h3>ОГРАНИЧЕЊА КОРИШЋЕЊА РЕСУРСА ОД СТРАНЕ КОРИСНИКА</h3>

<p>При коришћењу овог Ресурса, КОРИСНИК нема право и слаже се да неће радити следеће:</p>
<ul>
<p>- постављати хеш-датотеке (торенте) са подацима који садрже вирусе или друге злонамерне рачунарске програме, датотеке или програме осмишљене да прекину, униште или ограничавају функционалност рачунарског или телекомуникационог уређаја или програма за неовлашћен приступ, као и серијске бројеве за комерцијалне софтверске производе, програме за њихову генерацију, логине, лозинке и друга средства за добијање неовлашћеног приступа интернет сајтовима, као и постављати линкове ка наведеним информацијама;</p>
<p>- постављати хеш-датотеке (торенте) са било каквим порукама, подацима или програмима чије коришћење крши било који патент, заштитни знак, пословну тајну, ауторска права или друга својинска права и/или сродна права трећих лица;</p>
<p>- слати неовлашћене рекламне поштанске поруке (спам) на е-маил адресе наведене на сајту;</p>
<p>- копирати и користити у комерцијалне сврхе било какве информације добијене путем овог ресурса које нарушавају права других или могу изазвати директну материјалну или моралну штету;</p>
<p>- постављати линкове ка веб ресурсима чији садржај није у складу са важећим законодавством;</p>
<p>- представљати се као било која особа или представник организације и/или заједнице без одговарајућих права, укључујући раднике администрације, у име власника Ресурса.</p>
</ul>

<li><h3>ГАРАНЦИЈА ПЕРФОРМАНСИ</h3>

<p>Приступ Ресурсу обезбеђује се по принципу „као што јесте“ без икаквих гаранција, директних или индиректних.</p>

<p>Администрација Ресурса не гарантује функционалност сајта и његових појединих делова, као ни перформансе и поузданост веза које постављају корисници.</p>

<p>Ресурс није одговоран за било какве директне или индиректне губитке настале због: коришћења или немогућности коришћења услуга; неовлашћеног приступа вашим комуникацијама.</p>

<li><h3>ПРАВА АДМИНИСТРАЦИЈЕ РЕСУРСА</h3>

<p>Администрација Ресурса има право да одбије приступ ресурсу било ком кориснику или групи корисника без образложења и претходне најаве.</p>

<p>Администрација Ресурса може изменити или обрисати било какве информације, хеш-датотеке (торенте), графику, аудио и друге податке које је корисник послао на ресурс без најаве и образложења својих радњи.</p>

<li><h3>ОДГОВОРНОСТ СТРАНА</h3>

<p>Корисник се слаже да ће се сви могући спорови везани за УГОВОР О КОРИШЋЕЊУ решавати према важећим правним нормама.</p>

<p>Корисник се слаже да се правила и закони о заштити потрошача не могу применити на коришћење овог ресурса, јер ресурс не нуди плаћене услуге.</p>

<p>Ресурс не успоставља агентске односе, партнерске односе за заједничке активности, радничке односе или било какве друге односе који нису изрично описани УГОВОРОМ О КОРИШЋЕЊУ.</p>

<p>Нечињење Ресурса у случају кршења КОРИСНИЧКОГ УГОВОРА од стране корисника или групе корисника не значи помоћ Ресурса тим корисницима или групама у таквим делима.</p>

<p>Нечињење Ресурса у догађају кршења КОРИСНИЧКОГ УГОВОРА не ускраћује ресурсу право да касније предузме одговарајуће мере за заштиту својих интереса.</p>

<li><h3>ПРИХВАТАЊЕ КОРИСНИЧКОГ УГОВОРА</h3>

<p>АКО НЕ СЕ СЛАЖЕТЕ СА СВИМ НАВЕДЕНИМ УСЛОВИМА, НЕ СМЕТЕ КОРИСТИТИ РЕСУРС У ЦЕЛИНИ ИЛИ БИЛО КОЈИ ЊЕН ДЕО, ОСИМ СТРАНИЦЕ СА КОРИСНИЧКИМ УГОВОРОМ, НИ ПРИЛАЗИТИ НИ КОРИСТИТИ САДРЖАЈ ОВОГ РЕСУРСА НА БИЛО КОЈИ НАЧИН!</p>

<p>АКО НЕ СЕ СЛАЖЕТЕ СА КОРИСНИЧКИМ УГОВОРОМ, МОРАЈТЕ ОДМАХ НАПУСТИТИ РЕСУРС.</p>

</ol>
</p>

</div><!--/infobox-body-->
