<div id="infobox-body">

<p>

<p><h1>КОРИСНИЧКИ УГОВОР</h1></p>

<p><h3>О САЈТУ</h3></p>

<p>Овај интернет ресурс/сајт (у даљем тексту „Ресурс") је сајт који омогућава корисницима да међусобно деле информације преко BitTorrent-а, као и на друге начине, и пружа средство за проверу интегритета пренетих информација (путем хеш фајлова).</p>

<ol>

<li type="1"><h3>О КОРИСНИЧКОМ УГОВОРУ</h3>

<p>Овај Кориснички уговор (у даљем тексту „Уговор") ступа на снагу кликом на "Слажем се" на дну и остаје на снази током целог трајања коришћења Ресурса од стране корисника. Уговор може бити изменјен од стране Администрације без претходне најаве. Нова верзија Уговора ступа на снагу 3 (три) дана након објављивања, осим ако није другачије наведено у новој верзији Уговора.</p>

<li><h3>ОГРАНИЧЕЊА ОДГОВОРНОСТИ</h3>

<p>Корисник изричито прихвата да коришћење Ресурса ради на сопствени ризик.</p>

<p>Корисник признаје и слаже се да Ресурс ради са материјалима и подацима које су креирала трећа лица и које они хостују на Интернету користећи своје рачунаре и/или сервере. Администрација Ресурса не може контролисати садржај и безбедност ових материјала; стога Администрација није одговорна за:</p>
<ul>
<p>- садржај материјала добијених од стране корисника преко Ресурса, укључујући могућу неусклађеност са важећим законима или било какву увредљивост;</p>
<p>- последице примене, коришћења или некоришћења добијених информација;</p>
<p>- било какву неусклађеност између резултата добијених коришћењем Ресурса и очекивања корисника;</p>
<p>- било какву штету на хардверу или софтверу корисника насталу услед коришћења Ресурса;</p>
<p>- немогућност коришћења Ресурса из било ког разлога;</p>
<p>- последице које могу настати због ширења нелегалног или нелиценцираног софтвера, аудио/видео садржаја или других материјала или података који угрожавају права трећих лица.</p>
</ul>

<p>Ресурс ни под којим условима не одговара кориснику или трећим лицима за било какву штету, губитке или трошкове настале у вези са Ресурсом, његовом употребом или немогућношћу употребе, укључујући изгубљену добит.</p>

<p>Администрација Ресурса није у обавези да обезбеди поверљивост информација које корисници пружају, иако примењује све разумне мере, осим ако не постоји посебан уговор или важећи законом прописано другачије.</p>

<p>Обавезе Ресурса не укључују контролу законитости преносених информација (укључујући, али не ограничавајући се на информације које се преносе између корисника преко BitTorrent-а, интерне поруке у било ком облику, тексту или фајловима), нити утврђивање права интелектуалне својине или законитости преноса или пријема таквих информација.</p>

<li><h3>ОГРАНИЧЕЊА ЗА КОРИШЋЕЊЕ РЕСУРСА ОД СТРАНЕ КОРИСНИКА</h3>

<p>При коришћењу овог Ресурса, Корисник се обавезује да неће, и слаже се да неће:</p>
<ul>
<p>- постављати хеш фајлове (торенте) који садрже податке са вирусима или другим злонамерним софтвером, фајлове или програме дизајниране да омету, униште или ограниче функционалност било ког рачунара или телекомуникационе опреме, програме за неовлашћен приступ, серијске бројеве за комерцијални софтвер или алате за њихову генерацију, корисничка имена, лозинке или друге начине за неовлашћен приступ интернет ресурсима, као и да објављује линкове на наведено;</p>
<p>- постављати хеш фајлове (торенте) који садрже било какве поруке, податке или програме чија употреба крши било који патент, заштитни знак, пословну тајну, ауторска права или друга права својине и/или сродна права трећих лица;</p>
<p>- слати неовлашћене рекламне поруке (спам) на имејл адресе наведених на сајту;</p>
<p>- копирати и користити у комерцијалне сврхе било које информације добијене преко Ресурса које крше права других или могу нанети директну материјалну или моралну штету;</p>
<p>- постављати линкове на веб ресурсe чији садржај крши важеће законодавство;</p>
<p>- представљати се као било која особа или представник организације и/или заједнице без одговарајуће дозволе, укључујући запослене Администрације или власника Ресурса.</p>
</ul>

<li><h3>ОТКАЗ ГАРАНЦИЈА</h3>

<p>Приступ Ресурсу обезбеђен је „као што јесте“ без икаквих гаранција, изричних или подразумеваних.</p>

<p>Посебно, Администрација Ресурса не гарантује функционалност сајта или његових појединих делова, нити исправност и поузданост линкова које корисници постављају.</p>

<p>Ресурс није одговоран за било какве директне или индиректне губитке проистекле из употребе или немогућности употребе услуге, као ни неовлашћеног приступа вашим комуникацијама.</p>

<li><h3>ПРАВА АДМИНИСТРАЦИЈЕ РЕСУРСА</h3>

<p>Администрација Ресурса има право да одбије приступ Ресурсу било ком кориснику или групи корисника без образложења или претходне најаве.</p>

<p>Администрација Ресурса може изменити или обрисати било које информације, хеш фајлове (торенте), графике, аудио и друге податке које корисници достављају без претходне најаве или образложења.</p>

<li><h3>ОДГОВОРНОСТ СТРАНА</h3>

<p>Корисник се слаже да ће све спорове настале из овог Уговора решавати у складу са важећим законом.</p>

<p>Корисник прихвата да законска регулатива о заштити потрошача неће важити за коришћење овог Ресурса, јер он не пружа плаћене услуге.</p>

<p>Ресурс не успоставља агенцијске, партнерске, заједничке подухвате, радни однос нити друге односе који нису изричито описани овим Уговором.</p>

<p>Нечињење Ресурса у случају кршења овог Уговора од стране корисника или групе корисника не значи одобрење или помоћ у таквим радњама.</p>

<p>Нечињење Ресурса у случају кршења овог Уговора од стране корисника или групе корисника не умањује право Ресурса да касније предузме одговарајуће мере заштите својих интереса.</p>

<li><h3>ПРИХВАТАЊЕ КОРИСНИЧКОГ УГОВОРА</h3>

<p>АКО НЕ СЕ САГЛАСИТЕ СА СВИМ НАВЕДЕНИМ УСЛОВИМА, НЕ МОЖЕТЕ КОРИСТИТИ РЕСУРС У ЦЕЛИНИ ИЛИ ДЕЛИМИЧНО, ОСИМ СТРАНИЦЕ СА КОРИСНИЧКИМ УГОВОРОМ, НИ ДОСТУПНОСТИ ИЛИ ПРИСТУПА САДРЖАЈУ ОВОГ РЕСУРСА НА БИЛО КОЈИ НАЧИН.</p>

<p>АКО НЕ СЕ СЛАЖЕТЕ СА ОВИМ КОРИСНИЧКИМ УГОВОРОМ, МОРАТЕ ОДМАХ НАПУСТИТИ РЕСУРС.</p>

</ol>
</p>

</div>
