<div id="infobox-body">

<p><h1>INFORMAÇÕES PARA PROPRIETÁRIOS DE DIREITOS AUTORAIS</h1></p>

<p>Se você é o titular dos direitos autorais de qualquer material vinculado neste site e não deseja que essas informações sejam distribuídas por usuários sem o seu consentimento, teremos prazer em ajudá-lo removendo os links relevantes.</p>

<p>Para isso, por favor envie-nos uma carta eletrônica contendo as seguintes informações:</p>

<p>1. Prova documental de seus direitos sobre o material protegido por direitos autorais:</p>
<p> — um documento escaneado com um selo oficial, ou</p>
<p> — um e-mail enviado a partir do domínio oficial da empresa detentora dos direitos, ou</p>
<p> — outras informações de contato que o identifiquem unicamente como titular dos direitos.</p>

<p>2. O texto substituto que você gostaria de publicar no lugar do conteúdo removido.</p>

<p>Nesse texto, você pode especificar onde e sob quais condições os usuários podem obter as informações cujos links foram removidos, assim como seus dados de contato para que os usuários possam entrar em contato com você a respeito desse material.</p>

<p>3. Links diretos para páginas contendo referências aos dados que devem ser removidos.</p>

<p>Os links devem estar no formato <strong>https://url.to/link</strong> ou similar.</p>

<p>Dentro de 48 horas após recebermos sua solicitação, removeremos os links relevantes do site.</p>

<p class="bold">Nosso e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>AVISO!</p>

<p>a) Reservamo-nos o direito de publicar no site qualquer informação enviada para nós pelo e-mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Não temos controle sobre as ações de usuários que possam republicar links para informações que sejam objeto dos seus direitos autorais. Todas as informações no fórum são publicadas automaticamente, sem revisão ou moderação prévia, de acordo com práticas internacionais geralmente aceitas para hospedagem de informações na Internet. No entanto, consideraremos todas as solicitações referentes a links com informações que violem seus direitos.</p>

<p>c) Conforme a legislação aplicável de direitos autorais e conexos, um hyperlink para dados (uma referência informativa) não está, por si só, sujeito à proteção por direitos autorais (embora possa violar o Contrato de Usuário do site). Portanto, por favor, evite enviar cartas contendo ameaças ou exigências, pois não existem bases legais para tais reivindicações.</p>

</div>
