<div id="infobox-body">

<p>

<p><h1>ACORDO DE USUÁRIO</h1></p>

<p><h3>SOBRE O SITE</h3></p>

<p>Este recurso/site na internet (doravante referido como "Recurso") é um sítio que permite aos usuários compartilhar informações entre si via BitTorrent, bem como por outras formas, e fornece um meio de verificar a integridade das informações transmitidas (através de arquivos hash).</p>

<ol>

<li type="1"><h3>SOBRE ESTE ACORDO DE USUÁRIO</h3>

<p>Este Acordo de Usuário (doravante referido como "Acordo") entra em vigor ao clicar em "Eu concordo" no rodapé e permanecerá válido durante todo o período de uso do Recurso pelo Usuário. O Acordo pode ser alterado pela Administração sem aviso prévio. A nova versão do Acordo entra em vigor 3 (três) dias após sua publicação, salvo disposição em contrário especificada na nova versão do Acordo.</p>

<li><h3>LIMITAÇÕES DE RESPONSABILIDADE</h3>

<p>O Usuário concorda expressamente em usar o Recurso por sua própria conta e risco.</p>

<p>O Usuário reconhece e concorda que o Recurso lida com materiais e dados criados por terceiros e hospedados por eles na Internet, utilizando seus próprios computadores e/ou servidores. O conteúdo e a segurança desses materiais não podem ser controlados pela Administração do Recurso; portanto, a Administração não será responsável:</p>
<ul>
<p>- pelo conteúdo dos materiais obtidos pelo Usuário através do Recurso, incluindo qualquer possível inconsistência com as leis aplicáveis ou qualquer natureza ofensiva destes;</p>
<p>- pelas consequências da aplicação, uso ou não uso das informações obtidas;</p>
<p>- por qualquer discrepância entre os resultados obtidos através do Recurso e as expectativas do Usuário;</p>
<p>- por quaisquer danos ao hardware ou software do Usuário decorrentes do uso do Recurso;</p>
<p>- pela impossibilidade de utilizar o Recurso por qualquer motivo;</p>
<p>- pelas consequências que possam advir da distribuição de software ilegal ou sem licença, conteúdo áudio/vídeo ou outros materiais ou dados que violem os direitos de terceiros.</p>
</ul>

<p>Em nenhuma hipótese o Recurso será responsável perante o Usuário ou terceiros por quaisquer danos, perdas ou despesas decorrentes da conexão com o Recurso, seu uso ou impossibilidade de uso, incluindo lucros cessantes.</p>

<p>A Administração do Recurso não tem obrigação de garantir a confidencialidade das informações fornecidas por seus Usuários, embora tome todas as medidas razoáveis para tanto, salvo acordo em contrário ou exigência legal aplicável.</p>

<p>Não se incluem entre os deveres do Recurso o monitoramento da legalidade das informações transmitidas (incluindo, mas não se limitando a, informações transmitidas entre usuários via BitTorrent, mensagens internas de qualquer forma, texto ou arquivos), nem a determinação dos direitos de propriedade intelectual ou a legitimidade da transmissão ou recepção de tais informações.</p>

<li><h3>RESTRIÇÕES AO USO DO RECURSO PELO USUÁRIO</h3>

<p>Ao usar este Recurso, o Usuário não deve, e concorda em não:</p>
<ul>
<p>- enviar arquivos hash (torrents) contendo dados com vírus ou outros softwares maliciosos, arquivos ou programas destinados a interromper, destruir ou limitar a funcionalidade de qualquer equipamento de informática ou telecomunicações, programas para acesso não autorizado, números de série de software comercial ou ferramentas para gerá-los, logins, senhas ou outros meios de obter acesso não autorizado a recursos da internet, bem como divulgar links para tais conteúdos;</p>
<p>- enviar arquivos hash (torrents) contendo mensagens, dados ou programas cujo uso infrinja qualquer patente, marca registrada, segredo comercial, direitos autorais ou outros direitos proprietários e/ou direitos relacionados de terceiros;</p>
<p>- enviar mensagens publicitárias não autorizadas (correio não solicitado, spam) para endereços de e-mail listados no site;</p>
<p>- copiar e usar para fins comerciais qualquer informação obtida através do Recurso que viole direitos alheios ou possa causar-lhes prejuízo material ou moral direto;</p>
<p>- publicar links para recursos da web cujo conteúdo viole a legislação aplicável;</p>
<p>- se passar por qualquer pessoa ou representante de organização e/ou comunidade sem autorização adequada, incluindo funcionários da Administração ou o proprietário do Recurso.</p>
</ul>

<li><h3>ISENÇÃO DE GARANTIAS</h3>

<p>O acesso ao Recurso é fornecido "no estado em que se encontra", sem garantias de qualquer tipo, expressas ou implícitas.</p>

<p>Em particular, a Administração do Recurso não garante a funcionalidade do site ou de suas seções individuais, nem o funcionamento e a confiabilidade dos links publicados por seus Usuários.</p>

<p>O Recurso não se responsabiliza por quaisquer perdas diretas ou indiretas decorrentes: do uso ou impossibilidade de uso do serviço; ou do acesso não autorizado às suas comunicações.</p>

<li><h3>DIREITOS DA ADMINISTRAÇÃO DO RECURSO</h3>

<p>A Administração do Recurso tem o direito de negar acesso ao Recurso a qualquer Usuário ou grupo de Usuários sem explicação ou aviso prévio.</p>

<p>A Administração do Recurso pode modificar ou excluir qualquer informação, arquivos hash (torrents), gráficos, áudio e outros dados enviados pelos Usuários sem aviso ou explicação prévia.</p>

<li><h3>RESPONSABILIDADES DAS PARTES</h3>

<p>O Usuário concorda que todos os litígios originados deste Acordo serão resolvidos de acordo com a legislação aplicável.</p>

<p>O Usuário concorda que as leis e regulamentos de proteção ao consumidor não se aplicam ao uso deste Recurso, pois este não fornece serviços pagos.</p>

<p>O Recurso não estabelece agência, parceria, joint venture, emprego ou quaisquer outros relacionamentos não expressamente descritos neste Acordo.</p>

<p>A inação do Recurso diante de uma violação deste Acordo por um Usuário ou grupo de Usuários não constitui aprovação ou auxílio a tais ações.</p>

<p>A inação do Recurso diante de uma violação deste Acordo por um Usuário ou grupo de Usuários não retira do Recurso o direito de tomar medidas adequadas para proteger seus interesses posteriormente.</p>

<li><h3>ACEITAÇÃO DO ACORDO DE USUÁRIO</h3>

<p>SE VOCÊ NÃO CONCORDAR COM TODOS OS TERMOS E CONDIÇÕES ACIMA, NÃO PODE ACESSAR O RECURSO TOTAL OU PARCIALMENTE, EXCETO ESTA PÁGINA DE ACORDO DE USUÁRIO, NEM RECEBER E/OU ACESSAR O CONTEÚDO DESTE RECURSO POR QUALQUER OUTRO MEIO, TOTAL OU PARCIALMENTE.</p>

<p>SE VOCÊ NÃO CONCORDAR COM ESTE ACORDO DE USUÁRIO, DEVE SAIR DO RECURSO IMEDIATAMENTE.</p>

</ol>
</p>

</div>
