<div id="infobox-body">

<p>

<p><h1>ACORDO DO USUÁRIO</h1></p>

<p><h3>SOBRE O SITE</h3></p>

<p>Internet — recurso/site (doravante denominado “Recurso”) é um site na Internet que permite aos usuários compartilhar informações entre si via BitTorrent, bem como de forma livre, e fornece meios para monitorar a integridade das informações transmitidas (por meio de arquivos hash).</p>

<ol>

<li type="1"><h3>SOBRE O ACORDO DE USUÁRIO</h3>

<p>Este ACORDO DE USUÁRIO entrará em vigor após o clique em "Concordo" na parte inferior e permanecerá em vigor durante todo o período de uso do Recurso pelos usuários. ACORDO DE USUÁRIO pode ser alterado pela Administração, sem qualquer aviso prévio. A nova versão do ACORDO DE USUÁRIO entra em vigor 3 (três) dias a partir da data em que for publicada, salvo disposição em contrário prevista na própria nova versão do ACORDO DE USUÁRIO.</p>

<li><h3>LIMITAÇÕES DE RESPONSABILIDADE</h3>

<p>O usuário concorda expressamente que utiliza o Recurso por sua própria conta e risco.</p>

<p>O usuário reconhece e concorda que lida com materiais e dados do Recurso criados por terceiros e disponibilizados na Internet em seus computadores e/ou servidores. O conteúdo e a segurança desses materiais não podem ser controlados pela administração do Recurso, de modo que esta não se responsabiliza:</p>
<ul>
<p>- pelo conteúdo dos materiais obtidos pelo Usuário por meio dos dados do Recurso e por sua possível incompatibilidade com a legislação aplicável ou por serem ofensivos;</p>
<p>- pelas consequências da aplicação, uso ou não uso das informações recebidas;</p>
<p>- por eventual discrepância entre os resultados obtidos com o uso do Recurso e as expectativas do Usuário;</p>
<p>- por qualquer dano ao hardware ou software do Usuário resultante do uso do Recurso;</p>
<p>- pela impossibilidade de usar o Recurso por qualquer motivo;</p>
<p>- pelas consequências que possam resultar da disseminação de software e produtos de áudio/vídeo ilegais ou sem licença, bem como de outros materiais ou dados que afetem os direitos de terceiros;</p>
</ul>

<p>Em nenhuma hipótese o Recurso será responsável perante o Usuário ou terceiros por danos, perdas ou despesas decorrentes da utilização deste Recurso ou da impossibilidade de o utilizar, incluindo perda de lucros.</p>

<p>A Administração do Recurso não tem obrigação de garantir a confidencialidade das informações fornecidas por seus Usuários, embora adote todas as medidas possíveis para isso, salvo acordo em contrário ou exigência da legislação aplicável.</p>

<p>Não se incluem entre os deveres do Recurso o controle de informações transmitidas de forma legal ou ilegal (de qualquer natureza, incluindo, mas não se limitando a, informações trocadas entre usuários via BitTorrent, transferências internas, links, textos ou arquivos), nem a verificação de direitos de propriedade ou da legitimidade da transmissão ou recepção dessas informações.</p>

<li><h3>LIMITES DE USO DO RECURSO PELO USUÁRIO</h3>

<p>Ao utilizar este Recurso, o USUÁRIO não tem o direito de e concorda com o seguinte:</p>
<ul>
<p>- enviar/colocar arquivos hash (torrents) que contenham vírus ou outros programas maliciosos, arquivos ou programas destinados a interromper, destruir ou limitar a funcionalidade de qualquer equipamento ou programas de telecomunicações, ou destinados a permitir acesso não autorizado, bem como números de série de software comercial e programas para sua geração, logins, senhas e outros meios para obtenção de acesso não autorizado a sites na Internet, e também publicar links para tais informações;</p>
<p>- colocar arquivos hash (torrents) com mensagens, dados ou programas cujo uso viole qualquer patente, marca registrada, segredo comercial, direitos autorais ou outros direitos de propriedade e/ou direitos conexos de terceiros;</p>
<p>- enviar mensagens de correio eletrônico não autorizadas de caráter publicitário (junk mail, spam) para endereços de e-mail indicados no site;</p>
<p>- copiar e utilizar para fins comerciais qualquer informação obtida por meio deste Recurso, quando tal ato viole direitos de terceiros ou possa causar-lhes dano material ou moral;</p>
<p>- publicar links para recursos da web, cujo conteúdo contradiz a legislação atual;</p>
<p>- personificar qualquer pessoa ou representante de uma organização e/ou comunidade sem direitos suficientes, incluindo funcionários da Administração ou o proprietário do Recurso;</p>
</ul>

<li><h3>GARANTIA DE DESEMPENHO</h3>

<p>O acesso ao Recurso é fornecido 'no estado em que se encontra', sem garantias de qualquer natureza, sejam diretas ou indiretas.</p>

<p>Em particular, a Administração do Recurso não garante a funcionalidade do site e de suas seções individuais, nem o desempenho e a confiabilidade de links colocados por seus Usuários.</p>

<p>O Recurso não se responsabiliza por quaisquer perdas diretas ou indiretas decorrentes de: uso ou impossibilidade de uso do serviço; acesso não autorizado às suas comunicações.</p>

<li><h3>DIREITOS DE ADMINISTRAÇÃO DE RECURSOS</h3>

<p>A Administração do Recurso tem o direito de negar o acesso ao Recurso a qualquer Usuário ou grupo de Usuários, sem necessidade de justificativa ou aviso prévio.</p>

<p>A Administração do Recurso pode modificar ou excluir qualquer informação, arquivos hash (torrents), gráficos, áudio e outros dados enviados pelo Usuário ao Recurso, sem aviso prévio nem necessidade de justificativa.</p>

<li><h3>AS RESPONSABILIDADES DAS PARTES</h3>

<p>O usuário concorda que todas as possíveis disputas relacionadas ao ACORDO DE USO serão resolvidas de acordo com a norma legal.</p>

<p>O usuário concorda que as regras e leis de proteção ao consumidor não se aplicam ao uso deste Recurso, uma vez que ele não oferece serviços pagos.</p>

<p>O Recurso não estabelece relações de agente do usuário, parcerias para atividades conjuntas, relações de recrutamento, nem quaisquer outras relações que não estejam expressamente descritas no ACORDO DE USUÁRIO.</p>

<p>A omissão do Recurso em agir perante uma violação do ACORDO DE USUÁRIO por parte de um Usuário ou grupo de Usuários não significa que o Recurso apoie ou auxilie tais ações.</p>

<p>A omissão do Recurso em agir perante uma violação do ACORDO DE USUÁRIO por parte de um Usuário ou grupo de Usuários não retira do Recurso o direito de tomar medidas adequadas posteriormente para proteger seus interesses.</p>

<li><h3>ACEITAÇÃO DO ACORDO DE USUÁRIO</h3>

<p>SE VOCÊ NÃO CONCORDAR COM TODOS OS TERMOS E CONDIÇÕES ACIMA, NÃO UTILIZE O RECURSO NEM QUALQUER PARTE DESTE, EXCETO A PÁGINA DO ACORDO DE USUÁRIO; NÃO RECEBA NEM ACESSE O CONTEÚDO DESTE RECURSO POR OUTROS MEIOS.</p>

<p>SE VOCÊ NÃO CONCORDAR COM O ACORDO DE USUÁRIO, VOCÊ DEVE IMEDIATAMENTE SAIR DO RECURSO.</p>

</ol>
</p>

</div><!--/infobox-body-->
