<div id="infobox-body">

<p><h1>저작권 소유자에게 제공되는 정보</h1></p>

<p>귀하가 이 사이트에서 사용 가능한 어떤 자료 링크(또는 링크들)에 대한 저작권을 보유하고 있으며 사용자의 동의 없이 이 정보가 퍼지는 것을 원치 않는 경우, 해당 링크를 제거하는 데 기꺼이 도와드리겠습니다.</p>

<p>이를 위해서는 저희에게 편지(전자 형식으로)를 보내셔야 합니다
다음 정보를 명시한 편지를 보내셔야 합니다:</p>

<p>1. 저작권으로 보호되는 자료에 대한 귀하의 권리를 증명하는 문서:</p>
<p> - 도장이 찍힌 스캔 문서, 또는</p>
<p> - 회사 소유자의 공식 이메일 도메인에서 보낸 이메일, 또는</p>
<p> - 귀하를 해당 자료의 소유자로 고유하게 식별할 수 있는 기타 연락처 정보.</p>

<p>2. 삭제 가능한 정보가 첨부된 원하는 텍스트.</p>

<p>여기에는 삭제된 참조의 정보가 어디서 어떤 조건으로 얻어질 수 있는지와 귀하의 연락처 정보를 명시할 수 있어, 사용자들이 이 자료에 대해 필요한 모든 정보를 귀하에게 문의할 수 있도록 합니다.</p>

<p>3. 제거해야 할 데이터에 관한 참조가 포함된 페이지에 대한 직접 링크.</p>

<p>링크는 <strong>https://url.to/link</strong> 형태거나 이와 유사한 형태여야 합니다.</p>

<p>그 후 48시간 이내에 해당 링크를 사이트에서 제거하겠습니다.</p>

<p class="bold">우리의 이메일: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>경고!</p>

<p>a) 저희는 메일 <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong>로 받은 모든 정보를 사이트에 게시할 권리를 보유합니다.</p>

<p>b) 우리는 귀하의 저작권 대상인 정보에 대한 링크를 재게시할 수 있는 사용자의 행위를 통제할 수 없습니다. 포럼에 게시되는 모든 정보는 어떠한 검열도 받지 않고 자동으로 게시되며, 이는 인터넷에 정보를 게시하는 국제적으로 널리 인정된 관행과 일치합니다. 그러나 어떤 경우든 귀하의 권리를 침해하는 정보에 대한 모든 문의는 고려합니다.</p>

<p>c) 저작권 및 관련 권리에 관한 법률에 따르면, 데이터(정보 메시지)에 대한 참조 자체는 저작권법의 적용을 받지 않습니다(다만 "웹사이트 이용 약관"을 위반할 수 있습니다). 따라서 근거 없는 위협이나 요구가 포함된 편지를 보내는 것은 불필요합니다.</p>

</div><!--/infobox-body-->
