<div id="infobox-body">

<p><h1>저작권 소유자를 위한 정보</h1></p>

<p>이 사이트에 링크된 자료의 저작권자이시고, 사용자에 의해 귀하의 동의 없이 이 정보가 배포되는 것을 원하지 않는 경우, 해당 링크를 제거하는 데 도움을 드리겠습니다.</p>

<p>이를 위해 다음 정보를 포함한 전자우편을 보내주시기 바랍니다:</p>

<p>1. 저작권 보호 자료에 대한 귀하의 권리를 증명하는 문서:</p>
<p> — 공식 직인이 찍힌 스캔 문서, 또는</p>
<p> — 권리 보유 회사의 공식 도메인에서 발신된 이메일, 또는</p>
<p> — 귀하를 권리 보유자로 명확히 식별할 수 있는 기타 연락처 정보.</p>

<p>2. 제거된 콘텐츠 대신 게시를 원하는 대체 문구.</p>

<p>대체 문구에 제거된 링크가 가진 정보를 얻을 수 있는 장소와 조건, 그리고 관련 자료에 대해 사용자가 연락할 수 있도록 귀하의 연락처를 명시할 수 있습니다.</p>

<p>3. 제거해야 하는 데이터에 관한 참조가 포함된 페이지로의 직접 링크.</p>

<p>링크는 <strong>https://url.to/link</strong> 형태 또는 이와 유사해야 합니다.</p>

<p>귀하의 요청 접수 후 48시간 내에 해당 링크를 사이트에서 제거하겠습니다.</p>

<p class="bold">우리의 이메일: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>경고!</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) 귀하 저작권 대상 정보에 대한 링크를 재게시할 수 있는 사용자의 행위는 통제할 수 없습니다. 포럼의 모든 정보는 사전 검토나 중재 없이 자동으로 게시되며, 이는 인터넷에 정보 호스팅에 관한 국제적으로 인정된 관행에 따릅니다. 그러나 귀하 권리를 침해하는 정보 링크에 관한 모든 요청을 검토할 것입니다.</p>

<p>c) 관련 저작권법에 따라, 데이터(정보 참조)에 대한 하이퍼링크 자체는 저작권 보호 대상이 아니나(사이트 이용 약관 위반 가능성은 있음) 법적으로 보호되지 않습니다. 따라서 위협적이거나 요구하는 내용의 서신 전송은 법적 근거가 없으므로 삼가 주시기 바랍니다.</p>

</div>
