<div>
	<h3>사이드 바 2</h3>
	이 사이드바에 내용을 추가하려면 다음 파일들을 편집하십시오:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	이 사이드바를 비활성화하려면 config/layouts.php 파일에서 변수 page.show_sidebar2를 false로 설정하십시오.
</div>
