<div id="infobox-body">

<p>

<p><h1>사용자 계약</h1></p>

<p><h3>사이트 정보</h3></p>

<p>이 인터넷 자원/웹사이트(이하 "자원")는 사용자가 비트토렌트를 비롯한 기타 방식을 통해 정보를 서로 공유할 수 있도록 하며, 전송된 정보의 무결성을 확인할 수 있는 수단(해시 파일을 통해)을 제공합니다.</p>

<ol>

<li type="1"><h3>이 사용자 계약에 대하여</h3>

<p>이 사용자 계약(이하 "계약")은 하단의 "동의함"을 클릭하는 즉시 발효되며 사용자가 자원을 사용하는 전 기간 동안 유효합니다. 계약은 사전 통보 없이 관리자가 변경할 수 있습니다. 계약의 새로운 버전은 별도의 명시가 없는 한, 게시된 후 3일(삼일) 후에 효력을 발생합니다.</p>

<li><h3>책임의 한계</h3>

<p>사용자는 자원을 자신의 책임하에 이용함에 명시적으로 동의합니다.</p>

<p>사용자는 자원이 제삼자가 제작하고 인터넷상에 자신의 컴퓨터 및/또는 서버에 호스팅한 자료 및 데이터를 다룸을 인지하고 동의합니다. 이러한 자료의 내용과 보안은 자원 관리자가 통제할 수 없으므로, 관리자는 다음 사항에 대해 책임을 지지 않습니다:</p>
<ul>
<p>- 사용자가 자원을 통해 얻은 자료의 내용에 대해, 해당 내용이 관련 법률과 일치하지 않거나 모욕적일 수 있는 경우;</p>
<p>- 얻은 정보를 적용, 사용하거나 사용하지 않아 발생하는 결과에 대해;</p>
<p>- 자원을 통해 얻은 결과가 사용자의 기대와 일치하지 않는 경우;</p>
<p>- 자원 사용으로 인해 사용자의 하드웨어 또는 소프트웨어에 발생한 손해에 대해;</p>
<p>- 어떤 이유로든 자원을 사용할 수 없는 경우에 대해;</p>
<p>- 불법 또는 허가받지 않은 소프트웨어, 오디오/비디오 콘텐츠, 혹은 제3자의 권리를 침해하는 기타 자료 또는 데이터의 배포로 인해 발생할 수 있는 결과에 대해.</p>
</ul>

<p>어떠한 경우에도 자원은 사용자나 제삼자에 대해 자원 및 그 사용 또는 사용 불가와 관련한 손해, 손실, 비용(이익 손실 포함)에 대해 책임지지 않습니다.</p>

<p>자원 관리는 별도의 계약이 없거나 관련 법령에 달리 요구하지 않는 한, 사용자가 제공한 정보의 비밀 유지를 보장하지 않으나 모든 합리적 조치를 취합니다.</p>

<p>자원의 의무는 전송된 정보(비트토렌트를 통한 사용자 간 전송, 내부 메시지 등 포함하되 이에 한정되지 않음)의 합법성 모니터링이나 지적 재산권 및 전송·수신의 적법성 판단을 포함하지 않습니다.</p>

<li><h3>사용자의 자원 이용 제한</h3>

<p>사용자는 이 자원을 이용할 때 다음 행위를 하지 않으며, 이에 동의합니다:</p>
<ul>
<p>- 바이러스 또는 기타 악성 소프트웨어가 포함된 해시 파일(토렌트), 컴퓨터나 통신 장비의 기능을 방해, 파괴하거나 제한하는 프로그램, 무단 접근을 위한 프로그램, 상업용 소프트웨어의 시리얼 번호나 생성 도구, 로그인, 비밀번호 또는 인터넷 자원에 대한 무단 접근 수단을 포함하는 파일을 업로드하거나 이들에 대한 링크를 게시하는 행위;</p>
<p>- 제3자의 특허, 상표, 영업 비밀, 저작권 또는 기타 소유권 및 관련 권리를 침해하는 메시지, 데이터, 프로그램을 포함하는 해시 파일(토렌트)을 업로드하는 행위;</p>
<p>- 사이트에 기재된 이메일 주소로 무단 광고 메시지(정크 메일, 스팸)를 전송하는 행위;</p>
<p>- 자원을 통해 얻은 정보를 다른 사람의 권리를 침해하거나 직접적인 물질적 또는 정신적 피해를 줄 수 있는 내용을 상업적 목적으로 복사 및 사용하는 행위;</p>
<p>- 관련 법률을 위반하는 내용을 포함하는 웹 자원에 대한 링크를 게시하는 행위;</p>
<p>- 관리자 직원이나 자원 소유자를 포함하여, 적절한 권한 없이 어떤 사람이나 조직 및/또는 커뮤니티의 대표를 사칭하는 행위.</p>
</ul>

<li><h3>보증의 부인</h3>

<p>자원 접근은 명시적이거나 묵시적인 어떠한 보증 없이 "있는 그대로" 제공됩니다.</p>

<p>특히 자원 관리는 사이트 및 각 섹션의 기능, 사용자 게시 링크의 작동 여부 및 신뢰성을 보장하지 않습니다.</p>

<p>자원은 서비스 이용 또는 이용 불능, 통신의 무단 접근으로 인한 직접적·간접적 손실에 대해 책임지지 않습니다.</p>

<li><h3>자원 관리의 권리</h3>

<p>자원 관리는 설명이나 사전 통보 없이 사용자 또는 사용자 그룹의 자원 접근을 거부할 권리가 있습니다.</p>

<p>자원 관리는 사용자 제출 정보를 사전 통보나 설명 없이 수정하거나 삭제할 수 있습니다(해시 파일(토렌트), 그래픽, 오디오 및 기타 데이터 포함).</p>

<li><h3>당사자의 책임</h3>

<p>사용자는 본 계약에서 발생하는 모든 분쟁이 관련 법률에 따라 해결됨에 동의합니다.</p>

<p>사용자는 이 자원이 유료 서비스가 아니므로 소비자 보호법 및 규정이 적용되지 않음을 인정합니다.</p>

<p>이 자원은 본 계약에서 명시적으로 기술되지 않은 대리, 파트너십, 합작 투자, 고용 관계 또는 기타 관계를 설정하지 않습니다.</p>

<p>자원이 사용자 또는 사용자 그룹의 본 계약 위반에 대응하지 않는 것은 이를 승인하거나 지원하는 것으로 간주되지 않습니다.</p>

<p>자원이 사용자 계약 위반에 대해 즉시 조치하지 않더라도, 이후 자원은 자신의 이익 보호를 위한 적절한 조치를 취할 권리를 상실하지 않습니다.</p>

<li><h3>사용자 계약의 수락</h3>

<p>위의 모든 조건에 동의하지 않을 경우, 사용자 계약 페이지를 제외한 자원의 어느 부분에도 접근하거나 이 자원의 내용을 어떠한 방식으로든 전부 또는 일부 수신/접근할 수 없습니다.</p>

<p>본 사용자 계약에 동의하지 않을 경우 즉시 자원을 떠나야 합니다.</p>

</ol>
</p>

</div>
