<div id="infobox-body">

<p><h1>INFORMACION PËR MBAJTËSIT E TË DREJTAVE TË AUTORIT</h1></p>

<p>Nëse ju jeni të drejtën e autorit të çfarëdo materiale (ose lidhjesh) që është i disponueshëm në këtë faqe, dhe nuk dëshironi që përdoruesit të shpërndajnë këtë informacion pa lejen tuaj, ne do të jemi të lumtur t'ju ndihmojmë duke hequr lidhjet përkatëse.</p>

<p>Kjo kërkon që të na kini dërguar një letër (në formë elektronike)
e cila na tregon informacionet e mëposhtme:</p>

<p>1. Dëshmi dokumentare e të drejtave tuaja për materialin e mbrojtur nga e drejta e autorit:</p>
<p> - dokument skanuar me vulë, ose</p>
<p> - email nga një domain zyrtar i kompanisë pronare, ose</p>
<p> - informacione të tjera kontakti që identifikojnë në mënyrë unike ju si pronar të materialit.</p>

<p>2. Teksti që dëshironi të vendosni, i shoqëruar me informacione që mund të hiqen.</p>

<p>Në të mund të specifikoni se ku dhe nën cilat kushte mund të merrni informacionin, referencat që janë hequr, si dhe informacionin tuaj të kontaktit, në mënyrë që përdoruesit të mund të marrin prej jush të gjithë informacionin e nevojshëm në lidhje me këtë material.</p>

<p>3. Lidhje direkte me faqet që përmbajnë referenca për të dhënat që duhen hequr.</p>

<p>Lidhjet duhet të jenë në formën <strong>https://url.to/link</strong> ose diçka të ngjashme.</p>

<p>Pas kësaj, brenda 48 orëve, ne do të heqim lidhjet që ju interesojnë nga faqja.</p>

<p class="bold">Emaili ynë: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>KUJDES!</p>

<p>a) Ne rezervojmë të drejtën të publikojmë në faqe çdo informacion të dërguar tek ne nëpërmjet postës elektronike <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Ne nuk kemi asnjë kontroll mbi veprimet e përdoruesve që mund të ripostojnë lidhje me informacionin, i cili është objekti i së drejtës suaj të autorit. Çdo informacion në forum vendoset automatikisht, pa asnjë kontroll nga ndonjëra palë, që përputhet me praktikën ndërkombëtare të pranuar gjerësisht të vendosjes së informacionit në internet. Megjithatë, në çdo rast, ne i konsiderojmë të gjitha pyetjet tuaja në lidhje me referencën ndaj informacionit që cenon të drejtat tuaja.</p>

<p>c) Sipas Ligjit për të Drejtat e Autorit dhe të Drejtat e Përafërta, një referencë për çdo të dhënë (mesazh informativ), në vetvete, nuk i nënshtrohet ligjit të së drejtës së autorit (edhe pse mund të shkelë "Marrëveshjen për përdorimin e faqes së internetit"). Prandaj, nuk është e nevojshme të dërgoni letra që përmbajnë kërcënime ose kërkesa pa një arsye të vërtetë.</p>

</div><!--/infobox-body-->
