<div id="infobox-body">

<p><h1>INFORMACION PËR MBAJTËSIT E TË DREJTAVE TË AUTORIT</h1></p>

<p>Nëse ju jeni mbajtës i së drejtës së autorit të ndonjë materiali të lidhur në këtë faqe dhe nuk dëshironi që kjo informacion të shpërndahet nga përdoruesit pa lejen tuaj, ne me kënaqësi do t'ju ndihmojmë duke hequr lidhjet përkatëse.</p>

<p>Për ta bërë këtë, ju lutemi na dërgoni një shkresë elektronike që përmban informacionin e mëposhtëm:</p>

<p>1. Dëshmi dokumentare e të drejtave tuaja për materialin e mbrojtur me të drejtë autori:</p>
<p> — një dokument i skanuar që mban vulën zyrtare, ose</p>
<p> — një email i dërguar nga domeni zyrtar i kompanisë mbajtëse të drejtash, ose</p>
<p> — informacione të tjera kontakti që ju identifikojnë në mënyrë unike si mbajtës të drejtave.</p>

<p>2. Teksti zëvendësues që dëshironi të publikohet në vend të përmbajtjes së hequr.</p>

<p>Në këtë tekst, mund të specifikoni ku dhe nën cilat kushte përdoruesit mund të marrin informacionin për të cilin lidhjet janë hequr, si dhe të dhënat tuaja të kontaktit që përdoruesit të mund të kontaktojnë për këtë material.</p>

<p>3. Lidhje të drejtpërdrejta me faqet që përmbajnë referenca ndaj të dhënave që duhet të hiqen.</p>

<p>Lidhjet duhet të jenë në formatin <strong>https://url.to/link</strong> ose diçka të ngjashme.</p>

<p>Brenda 48 orëve nga marrja e kërkesës suaj, ne do të heqim lidhjet përkatëse nga faqja.</p>

<p class="bold">Emaili ynë: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>PARALAJMËRIM!</p>

<p>a) Ne rezervojmë të drejtën të publikojmë në faqen çdo informacion të dërguar nga ju në adresën <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Ne nuk kemi kontroll mbi veprimet e përdoruesve që mund të ripostojnë lidhje me informacionin që është objekt i së drejtës suaj të autorit. Çdo informacion në forum publikohet automatikisht, pa shqyrtim apo moderim paraprak, në përputhje me praktikat ndërkombëtare të pranuara për hostimin e informacionit në internet. Megjithatë, ne do të shqyrtojmë të gjitha kërkesat në lidhje me lidhjet për informacionin që shkel të drejtat tuaja.</p>

<p>c) Sipas ligjit të zbatueshëm për të drejtat e autorit dhe të drejtat e lidhura, një lidhje (hiper-lidhje) për të dhëna (një referencë informuese) nuk është, në vetvete, e mbrojtur nga e drejta e autorit (edhe pse mund të shkelë Marrëveshjen e Përdoruesit të faqes). Prandaj, ju lutemi mos dërgoni letra që përmbajnë kërcënime ose kërkesa, pasi nuk ka baza ligjore për pretendime të tilla.</p>

</div>
