<div>
	<h3>Shirit anësor 2</h3>
	Për të shtuar përmbajtje në këtë shirit anësor, redaktoni skedarët e mëposhtëm:
	<br /><br />
	<ul class="med">
		<li>biblioteka/gjuha/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Për të çaktivizuar këtë shirit anësor, vendosni variablin page.show_sidebar2 në skedarin config/layouts.php në false.
</div>
