<div>
	<h3>Shtojca 2</h3>
	Për të shtuar përmbajtje në këtë shtojcë, redaktoni skedarët e mëposhtëm:
	<br /><br />
	<ul class="med">
		<li>bibliotekë/gjuha/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Për të çaktivizuar këtë shtojcë, vendosni ndryshoren page.show_sidebar2 në skedarin config.php në false.
</div>
