<div id="infobox-body">

<p>

<p><h1>MARRËVESHJA E PËRDORUESIT</h1></p>

<p><h3>RRETH FAQES</h3></p>

<p>Ky burim/website në internet (më tej referuar si "Burimi") është një faqe interneti që lejon përdoruesit të ndajnë informacion me njëri-tjetrin përmes BitTorrent-it, si dhe në forma të tjera, dhe ofron një mënyrë për të verifikuar integritetin e informacionit të transmetuar (përmes skedarëve hash).</p>

<ol>

<li type="1"><h3>RRETH KËSAJ MARRËVESHJE PËRDORUESI</h3>

<p>Kjo Marrëveshje Përdorimi (më tej referuar si "Marrëveshja") hyn në fuqi me klikimin e butonit "Unë pranoj" më poshtë dhe qëndron në fuqi për gjithë kohëzgjatjen e përdorimit të Burimit nga Përdoruesi. Marrëveshja mund të ndryshohet nga Administrata pa njoftim paraprak. Versioni i ri i Marrëveshjes hyn në fuqi 3 (tre) ditë pas publikimit, përveç nëse përcaktohet ndryshe në versionin e ri të Marrëveshjes.</p>

<li><h3>KUFIZIMET E PËRGJEGJËSISË</h3>

<p>Përdoruesi pranon shprehërisht që përdor Burimin në rrezikun e tij.</p>

<p>Përdoruesi e pranon dhe pajtohet që Burimi merret me materiale dhe të dhëna të krijuara nga palë të treta dhe të vendosura prej tyre në internet duke përdorur kompjuterët dhe/ose serverët e tyre. Përmbajtja dhe siguria e këtyre materialeve nuk mund të kontrollohet nga Administrata e Burimit; për këtë arsye, Administrata nuk mban përgjegjësi:</p>
<ul>
<p>- për përmbajtjen e materialeve të marra nga Përdoruesi përmes Burimit, duke përfshirë çdo mundësi për mos-përputhje me ligjet në fuqi ose karakterin fyese të tyre;</p>
<p>- për pasojat e aplikimit, përdorimit apo mos përdorimit të informacionit të marrë;</p>
<p>- për çdo mospërputhje midis rezultateve të arritura përmes Burimit dhe pritshmërive të Përdoruesit;</p>
<p>- për çdo dëm të harduerit apo softuerit të Përdoruesit që rrjedh nga përdorimi i Burimit;</p>
<p>- për çdo paaftësi për të përdorur Burimin për çfarëdo arsye;</p>
<p>- për pasojat që mund të lindin nga shpërndarja e softuerëve të paligjshëm ose të paautorizuar, përmbajtjeve audio/video apo materialeve të tjera që shkelin të drejtat e palëve të treta.</p>
</ul>

<p>Në asnjë rrethanë Burimi nuk do të jetë përgjegjës ndaj Përdoruesit apo palëve të treta për dëme, humbje apo shpenzime që lidhen me Burimin, përdorimin e tij apo paaftësinë për ta përdorur, përfshirë fitimet e humbura.</p>

<p>Administrata e Burimit nuk ka detyrim për të siguruar konfidencialitetin e informacionit të dhënë nga Përdoruesit, edhe pse merr të gjitha masat e arsyeshme për këtë, përveç nëse ekziston një marrëveshje e veçantë apo ligji në fuqi kërkon ndryshe.</p>

<p>Detyrat e Burimit nuk përfshijnë monitorimin e ligjshmërisë së informacionit të transmetuar (duke përfshirë, por jo vetëm, informacionet e shkëmbyera mes përdoruesve përmes BitTorrent-it, mesazhe interne në çdo formë, tekste apo skedarë), as përcaktimin e të drejtave të pronësisë intelektuale apo legjitimitetin e transmetimit ose pranimit të këtij informacioni.</p>

<li><h3>KUFIZIMET NË PËRDORIMIN E BURIMIT NGA PËRDORUESI</h3>

<p>Kur përdor këtë Burim, Përdoruesi nuk duhet dhe pranon të mos:</p>
<ul>
<p>- ngarkojë skedarë hash (torrents) që përmbajnë të dhëna me viruse ose softuer tjetër keqdashës, skedarë ose programe të dizajnuara për të prishur, shkatërruar ose kufizuar funksionalitetin e pajisjeve kompjuterike apo telekomunikacionit, programe për akses të paautorizuar, numra serialë për softuer komercial ose mjete për gjenerimin e tyre, të dhëna për hyrje si login, fjalëkalime ose mjete të tjera për të fituar akses të paautorizuar në burime interneti, si dhe të publikojë lidhje për këto;</p>
<p>- ngarkojë skedarë hash (torrents) që përmbajnë mesazhe, të dhëna, ose programe që shkelin patenta, marka tregtare, sekrete tregtare, të drejtat e autorit ose të tjera të drejta prona të palëve të treta;</p>
<p>- të dërgojë mesazhe reklamash të paautorizuara (junk mail, spam) në adresat e email-eve të listuara në faqe;</p>
<p>- të kopjojë dhe përdorë për qëllime komerciale çdo informacion të marrë përmes Burimit që shkel të drejtat e të tjerëve ose mund të shkaktojë dëme materiale ose morale për ta;</p>
<p>- të postojë lidhje tek burime në internet që përmbajtja e tyre shkel ligjin në fuqi;</p>
<p>- të paraqitet fals për çdo person apo përfaqësues të një organizate dhe/ose komuniteti pa autorizim të duhur, duke përfshirë punonjës të Administratës apo pronarin e Burimit.</p>
</ul>

<li><h3>HEQJA E GARANCISË</h3>

<p>Qasja në Burim jepet "as is" pa asnjë garanci të llojit të caktuar, qoftë e shprehur apo e nënkuptuar.</p>

<p>Në veçanti, Administrata e Burimit nuk garanton funksionalitetin e faqes apo seksioneve të saj individuale, as operativitetin dhe besueshmërinë e lidhjeve të vendosura nga Përdoruesit.</p>

<p>Burimi nuk është përgjegjës për asnjë humbje të drejtpërdrejtë ose të tërthortë që rezultojnë nga: përdorimi apo paaftësia për të përdorur shërbimin; ose qasja e paautorizuar në komunikimet tuaja.</p>

<li><h3>TË DREJTAT E ADMINISTRATËS SË BURIMIT</h3>

<p>Administrata e Burimit ka të drejtë të mohojë qasjen në Burim për çdo Përdorues apo grup përdoruesish pa shpjegim apo njoftim paraprak.</p>

<p>Administrata e Burimit mund të modifikojë apo fshijë çdo informacion, skedarë hash (torrents), grafikë, audio, dhe të dhëna të tjera të paraqitura nga Përdoruesit pa njoftim apo shpjegim paraprak.</p>

<li><h3>PËRGJEGJËSITË E PALËVE</h3>

<p>Përdoruesi pranon që të gjitha mosmarrëveshjet nga kjo Marrëveshje do të zgjidhen sipas ligjit në fuqi.</p>

<p>Përdoruesi pranon që ligjet dhe rregulloret për mbrojtjen e konsumatorit nuk do të aplikohen në përdorimin e këtij Burimi, pasi ky nuk ofron shërbime të paguara.</p>

<p>Burimi nuk krijon agjenci, partneritet, bashkëpunim, punësim apo marrëdhënie të tjera që nuk përshkruhen shprehimisht në këtë Marrëveshje.</p>

<p>Mospërgjigja e Burimit ndaj shkeljeve të kësaj Marrëveshjeje nga Përdorues apo grup përdoruesish nuk përbën miratim apo ndihmë në këto veprime.</p>

<p>Mospërgjigja e Burimit ndaj shkeljes së kësaj Marrëveshjeje nga një Përdorues apo grup përdoruesish nuk e privon Burimin nga e drejta për të marrë masa të përshtatshme në mbrojtje të interesave të tij më vonë.</p>

<li><h3>PRANIMI I MARRËVESHJES SË PËRDORUESIT</h3>

<p>NËSE NUK PRANONI TË GJITHA KUSHTET DHE TERMAT E PËRMBARTHUR MË SIPËR, NUK MUND TË KENI QASJE NË BURIMIN NË TËRËSI APO PËR PJESË, PËRVEÇ FAQES SË KËSAJ MARRËVESHJE PËRDORUESI, AS TË MERRNI DHE/OR TË AKSESONI PËRMBAJTJEN E KËSAJ BURIMI ME NDONJË MËNYRË TJETËR, NË TËRËSI APO PËR PJESË.</p>

<p>NËSE NUK PRANONI KËTË MARRËVESHJE PËRDORUESI, DUHET TË LARGOHENI MENJËHERË NGA BURIMI.</p>

</ol>
</p>

</div>
