<div id="infobox-body">

<p>

<p><h1>MARRËVESHJA E PËRDORUESIT</h1></p>

<p><h3>PËR FAQEN</h3></p>

<p>Internet - burim / website (në tekstin e mëtejmë - Burimi) është një faqe interneti që lejon përdoruesit të ndajnë informacion me njëri-tjetrin nëpërmjet bit-torrent, si dhe në formë të lirë, dhe siguron një mjet për të monitoruar integritetin e informacionit të transmetuar (përmes skedarëve hash).</p>

<ol>

<li type="1"><h3>PËR MARRËVESHJEN E PËRDORUESIT</h3>

<p>Kjo MARRËVESHJE E PËRDORIMIT do të hyjë në fuqi pasi të klikoni "Pranoj" në fund dhe vlen për gjithë kohën e përdorimit të burimit nga përdoruesit. MARRËVESHJA E PËRDORIMIT mund të ndryshohet nga Administrata pa ndonjë njoftim. Versioni i ri i MARRËVESHJES hyn në fuqi pas 3 (tri) ditëve nga data e paraqitjes, përveç nëse parashikohet ndryshe në versionin e ri të MARRËVESHJES SË PËRDORËSIT.</p>

<li><h3>KUFIZIMET E PËRGJEGJËSISË</h3>

<p>Përdoruesi shprehimisht pajtohet të përdorë Burimin në rrezikun e tij.</p>

<p>Përdoruesi e di dhe pajtohet që merret me materialet e burimit dhe të dhënat e krijuara nga palë të treta dhe të vendosura në internet në kompjuterët dhe (ose) serverët e tyre. Përmbajtja dhe siguria e këtyre materialeve nuk mund të kontrollohen nga administrata e Burimit, prandaj kjo e fundit nuk mban përgjegjësi:</p>
<ul>
<p>- për përmbajtjen e materialeve të marra nga Përdoruesi nga përdorimi i të dhënave të Burimit dhe mospërputhjet e mundshme me ligjet në fuqi apo përmbajtjen fyese;</p>
<p>- për pasojat e aplikimit, përdorimit ose mos përdorimit të informacionit të marrë;</p>
<p>- për ndonjë mospërputhje të mundshme midis rezultateve të arritura dhe pritshmërive të Përdoruesit të Burimit;</p>
<p>- për çdo dëm në pajisje harduer ose softuer të Përdoruesit që rrjedh nga përdorimi i Burimit;</p>
<p>- për pamundësinë për përdorimin e burimit për çdo arsye;</p>
<p>- për pasojat që mund të rrjedhin nga përhapja e softuerëve dhe produkteve audio/video të paligjshme ose të paautorizuara, si dhe materialet ose të dhënat e tjera që prekin të drejtat e palëve të treta.</p>
</ul>

<p>Në asnjë rrethanë Burimi nuk do të jetë përgjegjës ndaj Përdoruesit ose palës së tretë për dëme, humbje ose shpenzime që lidhen me këtë Burim, përdorimin e tij ose pamundësinë për ta përdorur, përfshirë humbjet ose fitimet e humbura.</p>

<p>Administrata e Burimeve nuk ka detyrimin për të siguruar konfidencialitetin e informacionit të dhënë nga Përdoruesit e saj, megjithëse merr të gjitha masat e mundshme për këtë, përveç nëse ka marrëveshje të kundërt ose kërkesa përkatëse ligjore në fuqi.</p>

<p>Detyrat e Burimit NUK PËRFSHIJNË kontrollin e informacionit të transmetuar ligjërisht ose në mënyrë të paligjshme (përfshirë, por jo të kufizuar në, informacionin e transmetuar mes përdoruesve përmes bit-torrent, transferimet e brendshme të informacionit në lidhje, tekste ose skedarë), përcaktimin e të drejtave të pronës ose legjitimitetin e transmetimit ose pranimit të këtij informacioni.</p>

<li><h3>KUFIZIMET E PËRDORIMIT TË BURIMIT NGA PËRDORUESI</h3>

<p>Kur përdorni këtë Burim, Përdoruesi nuk ka të drejtë dhe pajtohet me këtë:</p>
<ul>
<p>- të vendosë të dhëna të hash-skedarëve (torrents) që përmbajnë viruse ose programe të tjera kompjuterike keqdashëse, skedarë ose programe të njohura që ndërhyjnë, shkatërrojnë ose kufizojnë funksionalitetin e çdo pajisjeje kompjuterike ose telekomunikimit, ose programe për hyrje të paautorizuar, si dhe numra serialë për produktet komerciale të softuerëve dhe programet për gjenerimin e tyre, hyrjet, fjalëkalimet dhe mënyra të tjera për të marrë qasje të paautorizuar në faqet e internetit, si dhe postimin e lidhjeve për informacionin e mësipërm;</p>
<p>- të vendosë mesazhe, të dhëna ose programe në hash-skedarë (torrents) që shkelin ndonjë patentë, markë tregtare, sekret tregtar, të drejta autori ose të drejta pronësore të palëve të treta;</p>
<p>- të dërgojë mesazhe reklamuese të paautorizuara (junk mail, spam) në adresat e email-it të listuara në faqe;</p>
<p>- të kopjojë dhe përdorë për qëllime komerciale çdo informacion të marrë përmes këtij burimi që shkel të drejtat e të tjerëve ose mund të shkaktojë dëmtim material ose moral;</p>
<p>- të postojë lidhje në burime web, përmbajtja e të cilave është në kundërshtim me legjislacionin aktual;</p>
<p>- të paraqitet si ndonjë person ose përfaqësues i organizatës dhe/ose komunitetit pa të drejta të mjaftueshme, duke përfshirë punonjësit e Administratës, për pronarin e Burimit.</p>
</ul>

<li><h3>GARANCI E PERFORMANCËS</h3>

<p>Qasja në Burim ofrohet "ashtu siç është" pa asnjë garanci, as të drejtpërdrejtë as të tërthortë.</p>

<p>Në veçanti, Administrata e Burimit nuk garanton funksionimin e faqes dhe seksioneve të saj, as performancën dhe besueshmërinë e lidhjeve të vendosura nga përdoruesit në të.</p>

<p>Burimi nuk është përgjegjës për ndonjë humbje direkte ose indirekte që mund të ndodhë për shkak të përdorimit ose pamundësisë për përdorimin e shërbimit; ose qasjes së paautorizuar në komunikimet tuaja.</p>

<li><h3>DREJTAT E ADMINISTRATËS SË BURIMIT</h3>

<p>Administrata e Burimit ka të drejtë të mohojë qasjen në burim për çdo Përdorues ose Grup përdoruesish pa shpjegim ose njoftim për veprimet e saj.</p>

<p>Administrata e Burimit mund të modifikojë ose fshijë çdo informacion, hash-skedarë (torrents), grafikë, audio dhe të dhëna të tjera të paraqitura nga Përdoruesi pa njoftim dhe pa shpjegim të veprimeve të saj.</p>

<li><h3>PËRGJEGJËSITË E PALËVE</h3>

<p>Përdoruesi pranon që të gjitha mosmarrëveshjet lidhur me MARRËVESHJEN PËR PËRDORIM do të zgjidhen sipas normave ligjore.</p>

<p>Përdoruesi pranon se rregullat dhe ligjet për mbrojtjen e konsumatorit nuk mund të aplikohen për përdorimin e këtij Burimi, pasi nuk ka shërbime të paguara.</p>

<p>Burimi nuk krijon marrëdhënie agjenti-përdorues, marrëdhënie partneriteti për aktivitet të përbashkët, marrëdhënie punësimi apo ndonjë marrëdhënie tjetër që nuk është përshkruar shprehimisht në MARRËVESHJEN PËR PËRDORIM.</p>

<p>Mosveprimi i Burimit ndaj shkeljeve të MARRËVESHJES së Përdoruesit nga përdoruesi ose grup përdoruesish nuk nënkupton që Burimi ndihmon përdoruesit në këto veprime.</p>

<p>Mosveprimi i Burimit ndaj shkeljeve të MARRËVESHJES së Përdoruesit nuk e privon atë nga e drejta për të ndërmarrë veprime të mëvonshme për mbrojtjen e interesave të tij.</p>

<li><h3>PRANIMI I MARRËVESHJES SË PËRDORIMIT</h3>

<p>Nëse nuk pranoni të gjitha kushtet dhe termat e mësipërm, nuk mund të përdorni këtë Burim në tërësi ose pjesërisht, përveç faqes së Marrëveshjes së Përdoruesit, as të merrni ose të aksesoni përmbajtjen e Burimit me ndonjë mënyrë tjetër, as në tërësi as pjesërisht!</p>

<p>Nëse nuk pranoni MARRËVESHJEN E PËRDORUESIT, duhet të largoheni menjëherë nga Burimi.</p>

</ol>
</p>

</div><!--/infobox-body-->
