<div id="infobox-body">
	<h2 class="bold">Reklaam meie saidil</h2>
	<p>Reklaami puhul võtke palun ühendust: <strong><a href="mailto:{{ config('mail.addresses.advert') }}" class="gen">{{ config('mail.addresses.advert') }}</a></strong></p>
</div>
