<div id=\"infobox-body\">

<p><h1>TEAVE AUTORIÕIGUSTE OMANIKELE</h1></p>

<p>Kui olete autoriõiguse omanik mistahes materjali lingil (või linkidel), mis on saadaval sellel veebilehel, ja ei soovi, et kasutajad levitaksid seda teavet ilma teie nõusolekuta, aitame hea meelega eemaldada asjakohased lingid.</p>

<p>See nõuab, et olete meile saatnud kirja (elektroonilises vormis)
mis sisaldab järgmist teavet:</p>

<p>1. Dokumentaalne tõend teie õiguste kohta autoriõigusega kaitstud materjalile:</p>
<p> - skaneeritud dokument pitseriga, või</p>
<p> - e-kiri ettevõtte omaniku ametlikult e-posti domeenilt, või</p>
<p> - muud kontaktandmed, mis üheselt tuvastavad teid materjali omanikuna.</p>

<p>2. Tekst, mille soovite paigutada, koos eemaldatava teabega.</p>

<p>Selles saate täpsustada, kus ja millistel tingimustel saate teavet, mille viited on eemaldatud, samuti oma kontaktandmeid, et kasutajad saaksid teilt kogu vajaliku teabe selle materjali kohta.</p>

<p>3. Otselingid lehtedele, mis sisaldavad andmetele viitavaid viiteid, mis tuleb eemaldada.</p>

<p>Lingid peaksid olema kujul <strong>https://url.to/link</strong> või midagi sarnast.</p>

<p>Pärast seda eemaldame 48 tunni jooksul saidilt teie huvipakkuvad lingid.</p>

<p class="bold">Meie e-post: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>HOIATUS!</p>

<p>a) Me jätame endale õiguse avaldada saidil mistahes meile kirja teel saadetud teavet <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

b) Meil puudub kontroll kasutajate tegevuse üle, kes võivad uuesti postitada linke teabele, mis on teie autoriõiguse objektiks. Kõik foorumis olevad andmed paigutatakse automaatselt, ilma igasuguse kontrollita mis tahes osapoole poolt, mis vastab üldtunnustatud rahvusvahelisele praktikale teabe paigutamisel Internetis. Siiski käsitleme igal juhul kõiki teie päringuid seoses teabe viidetega, mis rikuvad teie õigusi.</p>

c) Vastavalt autoriõiguse ja sellega seotud õiguste seadusele ei kuulu viide mistahes andmetele (teabesõnum) iseenesest autoriõiguse alla (kuigi see võib rikkuda "Veebisaidi kasutamise lepingut"). Seetõttu ei ole vaja saata ähvardusi või nõudmisi sisaldavaid kirju, kui puudub tegelik põhjus.</p>

</div><!--/infobox-body-->
