<div id="infobox-body">

<p><h1>TEAVE AUTORIÕIGUSTE OMANIKELE</h1></p>

<p>Kui olete sellel saidil lingitud mis tahes materjali autoriõiguse omanik ja ei soovi, et kasutajad levitaksid seda teavet ilma teie nõusolekuta, aitame hea meelega asjakohased lingid eemaldada.</p>

<p>Selleks saatke meile palun elektrooniline kiri järgmise teabega:</p>

<p>1. Dokumentaalne tõend teie õiguste kohta autoriõigusega kaitstud materjalile:</p>
<p> — skannitud dokument, millel on ametlik tempel, või</p>
<p> — e-kiri, mis on saadetud õiguste omaniku ettevõtte ametlikust domeenist, või</p>
<p> — muud kontaktandmed, mis üheselt identifitseerivad teid kui õiguste omaniku.</p>

<p>2. Asendustekst, mida soovite eemaldatud sisu asemel avaldada.</p>

<p>Selles tekstis võite täpsustada, kus ja millistel tingimustel kasutajad saavad teavet, mille lingid on eemaldatud, ning oma kontaktandmed, et kasutajad saaksid teie poole selle materjali osas pöörduda.</p>

<p>3. Otse lingid lehtedele, mis sisaldavad andmetele viiteid, mis tuleb eemaldada.</p>

<p>Lingid peaksid olema vormingus <strong>https://url.to/link</strong> või sarnane.</p>

<p>Teie päringu saamise järel eemaldame asjakohased lingid saidilt 48 tunni jooksul.</p>

<p class="bold">Meie e-post: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>HOIATUS!</p>

<p>a) Me jätame endale õiguse avaldada saidil mistahes teavet, mis meile on saadetud aadressile <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Meil puudub kontroll kasutajate tegevuse üle, kes võivad uuesti postitada lingid teabele, mis on teie autoriõiguse objekt. Kõik foorumil olevad andmed paigutatakse automaatselt, ilma eelneva läbivaatuse või modereerimiseta, vastavalt üldtunnustatud rahvusvahelistele interneti teabe avaldamise tavadest. Kuid kaalume kõiki päringuid seoses lingitud teabega, mis rikub teie õigusi.</p>

<p>c) Kehtiva autoriõiguse ja sellega seotud õiguste seaduse kohaselt ei kuulu hüperlink andmetele (infoviit) iseenesest autoriõiguse kaitse alla (kuigi see võib rikkuda saidi kasutajatingimusi). Seetõttu palume hoiduda ähvardusi või nõudmisi sisaldavate kirjade saatmisest, kuna selleks puuduvad õigusalased alused.</p>

</div>
