<div id="infobox-body">

<p>

<p><h1>KASUTAJA LEPINGU</h1></p>

<p><h3>UMBES SAIDIST</h3></p>

<p>See internetiressurss/veebisait (edaspidi "Ressurss") on veebisait, mis võimaldab kasutajatel omavahel teavet jagada BitTorrenti kaudu ning ka muudes vormides ning pakub võimalust edastatud teabe terviklikkuse kontrollimiseks (hash-failide kaudu).</p>

<ol>

<li type="1"><h3>KÄESOLEVA KASUTAJA LEPINGU KOHTA</h3>

<p>Käesolev Kasutajatingimuste leping (edaspidi "Leping") jõustub pärast allpool olevale nupule "Nõustun" klõpsamist ning kehtib kogu kasutaja Ressursil kasutamise aja jooksul. Lepingut võib haldus ilma ette teatamata muuta. Lepingu uus versioon jõustub 3 (kolme) päeva järel selle avaldamisest, kui lepingus ei ole sätestatud teisiti.</p>

<li><h3>VASTUTUSE PIIRANGUD</h3>

<p>Kasutaja nõustub selgesõnaliselt kasutama Ressurssi omal riskil.</p>

<p>Kasutaja tunnistab ja nõustub, et Ressurss tegeleb kolmandate isikute loodud materjalide ja andmetega, mis on nende poolt majutatud Internetis nende arvutites ja/või serverites. Nende materjalide sisu ja turvalisust ei kontrolli ressursi haldus; seetõttu ei vastuta haldus järgmiste eest:</p>
<ul>
<p>- kasutaja poolt Ressurssi kaudu saadud materjalide sisu eest, sealhulgas võimaliku vastuolu eest kehtivate seadustega või nende solvava iseloomu eest;</p>
<p>- teabe kasutamise, rakendamise või kasutamata jätmise tagajärgede eest;</p>
<p>- võimalike erinevuste eest Ressursi kaudu saadud tulemuste ja kasutaja ootuste vahel;</p>
<p>- igasuguse kahju eest, mis kasutaja riistvarale või tarkvarale Ressurssi kasutamisest tuleneb;</p>
<p>- igasuguse võimetuse eest Ressurssi kasutada mistahes põhjusel;</p>
<p>- tagajärgede eest, mis võivad tekkida ebaseadusliku või litsentseerimata tarkvara, audio-/video sisu või teiste materjalide või andmete levitamisest, mis rikuvad kolmandate isikute õigusi.</p>
</ul>

<p>Ühelgi juhul ei vastuta Ressurss kasutaja ega kolmandate isikute ees mingisuguste kahjude, kaotuste või kulude eest, mis tulenevad Ressursi kasutamisest või kasutamata jätmisest, sealhulgas saamata jäänud kasumi eest.</p>

<p>Ressurssi haldus ei ole kohustatud tagama kasutajate esitatud andmete konfidentsiaalsust, kuigi teeb selleks kõik mõistlikud jõupingutused, välja arvatud juhul, kui on eraldi leping või kehtivad õigusnormid sätestavad teisiti.</p>

<p>Ressursi kohustused ei hõlma edastatud teabe seaduslikkuse kontrollimist (sealhulgas, kuid mitte ainult, kasutajate vahel BitTorrenti kaudu saadetavat teavet, sisemisi sõnumeid ükskõik millises vormis, teksti või faile), samuti intellektuaalomandi õiguste või vastava teabe edastamise või vastuvõtmise seaduslikkuse hindamist.</p>

<li><h3>KASUTAJA RESSURSSI KASUTAMISE PIIRANGUD</h3>

<p>Selle ressursi kasutamisel ei tohi kasutaja teha ega nõustuda järgmiste toimingutega:</p>
<ul>
<p>- üles laadida hash-faile (torrentfaile), mis sisaldavad viiruseid või muud pahatahtlikku tarkvara, faile või programme, mis on mõeldud arvuti või telekommunikatsiooniseadme funktsionaalsuse häirimiseks, hävitamiseks või piiramiseks, volitamata juurdepääsuks mõeldud programme, kommertstarkvara seerianumbreid või seerianumbrite genereerimise vahendeid, sisselogimisandmeid, paroole või muid vahendeid volitamata juurdepääsu saamiseks internetiresurssidele ning postitada linke eeltoodule;</p>
<p>- üles laadida hash-faile (torrentfaile), mis sisaldavad sõnumeid, andmeid või programme, mille kasutamine rikub patendi-, kaubamärgi-, ärisaladuse-, autoriõiguse või muid kolmandate isikute omandiõigusi ja/või sellega seotud õigusi;</p>
<p>- saata saidil olevatele e-posti aadressidele volitamata reklaamsõnumeid (rämpsposti, spämm);</p>
<p>- kopeerida ja kasutada ärilistel eesmärkidel mis tahes Ressursi kaudu saadud teavet, mis rikub teiste õigusi või võib neile põhjustada otsest materiaalset või moraalset kahju;</p>
<p>- postitada linke veebiresurssidele, mille sisu rikub kehtivaid õigusakte;</p>
<p>- end esitada isikuna või organisatsiooni ning/või kogukonna esindajana ilma sobiva volituseta, sealhulgas halduse töötajatena või Ressursi omaniku eest.</p>
</ul>

<li><h3>GARANTIIDE PUUDUMINE</h3>

<p>Juurdepääs Ressursile antakse "nagu on" põhimõttel, ilma igasuguse otsese või kaudse garantiita.</p>

<p>Eelkõige ei garanteeri Ressursi haldus saidi ega selle individuaalsete osade funktsionaalsust, samuti kasutajate postitatud linkide toimivust ja usaldusväärsust.</p>

<p>Ressurss ei vastuta ühegi otsese või kaudse kahju eest, mis tuleneb teenuse kasutamisest või kasutamata jätmisest või volitamata juurdepääsust teie kommunikatsioonile.</p>

<li><h3>RESSURSSI HALDUSE ÕIGUSED</h3>

<p>Ressurssi haldusel on õigus keelata juurdepääs Ressursile ükskõik millisele kasutajale või kasutajate rühmale ilma selgituste ja eelneva teavituseta.</p>

<p>Ressurssi haldus võib ilma ette teatamata ja selgitamata muuta või kustutada kasutajate poolt esitatud teavet, hash-faile (torrentfaile), graafikat, heli ja muid andmeid.</p>

<li><h3>POOLTE VASTUTUS</h3>

<p>Kasutaja nõustub, et kõik käesolevast lepingust tulenevad vaidlused lahendatakse kehtivate õigusaktide kohaselt.</p>

<p>Kasutaja tunnistab, et tarbijakaitseseadused ja -määrused ei kehti selle Ressursi kasutamisel, kuna see ei paku tasulisi teenuseid.</p>

<p>Ressurss ei loo agentuuri-, partnerlus-, ühisettevõtte-, töölepingulisi ega muid suhteid, mida käesolevas lepingus selgesõnaliselt ei kirjeldatud.</p>

<p>Ressursi tegevusetus kasutaja või kasutajate rühma lepingurikkumise korral ei tähenda selle heakskiitu ega abi nende tegude puhul.</p>

<p>Ressursi tegevusetus lepingurikkumise korral ei välista Ressurssi õigust hiljem võtta asjakohaseid meetmeid oma huvide kaitsmiseks.</p>

<li><h3>KASUTAJA LEPINGU NÕUSTUMINE</h3>

<p>KUI TE EI NÕUSTU KÕIGI ÜLESOLEVATE TINGIMUSTEGA, EI OLE TEIL ÕIGUST KASUTADA KOKKUVA RESSURSSI KOKKUVÕTLIKULT EGA OSALISELT, VÄLJA ARVATUD KÄESOLEVA KASUTAJA LEPINGU LEHT, NING EI TOHI MUUDE VÕIMALUSTEGA JUURDEPÄÄSU SAADA.</p>

<p>KUI TE EI NÕUSTU KÄESOLEVA KASUTAJA LEPINGUGA, PEATE KOHE RESSURSSILT LAHTI MINEMA.</p>

</ol>
</p>

</div>
