<div id=\"infobox-body\">

<p>

<p><h1>KASUTAJA LEPING</h1></p>

<p><h3>SAIDIST</h3></p>

<p>Internetiressurss / koduleht (edaspidi Ressurss) on internetisait, mis võimaldab kasutajatel jagada teavet omavahel bit-torrenti kaudu ning vabas vormis ning pakub võimalust jälgida edastatud teabe terviklikkust (hash-failide kaudu).</p>

<ol>

<li type="1"><h3>KASUTAJA LEPINGU KOHTA</h3>

<p>Käesolev KASUTAJALEPING jõustub pärast allosas "Nõustun" klõpsamist ja kehtib kogu ressursi kasutajate kasutusaja jooksul. Administratsioon võib KASUTAJA LEPINGUT muuta ilma ette teatamata. Uus KASUTAJA LEPINGU versioon jõustub 3 (kolme) päeva möödumisel selle avaldamisest, kui uues versioonis ei ole sätestatud teisiti.</p>

<li><h3>VASTUTUSE PIIRANGUD</h3>

<p>Kasutaja selgesõnaliselt kinnitab, et kasutab Ressurssi omal riskil.</p>

<p>Kasutaja teab ja nõustub, et tegeleb kolmandate osapoolte loodud ressursimaterjalide ja andmetega, mis on Internetis paigutatud tema arvutisse ja (või) serveritesse. Ressursi haldus ei saa kontrollida nende materjalide sisu ega turvalisust ning seetõttu ei vastuta:</p>
<ul>
<p>- kasutaja andmetest saadud materjalide sisu ja võimaliku vastuolu eest kehtivate seadustega või solvava sisu eest;</p>
<p>- teabe rakendamise, kasutamise või mittekasutamise tagajärgede eest;</p>
<p>- Ressurssi kasutades saadud tulemuste ja kasutaja ootuste võimaliku erinevuse eest;</p>
<p>- igasuguse riist- või tarkvarakahju eest, mis tuleneb Ressurssi kasutamisest;</p>
<p>- võimetuse eest Ressurssi kasutada mistahes põhjusel;</p>
<p>- tagajärgede eest, mis võivad tuleneda ebaseadusliku või litsentsimata tarkvara, audio-/videotoodete ning muude materjalide või andmete levitamisest, mis rikuvad kolmandate isikute õigusi.</p>
</ul>

<p>Mingil juhul ei vastuta Ressurss kasutajale ega kolmandale isikule tekkida võivate kahjude, kaotuste või kulude eest, mis on seotud Ressursi kasutamise või mitte kasutamisega, sealhulgas otsese kahju või saamata jäänud kasumi eest.</p>

<p>Ressursi haldus ei ole kohustatud tagama kasutajate esitatud teabe konfidentsiaalsust, kuigi rakendab selle tagamiseks kõiki võimalikke meetmeid, välja arvatud juhul, kui on sõlmitud muu kokkulepe või nõuab kehtiv seadusandlus.</p>

<p>Ressursi kohustuste hulka ei kuulu seaduslikult või ebaseaduslikult edastatud teabe kontrollimine (kaasa arvatud, kuid mitte ainult, andmed kasutajate vahel bit-torrent'i kaudu edastatud infot, sisemised ülekanded linkides, tekstis või failides), varaliste õiguste määratlemine ega selle teabe edastamise või vastuvõtmise õiguspärasuse kontrollimine.</p>

<li><h3>RESSURSI KASUTAMISE PIIRANGUD KASUTAJALE</h3>

<p>Ressurssi kasutades on KASUTAJAL keelatud ning ta nõustub järgnevaga:</p>
<ul>
<p>- paigutada hash-faile (torrent'e), mis sisaldavad viirusi või muid pahatahtlikke programme, faile või programme, mille eesmärk on katkestada, hävitada või piirata mis tahes arvuti või sidevahendi toimimist või võimaldada volitamata juurdepääsu, sealhulgas kommertsofti seerianumbrid või selle genereerimise programmid, kasutajanimed, paroolid ja muud vahendid volitamata juurdepääsu saamiseks veebisaitidele, samuti postitada linke nimetatud infole;</p>
<p>- paigutada hash-faile (torrent'e) kõiki sõnumeid, andmeid või programme, mille kasutamine rikub mis tahes patendi-, kaubamärgi-, ärisaladuse-, autoriõiguse või muid kolmandate isikute varalisi või autoriõigusega seotud õigusi;</p>
<p>- saata saidil loetletud e-posti aadressidele volitamata reklaamsõnumeid (rämpstpost, spämmi);</p>
<p>- kopeerida ja kasutada ärilistel eesmärkidel mis tahes selle ressursi kaudu saadud teavet, mis rikub teiste õigusi või võib neile tekitada otsest materiaalset või moraalset kahju;</p>
<p>- postitada linke veebiressurssidele, mille sisu on vastuolus kehtivate seadustega;</p>
<p>- esineda kellegi teise või organisatsiooni ja/või kogukonna esindajana ilma selleks vajalike õigusteta, sh halduse töötajatena või Ressursi omanikuna.</p>
</ul>

<li><h3>TOIMIVUSE GARANTII</h3>

<p>Ressursile juurdepääs on antud "nagu on" põhimõttel ilma mingisuguste otseste või kaudsete garantiideta.</p>

<p>Eelkõige ei garanteeri Ressursi haldus saidi ja selle üksikute osade funktsionaalsust, samuti sellel kasutajate paigutatud linkide toimivust ja usaldusväärsust.</p>

<p>Ressurss ei vastuta ühegi otsese või kaudse kahju eest, mis võib tekkida teenuse kasutamisest või kasutamistõkest, samuti volitamata juurdepääsust teie sidetele.</p>

<li><h3>RESSURSI HALDUSE ÕIGUSED</h3>

<p>Ressursi haldusel on õigus ilma selgitusteta ja ette teatamata keelata juurdepääs ressursile ükskõik millisele kasutajale või kasutajate rühmale.</p>

<p>Ressursi haldus võib muuta või kustutada ükskõik millist kasutaja ressursile esitatud teavet, hash-faile (torrent'e), graafikat, heli ja muid andmeid ilma ette teatamata ja ilma põhjust selgitamata.</p>

<li><h3>POOLTE VASTUTUS</h3>

<p>Kasutaja nõustub, et kõik KASUTAMISLEPINGUGA seotud vaidlused lahendatakse vastavalt kehtivatele õigusnormidele.</p>

<p>Kasutaja nõustub, et tarbijakaitse reegleid ja seadusi ei kohaldata selle ressursi kasutamisele, kuna see ei paku tasulisi teenuseid.</p>

<p>Ressurss ei loo kasutajate vahel agentuuri-, partnerlus-, ühise tegevuse, värbamise ega muid lepingulisi suhteid, mis pole KASUTAMISLEPINGUS selgesõnaliselt kirjeldatud.</p>

<p>Ressursi tegevusetus kasutaja või kasutajate rühma KASUTAJA LEPINGU rikkumiste korral ei tähenda, et Ressurss toetab või julgustab selliseid rikkumisi.</p>

<p>Ressursi tegevusetus rikkumise korral ei võta ära õigust hiljem astuda asjakohaseid meetmeid oma huvide kaitseks.</p>

<li><h3>KASUTAJA LEPINGU NÕUSTUMINE</h3>

<p>KUI TE EI OLE NÕUS KÕIGI EESPOOL NIMETATUD TINGIMUSTEGA, EI TOHI TE KASUTADA RESSURSSI, EI TERVIKUNA EGA MITTE MINGIS OSAS, VÄLJA ARVATUD KASUTAJA LEPINGU LEHE VÕI MUUDE MEETODITE LÄBI SISULE JUURDEPÄÄSU SAAMIST!</p>

<p>KUI TE EI OLE NÕUS KASUTAJA LEPINGUGA, PEATE KOHE RESSURSILT LAHKUMA.</p>

</ol>
</p>

</div><!--/infobox-body-->
