<div id=\"infobox-body\">

<p><h1>THÔNG TIN CHO BẢN QUYỀN</h1></p>

<p>Nếu bạn là chủ sở hữu bản quyền của bất kỳ liên kết tài liệu nào (hoặc các liên kết) có sẵn trên trang web này và không muốn thông tin này được người dùng lan truyền mà không có sự đồng ý của bạn, chúng tôi rất vui lòng hỗ trợ bạn bằng cách xóa bỏ các liên kết phù hợp.</p>

<p>Điều này đòi hỏi bạn phải gửi cho chúng tôi một bức thư (dưới dạng điện tử)
cho chúng tôi biết các thông tin sau đây:</p>

<p>1. Bằng chứng tài liệu về quyền của bạn đối với tài liệu được bảo vệ bởi bản quyền:</p>
<p> - tài liệu quét có con dấu, hoặc</p>
<p> - email từ miền email chính thức của công ty chủ sở hữu, hoặc</p>
<p> - thông tin liên lạc khác giúp xác định bạn duy nhất là chủ sở hữu của tài liệu.</p>

<p>2. Văn bản mà bạn muốn đưa vào, kèm theo thông tin có thể loại bỏ.</p>

<p>Trong đó, bạn có thể chỉ rõ nơi và điều kiện mà bạn có thể nhận thông tin, cùng với thông tin liên lạc của bạn, để người dùng có thể nhận được tất cả thông tin cần thiết liên quan đến tài liệu này.</p>

<p>3. Liên kết trực tiếp đến các trang có chứa tham chiếu đến dữ liệu phải được loại bỏ.</p>

<p>Liên kết nên được xem như <strong>https://url.to/link</strong> hoặc cái gì đó tương tự.</p>

<p>Sau đó, trong vòng 48 giờ, chúng tôi sẽ xóa bỏ các liên kết mà bạn quan tâm khỏi trang web.</p>

<p class="bold">Email của chúng tôi: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>CẢNH BÁO!</p>

<p>a) Chúng tôi bảo lưu quyền công bố bất kỳ thông tin nào được gửi cho chúng tôi qua email <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> trên trang web.</p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Bất kỳ thông tin nào trên diễn đàn được đăng tự động, không có sự kiểm soát từ bất kỳ bên nào, điều này tương ứng với thực tiễn quốc tế được chấp nhận chung về việc công bố thông tin trên Internet. Tuy nhiên, trong mọi trường hợp, chúng tôi xem xét tất cả các truy vấn của bạn liên quan đến việc tham chiếu đến thông tin vi phạm quyền của bạn.</p>

<p>c) Theo Luật Quyền tác giả và Quyền liên quan, bản thân việc tham chiếu đến bất kỳ dữ liệu nào (thông điệp thông tin) không chịu sự điều chỉnh của luật bản quyền (mặc dù có thể vi phạm “Thỏa thuận sử dụng trang web”). Vì vậy, không cần thiết phải gửi thư có nội dung đe dọa hoặc yêu cầu vì không có lý do thực sự.</p>

</div><!--/infobox-body-->
