<div id="infobox-body">

<p><h1>THÔNG TIN CHO CHỦ SỞ HỮU BẢN QUYỀN</h1></p>

<p>Nếu bạn là chủ sở hữu bản quyền của bất kỳ tài liệu nào được liên kết trên trang này và không muốn thông tin này được người dùng phổ biến mà không có sự đồng ý của bạn, chúng tôi sẽ sẵn lòng hỗ trợ bạn bằng cách gỡ bỏ các liên kết liên quan.</p>

<p>Để thực hiện việc này, vui lòng gửi cho chúng tôi một thư điện tử chứa các thông tin sau:</p>

<p>1. Bằng chứng tài liệu về quyền của bạn đối với tài liệu được bảo hộ bản quyền:</p>
<p> — một tài liệu quét có con dấu chính thức, hoặc</p>
<p> — một email gửi từ tên miền chính thức của công ty sở hữu quyền, hoặc</p>
<p> — thông tin liên lạc khác giúp xác định duy nhất bạn là chủ sở hữu quyền.</p>

<p>2. Nội dung thay thế bạn muốn được đăng thay cho phần nội dung bị gỡ bỏ.</p>

<p>Trong nội dung này, bạn có thể chỉ rõ nơi và điều kiện người dùng có thể nhận thông tin mà các liên kết đã bị xóa, cũng như thông tin liên hệ của bạn để người dùng có thể liên hệ với bạn về tài liệu này.</p>

<p>3. Các liên kết trực tiếp đến trang chứa tham chiếu đến dữ liệu cần được gỡ bỏ.</p>

<p>Các liên kết nên có định dạng <strong>https://url.to/link</strong> hoặc tương tự.</p>

<p>Trong vòng 48 giờ sau khi nhận được yêu cầu của bạn, chúng tôi sẽ gỡ bỏ các liên kết liên quan khỏi trang web.</p>

<p class="bold">Email của chúng tôi: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>CẢNH BÁO!</p>

<p>a) Chúng tôi bảo lưu quyền đăng tải trên trang web bất kỳ thông tin nào được gửi tới chúng tôi tại <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Chúng tôi không kiểm soát hành động của người dùng có thể đăng lại liên kết đến thông tin thuộc đối tượng bản quyền của bạn. Tất cả thông tin trên diễn đàn được đăng tự động, không qua kiểm duyệt trước, phù hợp với thực tiễn quốc tế được chấp nhận trong việc lưu trữ thông tin trên Internet. Tuy nhiên, chúng tôi sẽ xem xét tất cả các yêu cầu liên quan đến liên kết tới thông tin vi phạm quyền của bạn.</p>

<p>c) Theo luật bản quyền và các quyền liên quan áp dụng, một siêu liên kết tới dữ liệu (tham chiếu thông tin) không tự nó được bảo vệ bởi bản quyền (mặc dù có thể vi phạm Thỏa thuận Người dùng của trang). Vì vậy, xin vui lòng không gửi thư chứa đe dọa hoặc yêu cầu, vì không có cơ sở pháp lý cho các yêu cầu đó.</p>

</div>
