<div id="infobox-body">

<p><h1>ИНФОРМАЦИЯ ДЛЯ ПРАВООБЛАДАТЕЛЕЙ</h1></p>

<p>Если вы являетесь правообладателем какого-либо материала, ссылки на который размещены на этом сайте, и не хотите, чтобы эта информация распространялась пользователями без вашего согласия, мы с радостью поможем вам, удалив соответствующие ссылки.</p>

<p>Для этого, пожалуйста, отправьте нам электронное письмо, содержащее следующую информацию:</p>

<p>1. Документальное подтверждение ваших прав на материал, защищённый авторским правом:</p>
<p> — отсканированный документ с официальной печатью, или</p>
<p> — письмо с официального домена компании-правообладателя, или</p>
<p> — иная контактная информация, позволяющая однозначно идентифицировать вас как правообладателя.</p>

<p>2. Текст замены, который вы хотите разместить вместо удалённого содержимого.</p>

<p>В этом тексте вы можете указать, где и на каких условиях пользователи могут получить информацию, ссылки на которую были удалены, а также ваши контактные данные, чтобы пользователи могли связаться с вами по поводу данного материала.</p>

<p>3. Прямые ссылки на страницы, содержащие ссылки на данные, которые необходимо удалить.</p>

<p>Ссылки должны иметь вид <strong>https://url.to/link</strong> или аналогичный.</p>

<p>В течение 48 часов после получения вашего запроса мы удалим соответствующие ссылки с сайта.</p>

<p class="bold">Наш электронный адрес: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>Предупреждение!</p>

<p>а) мы оставляем за собой право публиковать на сайте любую информацию, отправленную нам на адрес <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) мы не контролируем действия пользователей, которые могут повторно размещать ссылки на информацию, являющуюся объектом вашего авторского права. Вся информация на форуме размещается автоматически, без предварительного просмотра или модерации, в соответствии с общепринятыми международными практиками размещения информации в интернете. Тем не менее, мы рассмотрим все запросы относительно ссылок на информацию, нарушающую ваши права.</p>

<p>в) Согласно действующему законодательству об авторских и смежных правах, гиперссылка на данные (информационная ссылка) сама по себе не является объектом авторского права (хотя может нарушать Пользовательское соглашение сайта). Поэтому просим воздержаться от направлений писем, содержащих угрозы или требования, поскольку нет законных оснований для таких претензий.</p>

</div>
