<div id=\"infobox-body\">

<p><h1>ИНФОРМАЦИЯ ДЛЯ ПРАВООБЛАДАТЕЛЕЙ</h1></p>

<p>Если вы являетесь правообладателем какого-либо материала, ссылка (либо ссылки) на который размещена на этом сайте, и не хотели бы чтобы данная информация распространялась пользователями без вашего на то согласия, то мы будем рады оказать Вам содействие, удалив соответствующие ссылки.</p>

<p>Это требует, чтобы вы отправили нам письмо (в электронной форме)
которое указывает нам следующую информацию:</p>

<p>1. Документальное подтверждение ваших прав на материал, защищённый авторским правом:</p>
<p> - отсканированный документ с печатью, или</p>
<p> - email с официального почтового домена компании правообладателя, либо</p>
<p> - иная контактная информация, позволяющая однозначно идентифицировать вас, как правообладателя данного материала.</p>

<p>2. Текст, который Вы желаете разместить в сопровождении удаляемой информации.</p>

<p>В нем вы можете указать где, и на каких условиях можно получить информацию, ссылки на которую были удалены, а также вашу контактную информацию, чтобы пользователи могли получить от вас всю интересующую их информацию относительно данного материала.</p>

<p>3. Прямые ссылки на страницы сайта, которые содержат ссылки на данные, которые должны быть удалены.</p>

<p>Ссылки должны иметь вид <strong>https://url.to/link</strong> или что-то подобное.</p>

<p>После этого в течение 48 часов, мы удалим интересующие вас ссылки с сайта.</p>

<p class="bold">Наш email: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ВНИМАНИЕ!</p>

<p>а) Мы оставляем за собой право публиковать на сайте любую информацию, отправленную нам по почте <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) мы не осуществляем контроль за действиями пользователей, которые могут повторно размещать ссылки на информацию, являющуюся объектом вашего авторского права. Любая информация на форуме размещается автоматически, без какого-либо контроля со стороны, что соответствует общепринятой международной практике размещения информации в Интернете. Однако, мы в любом случае рассмотрим все Ваши запросы относительно ссылок на информацию, нарушающую ваши права.</p>

<p>с) Согласно Закону об авторском праве и смежных правах, ссылка на любые данные (информационное сообщение) сама по себе не подпадает под действие закона об авторском праве (хотя может нарушать "Соглашение об использовании сайта"). Таким образом, не стоит присылать письма содержащие угрозы либо требования, как не имеющие под собой реальных оснований.</p>

</div><!--/infobox-body-->
