<div id="infobox-body">

<p>

<p><h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1></p>

<p><h3>О САЙТЕ</h3></p>

<p>Данный интернет-ресурс/веб-сайт (далее "Ресурс") является сайтом, позволяющим пользователям обмениваться информацией друг с другом через BitTorrent, а также в других формах, и предоставляет средства для проверки целостности передаваемой информации (через хэш-файлы).</p>

<ol>

<li type="1"><h3>О ПОЛЬЗОВАТЕЛЬСКОМ СОГЛАШЕНИИ</h3>

<p>Данное Пользовательское соглашение (далее "Соглашение") вступает в силу после нажатия кнопки "Я согласен" внизу страницы и действует на протяжении всего времени использования Пользователем Ресурса. Администрация может вносить изменения в Соглашение без предварительного уведомления. Новая редакция Соглашения вступает в силу через 3 (три) дня после её публикации, если иное не указано в новой редакции Соглашения.</p>

<li><h3>ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ</h3>

<p>Пользователь прямо соглашается использовать Ресурс на свой собственный риск.</p>

<p>Пользователь осознаёт и принимает, что Ресурс работает с материалами и данными, созданными третьими лицами и размещёнными ими в интернете с использованием собственных компьютеров и/или серверов. Администрация Ресурса не контролирует содержимое и безопасность этих материалов, поэтому не несёт ответственности:</p>
<ul>
<p>- за содержимое материалов, полученных Пользователем через Ресурс, включая возможное несоответствие действующему законодательству или оскорбительный характер;</p>
<p>- за последствия применения, использования или неиспользования полученной информации;</p>
<p>- за любое несоответствие результатов, полученных через Ресурс, ожиданиям Пользователя;</p>
<p>- за любой ущерб оборудованию или программному обеспечению Пользователя, возникший вследствие использования Ресурса;</p>
<p>- за любую невозможность использования Ресурса по любой причине;</p>
<p>- за последствия, вызванные распространением нелегального или нелицензионного программного обеспечения, аудио/видео контента или других материалов и данных, нарушающих права третьих лиц.</p>
</ul>

<p>Ни при каких обстоятельствах Ресурс не несёт ответственности перед Пользователем или третьими лицами за любые повреждения, убытки или расходы, связанные с Ресурсом, его использованием или невозможностью использования, включая упущенную прибыль.</p>

<p>Администрация Ресурса не обязана обеспечивать конфиденциальность информации, предоставляемой Пользователями, при этом предпринимая все разумные меры, если иное не предусмотрено отдельным соглашением или действующим законодательством.</p>

<p>Обязанности Ресурса не включают контроль легальности передаваемой информации (включая, но не ограничиваясь, информацией, передаваемой между пользователями через BitTorrent, внутренние сообщения в любом виде, текст или файлы), определение прав интеллектуальной собственности или законности передачи и получения такой информации.</p>

<li><h3>ОГРАНИЧЕНИЯ НА ИСПОЛЬЗОВАНИЕ РЕСУРСА ПОЛЬЗОВАТЕЛЕМ</h3>

<p>При использовании данного Ресурса Пользователь не должен и соглашается не совершать следующие действия:</p>
<ul>
<p>- размещать хэш-файлы (торренты), содержащие данные с вирусами или другим вредоносным ПО, файлы или программы, предназначенные для нарушения, уничтожения или ограничения функциональности любого компьютерного или телекоммуникационного оборудования; программы для несанкционированного доступа, серийные номера коммерческого программного обеспечения или средства для их генерации, логины, пароли или иные средства получения несанкционированного доступа к интернет-ресурсам, а также размещать ссылки на вышеуказанные материалы;</p>
<p>- размещать хэш-файлы (торренты) любых сообщений, данных или программ, использование которых нарушает права третьих лиц, включая патенты, товарные знаки, коммерческую тайну, авторские права и смежные права;</p>
<p>- рассылать несанкционированные рекламные сообщения (спам, junk mail) на электронные адреса, указанные на сайте;</p>
<p>- копировать и использовать в коммерческих целях любую информацию, полученную через Ресурс, которая нарушает права других лиц или может нанести им прямой материальный или моральный вред;</p>
<p>- размещать ссылки на веб-ресурсы, содержащие материалы, нарушающие действующее законодательство;</p>
<p>- выдавать себя за другое лицо или представителя организации и/или сообщества без соответствующих полномочий, включая сотрудников администрации или владельца Ресурса.</p>
</ul>

<li><h3>ОТКАЗ ОТ ГАРАНТИЙ</h3>

<p>Доступ к Ресурсу предоставляется на условиях "как есть" без каких-либо явных или подразумеваемых гарантий.</p>

<p>В частности, Администрация Ресурса не гарантирует работоспособность сайта или его отдельных разделов, а также работоспособность и надежность ссылок, размещённых Пользователями.</p>

<p>Ресурс не несёт ответственности за любые прямые или косвенные убытки, возникшие в результате использования или невозможности использования сервиса, а также за несанкционированный доступ к Вашим коммуникациям.</p>

<li><h3>ПРАВА АДМИНИСТРАЦИИ РЕСУРСА</h3>

<p>Администрация Ресурса имеет право отказать в доступе к Ресурсу любому Пользователю или группе Пользователей без объяснения причин и предварительного уведомления.</p>

<p>Администрация Ресурса может изменять или удалять любую информацию, хэш-файлы (торренты), графику, аудио и другие данные, предоставленные Пользователями, без предварительного уведомления и объяснения причин.</p>

<li><h3>ОТВЕТСТВЕННОСТЬ СТОРОН</h3>

<p>Пользователь соглашается, что все споры, возникающие из настоящего Соглашения, разрешаются в соответствии с применимым законодательством.</p>

<p>Пользователь соглашается, что законы и нормы защиты прав потребителей не применимы к использованию данного Ресурса, так как он не предоставляет платных услуг.</p>

<p>Данный Ресурс не устанавливает агентские, партнерские, совместные предприятия, трудовые или иные отношения, не оговоренные явно в настоящем Соглашении.</p>

<p>Бездействие Ресурса в ответ на нарушение Соглашения Пользователем или группой Пользователей не означает одобрения или содействия таким действиям.</p>

<p>Безразличие Ресурса к фактам нарушения Соглашения Пользователем или группой Пользователей не лишает Ресурс права принять соответствующие меры для защиты своих интересов в будущем.</p>

<li><h3>ПРИНЯТИЕ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</h3>

<p>ЕСЛИ ВЫ НЕ СОГЛАСНЫ СО ВСЕМИ ВЫШЕУКАЗАННЫМИ УСЛОВИЯМИ, ВЫ НЕ ИМЕЕТЕ ПРАВА ПОЛНОГО ИЛИ ЧАСТИЧНОГО ДОСТУПА К РЕСУРСУ, ЗА ИСКЛЮЧЕНИЕМ СТРАНИЦЫ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ, А ТАКЖЕ НЕ МОЖЕТЕ ПОЛУЧАТЬ ИЛИ ПОЛУЧАТЬ ДОСТУП К КОНТЕНТУ РЕСУРСА ИНЫМИ СПОСОБАМИ, ПОЛНОСТЬЮ ИЛИ ЧАСТИЧНО.</p>

<p>ЕСЛИ ВЫ НЕ СОГЛАСНЫ С ПОЛЬЗОВАТЕЛЬСКИМ СОГЛАШЕНИЕМ, ВЫ ДОЛЖНЫ НЕМЕДЛЕННО ПОКИНУТЬ РЕСУРС.</p>

</ol>
</p>

</div>
