<div id=\"infobox-body\">

<p>

<p><h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1></p>

<p><h3>О САЙТЕ</h3></p>

<p>Интернет-ресурс / веб-сайт (далее - Ресурс) - это интернет-сайт, который позволяет пользователям обмениваться информацией друг с другом через бит-торрент, а также в свободной форме, и предоставляет средства мониторинга целостности передаваемой информации (через хэш-файлы).</p>

<ol>

<li type="1"><h3>О ПОЛЬЗОВАТЕЛЬСКОМ СОГЛАШЕНИИ</h3>

<p>Данное Пользовательское Соглашение вступает в силу после нажатия "Я согласен" внизу и действует на протяжении всего времени использования ресурса пользователями. Пользовательское соглашение может быть изменено Администрацией без какого-либо уведомления. Новая версия ПС вступает в силу через 3 (три) дня с момента публикации, если иное не предусмотрено в новой редакции Пользовательского соглашения.</p>

<li><h3>ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ</h3>

<p>Пользователь прямо соглашается, что использует Ресурс на свой собственный риск.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Содержание и безопасность этих материалов не контролируется администрацией Ресурса, поэтому она не несёт ответственности:</p>
<ul>
<p>- за содержание материалов, полученных Пользователем при использовании данных Ресурсов, и их возможное несоответствие применимому законодательству или оскорбительный характер;</p>
<p>- за последствия применения, использования или неиспользования полученной информации;</p>
<p>- за возможное несоответствие результатов, полученных с использованием Ресурса, ожиданиям Пользователя;</p>
<p>- за любой ущерб оборудованию или программному обеспечению Пользователя, возникший в результате использования Ресурса;</p>
<p>- за невозможность использования Ресурса по любой причине;</p>
<p>- за последствия, вызванные распространением нелегального или нелицензионного программного обеспечения и аудио-/видеопродукции, а также иных материалов или данных, нарушающих права третьих лиц.</p>
</ul>

<p>Ни при каких обстоятельствах Ресурс не несёт ответственности перед Пользователем или третьими лицами за ущерб, убытки или расходы, связанные с Ресурсом, его использованием или невозможностью использования, включая упущенную прибыль.</p>

<p>Администрация Ресурса не обязана обеспечивать конфиденциальность информации, предоставляемой Пользователями, при этом предпринимает все возможные меры, если отсутствуют иные соглашения или требования законодательства.</p>

<p>Обязанности Ресурса НЕ ВКЛЮЧАЮТ контроль за законностью или незаконностью передаваемой информации (любой, включая информацию, передаваемую между пользователями через бит-торрент, внутреннюю передачу информации через ссылки, текст или файлы), определение прав собственности или законности передачи или получения такой информации.</p>

<li><h3>ОГРАНИЧЕНИЯ НА ИСПОЛЬЗОВАНИЕ РЕСУРСА ПОЛЬЗОВАТЕЛЕМ</h3>

<p>При использовании данного Ресурса Пользователь не имеет права и соглашается с этим:</p>
<ul>
<p>- размещать хэш-файлы (торренты) с данными, содержащими вирусы или другие вредоносные программы, файлы или программы, предназначенные для прерывания, уничтожения или ограничения функциональности любого компьютерного или телекоммуникационного оборудования, программы для несанкционированного доступа, а также серийные номера коммерческого программного обеспечения, программы для их генерации, логины, пароли и иные средства получения несанкционированного доступа к сайтам в Интернете, а также размещать ссылки на вышеуказанную информацию;</p>
<p>- размещать хэш-файлы (торренты) с сообщениями, данными или программами, использование которых нарушает какие-либо патенты, торговые марки, коммерческую тайну, авторские права или другие исключительные права и/или смежные права третьих лиц;</p>
<p>- рассылать на электронные адреса, указанные на сайте, несанкционированные рекламные сообщения (спам);</p>
<p>- копировать и использовать в коммерческих целях любую информацию, полученную посредством данного ресурса, которая нарушает права других или может причинить им прямой материальный или моральный ущерб;</p>
<p>- размещать ссылки на веб-ресурсы, содержимое которых противоречит действующему законодательству;</p>
<p>- выдавать себя за другое лицо или представителя организации и/или сообщества без соответствующих прав, в том числе сотрудников администрации Ресурса.</p>
</ul>

<li><h3>ГАРАНТИЯ ПРОИЗВОДИТЕЛЬНОСТИ</h3>

<p>Доступ к Ресурсу предоставляется «как есть», без каких-либо гарантий, прямых или косвенных.</p>

<p>Администрация Ресурса не гарантирует функциональность сайта, его отдельных разделов, а также работоспособность и достоверность ссылок, размещённых пользователями.</p>

<p>Ресурс не несёт ответственности за любые прямые или косвенные убытки, возникшие вследствие использования или невозможности использования сервиса; несанкционированного доступа к вашим коммуникациям.</p>

<li><h3>ПРАВА АДМИНИСТРАЦИИ РЕСУРСА</h3>

<p>Администрация Ресурса имеет право отказать в доступе к Ресурсу любому Пользователю или группе пользователей без объяснения причин и уведомления.</p>

<p>Администрация Ресурса может изменять или удалять любую информацию, хэш-файлы (торренты), графику, аудио и другие данные, предоставленные Пользователями, без предупреждения и объяснения причин.</p>

<li><h3>ОТВЕТСТВЕННОСТЬ СТОРОН</h3>

<p>Пользователь соглашается, что все возможные споры, касающиеся Соглашения об использовании, будут разрешаться в соответствии с применимым законодательством.</p>

<p>Пользователь принимает, что правила и законы о защите прав потребителей не применимы к использованию данного Ресурса, так как он не предоставляет платных услуг.</p>

<p>Ресурс не устанавливает агентских отношений, партнёрских отношений, отношений по совместной деятельности, найма и иных отношений, не описанных в Соглашении об использовании.</p>

<p>Бездействие Ресурса при нарушении Пользователем или группой пользователей Пользовательского соглашения не означает содействия в таких действиях.</p>

<p>Бездействие Ресурса при нарушениях со стороны Пользователя или группы пользователей не лишает его права впоследствии принимать соответствующие меры защиты своих интересов.</p>

<li><h3>ПРИНЯТИЕ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</h3>

<p>ЕСЛИ ВЫ НЕ СОГЛАСНЫ СО ВСЕМИ ВЫШЕУКАЗАННЫМИ УСЛОВИЯМИ, ВЫ НЕ МОЖЕТЕ ИСПОЛЬЗОВАТЬ РЕСУРС В ЦЕЛОМ ИЛИ ЛЮБУЮ ЕГО ЧАСТЬ, КРОМЕ СТРАНИЦЫ С ПОЛЬЗОВАТЕЛЬСКИМ СОГЛАШЕНИЕМ, И ПОЛУЧАТЬ ИЛИ ПОЛУЧАТЬ ДОСТУП К СОДЕРЖИМОМУ ЭТОГО РЕСУРСА ЛЮБЫМИ ИНЫМИ СПОСОБАМИ.</p>

<p>ЕСЛИ ВЫ НЕ СОГЛАСНЫ С ПОЛЬЗОВАТЕЛЬСКИМ СОГЛАШЕНИЕМ, ВЫ ДОЛЖНЫ НЕМЕДЛЕННО ПОКИНУТЬ РЕСУРС.</p>

</ol>
</p>

</div><!--/infobox-body-->
