<div id="infobox-body">

<p><h1>INFORMATIONS POUR LES TITULAIRES DE DROITS D'AUTEUR</h1></p>

<p>Si vous êtes le titulaire des droits d'auteur de tout matériel lié sur ce site et que vous ne souhaitez pas que ces informations soient diffusées par les utilisateurs sans votre consentement, nous serons ravis de vous aider en supprimant les liens concernés.</p>

<p>Pour ce faire, veuillez nous envoyer une lettre électronique contenant les informations suivantes :</p>

<p>1. Justificatif documentaire de vos droits sur le matériel protégé par le droit d'auteur :</p>
<p> — un document scanné portant un sceau officiel, ou</p>
<p> — un e-mail envoyé depuis le domaine officiel de la société détentrice des droits, ou</p>
<p> — d'autres informations de contact permettant de vous identifier de manière unique en tant que titulaire des droits.</p>

<p>2. Le texte de remplacement que vous souhaitez voir publié à la place du contenu retiré.</p>

<p>Dans ce texte, vous pouvez préciser où et dans quelles conditions les utilisateurs peuvent obtenir les informations dont les liens ont été supprimés, ainsi que vos coordonnées pour que les utilisateurs puissent vous contacter à ce sujet.</p>

<p>3. Liens directs vers les pages contenant des références aux données devant être supprimées.</p>

<p>Les liens doivent être au format <strong>https://url.to/link</strong> ou similaire.</p>

<p>Dans les 48 heures suivant la réception de votre demande, nous retirerons les liens concernés du site.</p>

<p class="bold">Notre email : <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>AVERTISSEMENT !</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nous n'avons aucun contrôle sur les actions des utilisateurs qui pourraient republier des liens vers des informations faisant l'objet de vos droits d'auteur. Toutes les informations sur le forum sont publiées automatiquement, sans contrôle ou modération préalable, conformément aux pratiques internationales généralement acceptées pour l'hébergement d'informations sur Internet. Néanmoins, nous examinerons toutes les demandes concernant les liens vers des informations portant atteinte à vos droits.</p>

<p>c) En vertu du droit d'auteur et des droits voisins applicables, un hyperlien vers des données (une référence d'information) n'est pas, en soi, soumis à la protection du droit d'auteur (bien qu'il puisse violer le contrat d'utilisation du site). Par conséquent, veuillez vous abstenir d'envoyer des lettres contenant des menaces ou des exigences, car il n'existe aucun fondement juridique à de telles réclamations.</p>

</div>
