<div id=\"infobox-body\">

<p><h1>INFORMATION POUR LES TITULAIRES DE DROITS D'AUTEUR</h1></p>

<p>Si vous êtes titulaire des droits de tout matériel (ou liens) accessibles sur ce site, et que vous ne souhaitez pas que cette information soit diffusée par les utilisateurs sans votre consentement, nous serons heureux de vous aider en supprimant les liens appropriés.</p>

<p>Cela nécessite que vous nous ayez envoyé une lettre (au format électronique)
qui nous indique les informations suivantes :</p>

<p>1. Justificatifs documentaires de vos droits sur le matériel protégé par le droit d'auteur :</p>
<p> - document numérisé avec le sceau, ou</p>
<p> - e-mail d'un domaine officiel de la société propriétaire, ou</p>
<p> - autres informations de contact qui vous identifient de manière unique en tant que propriétaire du matériel.</p>

<p>2. Le texte que vous souhaitez publier, accompagné d'une information amovible.</p>

<p>Vous pouvez y indiquer où et sous quelles conditions les utilisateurs peuvent obtenir les informations dont les références ont été supprimées, ainsi que vos coordonnées, afin que les utilisateurs puissent obtenir de vous toutes les informations nécessaires concernant ce matériel.</p>

<p>3. Les liens directs vers les pages contenant les références aux données devant être supprimées.</p>

<p>Les liens doivent être sous la forme <strong>https://url.to/link</strong> ou quelque chose de similaire.</p>

<p>Après cela, dans un délai de 48 heures, nous supprimerons les liens qui vous intéressent du site.</p>

<p class="bold">Notre email : <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>AVERTISSEMENT !</p>

<p>a) Nous nous réservons le droit de publier sur le site toute information qui nous est envoyée par courrier électronique à <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nous n'avons aucun contrôle sur les actions des utilisateurs qui peuvent republier des liens vers des informations faisant l'objet de vos droits d'auteur. Toute information sur le forum est publiée automatiquement, sans aucun contrôle de quelque partie que ce soit, ce qui correspond à la pratique internationale généralement acceptée de publication d'informations sur Internet. Cependant, dans tous les cas, nous prenons en compte toutes vos demandes concernant les références à l'information qui portent atteinte à vos droits.</p>

<p>c) Conformément à la Loi sur le Droit d'Auteur et les Droits Connexes, une référence à des données (message d'information) n'est pas soumise au droit d'auteur en tant que tel (même si cela peut violer l'"Accord sur l'utilisation du site"). Ainsi, il n'est pas nécessaire d'envoyer des lettres contenant des menaces ou des demandes sans raison valable.</p>

</div><!--/infobox-body-->
