<div id=\"infobox-body\">

<p>

<p><h1>CONTRAT D'UTILISATEUR</h1></p>

<p><h3>À PROPOS DU SITE</h3></p>

<p>Ressource Internet / site web (ci-après - Ressource) est un site internet qui permet aux utilisateurs de partager des informations entre eux via BitTorrent, ainsi que de manière libre, et fournit un moyen de contrôler l'intégrité des informations transmises (via fichiers de hachage).</p>

<ol>

<li type="1"><h3>À PROPOS DU CONTRAT D'UTILISATEUR</h3>

<p>Le présent CONTRAT D'UTILISATEUR entre en vigueur après avoir cliqué sur "J'accepte" en bas et s'applique pendant toute la durée d'utilisation de la ressource par les utilisateurs. Le CONTRAT D'UTILISATEUR peut être modifié par l'Administration sans préavis. La nouvelle version du CONTRAT D'UTILISATEUR entre en vigueur après trois (3) jours à compter de la date de sa soumission, sauf disposition contraire prévue dans la nouvelle version du CONTRAT D'UTILISATEUR.</p>

<li><h3>LIMITATIONS DE RESPONSABILITÉ</h3>

<p>L'utilisateur accepte expressément d'utiliser la Ressource à ses propres risques.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. <p>Le contenu et la sécurité de ces matériaux ne peuvent être contrôlés par l'administration de la Ressource, ainsi celle-ci n'est pas responsable :</p>
<ul>
<p>- du contenu des matériaux obtenus par l'utilisateur via l'utilisation des données de la Ressource et de leur possible non-conformité aux lois applicables ou caractère offensant ;</p>
<p>- des conséquences de l'application, de l'utilisation ou de la non-utilisation des informations reçues ;</p>
<p>- d'un éventuel écart entre les résultats obtenus via la Ressource et les attentes de l'utilisateur ;</p>
<p>- de tout dommage matériel ou logiciel subi par l'utilisateur résultant de l'utilisation de la Ressource ;</p>
<p>- de l'incapacité à utiliser la Ressource pour quelque raison que ce soit ;</p>
<p>- des conséquences pouvant résulter de la diffusion de logiciels ou produits audio/vidéo illégaux ou non licenciés, ainsi que d'autres matériaux ou données affectant les droits de tiers.</p>
</ul>

<p>En aucun cas la Ressource ne pourra être tenue responsable envers l'utilisateur ou un tiers des dommages, pertes ou dépenses découlant de l'utilisation ou de l'incapacité à utiliser cette Ressource, y compris la perte de bénéfices ou profits.</p>

<p>L'administration de la Ressource n'est pas tenue d'assurer la confidentialité des informations fournies par ses utilisateurs, tout en prenant toutes les mesures possibles à cet effet, sauf accord contraire ou exigences légales applicables.</p>

<p>Les obligations de la Ressource n'incluent pas le contrôle des informations légalement ou illégalement transmises (y compris, mais sans s'y limiter, les informations échangées entre utilisateurs via BitTorrent, les transferts internes d'informations sous diverses formes, texte ou fichiers), ni la détermination des droits de propriété ou de la légitimité de la transmission ou réception de ces informations.</p>

<li><h3>LIMITES D'UTILISATION DE LA RESSOURCE PAR L'UTILISATEUR</h3>

<p>Lors de l'utilisation de cette Ressource, l'UTILISATEUR n'a pas le droit, et s'engage à ne pas :</p>
<ul>
<p>- placer des fichiers de hachage (torrents) contenant des virus ou autres programmes malveillants connus, fichiers ou programmes conçus pour interrompre, détruire ou limiter la fonctionnalité de tout équipement informatique ou de télécommunications, ou programmes d'accès non autorisé, ainsi que des numéros de série pour des logiciels commerciaux et des programmes de génération, identifiants, mots de passe et autres moyens d'accès non autorisé aux sites Internet, et publier des liens vers ces informations ;</p>
<p>- placer des fichiers de hachage (torrents) contenant des messages, données ou programmes dont l'utilisation viole un brevet, une marque, un secret commercial, un droit d'auteur ou d'autres droits de propriété et/ou droits d'auteur et droits connexes de tiers ;</p>
<p>- envoyer aux adresses e-mail figurant sur le site des messages de type publicitaire non autorisés (courrier indésirable, spam) ;</p>
<p>- copier et utiliser à des fins commerciales toute information obtenue via cette ressource, violant les droits d'autrui ou pouvant leur causer un dommage matériel ou moral direct ;</p>
<p>- publier des liens vers des ressources web dont le contenu est contraire à la législation en vigueur ;</p>
<p>- se faire passer pour toute personne ou représentant d'une organisation et/ou communauté sans droits suffisants, y compris les employés de l'Administration, en tant que propriétaire de la Ressource.</p>
</ul>

<li><h3>GARANTIE DE PERFORMANCE</h3>

<p>L'accès à la Ressource est fourni «tel quel», sans garantie d'aucune sorte, ni directe ni indirecte.</p>

<p>En particulier, l'Administration de la Ressource ne garantit pas le fonctionnement du site ni de ses sections individuelles, ni la performance et la fiabilité des liens placés par ses utilisateurs.</p>

<p>La Ressource n'est pas responsable des pertes directes ou indirectes survenues du fait de : l'utilisation ou l'impossibilité d'utiliser le service ; l'accès non autorisé à vos communications.</p>

<li><h3>DROITS DE L'ADMINISTRATION DE LA RESSOURCE</h3>

<p>L'Administration de la Ressource a le droit de refuser l'accès à la ressource à tout Utilisateur ou groupe d’utilisateurs sans justification ni préavis.</p>

<p>L'Administration de la Ressource peut modifier ou supprimer toute information, fichiers de hachage (torrents), graphiques, audio, et autres données soumises par l'utilisateur depuis la ressource sans préavis ni explication.</p>

<li><h3>RESPONSABILITÉS DES PARTIES</h3>

<p>L'utilisateur accepte que tous les litiges possibles concernant le CONTRAT D'UTILISATION seront réglés conformément à la norme juridique.</p>

<p>L'utilisateur accepte que les règles et lois sur la protection des consommateurs ne s'appliquent pas à l'utilisation de cette Ressource, puisqu'elle ne propose pas de services payants.</p>

<p>La Ressource ne crée pas de relations d'agent utilisateur, de partenariat, de recrutement, ni aucune autre relation non expressément décrite dans le CONTRAT D'UTILISATION.</p>

<p>L'inaction de la Ressource suite à une violation du CONTRAT D'UTILISATION par un ou plusieurs utilisateurs ne signifie pas que la Ressource assiste ces utilisateurs dans de telles actions.</p>

<p>L'inaction de la Ressource suite à une violation du CONTRAT D'UTILISATION par un ou plusieurs utilisateurs ne prive pas la Ressource du droit de prendre ultérieurement les mesures appropriées pour protéger ses intérêts.</p>

<li><h3>ACCEPTATION DU CONTRAT D'UTILISATEUR</h3>

<p>SI VOUS N'ACCEPTEZ PAS TOUTES LES CONDITIONS CI-DESSUS, VOUS NE POUVEZ PAS ACCÉDER À LA RESSOURCE NI À AUCUNE DE SES PARTIES, SAUF LA PAGE DU CONTRAT D'UTILISATEUR, NI RECEVOIR NI ACCÉDER AU CONTENU DE CETTE RESSOURCE PAR QUELQUE MOYEN QUE CE SOIT, EN TOUT OU EN PARTIE !</p>

<p>SI VOUS N'ACCEPTEZ PAS LE CONTRAT D'UTILISATEUR, VOUS DEVEZ IMMÉDIATEMENT QUITTER LA RESSOURCE.</p>

</ol>
</p>

</div><!--/infobox-body-->
