<div id="infobox-body">

<p>

<p><h1>ACCORD DE L'UTILISATEUR</h1></p>

<p><h3>À PROPOS DU SITE</h3></p>

<p>Cette ressource Internet/site web (ci-après dénommée « Ressource ») est un site qui permet aux utilisateurs de partager des informations entre eux via BitTorrent, ainsi que sous d'autres formes, et fournit un moyen de vérifier l'intégrité des informations transmises (via des fichiers de hachage).</p>

<ol>

<li type="1"><h3>À PROPOS DE CET ACCORD DE L'UTILISATEUR</h3>

<p>Le présent Accord de l'Utilisateur (ci-après dénommé « Accord ») entre en vigueur dès le clic sur « J'accepte » en bas de page et reste valable pendant toute la durée d'utilisation de la Ressource par l'Utilisateur. L'Administration peut modifier l'Accord sans préavis. La nouvelle version de l'Accord entre en vigueur 3 (trois) jours après sa publication, sauf indication contraire dans la nouvelle version de l'Accord.</p>

<li><h3>LIMITATIONS DE RESPONSABILITÉ</h3>

<p>L'Utilisateur accepte expressément d'utiliser la Ressource à ses propres risques.</p>

<p>L'Utilisateur reconnaît et accepte que la Ressource traite des matériaux et des données créés par des tiers et hébergés par eux sur Internet via leurs propres ordinateurs et/ou serveurs. Le contenu et la sécurité de ces matériaux ne peuvent être contrôlés par l’Administration de la Ressource ; par conséquent, l’Administration ne pourra être tenue responsable :</p>
<ul>
<p>- du contenu des matériaux obtenus par l’Utilisateur via la Ressource, y compris toute éventuelle incohérence avec les lois applicables ou leur nature offensante ;</p>
<p>- des conséquences liées à l’application, à l’utilisation ou au non-usage des informations obtenues ;</p>
<p>- de toute discordance entre les résultats obtenus via la Ressource et les attentes de l’Utilisateur ;</p>
<p>- de tout dommage matériel ou logiciel subi par l’Utilisateur suite à l’utilisation de la Ressource ;</p>
<p>- de toute impossibilité d’utiliser la Ressource pour quelque raison que ce soit ;</p>
<p>- des conséquences pouvant résulter de la diffusion de logiciels illégaux ou non autorisés, de contenus audio/vidéo ou d’autres matériels ou données portant atteinte aux droits de tiers.</p>
</ul>

<p>En aucun cas la Ressource ne pourra être tenue responsable envers l’Utilisateur ou un tiers pour des dommages, pertes ou dépenses liés à la Ressource, à son utilisation ou à l’impossibilité de l’utiliser, y compris les pertes de profits.</p>

<p>L’Administration de la Ressource n’est pas tenue d’assurer la confidentialité des informations fournies par ses Utilisateurs, tout en prenant toutes les mesures raisonnables pour le faire, sauf accord spécifique ou obligation légale contraire.</p>

<p>Les obligations de la Ressource n’incluent pas la surveillance de la légalité des informations transmises (notamment celles échangées entre utilisateurs via BitTorrent, messages internes sous toute forme, textes ou fichiers), ni la détermination des droits de propriété intellectuelle ou la légitimité de leur transmission ou réception.</p>

<li><h3>RESTRICTIONS DANS L’UTILISATION DE LA RESSOURCE PAR L’UTILISATEUR</h3>

<p>Lors de l’utilisation de cette Ressource, l’Utilisateur s’interdit et s’engage à ne pas :</p>
<ul>
<p>- télécharger des fichiers de hachage (torrents) contenant des données infectées par des virus ou autres logiciels malveillants, des fichiers ou programmes conçus pour perturber, détruire ou limiter la fonctionnalité de tout équipement informatique ou de télécommunications, des programmes d’accès non autorisé, des numéros de série de logiciels commerciaux ou leurs générateurs, des identifiants, mots de passe ou autres moyens d’accès non autorisé à des ressources Internet, ainsi que publier des liens vers ces contenus ;</p>
<p>- télécharger des fichiers de hachage (torrents) contenant des messages, données ou programmes dont l’utilisation enfreint un brevet, une marque, un secret commercial, un droit d’auteur ou tout autre droit de propriété et/ou droits apparentés de tiers ;</p>
<p>- envoyer des messages publicitaires non sollicités (courriers indésirables, spam) aux adresses électroniques figurant sur le site ;</p>
<p>- copier et utiliser à des fins commerciales toute information obtenue via la Ressource qui viole les droits d’autrui ou pourrait leur causer un dommage matériel ou moral direct ;</p>
<p>- publier des liens vers des ressources web dont le contenu viole la législation applicable ;</p>
<p>- usurper l’identité de toute personne ou représentant d’une organisation et/ou communauté sans autorisation appropriée, y compris les employés de l’Administration ou le propriétaire de la Ressource.</p>
</ul>

<li><h3>EXCLUSION DE GARANTIES</h3>

<p>L’accès à la Ressource est fourni « tel quel » sans aucune garantie, expresse ou implicite, de quelque nature que ce soit.</p>

<p>En particulier, l’Administration de la Ressource ne garantit ni la fonctionnalité du site ou de ses sections individuelles, ni la disponibilité et la fiabilité des liens postés par ses Utilisateurs.</p>

<p>La Ressource n’est pas responsable des pertes directes ou indirectes résultant de : l’utilisation ou l’impossibilité d’utiliser le service ; ou un accès non autorisé à vos communications.</p>

<li><h3>DROITS DE L’ADMINISTRATION DE LA RESSOURCE</h3>

<p>L’Administration de la Ressource a le droit de refuser l’accès à la Ressource à tout Utilisateur ou groupe d’Utilisateurs sans explication ni préavis.</p>

<p>L’Administration de la Ressource peut modifier ou supprimer toute information, fichiers de hachage (torrents), graphiques, audio et autres données soumises par les Utilisateurs sans préavis ni explication.</p>

<li><h3>RESPONSABILITÉS DES PARTIES</h3>

<p>L’Utilisateur accepte que tous les litiges découlant de cet Accord soient résolus conformément à la loi applicable.</p>

<p>L’Utilisateur accepte que les lois et règlements sur la protection des consommateurs ne s’appliquent pas à l’utilisation de cette Ressource, car elle ne fournit pas de services payants.</p>

<p>La Ressource n’établit pas d’agence, de partenariat, de coentreprise, d’emploi ou toute autre relation non expressément décrite dans cet Accord.</p>

<p>L’inaction de la Ressource face à une violation du présent Accord par un Utilisateur ou groupe d’Utilisateurs ne constitue pas une approbation ou une complicité dans de telles actions.</p>

<p>L’inaction de la Ressource suite à une violation du présent Accord par un Utilisateur ou groupe d’Utilisateurs ne prive pas la Ressource du droit de prendre des mesures appropriées ultérieurement pour protéger ses intérêts.</p>

<li><h3>ACCEPTATION DE L’ACCORD DE L’UTILISATEUR</h3>

<p>SI VOUS N’ACCEPTEZ PAS TOUS LES TERMES ET CONDITIONS CI-DESSUS, VOUS NE DEVEZ PAS ACCÉDER À LA RESSOURCE, EN TOUT OU EN PARTIE, SAUF À LA PAGE DE CET ACCORD D’UTILISATION, NI RECEVOIR ET/OU ACCÉDER AU CONTENU DE CETTE RESSOURCE PAR QUELQUE AUTRE MOYEN, EN TOUT OU EN PARTIE.</p>

<p>SI VOUS N’ÊTES PAS D’ACCORD AVEC LE PRÉSENT ACCORD, VOUS DEVEZ QUITTER IMMÉDIATEMENT LA RESSOURCE.</p>

</ol>
</p>

</div>
