<div id=\"infobox-body\">

<p><h1>MÜƏLLİFLİK HÜQUQ SAHİBLƏRİ ÜÇÜN MƏLUMAT</h1></p>

<p>Əgər bu saytda mövcud olan hər hansı materialın müəlliflik hüququ sizə məxsusdursa və bu məlumatların istifadəçilər tərəfindən sizin razılığınız olmadan yayılmasını istəmirsinizsə, uyğun keçidlərin silinməsində sizə kömək etməkdən məmnun olarıq.</p>

<p>Bu tələb edir ki, siz bizə məktub göndərəsiniz (elektron formada)
bizə aşağıdakı məlumatları göstərir:</p>

<p>1. Müəlliflik hüquqları ilə qorunan material üzərində hüquqlarınızı təsdiq edən sənədli sübut:</p>
<p> - möhürü olan skan edilmiş sənəd, və ya</p>
<p> - şirkət sahibinin rəsmi e-poçt domenindən gələn e-məktub, və ya</p>
<p> - sizi materialın sahibi kimi birbaşa müəyyən edən digər əlaqə məlumatları.</p>

<p>2. Yerləşdirmək istədiyiniz mətn, çıxarıla bilən məlumatla müşayiət olunur.</p>

<p>Burada silinmiş istinadların harada və hansı şərtlərlə əldə oluna biləcəyini, eləcə də istifadəçilərin bu materialla bağlı sizdən lazım olan bütün məlumatları ala bilməsi üçün əlaqə məlumatlarınızı göstərə bilərsiniz.</p>

<p>3. Silinməsi tələb olunan müəyyən məlumatlara istinad olan səhifələrə birbaşa keçidlər.</p>

<p>Keçidlər <strong>https://url.to/link</strong> və ya buna bənzər formada olmalıdır.</p>

<p>Bundan sonra 48 saat ərzində, maraqlandığınız keçidləri saytdan siləcəyik.</p>

<p class="bold">Bizim e-poçt: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>DIQQƏT!</p>

<p>a) Bizə <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> ünvanına göndərilən hər hansı məlumatı saytımızda yayımlamaq hüququnu özümüzdə saxlayırıq.</p>

<p>b) Müəllif hüququnuzun obyekti olan məlumatlara keçidləri yenidən paylaşa bilən istifadəçilərin hərəkətlərinə nəzarətimiz yoxdur. Forumda istənilən məlumat avtomatik olaraq, heç bir tərəfdən nəzarət olmadan yerləşdirilir ki, bu da informasiyanın İnternetdə yerləşdirilməsinin ümumi qəbul edilmiş beynəlxalq təcrübəsinə uyğundur. Bununla belə, hər halda hüquqlarınızı pozan məlumatlara istinadla bağlı bütün sorğularınızı nəzərə alırıq.</p>

<p>c) “Müəlliflik hüququ və əlaqəli hüquqlar haqqında” Qanuna əsasən, hər hansı məlumata (məlumat mesajı) istinad öz-özlüyündə müəllif hüququ qanununa tabe deyil (baxmayaraq ki, bu, “Veb-saytdan istifadə haqqında Müqavilə”ni poza bilər). Beləliklə, həqiqi səbəb olmadığından, hədə-qorxu və ya tələb dolu məktublar göndərməyə ehtiyac yoxdur.</p>

</div><!--/infobox-body-->
