<div>
	<h3>Yan panel 2</h3>
	Məzmun əlavə etmək üçün bu yan panel, aşağıdakı faylları redaktə edin:
	<br /><br />
	<ul class="med">
		<li>kitabxana/dil/*/html/yan_panel2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Bu yan paneli deaktiv etmək üçün config/layouts.php faylında page.show_sidebar2 dəyişənini false olaraq təyin edin.
</div>
