<div id=\"infobox-body\">

<p>

<p><h1>İSTİFADƏÇİ SAZİŞİ</h1></p>

<p><h3>SAYTIN HAQQINDA</h3></p>

<p>İnternet resursu / veb sayt (bundan sonra - Resurs) istifadəçilərin bit-torrent vasitəsilə və pulsuz formada məlumatları bir-biri ilə paylaşmasına imkan tanıyan bir internet saytıdır və ötürülən məlumatların bütövlüyünü nəzarət etmək üçün vasitə təqdim edir (hash-fayllar vasitəsilə).</p>

<ol>

<li type="1"><h3>İSTİFADƏÇİ SAZİŞİ HAQQINDA</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. İSTİFADƏÇİ SAZİŞİ Administrasiya tərəfindən heç bir xəbərdarlıq edilmədən dəyişdirilə bilər. İSTİFADƏÇİ SAZİŞİNİN yeni variantında başqa hal nəzərdə tutulmayıbsa, SAZİŞİN yeni variantı təqdim edildiyi tarixdən 3 (üç) gün sonra qüvvəyə minir.</p>

<li><h3>MƏSULİYYƏTİN MƏHDUDLAŞDIRILMASI</h3>

<p>İstifadəçi açıq şəkildə qəbul edir ki, resursdan istifadə öz riskidir.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Materialların məzmunu və təhlükəsizliyi Resurs administrasiyası tərəfindən idarə oluna bilməz, ona görə də aşağıdakılara görə məsul deyil:</p>
<ul>
<p>- İstifadəçinin Resursun məlumatlarından əldə etdiyi materialların məzmununa, onların mövcud qanunvericiliklə uyğunsuzluğuna və ya təhqiramiz olmasına görə;</p>
<p>- əldə edilmiş məlumatların tətbiqi, istifadəsi və ya istifadəsizliyi nəticələrinə görə;</p>
<p>- İstifadəçinin gözləntiləri ilə əldə edilmiş nəticələr arasında uyğunsuzluq üçün;</p>
<p>- Resursun istifadəsi nəticəsində istifadəçinin aparat və proqram təminatına zərər üçün;</p>
<p>- hər hansı səbəbdən Resursdan istifadə edə bilməməyə görə;</p>
<p>- qeyri-qanuni və ya lisensiyasız proqram təminatlarının, audio/vidéo məhsullarının və üçüncü şəxslərin hüquqlarına təsir edən digər material və məlumatların yayılmasından yaranmış nəticələrə görə.</p>
</ul>

<p>Heç bir halda Resurs, istifadəçi və ya üçüncü şəxs qarşısında bu Resursla, onun istifadəsi və ya istifadəyə biləməməsi ilə əlaqədar ziyan, itki və ya xərclərə xüsusilə itki və ya əldə edilməmiş mənfəət daxil olmaqla məsuliyyət daşımır.</p>

<p>Resurs Administrasiyası, əksinə razılaşma və ya müvafiq qanunvericilik tələbləri olmadığı halda, istifadəçilər tərəfindən verilən məlumatların gizliliyini təmin etmək öhdəliyində deyil, lakin mümkün olan bütün tədbirləri görür.</p>

<p>Resursun vəzifələrinə qanuni və ya qanunsuz ötürülən məlumatların (istifadəçilər arasında bit-torrent vasitəsilə ötürülən, daxili keçidlərdə olan məlumatlar, mətn və ya fayllar daxil olmaqla, amma bunlarla məhdudlaşmamaqla) idarə olunması, mülkiyyət hüquqları və ötürüb almanın qanuniliyinin müəyyən edilməsi daxil deyil.</p>

<li><h3>İSTİFADƏÇİNİN RESURSDAN İSTİFADƏ MƏHDUDİYYƏTLƏRİ</h3>

<p>Bu Resursdan istifadə etdikdə, İSTİFADƏÇİ aşağıdakılara haqlı deyildir və bunları qəbul edir:</p>
<ul>
<p>- virus və digər zərərli proqramlar, kompüter və telekommunikasiya avadanlıqlarının və proqramlarının funksionallığını pozmaq, məhdudlaşdırmaq üçün hazırlanmış fayllar, proqramlar, icazəsiz giriş üçün proqramlar, kommersiya proqramlarının serial nömrələri və onların yaradılması proqramlarını, istifadəçi adları, parollar və internet saytlarına icazəsiz giriş vasitələrini özündə birləşdirən hash-fayllar (torrentlər) yerləşdirmək və yuxarıdakılara linklər göndərmək;</p>
<p>- heç bir patentin, əmtəə nişanının, ticarət sirrinin, müəllif hüququ və ya digər mülkiyyət hüquqları ilə və ya üçüncü şəxslərin hüquqları və əlaqəli hüquqları ilə pozan mesaj, məlumat və proqramları özündə birləşdirən hash-fayllar (torrentlər) yerləşdirmək;</p>
<p>- saytda qeyd edilmiş e-poçt ünvanlarına icazəsiz reklam xarakterli (spam, zibil poçtu) məktublar göndərmək;</p>
<p>- bu resurs vasitəsilə əldə edilmiş məlumatları kommersiya məqsədilə surət çıxarmaq və istifadə etmək, başqalarının hüquqlarını pozmaq və ya onlara maddi və mənəvi zərər vurmaq;</p>
<p>- məzmunu mövcud qanunvericiliklə zidd olan veb resurslara linklər göndərmək;</p>
<p>- kifayət qədər hüquqları olmadan hər hansı bir şəxsin və ya təşkilatın nümayəndəsi kimi davranmaq, o cümlədən Administrasiyanın əməkdaşları kimi görünmək.</p>
</ul>

<li><h3>ZƏMANƏT PERFORMANSI</h3>

<p>Resursa giriş "olduğu kimi" prinsipində, həm birbaşa, həm də dolayı heç bir zəmanət olmadan təmin edilir.</p>

<p>Xüsusilə Resurs Administrasiyası saytı, onun ayrı-ayrı bölmələrinin işləməsini və istifadəsini, həmçinin istifadəçiləri tərəfindən yerləşdirilən linklərin işləkliyini və etibarlılığını təmin etmir.</p>

<p>Resurs, xidmətin istifadəsi və ya istifadəyə biləməməsi səbəbindən, icazəsiz girişdən və ya digər səbəblərdən yaranan birbaşa və ya dolayı zərərlərə görə məsuliyyət daşımır.</p>

<li><h3>RESURS ADMINİSTRASİYASININ HÜQUQLARI</h3>

<p>Resurs Administrasiyası, öz hərəkətləri haqqında izahat vermədən və əvvəlcədən xəbərdarlıq etmədən istənilən istifadəçi və ya istifadəçi qrupunun bu resursdan istifadəsini qadağan etmək hüququna malikdir.</p>

<p>Resurs Administrasiyası, istifadəçi tərəfindən resursa göndərilmiş istənilən məlumat, hash-fayllar (torrentlər), qrafik, audio və digər məlumatları xəbərdarlıq və izah vermədən dəyişdirmək və ya silmək hüququna malikdir.</p>

<li><h3>TƏRƏFLƏRİN MƏSULİYYƏTİ</h3>

<p>İstifadəçi razılaşır ki, İSTİFADƏ SAZİŞİ ilə bağlı mümkün bütün mübahisələr qanuni qaydalar əsasında həll olunacaq.</p>

<p>İstifadəçi qəbul edir ki, istehlakçı hüquqlarının qorunması qaydaları və qanunları ödənişli xidmətləri olmadığı üçün Resursun istifadəsinə tətbiq edilə bilməz.</p>

<p>Resurs istifadəçi agentliyi münasibətləri, ortaq fəaliyyət üzrə tərəfdaşlıq münasibətləri, işə qəbul münasibətləri və İSTİFADƏ SAZİŞİNDƏ açıq şəkildə təsvir edilməmiş digər münasibətləri yaratmır.</p>

<p>Resursun istifadəçi və ya istifadəçi qrupunun İSTİFADƏ SAZİŞİNİN pozulması hadisəsi qarşısında hərəkətsizliyi Resursun belə hərəkətlərdə istifadəçilərə və ya istifadəçi qruplarına yardımçı olacağını göstərmir.</p>

<p>Resursun hərəkətsizliyi İSTİFADƏ SAZİŞİNİN pozulmasına görə sonradan öz maraqlarını qorumaq üçün müvafiq tədbirlər görmək hüququndan məhrum etmir.</p>

<li><h3>İSTİFADƏÇİ SAZİŞİNİN QƏBULU</h3>

<p>YUXARIDA GÖSTƏRİLƏN BÜTÜN ŞƏRTLƏR VƏ QEYDİYYATLA RAZI DEYİLSİNİZSƏ, İSTİFADƏÇİ SAZİŞİNDƏN BAŞQA SƏHİFƏDƏN KENAR RESURSA BÜTÜN MƏZMUNU ALMAQ VƏ YA RESURSDAN İSTİFADƏ ETMƏK QADAĞANDIR!</p>

<p>İSTİFADƏÇİ SAZİŞİ İLƏ RAZI DEYİLSİNİZSƏ, DƏRHAL RESURSU TƏRK ETMƏLİSİNİZ.</p>

</ol>
</p>

</div><!--/infobox-body-->
