<div id="infobox-body">

<p>

<p><h1>İSTİFADƏÇİ SAZİŞ</h1></p>

<p><h3>SAYT HAQQINDA</h3></p>

<p>Bu internet resursu/veb sayt (bundan sonra "Resurs") istifadəçilərə BitTorrent vasitəsilə və digər formalarda bir-biri ilə məlumat paylaşmağa imkan verən sayt olmaqla yanaşı, ötürülən məlumatların bütövlüyünü yoxlamaq üçün vasitə təqdim edir (hash faylları vasitəsilə).</p>

<ol>

<li type="1"><h3>BU İSTİFADƏÇİ SAZİŞ HAQQINDA</h3>

<p>Bu İstifadəçi Sazişi (bundan sonra "Saziş" adlanacaq) aşağıda yerləşən "Razıyam" düyməsini kliklədikdə qüvvəyə minir və İstifadəçinin Resursdan istifadə etdiyi müddət ərzində qüvvədə qalacaq. Saziş İdarəetmə tərəfindən əvvəlcədən xəbərdarlıq olmadan dəyişdirilə bilər. Sazişin yeni versiyası yerləşdirildikdən sonra 3 (üç) gün sonra qüvvəyə minir, əgər yeni versiyada başqa cür göstərilməyibsə.</p>

<li><h3>MƏSULİYYƏTİN MƏHDUDLAŞDIRILMASI</h3>

<p>İstifadəçi Resursdan öz riskləri hesabına istifadə etməyi açıq şəkildə qəbul edir.</p>

<p>İstifadəçi təsdiqləyir və qəbul edir ki, Resurs üçüncü şəxslər tərəfindən yaradılmış və öz kompüterləri və/və ya serverlərində İnternetdə yerləşdirilmiş materiallar və məlumatlarla işləyir. Bu materialların məzmunu və təhlükəsizliyi Resurs İdarəetməsi tərəfindən nəzarətdə tutulmur; buna görə İdarəetmə məsuliyyət daşımır:</p>
<ul>
<p>- İstifadəçi tərəfindən Resurs vasitəsilə əldə olunan materialların məzmunu, o cümlədən qanunvericiliyə ziddliyi və ya təhqiredici xarakteri üçün;</p>
<p>- əldə edilən məlumatların tətbiqi, istifadəsi və ya istifadəsinin qarşısının alınmasının nəticələri üçün;</p>
<p>- Resurs vasitəsilə əldə edilmiş nəticələr ilə İstifadəçinin gözləntiləri arasındakı uyğunsuzluq üçün;</p>
<p>- Resursun istifadəsi nəticəsində İstifadəçinin aparat və ya proqram təminatına dəyən hər hansı zərər üçün;</p>
<p>- hər hansı səbəbdən Resursdan istifadə edə bilməmək üçün;</p>
<p>- qeyri-qanuni və ya lisenziyasız proqram təminatı, audio/video məzmun və ya üçüncü şəxslərin hüquqlarını pozan digər materialların yayılmasından yaranan nəticələr üçün.</p>
</ul>

<p>Heç bir halda Resurs, İstifadəçiyə və ya hər hansı üçüncü şəxsə Resursun istifadəsi, istifadə edə bilməməsi və ya əlaqədar zərərlər, itkilər və xərclər, o cümlədən itirilmiş gəlirlər üçün məsuliyyət daşımır.</p>

<p>Resurs İdarəetməsi İstifadəçilər tərəfindən təqdim edilən məlumatların məxfiliyini təmin etmək üçün heç bir öhdəlik daşımır, lakin mümkün bütün tədbirləri görür, ayrıca razılaşma olmadıqca və ya tətbiq olunan qanunvericilik başqa cür tələb etmədikcə.</p>

<p>Resursun vəzifələrinə ötürülən məlumatların qanuniliyinin (o cümlədən BitTorrent vasitəsilə istifadəçilər arasında göndərilən, daxili mesajlar, mətn və ya fayllar daxil olmaqla) yoxlanılması, əqli mülkiyyət hüquqlarının müəyyənləşdirilməsi və ya bu məlumatların göndərilmə və qəbul edilməsinin qanuniliyinin təyin edilməsi daxil deyil.</p>

<li><h3>İSTİFADƏÇİNİN RESURSDAN İSTİFADƏSİNƏ QOYULAN QADAĞANLAR</h3>

<p>Bu Resursdan istifadə edərkən İstifadəçi aşağıdakıları etməməlidir və etməməyə razılaşır:</p>
<ul>
<p>- viruslar və ya digər zərərli proqram təminatı, kompüter və ya telekommunikasiya avadanlığının funksionallığını pozmaq, məhdudlaşdırmaq və ya məhv etmək üçün nəzərdə tutulmuş proqramlar, icazəsiz giriş proqramları, kommersiya proqramlarının seriya nömrələri və ya onları yaratmaq üçün vasitələr, loginlər, parollar və ya internet resurslarına icazəsiz girişi təmin edən digər vasitələri ehtiva edən hash faylları (torrentlər) yükləmək və ya onlara linklər yerləşdirmək;</p>
<p>- üçüncü tərəflərin patent, ticarət nişanı, kommersiya sirri, müəlliflik və digər mülkiyyət hüquqlarını pozan istənilən mesajları, məlumatları və ya proqramları ehtiva edən hash fayllarını (torrentləri) yükləmək;</p>
<p>- saytda göstərilən elektron poçt ünvanlarına icazəsiz reklam mesajları (junk mail, spam) göndərmək;</p>
<p>- Resurs vasitəsilə əldə olunan və başqalarının hüquqlarını pozan və ya onlara maddi və mənəvi zərər verə biləcək məlumatların kommersiya məqsədilə surətini çıxarmaq və istifadə etmək;</p>
<p>- məzmunu tətbiq olunan qanunvericiliyə zidd olan veb resurslara linklər yerləşdirmək;</p>
<p>- impersonate any person or representative of an organization and/or community without proper authorization, including employees of the Administration or the owner of the Resource.</p>
</ul>

<li><h3>ZƏMANƏTİN İMTİYAZI</h3>

<p>Resursuna giriş "olduğu kimi" prinsipi əsasında, istənilən növ (birbaşa və ya dolayısı ilə) zəmanətlər olmadan təmin edilir.</p>

<p>Xüsusilə, Resurs İdarəetməsi saytın və onun fərdi bölmələrinin funksionallığını, eləcə də istifadəçilər tərəfindən yerləşdirilən keçidlərin işləkliyini və etibarlılığını təmin etmir.</p>

<p>Resurs xidmətin istifadəsi və ya istifadə edə bilməməsi səbəbindən və ya rabitənizə icazəsiz girişdən yaranan birbaşa və ya dolayı zərərlərə görə məsuliyyət daşımır.</p>

<li><h3>RESURS İDARƏETMƏSİNİN HÜQUQLARI</h3>

<p>Resurs İdarəetməsi istənilən İstifadəçinin və ya İstifadəçilər qrupunun Resursdan girişini heç bir izah və əvvəlcədən xəbərdarlıq etmədən məhdudlaşdıra bilər.</p>

<p>Resurs İdarəetməsi istifadəçilər tərəfindən təqdim edilmiş məlumatları, hash fayllarını (torrentləri), qrafikləri, audio və digər məlumatları əvvəlcədən xəbərdarlıq və izahat vermədən dəyişdirə və ya silə bilər.</p>

<li><h3>TƏRƏFLƏRİN MƏSULİYYƏTİ</h3>

<p>İstifadəçi razılaşır ki, bu Sazişdən yaranan bütün mübahisələr tətbiq olunan qanunvericiliyə uyğun həll olunacaq.</p>

<p>İstifadəçi razılaşır ki, bu Resursdan istifadəyə istehlakçı hüquqlarını qorumaqla bağlı qanunlar və qaydalar tətbiq olunmur, çünki Resurs ödənişli xidmətlər təqdim etmir.</p>

<p>Resurs agentlik, tərəfdaşlıq, birgə müəssisə, əməkdaşlıq və ya bu Sazişdə açıq şəkildə qeyd olunmamış digər münasibətləri yaradmaz.</p>

<p>İstifadəçinin və ya İstifadəçilər qrupunun bu Sazişi pozmasına qarşı Resursun tədbir görməməsi həmin hərəkətlərin təsdiqi və ya köməyi kimi qəbul edilmir.</p>

<p>İstifadəçinin və ya İstifadəçilər qrupunun müqavilə pozuntusuna qarşı Resursun tədbir görməməsi Resursun gələcəkdə öz maraqlarını qorumaq üçün müvafiq addımlar atmaq hüququnu məhdudlaşdırmaz.</p>

<li><h3>İSTİFADƏÇİ SAZİŞİNİN QƏBULU</h3>

<p>ƏGƏR YUXARIDA GÖSTƏRİLƏN BÜTÜN ŞƏRTLƏR VƏ QEYDİYYATLA RAZI DEYİLSƏNİZ, İSTİFADƏÇİ SAZİŞ SƏHİFƏSİ XƏRİCİNDƏ RESURSA ƏLİTİŞİMİNİZ, HƏTTA BİTİŞİK OLARAQ DA, MÜƏYYƏN OLMAZ, VƏ YA BU RESURSUN MƏZMUNUNU HEÇ BİR YOLLA TAM VƏ YA QISMƏ ƏLDƏ ETMƏK VƏYA GÖRÜŞMƏK QADAĞANDIR.</p>

<p>ƏGƏR BU İSTİFADƏÇİ SAZİŞİ İLƏ RAZI DEYİLSİNİZSƏ, DERHAL RESURSU TƏRK ETMƏLİSİNİZ.</p>

</ol>
</p>

</div>
