<div id=\"infobox-body\">

<p><h1>HAK SAHİPLERİ İÇİN BİLGİ</h1></p>

<p>Bu sitede bulunan herhangi bir materyalin telif hakkı size ait ise ve kullanıcıların izniniz olmadan bu bilgiyi yaymasını istemiyorsanız, ilgili bağlantıların kaldırılması konusunda size yardımcı olmaktan memnuniyet duyarız.</p>

<p>Bunun için bize elektronik olarak bir mektup göndermeniz gerekmektedir
aşağıdaki bilgileri içeren:</p>

<p>1. Telif hakkıyla korunan materyal üzerindeki haklarınızı belgeleyen kanıt:</p>
<p> - mühürlü taranmış bir belge, veya</p>
<p> - şirket sahibinin resmi e-posta alanından gönderilmiş bir e-posta, veya</p>
<p> - sizi materyalin sahibi olarak benzersiz şekilde tanımlayan diğer iletişim bilgileri.</p>

<p>2. Kaldırılabilir bilgi ile birlikte yayımlamak istediğiniz metin.</p>

<p>Burada, kaldırılan referanslara ilişkin bilgiyi nereden ve hangi koşullarda elde edebileceğinizi, ayrıca kullanıcıların bu materyalle ilgili tüm gerekli bilgileri sizden alabilmeleri için iletişim bilgilerinizi belirtebilirsiniz.</p>

<p>3. Kaldırılması gereken verilere referans içeren sayfalara doğrudan bağlantılar.</p>

<p>Bağlantılar <strong>https://url.to/link</strong> veya benzeri biçimde olmalıdır.</p>

<p>Bunun ardından 48 saat içinde talep ettiğiniz bağlantıları siteden kaldıracağız.</p>

<p class="bold">E-posta adresimiz: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UYARI!</p>

<p>a) Tarafımıza <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> adresine posta yoluyla gönderilen her türlü bilgiyi sitede yayınlama hakkımız saklıdır.</p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Forumdaki herhangi bir bilgi, herhangi bir tarafın kontrolü olmaksızın otomatik olarak yayınlanır, bu durum internet üzerinde bilgi yayımı ile ilgili genel kabul görmüş uluslararası uygulamalara uygundur. Ancak, her durumda, haklarınızı ihlal eden bilgilere dair tüm taleplerinizi dikkate alıyoruz.</p>

<p>c) According to the Law on Copyright and Related Rights, a reference to any data (information message), by itself, is not subject to copyright law (although it may violate the "Agreement on the use of the website"). Bu nedenle, gerçek bir dayanağı olmadan tehdit veya talepler içeren mektuplar göndermeniz gerekmez.</p>

</div><!--/infobox-body-->
