<div id="infobox-body">

<p><h1>HAK SAHİPLERİ İÇİN BİLGİ</h1></p>

<p>Bu sitede bağlantısı verilen herhangi bir materyalin telif hakkı sahibisiyseniz ve bu bilginin kullanıcılar tarafından izniniz olmadan yayılmasını istemiyorsanız, ilgili bağlantıları kaldırarak size memnuniyetle yardımcı oluruz.</p>

<p>Bunu yapmak için, lütfen aşağıdaki bilgileri içeren elektronik bir mektup gönderin:</p>

<p>1. Telif hakkı koruması altındaki materyal üzerindeki haklarınızı belgeleyen delil:</p>
<p> — resmi bir mühür taşıyan taranmış belge, veya</p>
<p> — hak sahibi şirketin resmi alan adından gönderilmiş bir e-posta, veya</p>
<p> — sizi hak sahibi olarak benzersiz şekilde tanımlayan diğer iletişim bilgileri.</p>

<p>2. Kaldırılan içeriğin yerine yayınlanmasını istediğiniz metin.</p>

<p>Bu metinde, bağlantıları kaldırılan bilginin nereden ve hangi koşullarda edinilebileceğini, ayrıca kullanıcıların bu materyalle ilgili size ulaşabilmeleri için iletişim bilgilerinizi belirtebilirsiniz.</p>

<p>3. Kaldırılması gereken verilere referans içeren sayfalara doğrudan bağlantılar.</p>

<p>Bağlantılar <strong>https://url.to/link</strong> veya benzeri formatta olmalıdır.</p>

<p>Talebinizi aldıktan sonra 48 saat içinde ilgili bağlantıları siteden kaldıracağız.</p>

<p class="bold">E-posta adresimiz: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UYARI!</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Telif hakkınızın konusu olan bilgiye dair bağlantıları kullanıcıların yeniden paylaşması üzerinde kontrolümüz yoktur. Forumdaki tüm bilgiler, ön inceleme veya moderasyon olmaksızın, İnternet'te bilgi barındırma konusunda genel kabul görmüş uluslararası uygulamalara uygun olarak otomatik şekilde yayınlanmaktadır. Yine de, haklarınızı ihlal eden bilgilere ilişkin bağlantılar hakkında tüm talepleri değerlendireceğiz.</p>

<p>c) Geçerli telif hakkı ve bağlantılı haklar yasalarına göre, bir veri bağlantısı (bilgi referansı) tek başına telif hakkı korumasına tabi değildir (ancak site kullanıcı sözleşmesini ihlal edebilir). Bu nedenle, tehdit veya talepler içeren mektuplar göndermekten kaçının, zira böyle iddiaların yasal dayanağı bulunmamaktadır.</p>

</div>
