<div id="infobox-body">

<p>

<p><h1>KULLANICI SÖZLEŞMESİ</h1></p>

<p><h3>SİTE HAKKINDA</h3></p>

<p>Bu internet kaynağı/web sitesi (bundan sonra "Kaynak" olarak anılacaktır) kullanıcıların BitTorrent aracılığıyla ve diğer şekillerde bilgi paylaşmasına olanak tanıyan ve iletilen bilgilerin bütünlüğünü doğrulama imkanı sağlayan bir web sitesidir (hash dosyaları aracılığıyla).</p>

<ol>

<li type="1"><h3>BU KULLANICI SÖZLEŞMESİ HAKKINDA</h3>

<p>Bu Kullanıcı Sözleşmesi (bundan sonra "Sözleşme" olarak anılacaktır), altta yer alan "Kabul Ediyorum" butonuna tıklanmasıyla yürürlüğe girer ve Kullanıcının Kaynağı kullandığı süre boyunca geçerli olur. Sözleşme, Yönetim tarafından önceden bildirim yapılmaksızın değiştirilebilir. Sözleşmenin yeni versiyonu, aksi belirtilmedikçe yayınlandıktan 3 (üç) gün sonra yürürlüğe girer.</p>

<li><h3>SORUMLULUK SINIRLAMALARI</h3>

<p>Kullanıcı, Kaynağı tamamen kendi sorumluluğunda kullanmayı açıkça kabul eder.</p>

<p>Kullanıcı, Kaynağın üçüncü taraflarca oluşturulan ve kendi bilgisayarları ve/veya sunucularında barındırılan materyal ve verilerle ilgili olduğunu kabul eder ve onaylar. Bu materyallerin içeriği ve güvenliği Kaynak Yönetimi tarafından kontrol edilemez; bu nedenle Yönetim aşağıdakilerden sorumlu tutulamaz:</p>
<ul>
<p>- Kullanıcının Kaynak aracılığıyla elde ettiği materyallerin içeriği, bunların geçerli mevzuata aykırılığı veya saldırgan nitelikte olması dahil;</p>
<p>- Elde edilen bilgilerin uygulanması, kullanılması veya kullanılmamasının sonuçlarından;</p>
<p>- Kaynak aracılığıyla elde edilen sonuçlar ile Kullanıcının beklentileri arasındaki herhangi bir uyuşmazlıktan;</p>
<p>- Kaynağın kullanımı sonucu Kullanıcının donanım veya yazılımında oluşabilecek herhangi bir zarardan;</p>
<p>- Herhangi bir nedenle Kaynağın kullanılamamasından;</p>
<p>- Yasadışı veya lisanssız yazılım, ses/görüntü içerikleri veya üçüncü şahısların haklarını ihlal eden diğer materyal veya verilerin dağıtımından doğabilecek sonuçlardan.</p>
</ul>

<p>Hiçbir koşulda Kaynak, Kullanıcıya veya üçüncü şahıslara, Kaynakla bağlantılı olarak ortaya çıkan herhangi bir zarar, kayıp veya giderlerden, kullanımı ya da kullanılamamasından doğan maddi zararlar ve kar kayıpları dahil olmak üzere sorumlu tutulamaz.</p>

<p>Kaynak Yönetimi, kullanıcılarından sağlanan bilgilerin gizliliğini sağlamak için makul tüm önlemleri almakla beraber, aksi yönde bir anlaşma olmadıkça veya yürürlükteki mevzuat gerektirmedikçe bu bilgilerin gizliliğini garanti etmez.</p>

<p>Kaynağın görevleri, iletilen bilgilerin yasal olup olmadığını (kullanıcılar arasında BitTorrent yoluyla iletilen bilgiler, herhangi bir formdaki dahili mesajlar, metinler veya dosyalar dahil fakat bunlarla sınırlı olmamak üzere) denetlemeyi, fikri mülkiyet haklarını belirlemeyi veya bu bilgilerin gönderim ya da alımının meşruiyetini tespit etmeyi içermez.</p>

<li><h3>KULLANICININ KAYNAĞI KULLANIM KISITLAMALARI</h3>

<p>Bu Kaynağı kullanırken, Kullanıcı aşağıdaki eylemleri yapmamakta ve yapmamayı kabul etmektedir:</p>
<ul>
<p>- Virüslü ya da başka zararlı yazılımlar içeren veri barındıran hash dosyalarını (torrentleri), bilgisayar veya telekomünikasyon ekipmanlarının işlevselliğini bozacak, yok edecek ya da kısıtlayacak dosya veya programları, yetkisiz erişim için tasarlanmış programları, ticari yazılım için seri numaralarını ya da bunları üreten araçları, giriş bilgilerini, şifreleri veya internet kaynaklarına yetkisiz erişim sağlayabilecek diğer araçları içeren ya da bunlara bağlantı veren hash dosyalarını yüklemek;</p>
<p>- Patent, marka, ticari sır, telif hakkı veya üçüncü şahısların diğer mülkiyet ve ilgili haklarını ihlal eden mesaj, veri veya programları içeren hash dosyalarını (torrentleri) yüklemek;</p>
<p>- Sitede listelenen e-posta adreslerine yetkisiz reklam mesajları (spam, junk mail) göndermek;</p>
<p>- Kaynaktan elde edilen ve başkalarının haklarını ihlal eden ya da onlara doğrudan maddi veya manevi zarar verebilecek herhangi bir bilgiyi kopyalayıp ticari amaçla kullanmak;</p>
<p>- Geçerli mevzuata aykırı içeriklere sahip web kaynaklarına bağlantılar paylaşmak;</p>
<p>- impersonate any person or representative of an organization and/or community without proper authorization, including employees of the Administration or the owner of the Resource.</p>
</ul>

<li><h3>GARANTİ REDDİ</h3>

<p>Kaynağa erişim, açık ya da zımni hiçbir garantisi olmaksızın, "olduğu gibi" sağlanmaktadır.</p>

<p>Özellikle, Kaynak Yönetimi sitenin veya bölümlerinin işlevselliğinin, kullanıcılar tarafından sağlanan bağlantıların çalışırlığının ve güvenilirliğinin garantisini vermez.</p>

<p>Kaynak, hizmetin kullanılması ya da kullanılamaması veya iletişimlerinize yetkisiz erişim nedeniyle doğan herhangi bir doğrudan veya dolaylı zarardan sorumlu değildir.</p>

<li><h3>KAYNAK YÖNETİMİNİN HAKLARI</h3>

<p>Kaynak Yönetimi, herhangi bir Kullanıcıya veya Kullanıcı grubuna önceden bildirimde bulunmaksızın erişimi reddetme hakkına sahiptir.</p>

<p>Kaynak Yönetimi, Kullanıcılar tarafından sağlanan herhangi bir bilgi, hash dosyası (torrent), grafik, ses ve diğer verileri önceden bildirim veya açıklama yapmadan değiştirebilir veya silebilir.</p>

<li><h3>TARAFLARIN SORUMLULUKLARI</h3>

<p>Kullanıcı, bu Sözleşmeden doğan tüm uyuşmazlıkların geçerli yasalara uygun olarak çözüleceğini kabul eder.</p>

<p>Kullanıcı, bu Kaynağın ücretli hizmet sunmadığı için tüketici koruma kanunları ve yönetmeliklerinin uygulanamayacağını kabul eder.</p>

<p>Kaynak, bu Sözleşmede açıkça tanımlanmamış ajans, ortaklık, ortak girişim, iş ilişkisi veya herhangi başka bir ilişkiler kurmaz.</p>

<p>Kaynağın, bir Kullanıcının veya Kullanıcı grubunun bu Sözleşmeyi ihlal etmesine karşı harekete geçmemesi, bu tür eylemleri onayladığı veya yardımcı olduğu anlamına gelmez.</p>

<p>Kaynağın, bir Kullanıcının veya Kullanıcı grubunun bu Sözleşmeyi ihlal etmesine karşı harekete geçmemesi, Kaynağın çıkarlarını korumak için daha sonra uygun işlemleri yapma hakkından mahrum kalması anlamına gelmez.</p>

<li><h3>KULLANICI SÖZLEŞMESİNİN KABULÜ</h3>

<p>YUKARIDAKİ TÜM ŞARTLARI VE KOŞULLARI KABUL ETMEDİĞİNİZ TAKDİRDE, BU KULLANICI SÖZLEŞMESİ SAYFASI DIŞINDA KAYNAĞIN TAMAMINA VEYA BİR BÖLÜMÜNE ERİŞEMEZ VEYA BU KAYNAĞIN İÇERİĞİNİ HİÇBİR YOLLA TAMAMEN YA DA KISMEN ALAMAZ VEYA ERİŞEMEZSİNİZ.</p>

<p>BU KULLANICI SÖZLEŞMESİNİ KABUL ETMİYORSANIZ, DERHAL KAYNAĞI TERK ETMELİSİNİZ.</p>

</ol>
</p>

</div>
