<div id=\"infobox-body\">

<p>

<p><h1>KULLANICI SÖZLEŞMESİ</h1></p>

<p><h3>SİTE HAKKINDA</h3></p>

<p>İnternet kaynağı / web sitesi (bundan sonra Kaynak), kullanıcıların birbirleriyle bit-torrent yoluyla ve serbest formda bilgi paylaşmalarına olanak sağlayan ve iletilen bilginin bütünlüğünü izlemenin bir yolunu sunan bir internet sitesidir (hash-dosyalar aracılığıyla).</p>

<ol>

<li type="1"><h3>KULLANICI SÖZLEŞMESİ HAKKINDA</h3>

<p>Bu KULLANICI SÖZLEŞMESİ, alt kısımdaki "Kabul ediyorum" düğmesine tıklanmasının ardından yürürlüğe girer ve kaynak kullanıcılarının tüm kullanım süresi boyunca geçerlidir. KULLANICI SÖZLEŞMESİ, Yönetim tarafından herhangi bir bildirim yapılmaksızın değiştirilebilir. KULLANICI SÖZLEŞMESİ'nin yeni sürümü, aksi belirtilmediği sürece, sunulduğu tarihten itibaren 3 (üç) gün sonra yürürlüğe girer.</p>

<li><h3>SORUMLULUK SINIRLAMALARI</h3>

<p>Kullanıcı, Kaynağı kendi riskinde kullandığını açıkça kabul eder.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. İçerik ve bu materyallerin güvenliği Kaynak yönetimi tarafından kontrol edilemez, bu yüzden yönetim sorumlu değildir:</p>
<ul>
<p>- Kullanıcının Kaynaktan elde ettiği materyallerin içeriği ve bunların ilgili yasa ya da saldırganlık taşıyıp taşımaması;</p>
<p>- Alınan bilgilerin uygulanması, kullanımı ya da kullanılmamasının sonuçları;</p>
<p>- Kullanıcının beklentileri ile Kaynak kullanılarak elde edilen sonuçlar arasındaki olası uyumsuzluk;</p>
<p>- Kaynak kullanımından kaynaklanan kullanıcının donanım veya yazılımına gelebilecek hasarlar;</p>
<p>- Kaynağın herhangi bir nedenle kullanılamaması;</p>
<p>- Yasadışı veya lisanssız yazılım, ses/video ürünleri ve üçüncü taraf haklarına zarar veren diğer materyal veya veri yayılımının yol açabileceği sonuçlar.</p>
</ul>

<p>Herhangi bir durumda, Kaynak kullanıcıya ya da üçüncü bir tarafa karşı; bu Kaynağın kullanımı veya kullanılamaması ile ilgili zarar, kayıp veya masraflardan, buna doğrudan ya da dolaylı zararlar ve kar kayıpları da dahil olmak üzere, sorumlu tutulamaz.</p>

<p>Kaynak Yönetimi, aksi bir anlaşma ya da yürürlükteki yasal gereksinimler olmadıkça, kullanıcılarının sağladığı bilgilerin gizliliğini garanti etmekle yükümlü değildir ancak mümkün olan tüm önlemleri alır.</p>

<p>Kaynağın görevleri arasında; kullanıcılar arasında bit-torrent aracılığıyla iletilen veya çeşitli bağlantılar, metin ya da dosyalar aracılığıyla yapılan yasal veya yasa dışı bilgi transferlerini kontrol etmek, mülkiyet haklarının belirlenmesi veya bu bilgilerin yasal olarak iletilip alınmasının doğruluğunu saptamak yer almaz.</p>

<li><h3>KAYNAĞIN KULLANIM SINIRLAMALARI</h3>

<p>Bu Kaynağı kullanırken, KULLANICININ aşağıdaki haklara sahip olmadığına ve bunları kabul ettiğine dikkat edilir:</p>
<ul>
<p>- Virüs veya diğer kötü amaçlı bilgisayar programları içeren, herhangi bir bilgisayar veya telekomünikasyon donanımı ya da yazılımının işlevselliğini engellemek, yok etmek veya sınırlandırmak üzere tasarlanmış dosya ve programları, ticari yazılım ürünlerinin seri numaraları ve bunları üreten programlar, internet sitelerine yetkisiz erişim için gerekli kullanıcı adı, parola gibi bilgiler ve bunlara bağlantılar içeren hash-dosyaları (torrentler) yerleştirmek;</p>
<p>- Herhangi bir patent, marka, ticari sır, telif hakkı veya diğer mülkiyet hakları ve/veya üçüncü tarafların telif ve ilgili haklarını ihlal eden mesaj, veri veya programları içeren hash-dosyaları (torrentler) yerleştirmek;</p>
<p>- Sitede listelenmiş e-posta adreslerine, yetkisiz reklam amaçlı e-posta mesajları (junk mail, spam) göndermek;</p>
<p>- Bu kaynak aracılığıyla elde edilen herhangi bir bilgiyi kopyalamak ve ticari amaçlarla kullanmak, başkalarının haklarını ihlal etmek veya doğrudan maddi veya manevi zarar vermek;</p>
<p>- İçeriği geçerli yasalarla çelişen web kaynaklarının bağlantılarını paylaşmak;</p>
<p>- Kaynağın sahibi adına yönetim çalışanları dahil yeterli haklara sahip olmadan herhangi bir kişiyi veya kurum/kuruluş temsilcisini taklit etmek.</p>
</ul>

<li><h3>PERFORMANS GARANTİSİ</h3>

<p>Kaynağa erişim herhangi bir doğrudan ya da dolaylı garanti olmaksızın «olduğu gibi» sağlanmaktadır.</p>

<p>Kaynak Yönetimi özellikle site ve bölümlerinin işlevselliği ile kullanıcıların paylaştığı bağlantıların performans ve güvenilirliği konusunda garanti vermez.</p>

<p>Kaynak; hizmetin kullanılması ya da kullanılamaması, iletişime yetkisiz erişim gibi durumlar nedeniyle oluşabilecek doğrudan veya dolaylı zararlar için sorumlu değildir.</p>

<li><h3>KAYNAK YÖNETİMİNİN HAKLARI</h3>

<p>Kaynak Yönetimi, herhangi bir kullanıcıya veya kullanıcı grubuna erişimi, davranışlarını açıklamaksızın ve bildirimde bulunmaksızın engelleme hakkına sahiptir.</p>

<p>Kaynak Yönetimi, kullanıcı tarafından sunulan herhangi bir bilgi, hash-dosyası (torrent), grafik, ses ve diğer verileri bildirimde bulunmaksızın değiştirme veya silme hakkına sahiptir.</p>

<li><h3>TARAFLARIN SORUMLULUKLARI</h3>

<p>Kullanıcı, KULLANIM SÖZLEŞMESİ ile ilgili tüm anlaşmazlıkların yasal normlara göre çözüleceğini kabul eder.</p>

<p>Kullanıcı, kaynakta ücretli hizmet bulunmadığından, tüketici koruma yasalarının uygulanamayacağını kabul eder.</p>

<p>Kaynak, kullanıcı ile acenta ilişkisi, ortaklık ya da istihdam ilişkisi ve KULLANIM SÖZLEŞMESİ'nde açıkça belirtilmeyen diğer ilişkiler kurmaz.</p>

<p>Kaynağın, kullanıcıların veya kullanıcı gruplarının KULLANICI SÖZLEŞMESİ'ni ihlal ettiği durumlarda hareketsiz kalması, bu eylemleri desteklediği anlamına gelmez.</p>

<p>Kaynağın hareketsizliği, sonraki zamanda çıkarlarını korumak için uygun önlemleri alma hakkını ortadan kaldırmaz.</p>

<li><h3>KULLANICI SÖZLEŞMESİNİ KABUL</h3>

<p>YUKARIDAKİ ŞARTLARIN VE KOŞULLARIN TAMAMINI KABUL ETMİYORSANIZ, KULLANICI SÖZLEŞMESİ SAYFASI DIŞINDA KAYNAĞIN TAMAMINA VEYA HERHANGİ BİR PARÇASINA ERİŞEMEZ, İÇERİKLERİ ALAMAZ VEYA BAŞKA YOLLARLA ERİŞİM SAĞLAYAMAZSINIZ!</p>

<p>KULLANICI SÖZLEŞMESİNİ KABUL ETMİYORSANIZ, DERHAL KAYNAĞI TERK ETMELİSİNİZ.</p>

</ol>
</p>

</div><!--/infobox-body-->
