<div id="infobox-body">

<p><h1>АВТОРЛЫҚ ҚҰҚЫҚ ИЕГЕРЛЕРІ ҮШІН АҚПАРАТ</h1></p>

<p>Егер сіз осы сайтта қолжетімді кез келген материалдардың авторлық құқығының иесі болсаңыз және пайдаланушылардың келісімінсіз осы ақпараттың таралуын қаламасаңыз, біз сізге тиісті сілтемелерді жою арқылы көмектесуге дайынбыз.</p>

<p>Бұл үшін сіз бізге хат жіберген болуыңыз керек (электрондық түрде)
бізге төмендегі ақпаратты көрсеткен:</p>

<p>1. Авторлық құқықпен қорғалатын материалға құқықтарыңызды растайтын құжаттық дәлел:</p>
<p> - мөрмен сканерленген құжат, немесе</p>
<p> - компания иесінің ресми электрондық поштасының доменінен жіберілген электрондық хат, немесе</p>
<p> - материалдың иесі екеніңізді бірегей түрде анықтайтын басқа да байланыс ақпараттары.</p>

<p>2. Сіз орналастырғыңыз келетін мәтін және оны жоюға болатын ақпарат.</p>

<p>Мұнда сіз жойылған сілтемелерге қатысты ақпаратты қайдан және қандай шарттармен ала алатыныңызды, сондай-ақ байланыс ақпаратыңызды көрсете аласыз, сонда пайдаланушылар осы материалға қатысты барлық қажетті ақпаратты сізден ала алады.</p>

<p>3. Жойылуы қажет деректердің сілтемелері бар беттердің тікелей сілтемелері.</p>

<p>Сілтемелер <strong>https://url.to/link</strong> немесе соған ұқсас түрде болуы тиіс.</p>

<p>Содан кейін 48 сағат ішінде біз сізге қызықты сілтемелерді сайттан жоямыз.</p>

<p class="bold">Біздің электрондық пошта: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ЕСКЕРТПЕ!</p>

<p>а) Біз поштамен <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> жіберілген кез келген ақпаратты сайтта жариялау құқығын сақтаймыз</p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Кез келген ақпарат форумда автоматты түрде, ешқандай тараптан бақылаусыз орналастырылады, бұл Интернетте ақпарат орналастырудың халықаралық қабылданған тәжірибесіне сәйкес келеді. Дегенмен, кез келген жағдайда біз сіздің құқықтарыңызды бұзатын ақпаратқа сілтемелер туралы барлық сұрауларыңызды қарастырамыз.</p>

<p>c) According to the Law on Copyright and Related Rights, a reference to any data (information message), by itself, is not subject to copyright law (although it may violate the "Agreement on the use of the website"). Сондықтан нақты негізсіз қорқыту немесе талаптар бар хаттарды жіберудің қажеті жоқ.</p>

</div><!--/infobox-body-->
