<div id="infobox-body">

<p><h1>АВТОРЛЫҚ ҚҰҚЫҚ ИЕГЕРЛЕРІ ҮШІН АҚПАРАТ</h1></p>

<p>Егер сіз осы сайттағы қандай да бір материалдың авторлық құқығының иесі болсаңыз және бұл ақпараттың пайдаланушылар тарапынан сіздің рұқсатыңызсыз таралуын қаламасаңыз, біз сізге тиісті сілтемелерді жоюға қуана көмектесеміз.</p>

<p>Осы мақсатта, бізге келесі ақпаратты қамтитын электрондық хат жіберіңіз:</p>

<p>1. Авторлық құқықпен қорғалатын материалға қатысты құқықтарыңыздың құжаттық дәлелі:</p>
<p> — ресми мөрі бар сканерленген құжат, немесе</p>
<p> — құқық иесінің ресми доменінен жіберілген электрондық пошта, немесе</p>
<p> — сізді құқық иесі ретінде бірегей анықтайтын басқа байланыс ақпараттары.</p>

<p>2. Жойылған мазмұнның орнына орналастырылатын ауыстырмалы мәтін.</p>

<p>Бұл мәтінде сіз жойылған сілтемелерге қатысты ақпаратты пайдаланушылар қайда және қандай шарттармен ала алатынын, сондай-ақ осы материалға қатысты байланыс деректеріңізді көрсетсеңіз болады.</p>

<p>3. Жою қажет деректерге сілтемелер бар беттерге тікелей сілтемелер.</p>

<p>Сілтемелер <strong>https://url.to/link</strong> немесе сол сияқты форматта болуы керек.</p>

<p>Сіздің өтінішіңізді алғаннан кейін 48 сағат ішінде тиісті сілтемелер сайттан жойылады.</p>

<p class="bold">Біздің электрондық пошта: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ЕСКЕРТУ!</p>

<p>а) Бізге <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> мекенжайына жіберілген кез келген ақпаратты сайтта жариялау құқығын сақтаймыз</p>

<p>б) Сіздің авторлық құқықтарыңызға қатысты ақпаратқа сілтемелерді қайта жариялауы мүмкін пайдаланушылардың әрекеттеріне бақылауымыз жоқ. Форумдағы барлық ақпарат алдын ала қаралмай немесе модерацияланбай, автоматты түрде орналастырылады, бұл интернетте ақпарат орналастырудың халықаралық қабылданған тәжірибесіне сәйкес. Дегенмен, біз сіздің құқықтарыңызды бұзатын ақпаратқа қатысты барлық сұраныстарды қарастырамыз.</p>

<p>в) Қолданыстағы авторлық құқық және байланысты құқықтар заңдарына сәйкес, деректерге (ақпараттық сілтемелерге) гиперсілтеме өзі авторлық құқықпен қорғалмайды (бірақ сайттың Пайдаланушы келісімін бұзуы мүмкін). Сондықтан, құқықтық негізі жоқ талаптар немесе қорқытуларды қамтитын хаттарды жіберуден бас тартыңыз.</p>

</div>
