<div>
	<h3>Жанама панель 2</h3>
	Бұл жанама панельге мазмұн қосу үшін, төмендегі файлдарды өңдеңіз:
	<br /><br />
	<ul class="med">
		<li>кітапхана/тіл/*/html/жанамапанель2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Бұл жанама панельді өшіру үшін, config.php файлыдағы page.show_sidebar2 айнымалысын false деп орнатыңыз.
</div>
