<div>
	<h3>Бүйірлік панель 2</h3>
	Бұл бүйірлік панельге мазмұн қосу үшін мына файлдарды өңдеңіз:
	<br /><br />
	<ul class="med">
		<li>кітапхана/тіл/*/html/bүйірлік панель2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Бұл бүйірлік панельді өшіру үшін, config/layouts.php файлындағы page.show_sidebar2 айнымалысын false деп орнатыңыз.
</div>
