<div id="infobox-body">

<p>

<p><h1>Пайдалану келісімі</h1></p>

<p><h3>Сайт туралы</h3></p>

<p>Бұл интернет ресурсы/веб-сайт (бұдан әрі "Ресурс" деп аталады) пайдаланушыларға BitTorrent арқылы және басқа да форматтарда ақпарат алмасуға мүмкіндік береді және берілген ақпараттың тұтастығын хэш-файлдар арқылы тексеру құралдарын ұсынады.</p>

<ol>

<li type="1"><h3>Бұл пайдаланушы келісімі туралы</h3>

<p>Бұл Пайдаланушы келісімі (бұдан әрі "Келісім" деп аталады) төменгі бөлігіндегі «Қабылдаймын» түймесін басқан сәттен бастап күшіне енеді және Пайдаланушы Ресурсты пайдаланғанға дейін өз күшін сақтайды. Келісім әкімшілік тарапынан алдын ала хабарламасыз өзгертілуі мүмкін. Келісімнің жаңа нұсқасы жарияланғаннан кейін 3 (үш) күн ішінде күшіне енеді, егер жаңа нұсқада басқа мерзім көрсетілмесе.</p>

<li><h3>ЖАУАПКЕРШІЛІКТІ ШЕКТЕУ</h3>

<p>Пайдаланушы Ресурсты өз тәуекелімен пайдалануына толық келіседі.</p>

<p>Пайдаланушы Ресурстың үшінші тараптар жасаған және оларды Интернетте өз компьютерлері мен/немесе серверлерінде жариялаған материалдар мен деректермен жұмыс істейтінін түсінеді және келіседі. Бұл материалдардың мазмұны мен қауіпсіздігін Ресурс әкімшілігі бақылай алмайды, сондықтан әкімшілік келесі жағдайлар үшін жауапты болмайды:</p>
<ul>
<p>- пайдаланушы Ресурс арқылы алынған материалдардың мазмұны, оның ішінде қолданыстағы заңдарға сәйкес келмеуі немесе қорлайтын сипаты үшін;</p>
<p>- алынған ақпаратты қолдану, пайдалану немесе пайдаланбау салдарынан туындайтын мәселелер үшін;</p>
<p>- Ресурс арқылы алынған нәтижелер мен Пайдаланушының күткен нәтижелері арасындағы кез келген сәйкессіздік үшін;</p>
<p>- Ресурсты пайдалану нәтижесінде Пайдаланушының аппараттық немесе бағдарламалық қамтамасыз етілуіне келген кез келген зақым үшін;</p>
<p>- кез келген себеппен Ресурсты пайдалану мүмкін болмағаны үшін;</p>
<p>- заңсыз немесе лицензияланбаған бағдарламалық қамтамасыз ету, аудио/видео контент немесе үшінші тұлғалардың құқықтарын бұзатын басқа материалдар мен деректердің таралуынан туындайтын салдар үшін.</p>
</ul>

<p>Кез келген жағдайда да Ресурс пайдаланушыға немесе үшінші тарапқа байланысты кез келген зақым, шығын немесе шығыстар, оның ішінде жоғалған пайда үшін жауапты болмайды, бұл Ресурстың пайдаланылуы немесе пайдаланылмауы себепті туындауы мүмкін.</p>

<p>Ресурс әкімшілігі пайдаланушылар берген ақпараттың құпиялығын қамтамасыз ету міндетін алмайды, бірақ мұны қамтамасыз ету үшін барлық мүмкін шараларды қолданады, егер бөлек келісім немесе қолданыстағы заңнама басқаша талап етпесе.</p>

<p>Ресурс міндеттеріне берілетін ақпараттың заңдылығын (оның ішінде BitTorrent арқылы пайдаланушылар арасындағы ақпарат, ішкі хабарламалар, мәтін немесе файлдар) бақылау, зияткерлік меншік құқықтарын анықтау немесе мұндай ақпаратты беру және алу заңдылығын тексеру кірмейді.</p>

<li><h3>ПАЙДАЛАНУШЫНЫҢ РЕСУРСТЫ ПАЙДАЛАНУЫНА ШЕКТЕУЛЕР</h3>

<p>Бұл Ресурсты пайдалану кезінде Пайдаланушы келесілерге жол бермейді және оларға келіседі:</p>
<ul>
<p>- вирустар немесе басқа зиянкес бағдарламалар, компьютер немесе телекоммуникациялық құрылғылардың жұмысына кедергі келтіретін, бұзатын немесе шектейтін файлдар немесе бағдарламалар, рұқсатсыз кіру құралдары, коммерциялық бағдарламалық жасақтамаға арналған сериялық номерлер мен оларды жасау құралдары, логиндер, парольдер немесе интернет ресурстарына рұқсатсыз кірудің кез келген басқа әдістерін қамтитын хэш-файлдар (торренттер) жүктеуге немесе оларға сілтемелер орналастыруға;</p>
<p>- үшінші тұлғалардың патенттік, сауда маркасы, коммерциялық құпия, авторлық құқық немесе басқа меншік құқықтарын бұзатын кез келген хабарламалар, деректер немесе бағдарламаларды қамтитын хэш-файлдар (торренттер) жүктеуге;</p>
<p>- сайтта көрсетілген электрондық пошта мекенжайларына рұқсат етілмеген жарнамалық хабарламалар (спам) жіберуге;</p>
<p>- Ресурс арқылы алынған және басқа тұлғалардың құқықтарын бұзатын немесе оларға тікелей материалдық немесе моральдық зиян келтіруі мүмкін кез келген ақпаратты көшіруге және коммерциялық мақсатта пайдалануға;</p>
<p>- күшіндеғі заңнамаға қайшы келетін веб-ресурстарға сілтемелер орналастыруға;</p>
<p>- әкімшілік қызметкерлері немесе Ресурс иесінің өкілі болып табылмайтын тұлғаның немесе ұйымның және/немесе қауымдастық өкілі болып өзге адамның атынан жалған көрсетуге.</p>
</ul>

<li><h3>КЕПІЛДІКТЕРДІ ЖОЮ</h3>

<p>Ресурска қол жеткізу «бар болғандай» негізде, ешқандай да нақты немесе жанама кепілдіктерсіз беріледі.</p>

<p>Атап айтқанда, Ресурс әкімшілігі сайттың немесе оның белгілі бір бөліктерінің функционалдығы мен пайдаланушылар орналастырған сілтемелердің жұмыс істеуі мен сенімділігіне кепілдік бермейді.</p>

<p>Ресурс қызметті пайдалану немесе пайдалана алмау нәтижесінде немесе байланысқа рұқсатсыз қол жеткізуден туындаған кез келген тікелей немесе жанама шығындар үшін жауапты емес.</p>

<li><h3>РЕСУРС ӘКІМШІЛІГІНІҢ ҚҰҚЫҚТАРЫ</h3>

<p>Ресурс әкімшілігі кез келген Пайдаланушыға немесе Пайдаланушылар тобына түсіндірмесіз және алдын ала хабарламай Ресурсқа кіруден бас тарта алады.</p>

<p>Ресурс әкімшілігі пайдаланушылардың ұсынған кез келген ақпараттарын, хэш-файлдарды (торренттер), графика, аудио және басқа да материалдарды алдын ала ескертусіз өзгертуге немесе жоюға құқылы.</p>

<li><h3>ТАРАПТАРДЫҢ ЖАУАПКЕРШІЛІГІ</h3>

<p>Пайдаланушы осы Келісімнен туындайтын барлық даулар қолданыстағы заңнамаға сәйкес шешілетініне келіседі.</p>

<p>Пайдаланушы бұл Ресурсты пайдалану тұтынушыларды қорғау заңдары мен нормативтік актілері қолданылмайтынын келіседі, себебі бұл Ресурс ақылы қызметтер ұсынбайды.</p>

<p>Ресурс бұл Келісімде ашық көрсетілмеген агенттік, әріптестік, қос кәсіпкерлік, еңбек немесе басқа да қатынастарды орнатпайды.</p>

<p>Пайдаланушы немесе Пайдаланушылар тобының Келісімді бұзғанына Ресурстың әрекет етпеуі осы әрекеттерді мақұлдау немесе қолдау болып саналмайды.</p>

<p>Пайдаланушылардың Келісімді бұзғаны жөніндегі Ресурстың әрекетсіздігі кейін оның мүдделерін қорғау үшін тиісті шаралар қолдану құқығын шектемейді.</p>

<li><h3>ПАЙДАЛАНУШЫ КЕЛІСІМІН ҚАБЫЛДАУ</h3>

<p>ЕГЕР СІЗ ЖОҒАРЫДАҒЫ БАРЛЫҚ ШАРТТАРМЕН КЕЛІСПЕСЕҢІЗ, ПАЙДАЛАНУШЫ КЕЛІСІМІ БЕТІН ҚОСҚАНДА, РЕСУРСТЫҢ ТОЛЫҒЫМЕН НЕМЕСЕ БӨЛІГІНЕ КІРУГЕ ЖӘНЕ МАЗМҰНЫНА ҚОЛ ЖЕТКІЗУГЕ ҚҰҚЫҚ СЫЗ, ТОЛЫҚ НЕ БӨЛІКТЕМЕЙ.</p>

<p>ЕГЕР СІЗ ОСЫ ПАЙДАЛАНУШЫ КЕЛІСІМІМЕН КЕЛІСПЕСЕҢІЗ, РЕСУРСТАН ДЕРТЕУ ШЫҒУЫҢЫЗ КЕРЕК.</p>

</ol>
</p>

</div>
