<div id="infobox-body">

<p>

<p><h1>ПАЙДАЛАНУШЫ КЕЛІСІМІ</h1></p>

<p><h3>САЙТ туралы</h3></p>

<p>Интернет-ресурс / веб-сайт (бұдан әрі - Ресурс) - пайдаланушыларға бит-торрент арқылы, сондай-ақ еркін түрде ақпарат алмасуға мүмкіндік беретін интернет-сайт және берілетін ақпараттың тұтастығын бақылау құралдарын (хэш-файлдар арқылы) қамтамасыз етеді.</p>

<ol>

<li type="1"><h3>ПАЙДАЛАНУШЫ КЕЛІСІМІ туралы</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. ПАЙДАЛАНУШЫ КЕЛІСІМІ Әкімшілік тарапынан ескертусіз өзгертілуі мүмкін. <p>Егер ПАЙДАЛАНУШЫ КЕЛІСІМІНІҢ жаңа редакциясында өзгеше көзделмесе, оның жаңа нұсқасы ұсынылған күннен бастап 3 (үш) күн өткеннен кейін күшіне енеді.</p>

<li><h3>ЖАУАПКЕРШІЛІКТІ ШЕКТЕУ</h3>

<p>Пайдаланушы Ресурсты өз тәуекелімен пайдаланады деп нақты келіседі.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. <p>Бұл материалдардың мазмұны мен қауіпсіздігін Ресурс әкімшілігі бақылай алмайды, сондықтан жауапкершілікке тартылмайды:</p>
<ul>
<p>- Ресурсты пайдаланғаннан алынған материалдардың мазмұны үшін, сондай-ақ олардың қолданыстағы заңдармен сәйкес келмеуі немесе қорлайтын мазмұн болуы мүмкіндігі үшін;</p>
<p>- алынған ақпаратты қолдану, пайдалануы немесе пайдаланбау нәтижелеріне қатысты;</p>
<p>- пайдаланушының ресурсты пайдалануынан алынған нәтижелердің күткен нәтижелермен сәйкес келмеуі мүмкіндігі үшін;</p>
<p>- ресурсты пайдалану нәтижесінде аппараттық немесе бағдарламалық қамтамасыз етуде болған кез келген зиян үшін;</p>
<p>- кез келген себеппен ресурсты пайдалану мүмкін болмауы үшін;</p>
<p>- заңсыз немесе лицензияланбаған бағдарламалық қамтамасыз ету және аудио/бейне өнімдері және үшінші тараптардың құқықтарына әсер ететін басқа материалдар немесе деректердің таралуынан туындаған салдар үшін.</p>
</ul>

<p>Ешқандай жағдайда Ресурс пайдаланушы немесе үшінші тарап алдындағы, осы ресурсты пайдалану немесе пайдалана алмау салдарынан, оның жоғалуы немесе жоғалған пайдасы үшін жауапкершілік көтермейді.</p>

<p>Ресурс әкімшілігі, егер басқаша келісім жоқ және қолданыстағы заңнама талап етпесе, пайдаланушылар ұсынған ақпараттың құпиялылығын қамтамасыз етуге міндетті емес, алайда бұл үшін барлық мүмкін шараларды қолдануға тырысады.</p>

<p>Ресурстың міндеттеріне заңды немесе заңсыз түрде берілетін ақпаратты бақылау кірмейді (оның ішінде пайдаланушылар арасындағы бит-торрент арқылы берілетін ақпарат, түрлі сілтемелердегі ішкі аударым ақпараттары, мәтіндер немесе файлдар), меншік құқықтарын анықтау немесе осы ақпаратты пайдалана отырып, берілу немесе қабылданудың заңдылығын анықтау.</p>

<li><h3>ПАЙДАЛАНУШЫНЫҢ РЕСУРСТЫ ПАЙДАЛАНУ ШЕКТЕУЛЕРІ</h3>

<p>Осы Ресурсты пайдаланған кезде пайдаланушы төмендегілерге құқықсыз және осыған келіседі:</p>
<ul>
<p>- вирустар немесе басқа зиянды компьютерлік бағдарламалар бар хэш-файлдар (торренттер), сондай-ақ кез келген компьютер немесе телекоммуникация жабдығының немесе бағдарламасының жұмысын тоқтатуға, жоюға немесе шектеуге арналған бағдарламалар, рұқсатсыз қол жеткізуді қамтамасыз ететін бағдарламалар, коммерциялық бағдарламалық өнімдердің сериялық нөмірлері және оларды генерациялауға арналған бағдарламалар, логиндер, парольдер және интернет сайттарына рұқсатсыз кіруді қамтамасыз ететін басқа құралдарды орналастыру, сондай-ақ осы ақпаратқа сілтемелерді жариялау;</p>
<p>- кез келген патент, тауар белгісі, коммерциялық құпия, авторлық құқық немесе үшінші тұлғалардың басқа да меншік құқықтарын бұзатын кез келген хабарламалар, деректер немесе бағдарламаларды хэш-файлдар (торренттер) ретінде орналастыру;</p>
<p>- сайтта көрсетілген электрондық пошта мекенжайларына рұқсатсыз жарнамалық хабарламалар (спам, қалдық пошта) жіберу;</p>
<p>- осы ресурстан алынған кез келген ақпаратты көшіру, коммерциялық мақсатта пайдалану, басқа тұлғалардың құқықтарын бұзу немесе олардың материалдық немесе моральдық зиян келтіруі мүмкін кез келген іс-әрекет;</p>
<p>- заңды бұзатын веб-ресурстарға сілтемелерді жариялау;</p>
<p>- ресурс иесі немесе әкімшілік қызметкерлері ретінде рұқсатсыз басқа тұлға немесе ұйымның өкілі ретінде әрекет ету.</p>
</ul>

<li><h3>ӨНІМДІЛІК КЕПІЛДІГІ</h3>

<p>Ресурсқа қол жеткізу "сол күйінде" ұсынылады және ешқашан ашық немесе жасырын кепілдіктер берілмейді.</p>

<p>Атап айтқанда, ресурс әкімшілігі сайттың және оның жеке бөлімдерінің функционалдығы, сондай-ақ пайдаланушылар орналастырған сілтемелердің жұмыс істеуі мен сенімділігі үшін кепілдік бермейді.</p>

<p>Ресурс қызметті пайдалану немесе пайдалана алмау, сонымен қатар байланыстарға рұқсатсыз кіру нәтижесінде туындайтын кез келген тікелей немесе жанама шығындар үшін жауапты емес.</p>

<li><h3>РЕСУРС ӘДІМШІЛІГІНІҢ ҚҰҚЫҚТАРЫ</h3>

<p>Ресурс әкімшілігі өзінің әрекеттерін түсіндірмей және ескертусіз кез келген пайдаланушыға немесе пайдаланушылар тобына ресурстарға кіруден бас тарту құқығына ие.</p>

<p>Ресурс әкімшілігі пайдаланушы ұсынған ақпаратты, хэш-файлдар (торренттер), графика, аудио және басқа деректерді еш хабарламасыз және себебін түсіндірмей өзгерту немесе жою құқығына ие.</p>

<li><h3>ТАРАПТАРДЫҢ ЖАУАПКЕРШІЛІГІ</h3>

<p>Пайдаланушы КЕЛІСІМ шарттарымен байланысты барлық мүмкін даулар заң нормаларына сәйкес шешілетінін қабылдайды.</p>

<p>Пайдаланушы тұтынушыларды қорғау туралы заңдар мен ережелер Ресурсты пайдалану кезінде қолданылмайтынын, себебі бұл ресурс ақылы қызметтер ұсынбайтынын келіседі.</p>

<p>Ресурс пайдаланушы агенттік қызметі, серіктестік, жұмысқа алу немесе КЕЛІСІМ шартында ашық көрсетілмеген басқа да қатынастарды орнатпайды.</p>

<p>Пайдаланушы немесе пайдаланушылар тобының КЕЛІСІМ шартын бұзған жағдайында Ресурс тарапынан әрекетсіздік реті Ресурс пайдаланушыларға көмектеседі дегенді білдірмейді.</p>

<p>Пайдаланушылардың КЕЛІСІМ шартын бұзған жағдайындағы Ресурстың әрекетсіздігі оның кейін өз мүдделерін қорғау үшін қажетті іс-шараларды қабылдау құқығынан айыра алмайды.</p>

<li><h3>ПАЙДАЛАНУШЫ КЕЛІСІМІН ҚАБЫЛДАУ</h3>

<p>ЕГЕР СІЗ ЖОҒАРЫДАҒЫ БАРЛЫҚ ШАРТТАРМЕН КЕЛІСПЕСЕҢІЗ, ПАЙДАЛАНУШЫ КЕЛІСІМІ БЕТІН ҚОСҚАНДА, РЕСУРСТЫҢ ТОЛЫҒЫМЕН НЕМЕСЕ БӨЛІГІНЕ КІРУГЕ ЖӘНЕ МАЗМҰНЫНА ҚОЛ ЖЕТКІЗУГЕ ҚҰҚЫҚ СЫЗ, ТОЛЫҚ НЕ БӨЛІКТЕМЕЙ!</p>

<p>ЕГЕР СІЗ ПАЙДАЛАНУШЫ КЕЛІСІМІМЕН КЕЛІСПЕСЕҢІЗ, ДЕРЕКТЕРДІ ОРАЛЫҚТАН ТҮСІРІП, РЕСУРСТАН ШЫҒУЫҢЫЗ КЕРЕК.</p>

</ol>
</p>

</div><!--/infobox-body-->
