<div id="infobox-body">

<p><h1>INFORMACIJA DĖL AUTORIŲ TEISIŲ TURĖTOJAMS</h1></p>

<p>Jei esate bet kurios šioje svetainėje susietos medžiagos autorių teisių turėtojas ir nenorite, kad ši informacija būtų platinama vartotojams be jūsų sutikimo, mielai padėsime jums pašalindami atitinkamas nuorodas.</p>

<p>Tam prašome atsiųsti mums elektroninį laišką, kuriame būtų nurodyta ši informacija:</p>

<p>1. Dokumentinis jūsų teisių į autorių teisių saugomą medžiagą įrodymas:</p>
<p> — nuskaitytas dokumentas su oficialiu antspaudu, arba</p>
<p> — el. laiškas, atsiųstas iš teisę turinčios įmonės oficialaus domeno, arba</p>
<p> — kita kontaktinė informacija, kuri unikalizuoja jus kaip teisių turėtoją.</p>

<p>2. Tekstas, kurį norėtumėte paskelbti vietoje išimto turinio.</p>

<p>Šiame tekste galite nurodyti, kur ir kokiomis sąlygomis vartotojai gali gauti informaciją, kurios nuorodos buvo pašalintos, taip pat savo kontaktinius duomenis, kad vartotojai galėtų susisiekti su jumis dėl šios medžiagos.</p>

<p>3. Tiesioginės nuorodos į puslapius, kuriuose yra nuorodų į duomenis, kuriuos reikia pašalinti.</p>

<p>Nuorodos turėtų būti tokio formato: <strong>https://url.to/link</strong> arba panašiai.</p>

<p>Per 48 valandas po jūsų prašymo gavimo mes pašalinsime atitinkamas nuorodas iš svetainės.</p>

<p class="bold">Mūsų el. paštas: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>DĖMESIO!</p>

<p>a) Pasiliekame teisę skelbti svetainėje bet kokią informaciją, atsiųstą mums el. paštu <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Mes nekontroliuojame vartotojų veiksmų, kurie gali pakartotinai publikuoti nuorodas į informaciją, kuri yra jūsų autorių teisių objektas. Visa forume pateikta informacija yra skelbiama automatiškai, be išankstinio peržiūrėjimo ar moderavimo, laikantis visuotinai priimtų tarptautinių interneto informacijos talpinimo praktikų. Tačiau mes svarstysime visas užklausas dėl nuorodų į informaciją, pažeidžiančią jūsų teises.</p>

<p>c) Pagal galiojančius autorių teisių ir susijusių teisių įstatymus, hipersaitas į duomenis (informacinė nuoroda) pats savaime nėra saugomas autorių teisėmis (nors tai gali pažeisti svetainės Naudojimosi taisykles). Todėl prašome nesiųsti laiškų su grasinimais ar reikalavimais, nes tokiems reikalavimams nėra teisinio pagrindo.</p>

</div>
