<div>
	<h3>2 šoninė juosta</h3>
	Norėdami pridėti turinį į šią šoninę juostą, redaguokite šiuos failus:
	<br /><br />
	<ul class="med">
		<li>biblioteka/kalba/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Norėdami išjungti šią šoninę juostą, faile config/layouts.php nustatykite kintamąjį page.show_sidebar2 į false.
</div>
