<div>
	<h3>Šoninė juosta 2</h3>
	Norėdami pridėti turinį į šią šoninę juostą, redaguokite šiuos failus:
	<br /><br />
	<ul class="med">
		<li>biblioteka/kalba/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Norėdami išjungti šį šoninės juostos funkcionalumą, nustatykite kintamąjį page.show_sidebar2 faile config.php į false.
</div>
