<div id="infobox-body">

<p>

<p><h1>VARTOTOJO SUTARTIS</h1></p>

<p><h3>APIE SVETAINĘ</h3></p>

<p>Interneto išteklius / svetainė (toliau – Išteklius) yra interneto svetainė, leidžianti vartotojams keistis informacija tarpusavyje per BitTorrent, taip pat laisva forma, ir suteikianti priemones perduodamos informacijos vientisumo stebėsenai (per maišos failus).</p>

<ol>

<li type="1"><h3>APIE VARTOTOJO SUTARTĮ</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. VARTOTOJO SUTARTIS gali būti keičiama Administracijos be jokio įspėjimo. <p>Nauja VARTOTOJO SUTARTIES redakcija įsigalioja po 3 (trijų) dienų nuo jos paskelbimo, išskyrus atvejus, kai naujoje sutarties redakcijoje nurodyta kitaip.</p>

<li><h3>ATSAKOMYBĖS APRIBOJIMAI</h3>

<p>Vartotojas aiškiai sutinka, kad naudoja Išteklį savo rizika.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. <p>Išteklio administracija negali kontroliuoti šių medžiagų turinio ir saugumo, todėl ji neatsako už:</p>
<ul>
<p>- medžiagų turinį, gautą vartotojo iš duomenų Išteklio, ir jų galimą nesuderinamumą su galiojančiais įstatymais ar įžeidimą;</p>
<p>- informacijos taikymo, naudojimo ar nenaudojimo pasekmes;</p>
<p>- galimus neatitikimus tarp gautų rezultatų ir Išteklio vartotojo lūkesčių;</p>
<p>- bet kokią žalą vartotojo techninei ar programinei įrangai, atsiradusią dėl Išteklio naudojimo;</p>
<p>- negalėjimą naudotis Ištekliais bet kokia priežastimi;</p>
<p>- pasekmes, kylančias dėl neteisėtos ar nelicencijuotos programinės įrangos, garso-/vaizdo produktų ir kitų medžiagų ar duomenų, pažeidžiančių trečiųjų šalių teises, platinimo.</p>
</ul>

<p>Jokiomis aplinkybėmis Išteklis nėra atsakingas vartotojui ar tretiesiems asmenims už žalą, nuostolius ar išlaidas, kylančias dėl Išteklio naudojimo arba negalėjimo naudotis juo, įskaitant prarastas pajamas ar negautą pelną.</p>

<p>Išteklio administracija nėra įpareigota užtikrinti Vartotojų pateiktos informacijos konfidencialumo, nors imasi visų įmanomų priemonių, jei nėra kitokio susitarimo arba teisės aktų reikalavimų.</p>

<p>Išteklio pareigos neapima teisėtai ar neteisėtai perduotos informacijos (įskaitant, bet neapsiribojant: informacija tarp vartotojų per BitTorrent, vidiniai informacijos perdavimai nuorodomis, tekstais ar failais), nuosavybės teisių ar perdavimo teisėtumo tikrinimo.</p>

<li><h3>VARTOTOJO IŠTEKLIŲ NAUDOJIMO APRIBOJIMAI</h3>

<p>Naudodamasis šiuo Ištekliais, VARTOTOJAS neturi teisės ir sutinka su šiais apribojimais:</p>
<ul>
<p>- talpinti maišos failus (torrentus) su duomenimis, kuriuose yra virusų ar kitų žinomų kenksmingų kompiuterinių programų, failų ar programų, skirtų sutrikdyti, sunaikinti ar apriboti kompiuterio ar telekomunikacijų įrangos funkcionalumą, neteisėtos prieigos programas, taip pat komercinės programinės įrangos produktų serijos numerius, jų generavimo programas, prisijungimo vardus, slaptažodžius ir kitus neteisėtos prieigos prie interneto svetainių būdus, taip pat skelbti nuorodas į šią informaciją;</p>
<p>- talpinti maišos failus (torrentus) su žinutėmis, duomenimis ar programomis, kurių naudojimas pažeidžia bet kokius patentus, prekių ženklus, komercines paslaptis, autorių teises ar kitas nuosavybės teises ir (arba) trečiųjų šalių autorių teises ir gretutines teises;</p>
<p>- siųsti reklamos tipo (junk mail, spam) nesankcionuotus elektroninius laiškus į svetainėje nurodytus el. pašto adresus;</p>
<p>- kopijuoti ir naudoti komerciniais tikslais bet kokią per šį išteklių gautą informaciją, kuri pažeidžia kitų asmenų teises arba gali sukelti jiems tiesioginę turtinę ar moralinę žalą;</p>
<p>- skelbti nuorodas į interneto išteklius, kurių turinys prieštarauja galiojančiai įstatymų sistemai;</p>
<p>- apsimesti bet kuriuo asmeniu arba organizacijos ir (ar) bendruomenės atstovu, neturint pakankamų teisių, įskaitant administracijos darbuotojus, ir teigti, jog esate Išteklio savininkas.</p>
</ul>

<li><h3>VEIKLUMO GARANTIJA</h3>

<p>Prieiga prie Išteklio suteikiama "tokiu, koks yra" režimu be jokių garantijų, tiesioginių ar netiesioginių.</p>

<p>Išteklio administracija negarantuoja svetainės ir jos atskirų skyrių funkcionalumo bei vartotojų pateiktų nuorodų veikimo ir patikimumo.</p>

<p>Išteklis nėra atsakingas už jokius tiesioginius ar netiesioginius nuostolius, kilusius dėl paslaugos naudojimo ar negalėjimo ja naudotis; taip pat dėl neteisėtos prieigos prie jūsų komunikacijos.</p>

<li><h3>IŠTEKLIŲ ADMINISTRACIJOS TEISĖS</h3>

<p>Išteklio administracija turi teisę bet kuriam vartotojui ar vartotojų grupei uždrausti prieigą prie Išteklio be paaiškinimo ar įspėjimo.</p>

<p>Išteklio administracija gali keisti arba ištrinti bet kokią informaciją, maišos failus (torrentus), grafiką, garsus ir kitus duomenis, pateiktus vartotojų, be įspėjimo ar paaiškinimo.</p>

<li><h3>ŠALIŲ ATSAKOMYBĖS</h3>

<p>Vartotojas sutinka, kad visi galimi ginčai, susiję su NAUDOJIMO SUTARTIMI, bus sprendžiami pagal teisės aktų normas.</p>

<p>Vartotojas sutinka, kad vartotojų teisių apsaugos taisyklės ir įstatymai netaikomi Išteklio naudojimui, nes nėra teikiamos jokios mokamos paslaugos.</p>

<p>Išteklis nesudaro agentūrinių santykių su vartotoju, partnerystės santykių dėl bendros veiklos, įdarbinimo santykių ar kitų santykių, kurie nėra aiškiai aprašyti Naudojimo sutartyje.</p>

<p>Nesiimant veiksmų Išteklio dėl vartotojo ar vartotojų grupės VARTOTOJO SUTARTIES pažeidimo nereiškia, kad Išteklis remia tokį elgesį.</p>

<p>Nesiimant veiksmų Išteklio dėl vartotojo ar vartotojų grupės VARTOTOJO SUTARTIES pažeidimo, Išteklio teisės imtis atitinkamų veiksmų vėliau nesumažėja.</p>

<li><h3>VARTOTOJO SUTARTIES PRIĖMIMAS</h3>

<p>JEI NESUTINKATE SU VISOMIS AUKŠČIAU IŠDĖSTYTOMIS SĄLYGOMIS, JUMS DRAUDŽIAMA NAUDOTIS IŠTEKLIAIS VISU MASTU ARBA JŲ DALIMI, IŠSKYRUS PUSLAPIUS SU VARTOTOJO SUTARTIMI, GAUTI AR TIKRINTI TURINĮ KITOKIAIS BŪDAIS VISUOMENĖJE ARBET BET KURIOJE JO DALYJE!</p>

<p>JEI NESUTINKATE SU VARTOTOJO SUTARTIMI, TURITE IŠKARTO PALIKTI IŠTEKLIUS.</p>

</ol>
</p>

</div><!--/infobox-body-->
