<div id="infobox-body">

<p>

<p><h1>VARTOTOJO SUTARTIS</h1></p>

<p><h3>APIE SVETAINĘ</h3></p>

<p>Šis internetinis išteklius/svetainė (toliau – „Išteklius") yra svetainė, leidžianti vartotojams keistis informacija per BitTorrent ir kitomis formomis bei suteikianti priemones perduotos informacijos vientisumo patikrinimui (per hash failus).</p>

<ol>

<li type="1"><h3>APIE ŠIĄ VARTOTOJO SUTARTĮ</h3>

<p>Ši Vartotojo sutartis (toliau – „Sutartis") įsigalios užpaudus mygtuką „Sutinku" apačioje ir galios visą laiką, kol Vartotojas naudos Išteklį. Administracija gali keisti Sutartį be išankstinio įspėjimo. Nauja Sutarties versija įsigalioja po 3 (trijų) dienų nuo jos paskelbimo, jei naujoje versijoje nenustatyta kitaip.</p>

<li><h3>ATSAKOMYBĖS APRIBOJIMAI</h3>

<p>Vartotojas aiškiai sutinka naudotis Ištekliais savo rizika.</p>

<p>Vartotojas pripažįsta ir sutinka, kad Ištekliai veikia su trečiųjų šalių sukurtomis medžiagomis ir duomenimis, talpinamais jų kompiuteriuose ir/ar serveriuose internete. Išteklių administracija negali kontroliuoti šių medžiagų turinio ir saugumo, todėl ji neatsako:</p>
<ul>
<p>- už medžiagų, gautų per Išteklį, turinį, įskaitant bet kokį jų galimą prieštaravimą įstatymams arba įžeidžiantį pobūdį;</p>
<p>- už žalos pasekmes, kylančias dėl gautos informacijos taikymo, naudojimo arba nenaudojimo;</p>
<p>- už neatitikimus tarp rezultatų, gautų per Išteklį, ir Vartotojo lūkesčių;</p>
<p>- už bet kokią žalą Vartotojo techninei ar programinei įrangai, atsiradusią dėl Ištekliaus naudojimo;</p>
<p>- už bet kokią priežastį, dėl kurios Ištekliai tampa nepasiekiami;</p>
<p>- už pasekmes, kylančias dėl neteisėtos ar nelicencijuotos programinės įrangos, garso ar vaizdo turinio ar kitų medžiagų ar duomenų, pažeidžiančių trečiųjų šalių teises, platinimo.</p>
</ul>

<p>Jokiomis aplinkybėmis Ištekliai nebus atsakingi Vartotojui ar trečiosioms šalims už jokius žalų, nuostolių ar išlaidų atvejus, susijusius su Ištekliais, jų naudojimu ar nepasiekiamumu, įskaitant prarastas pajamas ar pelną.</p>

<p>Išteklių administracija nėra įpareigota užtikrinti Vartotojų pateiktos informacijos konfidencialumo, nors imsis visų įmanomų priemonių tai užtikrinti, jei nėra kito susitarimo arba jei galiojantys teisės aktai nereikalauja kitaip.</p>

<p>Į Išteklių pareigas neįeina perduotos informacijos teisėtumo kontrolė (įskaitant, bet neapsiribojant, informacija, perduodama tarp vartotojų per BitTorrent, vidinius pranešimus bet kokia forma, tekstu ar failais), nuosavybės teisių ar teisėtumo vertinimas perduodant ar gaunant tokią informaciją.</p>

<li><h3>VARTOTOJO NAUDOJIMOSI IŠTEKLIAIS APRIBOJIMAI</h3>

<p>Naudodamasis šiais Ištekliais, Vartotojas neturi, ir sutinka, kad nedarys šių veiksmų:</p>
<ul>
<p>- talpinti hash failus (torrentus), kuriuose yra virusų ar kitų kenkėjiškų programų, skirtų trikdyti, naikinti ar riboti bet kokios kompiuterinės ar telekomunikacinės įrangos funkcionalumą, programų neteisėtai prieigai gauti, komercinės programinės įrangos serijos numerių ar jų generavimo įrankių, prisijungimo vardų, slaptažodžių ar kitų neteisėtos prieigos prie interneto išteklių priemonių, taip pat skelbti nuorodas į minėtą turinį;</p>
<p>- talpinti hash failus (torrentus), kuriuose yra žinučių, duomenų ar programų, kurių naudojimas pažeidžia patentus, prekių ženklus, komercines paslaptis, autorių teises ar kitas trečiųjų šalių nuosavybės teises arba susijusias teises;</p>
<p>- siųsti nepageidaujamus reklaminės žinutes (šlamštą) į svetainėje nurodytus el. pašto adresus;</p>
<p>- kopijuoti ir naudoti komerciniais tikslais bet kokią per Išteklį gautą informaciją, kuri pažeidžia kitų teises arba gali sukelti jiems tiesioginę turtinę ar moralinę žalą;</p>
<p>- skelbti nuorodas į interneto išteklius, kurių turinys prieštarauja galiojantiems teisės aktams;</p>
<p>- impersonate any person or representative of an organization and/or community without proper authorization, including employees of the Administration or the owner of the Resource.</p>
</ul>

<li><h3>GARANTIJŲ ATSISAKYMAS</h3>

<p>Prieiga prie Išteklio suteikiama „kaip yra" pagrindu, be jokių aiškių ar numanomų garantijų.</p>

<p>Ypač Išteklių administracija negarantuoja svetainės ar jos atskirų skyrių funkcionalumo, taip pat nuorodų, kurias pateikė Vartotojai, veikimo ir patikimumo.</p>

<p>Išteklių administracija nėra atsakinga už tiesioginius ar netiesioginius nuostolius, atsiradusius dėl paslaugos naudojimo arba negalėjimo ja naudotis, ar neteisėtos prieigos prie Jūsų komunikacijos.</p>

<li><h3>TEISĖS, KURIOS PRIKLAUSO IŠTEKLIŲ ADMINISTRACIJAI</h3>

<p>Išteklių administracija turi teisę bet kuriam Vartotojui ar Vartotojų grupei uždrausti naudotis Ištekliais be paaiškinimų ar išankstinio įspėjimo.</p>

<p>Išteklių administracija gali be išankstinio įspėjimo ar paaiškinimų keisti ar pašalinti bet kokią Vartotojų pateiktą informaciją, hash failus (torrentus), grafiką, garsą ir kitus duomenis.</p>

<li><h3>ŠALIŲ ATSAKOMYBĖS</h3>

<p>Vartotojas sutinka, kad visi ginčai, kylantys iš šios Sutarties, bus sprendžiami taikant galiojančius teisės aktus.</p>

<p>Vartotojas sutinka, kad vartotojų apsaugos įstatymai bei nuostatos netaikomos Ištekliaus naudojimui, kadangi jis nesuteikia mokamų paslaugų.</p>

<p>Ištekliai nekuria agentūros, partnerystės, jungtinės veiklos, darbo santykių ar kitų ryšių, kurie nėra tiesiogiai aprašyti šioje Sutartyje.</p>

<p>Ištekliai vengia veiksmų pažeidimų atžvilgiu, tačiau tai nelaikytina tokio veikimo pritarimu ar pagalba.</p>

<p>Ištekliai pasilieka teisę imtis atitinkamų veiksmų savo interesams apsaugoti vėliau, nepaisant anksčiau nevykdytų veiksmų dėl pažeidimų.</p>

<li><h3>VARTOTOJO SUTARTIES PRIĖMIMAS</h3>

<p>JEI NESUTINKATE SU VISOMIS AUKŠČIAU IŠDĖSTYTOMIS SĄLYGOMIS, NEGALITE VISUOMENIŠKAI AR DALINAI NAUDOTIS IŠTEKLIAIS, IŠSKYRUS ŠĮ VARTOTOJO SUTARTIES PUSLAPĮ, TAIP PAT NEGALITE GAUTI AR NAUDOTIS IŠTEKLIAIS KITOKIAIS BŪDAIS VISUOMENIŠKAI AR DALINAI.</p>

<p>JEI NESUTINKATE SU ŠIA VARTOTOJO SUTARTIMI, PRIVALOTE NEDLYGIAI PALIKTI IŠTEKLIUS.</p>

</ol>
</p>

</div>
