<div id="infobox-body">

<p><h1>INFORMATION OM UPPHOVSRÄTT</h1></p>

<p>Om du är upphovsrättsinnehavare till något material länkat (eller länkar) som är tillgängligt på denna webbplats, och inte vill att denna information sprids av användare utan ditt medgivande, kommer vi gärna att hjälpa dig att ta bort de aktuella länkarna.</p>

<p>Detta kräver att du har skickat oss ett brev (i elektronisk form)
som anger följande information för oss:</p>

<p>1. Dokumentärt bevis på dina rättigheter till material som skyddas av upphovsrätt:</p>
<p> - skannat dokument med sigill, eller</p>
<p> - e-post från en officiell e-postdomän som ägs av företaget, eller</p>
<p> - annan kontaktinformation som unikt identifierar dig som ägare av materialet.</p>

<p>2. Texten som du vill placera, tillsammans med borttagbar information.</p>

<p>I den kan du ange var och under vilka villkor du kan få information, hänvisningar som har tagits bort, samt dina kontaktuppgifter, så att användarna kan få all nödvändig information från dig om detta material.</p>

<p>3. Direktlänkar till sidor som innehåller referenser till data som måste tas bort.</p>

<p>Länkar bör visas som <strong>https://url.to/link</strong> eller något liknande.</p>

<p>Efter det kommer vi att ta bort de aktuella länkarna från webbplatsen inom 48 timmar.</p>

<p class="bold">Vår e-post: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>VARNING!</p>

<p>a) Vi förbehåller oss rätten att publicera på webbplatsen all information som skickas till oss via e-post <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

b) Vi har ingen kontroll över de åtgärder som vidtas av användare som kan komma att publicera länkar till information, vilket är föremål för din upphovsrätt. All information i forumet placeras automatiskt, utan någon kontroll från någon part alls, vilket motsvarar den allmänt accepterade internationella praxis för publicering av information på Internet. Men i vilket fall som helst behandlar vi alla dina förfrågningar angående hänvisningen till den information som kränker dina rättigheter.</p>

<p>c) Enligt lagen om upphovsrätt och närstående rättigheter är en hänvisning till någon data (informationsmeddelande) i sig inte föremål för upphovsrättslagen (även om den kan bryta mot "Avtalet om användning av webbplatsen"). Därför är det inte nödvändigt att skicka brev som innehåller hot eller krav, som inte har någon verklig grund.</p>

</div><!--/infobox-body-->
