<div id="infobox-body">

<p>

<p><h1>ANVÄNDARAVTAL</h1></p>

<p><h3>OM SAJTEN</h3></p>

<p>Internet - resurs / webbplats (nedan kallad Resurs) är en webbplats som tillåter användare att dela information med varandra via bit-torrent, liksom i fri form, och ger en möjlighet att övervaka integriteten av den information som överförs (via hash-filer).</p>

<ol>

<li type="1"><h3>OM ANVÄNDARAVTALET</h3>

<p>Detta ANVÄNDARAVTAL träder i kraft efter att du klickat på "Jag godkänner" längst ner och gäller under hela användningen av resursen av användarna. ANVÄNDARAVTALET kan ändras av administrationen utan förvarning. Den nya versionen av ANVÄNDARAVTALET träder i kraft efter 3 (tre) dagar från dateringen av införandet, om inte annat anges i den nya versionen av ANVÄNDARAVTALET.</p>

<li><h3>BEGRÄNSNINGAR AV ANSVAR</h3>

<p>Användaren samtycker uttryckligen till att använda resursen på egen risk.</p>

<p>Användaren känner till och samtycker till att hanterar material och data från tredje parter som skapats och placerats på Internet på deras datorer och (eller) servrar. Innehållet och säkerheten i detta material kan inte kontrolleras av resursadministrationen, och därför är denna inte ansvarig för:</p>
<ul>
<p>- innehållet i material som användaren erhållit genom användandet av resursdata och deras möjliga olämplighet gentemot gällande lagar eller stötande karaktär;</p>
<p>- konsekvenserna av tillämpning, användning eller icke-användning av informationen som mottagits;</p>
<p>- eventuell avvikelse mellan resultaten som erhållits med användning av resursen och användarens förväntningar;</p>
<p>- för eventuell skada på användarens hårdvara eller mjukvara som uppstått till följd av användning av resursen;</p>
<p>- för oförmåga att använda resursen av någon anledning;</p>
<p>- konsekvenser som kan uppstå från spridning av olaglig eller olicensierad programvara och ljud-/videoprodukter samt andra material eller data som påverkar tredje parts rättigheter.</p>
</ul>

<p>Under inga omständigheter är resursen ansvarig gentemot användaren eller tredje part för skador, förluster eller kostnader uppkomna i samband med resursen, dess användning eller oförmåga att använda den, inklusive förlust av vinst eller utebliven intäkt.</p>

<p>Resursadministrationen är inte skyldig att säkerställa konfidentialitet för information som tillhandahålls av dess användare, men vidtar alla möjliga åtgärder för detta, om inget annat avtalas eller gäller enligt lag.</p>

<p>Resursens uppgifter omfattar INTE kontroll av lagligt eller olagligt överförd information (all information, inklusive men inte begränsat till information som överförs mellan användare via bit-torrent, intern överföring av information i olika länkar, text eller filer), fastställande av äganderätt eller legitimt mottagande/användning av denna information.</p>

<li><h3>BEGRÄNSNINGAR FÖR ANVÄNDNING AV RESURSEN AV ANVÄNDAREN</h3>

<p>När du använder denna resurs har användaren inte rätt till följande och samtycker till detta:</p>
<ul>
<p>- att placera hash-filer (torrenter) som innehåller virus eller andra skadliga datorprogram, kända handlingar eller program som är avsedda att avbryta, förstöra eller begränsa funktionaliteten hos någon dator- eller telekommunikationsutrustning, eller program för obehörig åtkomst, liksom serienummer för kommersiella programvaror och program för produktion av dessa, inloggningar, lösenord och andra medel för obehörig åtkomst till webbplatser på Internet, samt länkar till sådan information;</p>
<p>- att placera hash-filer (torrenter) med meddelanden, data eller program vars användning kränker patent, varumärken, affärshemligheter, upphovsrätt eller andra immateriella rättigheter och/eller närstående rättigheter till tredje part;</p>
<p>- att skicka e-postmeddelanden av reklamtyp (skräppost, spam) till e-postadresser listade på webbplatsen;</p>
<p>- att kopiera och använda information för kommersiella ändamål som erhållits via denna resurs som kränker andras rättigheter eller kan orsaka direkt materiell eller moralisk skada;</p>
<p>- att publicera länkar till webbresurser vars innehåll strider mot gällande lagstiftning;</p>
<p>- att utge sig för att vara en annan person eller representant för en organisation och/eller gemenskap utan tillräckliga rättigheter, inklusive anställda hos administratörer av resursen.</p>
</ul>

<li><h3>GARANTI FÖR FUNKTIONALITET</h3>

<p>Tillgång till resursen tillhandahålls "i befintligt skick" utan några garantier, vare sig uttryckliga eller underförstådda.</p>

<p>Specifikt garanterar inte resursadministrationen funktionaliteten för webbplatsen och dess enskilda sektioner, eller prestanda och tillförlitlighet för länkar placerade av användarna.</p>

<p>Resursen ansvarar inte för några direkta eller indirekta förluster som kan uppstå till följd av användning eller oförmåga att använda tjänsten; eller obehörig åtkomst till dina meddelanden.</p>

<li><h3>RÄTTIGHETER FÖR RESURSADMINISTRATIONEN</h3>

<p>Resursadministrationen har rätt att neka åtkomst till resursen för vilken användare eller användargrupp som helst utan förklaring eller förvarning.</p>

<p>Resursadministrationen kan ändra eller ta bort vilken information som helst, hash-filer (torrenter), grafik, ljud och andra data som användaren har lämnad in, utan förvarning eller förklaring.</p>

<li><h3>PARTERNAS ANSVAR</h3>

<p>Användaren godtar att alla möjliga tvister angående AVTALET OM ANVÄNDNING ska lösas enligt gällande lagar.</p>

<p>Användaren godtar att regler och lagar om konsumentskydd inte gäller användningen av denna resurs eftersom den inte erbjuder betalda tjänster.</p>

<p>Resursen skapar inga användaragentrelationer, partnerskapsrelationer vid gemensamma aktiviteter, rekryteringsrelationer eller andra relationer som inte uttryckligen beskrivs i AVTALET OM ANVÄNDNING.</p>

<p>Resursens passivitet vid överträdelse av ANVÄNDARAVTALET av användare eller användargrupp betyder inte att resursen stödjer sådana handlingar.</p>

<p>Resursens passivitet vid överträdelse av ANVÄNDARAVTALET berövar inte resursen rätten att senare vidta lämpliga åtgärder för att skydda sina intressen.</p>

<li><h3>ACCEPTERANDE AV ANVÄNDARAVTALET</h3>

<p>OM DU INTE ACCEPTERAR ALLA OVANSTÅENDE VILLKOR, FÅR DU INTE BESÖKA RESURSEN SOM HELHET ELLER DELVIS, FÖRUTOM SIDAN MED ANVÄNDARAVTALET, ELLER TA EMOT OCH/ELLER FÅ TILLGÅNG TILL INNEHÅLLET PÅ DENNA RESURS PÅ NÅGOT ANNAT SÄTT, HELT ELLER DELVIS!</p>

<p>OM DU INTE ACCEPTERAR ANVÄNDARAVTALET, MÅSTE DU OMEDELBART LÄMNA RESURSEN.</p>

</ol>
</p>

</div><!--/infobox-body-->
