<div id="infobox-body">

<p>

<p><h1>ANVÄNDARAVTAL</h1></p>

<p><h3>OM WEBBPLATSEN</h3></p>

<p>Denna internetresurs/webbplats (nedan kallad "Resursen") är en webbplats som tillåter användare att dela information med varandra via BitTorrent samt på andra sätt och som tillhandahåller möjligheter att verifiera integriteten hos den överförda informationen (via hash-filer).</p>

<ol>

<li type="1"><h3>OM DETTA ANVÄNDARAVTAL</h3>

<p>Detta användaravtal (nedan kallat "Avtalet") träder i kraft när du klickar på "Jag godkänner" längst ner och gäller under hela tiden som användaren använder Resursen. Avtalet kan ändras av administrationen utan föregående meddelande. Den nya versionen av avtalet träder i kraft 3 (tre) dagar efter att den publicerats, om inte annat anges i den nya versionen av avtalet.</p>

<li><h3>BEGRÄNSNINGAR AV ANSVAR</h3>

<p>Användaren godkänner uttryckligen att använda Resursen på egen risk.</p>

<p>Användaren är medveten om och accepterar att Resursen hanterar material och data skapade av tredje part, vilka är värd för dessa på Internet via sina egna datorer och/eller servrar. Innehållet och säkerheten i dessa material kan inte kontrolleras av Resursadministrationen; därför ansvarar inte administrationen för:</p>
<ul>
<p>- innehållet i material som användaren erhåller via Resursen, inklusive eventuell oförenlighet med gällande lagar eller eventuellt stötande innehåll;</p>
<p>- följder av användning, tillämpning eller utebliven användning av den erhållna informationen;</p>
<p>- eventuell diskrepans mellan resultat som erhållits via Resursen och användarens förväntningar;</p>
<p>- skador på användarens hårdvara eller mjukvara som uppkommer till följd av användning av Resursen;</p>
<p>- oförmåga att använda Resursen av vilken anledning som helst;</p>
<p>- följder som kan uppstå från spridning av illegal eller olicensierad programvara, ljud-/videoinnehåll eller annat material eller data som kan inkräkta på tredje parts rättigheter.</p>
</ul>

<p>Under inga omständigheter ska Resursen hållas ansvarig gentemot användaren eller tredje part för skador, förluster eller kostnader som uppstår i samband med Resursen, dess användning eller oförmåga att använda den, inklusive förlorad vinst.</p>

<p>Resursadministrationen är inte skyldig att säkerställa konfidentialiteten av information som tillhandahålls av användarna, men vidtar alla rimliga åtgärder för detta, såvida inte annat avtalats eller lagstiftningen kräver annat.</p>

<p>Resursens uppgifter inkluderar inte övervakning av lagligheten i överförd information (inklusive, men inte begränsat till, information överförd mellan användare via BitTorrent, interna meddelanden i olika former, text eller filer), eller fastställande av immateriella rättigheter eller legitimiteten i att överföra eller ta emot sådan information.</p>

<li><h3>BEGRÄNSNINGAR FÖR ANVÄNDARENS ANVÄNDNING AV RESURSEN</h3>

<p>När du använder denna Resurs får du inte och samtycker till att inte:</p>
<ul>
<p>- ladda upp hash-filer (torrents) som innehåller data med virus eller annan skadlig programvara, filer eller program avsedda att störa, förstöra eller begränsa funktionaliteten hos datorer eller telekommunikationsutrustning, program för obehörig åtkomst, serienummer för kommersiell programvara eller verktyg för att generera dessa, inloggningar, lösenord eller andra medel för obehörig åtkomst till internetresurser, samt publicera länkar till ovanstående;</p>
<p>- ladda upp hash-filer (torrents) som innehåller meddelanden, data eller program vars användning inkräktar på patent, varumärken, affärshemligheter, upphovsrätt eller andra äganderättigheter och/eller närstående rättigheter till tredje part;</p>
<p>- skicka obehöriga reklammeddelanden (junk mail, spam) till e-postadresser som finns angivna på webbplatsen;</p>
<p>- kopiera och använda för kommersiella ändamål information som erhållits via Resursen, som kränker andras rättigheter eller kan orsaka dem direkt materiell eller moralisk skada;</p>
<p>- posta länkar till webbresurser vars innehåll strider mot gällande lagstiftning;</p>
<p>- utge sig för att vara någon annan person eller representant för en organisation och/eller gemenskap utan behörighet, inklusive anställda hos administrationen eller Resursens ägare.</p>
</ul>

<li><h3>ANNULLERING AV GARANTIER</h3>

<p>Tillgång till Resursen tillhandahålls "i befintligt skick" utan några garantier, vare sig uttryckliga eller underförstådda.</p>

<p>Specifikt garanterar inte Resursadministrationen funktionaliteten på webbplatsen eller dess enskilda avdelningar, inte heller driften eller tillförlitligheten av länkar som användare har publicerat.</p>

<p>Resursen ansvarar inte för direkta eller indirekta förluster som uppstår på grund av: användning eller oförmåga att använda tjänsten; eller obehörig åtkomst till din kommunikation.</p>

<li><h3>RÄTTIGHETER FÖR RESURSADMINISTRATIONEN</h3>

<p>Resursadministrationen har rätt att neka åtkomst till Resursen för vilken användare eller användargrupp som helst utan förklaring eller föregående meddelande.</p>

<p>Resursadministrationen kan utan föregående meddelande eller förklaring ändra eller radera vilken information, hash-filer (torrents), grafik, ljud och annan data som helst som användare har lämnat in till Resursen.</p>

<li><h3>ANSVAR FÖR PARTERNA</h3>

<p>Användaren samtycker till att alla tvister som uppstår ur detta avtal ska lösas i enlighet med gällande lagstiftning.</p>

<p>Användaren samtycker till att konsumentskyddslagar och förordningar inte gäller för användning av denna Resurs eftersom den inte tillhandahåller betalda tjänster.</p>

<p>Resursen skapar inte agentur, partnerskap, joint venture, anställningsförhållanden eller andra relationer som inte uttryckligen beskrivs i detta avtal.</p>

<p>Att Resursen inte agerar vid brott mot detta avtal från en användare eller grupp av användare innebär inte godkännande av eller medverkan i sådana handlingar.</p>

<p>Resursens underlåtelse att agera vid brott mot detta avtal från en användare eller grupp av användare berövar inte Resursen rätten att senare vidta lämpliga åtgärder för att skydda sina intressen.</p>

<li><h3>GODKÄNNANDE AV ANVÄNDARVILLKOREN</h3>

<p>OM DU INTE GODKÄNNER ALLA OVANSTÅENDE VILLKOR OCH REGLER FÅR DU INTE BESÖKA RESURSEN HELT ELLER DELVIS, FÖRUTOM SIDAN MED ANVÄNDARAVTALET, ELLER TA EMOT OCH/ELLER FÅ TILLGÅNG TILL INNEHÅLL PÅ DENNA RESURS MED NÅGOT ANNAT SÄTT, HELT ELLER DELVIS.</p>

<p>OM DU INTE SAMTYCKER TILL DETTA ANVÄNDARAVTAL MÅSTE DU OMÄDELBART LÄMNA RESURSEN.</p>

</ol>
</p>

</div>
