<div id=\"infobox-body\">

<p><h1>ІНФАРМАЦЫЯ ДЛЯ ПРАВАЎЛАДАЛЬНІКАЎ</h1></p>

<p>Калі вы з'яўляецеся праваўладальнікам якога-небудзь матэрыялу, спасылка (альбо спасылкі) на які размешчана на гэтым сайце, і не хацелі б, каб дадзеная інфармацыя распаўсюджвалася карыстальнікамі без вашага на тое згоды, то мы будзем рады аказаць Вам садзейнічанне, выдаліўшы адпаведныя спасылкі.</p>

<p>Для гэтага неабходна, каб вы даслалі нам ліст (у электроннай форме)
які ўтрымлівае наступную інфармацыю:</p>

<p>1. Дакументальнае пацвярджэнне вашых правоў на матэрыялы, абароненыя аўтарскім правам:</p>
<p> - адсканаваны дакумент з пячаткай, або</p>
<p> - email з афіцыйнага паштовага дамена кампаніі праваўладальніка, або</p>
<p> - іншая кантактная інфармацыя, якая дазваляе адназначна ідэнтыфікаваць вас, як праваўладальніка дадзенага матэрыялу.</p>

<p>2. Тэкст, які вы хочаце размясціць, суправаджаецца выдаляльнай інфармацыяй.</p>

<p>У ім вы можаце паказаць дзе, і на якіх умовах можна атрымаць інфармацыю, спасылкі на якую былі выдаленыя, а таксама вашу кантактную інфармацыю, каб карыстальнікі маглі атрымаць ад вас ўсю цікавую для іх інфармацыю адносна дадзенага матэрыялу.</p>

<p>3. Прамыя спасылкі на старонкі, якія ўтрымліваюць спасылкі на дадзеныя, якія неабходна выдаліць.</p>

<p>Спасылкі павінны мець выгляд <strong>https://url.to/link</strong> або што-то падобнае.</p>

<p>Пасля гэтага на працягу 48 гадзін мы выдалім спасылкі, якія вас цікавяць, з сайта.</p>

<p class="bold">Наш email: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>УВАГА!</p>

<p>а) Мы пакідаем за сабой права размяшчаць на сайце любую інфармацыю, дасланую нам на пошту <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) Мы не кантралюем дзеянні карыстальнікаў, якія могуць паўторна размяшчаць спасылкі на інфармацыю, якая з\u2019яўляецца аб\u2019ектам вашага аўтарскага права. Любая інфармацыя на форуме размяшчаецца аўтаматычна, без кантролю з любога боку, што адпавядае агульнапрынятай міжнароднай практыцы размяшчэння інфармацыі ў сетцы Інтэрнэт. Аднак, у любым выпадку, мы разглядаем усе вашы запыты адносна спасылкі на інфармацыю, якая парушае вашыя правы.</p>

<p>в) Згодна з Законам аб аўтарскім праве і сумежных правах, спасылка на любыя дадзеныя (інфармацыйнае паведамленне) сама па сабе не з\u2019яўляецца аб\u2019ектам аўтарскага права (хоць можа парушаць \u201cПагадненне аб выкарыстанні сайта\u201d). Такім чынам, не варта дасылаць лісты з пагрозамі або патрабаваннямі, як без сапраўднай прычыны.</p>

</div><!--/infobox-body-->
