<div id="infobox-body">

<p><h1>ІНФАРМАЦЫЯ ДЛЯ ПРАВАЎЛАДАЛЬНІКАЎ</h1></p>

<p>Калі вы з'яўляецеся праваўладальнікам любога матэрыялу, звязанага на гэтым сайце, і не жадаеце, каб гэтая інфармацыя распаўсюджвалася карыстальнікамі без вашага дазволу, мы з радасцю дапаможам вам, выдаліўшы адпаведныя спасылкі.</p>

<p>Каб зрабіць гэта, калі ласка, вышліце нам электронны ліст з наступнай інфармацыяй:</p>

<p>1. Дакументальнае пацвярджэнне вашых правоў на аўтарскія матэрыялы:</p>
<p> — адсканаваны дакумент з афіцыйнай пячаткай, або</p>
<p> — электронны ліст, адпраўлены з афіцыйнага дамена кампаніі, якая валодае правамі, або</p>
<p> — іншая кантактная інфармацыя, якая адназначна ідэнтыфікуе вас як праваўладальніка.</p>

<p>2. Тэкст, які вы хочаце размясціць замест выдаленага змесціва.</p>

<p>У гэтым тэксце вы можаце ўказаць, дзе і на якіх умовах карыстальнікі могуць атрымаць інфармацыю, спасылкі на якую былі выдалены, а таксама вашыя кантактныя дадзеныя, каб карыстальнікі маглі звязацца з вамі па гэтым матэрыяле.</p>

<p>3. Прамыя спасылкі на старонкі, якія ўтрымліваюць спасылкі на дадзеныя, якія неабходна выдаліць.</p>

<p>Спасылкі павінны быць у фармаце <strong>https://url.to/link</strong> або падобным.</p>

<p>Пасля атрымання вашага запыту на працягу 48 гадзін мы выдалім адпаведныя спасылкі з сайта.</p>

<p class="bold">Наш email: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ПАПЯРЭДЖАННЕ!</p>

<p>а) Мы пакідаем за сабой права размяшчаць на сайце любую інфармацыю, дасланую нам на <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) Мы не кантралюем дзеянні карыстальнікаў, якія могуць паўторна размяшчаць спасылкі на інфармацыю, што з'яўляецца аб'ектам вашага аўтарскага права. Уся інфармацыя на форуме размяшчаецца аўтаматычна, без папярэдняй праверкі ці мадэрацыі, у адпаведнасці з агульнапрынятай міжнароднай практыкай размяшчэння інфармацыі ў інтэрнэце. Аднак мы разгледзім усе запыты адносна спасылак на інфармацыю, якая парушае вашыя правы.</p>

<p>в) Згодна з дзеючым заканадаўствам аб аўтарскім праве і сумежных правах, гіперспасылка на дадзеныя (інфармацыйная спасылка) сама па сабе не з'яўляецца аб’ектам аўтарскага права (аднак можа парушаць Пагадненне карыстальніка сайта). Таму просьба ўстрымацца ад адпраўлення лістоў з пагрозамі або патрабаваннямі, бо няма юрыдычных падстаў для такіх прэтэнзій.</p>

</div>
