<div id="infobox-body">

<p>

<p><h1>КАРЫСТАЛЬНІЦКАЕ ПАГАДНЕННЕ</h1></p>

<p><h3>АБ САЙЦЕ</h3></p>

<p>Гэты інтэрнэт-ресурс/вэб-сайт (далей "Рэсурс") з'яўляецца вэб-сайтам, які дазваляе карыстальнікам дзяліцца інфармацыяй паміж сабой праз BitTorrent, а таксама ў іншых формах, і прадастаўляе сродкі для праверкі цэласнасці перададзенай інфармацыі (праз хэш-файлы).</p>

<ol>

<li type="1"><h3>АБ ГЭТЫМ КАРЫСТАЛЬНІЦКІМ ПАГАДНЕННІ</h3>

<p>Гэта Карыстальніцкае Пагадненне (далей "Пагадненне") уступае ў сілу пасля націску "Я згаджаюся" унізе і застаецца ў сіле на ўвесь час выкарыстання Карыстальнікам гэтага Рэсурсу. Пагадненне можа быць зменена Адміністрацыяй без папярэдняга паведамлення. Новая версія Пагаднення ўступае ў сілу праз 3 (тры) дні пасля яе публікацыі, калі ў новай версіі Пагаднення не прадугледжана іншае.</p>

<li><h3>АБМЕЖАВАННІ АДКАЗНАСЦІ</h3>

<p>Карыстальнік дакладна згаджаецца выкарыстоўваць Рэсурс на свой уласны рызыка.</p>

<p>Карыстальнік прызнае і згаджаецца з тым, што Рэсурс мае справу з матэрыяламі і дадзенымі, створанымі трэцімі бакамі і размешчанымі імі ў інтэрнэце на ўласных кампутарах і/або серверах. Змест і бяспека гэтых матэрыялаў не кантралююцца Адміністрацыяй Рэсурса; таму Адміністрацыя не нясе адказнасць:</p>
<ul>
<p>- за змест матэрыялаў, атрыманых Карыстальнікам праз Рэсурс, у тым ліку магчымую неадпаведнасць дзеючым законам або абразлівы характар такіх матэрыялаў;</p>
<p>- за наступствы прымянення, выкарыстання або невыкарыстання атрыманай інфармацыі;</p>
<p>- за любыя несупадзенні паміж вынікамі, атрыманымі праз Рэсурс, і чаканнямі Карыстальніка;</p>
<p>- за любыя пашкоджанні абсталявання ці праграмнага забеспячэння Карыстальніка, што ўзніклі ў выніку выкарыстання Рэсурса;</p>
<p>- за немагчымасць выкарыстання Рэсурса па любой прычыне;</p>
<p>- за наступствы, якія могуць узнікнуць у выніку распаўсюджвання нелегальнага або неліцэнзійнага праграмнага забеспячэння, аўдыё-/відэакантэнту або іншых матэрыялаў ці дадзеных, якія парушаюць правы трэціх асоб.</p>
</ul>

<p>У ні ў якіх абставінах Рэсурс не нясе адказнасці перад Карыстальнікам або якой-небудзь трэцяй асобай за любыя страты, шкоды або выдаткі, што ўзніклі ў сувязі з Рэсурсам, яго выкарыстаннем або немагчымасцю яго выкарыстання, уключаючы ўпушчаную прыбытак.</p>

<p>Адміністрацыя Рэсурсу не мае абавязку забяспечваць канфідэнцыяльнасць інфармацыі, прадстаўленай карыстальнікамі, аднак прымае ўсе разумныя меры для яе захавання, калі не існуе асобнай дамоўленасці або іншага патрабавання заканадаўства.</p>

<p>Абавязкі Рэсурса не ўключаюць кантроль за законнасцю перададзенай інфармацыі (уключаючы, але не абмяжоўваючыся, інфармацыяй, перададзенай паміж карыстальнікамі праз BitTorrent, унутранымі паведамленнямі ў любой форме, тэкстамі або файламі), а таксама вызначэнне правоў інтэлектуальнай уласнасці або законнасці перадачы і атрымання такой інфармацыі.</p>

<li><h3>АБМЕЖАВАННІ ЎВОДЗІНАЎ КАРЫСТАЛЬНІКА Ў РЭСУРС</h3>

<p>Пры выкарыстанні гэтага Рэсурса Карыстальнік не мае права і згаджаецца не:</p>
<ul>
<p>- загружаць хэш-файлы (торэнты), што змяшчаюць вірусы або іншае шкоднаснае праграмнае забеспячэнне, файлы або праграмы, прызначаныя для парушэння, знішчэння або абмежавання функцыянальнасці любога кампутара або тэлекамунікацыйнага абсталявання, праграмы для несанкцыянаванага доступу, серыйныя нумары камерцыйнага праграмнага забеспячэння або сродкі для іх генерацыі, лагіны, паролі або іншыя сродкі для несанкцыянаванага доступу да інтэрнэт-рэсурсаў, а таксама размяшчаць спасылкі на вышэйпаказаныя дадзеныя;</p>
<p>- загружаць хэш-файлы (торэнты), якія ўтрымліваюць паведамленні, дадзеныя або праграмы, выкарыстанне якіх парушае патэнты, таварныя знакі, камерцыйную таямніцу, аўтарскія правы або іншыя правы ўласнасці і/або сумежныя правы трэціх асоб;</p>
<p>- адпраўляць несанкцыянаваныя рэкламныя паведамленні (спам) на электронныя адрасы, размешчаныя на сайце;</p>
<p>- капіяваць і выкарыстоўваць у камерцыйных мэтах любую інфармацыю, атрыманую праз Рэсурс, якая парушае правы іншых або можа нанесці ім прамую матэрыяльную ці маральную шкоду;</p>
<p>- размяшчаць спасылкі на вэб-рэсурсы, змесціва якіх парушае дзеючае заканадаўства;</p>
<p>- выдаваць сябе за іншае асобу або прадстаўніка арганізацыі і/або супольнасці без належных паўнамоцтваў, уключаючы супрацоўнікаў Адміністрацыі або ўладальніка Рэсурса.</p>
</ul>

<li><h3>АДКАЗНАСЦЬ ЗА ГАРАНТЫІ</h3>

<p>Доступ да Рэсурса прадастаўляецца "як ёсць" без якіх-небудзь відаў гарантый, як прамых, так і ўскосных.</p>

<p>Асабліва Адміністрацыя Рэсурса не гарантуе функцыянальнасць сайта або яго асобных раздзелаў, а таксама працаздольнасць і надзейнасць спасылак, размешчаных карыстальнікамі.</p>

<p>Рэсурс не нясе адказнасці за прамыя або ўскосныя страты, што вынікаюць з выкарыстання або немагчымасці выкарыстання сэрвісу, альбо несанкцыянаванага доступу да вашых перадач.</p>

<li><h3>ПРАВА АДМІНІСТРАЦЫІ РЭСУРСУ</h3>

<p>Адміністрацыя Рэсурса мае права адмовіць у доступе да Рэсурса любому карыстальніку або групе карыстальнікаў без тлумачэння прычын і папярэдняга паведамлення.</p>

<p>Адміністрацыя Рэсурса можа змяняць або выдаляць любую інфармацыю, хэш-файлы (торэнты), графіку, аўдыё і іншыя дадзеныя, якія прадстаўляюцца карыстальнікамі, без папярэдняга апавяшчэння або тлумачэння.</p>

<li><h3>АДКАЗНАСЦЬ БАКОЎ</h3>

<p>Карыстальнік згаджаецца з тым, што ўсе спрэчкі, якія ўзнікаюць з гэтага Пагаднення, вырашаюцца ў адпаведнасці з дзеючым заканадаўствам.</p>

<p>Карыстальнік згаджаецца з тым, што законы аб абароне правоў спажыўцоў і адпаведныя нарматывы не распаўсюджваюцца на выкарыстанне гэтага Рэсурса, бо ён не прадастаўляе платных паслуг.</p>

<p>Рэсурс не ўсталёўвае агенцтва, партнёрства, сумеснае прадпрымальніцтва, працоўныя або іншыя адносіны, не вызначаныя ў гэтым Пагадненні.</p>

<p>Непрыняцце мер Рэсурсам у адказ на парушэнне Карыстальнікам альбо групай Карыстальнікаў гэтага Пагаднення не азначае згоду або садзейнічанне такім дзеянням.</p>

<p>Непрыняцце мер Рэсурсам у адказ на парушэнне Карыстальнікам альбо групай Карыстальнікаў гэтага Пагаднення не пазбаўляе Рэсурс права прымаць адпаведныя меры для абароны сваіх інтарэсаў пазней.</p>

<li><h3>ПРЫНЯЦЦЕ КАРЫСТАЛЬНІЦКАГА ПАГАДНЕННЯ</h3>

<p>КАЛІ ВЫ НЕ ЗГОДНЫ З УСІМІ ПРАВІЛАМІ І ЎМОВАМИ, ВЫ НЕ МАЕЦЕ ПРАВА КАРЫСТАЦЦА РЭСУРСАМ ЦАЦАЛАМ ІЛІ ЯГО асобнымі ЧАСТКАМІ, АКРАМЯ ГЭТАЙ СТАРОНКІ КАРЫСТАЛЬНІЦКАГА ПАГАДНЕННЯ, ІЛІ НЕ АТРЫМЛЯЦЬ ЛІБА ДАСТУПА ДА ЗМЕСЦІВ РЭСУРСА ІНШЫМІ СПОСАБАМ, ЦАЛАМ ЦІ ЧАСТКОВА.</p>

<p>КАЛІ ВЫ НЕ ЗГОДНЫ З ГЭТЫМ КАРЫСТАЛЬНІЦКІМ ПАГАДНЕННЕМ, ВЫ ПАВІННЫ НЕАДКЛАДНА пакінуць Рэсурс.</p>

</ol>
</p>

</div>
