<div id=\"infobox-body\">

<p>

<p><h1>КАРЫСТАЛЬНІЦКАЕ ПАГАДНЕННЕ</h1></p>

<p><h3>ПРА САЙТ</h3></p>

<p>Інтэрнэт-рэсурс / сайт (далей - Рэсурс) з'яўляецца інтэрнэт-сайтам, які дазваляе карыстальнікам абменьвацца інфармацыяй адзін з адным праз bit-torrent, а таксама ў вольнай форме, і прадастаўляе сродкі для кантролю цэласнасці перададзенай інфармацыі (праз hash-файлы).</p>

<ol>

<li type="1"><h3>ПРА КАРЫСТАЛЬНІЦКАЕ ПАГАДНЕННЕ</h3>

<p>Гэта КАРЫСТАЛЬНІЦКАЕ ПАГАДНЕННЕ ўступае ў сілу пасля націску «Я згодзен» унізе і дзейнічае ўвесь час выкарыстання карыстальнікамі рэсурсу. КАРЫСТАЛЬНІЦКАЕ ПАГАДНЕННЕ можа быць зменена Адміністрацыяй без папярэдняга паведамлення. Новая версія КАРЫСТАЛЬНІЦКАГА ПАГАДНЕННЯ ўступае ў сілу праз 3 (тры) дні з моманту яе публікацыі, калі ў новай версіі КАРЫСТАЛЬНІЦКАГА ПАГАДНЕННЯ не прадугледжана іншае.</p>

<li><h3>АБМЕЖАВАННІ Ў АДКАЗНАСЦІ</h3>

<p>Карыстальнік выразна пагаджаецца, што выкарыстоўвае Рэсурс на ўласны рызыка.</p>

<p>Карыстальнік ведае і згаджаецца з тым, што мае справу з матэрыяламі і дадзенымі Рэсурсу, створанымі трэцімі асобамі і размешчанымі ў сетцы Інтэрнэт на сваіх кампутарах і (або) серверах. Змест і бяспека гэтых матэрыялаў не кантралюецца адміністрацыяй Рэсурсу, таму апошняя не нясе адказнасці:</p>
<ul>
<p>- за змест матэрыялаў, атрыманых Карыстальнікам пры выкарыстанні дадзеных рэсурсаў, і іх магчымае супярэчанне дзеючым законам або абразлівы характар;</p>
<p>- за наступствы прымянення, выкарыстання або невыкарыстання атрыманай інфармацыі;</p>
<p>- за магчымую неадпаведнасць атрыманыя вынікаў выкарыстанню рэсурсу чаканням Карыстальніка;</p>
<p>- за любыя пашкоджанні абсталявання або праграмнага забеспячэння Карыстальніка, якія ўзніклі ў выніку выкарыстання Рэсурсу;</p>
<p>- за немагчымасць выкарыстання рэсурсу па любой прычыны;</p>
<p>- за наступствы, якія могуць узнікнуць у выніку распаўсюджвання нелегальнага або неліцэнзійнага праграмнага забеспячэння, аўдыё-/відэапрадукцыі і іншых матэрыялаў або дадзеных, якія парушаюць правы трэціх асоб.</p>
</ul>

<p>Рэсурс ні ў якім разе не нясе адказнасці перад Карыстальнікам ці трэцімі асобамі за шкоду, страты або выдаткі, якія ўзніклі ў сувязі з выкарыстаннем гэтага Рэурсам, уключаючы страты прыбытку.</p>

<p>Адміністрацыя Рэсурсу не нясе абавязкаў па забеспячэнні канфідэнцыйнасці інфармацыі, прадстаўленай карыстальнікамі, хаця прымае ўсе магчымыя меры для гэтага, калі няма іншай дамоўленасці ці патрабаванняў дзеючага заканадаўства.</p>

<p>Абавязкі Рэсурсу НЕ ЎКЛЮЧАЮЦЬ кантроль законнасці перадачы інфармацыі (у тым ліку, але не абмяжоўваючыся, інфармацыі, перададзенай паміж карыстальнікамі праз bit-torrent, унутранай перадачы інфармацыі праз спасылкі, тэксты ці файлы), вызначэнне правоў уласнасці або законнасці перадачы і атрымання такой інфармацыі.</p>

<li><h3>АБМЕЖАВАННІ Ў ВЫКАРЫСТАННІ РЭСУРСУ КАРЫСТАЛЬНІКАМ</h3>

<p>Пры выкарыстанні гэтага Рэсурсу Карыстальнік не мае права і пагаджаецца з тым, што:</p>
<ul>
<p>- размяшчаць hash-файлы (торэнты) з дадзенымі, якія ўтрымліваюць вірусы або іншыя шкодныя камп’ютэрныя праграмы, дзеянні, файлы або праграмы, прызначаныя для перапынення, знішчэння або абмежавання функцыянальнасці камп’ютэрнага або тэлекамунікацыйнага абсталявання, а таксама праграмы для несанкцыянаванага доступу, серыйныя нумары камерцыйных праграмных прадуктаў і праграмы для іх генерацыі, лагіны, паролі і іншыя сродкі несанкцыянаванага доступу да сайтаў Інтэрнэту, а таксама размяшчаць спасылкі на такія матэрыялы;</p>
<p>- размяшчаць hash-файлы (торэнты) паведамленні, дадзеныя або праграмы, выкарыстанне якіх парушае патэнты, таварныя знакі, камерцыйную таямніцу, аўтарскія правы або іншыя правы ўласнасці трэціх асоб;</p>
<p>- дасылаць на пазначаныя на сайце электронныя адрасы несанкцыянаваныя паштовыя паведамленні рэкламнага характару (спам, непажаданая пошта);</p>
<p>- капіяваць і выкарыстоўваць у камерцыйных мэтах любую інфармацыю, атрыманую праз гэты рэсурс, якая парушае правы іншых або можа прычыніць ім матэрыяльную або маральную шкоду;</p>
<p>- размяшчаць спасылкі на вэб-рэсурсы, змесціва якіх супярэчыць дзеючым законам;</p>
<p>- выконваць дзейнасць ад імя іншай асобы або прадстаўніка арганізацыі і/або супольнасці без належных правоў, уключаючы супрацоўнікаў адміністрацыі, ад імя ўладальніка рэсурсу.</p>
</ul>

<li><h3>ГАРАНТЫЯ ПРАДУКТЫЎНАСЦІ</h3>

<p>Доступ да Рэсурсу прадастаўляецца «як ёсць», без якіх-небудзь гарантый, прамых ці ўскосных.</p>

<p>Асабліва адміністрацыя рэсурсу не гарантуе функцыянальнасць сайта і яго асобных раздзелаў, а таксама працаздольнасць і надзейнасць спасылак, размешчаных карыстальнікамі.</p>

<p>Рэсурс не нясе адказнасці за прамыя або ўскосныя страты, якія ўзніклі з-за выкарыстання ці немагчымасці выкарыстання сэрвісу; несанкцыянаванага доступу да вашых камунікацый.</p>

<li><h3>ПРАВА АДМІНІСТРАЦЫІ РЭСУРСУ</h3>

<p>Адміністрацыя Рэсурсу мае права адмовіць у доступе да рэсурсу любому карыстальніку або групе карыстальнікаў без тлумачэння прычын і папярэдняга паведамлення.</p>

<p>Адміністрацыя Рэсурсу можа змяняць або выдаляць любую інфармацыю, hash-файлы (торэнты), графіку, аўдыё і іншыя дадзеныя, прадстаўленыя карыстальнікам, без папярэдняга паведамлення і тлумачэння прычын.</p>

<li><h3>АДКАЗНАСЦЬ БАКОЎ</h3>

<p>Карыстальнік згаджаецца, што ўсе магчымыя спрэчкі, якія датычацца ДАГАВОРУ НА ВЫКАРЫСТАННЕ, будуць вырашацца ў адпаведнасці з юрыдычнымі нормаю.</p>

<p>Карыстальнік пагаджаецца, што нормы і законы абароны правоў спажыўцоў не могуць быць прымяняльныя да выкарыстання Рэсурсу, бо ён не прадастаўляе платных паслуг.</p>

<p>Рэсурс не ўсталёўвае агентскіх адносін, партнёрства, адносін сумеснай дзейнасці, найму або іншых адносін, якія не апісаны ў ДАГАВОРЫ НА ВЫКАРЫСТАННЕ.</p>

<p>Бездзеянне Рэсурсу ў выпадку парушэння Карыстальнікам або групай карыстальнікаў Карыстальніцкага пагаднення не азначае, што Рэсурс дапамагае такім дзеянням.</p>

<p>Бездзеянне Рэсурсу ў выпадку парушэння Карыстальнікам або групай карыстальнікаў Карыстальніцкага пагаднення не пазбаўляе Рэсурс права прыняць адпаведныя меры для абароны сваіх інтарэсаў пазней.</p>

<li><h3>ПРЫНЯЦЦЕ КАРЫСТАЛЬНІЦКАГА ПАГАДНЕННЯ</h3>

<p>КАЛІ ВЫ НЕ ЗГОДНЫ З УСІМ ВЫШЭЙАЗНАЧАНЫМІ ЎМОВАМІ, ВЫ НЕ МАЕЦЕ ПРАВА ВЫКАРЫСТОЎВАЦЬ РЭСУРС ЦАЛАМ АБО ЯГО ЧАСТКАМИ, АКРАМЯ СТАРОНКІ З КАРЫСТАЛЬНІЦКІМ ПАГАДНЕННЕМ, АТРЫМЛЯЦЬ ЦІ АТРЫМАЦЬ ДОСТУП ДА ЗМЕСЦІВАГЭТАГА РЭСУРСУ ЛЮБЫМІ ІНШЫМІ СПОСАБАМІ!</p>

<p>КАЛІ ВЫ НЕ ЗГОДНЫ З КАРЫСТАЛЬНІЦКІМ ПАГАДНЕННЕМ, ВЫ ПАВІННЫ НЕАДКЛАДНА ПАКІНУЦЬ РЭСУРС.</p>

</ol>
</p>

</div><!--/infobox-body-->
