<div id=\"infobox-body\">

<p><h1>INFORMACIJE ZA VLASNIKE AUTORSKIH PRAVA</h1></p>

<p>Ako ste vlasnik autorskih prava na bilo koji materijal ili link (ili linkove) koji su dostupni na ovoj stranici, i ne želite da se te informacije šire bez vaše dozvole, rado ćemo vam pomoći ukloniti odgovarajuće linkove.</p>

<p>Za to je potrebno da nam pošaljete pismo (u elektroničkom obliku)
koje nam navodi sljedeće informacije:</p>

<p>1. Dokumentirani dokaz vaših prava na materijal zaštićen autorskim pravom:</p>
<p> - skenirani dokument s pečatom, ili</p>
<p> - e-mail sa službene e-mail domene vlasnika tvrtke, ili</p>
<p> - druge kontakt informacije koje vas jedinstveno identificiraju kao vlasnika materijala.</p>

<p>2. Tekst koji želite objaviti, popraćen informacijama koje se mogu ukloniti.</p>

<p>U njemu možete navesti gdje i pod kojim uvjetima se mogu dobiti informacije na koje su uklonjene reference, kao i vaše kontakt informacije, kako bi korisnici mogli dobiti sve potrebne informacije o ovom materijalu.</p>

<p>3. Izravne poveznice na stranice koje sadrže reference na podatke koje treba ukloniti.</p>

<p>Poveznice bi trebale imati oblik <strong>https://url.to/link</strong> ili nešto slično.</p>

<p>Nakon toga, u roku od 48 sati, uklonit ćemo interesantne vam poveznice sa stranice.</p>

<p class="bold">Naš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UPOZORENJE!</p>

<p>a) Zadržavamo pravo objaviti na stranici bilo kakve informacije koje nam pošaljete na e-mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Any information the forum, place automatically, without any control from any quarter whatsoever, which corresponds to the generally accepted international practice of placing information on the Internet. Međutim, u svakom slučaju razmatramo sve vaše upite u vezi s referencama na informacije koje krše vaša prava.</p>

<p>c) According to the Law on Copyright and Related Rights, a reference to any data (information message), by itself, is not subject to copyright law (although it may violate the "Agreement on the use of the website"). Dakle, nije potrebno slati pisma koja sadrže prijetnje ili zahtjeve, jer nemaju stvarni pravni osnov.</p>

</div><!--/infobox-body-->
