<div id=\"infobox-body\">

<p><h1>INFORMACIJE ZA VLASNIKE AUTORSKIH PRAVA</h1></p>

<p>Ako ste vlasnik autorskih prava na bilo koji materijal ili link (ili linkove) koji su dostupni na ovoj stranici, i ne želite da se te informacije šire bez vaše dozvole, rado ćemo vam pomoći ukloniti odgovarajuće linkove.</p>

<p>Za to je potrebno da nam pošaljete pismo (u elektroničkom obliku)
koje nam navodi sljedeće informacije:</p>

<p>1. Dokumentirani dokaz vaših prava na materijal zaštićen autorskim pravom:</p>
<p> - skenirani dokument s pečatom, ili</p>
<p> - e-mail sa službene e-mail domene vlasnika tvrtke, ili</p>
<p> - druge kontakt informacije koje vas jedinstveno identificiraju kao vlasnika materijala.</p>

<p>2. Tekst koji želite objaviti, popraćen informacijama koje se mogu ukloniti.</p>

<p>U njemu možete navesti gdje i pod kojim uvjetima se mogu dobiti informacije na koje su uklonjene reference, kao i vaše kontakt informacije, kako bi korisnici mogli dobiti sve potrebne informacije o ovom materijalu.</p>

<p>3. Izravne poveznice na stranice koje sadrže reference na podatke koje treba ukloniti.</p>

<p>Poveznice bi trebale imati oblik <strong>https://url.to/link</strong> ili nešto slično.</p>

<p>Nakon toga, u roku od 48 sati, uklonit ćemo interesantne vam poveznice sa stranice.</p>

<p class="bold">Naš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UPOZORENJE!</p>

<p>a) Zadržavamo pravo objaviti na stranici bilo kakve informacije koje nam pošaljete na e-mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nemamo kontrolu nad postupcima korisnika koji mogu ponovno objavljivati poveznice na informacije koje su predmet vašeg autorskog prava. Sve informacije koje forum automatski postavlja, bez ikakve kontrole sa strane, što odgovara općeprihvaćenoj međunarodnoj praksi postavljanja informacija na Internetu. Međutim, u svakom slučaju razmatramo sve vaše upite u vezi s referencama na informacije koje krše vaša prava.</p>

<p>c) Prema Zakonu o autorskom i srodnim pravima, referenca na bilo koji podatak (informacijsku poruku), sama po sebi, nije podložna zakonu o autorskom pravu (iako može kršiti "Ugovor o korištenju web stranice"). Dakle, nije potrebno slati pisma koja sadrže prijetnje ili zahtjeve, jer nemaju stvarni pravni osnov.</p>

</div><!--/infobox-body-->
