<div id="infobox-body">

<p><h1>INFORMACIJE ZA PRAVNE VLASNIKE AUTORSKIH PRAVA</h1></p>

<p>Ako ste vlasnik autorskih prava na bilo koji materijal povezan na ovoj stranici i ne želite da se ove informacije šire bez vaše dozvole, rado ćemo vam pomoći ukloniti odgovarajuće poveznice.</p>

<p>Za to nam pošaljite elektronsko pismo koje sadrži sljedeće informacije:</p>

<p>1. Dokumentarni dokaz vaših prava na materijal zaštićen autorskim pravima:</p>
<p> — skenirani dokument s službenim pečatom, ili</p>
<p> — e-pošta poslata s službene domene tvrtke koja posjeduje prava, ili</p>
<p> — druge kontakt informacije koje vas jedinstveno identificiraju kao vlasnika prava.</p>

<p>2. Tekst koji želite da se objavi umjesto uklonjenog sadržaja.</p>

<p>U tom tekstu možete navesti gdje i pod kojim uvjetima korisnici mogu dobiti informacije na koje su veze uklonjene, kao i vaše kontakt podatke da bi vas korisnici mogli kontaktirati vezano uz taj materijal.</p>

<p>3. Izravne poveznice na stranice koje sadrže reference na podatke koje treba ukloniti.</p>

<p>Poveznice bi trebale biti u formatu <strong>https://url.to/link</strong> ili sličnom.</p>

<p>U roku od 48 sati od primitka vašeg zahtjeva uklonit ćemo odgovarajuće poveznice sa stranice.</p>

<p class="bold">Naš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UPOZORENJE!</p>

<p>a) Zadržavamo pravo objaviti na stranici sve informacije koje nam budu poslane na <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nemamo kontrolu nad radnjama korisnika koji mogu ponovno objaviti veze na informacije koje su predmet vaših autorskih prava. Sve informacije na forumu se automatski objavljuju, bez prethodnog pregleda ili moderacije, u skladu s općeprihvaćenim međunarodnim praksama za postavljanje informacija na internet. Ipak, razmotrit ćemo sve zahtjeve vezane za veze na informacije koje krše vaša prava.</p>

<p>c) Prema važećem zakonu o autorskim pravima i srodnim pravima, hiperlink na podatke (informacijski referent) sam po sebi nije zaštićen autorskim pravima (iako može kršiti korisnički ugovor stranice). Stoga, molimo vas da se suzdržite od slanja pisama koja sadrže prijetnje ili zahtjeve, jer za takve tvrdnje ne postoje pravni temelji.</p>

</div>
