<div id=\"infobox-body\">

<p>

<p><h1>KORISNIČKI UGOVOR</h1></p>

<p><h3>O WEB STRANICI</h3></p>

<p>Internetski resurs / web stranica (u daljnjem tekstu - Resurs) je internetska stranica koja korisnicima omogućuje razmjenu informacija putem bit-torrenta, kao i u slobodnom obliku, te pruža sredstva za praćenje integriteta prenesenih informacija (putem hash-datoteka).</p>

<ol>

<li type="1"><h3>O KORISNIČKOM UGOVORU</h3>

<p>Ovaj KORISNIČKI UGOVOR stupa na snagu nakon klika na "Slažem se" na dnu i vrijedi tijekom cijelog vremena korištenja resursa od strane korisnika. KORISNIČKI UGOVOR može biti promijenjen od strane Uprave bez ikakve najave. Nova verzija KORISNIČKOG UGOVORA stupa na snagu 3 (tri) dana od datuma dostave, osim ako u novoj verziji nije drugačije navedeno.</p>

<li><h3>OGRANIČENJA ODGOVORNOSTI</h3>

<p>Korisnik se izričito slaže da koristi Resurs na vlastiti rizik.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Sadržaj i sigurnost tih materijala ne mogu biti kontrolirani od strane administracije Resursa, te administracija zbog toga nije odgovorna:</p>
<ul>
<p>- za sadržaj materijala koje je korisnik dobio korištenjem podataka Resursa i njihovu moguću neusklađenost s važećim zakonima ili uvredljivim karakterom;</p>
<p>- za posljedice primjene, korištenja ili nekorištenja primljenih informacija;</p>
<p>- za moguću neusklađenost između rezultata dobivenih korištenjem Resursa i očekivanja korisnika;</p>
<p>- za bilo kakvu štetu na hardveru ili softveru korisnika koja nastane uslijed korištenja Resursa;</p>
<p>- za nemogućnost korištenja resursa iz bilo kojeg razloga;</p>
<p>- za posljedice koje mogu nastati zbog širenja ilegalnog ili neovlaštenog softvera, audio/video proizvoda, te drugih materijala ili podataka koji utječu na prava trećih osoba.</p>
</ul>

<p>Ni u kojem slučaju Resurs nije odgovoran korisniku ili trećoj strani za štetu, gubitke ili troškove koji proizlaze iz korištenja ili nemogućnosti korištenja Resursa, uključujući gubitak dohotka ili profite.</p>

<p>Administracija Resursa nije obavezna osigurati povjerljivost informacija koje joj korisnici dostavljaju, iako poduzima sve moguće mjere, osim ako nije drugačije dogovoreno ili ako to zahtijeva važeće zakonodavstvo.</p>

<p>Obveze Resursa NE UKLJUČUJU kontrolu zakonitosti ili nezakonitosti prenošenih informacija (bilo kojih, uključujući informacije prenesene putem bit-torrenta, interne prijenose u različitim linkovima, tekstovima ili datotekama), određivanje vlasničkih prava ili zakonitosti prijenosa ili primitka takvih informacija.</p>

<li><h3>OGRANIČENJA KORIŠTENJA RESURSA OD STRANE KORISNIKA</h3>

<p>Kada koristite ovaj Resurs, KORISNIK nema pravo na sljedeće, te se s time slaže:</p>
<ul>
<p>- postavljati hash-datoteke (bujice) koje sadrže viruse ili druge zlonamjerne računalne programe, datoteke ili programe poznate po akcijama namijenjenim prekidu, uništavanju ili ograničavanju funkcionalnosti bilo kojeg računala ili telekomunikacijske opreme, ili programe za neovlašteni pristup, kao i serijske brojeve komercijalnih softverskih proizvoda i programe za njihovu generaciju, korisnička imena, lozinke i druge načine stjecanja neovlaštenog pristupa internetskim stranicama, kao i postavljati poveznice na navedene informacije;</p>
<p>- postavljati hash-datoteke (bujice) koje sadrže poruke, podatke ili programe čija upotreba krši bilo koji patent, zaštitni znak, poslovnu tajnu, autorska prava ili druga prava trećih osoba;</p>
<p>- slati na e-mail adrese navedene na stranici neovlaštene reklamne poruke (junk mail, spam);</p>
<p>- kopirati i koristiti u komercijalne svrhe bilo kakve informacije dobivene putem ovog resursa koje krše prava drugih ili im mogu prouzročiti izravnu materijalnu ili moralnu štetu;</p>
<p>- postavljati poveznice na web resurse čiji sadržaj proturječi važećim zakonima;</p>
<p>- lažno se predstavljati kao bilo koja osoba ili predstavnik organizacije i/ili zajednice bez potrebnih prava, uključujući djelatnike Uprave ili vlasnika Resursa.</p>
</ul>

<li><h3>JAMSTVO PERFORMANSE</h3>

<p>Pristup Resursu se pruža "kakav jest", bez ikakvih jamstava, izravnih ili neizravnih.</p>

<p>Konkretno, Administracija Resursa ne jamči funkcionalnost stranice i njenih pojedinih dijelova, ni performanse i pouzdanost poveznica koje su na njoj postavili korisnici.</p>

<p>Resurs nije odgovoran za bilo kakve izravne ili neizravne gubitke nastale zbog korištenja ili nemogućnosti korištenja usluge; neovlaštenog pristupa vašim komunikacijama.</p>

<li><h3>PRAVA UPRAVE RESURSA</h3>

<p>Administracija Resursa ima pravo uskratiti pristup Resursu bilo kojem korisniku ili grupi korisnika bez objašnjenja i najave svojih postupaka.</p>

<p>Administracija Resursa može mijenjati ili brisati bilo kakve informacije, hash-datoteke (bujice), grafiku, audio i druge podatke koje je korisnik poslao putem Resursa bez najave ili objašnjenja svojih postupaka.</p>

<li><h3>ODGOVORNOST STRANAKA</h3>

<p>Korisnik se slaže da će se svi mogući sporovi u vezi s UGOVOROM O KORIŠTENJU rješavati prema pravnim normama.</p>

<p>Korisnik se slaže da se pravila i zakoni o zaštiti potrošača ne mogu primjenjivati na korištenje Resursa jer ne postoje plaćene usluge.</p>

<p>Resurs ne uspostavlja odnose zastupnika korisnika, partnerske odnose za zajedničke aktivnosti, veze zapošljavanja, niti bilo kakve druge odnose koji nisu izričito opisani u UGOVORU O KORIŠTENJU.</p>

<p>Nečinjenje Resursa u slučaju kršenja KORISNIČKOG UGOVORA od strane korisnika ili grupe korisnika ne znači da Resurs pomaže tim korisnicima ili grupama u takvim radnjama.</p>

<p>Nečinjenje Resursa ne oduzima mu pravo poduzimanja odgovarajućih mjera za zaštitu svojih interesa u budućnosti.</p>

<li><h3>PRIHVAĆANJE UVJETA KORIŠTENJA</h3>

<p>AKO SE NE SLAŽETE SA SVIM NAVEDENIM UVJETIMA, NE SMIJETE KORISTITI REZURSE U CIJELOSTI ILI NJEGOVE DIJELOVE, OSIM STRANICE S KORISNIČKIM UGOVOROM, NITI PRIMATI ILI PRISTUPITI SADRŽAJU OVOG RESURSA NA BILO KOJI DRUGI NAČIN U CIJELOSTI ILI DIJELOM!</p>

<p>AKO SE NE SLAŽETE S KORISNIČKIM UGOVOROM, ODMAH MORATE NAPUSTITI RESURS.</p>

</ol>
</p>

</div><!--/infobox-body-->
