<div id="infobox-body">

<p>

<p><h1>KORISNIČKI UGOVOR</h1></p>

<p><h3>O STRANICI</h3></p>

<p>Ovaj internetski resurs/web stranica (u daljnjem tekstu "Resurs") je web stranica koja omogućuje korisnicima međusobno dijeljenje informacija putem BitTorrenta, kao i u drugim oblicima, te pruža način provjere integriteta prenesenih podataka (putem hash datoteka).</p>

<ol>

<li type="1"><h3>O OVOM KORISNIČKOM UGOVORU</h3>

<p>Ovaj Korisnički ugovor (u daljnjem tekstu "Ugovor") stupa na snagu klikom na "Slažem se" na dnu te ostaje na snazi tijekom cijelog razdoblja korištenja Resursa od strane Korisnika. Ugovor može biti izmijenjen od strane Uprave bez prethodne najave. Nova verzija Ugovora stupa na snagu 3 (tri) dana nakon objave, osim ako nije drugačije navedeno u novoj verziji Ugovora.</p>

<li><h3>OGRANIČENJA ODGOVORNOSTI</h3>

<p>Korisnik izričito pristaje koristiti Resurs na vlastitu odgovornost.</p>

<p>Korisnik potvrđuje i slaže se da se Resurs odnosi na materijale i podatke koje su stvorile treće strane te se nalaze na njihovim računalima i/ili poslužiteljima na internetu. Administracija Resursa ne može kontrolirati sadržaj i sigurnost ovih materijala; stoga Administracija nije odgovorna za:</p>
<ul>
<p>- sadržaj materijala koje je Korisnik dobio putem Resursa, uključujući bilo kakvu moguću neusklađenost s važećim zakonima ili njihov uvredljiv karakter;</p>
<p>- posljedice primjene, korištenja ili nekorištenja dobivenih informacija;</p>
<p>- bilo kakvu neusklađenost između rezultata dobivenih putem Resursa i očekivanja Korisnika;</p>
<p>- bilo kakvu štetu na hardveru ili softveru Korisnika koja proizlazi iz korištenja Resursa;</p>
<p>- nemogućnost korištenja Resursa iz bilo kojeg razloga;</p>
<p>- posljedice koje mogu nastati zbog distribucije ilegalnog ili neovlaštenog softvera, audio/video sadržaja ili drugih materijala ili podataka koji krše prava trećih osoba.</p>
</ul>

<p>Ni pod kojim okolnostima Resurs nije odgovoran Korisniku ili trećim stranama za bilo kakvu štetu, gubitke ili troškove povezane s Resursom, njegovom upotrebom ili nemogućnošću korištenja, uključujući izgubljenu dobit.</p>

<p>Administracija Resursa nije obvezna osigurati povjerljivost podataka koje njezini Korisnici pružaju, iako poduzima sve razumne mjere za to, osim ako posebni ugovor ili važeći zakon ne nalažu drugačije.</p>

<p>Povjerenja Resursa ne uključuju nadzor zakonitosti prenesenih informacija (uključujući, ali ne ograničavajući se na informacije razmijenjene putem BitTorrenta, interne poruke raznih oblika, tekstova ili datoteka) niti određivanje prava intelektualnog vlasništva ili zakonitosti prijenosa ili primanja takvih informacija.</p>

<li><h3>OGRANIČENJA KORIŠTENJA RESURSA OD STRANE KORISNIKA</h3>

<p>Prilikom korištenja ovog Resursa, Korisnik se obvezuje da neće i slaže se da neće:</p>
<ul>
<p>- postavljati hash datoteke (torrente) koje sadrže podatke zaražene virusima ili drugim zlonamjernim softverom, datoteke ili programe koji su dizajnirani da ometaju, uništavaju ili ograničavaju funkcionalnost bilo kojeg računala ili telekomunikacijske opreme, programe za neovlašteni pristup, serijske brojeve za komercijalni softver ili alate za njihovo generiranje, korisnička imena, lozinke ili druge načine neovlaštenog pristupa internet resursima, kao ni postavljati poveznice na navedeno;</p>
<p>- postavljati hash datoteke (torrente) koje sadrže poruke, podatke ili programe čija uporaba krši bilo koji patent, zaštitni znak, poslovnu tajnu, autorska prava ili druga vlasnička prava i/ili povezana prava trećih strana;</p>
<p>- slati neovlaštene reklamne poruke (junk mail, spam) na e-mail adrese navedene na stranici;</p>
<p>- kopirati i koristiti u komercijalne svrhe bilo kakve informacije dobivene putem Resursa koje krše prava drugih osoba ili im mogu nanijeti izravnu materijalnu ili moralnu štetu;</p>
<p>- postavljati poveznice na web resurse čiji sadržaj krši važeće zakonodavstvo;</p>
<p>- predstavljati se kao bilo koja osoba ili predstavnik organizacije i/ili zajednice bez odgovarajuće ovlasti, uključujući zaposlenike Uprave ili vlasnika Resursa.</p>
</ul>

<li><h3>ODRICANJE OD JAMSTAVA</h3>

<p>Pristup Resursu pruža se "kakav jest" bez ikakvih jamstava, bilo izričitih ili impliciranih.</p>

<p>Uprava Resursa ne jamči funkcionalnost stranice ili njenih pojedinih dijelova, niti ispravnost i pouzdanost poveznica koje su na stranici postavili Korisnici.</p>

<p>Resurs nije odgovoran za nikakve izravne ili neizravne gubitke nastale zbog korištenja ili nemogućnosti korištenja usluge; ili neovlašteni pristup Vašim komunikacijama.</p>

<li><h3>PRAVA UPRAVE RESURSA</h3>

<p>Uprava Resursa ima pravo odbiti pristup Resursu bilo kojem Korisniku ili grupi Korisnika bez obrazloženja ili prethodne najave.</p>

<p>Uprava Resursa može bez prethodne najave ili obrazloženja mijenjati ili brisati bilo kakve informacije, hash datoteke (torrente), grafiku, audio i druge podatke koje su poslali Korisnici.</p>

<li><h3>ODGOVORNOSTI STRANA</h3>

<p>Korisnik se slaže da će se svi sporovi proizašli iz ovog Ugovora rješavati u skladu s važećim zakonodavstvom.</p>

<p>Korisnik se slaže da zakoni i propisi o zaštiti potrošača ne primjenjuju na korištenje ovog Resursa jer ne pruža plaćene usluge.</p>

<p>Resurs ne uspostavlja agentu, partnerstvo, zajednički pothvat, radni odnos ili bilo kakve druge odnose nisu izričito opisani u ovom Ugovoru.</p>

<p>Nepostupanje Resursa u slučaju kršenja ovog Ugovora od strane Korisnika ili grupe Korisnika ne znači odobrenje ili pomoć u takvim radnjama.</p>

<p>Nepostupanje Resursa u slučaju kršenja ovog Ugovora od strane Korisnika ili grupe Korisnika ne lišava Resurs prava na poduzimanje odgovarajućih mjera za zaštitu svojih interesa u budućnosti.</p>

<li><h3>PRIHVAĆANJE KORISNIČKOG UGOVORA</h3>

<p>AKO SE NE SLAŽETE SA SVIM NAVEDENIM UVJETIMA I ODREDBAMA, NE SMIJETE PRISTUPITI RESURSU U CIJELOSTI ILI DIJELOM, OSIM OVE STRANICE S KORISNIČKIM UGOVOROM, NITI PRIMITI I/ILI PRISTUPITI SADRŽAJU OVOG RESURSA NA BILO KOJI DRUGI NAČIN, U CIJELOSTI ILI DIJELOM.</p>

<p>AKO SE NE SLAŽETE S OVIM KORISNIČKIM UGOVOROM, MORATE ODMAH NAPUSTITI RESURS.</p>

</ol>
</p>

</div>
