<div id="infobox-body">

<p><h1>საავტორო უფლებების მფლობელთა ინფორმაცია</h1></p>

<p>თუ თქვენ ხართ საიტზე მითითებული მასალის საავტორო უფლებების მფლობელი და არ გნებავთ, რომ ეს ინფორმაცია მომხმარებლების მიერ თქვენი თანხმობის გარეშე გავრცელდეს, ბედნიერები ვიქნებით დაგეხმაროთ შესაბამისი ბმულების წაშლაში.</p>

<p>ამისათვის, გთხოვთ მოგვმართოთ ელექტრონული წერილით, რომელიც შეიცავს შემდეგ ინფორმაციას:</p>

<p>1. საავტორო უფლებებით დაცული მასალის თქვენი უფლებების დოკუმენტური მტკიცებულება:</p>
<p> — სკანირებული დოკუმენტი ოფიციალური მორთულით, ან</p>
<p> — ელ-ფოსტა, რომელიც გაგზავნილია უფლებების მფლობელი კომპანიის ოფიციალური დომენიდან, ან</p>
<p> — სხვა საკონტაქტო ინფორმაცია, რომელიც ცალსახად ამტკიცებს თქვენ როგორც საავტორო უფლებების მფლობელს.</p>

<p>2. ტექსტი, რომელიც გსურთ დაიდგას წაშლილი კონტენტის ადგილზე.</p>

<p>ამ ტექსტში შეგიძლიათ მიუთითოთ, სად და რა პირობებით მომხმარებლებს შეეძლებათ მიიღონ ინფორმაცია, რომლის ბმულებიც წაიშალა, ასევე თქვენი საკონტაქტო ინფორმაცია მომხმარებლებთან დასაკავშირებლად.</p>

<p>3. პირდაპირი ბმულები გვერდებზე, რომლებიც შეიცავს მითითებებს წასაშლელ მონაცემებზე.</p>

<p>ბმულები უნდა იყოს ფორმატში <strong>https://url.to/link</strong> ან მსგავს ფორმატში.</p>

<p>თქვენი მოთხოვნის მიღებიდან 48 საათის განმავლობაში, შესაბამისი ბმულები საიტიდან წაიშლება.</p>

<p class="bold">ჩვენი ელ-ფოსტა: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>გაფრთხილება!</p>

<p>ა) ჩვენ ვიკავებთ უფლებას, გავასაჯაროოთ საიტზე ნებისმიერი ინფორმაცია, რომელიც მოგვაწვდით ელექტრონულ ფოსტაზე: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong>.</p>

<p>ბ) ჩვენ არ ვართ პასუხისმგებელი იმ მომხმარებლებზე, რომლებიც შესაძლოა ხელახლა განათავსონ ბმულები კონკრეტულ ინფორმაციაზე, რომელიც თქვენმა საავტორო უფლებებმა იცავს. ფორუმზე გავრცელებული ყველა ინფორმაცია დგას ავტომატურად, წინაპარიკონტროლისა და მოდერაციის გარეშე, რაც შეესაბამება ინტერნეტზე ინფორმაციის განთავსების საერთაშორისოდ მიღებულ პრაქტიკას. თუმცა, ჩვენ განვიხილავთ ყველა მოთხოვნას იმ ბმულებზე, რომლებიც შეიცავენ თქვენს საავტორო უფლებებს არღვევად ინფორმაციის მისამართებს.</p>

<p>გ) მოქმედი საავტორო და დამხმარე უფლებების კანონმდებლობის თანახმად, მონაცემებისათვის (ინფორმაციული მითითებისთვის) ჰიპერბმულს თავად არ გააჩნია საავტორო დაცვის სამსახურებრივი ძალა (თუმცა შესაძლოა დაარღვიოს საიტის მომხმარებლის შეთანხმება). ამიტომ გთხოვთ, არ გამოგზავნოთ წერილები, რომელშიც არის მუქარა ან მოთხოვნები, რადგან ასეთი მოთხოვნების სამართლებრივი საფუძველი არ არსებობს.</p>

</div>
