<div id="infobox-body">

<p><h1>ინფორმაცია საავტორო უფლებების მფლობელებისთვის</h1></p>

<p>თუ თქვენ ხართ ნებისმიერი მასალის საავტორო უფლებების მფლობელი და მისი ბმულები ხელმისაწვდომია ამ საიტზე, თუ არ გსურთ აღნიშნული ინფორმაციის მომხმარებლების მიერ თქვენი თანხმობის გარეშე გავრცელება, მოხარულები ვიქნებით დაგეხმაროთ შესაბამისი ბმულების წაშლაში.</p>

<p>ეს მოითხოვს, რომ თქვენ მოგვაწოდოთ წერილი (ელექტრონულ ფორმატში)
რომელშიც მითითებულია შემდეგი ინფორმაცია:</p>

<p>1. საავტორო უფლებებით დაცულ მასალაზე თქვენი უფლებების დოკუმენტური მტკიცებულება:</p>
<p> - ბეჭდით დამოწმებული სკანირებული დოკუმენტი, ან</p>
<p> - email from an official e-mail domain of the company owner, or</p>
<p> - სხვა საკონტაქტო ინფორმაცია, რომელიც ცალსახად ამტკიცებს თქვენ როგორც აღნიშნული მასალის მფლობელს.</p>

<p>2. ტექსტი, რომლის განთავსებაც გსურთ, და მასთან დაკავშირებული მოსახსნელი ინფორმაცია.</p>

<p>შიგ შეგიძლიათ მიუთითოთ, სად და რა პირობებით შეიძლება მიიღოთ ინფორმაცია ან წყაროები, რომლებიც ამოღებულია, ასევე თქვენი საკონტაქტო ინფორმაცია, რათა მომხმარებლები თქვენგან მიიღონ ყველა საჭირო ინფორმაცია აღნიშნული მასალის შესახებ.</p>

<p>3. პირდაპირი ბმულები გვერდებზე, რომლებიც შეიცავს მითითებებს იმ მონაცემებზე, რომლებიც უნდა წაიშალოს.</p>

<p>ბმულები უნდა იყოს ფორმატში <strong>https://url.to/link</strong> ან მსგავსი.</p>

<p>ამის შემდეგ 48 საათში ჩვენ ამოვიღებთ თქვენთვის საინტერესო ბმულებს საიტიდან.</p>

<p class="bold">ჩვენი ელ-ფოსტა: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ყურადღება!</p>

ა) ჩვენ ვიკავებთ უფლებას, რომ საიტზე გამოქვეყნდეს ნებისმიერი ინფორმაცია, რომელიც ჩვენთან არის გაგზავნილი ელ-ფოსტით <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. ნებისმიერი ინფორმაცია ფორუმზე განთავსდება ავტომატურად, ყოველგვარი კონტროლის გარეშე, რაც შეესაბამება ინტერნეტში ინფორმაციის განთავსების საყოველთაოდ მიღებულ საერთაშორისო პრაქტიკას. თუმცა, ნებისმიერ შემთხვევაში, ჩვენ განვიხილავთ თქვენს ყველა შეკითხვას იმ ინფორმაციის მითითებასთან დაკავშირებით, რომელიც არღვევს თქვენს უფლებებს.</p>

<p>გ) „საავტორო და მომიჯნავე უფლებების შესახებ“ კანონის თანახმად, რაიმე მონაცემზე (საინფორმაციო შეტყობინება) მითითება, თავისთავად, არ ექვემდებარება საავტორო უფლებების შესახებ კანონს (თუმცა შეიძლება დაარღვიოს „საიტის გამოყენების შესახებ შეთანხმება“). ამრიგად, არ არის აუცილებელი მუქარის ან მოთხოვნის შემცველი წერილების გაგზავნა, რადგან რეალური მიზეზი არ აქვს.</p>

</div><!--/infobox-body-->
