<div id="infobox-body">

<p><h1>საავტორო უფლებების მფლობელთა ინფორმაცია</h1></p>

<p>თუ თქვენ ხართ საიტზე მითითებული მასალის საავტორო უფლებების მფლობელი და არ გნებავთ, რომ ეს ინფორმაცია მომხმარებლების მიერ თქვენი თანხმობის გარეშე გავრცელდეს, ბედნიერები ვიქნებით დაგეხმაროთ შესაბამისი ბმულების წაშლაში.</p>

<p>ამისათვის, გთხოვთ მოგვმართოთ ელექტრონული წერილით, რომელიც შეიცავს შემდეგ ინფორმაციას:</p>

<p>1. საავტორო უფლებებით დაცული მასალის თქვენი უფლებების დოკუმენტური მტკიცებულება:</p>
<p> — სკანირებული დოკუმენტი ოფიციალური მორთულით, ან</p>
<p> — ელ-ფოსტა, რომელიც გაგზავნილია უფლებების მფლობელი კომპანიის ოფიციალური დომენიდან, ან</p>
<p> — სხვა საკონტაქტო ინფორმაცია, რომელიც ცალსახად ამტკიცებს თქვენ როგორც საავტორო უფლებების მფლობელს.</p>

<p>2. ტექსტი, რომელიც გსურთ დაიდგას წაშლილი კონტენტის ადგილზე.</p>

<p>ამ ტექსტში შეგიძლიათ მიუთითოთ, სად და under რა პირობებით მომხმარებლებს შეუძლიათ მიიღონ ინფორმაცია, რომლის ბმულებიც წაიშალა, ასევე თქვენი საკონტაქტო მონაცემები, რათა მომხმარებლებისათვის შესაძლებელი იყოს დაკავშირება აღნიშნული მასალის თაობაზე.</p>

<p>3. პირდაპირი ბმულები გვერდებზე, რომლებიც შეიცავს მითითებებს წასაშლელ მონაცემებზე.</p>

<p>ბმულები უნდა იყოს ფორმატში <strong>https://url.to/link</strong> ან მსგავს ფორმატში.</p>

<p>თქვენი მოთხოვნის მიღებიდან 48 საათის განმავლობაში, შესაბამისი ბმულები საიტიდან წაიშლება.</p>

<p class="bold">ჩვენი ელ-ფოსტა: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>გაფრთხილება!</p>

<p>ა) ჩვენ ვიკავებთ უფლებას, გავაჯამოთ საიტზე ნებისმიერი ინფორმაცია, რომელიც მოგვაწოდა ელექტრონულად: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ბ) ჩვენ არ ვართ პასუხისმგებელი იმ მომხმარებლებზე, რომლებიც შესაძლოა ხელახლა განათავსონ ბმულები კონკრეტულ ინფორმაციაზე, რომელიც თქვენმა საავტორო უფლებებმა იცავს. ფორუმზე გავრცელებული ყველა ინფორმაცია დგას ავტომატურად, წინაპარიკონტროლისა და მოდერაციის გარეშე, რაც შეესაბამება ინტერნეტზე ინფორმაციის განთავსების საერთაშორისოდ მიღებულ პრაქტიკას. თემატურ საკითხებზეც კი, მოხდება თქვენი უფლებების დამრღვევი ინფორმაციის ბმულებზე ყველა შესაძლო მოთხოვნის განხილვა.</p>

<p>გ) მოქმედი საავტორო და წაგებული უფლებების კანონმდებლობის შესაბამისად, ბმული ინფორმაციისთვის (ინფორმაციული მითითება) არ იშლება საავტორო უფლებით (თუმცა შესაძლოა დაარღვიოს საიტის მომხმარებლის კოორდინაცია). შეითავსეთ წერილები მუქარითა და მოთხოვნებით, რადგან ასეთი მოთხოვნებისთვის არ არსებობს სამართლებრივი საფუძველი.</p>

</div>
