<div>
	<h3>გვერდითი პანელი 2</h3>
	To add content into this sidebar, edit the following files:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	ამ გვერდითი პანელის გათიშვისათვის, ფაილში config/layouts.php დააკონფიგურირეთ ცვლადი page.show_sidebar2 მნიშვნელობად false.
</div>
