<div>
	<h3>პანელი 2</h3>
	ამ გვერდით პანელში შინაარსის დამატებისთვის რედაქტირეთ შემდეგი ფაილები:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	ამ გვერდითი პანელის გამორთვისთვის, ფაილში config.php ცვლადი page.show_sidebar2 დააყენეთ მნიშვნელობად false.
</div>
