<div id="infobox-body">

<p>

<p><h1>მომხმარებლის შეთანხმება</h1></p>

<p><h3>რესურსის შესახებ</h3></p>

<p>ინტერნეტ- რესურსი/ვებსაიტი (შემდგომში - რესურსი) არის ინტერნეტ გვერდი, რომელიც მომხმარებლებს საშუალებას აძლევს გაუზიარონ ინფორმაცია ერთმანეთს ბიტტორენტის მეშვეობით, ასევე თავისუფალ ფორმატში და უზრუნველყოფს გადაცემული ინფორმაციის მთლიანობის მონიტორინგის შესაძლებლობას (ჰეშფაილების საშუალებით). </p>

<ol>

<li type="1"><h3>მომხმარებლის შეთანხმების შესახებ</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. მომხმარებლის შეთანხმება შეიძლება შეიცვალოს ადმინისტრაციის მიერ ყოველგვარი გაფრთხილების გარეშე. მომხმარებლის შეთანხმების ახალი ვერსია ძალაში შედის წარდგენის დღიდან 3 (სამი) დღის შემდეგ, თუ ახალ ვერსიაში სხვაგვარად არ არის მითითებული.</p>

<li><h3>პასუხისმგებლობის შეზღუდვები</h3>

<p>მომხმარებელი ღიად ეთანხმება, რომ რესურსს იყენებს თავის რისკზე.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. ამ მასალების შინაარსსა და უსაფრთხოებას რესურსის ადმინისტრაცია ვერ აკონტროლებს, ამიტომ იგი არ არის პასუხისმგებელი:</p>
<ul>
<p>- რესურსიდან მიღებული მასალების შინაარსისთვის და მათი შესაძლო შეუთავსებლობისათვის მოქმედი კანონმდებლობის მოთხოვნებთან ან შეურაცხყოფის შემთხვევაში;</p>
<p>- მიღებული ინფორმაციის გამოყენების, გამოყენების ან გამოუყენებლობის შედეგად წარმოშობილი შედეგებისთვის;</p>
<p>- რესურსის გამოყენებით მიღებული შედეგების შესაძლო შეუსაბამობისთვის მომხმარებლის მოლოდინებთან;</p>
<p>- რესურსის გამოყენებით გამოწვეული ნებისმიერი ზიანი მომხმარებლის აპარატურასა და/ან პროგრამულ უზრუნველყოფას;</p>
<p>- რესურსის გამოყენების შეუძლებლობისთვის ნებისმიერი მიზეზის გამო;</p>
<p>- უკანონო ან არალიცენზირებული პროგრამული უზრუნველყოფის, აუდიო-ვიზუალური პროდუქციის და სხვა მასალების ან მონაცემების გავრცელებით გამოწვეული შედეგებისთვის, რომლებიც აზიანებს მესამე პირთა უფლებებს.</p>
</ul>

<p>არავითარი გარემოებისა რესურსი არ იქნება პასუხისმგებელი მომხმარებლის ან მესამე პირის წინაშე ზიანისთვის, დანაკარგებისთვის ან ხარჯებისთვის, რომლებიც დაკავშირებულია ამ რესურსთან, მისი გამოყენებით ან გამოყენების შეუძლებლობით, მათ შორის დაკარგული მოგების ჩათვლით.</p>

<p>რესურსის ადმინისტრაციას არ ეკისრება ვალდებულება უზრუნველყოს მომხმარებელთა მიერ მოწოდებული ინფორმაციის კონფიდენციალურობა, მიუხედავად იმისა, რომ იღებს ყველა შესაძლო ზომას ამისთვის, თუ არ არის შეთანხმებული სხვაგვარად ან მოქმედი კანონმდებლობა არ ითხოვს სხვა ღონისძიებებს.</p>

<p>რესურსის მოვალეობებში არ შედის კანონიერი ან უკანონო გზით გადაცემული ინფორმაციის კონტროლი (მათ შორის, მაგრამ არა მხოლოდ: ბიტტორენტით მომხმარებლებს შორის გადაცემული ინფორმაცია, შიდა გადაცემა ბმულების, ტექსტების ან ფაილების საშუალებით), საკუთრების უფლებების განმარტება ან ამ ინფორმაციის გამოყენებისას გადაცემის/მიღების კანონიერების განსაზღვრა.</p>

<li><h3>მომხმარებლის მიერ რესურსის გამოყენების შეზღუდვები</h3>

<p>რესურსის გამოყენებისას მომხმარებელს არ აქვს უფლება და ეთანხმება შემდეგს:</p>
<ul>
<p>- განათავსოს ჰეშფაილები (ტორენტი) მონაცემებიც, რომლებიც შეიცავენ ვირუსებს ან სხვა მავნე კომპიუტერულ პროგრამებს, ფაილებს ან პროგრამებს, რომლებიც მიზნად ისახავს გაწყვეტას, დაზიანებას ან შეზღუდვას ნებისმიერი კომპიუტერის ან სატელეკომუნიკაციო მოწყობილობის ფუნქციონირებაში ან პროგრამებს არავადის წვდომის მისაღებად, ასევე კომერციული პროგრამების სერიულ ნომრებს და მათ გენერატორებს, შესვლის მონაცემებს, პაროლებს და სხვა საშუალებასs არალდასანქცირებული წვდომის მისაღებად ინტერნეტში, აგრეთვე ზემოთ აღნიშნული ინფორმაციის ბმულების განთავსება;</p>
<p>- განათავსოს ჰეშფაილები (ტორენტები) ან სხვა შეტყობინებები, მონაცემები ან პროგრამები, რომელთა გამოყენება არღვევს პატენტს, სავაჭრო ნიშანს, სავაჭრო საიდუმლოს, საავტორო ან სხვა ქონებრივ უფლებებს და/ან მესამე პირების საავტორო და მონათესავე უფლებებს;</p>
<p>- გაუგზავნოს საიტზე მითითებულ ელ-ფოსტებზე არასანქცირებული რეკლამის შეტყობინებები (junk mail, spam);</p>
<p>- აკოპირებს და გამოიყენოს კომერციულ მიზნებსთვის ნებისმიერი ინფორმაცია, მიღებული ამ რესურსის საშუალებით, რაც არღვევს სხვათა უფლებებს ან შეიძლება გამოიწვიოს მათ პირდაპირი მატერიალური ან მორალური ზიანი;</p>
<p>- განათავსოს ბმულები ვებსაიტებზე, რომელთა შინაარსი ეწინააღმდეგება მოქმედ კანონმდებლობას;</p>
<p>- იმიტირებდეს რომელიმე პირის ან ორგანიზაციისა და/ან საზოგადოების წარმომადგენელის სტატუსს, მათ შორის ადმინისტრაციის თანამშრომლებისა ან რესურსის მფლობელის სტატუსს, თუ არ გააჩნია შესაბამისი უფლებები;</p>
</ul>

<li><h3>შესრულების გარანტია</h3>

<p>რესურსზე წვდომა უზრუნველყოფილია „როგორც არის“ პრინციპით, ყოველგვარი პირდაპირი და ირიბი გარანტიის გარეშე.</p>

<p>კერძოდ, რესურსის ადმინისტრაცია არ იძლევა გარანტიას საიტისა და მისი ცალკეული განყოფილებების ფუნქციონირებაზე, აგრეთვე მომხმარებლების მიერ განთავსებული ბმულების მუშაობაზე და საიმედოობაზე.</p>

<p>რესურსი არ არის პასუხისმგებელი ნებისმიერი პირდაპირი ან ირიბი დანაკარგისთვის, რომელიც გამოწვეულია მომსახურების გამოყენებით ან მის გამოუყენებლობით; ან თქვენი კომუნიკაციაზე არასანქცირებული წვდომის შემთხვევაში.</p>

<li><h3>რესურსის ადმინისტრაციის უფლებები</h3>

<p>რესურსის ადმინისტრაციას აქვს უფლება უარყოს რესურსზე წვდომა ნებისმიერი მომხმარებლის ან მომხმარებელთა ჯგუფისთვის, ახსნა-განმარტებისა და შეტყობინების გარეშე.</p>

<p>რესურსის ადმინისტრაციას შეუძლია შეცვალოს ან წაშალოს რესურსზე მომხმარებლის მიერ განთავსებული ნებისმიერი ინფორმაცია, ჰეშფაილები (ტორენტები), გრაფიკა, აუდიო და სხვა მონაცემები, გაფრთხილების და განმარტების გარეშე.</p>

<li><h3>მხარეთა პასუხისმგებლობები</h3>

<p>მომხმარებელი ეთანხმება, რომ ყველა შესაძლო დავა ამ შეთანხმების გამოყენებასთან დაკავშირებით მოგვარდება კანონით განსაზღვრული ნორმების შესაბამისად.</p>

<p>მომხმარებელი ეთანხმება, რომ მომხმარებლების დაცვის წესები და კანონები არ ვრცელდება ამ რესურსის გამოყენებაზე, რადგან მას არ აქვს ფასიანი მომსახურებები.</p>

<p>რესურსი არ ქმნის მომხმარებელსა და რესურსს შორის აგენტურას, პარტნიორობას ერთობლივ საქმიანობაში, დასაქმების ურთიერთობას ან სხვა ურთიერთობებს, რომლებიც არ არის ასახული ამ გამოყენების შეთანხმებაში.</p>

<p>რესურსის უმოქმედობა მომხმარებლის ან მომხმარებელთა ჯგუფის შეთანხმების დარღვევასთან დაკავშირებით არ ნიშნავს, რომ რესურსი ეხმარება ან უჭერს მხარს მომხმარებლებს ან ჯგუფებს ასეთ ქმედებებში.</p>

<p>რესურსის უმოქმედობა შეთანხმების დარღვევის შემთხვევაში არ ართმევს რესურსს უფლებას შემდგომში მიიღოს შესაბამისი ზომები მისი ინტერესების დასაცავად.</p>

<li><h3>მომხმარებლის შეთანხმების მიღება</h3>

<p>თუ არ ეთანხმებით ზემოთ მოყვანილ ყველა პირობასა და წესებს, არ შეგიძლიათ გამოიყენოთ რესურსი მთლიანად ან მისი რაიმე ნაწილი მომხმარებლის შეთანხმების გვერდის გარდა, მიღება და/ან წვდომა ამ რესურსის შინაარსზე სხვა რაიმე მეთოდით.</p>

<p>თუ არ ეთანხმებით მომხმარებლის შეთანხმებას, აუცილებლად დაუყოვნებლივ დატოვეთ რესურსი.</p>

</ol>
</p>

</div><!--/infobox-body-->
