<div id="infobox-body">

<p>

<p><h1>სამომხმარებლო შეთანხმება</h1></p>

<p><h3>საიტის შესახებ</h3></p>

<p>ეს ინტერნეტ რესურსი/ვებსაიტი (შემდგომში – "რესურსი") არის ვებსაიტი, რომელიც მომხმარებლებს საშუალებას აძლევს გააზიარონ ინფორმაცია ერთმანეთს BitTorrent-ის საშუალებით, ასევე სხვა ფორმებით, და უზრუნველყოფს გადაცემული ინფორმაციის მთლიანობის გადამოწმების საშუალებას (ჰეშფაილებიდან).</p>

<ol>

<li type="1"><h3>მომხმარებლის შეთანხმების შესახებ</h3>

<p>ეს მომხმარებლის შეთანხმება (შემდგომში – „შეთანხმება“) შედის ძალადობაში ღილაკი „ვეთანმხები“ დაჭერისთანავე და ძალაში დარჩება მომხმარებლის რესურსის გამოყენების მთელ პერიოდში. შეთანხმება ადმინისტრაციის მიერ შეიძლება შეიცვალოს არანონსირებლად. შეთახებობის ახალი ვერსია ძალაში შედის მისი გამოქვეყნებიდან 3 (სამი) დღის შემდეგ, თუ ახალ ვერსიაში მოცემული არ არის სხვა ვადები.</p>

<li><h3>პასუხისმგებლობის შეზღუდვები</h3>

<p>მომხმარებელი გამოკვეთილად ეთანხმება რესურსის გამოყენებას თავისივე რისკაზე.</p>

<p>მომხმარებელი აცნობიერებს და ეთანხმება, რომ რესურსი შეიცავს მესამე პირების მიერ შექმნილ მასალებსა და მონაცემებს, რომლებიც მათმა კომპიუტერებმა და/ან სერვერებმა ინტერნეტში განათავსეს. ამ მასალების შინაარსისა და უსაფრთხოების კონტროლი რესურსის ადმინისტრაციის პასუხისმგებლობაში არ შედის; შესაბამისად ადმინისტრაცია არ არის პასუხისმგებელი:</p>
<ul>
<p>- რესურსის მეშვეობით მიღებული მასალების შინაარსზე, მათ შორის მოქმედი კანონმდებლობის მოთხოვნებთან შეუთავსებლობაში ან შეურაცხმყოფელობასთან დაკავშირებით;</p>
<p>- მიღებული ინფორმაციის გამოყენების, გამოყენებაზე უარის ან მისი დანერგვის შედეგებზე;</p>
<p>- რესურსის გამოყენებით მიღებული შედეგების და მომხმარებლის მოლოდინების შეუსაბამობაზე;</p>
<p>- რესურსის გამოყენების შედეგად მომხმარებლის აპარატურის ან პროგრამული უზრუნველყოფის დაზიანებაზე;</p>
<p>- რესურსის გამოყენების შეუძლებლობაზე ნებისმიერი მიზეზით;</p>
<p>- უკანონო ან არალიცენზირებული პროგრამული უზრუნველყოფის, აუდიო/ვიდეო კონტენტის ან სხვა მასალებისა და მონაცემების გავრცელების შედეგად წარმოქმნილ შედეგებზე, რომლებიც არღვევს მესამე პირების უფლებებს.</p>
</ul>

<p>რესურსი არ არის პასუხისმგებელი არც მომხმარებლის და არც მესამე პირის წინაშე ზიანისთვის, დანაკარგებისთვის ან ხარჯებისთვის, რომლებიც დაკავშირებულია რესურსთან, მისი გამოყენებასთან ან გამოყენების ფაქტობრივ შეუძლებლობასთან, მათ შორის დაკარგულ მოგებასთან.</p>

<p>რესურსის ადმინისტრაციას არ ეკისრება ვალდებულება უზრუნველყოს მომხმარებლებში მოცემული ინფორმაციის კონფიდენციალურობა, თუმცა იგი იღებს ყველა სასურველ ზომას ამისთვის, თუ არ არსებობს ცალკე შეთანხმება ან თუ არ მოითხოვს მოქმედი კანონმდებლობა.</p>

<p>რესურსის მოვალეობებში არ შედის გადაცემული ინფორმაციის კანონიერების მონიტორინგი (მათ შორის, მაგრამ არ შემოიფარგლება, bit-torrent-ის საშუალებით მომხმარებლებს შორის გადაცემულ ინფორმაციაზე, შიდა შეტყობინებებზე სხვადასხვა ფორმით, ტექსტებზე ან ფაილებზე), ასევე არაფერი უკავშირდება ინტელექტუალური საკუთრების უფლებების ან გადაცემის კანონიერების შეფასებას.</p>

<li><h3>მომხმარებლის რესურსის გამოყენების შეზღუდვები</h3>

<p>რესურსის გამოყენების დროს მომხმარებელს არ ეძლევა უფლება და იგი ეთანხმება, რომ არ გააკეთებს შემდეგს:</p>
<ul>
<p>- ატვირთოს ჰეშფაილები (ტორენტები), რომლებიც შეიცავენ ვირუსებს ან სხვა მავნე პროგრამებს, ფაილებს ან პროგრამებს, რომლებიც შექმნილია კომპიუტერის ან სატელეკომუნიკაციო მოწყობილობის დაზიანების, შეზღუდვის ან ფუნქციონირების დარღვევისთვის, პროგრამებს არასანქცირებული წვდომისთვის, კომერციული პროგრამების სერიული ნომრებს ან მათი გენერატორებს, შესვლის მონაცემებს, პაროლებს ან სხვა საშუალებებს ინტერნეტ რესურსების არავალდებულ წვდომისთვის და ასევე განათავსოს ასეთი ელემენტების ბმულები;</p>
<p>- ატვირთოს ჰეშფაილები (ტორენტები), რომლებიც შეიცავენ შეტყობინებებს, მონაცემებს ან პროგრამებს, რომელთა გამოყენება არღვევს რაიმე პატენტს, სავაჭრო ნიშანს, სავაჭრო საიდუმლოს, საავტორო ან სხვა ქონებრივ უფლებებს და/ან მესამე პირების შესაბამის უფლებებს;</p>
<p>- გაუგზავნოს არასანქცირებული რეკლამირების შეტყობინებები (junk mail, spam) საიტზე მითითებული ელფოსტაზე;</p>
<p>- ასლი გადაიწეროს და გამოიყენოს კომერციულად ნებისმიერი ინფორმაცია, მიღებული რესურსის მეშვეობით, რომელიც არღვევს სხვა პირების უფლებებს ან შეიძლება გამოიწვიოს მათ პირდაპირი მატერიალური ან მორალური ზიანი;</p>
<p>- განათავსოს ბმულები ვებ რესურსებზე, რომელთა შინაარსი ეწინააღმდეგება მოქმედ კანონმდებლობას;</p>
<p>- იმიტირებდეს ნებისმიერი პირის, ორგანიზაციისა და/ან საზოგადოების წარმომადგენლის სტატუსს, მათ შორის ადმინისტრაციის თანამშრომლებს ან რესურსის მფლობელს, შესაბამისი უფლებების გარეშე.</p>
</ul>

<li><h3>გარანტიების უარყოფა</h3>

<p>რესურსზე წვდომა უზრუნველყოფილია „როგორც არის“ პრინციპით, ყოველგვარი პირდაპირი ან ირიბი გარანტიის გარეშე.</p>

<p>კერძოდ, რესურსის ადმინისტრაცია არ იძლევა გარანტიას საიტის ან მისი განყოფილებების ფუნქციონირებაზე, არ არის პასუხისმგებელი მომხმარებლების მიერ განთავსებული ბმულების მუშაობასა და საიმედოობაზე.</p>

<p>რესურსი არ არის პასუხისმგებელი ნებისმიერი პირდაპირი ან ირიბი დანაკარგისთვის, გამოწვეული მომსახურების გამოყენებით ან გამოყენების შეუძლებლობით, ან კომუნიკაციებზე არასანქცირებული წვდომის შემთხვევაში.</p>

<li><h3>რესურსის ადმინისტრაციის უფლებები</h3>

<p>რესურსის ადმინისტრაციას აქვს უფლება უარყოს რესურსზე წვდომა ნებისმიერი მომხმარებლისთვის ან ჯგუფისთვის ახსნა-განმარტების და გაფრთხილების გარეშე.</p>

<p>რესურსის ადმინისტრაციას შეუძლია შეცვალოს ან წაშალოს ნებისმიერი ინფორმაცია, ჰეშფაილები (ტორენტები), გრაფიკა, აუდიო და სხვა მონაცემები, რომლებიც მომხმარებლებმა წარმოადგინეს, განგაშის და ახსნა-განმარტების გარეშე.</p>

<li><h3>მხარეთა პასუხისმგებლობები</h3>

<p>მომხმარებელი ეთანხმება, რომ ამ შეთანხმებიდან წარმოქმნილი ნებისმიერი დავა მოწესრიგდება მოქმედი კანონმდებლობის შესაბამისად.</p>

<p>მომხმარებელი ეთანხმება, რომ მომხმარებელთა დაცვის კანონები და რეგულაციები არ ვრცელდება ამ რესურსის გამოყენებაზე, რადგან იგი არ უზრუნველყოფს გადახდილი სერვისებს.</p>

<p>რესურსი არ ქმნის სააგენტოს, პარტნიორობას, ერთობლივ საწარმოს, დასაქმებას ან სხვა ურთიერთობებს, რომლებიც ამ შეთანხმებით არ არის პირდაპირ განსაზღვრული.</p>

<p>რესურსის უმოქმედობა მომხმარებლის ან ჯგუფის მიერ შეთანხმების დარღვევის დროს არ ნიშნავს ამ მოქმედებების დამტკიცებას ან დახმარებას.</p>

<p>რესურსის უმოქმედობა მისი ინტერესების დაცვისთვის შესაბამისი ზომების მიღებისას არ ნიშნავს უფლებების გადაცემას ან შეზღუდვას მომავალში დაიცვას ისინი.</p>

<li><h3>მომხმარებლის შეთანხმების მიღება</h3>

<p>თუ არ ეთანხმებით ზემოაღნიშნულ ყველა პირობას, არ შეგიძლიათ გამოიყენოთ რესურსი მთლიანად ან ნაწილობრივ, გარდა მომხმარებლის შეთანხმების გვერდისა, ასევე არ მიიღოთ და/ან להגיע ამ რესურის შინაარსს ნებისმიერ სხვა გზით, სრულად ან ნაწილობრივ.</p>

<p>თუ არ ეთანხმებით მომხმარებლის შეთანხმებას, აუცილებლად დაუყოვნებლივ დატოვეთ რესურსი.</p>

</ol>
</p>

</div>
