<div id="infobox-body">

<p><h1>ՏԵՂԵԿՈՒԹՅՈՒՆՆԵՐ ԻՐԱՎԱՏԵՐԵՐԻ</h1></p>

<p>Եթե դուք կայքում հղված որևէ նյութի հեղինակային իրավունքի տերն եք և չեք ցանկանում, որ օգտվողները առանց ձեր համաձայնության տարածեն այս տեղեկությունները, մենք ուրախությամբ կօգնենք հեռացնել համապատասխան հղումները։</p>

<p>Դա անելու համար խնդրում ենք մեզ ուղարկել էլեկտրոնային նամակ, որը պարունակում է հետևյալ տեղեկությունները:</p>

<p>1. Հեղինակային իրավունքով պաշտպանված նյութի նկատմամբ ձեր իրավունքների փաստաթղթային ապացույց։</p>
<p> — սկանավորված փաստաթուղթ՝ պաշտոնական կնիքով, կամ</p>
<p> — էլեկտրոնային նամակ՝ իրավատեր ընկերության պաշտոնական տիրույթից, կամ</p>
<p> — այլ կոնտակտային տվյալներ, որոնք միանշանակ կպարզաբանեն ձեզ որպես իրավատեր։</p>

<p>2. Ձեր ցանկալի փոխարինող տեքստը՝ հեռացված պարունականքի փոխարեն հրապարակվելու համար։</p>

<p>Այս տեքստում կարող եք նշել, թե որտեղ և ինչ պայմաններով օգտվողները կարող են ստանալ հեռացված հղումներով տեղեկությունները, ինչպես նաև ձեր կոնտակտային տվյալները, որպեսզի օգտվողները կարողանան կապ հաստատել ձեզ հետ այս նյութի վերաբերյալ։</p>

<p>3. Ուղղակի հղումներ դեպի էջեր, որտեղ պարունակվում են հեռացման ենթակա տվյալների հղումները։</p>

<p>Հղումները պետք է լինի հետևյալ ձեւաչափով` <strong>https://url.to/link</strong> կամ նմանատիպ։</p>

<p>Ձեր դիմումի ստացումից հետո 48 ժամվա ընթացքում մենք կհեռացնենք համապատասխան հղումներն այս կայքից։</p>

<p class="bold">Մեր էլփոստը՝ <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>Զգուշացում։</p>

<p>ա) Մենք պահպանում ենք իրավունքը հրապարակելու կայքում ցանկացած տեղեկություն, որը մեզ ուղարկվում է՝ <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>բ) Մենք չենք վերահսկում այն օգտվողների գործողությունները, որոնք կարող են կրկին տեղադրել այն հղումները, որոնք վերաբերում են ձեր հեղինակային իրավունքի առարկային տեղեկատվությանը։ Ֆորումի բոլոր տեղեկությունները ավտոմատ կերպով տեղադրվում են, առանց նախնական ստուգման կամ մոդերացիայի, և համապատասխան են համընդհանուր ընդունված միջազգային պրակտիկային՝ տեղեկատվությունը հյուրընկալելիս ինտերնետում։ Այնուամենայնիվ, մենք կքննարկենք բոլոր դիմումները, որոնք վերաբերում են իրավախախտող տեղեկությունների հղումներին։</p>

<p>գ) Հեղինակային իրավունքի և հարակից իրավունքների համաձայն համապատասխան օրենքներով, տվյալների հղումը (տեղեկատվական հղումը) ինքնին հեղինակային իրավունքի ենթակա չէ (չնայած կարող է խախտել սույն կայքի օգտվողի պայմանները)։ Ուստի խնդրում ենք զերծ մնալ սպառնալիքներ կամ պահանջներ պարունակող նամակներ ուղարկելուց, քանի որ նման պահանջները չունեն իրավական հիմքեր։</p>

</div>
