<div id=\"infobox-body\">

<p><h1>ՏԵՂԵԿՈՒԹՅՈՒՆՆԵՐ ԻՐԱՎԱՏԵՐԵՐԻ</h1></p>

<p>Եթե դուք հանդիսանում եք այս կայքում ներկայացված որևէ նյութի հեղինակային իրավունքների տեր և չեք ուզում, որ ձեր համաձայնության առանց օգտվողները տարածեն այդ տեղեկությունը, մենք սիրով կօգնենք ձեզ հեռացնել համապատասխան հղումները։</p>

<p>Սովորաբար պահանջվում է, որ դուք մեզ հաղորդագրություն ուղարկեք (էլեկտրոնային ձևով)
որը մեզ տրամադրում է հետևյալ տեղեկությունները:</p>

<p>1. Հեղինակային իրավունքով պաշտպանված նյութի նկատմամբ ձեր իրավունքների փաստաթղթային ապացույց:</p>
<p> - սկանավորված փաստաթուղթ կնիքով, կամ</p>
<p> - նամակ պաշտոնական էլ. հասցենից ընկերության իրավատիրոջ, կամ</p>
<p> - այլ կոնտակտային տվյալներ, որոնք միանշանակ կհաստատեն ձեզ որպես տվյալ նյութի հեղինակային իրավունքի իրավատեր։</p>

<p>2. Տեքստը, որը կամենում եք տեղադրել, պետք է ուղեկցվի հեռացվող տեղեկատվությամբ։</p>

<p>Այստեղ կարող եք նշել, թե որտեղ և ինչ պայմաններում կարելի է ստանալ այն տեղեկությունները, որոնց հղումները ջնջվել են, ինչպես նաև ձեր կոնտակտային տվյալները, որպեսզի օգտվողները կարողանան ձեզանից ստանալ բոլոր անհրաժեշտ տվյալները այս նյութի վերաբերյալ։</p>

<p>3. Ուղղակի հղումներ դեպի էջեր, որոնք պարունակում են այն տվյալների հղումներ, որոնք պետք է հեռացվեն։</p>

<p>Հղումները պետք է լինեն տեսքով <strong>https://url.to/link</strong> կամ նմանդ։</p>

<p>Դրանից հետո 48 ժամվա ընթացքում մենք հեռացնենք ձեզ հետաքրքրող հղումները կայքից։</p>

<p class=\"bold\">Մեր էլփոստը՝ <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ԶԳՈՒՇԱՑՈՒՄ!</p>

<p>ա) Մենք պահպանում ենք իրավունքը հրապարակելու կայքում ցանկացած էլփոստով ուղարկված տեղեկություն՝ <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Any information the forum, place automatically, without any control from any quarter whatsoever, which corresponds to the generally accepted international practice of placing information on the Internet. Այնուամենայնիվ, ամեն դեպքում, մենք հաշվի ենք առնում ձեր բոլոր հարցումները՝ կապված ձեր իրավունքները խախտող տեղեկատվության հղումների հետ:</p>

<p>c) According to the Law on Copyright and Related Rights, a reference to any data (information message), by itself, is not subject to copyright law (although it may violate the "Agreement on the use of the website"). Այսպիսով, չարժե սպառնալիքներ կամ պահանջներ պարունակող նամակներ ուղարկել, քանի որ իրական պատճառ չունեն։</p>

</div><!--/infobox-body-->
