<div id="infobox-body">

<p><h1>ՏԵՂԵԿՈՒԹՅՈՒՆՆԵՐ ԻՐԱՎԱՏԵՐԵՐԻ</h1></p>

<p>Եթե դուք մտավոր սեփականության իրավունքի դափնեկիր եք այս կայքում առկա որևէ նյութի կամ հղման նկատմամբ և չեք ցանկանում, որ այս տեղեկությունները without ձեր համաձայնությունը տարածվեն օգտվողների կողմից, մենք պատրաստ ենք օգնել ձեզ վերացնել համապատասխան հղումները։</p>

<p>To do so, please send us an electronic letter containing the following information:</p>

<p>1. Documentary proof of your rights to the copyrighted material:</p>
<p> — սկանավորված փաստաթուղթ՝ պաշտոնական կնիքով, կամ</p>
<p> — էլեկտրոնային նամակ՝ իրավատեր ընկերության պաշտոնական տիրույթից, կամ</p>
<p> — այլ կոնտակտային տվյալներ, որոնք միանշանակ կպարզաբանեն ձեզ որպես իրավատեր։</p>

<p>2. Ձեր ցանկալի փոխարինող տեքստը՝ հեռացված պարունականքի փոխարեն հրապարակվելու համար։</p>

<p>Այս տեքստում կարող եք նշել, թե որտե՞ղ և under ո՞ր պայմաններով օգտվողները կարող են ստանալ հեռացված հղումներով տեղեկությունները, ինչպես նաև ձեր կոնտակտային տվյալները՝ օգտվողների հետ կապ հաստատելու համար։</p>

<p>3. Ուղղակի հղումներ դեպի էջեր, որտեղ պարունակվում են հեռացման ենթակա տվյալների հղումները։</p>

<p>Հղումները պետք է լինի հետևյալ ձեւաչափով` <strong>https://url.to/link</strong> կամ նմանատիպ։</p>

<p>Ձեր դիմումի ստացումից հետո 48 ժամվա ընթացքում մենք կհեռացնենք համապատասխան հղումներն այս կայքից։</p>

<p class="bold">Մեր էլփոստը՝ <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WARNING!</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>բ) Մենք չենք վերահսկում այն օգտատերերի գործողությունները, որոնք կարող են կրկին տեղադրել այս ინფორმացիայի հղումները, որոնք ուներ ձեր հեղինակային իրավունքը։ Ֆորումի բոլոր տեղեկությունները տեղադրվում են ավտոմատ կերպով, առանց նախնական վերանայման կամ մոդերացիայի, համարվում են համաշխարհային ընդունված պրակտիկայի համաձայն ինտերնետում տեղեկատվություն տարածելու։ Այնուամենայնիվ, մենք կքննարկենք բոլոր դիմումները, որոնք վերաբերում են իրավախախտող տեղեկությունների հղումներին։</p>

<p>գ) Հեղինակային իրավունքի և հարակից իրավունքների համաձայն համապատասխան օրենքներով, տվյալների հղումը (տեղեկատվական հղումը) ինքնին հեղինակային իրավունքի ենթակա չէ (չնայած կարող է խախտել սույն կայքի օգտվողի պայմանները)։ Ուստի խնդրում ենք զերծ մնալ սպառնալիքներ կամ պահանջներ պարունակող նամակներ ուղարկելուց, քանի որ նման պահանջները չունեն իրավական հիմքեր։</p>

</div>
