<div>
	<h3>Կողմնակի փեղկ 2</h3>
	Ավելացնելու համար բովանդակություն այս կողմնային փեղկի մեջ՝ խմբագրեք հետևյալ ֆայլերը՝
	<br /><br />
	<ul class="med">
		<li>բալիկ/լեզու/*/html/կողմնակի_փեղկ2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Այս կողմնային փեղկը անջատելու համար կարգավորեք config/layouts.php ֆայլում page.show_sidebar2 փոփոխականի արժեքը false։
</div>
