<div id=\"infobox-body\">

<p>

<p><h1>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆ</h1></p>

<p><h3>ԿԱՅՔԻ ՄԱՍԻՆ</h3></p>

<p>Ինտերնետ-ռեսուրսը / վեբ-կայք (հետագայում՝ ռեսուրս) ինտերնետային կայք է, որը թույլ է տալիս օգտվողներին իրար հետ տեղեկատվություն փոխանակել bit-torrent-ի միջոցով, ինչպես նաև ազատ ձեւաչափով, և տրամադրում է տեղեկատվության ամբողջականության հսկման միջոցներ (hash-ֆայլերի միջոցով):</p>

<ol>

<li type="1"><h3>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅԱՆ ՄԱՍԻՆ</h3>

<p>Սույն ՕԳՏԱԳՈՐԾՈՂԻ ՊԱՅՄԱՆԱԳԻՐԸ ուժի մեջ է մտնում նեթի ստորև "Համաձայն եմ" սեղմելուց հետո և գործում է ռեսուրսի օգտագործողների ողջ ընթացքում։ ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆԸ կարող է փոփոխվել ադմինիստրացիայի կողմից առանց որևէ նախնական ծանուցման։ <p>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅԱՆ նոր տարբերակը ուժի մեջ է մտնում ներկայացումից հետո 3 (երեք) օրվա ընթացքում, եթե նոր տարբերակում այլ կերպ չի նշված։</p>

<li><h3>ՊԱՏԱՍԽԱՆԱՏՎՈՒԹՅԱՆ ՍԱՀՄԱՆԱՓԱԿԱՆՈՒՄՆԵՐ</h3>

<p>Օգտվողը հստակ հասկանում և համաձայնում է, որ ռեսուրսը օգտագործվում է իր սեփական ռիսկով։</p>

<p>Օգտատերը գիտի և համաձայն է, որ գործ ունի երրորդ անձանց կողմից ստեղծված ռեսուրսների և տվյալների հետ, որոնք տեղադրվել են ինտերնետում իրենց համակարգիչների և (կամ) սերվերների վրա։ <p>Ռեսուրսի ադմինիստրացված կողմը չի վերահսկում այս նյութերի բովանդակությունն ու անվտանգության պայմանները, հետևաբար պատասխանատվություն չի կրում՝</p>
<ul>
<p>- այն նյութերի բովանդակության համար, որոնք օգտվողը ստացել է ռեսուրսից և որոնց պարունակությունը կարող է հակասել գործող օրենքներին կամ լինել վիրավորական։</p>
<p>- տեղեկատվությունը կիրառելու, օգտագործելու կամ չօգտագործելու հետևանքների համար։</p>
<p>- ռեսուրսի միջոցով ստացված արդյունքների և օգտվողի սպասումների միջեւ հնարավոր անհամապատասխանության համար։</p>
<p>- օգտվողի սարքավորումների կամ ծրագրային ապահովման ցանկացած վնասի համար, որը առաջացել է ռեսուրսը օգտագործելու պատճառով։</p>
<p>- ռեսուրսի օգտագործման անհնարինության համար ցանկացած պատճառով։</p>
<p>- ցանկացած վնասների համար, որոնք կարող են առաջանալ ապօրինի կամ ոչ լիցենզավորված ծրագրային կամ աուդիո/վիդեո արտադրանքների, ինչպես նաև երրորդ կողմերի իրավունքներին ազդեցություն ունեցող այլ նյութերի կամ տվյալների տարածումից։</p>
</ul>

<p>Ռեսուրսը չի կրում պատասխանատվություն օգտվողի կամ երրորդ կողմի առջև նյութական կամ բարոյական վնասների, կորուստների կամ ծախսերի համար, որոնք տեղի են ունենում ռեսուրսի օգտագործման, օգտագործման անհնարինության կամ ռեսուրսի հետ կապված այլ հանգամանքների պատճառով, ներառյալ ուղղակի կամ անուղղակի վնասներ և կորցրած եկամուտներ։</p>

<p>Ռեսուրսի ադմինիստրացիան պարտավորություն չունի ապահովելու օգտվողների տրամադրած տեղեկատվության գաղտնիությունը, սակայն ձեռնպահ է բոլոր անհրաժեշտ միջոցները՝ դրան հասնելու համար, բացի այն դեպքերի, երբ հակառակն նախատեսված է գործող օրենսդրությամբ կամ առանձին համաձայնություններով։</p>

<p>Ռեսուրսը չի վերահսկում օրինականորեն կամ ապօրինի փոխանցվող տեղեկատվությունը (նաև օգտվողների միջև bit-torrent-ի միջոցով փոխանցվող տվյալները, ներքին փոխանցումները տարբեր հղումներով, տեքստեր կամ ֆայլեր), սեփականության իրավունքների հաստատումը կամ տվյալ տեղեկատվության օրինականությունը։</p>

<li><h3>ՕԳՏԱԳՈՐԾՈՂԻ ՌԵՍՈՒՐՍԻ ՕԳՏԱԳՈՐԾՄԱՆ ՍԱՀՄԱՆԱՓԱԿԱՆՈՒՄՆԵՐԸ</h3>

<p>Օգտվողը ռեսուրսն օգտագործելիս չունի իրավունք և համաձայն է հետևյալի հետ՝</p>
<ul>
<p>- տեղադրել hash-ֆայլեր (torrents), որոնք պարունակում են վիրուսներ կամ այլ վնասակար համակարգչային ծրագրեր, ուղղված ցանկացած համակարգչի կամ հեռահաղորդակցման սարքավորումների ֆունկցիոնալության խափանմանը, վնասման, կամ սահմանափակման, ինչպես նաև ծրագրեր անօրինական մուտք ստանալու համար, և komercion ծրագրային ապահովման շարքի համարներն ու դրանց գեներացնող ծրագրերը, մուտքագրումներ՝ օգտվողի անուններ, գաղտնաբառեր և այլ միջոցներ, որոնք թույլ են տալիս չարտոնված մուտք դեպի ինտերնետային կայքեր։ Գործարկեք նաև վերոհիշյալ տեղեկությունների հղումները։</p>
<p>- տեղադրել hash-ֆայլեր (torrents) որևէ հաղորդագրություններ, տվյալներ կամ ծրագրեր, որոնց օգտագործումը խախտում է արտոնագրային, ապրանքանիշային, առևտրային գաղտնիքի, հեղինակային իրավունքի կամ երրորդ անձանց այլ սեփականության իրավունքներ և իրավունքները։</p>
<p>- ուղարկել կայքում նշված էլեկտրոնային հասցեներին չհամաձայնեցված գովազդային կամ այլ տեսակի նամակներ (օրինակ՝ սպամ)։</p>
<p>- պատճենել և առևտրային նպատակներով օգտագործել ռեսուրսից ստացված որևէ տեղեկատվություն, որը խախտում է այլոց իրավունքները կամ կարող է պատճառել նրանց նյութական կամ բարոյական վնաս։</p>
<p>- հրապարակել ինտերնետային ռեսուրսների հղումներ, որոնց բովանդակությունը հակասում է գործող օրենսդրությանը։</p>
<p>- ներկայանալ որպես որևէ անձ կամ կազմակերպության, համայնքի ներկայացուցիչ առանց բավարար իրավասությունների, այդ թվում՝ ռեսուրսի սեփականատիրոջ ադմինիստրացիայի աշխատակիցներին։</p>
</ul>

<li><h3>ԵՐԱՇԽԻՔ ԿԱՏԱՐՈՒՄ</h3>

<p>Ռեսուրսին մուտքը տրամադրվում է «այնպես ինչպես կա» սկզբունքով՝ առանց որևէ երաշխիքների, թե՛ ուղիղ, թե՛ անուղղակի։</p>

<p>Ռեսուրսի ադմինիստրացիան չի երաշխավորում կայքի և նրա առանձին բաժինների ֆունկցիոնալությունը, ինչպես նաև օգտվողների կողմից տեղադրված հղումների կատարողականությունն ու հուսալիությունը։</p>

<p>Ռեսուրսը պատասխանատվություն չի կրում ուղղակի կամ անուղղակի վնասների համար, որոնք առաջացել են ծառայության օգտագործման կամ դրա օգտագործման անհնարինության, ինչպես նաև հաղորդակցությանը ոչ թույլատրված մուտքի պատճառով։</p>

<li><h3>ՌԵՍՈՒՐՍԻ ԱԴՄԻՆԻՍՏՐԱՏԻՎԻ ԻՐԱՎՈՒՆՔՆԵՐԸ</h3>

<p>Ռեսուրսի ադմինիստրացիայի իրավունք է վերապահված մերժելու ռեսուրսի մուտքը ցանկացած օգտվողի կամ օգտվողների խմբի առանց որևէ բացատրությունների և ծանուցման։</p>

<p>Ռեսուրսի ադմինիստրացիան իրավունք ունի փոփոխել կամ ջնջել ռեսուրսից օգտվողների կողմից ներկայացված ցանկացած տեղեկատվություն, hash-ֆայլեր (torrents), գրաֆիկա, աուդիո և այլ տվյալներ առանց ծանուցման և բացատրությունների։</p>

<li><h3>ԿՈՂՄԵՐԻ ՊԱՏԱՍԽԱՆԱՏՎՈՒԹՅՈՒՆԸ</h3>

<p>Օգտվողը համաձայնում է, որ բոլոր հնարավոր վեճերը՝ կապված ՕԳՏԱԳՈՐԾՄԱՆ ՀԱՄԱՁԱՅՆՈՒԹՅԱՆ հետ, կլուծվեն իրավական նորմերի համաձայն։</p>

<p>Օգտվողը փաստում է, որ սպառողների պաշտպանության կանոններն ու օրենքները չեն կիրառվում այս ռեսուրսի օգտագործման համար, քանի որ վերջինս չունի վճարովի ծառայություններ։</p>

<p>Ռեսուրսը չի սահմանում գործակալային, դաշնակցային կամ աշխատանքի ընդունման հարաբերություններ, ինչպես նաև այլ հարաբերություններ, որոնք սպառակի օգտագործման համաձայնագրում հստակ չեն նշված։</p>

<p>Ռեսուրսի անգործությունը՝ օգտվողի կամ օգտագործողների խմբի համաձայնագիրը խախտելու դեպքերում, չի նշանականի, որ ռեսուրսը օգնելու է օգտվողներին այդ գործողություններում։</p>

<p>Ռեսուրսը չի կորցնում իրավունքը՝ հետագայում ձեռնարկել համապատասխան քայլեր՝ իր շահերը պաշտպանելու համար, եթե նախորդում անգործություն է ցուցաբերել համաձայնագրի խախտման դեպքում։</p>

<li><h3>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅԱՆ ԸՆԴՈՒՆՈՒՄԸ</h3>

<p>ԵԹԵ ԴՈՒՔ ՉԵՔ ՀԱՄԱՁԱՅՆ ԸՆԹԱՑԱԿԱՆ ԲՈԼՈՐ ՊԱՅՄԱՆՆԵՐԻ ՀԵՏ, ԴՈՒՔ ՉԻ Կարող Գալ ռեսուրսին ամբողջությամբ կամ մասամբ, բացի ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅԱՆ ԷՋԻՑ, ՍՏԱՆԱԼՈՒ ԵՎ/ ԿԱՄ ՄՈՒՏՔ ԳՈՐԾԵԼ ՌԵՍՈՒՐՍԻ ԲՈՎԱՆԴԱԿՈՒԹՅՈՒՆԸ ԻՆՉ ՄԻՋՈՑՆԵՐՈՎ ՈՐՊԵՍ ԱՄԲՈՂՋ, ՈՐ ՊԱՐՏԱԿԱՆ ՄԻ ՄԱՍՈՒՄ։ </p>

<p>ԵԹԵ ԴՈՒՔ ՉԵՔ ՀԱՄԱՁԱՅՆ Ի ՏԱՐԲԵՐԱԿՄԱՆԸ, ԴՈՒՔ ՊԵՏՔ Է ԱՆՀԱՊԱՂ ԼՔԵԼ ՌԵՍՈՒՐՍԸ։</p>

</ol>
</p>

</div><!--/infobox-body-->
