<div id="infobox-body">

<p>

<p><h1>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆ</h1></p>

<p><h3>ԿԱՅՔԻ ՄԱՍԻՆ</h3></p>

<p>Այս ինտերնետ ռեսուրսը/վեբկայքը (այստեղից հետո` "Ռեսուրս") վեբկայք է, որը թույլ է տալիս օգտվողներին փոխանակվել տեղեկատվությամբ BitTorrent-ի միջոցով, ինչպես նաև այլ ձևերով, և տրամադրում է միջոցներ փոխանցվող տեղեկության ամբողջականությունը ստուգելու համար (hash ֆայլերի միջոցով):</p>

<ol>

<li type="1"><h3>Այս Օգտագործողի Համաձայնագրի ՄԱՍԻՆ</h3>

<p>Այս Օգտագործողի Համաձայնագիրը (շարադրված՝ «Համաձայնագիր») ուժի մեջ է մտնում «Համաձայն եմ» կոճակը ստորին մասում սեղմելուց և գործում է Օգտագործողի՝ Ռեսուրսից օգտվելու ողջ ժամանակահատվածում։ Համաձայնագիրը կարող է փոփոխվել Ադմինիստրացիայի կողմից առանց նախնական ծանուցման։ Համաձայնագրի նոր տարբերակը ուժի մեջ է մտնում հրապարակումից 3 (երեք) օր անց, եթե նոր տարբերակում այլ կերպ չի նշված։</p>

<li><h3>ՊԱՏԱՍԽԱՆԱՏՎՈՒԹՅԱՆ ՍԱՀՄԱՆԱՓԱԿՈՒՄ</h3>

<p>Օգտագործողը հստակ Համաձայնվում է՝ ռեսուրսը օգտագործել իր սեփական ռիսկով։</p>

<p>Օգտագործողը գիտակցում և ընդունում է, որ Ռեսուրսը զբաղվում է երրորդ անձանց ստեղծած նյութերով և տվյալներով, որոնք տեղադրված են նրանց սեփական համակարգիչներն ու/կամ սերվերներում՝ ինտերնետի միջոցով։ Այս նյութերի բովանդակությունն ու անվտանգությունը չի կարող վերահսկվել Ռեսուրսի վարչակազմի կողմից, ուստի վարչակազմը պատասխանատվություն չի կրում՝</p>
<ul>
<p>- Ռեսուրսի միջոցով օգտվողի ձեռք բերված նյութերի բովանդակության համար, այդ թվում՝ դրանց հնարավոր իրավահամապատասխանության պակասի կամ վիրավորական բնույթի նկատմամբ;</p>
<p>- ստացված տեղեկատվությունը կիրառելու, օգտագործելու կամ չօգտագործելու հետևանքների համար;</p>
<p>- Ռեսուրսի միջոցով ստացված արդյունքների և օգտվողի ակնկալիքների միջև որևէ անհամապատասխանության համար;</p>
<p>- օգտվողի սարքատեխնիկայի կամ ծրագրային ապահովման վնասման համար, որը առաջացել է Ռեսուրսի օգտագործման հետևանքով;</p>
<p>- Ռեսուրսը ցանկացած պատճառով օգտագործելու անհնարինության համար;</p>
<p>- ապօրինի կամ ոչ լիցենզավորված ծրագրային ապահովման, աուդիո/վիդեո բովանդակության կամ այլ նյութերի կամ տվյալների տարածումից առաջացած հետևանքների համար, որոնք խախտում են երրորդ անձանց իրավունքները։</p>
</ul>

<p>Ոչ մի դեպքում Ռեսուրսը չի կրում պատասխանատվություն օգտվողի կամ երրորդ կողմի նկատմամբ ռեսուրսի օգտագործման, օգտագործման անհնարինության կամ ռիսկերից առաջացած վնասների, կորուստների կամ ծախսերի համար՝ ներառյալ չկատարված շահույթները։</p>

<p>Ռեսուրսի Ադմինիստրացիան պարտավոր չէ երաշխավորել իր օգտվողների կողմից տրամադրված տեղեկությունների գաղտնիությունը, բայց կիրառում է անհրաժեշտ ողջ չափորոշիչ միջոցառումները, եթե առանձին պայմանավորվածություն չկա կամ գործող օրենքներով այլ բան չի պահանջվում։</p>

<p>Ռեսուրսի պարտականությունները չեն ներառում փոխանցված տեղեկությունների (ներառյալ՝ BitTorrent-ի միջոցով օգտագործողների միջև փոխանցվող, ներքին հաղորդագրություններ, տեքստեր կամ ֆայլեր) օրինականության վերահսկումը, ինչպես նաև մտավոր սեփականության իրավունքների կամ նման տեղեկությունների փոխանցումն ու ստացումը ճանաչելը։</p>

<li><h3>ՕԳՏԱԳՈՐԾՈՂԻ ՌԵՍՈՒՐՍԻ ՕԳՏԱՆՈՒՄԻ ՍԱՀՄԱՆՈՒՄՆԵՐ</h3>

<p>Այս ռեսուրսը օգտագործելիս Օգտվողը չպետք է և համաձայն է չանել հետևյալ գործողությունները՝</p>
<ul>
<p>- տեղադրել hash ֆայլեր (torrents), որոնք պարունակում են վիրուսներ կամ այլ վնասակար ծրագրային ապահովում, ֆայլեր կամ ծրագրեր, որոնք նախատեսված են որևէ համակարգչային կամ հեռախոսակապի սարքի աշխատանքի խափանման, ոչնչացման կամ սահմանափակման համար, անօրինական մուտքի ծրագրեր, կոմերցիոն ծրագրերի սերիական համարներ կամ դրանց ստեղծման գործիքներ, մուտքանուններ, գաղտնաբառեր կամ այլ միջոցներ ինտերնետային ռեսուրսներին անօրինական մուտք ստանալու համար, ինչպես նաև հրապարակել այդ կապող հղումները;</p>
<p>- տեղադրել hash ֆայլեր (torrents), որոնք պարունակում են հաղորդագրություններ, տվյալներ կամ ծրագրեր, որոնց օգտագործումը խախտում է որևէ արտոնագիր, ապրանքանիշ, առևտրային գաղտնիք, հեղինակային իրավունք կամ երրորդ անձանց այլ սեփականության իրավունքներ կամ հարակից իրավունքներ;</p>
<p>- ուղարկել անպատվիրատու գովազդային հաղորդագրություններ (junk mail, spam) կայքում նշված էլփոստային հասցեներին;</p>
<p>- պատճենել եւ առեւտրային նպատակներով օգտագործել ռեսուրսի միջոցով ստացված ցանկացած տեղեկատվություն, որը խախտում է մյուսների իրավունքները կամ կարող է նրանց պատճառել ուղիղ նյութական կամ բարոյական վնաս;</p>
<p>- հրապարակել հղումներ այն վեբ ռեսուրսներին, որոնց բովանդակությունը հակասում է գործող օրենսդրությանը;</p>
<p>- ներկայացնել կամակատար հանդիսանալ իբրև որևէ անձ կամ կազմակերպության, համայնքի ներկայացուցիչ առանց համապատասխան լիազորությունների, ներառյալ Ադմինիստրացիայի աշխատակիցները կամ Ռեսուրսի սեփականատերը։</p>
</ul>

<li><h3>ԳԱՐԱՆՏԻԱՅԻ ԲԱՑԱՌՈՒԹՅՈՒՆՆԵՐ</h3>

<p>Ռեսուրսին մուտքը տրամադրվում է՝ «ինչպես կա» սկզբունքով՝ առանց որևէ տեսակի բացարձակ կամ կոշտ երաշխիքների։</p>

<p>Նախշատակի, ռեսուրսի Ադմինիստրացիան չի երաշխավորում կայքի գործունեությունն ամբողջությամբ կամ առանձին բաժինների աշխատանքի հավաստիությունն ու հուսալիությունը, ինչպես նաև օգտվողների տեղադրած հղումների գործողությունը։</p>

<p>Ռեսուրսը պատասխանատվություն չի կրում ուղղակի կամ անուղղակի վնասների համար, որոնք առաջացել են ռեսուրսի օգտագործումից կամ անօգուտության հետևանքով, կամ չարտոնված մուտքից Ձեր հաղորդակցություններում։</p>

<li><h3>ԻՐԱՎՈՒՆՔՆԵՐ ՌԵՍՈՒՐՍԻ ԱԴՄԻՆԻՍՏՐԱՑԻԱՅԻ</h3>

<p>Ռեսուրսի Ադմինիստրացիան իրավունք ունի առանց բացատրության կամ նախնական ծանուցման մուտքն արգելելու ցանկացած օգտվողի կամ օգտվողների խմբի համար։</p>

<p>Ռեսուրսի Ադմինիստրացիան իրավունք ունի փոփոխել կամ ջնջել ցանկացած տեղեկատվություն, հաշ ֆայլեր (torrents), գրաֆիկական, աուդիո և այլ տվյալներ, որոնք օգտվողները տեղադրել են, առանց նախնական ծանուցման կամ բացատրության։</p>

<li><h3>ԿՈՂՄԵՐԻ ՊԱՏԱՍԽԱՆԱՏՎՈՒԹՅՈՒՆԸ</h3>

<p>Օգտվողը համաձայնում է, որ այս Համաձայնագրից ծագող բոլոր վեճերը կլուծվեն գործող օրենսդրության համաձայն։</p>

<p>Օգտվողը նաև ընդունում է, որ սպառողի պաշտպանության օրենքներն ու կանոնակարգերը չեն տարածվում այս ռեսուրսի օգտագործման վրա, քանի որ այն վճարովի ծառայություններ չի մատուցում։</p>

<p>Ռեսուրսը չի ստեղծում գործակալության, գործընկերության, համատեղ ձեռնարկության, աշխատանքի կամ որևէ այլ հարաբերություններ, որոնք հատուկ չեն նշված այս համաձայնագրում։</p>

<p>Ռեսուրսի անգործությունը՝ խախտում իրականացնող օգտվողի կամ օգտվողների խմբի հանդեպ, չի նշանակում այդ գործողությունների ընդունում կամ աջակցություն։</p>

<p>Ռեսուրսի անգործությունը այդ խախտումներին պատասխանելու հարցում չի խլում նրա իրավունքները հետագայում համապատասխան միջոցներ ձեռնարկելու օգտին սեփական շահերի պաշտպանության համար։</p>

<li><h3>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆԱԳՐԻ ԸՆԴՈՒՆՈՒՄ</h3>

<p>ԵԹԵ ԴՈՒՔ ՉԵՔ ՀԱՄԱՁԱՅՆՈՒՄ ՎԵՐՈՐԴ ՊԱՅՄԱՆՆԵՐԻ ՀԱՄԱՐ, ԴՈՒՔ ՉԿԱՐՈՂ ԵՔ ՆՎԱՂԵԼ ՌԵՍՈՒՐՍԻՆ ՄԱՄՈՒԼՈՎ՝ ԲՈԼՈՐ ՀԱՄԱՐ ԿԱՄ ՆՐԱ ՄԱՍԱՎՈՐԻՆ, ԲԱՑԻ ՀԱՄԱՁԱՅՆԱԳՐԻ ԷՋԻՆ, ԵՎ ՀԱՆԴԵՒԸ ՎԵՐՈՐԴ ՌԵՍՈՒՐՍԻ ԲՈՎԱՆԴԱԿՈՒԹՅՈՒՆԸ ՀԱՍՆԵԼՈՒ ԿԱՄ ՄՈՒՏՔ ԳՈՐԾԵԼՈՒ ԱՅԼ ՄԻՋՈՑՆԵՐՈՎ ՈՐՊԵՍ ԲՈԼՈՐՈւԹՅՈՒՆ ԿԱՄ ԻՐ ՄԱՍԵՐԻ։</p>

<p>ԵԹԵ ՉԵՔ ՀԱՄԱՁԱՅՆՈՒՄ ԱՅՍ ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆԱԳՐԻ ՀԵՏ, ՊԵՏՔ Է ԱՆՀԱՊԱՂ ԼՔԵՔ ՌԵՍՈՒՐՍԸ։</p>

</ol>
</p>

</div>
