<div id="infobox-body">

<p>

<p><h1>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆ</h1></p>

<p><h3>ԿԱՅՔԻ ՄԱՍԻՆ</h3></p>

<p>This internet resource/website (hereinafter referred to as the "Resource") is a website that allows users to share information with each other via BitTorrent, as well as in other forms, and provides a means to verify the integrity of transmitted information (via hash files).</p>

<ol>

<li type="1"><h3>Այս Օգտագործողի Համաձայնագրի ՄԱՍԻՆ</h3>

<p>Այս Օգտագործողի Համաձայնագիրը (շարադրված՝ «Համաձայնագիր») ուժի մեջ է մտնում «Համաձայն եմ» կոճակը ստորին մասում սեղմելուց և գործում է Օգտագործողի՝ Ռեսուրսից օգտվելու ողջ ժամանակահատվածում։ Համաձայնագիրը կարող է փոփոխվել Ադմինիստրացիայի կողմից առանց նախնական ծանուցման։ Համաձայնագրի նոր տարբերակը ուժի մեջ է մտնում հրապարակումից հետո 3 (երեք) օր անց, եթե նոր տարբերակում այլընտրանք դիտված չէ։</p>

<li><h3>ՊԱՏԱՍԽԱՆԱՏՎՈՒԹՅԱՆ ՍԱՀՄԱՆԱՓԱԿՈՒՄ</h3>

<p>Օգտագործողը հստակ Համաձայնվում է՝ ռեսուրսը օգտագործել իր սեփական ռիսկով։</p>

<p>Օգտագործողը գիտակցում և ընդունում է, որ Ռեսուրսը զբաղվում է երրորդ անձանց ստեղծած նյութերով և տվյալներով, որոնք տեղադրված են նրանց սեփական համակարգիչներն ու/կամ սերվերներում՝ ինտերնետի միջոցով։ The content and security of these materials cannot be controlled by the Resource Administration; therefore, the Administration shall not be liable:</p>
<ul>
<p>- for the content of materials obtained by the User through the Resource, including any possible inconsistency with applicable laws or any offensive nature thereof;</p>
<p>- for the consequences of applying, using, or failing to use the information obtained;</p>
<p>- for any discrepancy between the results obtained through the Resource and the User's expectations;</p>
<p>- for any damage to the User's hardware or software resulting from the use of the Resource;</p>
<p>- for any inability to use the Resource for any reason;</p>
<p>- ապօրինի կամ ոչ լիցենզավորված ծրագրային ապահովման, աուդիո/վիդեո բովանդակության կամ այլ նյութերի կամ տվյալների տարածումից առաջացած հետևանքների համար, որոնք խախտում են երրորդ անձանց իրավունքները։</p>
</ul>

<p>Ոչ մի դեպքում Ռեսուրսը չի կրում պատասխանատվություն օգտվողի կամ երրորդ կողմի նկատմամբ ռեսուրսի օգտագործման, օգտագործման անհնարինության կամ ռիսկերից առաջացած վնասների, կորուստների կամ ծախսերի համար՝ ներառյալ չկատարված շահույթները։</p>

<p>Ռեսուրսի Ադմինիստրացիան պարտավոր չէ երաշխավորել իր օգտվողների կողմից տրամադրված տեղեկությունների գաղտնիությունը, բայց կիրառում է անհրաժեշտ ողջ չափորոշիչ միջոցառումները, եթե առանձին պայմանավորվածություն չկա կամ գործող օրենքներով այլ բան չի պահանջվում։</p>

<p>Ռեսուրսի պարտականությունները չեն ներառում փոխանցված տեղեկությունների (ներառյալ՝ BitTorrent-ի միջոցով օգտագործողների միջև փոխանցվող, ներքին հաղորդագրություններ, տեքստեր կամ ֆայլեր) օրինականության վերահսկումը, ինչպես նաև մտավոր սեփականության իրավունքների կամ նման տեղեկությունների փոխանցումն ու ստացումը ճանաչելը։</p>

<li><h3>ՕԳՏԱԳՈՐԾՈՂԻ ՌԵՍՈՒՐՍԻ ՕԳՏԱՆՈՒՄԻ ՍԱՀՄԱՆՈՒՄՆԵՐ</h3>

<p>When using this Resource, the User shall not, and agrees not to:</p>
<ul>
<p>- upload hash files (torrents) containing data with viruses or other malicious software, files or programs designed to disrupt, destroy, or limit the functionality of any computer or telecommunications equipment, programs for unauthorized access, serial numbers for commercial software or tools for generating them, logins, passwords, or other means of gaining unauthorized access to internet resources, as well as post links to the above;</p>
<p>- upload hash files (torrents) containing any messages, data, or programs whose use infringes any patent, trademark, trade secret, copyright, or other proprietary rights and/or related rights of third parties;</p>
<p>- send unauthorized advertising messages (junk mail, spam) to email addresses listed on the site;</p>
<p>- copy and use for commercial purposes any information obtained through the Resource that violates the rights of others or could cause them direct material or moral harm;</p>
<p>- post links to web resources whose content violates applicable legislation;</p>
<p>- ներկայացնել կամակատար հանդիսանալ իբրև որևէ անձ կամ կազմակերպության, համայնքի ներկայացուցիչ առանց համապատասխան լիազորությունների, ներառյալ Ադմինիստրացիայի աշխատակիցները կամ Ռեսուրսի սեփականատերը։</p>
</ul>

<li><h3>ԳԱՐԱՆՏԻԱՅԻ ԲԱՑԱՌՈՒԹՅՈՒՆՆԵՐ</h3>

<p>Ռեսուրսին մուտքը տրամադրվում է՝ «ինչպես կա» սկզբունքով՝ առանց որևէ տեսակի բացարձակ կամ կոշտ երաշխիքների։</p>

<p>Նախշատակի, ռեսուրսի Ադմինիստրացիան չի երաշխավորում կայքի գործունեությունն ամբողջությամբ կամ առանձին բաժինների աշխատանքի հավաստիությունն ու հուսալիությունը, ինչպես նաև օգտվողների տեղադրած հղումների գործողությունը։</p>

<p>Ռեսուրսը պատասխանատվություն չի կրում ուղղակի կամ անուղղակի վնասների համար, որոնք առաջացել են ռեսուրսի օգտագործումից կամ անօգուտության հետևանքով, կամ չարտոնված մուտքից Ձեր հաղորդակցություններում։</p>

<li><h3>ԻՐԱՎՈՒՆՔՆԵՐ ՌԵՍՈՒՐՍԻ ԱԴՄԻՆԻՍՏՐԱՑԻԱՅԻ</h3>

<p>Ռեսուրսի Ադմինիստրացիան իրավունք ունի առանց բացատրության կամ նախնական ծանուցման մուտքն արգելելու ցանկացած օգտվողի կամ օգտվողների խմբի համար։</p>

<p>Ռեսուրսի Ադմինիստրացիան իրավունք ունի փոփոխել կամ ջնջել ցանկացած տեղեկատվություն, հաշ ֆայլեր (torrents), գրաֆիկական, աուդիո և այլ տվյալներ, որոնք օգտվողները տեղադրել են, առանց նախնական ծանուցման կամ բացատրության։</p>

<li><h3>ԿՈՂՄԵՐԻ ՊԱՏԱՍԽԱՆԱՏՎՈՒԹՅՈՒՆԸ</h3>

<p>Օգտվողը համաձայնում է, որ այս Համաձայնագրից ծագող բոլոր վեճերը կլուծվեն գործող օրենսդրության համաձայն։</p>

<p>Օգտվողը նաև ընդունում է, որ սպառողի պաշտպանության օրենքներն ու կանոնակարգերը չեն տարածվում այս ռեսուրսի օգտագործման վրա, քանի որ այն վճարովի ծառայություններ չի մատուցում։</p>

<p>Ռեսուրսն իրականացնում է ոչ գործակալություն, ոչ գործընկերություն, ոչ համատեղ ձեռնարկություն, ոչ աշխատանքի կամ որևէ այլ հարաբերություններ, որոնք ստիպված չեն լինում սահմանված այս համաձայնագրով։</p>

<p>Ռեսուրսի անգործությունը՝ խախտում իրականացնող օգտվողի կամ օգտվողների խմբի հանդեպ, չի նշանակում այդ գործողությունների ընդունում կամ աջակցություն։</p>

<p>Ռեսուրսի անգործությունը այդ խախտումներին պատասխանելու հարցում չի խլում նրա իրավունքները հետագայում համապատասխան միջոցներ ձեռնարկելու օգտին սեփական շահերի պաշտպանության համար։</p>

<li><h3>ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆԱԳՐԻ ԸՆԴՈՒՆՈՒՄ</h3>

<p>ԵԹԵ ԴՈՒՔ ՉԵՔ ՀԱՄԱՁԱՅՆՈՒՄ ՎԵՐՈՐԴ ՊԱՅՄԱՆՆԵՐԻ ՀԱՄԱՐ, ԴՈՒՔ ՉԿԱՐՈՂ ԵՔ ՆՎԱՂԵԼ ՌԵՍՈՒՐՍԻՆ ՄԱՄՈՒԼՈՎ՝ ԲՈԼՈՐ ՀԱՄԱՐ ԿԱՄ ՆՐԱ ՄԱՍԱՎՈՐԻՆ, ԲԱՑԻ ՀԱՄԱՁԱՅՆԱԳՐԻ ԷՋԻՆ, ԵՎ ՀԱՆԴԵՒԸ ՎԵՐՈՐԴ ՌԵՍՈՒՐՍԻ ԲՈՎԱՆԴԱԿՈՒԹՅՈՒՆԸ ՀԱՍՆԵԼՈՒ ԿԱՄ ՄՈՒՏՔ ԳՈՐԾԵԼՈՒ ԱՅԼ ՄԻՋՈՑՆԵՐՈՎ ՈՐՊԵՍ ԲՈԼՈՐՈւԹՅՈՒՆ ԿԱՄ ԻՐ ՄԱՍԵՐԻ։</p>

<p>ԵԹԵ ՉԵՔ ՀԱՄԱՁԱՅՆՈՒՄ ԱՅՍ ՕԳՏԱԳՈՐԾՈՂԻ ՀԱՄԱՁԱՅՆԱԳՐԻ ՀԵՏ, ՊԵՏՔ Է ԱՆՀԱՊԱՂ ԼՔԵՔ ՌԵՍՈՒՐՍԸ։</p>

</ol>
</p>

</div>
