<div>
	<h3>Sānjosla 2</h3>
	Lai pievienotu saturu šai sānjoslai, rediģējiet šādus failus:
	<br /><br />
	<ul class="med">
		<li>bibliotēka/valoda/*/html/sānjoslas2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Lai atspējotu šo sānjoslu, iestatiet mainīgo page.show_sidebar2 failā config.php uz false.
</div>
