<div id="infobox-body">

<p>

<p><h1>LIETOTĀJA VIENOŠANĀS</h1></p>

<p><h3>PAR VIETNI</h3></p>

<p>Šis interneta resurss/mājaslapa (turpmāk - "Resurss") ir vietne, kas ļauj lietotājiem savstarpēji apmainīties ar informāciju, izmantojot BitTorrent vai citos veidos, un nodrošina līdzekļus pārraides informācijas integritātes pārbaudei (izmantojot hash failus).</p>

<ol>

<li type="1"><h3>PAR ŠO LIETOTĀJA VIENOŠANU</h3>

<p>Šī Lietotāja vienošanās (turpmāk - "Vienošanās") stājas spēkā, noklikšķinot uz "Piekrītu" lapas apakšā, un paliek spēkā visas lietotāja Resursa izmantošanas laikā. Vienošanos var mainīt Administrācija bez iepriekšēja brīdinājuma. Jaunā Vienošanas versija stājas spēkā 3 (trīs) dienas pēc tās publicēšanas, ja vien jaunajā Vienošanas versijā nav norādīts citādi.</p>

<li><h3>ATBILDĪBAS IEROBEŽOJUMI</h3>

<p>Lietotājs skaidri piekrīt izmantot Resursu uz savu risku.</p>

<p>Lietotājs apzinās un piekrīt, ka Resurss darbojas ar trešo personu izveidotiem materiāliem un datiem, kas tiek izvietoti internetā uz viņu datoriem un/vai serveriem. Šo materiālu saturu un drošību Resursu Administrācija nevar kontrolēt; tāpēc Administrācija nav atbildīga:</p>
<ul>
<p>- par materiālu saturu, ko Lietotājs iegūst, izmantojot Resursu, tostarp iespējamo neatbilstību spēkā esošajiem likumiem vai šo materiālu aizskarošo raksturu;</p>
<p>- par sekām, kas rodas, piemērojot, izmantojot vai neizmantojot saņemto informāciju;</p>
<p>- par jebkādām atšķirībām starp Resursā iegūtajiem rezultātiem un Lietotāja gaidām;</p>
<p>- par jebkādu kaitējumu Lietotāja aparatūrai vai programmatūrai, kas radušies Resursa izmantošanas dēļ;</p>
<p>- par jebkādu Resursa neizmantojamību jebkādu iemeslu dēļ;</p>
<p>- par sekām, kas var rasties nelikumīgas vai nelicencētas programmatūras, audio/video satura vai citu materiālu vai datu, kas pārkāpj trešo personu tiesības, izplatīšanas rezultātā.</p>
</ul>

<p>Neatkarīgi no apstākļiem Resurss nav atbildīgs Lietotājam vai trešajām personām par jebkādiem zaudējumiem, izmaksām vai izdevumiem, kas radušies saistībā ar Resursa izmantošanu, neizmantošanu vai nespēju to izmantot, ieskaitot zaudēto peļņu.</p>

<p>Resursu Administrācijai nav pienākuma nodrošināt lietotāju sniegtās informācijas konfidencialitāti, taču tā veic visus pamatotus pasākumus šo konfidencialitātes nodrošināšanai, ja vien nav spēkā atšķirīga vienošanās vai likumdošana to neparedz citādi.</p>

<p>Resursa pienākumos neietilpst pārraudzība par pārraidītās informācijas likumību (tostarp, bet ne tikai, informāciju, kas tiek nodota starp lietotājiem caur BitTorrent, iekšējām ziņām jebkurā formā, tekstus vai failus), kā arī intelektuālā īpašuma tiesību vai informācijas nodošanas un saņemšanas likumības noteikšana.</p>

<li><h3>LIETOTĀJA IZMANTOJUMA IEROBEŽOJUMI RESURSAM</h3>

<p>Izmantojot šo Resursu, Lietotājs nedrīkst un apņemas nedarīt sekojošo:</p>
<ul>
<p>- augšupielādēt hash failus (torrentus), kas satur vīrusus vai cita veida kaitīgu programmatūru, failus vai programmas, kuru mērķis ir traucēt, iznīcināt vai ierobežot jebkuras datora vai telekomunikāciju ierīces darbību, programmas nesankcionētai piekļuvei, komerciālu programmatūras produktu sērijas numurus vai to ģeneratorus, lietotājvārdus, paroles vai citus veidus, kā iegūt nesankcionētu piekļuvi interneta resursiem, kā arī publicēt saites uz minēto;</p>
<p>- augšupielādēt hash failus (torrentus), kas satur jebkādus ziņojumus, datus vai programmas, kuru izmantošana pārkāpj jebkādas patentu, preču zīmju, komercnoslēpumu, autortiesību vai citas trešo personu īpašuma tiesības un ar tām saistītās tiesības;</p>
<p>- sūtīt nesankcionētus reklāmas ziņojumus (mēstules, spamu) uz vietnē norādītajām e-pasta adresēm;</p>
<p>- kopēt un izmantot komerciālos nolūkos jebkādu ar Resursu iegūtu informāciju, kas pārkāpj citu tiesības vai var radīt tiem tiešu materiālu vai morālu kaitējumu;</p>
<p>- ievietot saites uz tīmekļa resursiem, kuru saturs pārkāpj spēkā esošo likumdošanu;</p>
<p>- uzdoties par jebkuru personu vai organizācijas vai kopienas pārstāvi bez atbilstošas pilnvaras, tajā skaitā Administrācijas darbiniekiem vai Resursa īpašniekam.</p>
</ul>

<li><h3>ATBRĪVOŠANA NO GARANTIJĀM</h3>

<p>Piekļuve Resursam tiek nodrošināta "kā ir", bez jebkādām garantijām, nevienu izteiktu vai implicētu.</p>

<p>Jo īpaši Resursa Administrācija negarantē vietnes vai tās atsevišķu sadaļu funkcionēšanu, kā arī neuzņemas atbildību par lietotāju ievietoto saišu darbspēju un uzticamību.</p>

<p>Resurss nav atbildīgs par jebkādiem tiešiem vai netiešiem zaudējumiem, kas radušies no pakalpojuma izmantošanas vai nespējas to izmantot, vai nesankcionētas piekļuves jūsu komunikācijām.</p>

<li><h3>RESURSU ADMINISTRĀCIJAS TIESĪBAS</h3>

<p>Resursu Administrācijai ir tiesības liegt piekļuvi Resursam jebkuram Lietotājam vai Lietotāju grupai bez paskaidrojumiem un iepriekšēja brīdinājuma.</p>

<p>Resursu Administrācija var modificēt vai dzēst jebkādu lietotāju iesniegtu informāciju, hash failus (torrentus), grafiku, audio un citus datus bez iepriekšēja brīdinājuma vai paskaidrojuma.</p>

<li><h3>PUŠU ATBILDĪBAS</h3>

<p>Lietotājs piekrīt, ka visi strīdi, kas izriet no šīs Vienošanās, tiks risināti saskaņā ar piemērojamo likumdošanu.</p>

<p>Lietotājs piekrīt, ka patērētāju aizsardzības likumi un normatīvi neattiecas uz šī Resursa izmantošanu, jo tas nesniedz maksas pakalpojumus.</p>

<p>Resurss neveido aģentūras, partnerattiecības, kopuzņēmuma, darba ņēmēja vai citas attiecības, kas nav tieši aprakstītas šajā Vienošanā.</p>

<p>Resursa bezdarbība saistībā ar Lietotāja vai Lietotāju grupas šīs Vienošanās pārkāpumu neuzskatāma par atļauju vai palīdzību šādām darbībām.</p>

<p>Resursa bezdarbība saistībā ar Lietotāja vai Lietotāju grupas šīs Vienošanās pārkāpumu neattur Resursu vēlāk veikt atbilstošus pasākumus savu interešu aizsardzībai.</p>

<li><h3>LIETOTĀJA VIENOŠANAS PIEŅEMŠANA</h3>

<p>JA JŪS NEPIEKRĪTAT VISIEM IEPRIEKŠ MINĒTIEM NOSACĪJUMIEM UN NOTEIKUMIEM, JUMS NAV TIESĪBU PĀRRAKTIES ŠIM RESURSAM VAI TĀ DAĻAI, IESKATOT LAPU AR LIETOTĀJA VIENOŠANU, SAŅEMT VAI PIEKĻŪT ŠĪ RESURSA SATURAM AR CITIEM VEIDIEM KĀ KOPUMĀ VAI DAĻĀS.</p>

<p>JA JŪS NEPIEKRĪTAT ŠAI LIETOTĀJA VIENOŠANAI, JUMS JĀATSTĀJ RESURSS NEKAVĒJOTIES.</p>

</ol>
</p>

</div>
