<div id="infobox-body">

<p>

<p><h1>LIETOTĀJA VIENOŠANĀS</h1></p>

<p><h3>PAR VIETNI</h3></p>

<p>Interneta resurss / vietne (turpmāk - Resurss) ir interneta vietne, kas ļauj lietotājiem dalīties ar informāciju savā starpā, izmantojot bit-torrent, kā arī brīvā veidā, un nodrošina līdzekļus nosūtītās informācijas integritātes uzraudzībai (izmantojot hash-failus).</p>

<ol>

<li type="1"><h3>PAR LIETOTĀJA VIENOŠANU</h3>

<p>Šī LIETOTĀJA VIENOŠANĀS stājas spēkā pēc noklikšķināšanas uz "Piekrītu" apakšā un darbojas visu resursa lietotāju lietošanas laiku. LIETOTĀJA VIENOŠANAS var mainīt administrācija bez iepriekšēja brīdinājuma. Jaunā LIETOTĀJA VIENOŠANAS versija stājas spēkā pēc 3 (trīs) dienām no tās publicēšanas datuma, ja nav noteikts citādi jaunajā versijā.</p>

<li><h3>ATBILDĪBAS IEROBEŽOJUMI</h3>

<p>Lietotājs skaidri piekrīt, ka izmanto Resursu uz savu atbildību.</p>

<p>Lietotājs zina un piekrīt, ka nodarbojas ar trešo pušu izveidotajiem Resursu materiāliem un datiem un ievieto tos internetā savos datoros un (vai) serveros. Satura un šo materiālu drošumu nevar kontrolēt Resursa administrācija, tāpēc tā nav atbildīga:</p>
<ul>
<p>- par materiālu saturu, ko Lietotājs iegūst, izmantojot Resursu, un to iespējamu neatbilstību spēkā esošajiem likumiem vai aizskarošu saturu;</p>
<p>- par sekām, kas radušās, piemērojot, lietojot vai nelietojot saņemto informāciju;</p>
<p>- par iespējamām atšķirībām starp rezultātiem, kas iegūti, izmantojot Resursu, un Lietotāja gaidām;</p>
<p>- par jebkādu kaitējumu aparatūrai vai programmatūrai, ko Lietotājs guvis, izmantojot Resursu;</p>
<p>- par nespēju izmantot Resursu jebkādu iemeslu dēļ;</p>
<p>- par sekām, kas var rasties, izplatot nelikumīgu vai nelicencētu programmatūru un audio/video produktus, kā arī citus materiālus vai datus, kas ietekmē trešo personu tiesības.</p>
</ul>

<p>Neatkarīgi no apstākļiem Resurss nav atbildīgs pret Lietotāju vai trešo personu par zaudējumiem, izmaksām vai kaitējumu, kas radušies saistībā ar šo Resursu, tā izmantošanu vai nespēju to izmantot, ieskaitot zaudējumus vai peļņas zudumu.</p>

<p>Resursa administrācija nav pienākuma nodrošināt konfidencialitāti informācijai, ko sniedz lietotāji, vienlaikus veicot visus iespējamos pasākumus, ja nav noslēgts citādi vai ja nav paredzēts spēkā esošajos likumos.</p>

<p>Resursa pienākumos neietilpst likumīgi vai nelikumīgi pārraidītās informācijas kontrole (tai skaitā, bet ne tikai, informācija, ko lietotāji apmainās ar bit-torrent, iekšējie pārsūtījumi saistītos tekstu vai failus), īpašuma tiesību noteikšana vai pārraides un saņemšanas likumības vērtēšana, izmantojot šo informāciju.</p>

<li><h3>LIETOTĀJA RESURSU IZMANTOŠANAS IEROBEŽOJUMI</h3>

<p>Izmantojot šo Resursu, LIETOTĀJAM nav tiesību un viņš piekrīt šādām prasībām:</p>
<ul>
<p>- ievietot hash-failus (torrentus), kas satur vīrusus vai citas ļaunprogrammatūras, failus vai programmas, kas paredzētas kādas datora vai telekomunikāciju iekārtas nolūkošanai, iznīcināšanai vai funkcionalitātes ierobežošanai, programmas nesankcionētai piekļuvei, kā arī komerciālas programmatūras sērijas numurus un to ģenerēšanas programmas, lietotājvārdus, paroles un citus līdzekļus nesankcionētai piekļuvei interneta vietnēm, kā arī ievietot saites uz šādu informāciju;</p>
<p>- ievietot hash-failus (torrentus) jebkādus ziņojumus, datus vai programmas, kuru izmantošana pārkāpj jebkādas patentu, preču zīmju, komercnoslēpumu, autortiesību vai citas īpašumtiesības un/vai trešo personu autortiesības un blakustiesības;</p>
<p>- sūtīt uz vietnē norādītajām e-pasta adresēm neatļautus reklāmas pasta ziņojumus (piemēram, nevēlamu pastu, spamu);</p>
<p>- kopēt un izmantot komerciālos nolūkos jebkādu informāciju, kas iegūta, izmantojot šo Resursu, pārkāpjot citu tiesības vai radot tiem tiešu materiālu vai morālu kaitējumu;</p>
<p>- ievietot saites uz tīmekļa resursiem, kuru saturs ir pretrunā ar spēkā esošo likumdošanu;</p>
<p>- uzdoties par jebkuru personu vai organizācijas vai kopienas pārstāvi bez pienācīgām tiesībām, tostarp par administrācijas darbinieku vai resursa īpašnieku.</p>
</ul>

<li><h3>DARBĪBAS GARANTIJAS</h3>

<p>Piekļuve Resursam tiek nodrošināta "kā ir", bez jebkādām tiešām vai netiešām garantijām.</p>

<p>Jo īpaši Resursa administrācija negarantē vietnes un tās atsevišķo sadaļu funkcionalitāti, kā arī lietotāju ievietoto saišu darbību un uzticamību.</p>

<p>Resurss nav atbildīgs par tiešiem vai netiešiem zaudējumiem, kas radušies saistībā ar pakalpojuma izmantošanu vai nespēju to izmantot, kā arī nesankcionētu piekļuvi jūsu komunikācijām.</p>

<li><h3>RESURSA ADMINISTRĀCIJAS TIESĪBAS</h3>

<p>Resursa administrācija ir tiesīga liegt piekļuvi resursam jebkuram lietotājam vai lietotāju grupai bez paskaidrojumiem un brīdinājuma.</p>

<p>Resursa administrācija var mainīt vai dzēst jebkādu informāciju, hash-failus (torrentus), grafiku, audio vai citus datus, ko Lietotājs iesniedz no resursa, bez brīdinājuma un paskaidrojumiem.</p>

<li><h3>PUŠU PIENĀKUMI</h3>

<p>Lietotājs piekrīt, ka visi iespējamie strīdi, kas saistīti ar LIETOŠANAS NOLĪGUMU, tiks risināti saskaņā ar likuma normām.</p>

<p>Lietotājs piekrīt, ka patērētāju tiesību aizsardzības noteikumi un likumi nevar tikt piemēroti šī Resursa izmantošanai, jo nav sniegts nekādi apmaksāti pakalpojumi.</p>

<p>Resurss nenosaka lietotāja aģenta attiecības, partnerattiecības, kopīgu darbību, apgūšanas attiecības vai citas attiecības, kas nav skaidri aprakstītas LIETOŠANAS NOLĪGUMĀ.</p>

<p>Resursa neiejaukšanās Lietotāja vai lietotāju grupas LIETOTĀJA VIENOŠANAS pārkāpumā nenozīmē, ka Resurss atbalsta šādu rīcību.</p>

<p>Resursa neiejaukšanās Lietotāja vai lietotāju grupas LIETOTĀJA VIENOŠANAS pārkāpumā nenozīmē, ka Resursam nav tiesību vēlāk veikt piemērotus pasākumus, lai aizsargātu savas intereses.</p>

<li><h3>LIETOTĀJA VIENOŠANAS PIEŅEMŠANA</h3>

<p>JA JŪS NEPIEKRĪTAT VISIEM IEPRIEKŠ MINĒTIEM NOSACĪJUMIEM UN NOTEIKUMIEM, JUMS NAV TIESĪBU PĀRRAKTIES ŠIM RESURSAM VAI TĀ DAĻAI, IESKATOT LAPU AR LIETOTĀJA VIENOŠANU, SAŅEMT VAI PIEKĻŪT ŠĪ RESURSA SATURAM AR CITIEM VEIDIEM KĀ KOPUMĀ VAI DAĻĀS!</p>

<p>JA JŪS NEPIEKRĪTAT LIETOTĀJA VIENOŠANAI, JUMS JĀATSTĀJ RESURSS NEATLIEKAMI.</p>

</ol>
</p>

</div><!--/infobox-body-->
