<div id="infobox-body">

<p><h1>ИНФОРМАЦИЯ ЗА ПРИТЕЖАТЕЛИТЕ НА ПРАВА</h1></p>

<p>Ако сте притежател на авторски права на материал, свързан с този сайт, и не желаете тази информация да бъде разпространявана от потребителите без вашето съгласие, с радост ще ви помогнем, като премахнем съответните връзки.</p>

<p>За целта, моля изпратете ни електронно писмо, съдържащо следната информация:</p>

<p>1. Документално доказателство за вашите права върху материал, защитен с авторско право:</p>
<p> — сканиран документ с официален печат, или</p>
<p> — имейл, изпратен от официалния домейн на компанията, притежаваща правата, или</p>
<p> — друга информация за контакт, която да позволява еднозначно идентифициране на вас като притежател на правата.</p>

<p>2. Текстът за заместване, който желаете да бъде публикуван на мястото на премахнатото съдържание.</p>

<p>В този текст можете да посочите къде и при какви условия потребителите могат да получат информацията, чиито връзки са премахнати, както и вашите контактни данни, за да могат потребителите да се свържат с вас относно този материал.</p>

<p>3. Директни връзки към страници, съдържащи препратки към данните, които трябва да бъдат премахнати.</p>

<p>Връзките трябва да са във формат <strong>https://url.to/link</strong> или подобен.</p>

<p>В рамките на 48 часа след получаване на вашето искане ще премахнем съответните връзки от сайта.</p>

<p class="bold">Нашият имейл: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>Предупреждение!</p>

<p>a) Запазваме правото да публикуваме на сайта всяка информация, изпратена до нас на <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Нямаме контрол върху действията на потребителите, които могат да публикуват повторно връзки към информация, която е обект на вашето авторско право. Всяка информация във форума се публикува автоматично, без предварителен преглед или модерация, съгласно общоприетите международни практики за хостинг на информация в интернет. Въпреки това, ние ще разглеждаме всички искания относно връзки към информация, която нарушава вашите права.</p>

<p>c) Според приложимите закони за авторското право и сродните му права, хипервръзка към данни (информационна препратка) сама по себе си не е обект на авторска защита (въпреки че може да нарушава Правилата на сайта). Затова моля въздържайте се от изпращане на писма с заплахи или искания, тъй като няма правна основа за такива претенции.</p>

</div>
