<div id=\"infobox-body\">

<p><h1>ИНФОРМАЦИЯ ЗА ПРИТЕЖАТЕЛИТЕ НА ПРАВА</h1></p>

<p>Ако сте притежател на авторски права на материал(и), които са налични на този сайт, и не желаете информацията да бъде разпространявана от потребителите без вашето съгласие, ние ще се радваме да Ви съдействаме, като премахнем съответните връзки.</p>

<p>Това изисква да ни изпратите писмо (в електронна форма)
което да ни посочи следната информация:</p>

<p>1. Документално доказателство за вашите права върху материал, защитен с авторско право:</p>
<p> - сканиран документ с печат, или</p>
<p> - имейл от официален електронен домейн на собственика на компанията, или</p>
<p> - друга информация за контакт, която да позволява еднозначно идентифициране на вас като притежател на материала.</p>

<p>2. Текстът, който искате да поставите, придружен от информация за премахване.</p>

<p>В него можете да посочите къде и при какви условия можете да получите информация относно връзките, които са били отстранени, както и информация за контакти, за да могат потребителите да получат от вас цялата необходима информация по отношение на този материал.</p>

<p>3. Директни връзки към страници, които съдържат препратки към данни, които трябва да бъдат премахнати.</p>

<p>Връзки трябва да имат вид <strong>https://url.to/link</strong> или нещо подобно.</p>

<p>След това в рамките на 48 часа ще изтрием интересуващите ви връзки от сайта.</p>

<p class="bold">Имейл за контакт: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ВНИМАНИЕ!</p>

<p>а) Запазваме правото да публикуваме на сайта всяка информация, изпратена до нас по имейл на <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) Нямаме контрол върху действията на потребителите, които могат да публикуват повторно връзки към информация, която е обект на вашето авторско право. Всякаква информация във форума се поставя автоматично, без какъвто и да било контрол, което съответства на общоприетата международна практика за публикуване на информация в Интернет. Въпреки това, във всеки случай, ние разглеждаме всички ваши запитвания относно позоваването на информация, която нарушава вашите права.</p>

<p>в) Съгласно Закона за авторското право и сродните му права, препратката към каквито и да е данни (информационно съобщение) сама по себе си не е предмет на закона за авторското право (въпреки че може да наруши "Споразумението за използване на уебсайта"). Така че не е необходимо да изпращате писма, съдържащи заплахи или искания, тъй като нямат реална причина.</p>

</div><!--/infobox-body-->
