<div id="infobox-body">

<p>

<p><h1>СПОРАЗУМЕНИЕ С ПОТРЕБИТЕЛЯ</h1></p>

<p><h3>ЗА САЙТА</h3></p>

<p>Този интернет ресурс/уебсайт (наричан по-нататък „Ресурс“) е сайт, който позволява на потребителите да споделят информация помежду си чрез BitTorrent, както и по други начини, и предоставя средство за проверка на целостта на предаваната информация (чрез hash файлове).</p>

<ol>

<li type="1"><h3>ЗА ТОВА ПОТРЕБИТЕЛСКО СПОРАЗУМЕНИЕ</h3>

<p>Това Потребителско споразумение (наричано по-долу „Споразумението“) влиза в сила след натискане на бутон „Съгласен съм“ в долната част и остава в сила за целия период на използване на Ресурса от Потребителя. Споразумението може да бъде променяно от Администрацията без предварително уведомление. Новата версия на Споразумението влиза в сила 3 (три) дни след публикуването ѝ, освен ако в новата версия не е посочено друго.</p>

<li><h3>ОГРАНИЧЕНИЯ НА ОТГОВОРНОСТТА</h3>

<p>Потребителят изрично се съгласява да използва Ресурса на свой собствен риск.</p>

<p>Потребителят признава и се съгласява, че Ресурсът се занимава с материали и данни, създадени от трети страни и хоствани от тях в Интернет чрез техните компютри и/или сървъри. Съдържанието и сигурността на тези материали не могат да бъдат контролирани от Администрацията на Ресурса; поради това Администрацията не носи отговорност:</p>
<ul>
<p>- за съдържанието на материалите, получени от Потребителя чрез Ресурса, включително за тяхното евентуално несъответствие с приложимото законодателство или обиден характер;</p>
<p>- за последиците от прилагането, използването или неупотребата на получената информация;</p>
<p>- за всяко несъответствие между резултатите, получени чрез Ресурса, и очакванията на Потребителя;</p>
<p>- за всякакви повреди на хардуера или софтуера на Потребителя, възникнали от използването на Ресурса;</p>
<p>- за всяка невъзможност за използване на Ресурса по каквато и да е причина;</p>
<p>- за последиците, които могат да произтекат от разпространението на нелегален или нелицензиран софтуер, аудио/видео съдържание или други материали или данни, нарушаващи правата на трети лица.</p>
</ul>

<p>При никакви обстоятелства Ресурсът не носи отговорност пред Потребителя или трети лица за щети, загуби или разходи във връзка с Ресурса, неговото използване или невъзможността за използване, включително пропуснати ползи.</p>

<p>Администрацията на Ресурса няма задължение да гарантира поверителността на информацията, предоставена от нейните Потребители, докато приема всички разумни мерки за това, освен ако не съществува специално споразумение или приложимото законодателство не изисква друго.</p>

<p>Задълженията на Ресурса не включват наблюдение на законността на предаваната информация (включително, но не само, информация, предавана между потребителите чрез BitTorrent, вътрешни съобщения във всякаква форма, текст или файлове), нито определяне на авторските права или легитимността на предаването или получаването на такава информация.</p>

<li><h3>ОГРАНИЧЕНИЯ ПРИ ИЗПОЛЗВАНЕТО НА РЕСУРСА ОТ ПОТРЕБИТЕЛЯ</h3>

<p>При използване на този Ресурс, Потребителят не трябва и се съгласява да не:</p>
<ul>
<p>- качва hash файлове (торенти), съдържащи данни с вируси или друг злонамерен софтуер, файлове или програми, предназначени да нарушат, унищожат или ограничат функционалността на каквото и да е компютърно или телекомуникационно оборудване, програми за неоторизиран достъп, серийни номера за търговски софтуер или инструменти за тяхното генериране, логини, пароли или други средства за получаване на неоторизиран достъп до интернет ресурси, както и да публикува връзки към посоченото;</p>
<p>- качва hash файлове (торенти), съдържащи съобщения, данни или програми, чието използване нарушава патенти, търговски марки, търговска тайна, авторски права или други права на собственост и/или свързани права на трети страни;</p>
<p>- изпраща неоторизирани рекламни съобщения (спам) до имейл адреси, посочени на сайта;</p>
<p>- копира и използва за търговски цели информация, получена чрез Ресурса, която нарушава правата на други лица или би могла да им причини пряка материална или морална вреда;</p>
<p>- публикува връзки към уеб ресурси, чието съдържание нарушава действащото законодателство;</p>
<p>- се представя за друго лице или представител на организация и/или общност без съответно разрешение, включително служители на Администрацията или собственика на Ресурса.</p>
</ul>

<li><h3>ОТКАЗ ОТ ГАРАНЦИИ</h3>

<p>Достъпът до Ресурса се предоставя “както е” без каквито и да е гаранции, изрични или мълчаливи.</p>

<p>По-специално, Администрацията на Ресурса не гарантира функционалността на сайта или неговите отделни секции, нито работоспособността и надеждността на връзките, публикувани от неговите Потребители.</p>

<p>Ресурсът не носи отговорност за никакви преки или косвени загуби, произтичащи от: използването или невъзможността за използване на услугата; или неоторизирания достъп до вашите комуникации.</p>

<li><h3>ПРАВА НА АДМИНИСТРАЦИЯТА НА РЕСУРСА</h3>

<p>Администрацията на Ресурса има право да откаже достъп до Ресурса на всеки Потребител или група от Потребители без обяснения и предварително уведомление.</p>

<p>Администрацията на Ресурса може да модифицира или изтрива всякаква информация, hash файлове (торенти), графики, аудио и други данни, предоставени от Потребителите, без предварително уведомление или обяснение.</p>

<li><h3>ОТГОВОРНОСТИ НА СТРАНИТЕ</h3>

<p>Потребителят се съгласява всички спорове, произтичащи от това Споразумение, да се решават в съответствие с приложимото законодателство.</p>

<p>Потребителят се съгласява, че законите за защита на потребителите и свързаните разпоредби не се прилагат към използването на този Ресурс, тъй като той не предоставя платени услуги.</p>

<p>Ресурсът не установява агенция, партньорство, съвместно предприятие, трудови или други отношения, които не са изрично описани в това Споразумение.</p>

<p>Бездействието на Ресурса при нарушение на това Споразумение от страна на Потребител или група Потребители не означава одобрение или съдействие за такива действия.</p>

<p>Без да се лишава от правото си да предприеме подходящи действия в бъдеще, Ресурсът не се отказва от правата си поради бездействие при нарушение на Споразумението от страна на Потребител или група Потребители.</p>

<li><h3>ПРИЕМАНЕ НА СПОРАЗУМЕНИЕТО С ПОТРЕБИТЕЛЯ</h3>

<p>АКО НЕ СТЕ СЪГЛАСНИ С ВСИЧКИ ПО-ГОРЕ ПОСОЧЕНИ УСЛОВИЯ, НЕ МОЖЕТЕ ДА ДОСТЪПВАТЕ РЕСУРСА ИЗЦЯЛО ИЛИ ЧАСТИЧНО, С ИЗКЛЮЧЕНИЕ НА СТРАНИЦАТА С ПОТРЕБИТЕЛСКОТО СПОРАЗУМЕНИЕ, НИТО ДА ПОЛУЧАВАТЕ И/ИЛИ ДОСТЪПВАТЕ ДО СЪДЪРЖАНИЕТО НА ТОЗИ РЕСУРС ПО НЯКАКЪВ ДРУГ НАЧИН, ИЗЦЯЛО ИЛИ ЧАСТИЧНО.</p>

<p>АКО НЕ СТЕ СЪГЛАСНИ С ТОВА ПОТРЕБИТЕЛСКО СПОРАЗУМЕНИЕ, ТРЯБВА НЕЗАБАВНО ДА НАПУСНЕТЕ РЕСУРСА.</p>

</ol>
</p>

</div>
