<div id="infobox-body">

<p><h1>INLIGTING VIR KOPIEREGHOUERS</h1></p>

<p>As u die kopiereghouer is van enige materiaal wat op hierdie werf gekoppeld is en nie wil hê dat hierdie inligting deur gebruikers sonder u toestemming versprei word nie, sal ons u graag help deur die relevante skakels te verwyder.</p>

<p>Om dit te doen, stuur asseblief vir ons 'n elektroniese brief wat die volgende inligting bevat:</p>

<p>1. Dokumentêre bewys van u regte op die kopieregbeskermde materiaal:</p>
<p> — 'n gescande dokument met 'n amptelike seël, of</p>
<p> — 'n e-pos gestuur van die amptelike domein van die regtehouer-maatskappy, of</p>
<p> — ander kontakbesonderhede wat u uniek identifiseer as die regtehouer.</p>

<p>2. Die vervangingsteks wat u graag in die plek van die verwyderde inhoud gepos wil hê.</p>

<p>In hierdie teks kan u spesifiseer waar en onder watter voorwaardes gebruikers die inligting kan kry waarna die skakels verwyder is, sowel as u kontakbesonderhede sodat gebruikers u rakende hierdie materiaal kan kontak.</p>

<p>3. Regstreekse skakels na bladsye wat verwysings na die data bevat wat verwyder moet word.</p>

<p>Skakels moet in die formaat <strong>https://url.to/link</strong> of soortgelyk wees.</p>

<p>Binne 48 uur nadat ons u versoek ontvang het, sal ons die relevante skakels van die werf verwyder.</p>

<p class="bold">Ons e-pos: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WAARSKUWING!</p>

<p>a) Ons behou die reg voor om op die werf enige inligting te publiseer wat aan ons gestuur word by <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Ons het geen beheer oor die optrede van gebruikers wat moontlik skakels na inligting herplaas wat die onderwerp van u kopiereg is nie. Alle inligting op die forum word outomaties gepos, sonder vooraf hersiening of moderering, in ooreenstemming met algemeen aanvaarde internasionale praktyke vir hosting van inligting op die internet. Nietemin sal ons alle versoeke rakende skakels na inligting wat u regte skend, oorweeg.</p>

<p>c) Kragtens toepaslike kopiereg- en verwante regte wetgewing is 'n hiperskakel na data ("n inligtingsverwysing) op sigself nie onderhewig aan kopieregbeskerming nie (al kan dit wel die gebruikersooreenkoms van die werf oortree). Vermy asseblief om briewe te stuur wat dreigemente of eise bevat, aangesien daar geen wettige gronde vir sulke aansprake is nie.</p>

</div>
