<div id=\"infobox-body\">

<p><h1>INLIGTING VIR KOPIEREGHOUERS</h1></p>

<p>As u die kopiereg het op enige materiaalskakel (of skakels) wat op hierdie webwerf beskikbaar is, en nie wil hê dat gebruikers hierdie inligting sonder u toestemming moet versprei nie, sal ons graag help deur die toepaslike skakels te verwyder.</p>

<p>Dit vereis dat u vir ons 'n brief (in elektroniese vorm) gestuur het
wat ons die volgende inligting aangedui het:</p>

<p>1. Dokumentêre bewys van u regte op materiaal wat deur kopiereg beskerm word:</p>
<p> - geskandeerde dokument met die seël, of</p>
<p> - e-pos van 'n amptelike e-posdomein van die eienaar van die maatskappy, of</p>
<p> - ander kontakbesonderhede wat u as eienaar van die materiaal uniek identifiseer.</p>

<p>2. Die teks wat u wil plaas, vergesel van verwyderbare inligting.</p>

<p>Hierin kan u spesifiseer waar en onder watter voorwaardes u inligting kan bekom, na watter verwysings verwyder is, sowel as u kontakbesonderhede, sodat gebruikers alle nodige inligting oor hierdie materiaal van u kan kry.</p>

<p>3. Direkte skakels na bladsye wat verwysings na data bevat wat verwyder moet word.</p>

<p>Skakels moet vertoon word as <strong>https://url.to/link</strong> of iets dergeliks.</p>

<p>Daarna sal ons binne 48 uur die vir u interessante skakels van die webwerf verwyder.</p>

<p class="bold">Ons e-pos: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WAARSKUWING!</p>

<p>a) Ons behou die reg voor om enige inligting wat per e-pos aan ons gestuur word, te publiseer <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Ons het geen beheer oor die optrede van gebruikers wat dalk skakels na inligting, wat die onderwerp van u kopiereg is, weer kan plaas nie. Enige inligting wat die forum outomaties plaas, sonder enige beheer van enige party, wat ooreenstem met die algemeen aanvaarde internasionale praktyk om inligting op die internet te plaas. Ons oorweeg egter in elk geval al u navrae rakende die verwysing na die inligting wat u regte skend.</p>

<p>c) Volgens die Wet op Kopiereg en Verwante Regte is 'n verwysing na enige data (inligtingsboodskap) op sigself nie onderhewig aan kopieregwetgewing nie (alhoewel dit die "Ooreenkoms oor die gebruik van die webwerf" kan oortree). Dit is dus nie nodig om briewe te stuur wat dreigemente of eise bevat nie, aangesien dit nie 'n werklike grondslag het nie.</p>

</div><!--/infobox-body-->
