<div>
	<h3>Sybalk 2</h3>
	Om inhoud in hierdie sybalk by te voeg, verander die volgende lêers:
	<br /><br />
	<ul class="med">
		<li>biblioteek/taal/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Om hierdie sybalk uit te skakel, stel die veranderlike page.show_sidebar2 in die lêer config.php op false.
</div>
