<div id=\"infobox-body\">

<p>

<p><h1>GEBRUIKERSOOREENKOMS</h1></p>

<p><h3>OOR DIE TERREIN</h3></p>

<p>Internet - hulpbron / webtuiste (hierna - Hulpbron) is 'n internetwerf wat gebruikers toelaat om inligting met mekaar te deel via bit-torrent, sowel as in vrye vorm, en bied 'n manier om die integriteit van oorgedragen inligting te monitor (via hash-lêers).</p>

<ol>

<li type="1"><h3>OOR GEBRUIKERSOOREENKOMS</h3>

<p>Hierdie GEBRUIKERSOOREENKOMS tree in werking nadat u onderaan op "Ek stem in" klik en bly geldig tydens die volledige gebruik van die hulpbron deur gebruikers. GEBRUIKERSOOREENKOMS kan deur die Administrasie verander word sonder enige kennisgewing. Die nuwe weergawe van die GEBRUIKERSOOREENKOMS tree in werking 3 (drie) dae vanaf die datum van publikasie, tensy anders bepaal in die nuwe weergawe van die GEBRUIKERSOOREENKOMS.</p>

<li><h3>BEPERKINGS VAN AANSPREEKLIKHEID</h3>

<p>Die gebruiker stem uitdruklik in om die hulpbron op eie risiko te gebruik.</p>

<p>Gebruiker weet en stem in dat dit handel oor hulpbronmateriaal en data wat deur derde partye geskep is en dit op die internet op hul rekenaars en (of) bedieners geplaas het. Die inhoud en sekuriteit van hierdie materiaal kan nie deur die hulpbron-administrasie beheer word nie, dus is laasgenoemde nie aanspreeklik nie:</p>
<ul>
<p>- vir die inhoud van materiaal wat deur die gebruiker van die hulpbron verkry is en vir enige moontlike nie-ooreenstemming met toepaslike wette of aanstootlikheid;</p>
<p>- vir die gevolge van toepassing, gebruik of nie-gebruik van die ontvangde inligting;</p>
<p>- vir enige moontlike verskil tussen die resultate wat deur die gebruiker behaal word en sy verwagtinge;</p>
<p>- vir enige skade aan hardeware of sagteware van die gebruiker wat voortspruit uit die gebruik van die hulpbron;</p>
<p>- vir onmoontlikheid om die hulpbron om enige rede te gebruik;</p>
<p>- vir die gevolge wat mag voortspruit uit die verspreiding van onwettige of ongelisensieerde sagteware, klank-/video-produkte en ander materiale of data wat die regte van derde partye beïnvloed.</p>
</ul>

<p>Onder geen omstandighede is die hulpbron aanspreeklik teenoor die gebruiker of enige derde party vir skade, verliese of uitgawes wat in verband met hierdie hulpbron, sy gebruik of onmoontlikheid van gebruik ontstaan nie, insluitend verlies van winste.</p>

<p>Die hulpbron-administrasie is nie verplig om die vertroulikheid van inligting wat deur gebruikers verskaf word te waarborg nie, alhoewel alle moontlike maatreëls daartoe geneem word, tensy daar 'n teenooreenkoms of relevante verpligtinge volgens geldende wetgewing is.</p>

<p>Die pligte van die hulpbron sluit nie die beheer in oor wettige of onwettige oordragte van inligting nie (insluitend, maar nie beperk tot, inligting oorgedra tussen gebruikers via bit-torrent, interne oordragte van inligting in diverse skakels, teks of lêers), die bepaling van eiendomsregte of wettigheid van sodanige oordrag of ontvangs van inligting.</p>

<li><h3>BEPERKINGS OP HULPBRONGEBRUIK DEUR GEBRUIKER</h3>

<p>Wanneer die gebruiker hierdie hulpbron gebruik, het hy geen reg om die volgende dinge te doen nie en stem hy hiermee in:</p>
<ul>
<p>- plaas hash-lêers (torrents) wat virusse of ander kwaadwillige rekenaarprogramme bevat wat ontwerp is om die funksionaliteit van rekenaar- of telekommunikasietoerusting te onderbreek, te vernietig of te beperk; programme vir ongemagtigde toegang; reeksnommers vir kommersiële sagteware en programme om dit te genereer; gebruikersname, wagwoorde en ander middele om ongemagtigde toegang tot webwerwe te verkry; asook skakels na bogenoemde inligting;</p>
<p>- plaas hash-lêers (torrents) met boodskappe, data of programme wat enige patent, handelsmerk, handelsgeheim, kopiereg of ander eiendomsregte van derde partye oortree;</p>
<p>- stuur ongemagtigde kommersiële e-posadvertensies (spam) na e-posadresse wat op die terrein gelys is;</p>
<p>- kopieer en gebruik enige inligting verkry via die hulpbron vir kommersiële doeleindes indien dit die regte van ander oortree of direk of indirek skade kan berokken;</p>
<p>- plaas skakels na webbronne waarvan die inhoud teenstrydig is met geldende wetgewing;</p>
<p>- voordoen as enige persoon of verteenwoordiger van 'n organisasie of gemeenskap sonder voldoende regte, insluitend werknemers van die administrasie of die eienaar van die hulpbron.</p>
</ul>

<li><h3>PRESTASIEGARANTIE</h3>

<p>Toegang tot die hulpbron word verskaf "soos dit is" sonder enige waarborge, hetsy direk of indirek.</p>

<p>Die hulpbron-administrasie waarborg nie die funksionaliteit van die webwerf of sy afdelings, of die prestasie en betroubaarheid van skakels deur gebruikers geplaas nie.</p>

<p>Die hulpbron is nie verantwoordelik vir direkte of indirekte verliese as gevolg van gebruik of onmoontlikheid om die diens te gebruik nie; of ongemagtigde toegang tot u kommunikasie.</p>

<li><h3>REGTE VAN HULPBRONADMINISTRASIE</h3>

<p>Die hulpbron-administrasie het die reg om enige gebruiker of groep gebruikers toegang tot die hulpbron te ontken sonder verduideliking of kennisgewing.</p>

<p>Die hulpbron-administrasie mag enige inligting, hash-lêers (torrents), grafika, klank en ander data wat deur gebruikers aan die hulpbron voorsien is, wysig of verwyder sonder kennisgewing of verduideliking.</p>

<li><h3>VERANTWOORDELIKHEDE VAN DIE PARTYE</h3>

<p>Die gebruiker stem in dat alle geskille met betrekking tot die GEBRUIKERSOOREENKOMS volgens die toepaslike wetgewing opgelos sal word.</p>

<p>Die gebruiker stem in dat verbruikersbeskermingswette nie op die gebruik van hierdie hulpbron van toepassing is nie, aangesien daar geen betaalde dienste is nie.</p>

<p>Die hulpbron stel nie verteenwoordigerskap, vennootskapsverhoudings oor gesamentlike aktiwiteite, werwingsverhoudings, of enige ander verhoudings nie wat nie uitdruklik in die GEBRUIKERSOOREENKOMS beskryf word nie.</p>

<p>Die nalatigheid van die hulpbron om op ’n oortreding deur ’n gebruiker of groep gebruikers van die GEBRUIKERSOOREENKOMS te reageer, beteken nie dat die hulpbron gebruikers of groepe in sulke oortredings ondersteun nie.</p>

<p>Die nalatigheid van die hulpbron om op ’n oortreding deur ’n gebruiker of groep gebruikers van die GEBRUIKERSOOREENKOMS te reageer, ontneem nie die reg van die hulpbron om later stappe te neem om sy belange te beskerm nie.</p>

<li><h3>AANVAARDING VAN GEBRUIKERSOOREENKOMS</h3>

<p>INDIEN U NIE AKKOORD GAAN MET AL DIE VOORWAARDES HIERBOVEN NIE, MAG U NIE DIE HULPBRON GEHEEL OF GEDEELTLIK TOEGANG NIE, UITGESONDERD DIE BLAD MET DIE GEBRUIKERSOOREENKOMS, OF INLIGTING VAN DIE HULPBRON OP ENIGE MANIER TOEGANG NIE!</p>

<p>INDIEN U NIE AKKOORD IS MET DIE GEBRUIKERSOOREENKOMS NIE, MOET U ONMIDDELLIK DIE HULPBRON VERLAAT.</p>

</ol>
</p>

</div><!--/infobox-body-->
