<div id="infobox-body">

<p>

<p><h1>GEBRUIKERSOOREENKOMS</h1></p>

<p><h3>OOR DIE TERREIN</h3></p>

<p>Hierdie internetbron/webwerf (hierna "die Bron" genoem) is 'n webwerf wat gebruikers toelaat om inligting met mekaar te deel via BitTorrent, asook in ander vorme, en bied 'n manier om die integriteit van oorgedragen inligting te verifieer (via hash-lêers).</p>

<ol>

<li type="1"><h3>OOR HIERDIE GEBRUIKERSOOREENKOMS</h3>

<p>Hierdie Gebruikersooreenkoms (hierna "die Ooreenkoms" genoem) tree in werking wanneer op "Ek stem saam" aan die onderkant geklik word en bly van krag vir die hele duur van die Gebruiker se gebruik van die Bron. Die Ooreenkoms kan deur die Administrasie gewysig word sonder vooraf kennisgewing. Die nuwe weergawe van die Ooreenkoms tree in werking 3 (drie) dae nadat dit gepubliseer is, tensy anders vermeld in die nuwe weergawe van die Ooreenkoms.</p>

<li><h3>BEPERKINGS VAN AANSPREEKLIKHEID</h3>

<p>Die Gebruiker stem uitdruklik in om die Bron op eie risiko te gebruik.</p>

<p>Die Gebruiker erken en stem in dat die Bron handel oor materiaal en data wat geskep is deur derde partye en deur hulle op die internet aangebied word met behulp van hul eie rekenaars en/of bedieners. Die inhoud en sekuriteit van hierdie materiale kan nie deur die Bron Administrasie beheer word nie; daarom is die Administrasie nie aanspreeklik nie:</p>
<ul>
<p>- vir die inhoud van materiale wat deur die Gebruiker via die Bron verkry word, insluitend enige moontlike teenstrydigheid met toepaslike wette of enige aanstootlike aard daarvan;</p>
<p>- vir die gevolge van die toepassing, gebruik, of nie-gebruik van die verkrygde inligting;</p>
<p>- vir enige verskil tussen die resultate wat deur die Bron verkry is en die verwagtinge van die Gebruiker;</p>
<p>- vir enige skade aan die Gebruiker se hardeware of sagteware wat voortspruit uit die gebruik van die Bron;</p>
<p>- vir enige onvermoë om die Bron te gebruik om watter rede ook al;</p>
<p>- vir die gevolge wat mag voortspruit uit die verspreiding van onwettige of ongelisensieerde sagteware, klank-/video-inhoud, of ander materiale of data wat die regte van derde partye oortree.</p>
</ul>

<p>Onder geen omstandighede is die Bron aanspreeklik teenoor die Gebruiker of enige derde party vir enige skade, verliese, of uitgawes wat in verband met die Bron, sy gebruik, of die onvermoë om dit te gebruik, insluitend gemiste winste, ontstaan nie.</p>

<p>Die Bron Administrasie is nie verplig om die vertroulikheid van inligting wat deur sy Gebruikers verskaf word te waarborg nie, alhoewel alle redelike maatreëls in plek is om dit te doen, tensy 'n aparte ooreenkoms bestaan of toepaslike wetgewing anders vereis.</p>

<p>Die pligte van die Bron sluit nie die monitering van die wettigheid van oorgedragen inligting in (insluitend, maar nie beperk tot, inligting wat tussen gebruikers via BitTorrent oorgedra word, interne boodskappe in enige vorm, teks, of lêers nie), en ook nie die bepaling van intellektuele eiendomsregte of die wettigheid van die oordrag of ontvangs van sodanige inligting nie.</p>

<li><h3>BEPERKINGS OP GEBRUIKER SE GEBRUIK VAN DIE BRON</h3>

<p>Wanneer die Gebruiker hierdie Bron gebruik, mag hy nie en stem hy in om nie die volgende te doen nie:</p>
<ul>
<p>- hash-lêers (torrents) op te laai wat data bevat met virusse of ander kwaadwillige sagteware, lêers of programme wat ontwerp is om die funksionaliteit van enige rekenaar of telekommunikasietoerusting te versteur, vernietig, of beperk, programme vir ongemagtigde toegang, reeksnommers vir kommersiële sagteware of hulpmiddels om dit te genereer, aanmeldname, wagwoorde, of ander middele om ongemagtigde toegang tot internetbronne te verkry, sowel as skakels na bogenoemde te plaas;</p>
<p>- hash-lêers (torrents) op te laai wat enige boodskappe, data, of programme bevat waarvan die gebruik enige patent-, handelsmerk-, handelsgeheim-, kopiereg-, of ander eiendoms- en/of verwante regte van derde partye oortree;</p>
<p>- ongemagtigde advertensiebestellings (rommelpos, spam) te stuur aan e-posadresse wat op die terrein gelys is;</p>
<p>- enige inligting wat via die Bron verkry is, vir kommersiële doeleindes te kopieer en te gebruik, wat die regte van ander oortree of vir hulle direkte materiaalse of morele skade kan veroorsaak;</p>
<p>- skakels na webbronne te plaas waarvan die inhoud toepaslike wetgewing oortree;</p>
<p>- enige persoon of verteenwoordiger van 'n organisasie en/of gemeenskap sonder behoorlike magtiging na te boots, insluitend werknemers van die Administrasie of die eienaar van die Bron.</p>
</ul>

<li><h3>AFSLUITINGS VAN WAARBORG</h3>

<p>Toegang tot die Bron word voorsien op 'n „soos dit is"-grondslag sonder enige waarborge van enige aard, hetsy uitdruklik of geïmpliseer.</p>

<p>In die besonder waarborg die Bron Administrasie nie die funksionaliteit van die webwerf of sy individuele afdelings, of die werking en betroubaarheid van skakels wat deur sy Gebruikers geplaas is nie.</p>

<p>Die Bron is nie verantwoordelik vir enige direkte of indirekte verliese wat voortspruit uit: die gebruik van of onvermoë om die diens te gebruik; of ongemagtigde toegang tot u kommunikasies nie.</p>

<li><h3>REGTE VAN DIE BRON ADMINISTRASIE</h3>

<p>Die Bron Administrasie het die reg om enige Gebruiker of groep Gebruikers toegang tot die Bron te ontneem sonder verduideliking of vooraf kennisgewing.</p>

<p>Die Bron Administrasie mag enige inligting, hash-lêers (torrents), grafika, klank, en ander data wat deur Gebruikers ingedien word, wysig of verwyder sonder vooraf kennisgewing of verduideliking.</p>

<li><h3>VERANTWOORDELIKHEDE VAN DIE PARTYE</h3>

<p>Die Gebruiker stem in dat alle geskille wat uit hierdie Ooreenkoms voortspruit in ooreenstemming met toepaslike wetgewing opgelos word.</p>

<p>Die Gebruiker stem in dat verbruikersbeskermingswette en -regulasies nie op die gebruik van hierdie Bron van toepassing is nie, aangesien dit nie betaalde dienste verskaf nie.</p>

<p>Die Bron stig nie agentskap, vennootskap, gesamentlike ondernemings, indiensneming, of enige ander verhoudings wat nie uitdruklik in hierdie Ooreenkoms beskryf word nie.</p>

<p>Versuim deur die Bron om op 'n oortreding van hierdie Ooreenkoms deur 'n Gebruiker of groep Gebruikers te reageer, beteken nie goedkeuring of hulp aan sulke optrede nie.</p>

<p>Versuim deur die Bron om op 'n oortreding van hierdie Ooreenkoms deur 'n Gebruiker of groep Gebruikers te reageer, ontneem die Bron nie die reg om later toepaslike stappe te neem om sy belange te beskerm nie.</p>

<li><h3>AANVAARDING VAN DIE GEBRUIKERSOOREENKOMS</h3>

<p>INDIEN U NIE INSTEM MET AL DIE BOVENAASTE TERME EN VOORWAARDES NIE, MAG U NIE TOT DIE BRON GEHEEL OF GEDEELTLIK TOEGANG KRY NIE, UITGESONDERD DIE BLAD MET HIERDIE GEBRUIKERSOOREENKOMS, EN MAG U NIE INLIGTING VAN DIE BRON OP ENIGE ANDER MANIER TOEGANG NIE, GEHEEL OF GEDEELTLIK.</p>

<p>INDIEN U NIE INSTEM MET HIERDIE GEBRUIKERSOOREENKOMS NIE, MOET U DIE BRON ONMIDDELLIK VERLAAT.</p>

</ol>
</p>

</div>
