<div id="infobox-body">
	<h2 class="bold">当サイトでの広告掲載</h2>
	<p>広告についてはこちらまでご連絡ください： <strong><a href="mailto:{{ config('mail.addresses.advert') }}" class="gen">{{ config('mail.addresses.advert') }}</a></strong></p>
</div>
