<div id="infobox-body">

<p><h1>著作権者向け情報</h1></p>

<p>当サイトに掲載されている資料の著作権を有する方で、利用者が無断でその情報を拡散することを望まれない場合、該当するリンクの削除について喜んで対応いたします。</p>

<p>これは、電子形式の書面を弊社に送付されたことが必要です</p>
<p>以下の情報を明示してください：</p>

<p>1. 著作権で保護された資料に対する権利を証明する書類:</p>
<p> - 捺印のあるスキャン文書、または</p>
<p> - 会社所有者の公式メールドメインからのメール、または</p>
<p> - その資料の所有者としてあなたを一意に識別できるその他の連絡先情報。</p>

<p>2. 掲載を希望するテキスト（削除可能な情報を添えて）</p>

<p>そこに、削除された参照情報がどこで、どのような条件で入手できるかや、連絡先情報を明記してください。ユーザーはその連絡先から当該資料に関する必要な情報を入手できます。</p>

<p>3. 削除すべきデータへの参照が含まれるページへの直接リンク。</p>

<p>リンクは <strong>https://url.to/link</strong> のように表示してください。</p>

<p>その後48時間以内に、該当するリンクを当サイトから削除します。</p>

<p class="bold">当サイトのメールアドレス: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>警告！</p>

<p>a) 弊社はメール <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> にて送付された情報をサイト上に掲載する権利を留保します。</p>

<p>b) 当該著作権の対象となる情報へのリンクをユーザーが再投稿する行為について、当社は一切の管理権限を有しません。 フォーラム上の情報は、いかなる主体による管理も介さず自動的に投稿されることがあり、これはインターネット上に情報を掲載するという国際的に一般的な慣行に合致します。 ただし、いかなる場合でも、権利を侵害する情報に関するご照会はすべて検討いたします。</p>

<p>c) 著作権及び著作隣接権に関する法律によれば、データ（情報メッセージ）への参照そのものは著作権法の対象外ですが（ただし「ウェブサイト利用規約」に違反する可能性があります）。 したがって、正当な理由がないまま脅迫や要求を含む書面を送付する必要はありません。</p>

</div><!--/infobox-body-->
