<div id="infobox-body">

<p><h1>著作権者向け情報</h1></p>

<p>当サイトに掲載されている資料の著作権を有する方で、利用者が無断でその情報を拡散することを望まれない場合、該当するリンクの削除について喜んで対応いたします。</p>

<p>そのために、以下の情報を含む電子メールをお送りください：</p>

<p>1. 著作権で保護された資料に対する権利を証明する書類：</p>
<p> — 公的な印章の押されたスキャンドキュメント、または</p>
<p> — 権利保有会社の公式ドメインから送信されたメール、または</p>
<p> — あなたを権利保有者として一意に特定するその他の連絡先情報。</p>

<p>2. 削除されるコンテンツの代わりに掲載してほしい代替テキスト。</p>

<p>このテキスト内では、削除されたリンク先の情報がどこでどのような条件で入手可能か、およびその資料に関しユーザーが連絡できるよう連絡先情報を指定できます。</p>

<p>3. 削除すべきデータへの参照を含むページへの直接リンク。</p>

<p>リンクは<strong>https://url.to/link</strong>等の形式で指定してください。</p>

<p>ご依頼を受け取り次第48時間以内に、該当リンクをサイトから削除いたします。</p>

<p class="bold">当サイトのメールアドレス: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>警告！</p>

<p>a) 当社は、 <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> に送信された情報をサイト上で公開する権利を留保します</p>

<p>b) 当該著作権対象の情報へのリンクをユーザーが再掲する行為について、弊社は管理不能です。 フォーラムの全情報は、事前の確認や管理なしに自動的に投稿されます。これは、インターネット上で情報を掲示する国際的に一般的な慣行に沿ったものです。 それでも、著作権侵害の情報へのリンクに関するご要望はすべて検討いたします。</p>

<p>c) 適用される著作権および関連権法に基づき、データ（情報参照）へのハイパーリンクは、それ自体では著作権保護の対象外です（ただし、サイトの利用規約に違反する場合があります）。 したがって、そのような請求の法的根拠がないため、脅迫や要求を含む文書の送付はご遠慮ください。</p>

</div>
