<div>
	<h3>サイドバー2</h3>
	このサイドバーにコンテンツを追加するには、以下のファイルを編集してください:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	このサイドバーを無効にするには、config/layouts.php ファイル内の変数 page.show_sidebar2 を false に設定してください。
</div>
