<div id="infobox-body">

<p>

<p><h1>ユーザー契約</h1></p>

<p><h3>サイトについて</h3></p>

<p>インターネット・リソース／ウェブサイト（以下「本リソース」）とは、ユーザーがビットトレントや自由な形式で互いに情報を共有できるサイトであり、転送される情報の整合性をハッシュファイル等を通じて確認する手段を提供するサイトをいいます。</p>

<ol>

<li type="1"><h3>ユーザー契約について</h3>

<p>この利用規約は、下部の「同意する」をクリックした時点で発効し、リソースの利用者が利用している間常に適用されます。 利用規約は管理者により予告なく変更されることがあります。 新しい利用規約は、別段の定めがない限り、掲載日から3日経過した時点で効力を生じます。</p>

<li><h3>責任制限</h3>

<p>ユーザーは、本リソースの利用が自己の責任であることに明示的に同意します。</p>

<p>ユーザーは、本リソースが第三者によって作成され、当該第三者のコンピュータおよび/またはサーバーに公開された資料やデータを取り扱っていることを認識し、これに同意します。 これらの資料の内容および安全性はリソース管理者が管理できないため、後者は以下について責任を負いません：</p>
<ul>
<p>- ユーザーが本リソースの利用を通じて入手した資料の内容、またはそれらが適用法令に抵触する可能性について；</p>
<p>- 受け取った情報の適用、使用または未使用の結果について；</p>
<p>- 本リソースの利用により得られた結果がユーザーの期待と異なる場合について；</p>
<p>- 本リソースの利用によりユーザーのハードウェアまたはソフトウェアに生じた損害について；</p>
<p>- いかなる理由による本リソースの利用不能について；</p>
<p>- 違法または無許可のソフトウェア、音声・映像製品、その他第三者の権利に影響を及ぼす資料やデータの流布に起因する結果について；</p>
</ul>

<p>いかなる場合においても、本リソースは本リソースの利用または利用不能に関連して生じたユーザーまたは第三者の損害、損失または費用（逸失利益を含む）について責任を負いません。</p>

リソース管理者は、ユーザーから提供された情報の機密性を確保する義務を負いませんが、別段の合意がある場合または現行法の関連要件がある場合を除き、可能な限りの措置を講じます。

<p>本リソースの義務には、法的または違法に送信された情報（ユーザー間でビットトレントを介して送受信される情報、社内での各種リンクによる情報の転送、テキストやファイルを含むがこれらに限られない）の管理、財産権の定義、または当該情報の送受信の正当性の判断は含まれません。</p>

<li><h3>ユーザーによるリソース利用の制限</h3>

<p>本リソースを利用するにあたり、ユーザーは以下のことを行う権利を有せず、これに同意するものとします：</p>
<ul>
<p>- ハッシュファイル（トレント）として、ウイルスその他の有害なコンピュータプログラム、コンピュータや通信機器の機能を妨害・破壊・制限するファイルやプログラム、不正アクセスを目的としたプログラム、商用ソフトウェア製品のシリアル番号やその生成プログラム、ログイン情報やパスワード等の不正アクセス手段を含むデータを掲載したり、これらに対するリンクを投稿すること。</p>
<p>- 第三者の特許権、商標権、営業秘密、著作権その他の所有権および関連権を侵害するメッセージ、データ、プログラムをハッシュファイル（トレント）として掲載すること。</p>
<p>- 本サイトに記載されているメールアドレスへ、無断で広告目的のメール（ジャンクメール、スパム）を送信すること。</p>
<p>- 本リソースを通じて取得した情報を複製して商業目的で使用すること、他者の権利を侵害し、または他者に直接的な財産的・精神的損害を与えること。</p>
<p>- 現行法に反するコンテンツを持つウェブリソースへのリンクを投稿すること;</p>
<p>- 十分な権限がない状態で他人や組織・コミュニティの代表を名乗ること（管理者やリソースの所有者の従業員を含む）。</p>
</ul>

<li><h3>性能保証</h3>

<p>本リソースへのアクセスは現状有姿（as is）で提供され、明示的または暗黙的を問わずいかなる保証もありません。</p>

<p>特に、リソース管理者はサイトおよびその個別セクションの機能性、ならびにユーザーが掲載したリンクの性能および信頼性を保証しません。</p>

<p>本リソースは、以下の事由により生じた如何なる直接的または間接的な損失についても責任を負いません：サービスの利用または利用不能、通信への不正アクセス。</p>

<li><h3>リソース管理者の権利</h3>

<p>リソース管理者は、理由の説明や事前通知なしに、任意のユーザーまたはユーザーグループの本リソースへのアクセスを拒否する権利を有します。</p>

<p>リソース管理者は、事前の通知や説明なしに、ユーザーが提出した情報、ハッシュファイル（トレント）、画像、音声その他のデータを変更または削除することができます。</p>

<li><h3>当事者の責任</h3>

<p>ユーザーは、使用に関する合意に関するすべての可能な紛争が法的規範に従って解決されることに同意します。</p>

<p>ユーザーは、本リソースに有料サービスが存在しないため、消費者保護に関する規則および法令は本リソースの利用には適用されないことに同意します。</p>

<p>本リソースは、ユーザー代理関係、共同活動におけるパートナー関係、採用関係、ならびに本利用規約に明示的に記載されていないその他の関係を成立させるものではありません。</p>

<p>ユーザーまたはユーザーグループによる利用規約違反についてリソースが何も行わなかったとしても、それがリソースが当該ユーザーやグループの行為を支援することを意味するものではありません。</p>

<p>リソースが当該違反に関して何らかの措置を直ちに取らなかった場合でも、その後に自らの利益を保護するために適切な措置を取る権利を失うものではありません。</p>

<li><h3>利用規約の承諾</h3>

<p>上記の全ての条項に同意しない場合、本利用規約のページを除き、本リソースの全部または一部にアクセスしたり、本リソースの内容を取得・閲覧することはできません。</p>

<p>ユーザー契約に同意しない場合は、すぐにリソースを離れなければなりません。</p>

</ol>
</p>

</div><!--/infobox-body-->
