<div id="infobox-body">

<p>

<p><h1>利用規約</h1></p>

<p><h3>このサイトについて</h3></p>

<p>本インターネットリソース／ウェブサイト（以下「リソース」）は、ユーザーがBitTorrentおよびその他の方法で情報を共有できるサイトであり、転送された情報の整合性をハッシュファイルを介して検証する手段を提供します。</p>

<ol>

<li type="1"><h3>本利用規約について</h3>

<p>本利用規約（以下「規約」）は、ページ下部の「同意する」をクリックした時点で効力を発し、ユーザーがリソースを利用している間有効です。 管理者は予告なく本規約を変更できるものとします。 新しい規約のバージョンは、特に新規約に別の定めがない限り、公開後3日を経過した時点で効力を生じます。</p>

<li><h3>責任制限</h3>

<p>ユーザーは、自己の責任においてリソースを利用することに明示的に同意します。</p>

<p>ユーザーは、リソースが第三者によって制作され、当該第三者のコンピュータおよび／またはサーバー上にインターネット上でホスティングされる資料やデータを取り扱っていることを認識し、同意します。 これらの資料の内容および安全性はリソース管理者が管理できないため、管理者は以下について責任を負いません：</p>
<ul>
<p>- ユーザーがリソースを通じて入手した資料の内容、またそれらが適用法令に抵触する可能性や不快な内容であることに関して；</p>
<p>- 入手した情報を適用、使用、または未使用による結果について；</p>
<p>- リソースを利用して得られた結果がユーザーの期待と異なる場合について；</p>
<p>- リソースの利用によりユーザーのハードウェアやソフトウェアに損害が発生した場合；</p>
<p>- いかなる理由によるリソースの利用不能について；</p>
<p>- 違法または無許可のソフトウェア、音声・映像コンテンツ、その他の第三者の権利を侵害する資料やデータの配布に起因する結果について。</p>
</ul>

<p>いかなる場合においても、本リソースは本リソースの利用、もしくは利用不能に関連して生じたユーザーまたは第三者の損害、損失、費用（逸失利益を含む）について責任を負いません。</p>

<p>管理者は、別途契約が存在しないか適用法令で他に要求されていない限り、ユーザー提供情報の機密性を保証する義務はありませんが、合理的な措置を講じます。</p>

<p>リソースの職務には、転送される情報（BitTorrent経由の情報、内部メッセージ、テキスト、ファイルを含むがこれに限られない）の合法性の監視、知的財産権の認定、送受信の正当性の判断は含まれません。</p>

<li><h3>ユーザーによるリソースの利用制限</h3>

<p>本リソース利用時、ユーザーは以下の行為をしてはならず、これに同意します：</p>
<ul>
<p>- ウイルスやマルウェア、コンピュータや通信機器の機能を破壊・妨害・制限するファイルやプログラム、不正アクセス目的のプログラム、商用ソフトウェアのシリアル番号や生成ツール、ログイン情報・パスワードその他不正アクセス手段を含むデータのハッシュファイル（トレント）としてのアップロード、およびこれらへのリンクの投稿；</p>
<p>- 第三者の特許権、商標権、営業秘密、著作権その他の所有権・関連権を侵害するメッセージ、データ、プログラムのハッシュファイル（トレント）としてのアップロード；</p>
<p>- サイトに掲載されたメールアドレスへの無許可の広告メッセージ（迷惑メール、スパム）の送信；</p>
<p>- リソースを通じて取得した、他者の権利を侵害し、または直接的な財産的・精神的損害を与える情報の複製及び商業目的での使用；</p>
<p>- 現行法に反するコンテンツを含むウェブリソースへのリンクの投稿；</p>
<p>- 管理者やリソース所有者の従業員を含め、正当な権限なく他人や組織・コミュニティの代表を名乗ること。</p>
</ul>

<li><h3>保証の否認</h3>

<p>リソースへのアクセスは現状有姿（「as is」）で提供され、明示的または暗黙的な一切の保証を含みません。</p>

<p>特に、管理者はサイトおよび各セクションの機能性や、ユーザーが投稿したリンクの動作・信頼性を保証しません。</p>

<p>本リソースは、サービスの利用または利用不能、通信への不正アクセスに起因する一切の直接的・間接的損失について責任を負いません。</p>

<li><h3>リソース管理者の権利</h3>

<p>リソース管理者は、理由の説明や事前通知なしに、任意のユーザーまたはユーザーグループのリソースへのアクセスを拒否する権利を有します。</p>

<p>管理者は、ユーザーが提出した情報、ハッシュファイル（トレント）、画像、音声その他のデータを事前通知や説明なしに変更または削除できます。</p>

<li><h3>当事者の責任</h3>

<p>ユーザーは、本規約から生じるすべての紛争が適用法に基づき解決されることに同意します。</p>

<p>本リソースは有料サービスを提供しないため、消費者保護法は本リソースの利用には適用されません。</p>

<p>本リソースは、本規約で明示されていない代理、合弁、雇用その他の関係を成立させません。</p>

<p>ユーザーやグループによる本規約違反に対してリソースが即時対応しなかった場合でも、それは違反の承認や支援を意味しません。</p>

<p>リソースがユーザー等の違反に直ちに対応しなくとも、後に自己の利益を保護するために適切な対応を行う権利を放棄しません。</p>

<li><h3>利用規約の承諾</h3>

<p>上記すべての条項に同意しない場合、本利用規約ページを除き、本リソースの全部または一部へのアクセスや内容の取得・閲覧をしてはなりません。</p>

<p>本利用規約に同意しない場合は、直ちにリソースを離脱してください。</p>

</ol>
</p>

</div>
