<div id="infobox-body">

<p><h1>ІНФОРМАЦІЯ ДЛЯ ПРАВОВЛАСНИКІВ</h1></p>

<p>Якщо Ви є правовласником будь-якого матеріалу, посилання на який розміщено на цьому сайті, і не хочете, щоб ця інформація поширювалася користувачами без Вашої згоди, ми з радістю допоможемо Вам, видаливши відповідні посилання.</p>

<p>Для цього, будь ласка, надішліть нам електронного листа, що містить таку інформацію:</p>

<p>1. Документальне підтвердження Ваших прав на матеріал, захищений авторським правом:</p>
<p> — відсканований документ із офіційною печаткою, або</p>
<p> — електронний лист, надісланий з офіційного домену компанії-правовласника, або</p>
<p> — інша контактна інформація, що однозначно ідентифікує Вас як правовласника.</p>

<p>2. Текст, який Ви бажаєте розмістити замість видаленого контенту.</p>

<p>У цьому тексті Ви можете вказати, де і за яких умов користувачі можуть отримати інформацію, посилання на яку було видалено, а також Ваші контактні дані, щоб користувачі могли зв’язатися з Вами стосовно цього матеріалу.</p>

<p>3. Прямі посилання на сторінки, які містять посилання на дані, які необхідно видалити.</p>

<p>Посилання мають бути у форматі <strong>https://url.to/link</strong> або подібному.</p>

<p>Протягом 48 годин після отримання Вашого запиту, ми видалимо відповідні посилання зі сайту.</p>

<p class="bold">Наш email: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>УВАГА!</p>

<p>a) Ми залишаємо за собою право публікувати на сайті будь-яку інформацію, надіслану нам на адресу <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) Ми не контролюємо дії користувачів, які можуть повторно розміщувати посилання на інформацію, що є об’єктом Вашого авторського права. Уся інформація на форумі розміщується автоматично, без попереднього перегляду або модерації, відповідно до загальноприйнятих міжнародних практик розміщення інформації в Інтернеті. Проте ми розглянемо всі запити щодо посилань на інформацію, що порушує Ваші права.</p>

<p>в) Відповідно до чинного законодавства про авторське право і суміжні права, гіперпосилання на дані (інформаційне посилання) саме по собі не є об'єктом авторського права (хоча може порушувати Користувацьку угоду сайту). Тому, будь ласка, утримуйтеся від надсилання листів із погрозами або вимогами, оскільки для таких претензій немає законних підстав.</p>

</div>
