<div>
	<h3>Бічна панель 2</h3>
	Щоб додати вміст до цієї бічної панелі, відредагуйте наступні файли:
	<br /><br />
	<ul class="med">
		<li>бібліотека/мова/*/html/бічна_панель2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Щоб вимкнути цю бічну панель, встановіть змінну page.show_sidebar2 у файлі config/layouts.php на false.
</div>
