<div id="infobox-body">

<p>

<p><h1>УГОДА КОРИСТУВАЧА</h1></p>

<p><h3>ПРО САЙТ</h3></p>

<p>Цей інтернет-ресурс / веб-сайт (надалі — "Ресурс") є сайтом, що дозволяє користувачам обмінюватися інформацією між собою через BitTorrent, а також в інших формах, і забезпечує засоби для перевірки цілісності переданої інформації (через хеш-файли).</p>

<ol>

<li type="1"><h3>ПРО ЦЮ УГОДУ КОРИСТУВАЧА</h3>

<p>Ця Угода користувача (надалі — "Угода") набирає чинності після натискання кнопки "Я згоден" унизу сторінки і залишається чинною протягом всього часу користування Користувачем Ресурсом. Угода може бути змінена Адміністрацією без попереднього повідомлення. Нова версія Угоди набирає чинності через 3 (три) дні після її оприлюднення, якщо інше не передбачено в новій версії Угоди.</p>

<li><h3>ОБМЕЖЕННЯ ВІДПОВІДАЛЬНОСТІ</h3>

<p>Користувач чітко погоджується використовувати Ресурс на власний ризик.</p>

<p>Користувач визнає та погоджується, що Ресурс має справу з матеріалами та даними, створеними третіми особами та розміщеними ними в інтернеті на власних комп’ютерах та/або серверах. Адміністрація Ресурсу не може контролювати вміст та безпеку цих матеріалів; тому Адміністрація не несе відповідальності:</p>
<ul>
<p>- за вміст матеріалів, отриманих Користувачем через Ресурс, включно з їх можливою невідповідністю чинному законодавству чи образливим характером;</p>
<p>- за наслідки застосування, використання або невикористання отриманої інформації;</p>
<p>- за будь-яку невідповідність між результатами, отриманими через Ресурс, і очікуваннями Користувача;</p>
<p>- за будь-які пошкодження апаратного чи програмного забезпечення Користувача, що виникли внаслідок використання Ресурсу;</p>
<p>- за будь-яку неможливість використання Ресурсу з будь-якої причини;</p>
<p>- за наслідки, які можуть виникнути внаслідок розповсюдження нелегального або неліцензійного програмного забезпечення, аудіо/відеоконтенту чи інших матеріалів чи даних, що порушують права третіх осіб.</p>
</ul>

<p>Ні за яких обставин Ресурс не несе відповідальності перед Користувачем або третіми особами за будь-які збитки, втрати чи витрати, що виникли у зв’язку з Ресурсом, його використанням або неможливістю використання, включаючи втрату прибутку.</p>

<p>Адміністрація Ресурсу не зобов’язана забезпечувати конфіденційність інформації, наданої його Користувачами, хоча вживає всіх розумних заходів для цього, якщо окрема угода або чинне законодавство не передбачає інакше.</p>

<p>Обов’язки Ресурсу не включають контроль за законністю переданої інформації (включно, але не обмежуючись, інформацією, переданою між користувачами через BitTorrent, внутрішніми повідомленнями будь-якої форми, текстом чи файлами), а також встановлення прав інтелектуальної власності або законності передачі чи отримання такої інформації.</p>

<li><h3>ОБМЕЖЕННЯ ВИКОРИСТАННЯ РЕСУРСУ КОРИСТУВАЧЕМ</h3>

<p>Під час використання цього Ресурсу Користувач не повинен і погоджується не робити наступного:</p>
<ul>
<p>- завантажувати хеш-файли (торенти), що містять дані з вірусами або іншими шкідливими програмами, файлами чи програмами, призначеними для порушення, знищення або обмеження функціональності будь-якого комп’ютера або телекомунікаційного обладнання, програмами для несанкціонованого доступу, серійними номерами для комерційного програмного забезпечення або інструментами для їх генерації, логінами, паролями чи іншими засобами несанкціонованого доступу до інтернет-ресурсів, а також розміщувати посилання на вказане;</p>
<p>- завантажувати хеш-файли (торенти), що містять будь-які повідомлення, дані чи програми, використання яких порушує патенти, торгові марки, комерційну таємницю, авторські права або інші права власності та/або суміжні права третіх осіб;</p>
<p>- надсилати несанкціоновані рекламні повідомлення (спам) на електронні адреси, розміщені на сайті;</p>
<p>- копіювати та використовувати в комерційних цілях будь-яку інформацію, отриману через Ресурс, що порушує права інших осіб або може завдати їм матеріальної чи моральної шкоди;</p>
<p>- публікувати посилання на веб-ресурси, вміст яких суперечить чинному законодавству;</p>
<p>- видавати себе за будь-яку особу або представника організації та/або спільноти без належного дозволу, включно зі співробітниками Адміністрації або власником Ресурсу.</p>
</ul>

<li><h3>ВІДМОВА ВІД ГАРАНТІЙ</h3>

<p>Доступ до Ресурсу надається "як є" без жодних гарантій, явних чи неявних.</p>

<p>Зокрема, Адміністрація Ресурсу не гарантує функціональність сайту чи його окремих розділів, а також працездатність і надійність посилань, розміщених його Користувачами.</p>

<p>Ресурс не несе відповідальності за будь-які прямі чи опосередковані збитки, що виникли внаслідок: використання або неможливості використання сервісу; або несанкціонованого доступу до Ваших повідомлень.</p>

<li><h3>ПРАВА АДМІНІСТРАЦІЇ РЕСУРСУ</h3>

<p>Адміністрація Ресурсу має право відмовити в доступі до Ресурсу будь-якому Користувачу або групі Користувачів без пояснення причин і попереднього повідомлення.</p>

<p>Адміністрація Ресурсу може змінювати або видаляти будь-яку інформацію, хеш-файли (торенти), графіку, аудіо та інші дані, надані Користувачами, без попереднього повідомлення чи пояснення.</p>

<li><h3>ВІДПОВІДАЛЬНІСТЬ СТОРІН</h3>

<p>Користувач погоджується, що всі спори, що виникають із цієї Угоди, вирішуватимуться відповідно до чинного законодавства.</p>

<p>Користувач погоджується, що закони та норми із захисту прав споживачів не застосовуються до використання цього Ресурсу, оскільки він не надає платних послуг.</p>

<p>Ресурс не встановлює агенції, партнерства, спільного підприємства, трудових або інших відносин, які прямо не описані в цій Угоді.</p>

<p>Бездіяльність Ресурсу у відповідь на порушення цієї Угоди Користувачем чи групою Користувачів не свідчить про схвалення або сприяння таким діям.</p>

<p>Бездіяльність Ресурсу у відповідь на порушення цієї Угоди Користувачем або групою Користувачів не позбавляє Ресурс права вжити відповідні заходи для захисту своїх інтересів пізніше.</p>

<li><h3>ПРИЙНЯТТЯ УГОДИ КОРИСТУВАЧА</h3>

<p>ЯКЩО ВИ НЕ ЗГОДНІ З УСІМА ВИЩЕВКАЗАНИМИ УМОВАМИ, ВИ НЕ МОЖЕТЕ ВИКОРИСТОВУВАТИ РЕСУРС ПО ПОВНІЙ АБО ЧАСТКОВІЙ, ОКРІМ СТОРІНКИ З ЦІЄЮ УГОДОЮ, А ТАКОЖ ОТРИМУВАТИ ТА/АБО ДОСТУПАТИСЬ ДО ВМІСТУ РЕСУРСУ ІНШИМИ СПОСОБАМИ ПОВНІСТЮ АБО ЧАСТКОВО.</p>

<p>ЯКЩО ВИ НЕ ЗГОДНІ З ЦІЄЮ УГОДОЮ, ВИ ПОВИННІ НЕГАЙНО ЗАЛИШИТИ РЕСУРС.</p>

</ol>
</p>

</div>
