<div id="infobox-body">

<p><h1>INFORMACIÓN PARA LOS TITULARES DE DERECHOS DE AUTOR</h1></p>

<p>Si usted es titular de los derechos de autor de cualquier material enlazado (o enlaces) que esté disponible en este sitio, y no desea que se difunda esta información por los usuarios sin su consentimiento, estaremos encantados de ayudarle a eliminar los enlaces apropiados.</p>

<p>Esto requiere que nos haya enviado una carta (en forma electrónica)
que nos indique la siguiente información:</p>

<p>1. Prueba documental de sus derechos sobre el material protegido por derechos de autor:</p>
<p> - documento escaneado con el sello, o</p>
<p> - correo electrónico de un dominio oficial de la empresa propietaria, o</p>
<p> - otra información de contacto que lo identifique de forma única como propietario del material.</p>

<p>2. El texto que desea colocar, acompañado de una información removible.</p>

<p>En él puede especificar dónde y bajo qué condiciones se puede obtener información, referencias que han sido eliminadas, así como su información de contacto, para que los usuarios puedan obtener de usted toda la información necesaria respecto a este material.</p>

<p>3. Enlaces directos a páginas que contengan referencias a datos que deben ser eliminados.</p>

<p>Los enlaces deben mostrarse como <strong>https://url.to/link</strong> o algo similar.</p>

<p>Después de eso, en 48 horas, eliminaremos los enlaces que le interesen del sitio.</p>

<p class="bold">Nuestro correo electrónico: <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>¡ADVERTENCIA!</p>

<p>a) Nos reservamos el derecho de publicar en el sitio cualquier información que nos sea enviada por correo a <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) No tenemos control sobre las acciones de los usuarios que puedan volver a publicar enlaces a la información, que es objeto de su derecho de autor. Cualquier información en el foro se publica automáticamente, sin ningún control de ninguna parte, lo que corresponde a la práctica internacional generalmente aceptada de colocar información en Internet. Sin embargo, en cualquier caso, consideramos todas sus consultas respecto a la referencia a la información que viola sus derechos.</p>

<p>c) De acuerdo con la Ley de Derecho de Autor y Derechos Conexos, una referencia a cualquier dato (mensaje informativo), por sí sola, no está sujeta a la ley de derechos de autor (aunque puede violar el "Acuerdo sobre el uso del sitio web"). Por lo tanto, no es necesario enviar cartas que contengan amenazas o demandas, ya que no tienen una razón real.</p>

</div><!--/infobox-body-->
