<div id="infobox-body">

<p><h1>INFORMACIÓN PARA LOS TITULARES DE DERECHOS DE AUTOR</h1></p>

<p>Si usted es el titular de los derechos de autor de cualquier material vinculado en este sitio y no desea que esta información sea distribuida por los usuarios sin su consentimiento, estaremos encantados de ayudarle eliminando los enlaces correspondientes.</p>

<p>Para ello, por favor envíenos una carta electrónica que contenga la siguiente información:</p>

<p>1. Prueba documental de sus derechos sobre el material protegido por derechos de autor:</p>
<p> — un documento escaneado con un sello oficial, o</p>
<p> — un correo electrónico enviado desde el dominio oficial de la empresa titular de los derechos, o</p>
<p> — otra información de contacto que lo identifique de manera única como titular de los derechos.</p>

<p>2. El texto de reemplazo que desee publicar en lugar del contenido eliminado.</p>

<p>En este texto puede especificar dónde y bajo qué condiciones los usuarios pueden obtener la información cuyos enlaces han sido eliminados, así como sus datos de contacto para que los usuarios puedan comunicarse con usted respecto a este material.</p>

<p>3. Enlaces directos a las páginas que contienen referencias a los datos que deben ser eliminados.</p>

<p>Los enlaces deben tener el formato <strong>https://url.to/link</strong> o similar.</p>

<p>Dentro de las 48 horas siguientes a la recepción de su solicitud, eliminaremos los enlaces correspondientes del sitio.</p>

<p class="bold">Nuestro correo electrónico: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>¡ADVERTENCIA!</p>

<p>a) Nos reservamos el derecho de publicar en el sitio cualquier información enviada a <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) No tenemos control sobre las acciones de los usuarios que puedan volver a publicar enlaces a la información que es objeto de sus derechos de autor. Toda la información en el foro se publica automáticamente, sin revisión o moderación previa, de conformidad con las prácticas internacionales generalmente aceptadas para la hospedaje de información en Internet. Sin embargo, consideraremos todas las solicitudes relacionadas con enlaces a información que infrinja sus derechos.</p>

<p>c) Según la ley aplicable de derechos de autor y derechos conexos, un hipervínculo a datos (una referencia informativa) no está, por sí mismo, protegido por derechos de autor (aunque puede violar el Acuerdo de Usuario del sitio). Por lo tanto, le rogamos se abstenga de enviar cartas que contengan amenazas o demandas, ya que no existen bases legales para tales reclamaciones.</p>

</div>
