<div>
	<h3>Barra lateral 2</h3>
	Para agregar contenido en esta barra lateral, edite los siguientes archivos:
	<br /><br />
	<ul class="med">
		<li>biblioteca/idioma/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Para deshabilitar esta barra lateral, establezca la variable page.show_sidebar2 en el archivo config/layouts.php en falso.
</div>
