<div id=\"infobox-body\">

<p><h1>INFORMÁCIÓ A SZERZŐI JOGOK JOGOSULTJAI RÉSZÉRE</h1></p>

<p>Ha Ön rendelkezik valamely ezen az oldalon elérhető anyag szerzői jogaival, és nem szeretné, hogy ezt az információt a felhasználók az Ön hozzájárulása nélkül terjesszék, örömmel segítünk a megfelelő hivatkozások eltávolításában.</p>

<p>Ehhez szükséges, hogy írásban (elektronikus formában) megkeressen minket</p>
<p>és megadja számunkra a következő információkat:</p>

<p>1. A szerzői jog által védett anyagokhoz fűződő jogainak okirata:</p>
<p> - bélyegzővel ellátott beszkennelt dokumentum, vagy</p>
<p> - a cég tulajdonosának hivatalos e-mail domainjéről küldött e-mail, vagy</p>
<p> - egyéb elérhetőség, amely egyértelműen azonosítja Önt mint az anyag tulajdonosát.</p>

<p>2. A közzétenni kívánt szöveg, valamint az eltávolítható információ.</p>

<p>Ebben megadhatja, hogy hol és milyen feltételek mellett kérhető az eltávolított hivatkozásokra vonatkozó információ, valamint elérhetőségeit, hogy a felhasználók minden szükséges információt Öntől kaphassanak az anyaggal kapcsolatban.</p>

<p>3. Közvetlen linkek azokra az oldalakra, amelyek az eltávolítandó adatokra hivatkoznak.</p>

<p>A linkeknek a következő formátumban kell megjelenniük: <strong>https://url.to/link</strong> vagy hasonló.</p>

<p>Ezt követően 48 órán belül eltávolítjuk a kérdéses hivatkozásokat az oldalról.</p>

<p class="bold">E-mail címünk: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>FIGYELMEZTETÉS!</p>

<p>a) Fenntartjuk a jogot, hogy közzétegyünk az oldalon bármilyen, az e-mail címünkre <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> küldött információt.</p>

b) Nincs befolyásunk azoknak a felhasználóknak a cselekedeteire, akik az Ön szerzői jogának tárgyát képező információkra mutató linkeket újra közzétehetnek. A fórumra kerülő bármilyen információ automatikusan, bármiféle ellenőrzés nélkül kerül elhelyezésre, ami megfelel az internetes tartalom elhelyezésének általánosan elfogadott nemzetközi gyakorlatának. Mindazonáltal minden olyan kérdését figyelembe vesszük, amely az Ön jogait sértő információkra való hivatkozással kapcsolatos.</p>

<p>c) A szerzői jogokról és a kapcsolódó jogokról szóló törvény értelmében bármely adat (tájékoztató üzenet) önmagában nem tartozik a szerzői jog védelme alá (bár sértheti a "weboldal használatára vonatkozó megállapodást"). Ezért nem szükséges fenyegető vagy követelő hangvételű leveleket küldeni, mivel ezeknek nincs valós alapjuk.</p>

</div><!--/infobox-body-->
