<div id="infobox-body">

<p><h1>INFORMÁCIÓ A SZERZŐI JOGOK JOGOSULTJAI RÉSZÉRE</h1></p>

<p>Ha Ön rendelkezik valamely ezen az oldalon elérhető anyag szerzői jogaival, és nem szeretné, hogy ezt az információt a felhasználók az Ön hozzájárulása nélkül terjesszék, örömmel segítünk a megfelelő hivatkozások eltávolításában.</p>

<p>Ehhez kérjük, küldjön nekünk egy elektronikus levelet, amely a következő információkat tartalmazza:</p>

<p>1. A szerzői jog által védett anyagokhoz fűződő jogainak okirata:</p>
<p> — egy hivatalos pecséttel ellátott, beszkennelt dokumentum, vagy</p>
<p> — az jogosult cég hivatalos domainjéről küldött e-mail, vagy</p>
<p> — egyéb elérhetőség, amely egyértelműen azonosítja Önt mint a jogok jogosultját.</p>

<p>2. Az a helyettesítő szöveg, amelyet a törölt tartalom helyén szeretne megjeleníteni.</p>

<p>Ebben megadhatja, hogy hol és milyen feltételek mellett tehetik a felhasználók hozzáférhetővé az eltávolított hivatkozásokkal kapcsolatos információkat, valamint az elérhetőségeit, hogy a felhasználók kapcsolatba léphessenek Önnel az anyaggal kapcsolatban.</p>

<p>3. Közvetlen linkek azokra az oldalakra, amelyek az eltávolítandó adatokat tartalmazzák.</p>

<p>A hivatkozások formátuma <strong>https://url.to/link</strong> vagy hasonló legyen.</p>

<p>Kérésének beérkezését követő 48 órán belül eltávolítjuk a megfelelő linkeket az oldalról.</p>

<p class="bold">E-mail címünk: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>FIGYELEM!</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nincs befolyásunk azoknak a felhasználóknak a cselekedeteire, akik az Ön szerzői jogának tárgyát képező információkra mutató linkeket újra közzétehetnek. A fórumon megjelenő összes információ automatikusan, előzetes ellenőrzés vagy moderáció nélkül kerül közzétételre, a világszerte elfogadott internetes tartalom-elhelyezési gyakorlatnak megfelelően. Mindazonáltal minden, az Ön jogait sértő információkra vonatkozó hivatkozás eltávolítására irányuló kérelmet meg fogunk vizsgálni.</p>

<p>c) Az alkalmazandó szerzői jogi és kapcsolódó jogi törvények értelmében egy adatot (információs hivatkozást) tartalmazó hiperhivatkozás önmagában nem esik szerzői jogi védelem alá (bár sértheti az oldal Felhasználási Feltételeit). Ezért kérjük, tartózkodjon fenyegetéseket vagy követeléseket tartalmazó levelek küldésétől, mivel ilyen igényeknek nincs jogi alapja.</p>

</div>
