<div>
	<h3>Oldalsáv 2</h3>
	A tartalom ebbe az oldalsávba történő hozzáadásához szerkessze az alábbi fájlokat:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Ennek az oldalsávnak a letiltásához állítsa a config.php fájlban a page.show_sidebar2 változót false értékre.
</div>
