<div>
	<h3>Oldalsáv 2</h3>
	A tartalom ebbe az oldalsávba történő hozzáadásához szerkessze az alábbi fájlokat:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Ha ki szeretné kapcsolni ezt az oldalsávot, állítsa be a page.show_sidebar2 változót a config/layouts.php fájlban hamis (false) értékre.
</div>
