<div id="infobox-body">

<p>

<p><h1>FELHASZNÁLÓI SZERZŐDÉS</h1></p>

<p><h3>AZ OLDALRÓL</h3></p>

<p>Ez az internetes erőforrás/weboldal (a továbbiakban: "Erőforrás") egy olyan weboldal, amely lehetővé teszi a felhasználók számára, hogy egymással információkat osszanak meg BitTorrent használatával, valamint más formákban, és eszközt biztosít a továbbított információk sértetlenségének ellenőrzésére (pl. hash fájlokon keresztül).</p>

<ol>

<li type="1"><h3>A FELHASZNÁLÓI SZERZŐDÉSRŐL</h3>

<p>Jelen Felhasználói Szerződés (a továbbiakban: „Szerződés”) akkor lép hatályba, amikor a felhasználó az oldalon alul található „Egyetértek” gombra kattint, és az Erőforrás használatának teljes ideje alatt érvényben marad. A Szerződés módosítható az Adminisztráció által előzetes értesítés nélkül. A Szerződés új változata a közzétételtől számított 3 (három) nappal lép hatályba, kivéve, ha a Szerződés új változata másként nem rendelkezik.</p>

<li><h3>KORLÁTOZOTT FELELŐSSÉG</h3>

<p>A felhasználó kifejezetten elfogadja, hogy az Erőforrás használata saját felelősségére történik.</p>

<p>A felhasználó tudomásul veszi és elfogadja, hogy az Erőforrás anyagai és adatai harmadik felek által készültek, és azokat ezek a harmadik felek az interneten, saját számítógépeiken és/vagy szerverein teszik közzé. Ezeknek az anyagoknak a tartalmát és biztonságát az Erőforrás Adminisztrációja nem ellenőrzi, ezért az Adminisztráció nem felel:</p>
<ul>
<p>- az Erőforráson keresztül a felhasználó által megszerzett anyagok tartalmáért, beleértve azok esetleges összhangtalanságát a hatályos jogszabályokkal vagy bármilyen sértő jellegét;</p>
<p>- a megszerzett információk alkalmazásából, használatából vagy el nem használásából eredő következményekért;</p>
<p>- az Erőforrás használatával elért eredmények és a felhasználó elvárásai közötti esetleges eltérésért;</p>
<p>- a felhasználó hardverének vagy szoftverének bármilyen, az Erőforrás használatából eredő károsodásáért;</p>
<p>- az Erőforrás bármilyen okból történő használhatatlanságáért;</p>
<p>- az illegális vagy engedély nélküli szoftverek, audio/videó tartalmak vagy más, harmadik felek jogait sértő anyagok vagy adatok terjesztéséből eredő következményekért.</p>
</ul>

<p>Az Erőforrás semmilyen körülmények között nem felel a felhasználóval vagy harmadik személlyel szemben az Erőforrás használatával vagy használhatatlanságával, illetve az ebből eredő károkért, veszteségekért vagy költségekért, beleértve az elmaradt hasznot is.</p>

<p>Az Erőforrás Adminisztrációja nem köteles biztosítani a felhasználók által szolgáltatott információk titkosságát, ugyanakkor minden ésszerű intézkedést megtesz ennek érdekében, kivéve, ha külön megállapodás vagy hatályos jogszabály másként rendelkezik.</p>

<p>Az Erőforrás kötelezettségei nem terjednek ki a továbbított információk jogszerűségének ellenőrzésére (ideértve, de nem kizárólagosan, a BitTorrent-en keresztül felhasználók között továbbított, bármilyen formában lévő belső üzeneteket, szövegeket vagy fájlokat), valamint az ezzel kapcsolatos szellemi tulajdonjogok meghatározására vagy a jogszerű adatátvitel megítélésére.</p>

<li><h3>KORLÁTOZÁSOK A FELHASZNÁLÓ ERŐFORRÁSHOZ VALÓ HOZZÁFÉRÉSÉNÉL</h3>

<p>Az Erőforrás használata során a felhasználó nem jogosult, és vállalja, hogy nem tesz a következőket:</p>
<ul>
<p>- vírusokat vagy más rosszindulatú szoftvereket tartalmazó hash fájlok (torrentek) feltöltése, valamint olyan fájlok vagy programok közzététele, amelyek bármely számítógép vagy távközlési eszköz működését megszakítják, megsemmisítik vagy korlátozzák, illetéktelen hozzáférést biztosító programok, kereskedelmi szoftverek sorozatszámai vagy ezek generálására szolgáló eszközök, felhasználónevek, jelszavak vagy más eszközök jogosulatlan internetes hozzáféréshez; ilyenekre mutató linkek közzététele is tilos;</p>
<p>- szerzői jogokat, szabadalmakat, védjegyeket, üzleti titkokat vagy más harmadik felek tulajdonjogait sértő üzenetek, adatok vagy programok tartalmú hash fájlok (torrentek) feltöltése;</p>
<p>- engedély nélküli reklámüzenetek (spam, kéretlen levelek) küldése az oldalon szereplő e-mail címekre;</p>
<p>- bármely, az Erőforráson keresztül szerzett információ kereskedelmi célú másolása vagy felhasználása, amely mások jogait sérti vagy közvetlen anyagi vagy erkölcsi kárt okozhat;</p>
<p>- olyan webes forrásokra mutató linkek közzététele, amelyek tartalma ellentmond a hatályos jogszabályoknak;</p>
<p>- impersonate any person or representative of an organization and/or community without proper authorization, including employees of the Administration or the owner of the Resource.</p>
</ul>

<li><h3>JÓTÁLLÁSOK ELUTASÍTÁSA</h3>

<p>Az Erőforráshoz való hozzáférés „ahogy van” alapon történik, mindenféle kifejezett vagy hallgatólagos garancia nélkül.</p>

<p>Az Erőforrás Adminisztrációja nem vállal garanciát az oldal vagy annak egyes részeinek, valamint a felhasználók által közzétett linkek működésére, megbízhatóságára vagy elérhetőségére.</p>

<p>Az Erőforrás nem felel közvetlen vagy közvetett károkért, amelyeket a szolgáltatás használata vagy használhatatlansága, illetve az üzenetek jogosulatlan hozzáférése okoz.</p>

<li><h3>AZ ERŐFORRÁS ADMINISZTRÁCIÓJÁNAK JOGAI</h3>

<p>Az Erőforrás Adminisztrációja jogosult indokolás és előzetes értesítés nélkül megtagadni az Erőforráshoz való hozzáférést bármely felhasználótól vagy felhasználói csoporttól.</p>

<p>Az Erőforrás Adminisztrációja előzetes értesítés vagy indoklás nélkül módosíthatja vagy törölheti a felhasználók által beküldött információkat, hash fájlokat (torrenteket), grafikákat, hanganyagokat és egyéb adatokat.</p>

<li><h3>A FELEK KÖTELEZETTSÉGEI</h3>

<p>A felhasználó elfogadja, hogy jelen szerződésből eredő vitákat a hatályos jogszabályok szerint kell rendezni.</p>

<p>A felhasználó elfogadja, hogy a fogyasztóvédelmi törvények és előírások nem alkalmazandók az Erőforrás használatára, mivel az nem nyújt fizetős szolgáltatásokat.</p>

<p>Az Erőforrás nem létesít ügynöki, társasági, közös vállalkozói, munkaviszony vagy egyéb, jelen szerződésben nem kifejezetten leírt jogviszonyt.</p>

<p>Az Erőforrás mulasztása egy felhasználó vagy felhasználói csoport jelen szerződés szerinti megsértésére válaszul nem minősül annak jóváhagyásának vagy támogatásának.</p>

<p>Az Erőforrás mulasztása a szerződés megsértésére adott válaszlépésben nem vonja meg az Erőforrástól a jogot, hogy később megfelelő intézkedéseket tegyen érdekei védelmében.</p>

<li><h3>A FELHASZNÁLÓI SZERZŐDÉS ELFOGADÁSA</h3>

<p>HA NEM FOGADJA EL A FENTI FELTÉTELEKET ÉS FELTÉTELEZÉSEKET, AKKOR TILOS AZ ERŐFORRÁS TELJES VAGY RÉSZLEGES HASZNÁLATA, KIVÉVE A FELHASZNÁLÓI SZERZŐDÉS OLDALÁT, VALAMINT TILOS A TARTALMAKHOZ BÁRMELY MÁS ÚTON TELJES VAGY RÉSZLEGES HOZZÁFÉRÉS, ILLETVE AZOK ÁTVÉTELE.</p>

<p>HA NEM ÉRT EGYET JELEN FELHASZNÁLÓI SZERZŐDÉSSEL, HALADÉKTALANUL HAGYJA EL AZ ERŐFORRÁST.</p>

</ol>
</p>

</div>
