<div id=\"infobox-body\">

<p><h1>INFORMAZIONI PER I POSSESSORI DI COPYRIGHT</h1></p>

<p>Se sei titolare del copyright di qualsiasi materiale disponibile su questo sito e non desideri che queste informazioni vengano diffuse dagli utenti senza il tuo consenso, saremo felici di assisterti rimuovendo i collegamenti appropriati.</p>

<p>Questo richiede che tu ci abbia inviato una lettera (in forma elettronica)
che ci indichi le seguenti informazioni:</p>

<p>1. Prova documentale dei diritti relativi al materiale protetto da copyright:</p>
<p> - documento scannerizzato con il sigillo, oppure</p>
<p> - email da un dominio email ufficiale della società proprietaria, oppure</p>
<p> - altre informazioni di contatto che ti identifichino in modo univoco come proprietario del materiale.</p>

<p>2. Il testo che vuoi inserire, accompagnato da informazioni rimovibili.</p>

<p>In esso puoi specificare dove e a quali condizioni è possibile ottenere le informazioni, i riferimenti ai quali sono stati rimossi, così come le tue informazioni di contatto, affinché gli utenti possano ricevere da te tutte le informazioni necessarie riguardo a questo materiale.</p>

<p>3. Link diretti alle pagine che contengono riferimenti ai dati che devono essere rimossi.</p>

<p>I link dovrebbero essere visualizzati come <strong>https://url.to/link</strong> o simili.</p>

<p>Successivamente, entro 48 ore, rimuoveremo i link di tuo interesse dal sito.</p>

<p class="bold">La nostra email: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ATTENZIONE!</p>

<p>a) Ci riserviamo il diritto di pubblicare sul sito qualsiasi informazione inviata via mail a <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Qualsiasi informazione nel forum viene pubblicata automaticamente, senza alcun controllo da parte di alcuna autorità, conformemente alla prassi internazionale generalmente accettata per la pubblicazione di informazioni su Internet. Tuttavia, in ogni caso, prendiamo in considerazione tutte le tue richieste riguardanti i riferimenti a informazioni che violano i tuoi diritti.</p>

<p>c) Ai sensi della Legge sul Diritto d'Autore e Diritti Connessi, un riferimento a qualsiasi dato (messaggio informativo), di per sé, non è soggetto alla normativa sul diritto d'autore (anche se può violare il "Contratto per l'uso del sito"). Pertanto, non è necessario inviare lettere contenenti minacce o richieste, in quanto prive di fondamento reale.</p>

</div><!--/infobox-body-->
