<div id="infobox-body">

<p><h1>INFORMAZIONI PER I POSSESSORI DI COPYRIGHT</h1></p>

<p>Se sei titolare del copyright di qualsiasi materiale collegato su questo sito e non desideri che queste informazioni vengano distribuite dagli utenti senza il tuo consenso, saremo lieti di assisterti rimuovendo i link pertinenti.</p>

<p>Per farlo, ti preghiamo di inviarci una lettera elettronica contenente le seguenti informazioni:</p>

<p>1. Prova documentale dei tuoi diritti sul materiale protetto da copyright:</p>
<p> — un documento scansionato recante un sigillo ufficiale, oppure</p>
<p> — un'email inviata dal dominio ufficiale della società titolare dei diritti, oppure</p>
<p> — altre informazioni di contatto che ti identifichino univocamente come titolare dei diritti.</p>

<p>2. Il testo sostitutivo che desideri venga pubblicato al posto del contenuto rimosso.</p>

<p>In questo testo, puoi specificare dove e a quali condizioni gli utenti possono ottenere le informazioni i cui link sono stati rimossi, così come i tuoi recapiti per permettere agli utenti di contattarti riguardo a questo materiale.</p>

<p>3. Link diretti alle pagine contenenti riferimenti ai dati che devono essere rimossi.</p>

<p>I link devono essere nel formato <strong>https://url.to/link</strong> o simile.</p>

<p>Entro 48 ore dal ricevimento della tua richiesta, rimuoveremo i link pertinenti dal sito.</p>

<p class="bold">La nostra email: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>AVVERTENZA!</p>

<p>a) Ci riserviamo il diritto di pubblicare sul sito qualsiasi informazione inviata a <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Non abbiamo alcun controllo sulle azioni degli utenti che potrebbero ripubblicare link a informazioni soggette al tuo copyright. Tutte le informazioni sul forum sono pubblicate automaticamente, senza revisione o moderazione preventiva, in conformità alle pratiche internazionali generalmente accettate per l'hosting di informazioni su Internet. Tuttavia, valuteremo tutte le richieste riguardanti link a informazioni che violano i tuoi diritti.</p>

<p>c) Ai sensi della legislazione vigente sul copyright e diritti connessi, un collegamento ipertestuale a dati (riferimento informativo) non è, di per sé, soggetto a protezione del copyright (sebbene possa violare il Contratto dell'utente del sito). Pertanto, ti preghiamo di astenerti dall'inviare lettere contenenti minacce o richieste, poiché non vi sono basi legali per tali pretese.</p>

</div>
