<div>
	<h3>Sidebar 2</h3>
	Per aggiungere contenuti in questa barra laterale, modificare i seguenti file:
	<br /><br />
	<ul class="med">
		<li>libreria/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Per disabilitare questa barra laterale, impostare la variabile page.show_sidebar2 nel file config/layouts.php su false.
</div>
