<div id=\"infobox-body\">

<p>

<p><h1>ACCORDO PER GLI UTENTI</h1></p>

<p><h3>INFORMAZIONI SUL SITO</h3></p>

<p>Risorsa web / sito internet (di seguito - Risorsa) è un sito internet che permette agli utenti di condividere informazioni tra loro tramite bit-torrent, nonché in forma libera, e fornisce un mezzo per monitorare l'integrità delle informazioni trasmesse (tramite file hash).</p>

<ol>

<li type="1"><h3>SULL'ACCORDO PER GLI UTENTI</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. USER AGREEMENT may be changed by the Administration without any notice. <p>La nuova versione dell'ACCORDO entra in vigore dopo 3 (tre) giorni dalla data in cui viene presentata, salvo diversa disposizione nella nuova versione dell'ACCORDO PER GLI UTENTI.</p>

<li><h3>LIMITAZIONI DI RESPONSABILITÀ</h3>

<p>L'utente accetta espressamente di utilizzare la Risorsa a proprio rischio.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. <p>Il contenuto e la sicurezza di questi materiali non possono essere controllati dall'amministrazione della Risorsa, pertanto quest'ultima non è responsabile per:</p>
<ul>
<p>- il contenuto dei materiali ottenuti dall'Utente tramite l'uso dei dati della Risorsa e la loro possibile incongruenza con le leggi applicabili o offensiva;</p>
<p>- le conseguenze dell'applicazione, uso o mancato uso delle informazioni ricevute;</p>
<p>- una possibile discrepanza tra i risultati ottenuti utilizzando la Risorsa e le aspettative dell'Utente;</p>
<p>- qualsiasi danno a hardware o software dell'Utente derivante dall'uso della Risorsa;</p>
<p>- l'impossibilità di utilizzare la Risorsa per qualsiasi motivo;</p>
<p>- le conseguenze che possono derivare dalla diffusione di software illegale o non autorizzato e prodotti audio/video e altri materiali o dati che incidono sui diritti di terzi.</p>
</ul>

<p>In nessun caso la Risorsa sarà responsabile nei confronti dell'Utente o di terzi per danni, perdite o spese derivanti da questa Risorsa, dal suo uso o dall'impossibilità di utilizzarla, inclusa la perdita o la mancata realizzazione di profitti.</p>

<p>L'Amministrazione della Risorsa non è obbligata a garantire la riservatezza delle informazioni fornite dagli Utenti, pur adottando tutte le misure possibili a tal fine, salvo diverso accordo o disposizioni legislative vigenti.</p>

<p>Non sono compiti della Risorsa controllare le informazioni legalmente o illegalmente trasmesse (qualsiasi, comprese, ma non limitate a, informazioni trasmesse tra utenti tramite bit-torrent, trasferimenti interni di informazioni in vari collegamenti, testi o file), né definire i diritti di proprietà o la legittimità della trasmissione o ricezione di tali informazioni.</p>

<li><h3>LIMITI DI UTILIZZO DELLA RISORSA DA PARTE DELL'UTENTE</h3>

<p>Quando si utilizza questa Risorsa, l'UTENTE non ha il diritto e accetta quanto segue:</p>
<ul>
<p>- inserire file hash (torrent) contenenti virus o altri programmi dannosi noti, file o programmi progettati per interrompere, distruggere o limitare la funzionalità di qualsiasi apparecchiatura informatica o di telecomunicazione o programmi per accesso non autorizzato, nonché numeri seriali per prodotti software commerciali e programmi per la loro generazione, login, password e altri mezzi per ottenere accesso non autorizzato a siti Internet, oltre a pubblicare link a tali informazioni;</p>
<p>- inserire file hash (torrent) contenenti messaggi, dati o programmi il cui uso viola qualsiasi brevetto, marchio, segreto commerciale, copyright o altri diritti di proprietà e/o diritti d'autore e diritti connessi di terzi;</p>
<p>- inviare messaggi e-mail agli indirizzi indicati sul sito, di tipo pubblicitario non autorizzato (junk mail, spam);</p>
<p>- copiare e utilizzare a fini commerciali qualsiasi informazione ottenuta tramite questa Risorsa, che viola i diritti di terzi o potrebbe causare loro danni materiali o morali diretti;</p>
<p>- pubblicare link a risorse web il cui contenuto è in contraddizione con la legislazione vigente;</p>
<p>- impersonare qualsiasi persona o rappresentante di un'organizzazione e/o comunità senza diritti sufficienti, inclusi i dipendenti dell'Amministrazione, a nome del proprietario della Risorsa.</p>
</ul>

<li><h3>GARANZIA DI PRESTAZIONE</h3>

<p>L'accesso alla Risorsa è fornito "così com'è" senza garanzie di alcun tipo, né esplicite né implicite.</p>

<p>In particolare, l'Amministrazione della Risorsa non garantisce la funzionalità del sito e delle sue singole sezioni, né la prestazione e l'affidabilità dei link inseriti dagli Utenti.</p>

<p>La Risorsa non è responsabile per alcuna perdita diretta o indiretta dovuta all'uso o all'impossibilità di utilizzare il servizio, né per accessi non autorizzati alle comunicazioni.</p>

<li><h3>DIRITTI DELL'AMMINISTRAZIONE DELLA RISORSA</h3>

<p>L'Amministrazione della Risorsa ha il diritto di negare l'accesso a qualsiasi Utente o Gruppo di utenti senza spiegazioni e senza preavviso.</p>

<p>L'Amministrazione della Risorsa può modificare o eliminare qualsiasi informazione, file hash (torrent), grafica, audio e altri dati inviati dall'Utente senza preavviso né spiegazioni.</p>

<li><h3>RESPONSABILITÀ DELLE PARTI</h3>

<p>L'Utente accetta che tutte le possibili controversie riguardanti l'ACCORDO SULL'UTILIZZO saranno risolte secondo le norme di legge.</p>

<p>L'Utente accetta che le norme e le leggi sulla tutela dei consumatori non si applicano all'uso della Risorsa, poiché non offre servizi a pagamento.</p>

<p>La Risorsa non instaura rapporti di agenzia, collaborazione, reclutamento, né altri rapporti che non siano espressamente descritti nell'ACCORDO SULL'UTILIZZO.</p>

<p>L'inerzia della Risorsa in caso di violazione da parte di un Utente o Gruppo di utenti dell'ACCORDO PER GLI UTENTI non implica assistenza da parte della Risorsa a tali azioni.</p>

<p>L'inerzia da parte della Risorsa in caso di violazione dell'ACCORDO PER GLI UTENTI da parte di un Utente o Gruppo di utenti non priva la Risorsa del diritto di adottare in seguito azioni appropriate per proteggere i propri interessi.</p>

<li><h3>ACCETTAZIONE DELL'ACCORDO PER GLI UTENTI</h3>

<p>SE NON ACCETTATE TUTTI I TERMINI E LE CONDIZIONI SOPRA RIPORTATI, NON POTETE ACCEDERE ALLA RISORSA NEL SUO COMPLESSO O IN PARTE, ECCETTO ALLA PAGINA DEL PRESENTE ACCORDO, NÉ RICEVERE E/O ACCEDERE AI CONTENUTI DELLA RISORSA IN ALCUN ALTRO MODO, NÉ COMPLESSIVAMENTE NÉ IN PARTE!</p>

<p>SE NON ACCETTATE QUESTO ACCORDO PER GLI UTENTI, DOVETE IMMEDIATAMENTE ABBANDONARE LA RISORSA.</p>

</ol>
</p>

</div><!--/infobox-body-->
