<div id="infobox-body">

<p>

<p><h1>ACCORDO PER GLI UTENTI</h1></p>

<p><h3>SUL SITO</h3></p>

<p>Questa risorsa/sito internet (di seguito denominata "Risorsa") è un sito web che consente agli utenti di condividere informazioni tra loro tramite BitTorrent, nonché in altre forme, e fornisce un mezzo per verificare l'integrità delle informazioni trasmesse (tramite file hash).</p>

<ol>

<li type="1"><h3>SULL'ACCORDO PER GLI UTENTI</h3>

<p>Il presente Accordo per l'Utente (di seguito denominato "Accordo") entrerà in vigore al momento del clic su "Accetto" in fondo alla pagina e rimarrà valido per tutta la durata dell'utilizzo della Risorsa da parte dell'Utente. L'Amministrazione può modificare l'Accordo senza preavviso. La nuova versione dell'Accordo entra in vigore dopo 3 (tre) giorni dalla sua pubblicazione, salvo diversa indicazione nella nuova versione dell'Accordo.</p>

<li><h3>LIMITAZIONI DI RESPONSABILITÀ</h3>

<p>L'Utente accetta espressamente di utilizzare la Risorsa a proprio rischio.</p>

<p>L'Utente riconosce e accetta che la Risorsa tratta materiali e dati creati da terze parti e ospitati da esse su Internet utilizzando i propri computer e/o server. Il contenuto e la sicurezza di tali materiali non possono essere controllati dall'Amministrazione della Risorsa; pertanto, l'Amministrazione non è responsabile:</p>
<ul>
<p>- per il contenuto dei materiali ottenuti dall'Utente tramite la Risorsa, inclusa qualsiasi possibile incongruenza con le leggi applicabili o la loro natura offensiva;</p>
<p>- per le conseguenze derivanti dall'applicazione, dall'uso o dalla mancata applicazione delle informazioni ottenute;</p>
<p>- per qualsiasi discrepanza tra i risultati ottenuti tramite la Risorsa e le aspettative dell'Utente;</p>
<p>- per eventuali danni all'hardware o al software dell'Utente derivanti dall'uso della Risorsa;</p>
<p>- per qualsiasi impossibilità di utilizzare la Risorsa per qualsiasi motivo;</p>
<p>- per le conseguenze derivanti dalla diffusione di software illegale o non autorizzato, contenuti audio/video o altri materiali o dati che violano i diritti di terzi.</p>
</ul>

<p>In nessun caso la Risorsa sarà responsabile nei confronti dell'Utente o di terzi per danni, perdite o spese derivanti dalla Risorsa, dal suo utilizzo o dall'impossibilità di utilizzarla, inclusa la perdita di profitti.</p>

<p>L'Amministrazione della Risorsa non è obbligata a garantire la riservatezza delle informazioni fornite dai propri Utenti, pur adottando tutte le misure ragionevoli per farlo, salvo diverso accordo o diversa previsione della normativa applicabile.</p>

<p>I doveri della Risorsa non includono il monitoraggio della legalità delle informazioni trasmesse (inclusi, ma non limitati a, informazioni trasmesse tra utenti tramite BitTorrent, messaggi interni di qualsiasi forma, testi o file), né la determinazione dei diritti di proprietà intellettuale o della legittimità della trasmissione o ricezione di tali informazioni.</p>

<li><h3>RESTRIZIONI ALL'USO DELLA RISORSA DA PARTE DELL'UTENTE</h3>

<p>Durante l'utilizzo di questa Risorsa, l'Utente non deve, e accetta di non:</p>
<ul>
<p>- caricare file hash (torrent) contenenti dati con virus o altri software dannosi, file o programmi progettati per interrompere, distruggere o limitare la funzionalità di qualsiasi apparecchiatura informatica o di telecomunicazione, programmi per accesso non autorizzato, numeri seriali per software commerciali o strumenti per generarli, login, password o altri mezzi per ottenere accesso non autorizzato a risorse internet, nonché pubblicare link a quanto sopra;</p>
<p>- caricare file hash (torrent) contenenti messaggi, dati o programmi il cui uso viola brevetti, marchi, segreti commerciali, diritti d'autore o altri diritti di proprietà e/o diritti correlati di terzi;</p>
<p>- inviare messaggi pubblicitari non autorizzati (posta indesiderata, spam) agli indirizzi email elencati sul sito;</p>
<p>- copiare e utilizzare a fini commerciali qualsiasi informazione ottenuta tramite la Risorsa che violi i diritti altrui o che possa arrecare danni materiali o morali diretti;</p>
<p>- pubblicare link a risorse web il cui contenuto viola la legislazione applicabile;</p>
<p>- impersonare qualsiasi persona o rappresentante di un'organizzazione e/o comunità senza adeguata autorizzazione, inclusi dipendenti dell'Amministrazione o il proprietario della Risorsa.</p>
</ul>

<li><h3>DICHIARAZIONE DI ESCLUSIONE DELLE GARANZIE</h3>

<p>L'accesso alla Risorsa è fornito "così com'è", senza alcuna garanzia di alcun tipo, espressa o implicita.</p>

<p>In particolare, l'Amministrazione della Risorsa non garantisce la funzionalità del sito o delle sue singole sezioni, né l'operatività e l'affidabilità dei link inseriti dagli Utenti.</p>

<p>La Risorsa non è responsabile per eventuali perdite dirette o indirette derivanti dall'utilizzo o dall'impossibilità di utilizzare il servizio; o dall'accesso non autorizzato alle comunicazioni.</p>

<li><h3>DIRITTI DELL'AMMINISTRAZIONE DELLA RISORSA</h3>

<p>L'Amministrazione della Risorsa ha il diritto di negare l'accesso alla Risorsa a qualsiasi Utente o gruppo di Utenti senza spiegazioni o preavviso.</p>

<p>L'Amministrazione della Risorsa può modificare o cancellare qualsiasi informazione, file hash (torrent), grafiche, audio e altri dati forniti dagli Utenti senza preavviso o spiegazioni.</p>

<li><h3>RESPONSABILITÀ DELLE PARTI</h3>

<p>L'Utente accetta che tutte le controversie derivanti dal presente Accordo saranno risolte in conformità con la legge applicabile.</p>

<p>L'Utente accetta che le leggi e i regolamenti sulla protezione dei consumatori non si applicheranno all'uso di questa Risorsa, in quanto non fornisce servizi a pagamento.</p>

<p>La Risorsa non instaura rapporti di agenzia, partnership, joint venture, lavoro dipendente o altri rapporti non espressamente descritti nel presente Accordo.</p>

<p>L'inerzia della Risorsa di fronte a una violazione di questo Accordo da parte di un Utente o di un gruppo di Utenti non costituisce approvazione o assistenza a tali azioni.</p>

<p>L'inerzia della Risorsa di fronte a una violazione di questo Accordo da parte di un Utente o di un gruppo di Utenti non priva la Risorsa del diritto di adottare in futuro azioni appropriate per proteggere i propri interessi.</p>

<li><h3>ACCETTAZIONE DELL'ACCORDO PER GLI UTENTI</h3>

<p>SE NON ACCETTI TUTTI I TERMINI E LE CONDIZIONI SOPRA RIPORTATI, NON SEI AUTORIZZATO AD ACCEDERE ALLA RISORSA, NÉ IN TOTO NÉ IN PARTE, AD ECCEZIONE DELLA PRESENTE PAGINA DELL'ACCORDO PER GLI UTENTI, NÉ A RICEVERE E/O ACCEDERE AI CONTENUTI DELLA RISORSA IN QUALUNQUE ALTRO MODO, IN TOTO O IN PARTE.</p>

<p>SE NON SEI D'ACCORDO CON QUESTO ACCORDO PER GLI UTENTI, DEVI LASCIARE IMMEDIATAMENTE LA RISORSA.</p>

</ol>
</p>

</div>
