<div id="infobox-body">

<p><h1>ΠΛΗΡΟΦΟΡΙΕΣ ΓΙΑ ΤΟΥΣ ΚΑΤΟΧΟΥΣ ΠΝΕΥΜΑΤΙΚΩΝ ΔΙΚΑΙΩΜΑΤΩΝ</h1></p>

<p>Εάν είστε ο κάτοχος των πνευματικών δικαιωμάτων οποιουδήποτε υλικού που συνδέεται σε αυτόν τον ιστότοπο και δεν επιθυμείτε αυτές οι πληροφορίες να διανέμονται από χρήστες χωρίς τη συγκατάθεσή σας, θα χαρούμε να σας βοηθήσουμε αφαιρώντας τους σχετικούς συνδέσμους.</p>

<p>Για να το κάνετε αυτό, παρακαλούμε στείλτε μας ένα ηλεκτρονικό γράμμα που να περιέχει τις ακόλουθες πληροφορίες:</p>

<p>1. Τεκμηριωμένη απόδειξη των δικαιωμάτων σας στο υλικό που προστατεύεται από πνευματικά δικαιώματα:</p>
<p> — ένα σαρωμένο έγγραφο που φέρει επίσημη σφραγίδα, ή</p>
<p> — ένα email αποσταλμένο από το επίσημο domain της εταιρείας που κατέχει τα δικαιώματα, ή</p>
<p> — άλλα στοιχεία επικοινωνίας που σας ταυτοποιούν μοναδικά ως κάτοχο των δικαιωμάτων.</p>

<p>2. Το κείμενο αντικατάστασης που θέλετε να δημοσιευτεί στη θέση του αφαιρεθέντος περιεχομένου.</p>

<p>Σε αυτό το κείμενο, μπορείτε να προσδιορίσετε πού και υπό ποιες προϋποθέσεις οι χρήστες μπορούν να λάβουν τις πληροφορίες των οποίων οι σύνδεσμοι έχουν αφαιρεθεί, καθώς και τα στοιχεία επικοινωνίας σας ώστε οι χρήστες να μπορούν να επικοινωνήσουν μαζί σας σχετικά με αυτό το υλικό.</p>

<p>3. Άμεσοι σύνδεσμοι προς σελίδες που περιέχουν αναφορές στα δεδομένα που πρέπει να αφαιρεθούν.</p>

<p>Οι σύνδεσμοι πρέπει να έχουν τη μορφή <strong>https://url.to/link</strong> ή παρόμοια.</p>

<p>Εντός 48 ωρών από τη λήψη του αιτήματός σας, θα αφαιρέσουμε τους σχετικούς συνδέσμους από τον ιστότοπο.</p>

<p class="bold">Το email μας: <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ΠΡΟΣΟΧΗ!</p>

<p>α) Διατηρούμε το δικαίωμα να δημοσιεύσουμε στην ιστοσελίδα οποιαδήποτε πληροφορία μας αποσταλεί στο <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>β) Δεν έχουμε έλεγχο επί των ενεργειών των χρηστών που ενδέχεται να αναδημοσιεύσουν συνδέσμους προς πληροφορίες που αποτελούν αντικείμενο των πνευματικών σας δικαιωμάτων. Όλες οι πληροφορίες στο φόρουμ αναρτώνται αυτόματα, χωρίς προέγκριση ή επιμέλεια, σύμφωνα με τις γενικά αποδεκτές διεθνείς πρακτικές για τη φιλοξενία πληροφοριών στο Διαδίκτυο. Παρόλα αυτά, θα εξετάσουμε όλα τα αιτήματα σχετικά με συνδέσμους σε πληροφορίες που παραβιάζουν τα δικαιώματά σας.</p>

<p>γ) Σύμφωνα με την ισχύουσα νομοθεσία περί πνευματικών δικαιωμάτων και συναφών δικαιωμάτων, ένας υπερσύνδεσμος σε δεδομένα (μια πληροφοριακή αναφορά) δεν υπόκειται από μόνος του σε προστασία πνευματικών δικαιωμάτων (αν και μπορεί να παραβιάζει τη Συμφωνία Χρήστη του ιστότοπου). Παρακαλούμε, συνεπώς, αποφύγετε την αποστολή επιστολών που περιέχουν απειλές ή απαιτήσεις, καθώς δεν υπάρχουν νομικές βάσεις για τέτοιους ισχυρισμούς.</p>

</div>
