<div id=\"infobox-body\">

<p><h1>ΠΛΗΡΟΦΟΡΙΕΣ ΓΙΑ ΤΟΥΣ ΚΑΤΟΧΟΥΣ ΠΝΕΥΜΑΤΙΚΩΝ ΔΙΚΑΙΩΜΑΤΩΝ</h1></p>

<p>Εάν κατέχετε τα πνευματικά δικαιώματα οποιουδήποτε υλικού συνδέσμου (ή συνδέσμων) που είναι διαθέσιμος σε αυτήν την ιστοσελίδα και δεν επιθυμείτε τη διάδοση αυτής της πληροφορίας από τους χρήστες χωρίς τη συγκατάθεσή σας, θα χαρούμε να σας βοηθήσουμε αφαιρώντας τους αντίστοιχους συνδέσμους.</p>

<p>Αυτό απαιτεί να μας έχετε αποστείλει μια επιστολή (ηλεκτρονική μορφή)
που να μας υποδεικνύει τις ακόλουθες πληροφορίες:</p>

<p>1. Τεκμηρίωση των δικαιωμάτων σας σε υλικό που προστατεύεται από πνευματικά δικαιώματα:</p>
<p> - σαρωμένο έγγραφο με σφραγίδα, ή</p>
<p> - ηλεκτρονικό μήνυμα από τον επίσημο τομέα της εταιρείας, ή</p>
<p> - άλλα στοιχεία επικοινωνίας που σας ταυτοποιούν μοναδικά ως ιδιοκτήτη του υλικού.</p>

<p>2. Το κείμενο που θέλετε να τοποθετήσετε, συνοδευόμενο από πληροφορίες που μπορούν να αφαιρεθούν.</p>

<p>Σε αυτό μπορείτε να ορίσετε πού και υπό ποιες προϋποθέσεις μπορούν να ληφθούν οι πληροφορίες για τις οποίες έχουν αφαιρεθεί οι αναφορές, καθώς και τα στοιχεία επικοινωνίας σας, ώστε οι χρήστες να μπορούν να λάβουν από εσάς όλες τις απαραίτητες πληροφορίες σχετικά με αυτό το υλικό.</p>

<p>3. Άμεσοι σύνδεσμοι προς σελίδες που περιέχουν αναφορές σε δεδομένα που πρέπει να αφαιρεθούν.</p>

<p>Οι σύνδεσμοι πρέπει να εμφανίζονται ως <strong>https://url.to/link</strong> ή κάτι παρόμοιο.</p>

<p>Μετά από αυτό, εντός 48 ωρών, θα αφαιρέσουμε από τον ιστότοπο τους συνδέσμους που σας ενδιαφέρουν.</p>

<p class="bold">Το ηλεκτρονικό μας ταχυδρομείο: <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ΠΡΟΕΙΔΟΠΟΙΗΣΗ!</p>

<p>α) Διατηρούμε το δικαίωμα να δημοσιεύσουμε στην ιστοσελίδα οποιαδήποτε πληροφορία μας αποστέλλεται μέσω ταχυδρομείου στο <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>β) Δεν έχουμε κανέναν έλεγχο στις ενέργειες των χρηστών που μπορεί να αναδημοσιεύσουν συνδέσμους προς πληροφορίες, οι οποίες αποτελούν αντικείμενο των πνευματικών σας δικαιωμάτων. Οποιαδήποτε πληροφορία στο φόρουμ τοποθετείται αυτόματα, χωρίς κανέναν έλεγχο από οποιαδήποτε πλευρά, κάτι που αντιστοιχεί στη γενικά αποδεκτή διεθνή πρακτική δημοσίευσης πληροφοριών στο Διαδίκτυο. Ωστόσο, σε κάθε περίπτωση, εξετάζουμε όλα τα αιτήματά σας σχετικά με αναφορές σε πληροφορίες που παραβιάζουν τα δικαιώματά σας.</p>

<p>γ) Σύμφωνα με τον Νόμο περί Πνευματικής Ιδιοκτησίας και Σχετικών Δικαιωμάτων, μία αναφορά σε οποιαδήποτε δεδομένα (μήνυμα πληροφοριών), από μόνη της, δεν υπόκειται στον νόμο περί πνευματικής ιδιοκτησίας (αν και μπορεί να παραβιάζει τη «Συμφωνία χρήσης της ιστοσελίδας»). Επομένως, δεν είναι απαραίτητο να αποστέλλετε επιστολές που περιέχουν απειλές ή απαιτήσεις, καθώς δεν έχουν πραγματική βάση.</p>

</div><!--/infobox-body-->
