<div>
	<h3>Πλαϊνή στήλη 2</h3>
	Για να προσθέσετε περιεχόμενο σε αυτήν την πλαϊνή στήλη, επεξεργαστείτε τα ακόλουθα αρχεία:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Για να απενεργοποιήσετε αυτήν την πλαϊνή στήλη, ρυθμίστε τη μεταβλητή page.show_sidebar2 στο αρχείο config/layouts.php σε false.
</div>
