<div id=\"infobox-body\">

<p>

<p><h1>ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ</h1></p>

<p><h3>ΣΧΕΤΙΚΑ ΜΕ ΤΟΝ ΙΣΤΟΤΟΠΟ</h3></p>

<p>Ο διαδικτυακός πόρος / ιστότοπος (εφεξής «Πόρος») είναι ένας ιστότοπος που επιτρέπει στους χρήστες να ανταλλάσσουν πληροφορίες μεταξύ τους μέσω BitTorrent, καθώς και σε ελεύθερη μορφή, και παρέχει μέσα για την παρακολούθηση της ακεραιότητας των μεταδιδόμενων πληροφοριών (μέσω αρχείων κατακερματισμού).</p>

<ol>

<li type="1"><h3>ΣΧΕΤΙΚΑ ΜΕ ΤΗ ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ</h3>

<p>Η παρούσα ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ τίθεται σε ισχύ μετά το πάτημα του κουμπιού \"Συμφωνώ\" στο κάτω μέρος και ισχύει καθ9    διάρκεια χρήσης του Πόρου από τους χρήστες. Η ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ μπορεί να αλλάξει από τη Διοίκηση χωρίς καμία ειδοποίηση. Η νέα έκδοση της ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ τίθεται σε ισχύ μετά από 3 (τρεις) ημέρες από την ημερομηνία δημοσίευσής της, εκτός εάν προβλέπεται διαφορετικά στη νέα έκδοση.</p>

<li><h3>ΠΕΡΙΟΡΙΣΜΟΙ ΕΥΘΥΝΗΣ</h3>

<p>Ο χρήστης συμφωνεί ρητά ότι χρησιμοποιεί τον Πόρο με δική του ευθύνη.</p>

<p>Ο χρήστης γνωρίζει και συμφωνεί ότι ο Πόρος περιλαμβάνει υλικά και δεδομένα που έχουν δημιουργηθεί από τρίτους και τοποθετηθεί στο Διαδίκτυο στους υπολογιστές και/ή τους διακομιστές τους. Το περιεχόμενο και η ασφάλεια των εν λόγω υλικών δεν μπορούν να ελεγχθούν από τη διοίκηση του Πόρου, επομένως αυτή δεν φέρει ευθύνη:</p>
<ul>
<p>- για το περιεχόμενο υλικών που ο Χρήστης αποκτά μέσω χρήσης των δεδομένων του Πόρου και για τυχόν ασυμφωνία με την ισχύουσα νομοθεσία ή για προσβλητικό χαρακτήρα αυτών;</p>
<p>- για τις συνέπειες που προκύπτουν από την εφαρμογή, χρήση ή μη χρήση των πληροφοριών που λαμβάνονται;</p>
<p>- για τυχόν απόκλιση μεταξύ των αποτελεσμάτων που προκύπτουν από τη χρήση του Πόρου και των προσδοκιών του Χρήστη;</p>
<p>- για οποιαδήποτε ζημία στο υλικό ή στο λογισμικό του Χρήστη που προκύπτει από τη χρήση του Πόρου;</p>
<p>- για την αδυναμία χρήσης του Πόρου για οποιονδήποτε λόγο;</p>
<p>- για τις συνέπειες που ενδέχεται να προκύψουν από τη διάδοση παράνομου ή μη αδειοδοτημένου λογισμικού, προϊόντων ήχου/βίντεο και άλλων υλικών ή δεδομένων που θίγουν τα δικαιώματα τρίτων.</p>
</ul>

<p>Σε καμία περίπτωση ο Πόρος δεν φέρει ευθύνη έναντι του Χρήστη ή τρίτου για ζημίες, απώλειες ή έξοδα που προκύπτουν σε σχέση με αυτόν τον Πόρο, τη χρήση του ή την αδυναμία χρήσης, συμπεριλαμβανομένης της απώλειας κερδών.</p>

<p>Η διοίκηση του Πόρου δεν έχει υποχρέωση να διασφαλίζει την εχεμύθεια των πληροφοριών που παρέχουν οι Χρήστες, παρότι λαμβάνονται τα δυνατά μέτρα, εφόσον δεν υπάρχει αντίθετη συμφωνία ή ειδικές απαιτήσεις της κείμενης νομοθεσίας.</p>

<p>Στα καθήκοντα του Πόρου ΔΕΝ ΣΥΜΠΕΡΙΛΑΜΒΑΝΕΤΑΙ ο έλεγχος πληροφοριών που διαβιβάζονται νόμιμα ή παράνομα (συμπεριλαμβανομένων, ενδεικτικά, πληροφοριών που μεταδίδονται μεταξύ χρηστών μέσω BitTorrent, εσωτερικών μεταφορών πληροφοριών με διάφορους συνδέσμους, κειμένου ή αρχείων), ο καθορισμός δικαιωμάτων ιδιοκτησίας ή η αξιολόγηση της νομιμότητας της μετάδοσης ή λήψης που χρησιμοποιεί αυτές τις πληροφορίες.</p>

<li><h3>ΠΕΡΙΟΡΙΣΜΟΙ ΧΡΗΣΗΣ ΤΟΥ ΠΟΡΟΥ ΑΠΟ ΤΟΝ ΧΡΗΣΤΗ</h3>

<p>Κατά τη χρήση αυτού του Πόρου, ο ΧΡΗΣΤΗΣ δεν έχει το δικαίωμα και συμφωνεί ότι δεν θα:</p>
<ul>
<p>- να αναρτά hash-αρχεία (torrents) ή δεδομένα που περιέχουν ιούς ή άλλα κακόβουλα προγράμματα, αρχεία ή προγράμματα σχεδιασμένα να παρεμποδίζουν, καταστρέφουν ή περιορίζουν τη λειτουργικότητα οποιουδήποτε υπολογιστικού ή τηλεπικοινωνιακού εξοπλισμού, προγράμματα για μη εξουσιοδοτημένη πρόσβαση, καθώς και σειριακούς αριθμούς εμπορικού λογισμικού και προγράμματα για την παραγωγή τους, ονόματα χρήστη, κωδικούς πρόσβασης ή άλλα μέσα απόκτησης μη εξουσιοδοτημένης πρόσβασης σε ιστοτόπους στο Διαδίκτυο, καθώς και συνδέσμους προς τις παραπάνω πληροφορίες;</p>
<p>- να αναρτά hash-αρχεία (torrents), μηνύματα, δεδομένα ή προγράμματα των οποίων η χρήση παραβιάζει διπλώματα ευρεσιτεχνίας, εμπορικά σήματα, εταιρικά μυστικά, πνευματικά δικαιώματα ή άλλα δικαιώματα ιδιοκτησίας τρίτων;</p>
<p>- να αποστέλλει, στις διευθύνσεις ηλεκτρονικού ταχυδρομείου που αναγράφονται στον ιστότοπο, μη εξουσιοδοτημένα διαφημιστικά μηνύματα (junk mail, spam);</p>
<p>- να αντιγράφει και να χρησιμοποιεί για εμπορικούς σκοπούς οποιεσδήποτε πληροφορίες που αποκτήθηκαν μέσω του Πόρου, οι οποίες παραβιάζουν τα δικαιώματα τρίτων ή θα μπορούσαν να προκαλέσουν άμεση υλική ή ηθική βλάβη;</p>
<p>- να δημοσιεύει συνδέσμους σε ιστότοπους των οποίων το περιεχόμενο αντιβαίνει στην ισχύουσα νομοθεσία;</p>
<p>- να παριστάνει οποιοδήποτε πρόσωπο ή εκπρόσωπο οργανισμού και/ή κοινότητας χωρίς επαρκή εξουσιοδότηση, συμπεριλαμβανομένων των υπαλλήλων της Διοίκησης ή του ιδιοκτήτη του Πόρου;</p>
</ul>

<li><h3>ΕΓΓΥΗΣΗ ΑΠΟΔΟΣΗΣ</h3>

<p>Η πρόσβαση στον Πόρο παρέχεται «ως έχει» χωρίς καμία εγγύηση οποιουδήποτε είδους, είτε ρητή είτε σιωπηρή.</p>

<p>Ειδικότερα, η διοίκηση του Πόρου δεν εγγυάται τη λειτουργικότητα του ιστότοπου και των επιμέρους τμημάτων του, ούτε την απόδοση και αξιοπιστία των συνδέσμων που αναρτούν οι χρήστες.</p>

<p>Ο Πόρος δεν ευθύνεται για οποιεσδήποτε άμεσες ή έμμεσες ζημίες που προκύπτουν λόγω: της χρήσης ή της αδυναμίας χρήσης της υπηρεσίας; της μη εξουσιοδοτημένης πρόσβασης στις επικοινωνίες σας.</p>

<li><h3>ΔΙΚΑΙΩΜΑΤΑ ΤΗΣ ΔΙΟΙΚΗΣΗΣ ΤΟΥ ΠΟΡΟΥ</h3>

<p>Η διοίκηση του Πόρου έχει το δικαίωμα να αρνηθεί την πρόσβαση στον Πόρο σε οποιονδήποτε χρήστη ή ομάδα χρηστών χωρίς αιτιολόγηση και χωρίς προειδοποίηση.</p>

<p>Η διοίκηση του Πόρου μπορεί να τροποποιήσει ή να διαγράψει οποιαδήποτε πληροφορία, hash-αρχεία (torrents), γραφικά, αρχεία ήχου και άλλα δεδομένα που έχουν υποβληθεί από χρήστες στον Πόρο, χωρίς ειδοποίηση ή αιτιολόγηση.</p>

<li><h3>ΕΥΘΥΝΕΣ ΤΩΝ ΜΕΡΩΝ</h3>

<p>Ο χρήστης συμφωνεί ότι όλες οι τυχόν διαφορές που αφορούν τη ΣΥΜΦΩΝΙΑ ΧΡΗΣΗΣ θα επιλύονται σύμφωνα με την ισχύουσα νομοθεσία.</p>

<p>Ο χρήστης συμφωνεί ότι οι κανόνες και οι νόμοι περί προστασίας του καταναλωτή δεν εφαρμόζονται στη χρήση του Πόρου, καθώς δεν παρέχονται επί πληρωμή υπηρεσίες.</p>

<p>Ο Πόρος δεν δημιουργεί σχέσεις εκπροσώπησης, εταιρικές σχέσεις για κοινές δραστηριότητες, σχέσεις πρόσληψης ή οποιεσδήποτε άλλες σχέσεις, εφόσον αυτές δεν περιγράφονται ρητά στη ΣΥΜΦΩΝΙΑ ΧΡΗΣΗΣ.</p>

<p>Η αδράνεια του Πόρου σε περίπτωση παράβασης της ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ από χρήστη ή ομάδα χρηστών δεν σημαίνει ότι ο Πόρος υποστηρίζει τους χρήστες ή τις ομάδες σε τέτοιες ενέργειες.</p>

<p>Η αδράνεια του Πόρου έναντι παράβασης της ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ από χρήστη ή ομάδα χρηστών δεν στερεί τον Πόρο από το δικαίωμα να λάβει κατάλληλα μέτρα για την προστασία των συμφερόντων του στο μέλλον.</p>

<li><h3>ΑΠΟΔΟΧΗ ΤΗΣ ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ</h3>

<p>ΕΑΝ ΔΕΝ ΣΥΜΦΩΝΕΙΤΕ ΜΕ ΟΛΟΥΣ ΤΟΥΣ ΠΑΡΑΠΑΝΩ ΟΡΟΥΣ ΚΑΙ ΠΡΟΫΠΟΘΕΣΕΙΣ, ΔΕΝ ΕΧΕΤΕ ΤΟ ΔΙΚΑΙΩΜΑ ΝΑ ΧΡΗΣΙΜΟΠΟΙΗΣΕΤΕ ΤΟΝ ΠΟΡΟ ΣΥΝΟΛΙΚΑ Ή ΕΝ ΜΕΡΕΙ, ΕΚΤΟΣ ΑΠΟ ΤΗ ΣΕΛΙΔΑ ΜΕ ΤΗ ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ, ΚΑΙ ΔΕΝ ΜΠΟΡΕΙΤΕ ΝΑ ΠΡΟΣΒΑΣΕΤΕ ΤΟ ΠΕΡΙΕΧΟΜΕΝΟ ΤΟΥ ΠΟΡΟΥ ΜΕ ΚΑΜΙΑ ΑΛΛΗ ΜΕΘΟΔΟ.</p>

<p>ΕΑΝ ΔΕΝ ΣΥΜΦΩΝΕΙΤΕ ΜΕ ΤΗ ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ, ΠΡΕΠΕΙ ΑΜΕΣΩΣ ΝΑ ΑΠΟΧΩΡΗΣΕΤΕ ΑΠΟ ΤΟΝ ΠΟΡΟ.</p>

</ol>
</p>

</div><!--/infobox-body-->
