<div id="infobox-body">

<p>

<p><h1>ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ</h1></p>

<p><h3>ΣΧΕΤΙΚΑ ΜΕ ΤΟΝ ΙΣΤΟΤΟΠΟ</h3></p>

<p>Αυτός ο διαδικτυακός πόρος/ιστότοπος (εφεξής αναφερόμενος ως «Πόρος») είναι ένας ιστότοπος που επιτρέπει στους χρήστες να μοιράζονται πληροφορίες μεταξύ τους μέσω BitTorrent, καθώς και με άλλους τρόπους, και παρέχει μέσο για την επαλήθευση της ακεραιότητας των μεταδιδόμενων πληροφοριών (μέσω αρχείων hash).</p>

<ol>

<li type="1"><h3>ΣΧΕΤΙΚΑ ΜΕ ΤΗ ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ</h3>

<p>Η παρούσα Συμφωνία Χρήστη (εφεξής αναφερόμενη ως «Συμφωνία») τίθεται σε ισχύ με το πάτημα του κουμπιού "Συμφωνώ" στο κάτω μέρος και παραμένει σε ισχύ καθ’ όλη τη διάρκεια χρήσης του Πόρου από τον Χρήστη. Η Συμφωνία μπορεί να τροποποιηθεί από τη Διοίκηση χωρίς προηγούμενη ειδοποίηση. Η νέα έκδοση της Συμφωνίας τίθεται σε ισχύ 3 (τρεις) ημέρες μετά τη δημοσίευσή της, εκτός εάν ορίζεται διαφορετικά στη νέα έκδοση της Συμφωνίας.</p>

<li><h3>ΠΕΡΙΟΡΙΣΜΟΙ ΕΥΘΥΝΗΣ</h3>

<p>Ο Χρήστης συμφωνεί ρητά να χρησιμοποιεί τον Πόρο με δική του ευθύνη.</p>

<p>Ο Χρήστης αναγνωρίζει και συμφωνεί ότι ο Πόρος διαχειρίζεται υλικά και δεδομένα που δημιουργούνται από τρίτους και φιλοξενούνται από αυτούς στο Διαδίκτυο μέσω των δικών τους υπολογιστών και/ή διακομιστών. Το περιεχόμενο και η ασφάλεια αυτών των υλικών δεν μπορούν να ελεγχθούν από τη Διοίκηση του Πόρου· ως εκ τούτου, η Διοίκηση δεν ευθύνεται:</p>
<ul>
<p>- for the content of materials obtained by the User through the Resource, including any possible inconsistency with applicable laws or any offensive nature thereof;</p>
<p>- for the consequences of applying, using, or failing to use the information obtained;</p>
<p>- for any discrepancy between the results obtained through the Resource and the User's expectations;</p>
<p>- for any damage to the User's hardware or software resulting from the use of the Resource;</p>
<p>- for any inability to use the Resource for any reason;</p>
<p>- για τις συνέπειες που ενδέχεται να προκύψουν από τη διάδοση παράνομου ή μη αδειοδοτημένου λογισμικού, περιεχομένου ήχου/βίντεο ή άλλων υλικών ή δεδομένων που παραβιάζουν τα δικαιώματα τρίτων.</p>
</ul>

<p>Ο Πόρος σε καμία περίπτωση δεν ευθύνεται έναντι του Χρήστη ή τρίτου για ζημίες, απώλειες ή έξοδα που προκύπτουν σε σχέση με τον Πόρο, τη χρήση του ή την αδυναμία χρήσης του, συμπεριλαμβανομένων τυχόν χαμένων κερδών.</p>

<p>Η Διοίκηση του Πόρου δεν έχει υποχρέωση να διασφαλίζει την εχεμύθεια των πληροφοριών που παρέχουν οι Χρήστες, παρότι λαμβάνει όλα τα εύλογα μέτρα προς τούτο, εκτός εάν υπάρχει ξεχωριστή συμφωνία ή η ισχύουσα νομοθεσία ορίζει διαφορετικά.</p>

<p>Οι υποχρεώσεις του Πόρου δεν περιλαμβάνουν τον έλεγχο της νομιμότητας των μεταδιδόμενων πληροφοριών (συμπεριλαμβανομένων, αλλά όχι περιοριστικά, των πληροφοριών που μεταδίδονται μεταξύ χρηστών μέσω BitTorrent, εσωτερικών μηνυμάτων κάθε μορφής, κειμένων ή αρχείων), ούτε τον καθορισμό δικαιωμάτων πνευματικής ιδιοκτησίας ή της νομιμότητας μετάδοσης ή λήψης αυτών των πληροφοριών.</p>

<li><h3>ΠΕΡΙΟΡΙΣΜΟΙ ΧΡΗΣΗΣ ΤΟΥ ΠΟΡΟΥ ΑΠΟ ΤΟΝ ΧΡΗΣΤΗ</h3>

<p>Κατά τη χρήση αυτού του Πόρου, ο Χρήστης δεν πρέπει και συμφωνεί να μην:</p>
<ul>
<p>- upload hash files (torrents) containing data with viruses or other malicious software, files or programs designed to disrupt, destroy, or limit the functionality of any computer or telecommunications equipment, programs for unauthorized access, serial numbers for commercial software or tools for generating them, logins, passwords, or other means of gaining unauthorized access to internet resources, as well as post links to the above;</p>
<p>- upload hash files (torrents) containing any messages, data, or programs whose use infringes any patent, trademark, trade secret, copyright, or other proprietary rights and/or related rights of third parties;</p>
<p>- send unauthorized advertising messages (junk mail, spam) to email addresses listed on the site;</p>
<p>- copy and use for commercial purposes any information obtained through the Resource that violates the rights of others or could cause them direct material or moral harm;</p>
<p>- post links to web resources whose content violates applicable legislation;</p>
<p>- να παριστάνει οποιοδήποτε πρόσωπο ή εκπρόσωπο οργανισμού και/ή κοινότητας χωρίς κατάλληλη εξουσιοδότηση, συμπεριλαμβανομένων υπαλλήλων της Διοίκησης ή του ιδιοκτήτη του Πόρου.</p>
</ul>

<li><h3>ΑΠΟΠΟΙΗΣΗ ΕΓΓΥΗΣΕΩΝ</h3>

<p>Η πρόσβαση στον Πόρο παρέχεται «ως έχει» χωρίς καμία εγγύηση οποιουδήποτε είδους, είτε ρητή είτε σιωπηρή.</p>

<p>Ειδικότερα, η Διοίκηση του Πόρου δεν εγγυάται τη λειτουργικότητα του ιστότοπου ή των επιμέρους τμημάτων του, ούτε την αξιόπιστη λειτουργία και τη σταθερότητα των συνδέσμων που αναρτούν οι Χρήστες.</p>

<p>Ο Πόρος δεν ευθύνεται για οποιεσδήποτε άμεσες ή έμμεσες ζημίες που προκύπτουν από: τη χρήση ή την αδυναμία χρήσης της υπηρεσίας, ή τη μη εξουσιοδοτημένη πρόσβαση στις επικοινωνίες σας.</p>

<li><h3>ΔΙΚΑΙΩΜΑΤΑ ΤΗΣ ΔΙΟΙΚΗΣΗΣ ΤΟΥ ΠΟΡΟΥ</h3>

<p>Η Διοίκηση του Πόρου έχει το δικαίωμα να αρνηθεί την πρόσβαση στον Πόρο σε οποιονδήποτε Χρήστη ή ομάδα Χρηστών χωρίς αιτιολόγηση ή προειδοποίηση.</p>

<p>Η Διοίκηση του Πόρου μπορεί να τροποποιήσει ή να διαγράψει οποιαδήποτε πληροφορία, αρχεία hash (torrents), γραφικά, αρχεία ήχου και άλλα δεδομένα που έχουν υποβληθεί από Χρήστες χωρίς προειδοποίηση ή αιτιολόγηση.</p>

<li><h3>ΕΥΘΥΝΕΣ ΤΩΝ ΜΕΡΩΝ</h3>

<p>Ο Χρήστης συμφωνεί ότι όλες οι διαφορές που προκύπτουν από αυτή τη Συμφωνία θα επιλύονται σύμφωνα με την ισχύουσα νομοθεσία.</p>

<p>Ο Χρήστης συμφωνεί ότι οι νόμοι και κανονισμοί περί προστασίας καταναλωτή δεν εφαρμόζονται στη χρήση αυτού του Πόρου, καθώς δεν παρέχει πληρωμένες υπηρεσίες.</p>

<p>Ο Πόρος δεν δημιουργεί σχέση πρακτόρευσης, εταιρικής σχέσης, κοινοπραξίας, εργασίας ή άλλες σχέσεις που δεν περιγράφονται ρητά σε αυτή τη Συμφωνία.</p>

<p>Η μη ενέργεια του Πόρου για παραβίαση της Συμφωνίας από Χρήστη ή ομάδα Χρηστών δεν αποτελεί αποδοχή ή βοήθεια στις ενέργειες αυτές.</p>

<p>Η μη ενέργεια του Πόρου σε παράβαση της Συμφωνίας από Χρήστη ή ομάδα Χρηστών δεν στερεί από τον Πόρο το δικαίωμα να λάβει κατάλληλα μέτρα για την προστασία των συμφερόντων του μελλοντικά.</p>

<li><h3>ΑΠΟΔΟΧΗ ΤΗΣ ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ</h3>

<p>ΕΑΝ ΔΕΝ ΣΥΜΦΩΝΕΙΤΕ ΜΕ ΟΛΟΥΣ ΤΟΥΣ ΠΑΡΑΠΑΝΩ ΟΡΟΥΣ ΚΑΙ ΠΡΟΥΠΟΘΕΣΕΙΣ, ΔΕΝ ΕΠΙΤΡΕΠΕΤΑΙ ΝΑ ΠΡΟΣΒΑΣΕΤΕ ΤΟΝ ΠΟΡΟ ΣΥΝΟΛΙΚΑ Ή ΕΝ ΜΕΡΕΙ, ΕΚΤΟΣ ΑΠΟ ΑΥΤΗ ΤΗ ΣΕΛΙΔΑ ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ, ΟΥΤΕ ΝΑ ΛΑΜΒΑΝΕΤΕ Ή ΝΑ ΠΡΟΣΒΑΖΕΣΤΕ ΤΑ ΠΕΡΙΕΧΟΜΕΝΑ ΤΟΥ ΠΟΡΟΥ ΜΕ ΟΠΟΙΟΔΗΠΟΤΕ ΑΛΛΟ ΤΡΟΠΟ, ΣΥΝΟΛΙΚΑ Ή ΕΝ ΜΕΡΕΙ.</p>

<p>ΕΑΝ ΔΕΝ ΣΥΜΦΩΝΕΙΤΕ ΜΕ ΑΥΤΗ ΤΗ ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ, ΠΡΕΠΕΙ ΝΑ ΑΠΟΧΩΡΗΣΕΤΕ ΑΜΕΣΩΣ ΑΠΟ ΤΟΝ ΠΟΡΟ.</p>

</ol>
</p>

</div>
