<div id="infobox-body">

<p>

<p><h1>ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ</h1></p>

<p><h3>ΣΧΕΤΙΚΑ ΜΕ ΤΟΝ ΙΣΤΟΤΟΠΟ</h3></p>

<p>Αυτός ο διαδικτυακός πόρος/ιστότοπος (εφεξής αναφερόμενος ως «Πόρος») είναι ένας ιστότοπος που επιτρέπει στους χρήστες να μοιράζονται πληροφορίες μεταξύ τους μέσω BitTorrent, καθώς και με άλλους τρόπους, και παρέχει μέσο για την επαλήθευση της ακεραιότητας των μεταδιδόμενων πληροφοριών (μέσω αρχείων hash).</p>

<ol>

<li type="1"><h3>ΣΧΕΤΙΚΑ ΜΕ ΤΗ ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ</h3>

<p>Η παρούσα Συμφωνία Χρήστη (εφεξής αναφερόμενη ως «Συμφωνία») τίθεται σε ισχύ με το πάτημα του κουμπιού "Συμφωνώ" στο κάτω μέρος και παραμένει σε ισχύ καθ’ όλη τη διάρκεια χρήσης του Πόρου από τον Χρήστη. Η Συμφωνία μπορεί να τροποποιηθεί από τη Διοίκηση χωρίς προηγούμενη ειδοποίηση. Η νέα έκδοση της Συμφωνίας τίθεται σε ισχύ 3 (τρεις) ημέρες μετά τη δημοσίευσή της, εκτός εάν ορίζεται διαφορετικά στη νέα έκδοση της Συμφωνίας.</p>

<li><h3>ΠΕΡΙΟΡΙΣΜΟΙ ΕΥΘΥΝΗΣ</h3>

<p>Ο Χρήστης συμφωνεί ρητά να χρησιμοποιεί τον Πόρο με δική του ευθύνη.</p>

<p>Ο Χρήστης αναγνωρίζει και συμφωνεί ότι ο Πόρος διαχειρίζεται υλικά και δεδομένα που δημιουργούνται από τρίτους και φιλοξενούνται από αυτούς στο Διαδίκτυο μέσω των δικών τους υπολογιστών και/ή διακομιστών. Το περιεχόμενο και η ασφάλεια αυτών των υλικών δεν μπορούν να ελεγχθούν από τη Διοίκηση του Πόρου· ως εκ τούτου, η Διοίκηση δεν ευθύνεται:</p>
<ul>
<p>- για το περιεχόμενο των υλικών που αποκτήθηκαν από τον Χρήστη μέσω του Πόρου, συμπεριλαμβανομένης οποιασδήποτε πιθανής ασυμφωνίας με τις ισχύουσες διατάξεις ή οποιουδήποτε προσβλητικού χαρακτήρα αυτών;</p>
<p>- για τις συνέπειες της εφαρμογής, χρήσης ή μη χρήσης των πληροφοριών που λήφθηκαν;</p>
<p>- για οποιαδήποτε απόκλιση μεταξύ των αποτελεσμάτων που αποκτήθηκαν μέσω του Πόρου και των προσδοκιών του Χρήστη;</p>
<p>- για οποιαδήποτε ζημιά στο υλικό ή το λογισμικό του Χρήστη που προκύπτει από τη χρήση του Πόρου;</p>
<p>- για οποιαδήποτε αδυναμία χρήσης του Πόρου για οποιονδήποτε λόγο;</p>
<p>- για τις συνέπειες που ενδέχεται να προκύψουν από τη διάδοση παράνομου ή μη αδειοδοτημένου λογισμικού, περιεχομένου ήχου/βίντεο ή άλλων υλικών ή δεδομένων που παραβιάζουν τα δικαιώματα τρίτων.</p>
</ul>

<p>Ο Πόρος σε καμία περίπτωση δεν ευθύνεται έναντι του Χρήστη ή τρίτου για ζημίες, απώλειες ή έξοδα που προκύπτουν σε σχέση με τον Πόρο, τη χρήση του ή την αδυναμία χρήσης του, συμπεριλαμβανομένων τυχόν χαμένων κερδών.</p>

<p>Η Διοίκηση του Πόρου δεν έχει υποχρέωση να διασφαλίζει την εχεμύθεια των πληροφοριών που παρέχουν οι Χρήστες, παρότι λαμβάνει όλα τα εύλογα μέτρα προς τούτο, εκτός εάν υπάρχει ξεχωριστή συμφωνία ή η ισχύουσα νομοθεσία ορίζει διαφορετικά.</p>

<p>Οι υποχρεώσεις του Πόρου δεν περιλαμβάνουν τον έλεγχο της νομιμότητας των μεταδιδόμενων πληροφοριών (συμπεριλαμβανομένων, αλλά όχι περιοριστικά, των πληροφοριών που μεταδίδονται μεταξύ χρηστών μέσω BitTorrent, εσωτερικών μηνυμάτων κάθε μορφής, κειμένων ή αρχείων), ούτε τον καθορισμό δικαιωμάτων πνευματικής ιδιοκτησίας ή της νομιμότητας μετάδοσης ή λήψης αυτών των πληροφοριών.</p>

<li><h3>ΠΕΡΙΟΡΙΣΜΟΙ ΧΡΗΣΗΣ ΤΟΥ ΠΟΡΟΥ ΑΠΟ ΤΟΝ ΧΡΗΣΤΗ</h3>

<p>Κατά τη χρήση αυτού του Πόρου, ο Χρήστης δεν πρέπει και συμφωνεί να μην:</p>
<ul>
<p>- να ανεβάζει hash αρχεία (torrents) που περιέχουν δεδομένα με ιούς ή άλλο κακόβουλο λογισμικό, αρχεία ή προγράμματα σχεδιασμένα να διαταράσσουν, να καταστρέφουν ή να περιορίζουν τη λειτουργικότητα οποιουδήποτε υπολογιστή ή τηλεπικοινωνιακού εξοπλισμού, προγράμματα για μη εξουσιοδοτημένη πρόσβαση, σειριακούς αριθμούς εμπορικού λογισμικού ή εργαλεία δημιουργίας τους, ονόματα χρήστη, κωδικούς πρόσβασης ή άλλα μέσα απόκτησης μη εξουσιοδοτημένης πρόσβασης σε πόρους του διαδικτύου, καθώς και να δημοσιεύει συνδέσμους προς τα παραπάνω;</p>
<p>- να ανεβάζει hash αρχεία (torrents) που περιέχουν μηνύματα, δεδομένα ή προγράμματα των οποίων η χρήση παραβιάζει διπλώματα ευρεσιτεχνίας, εμπορικά σήματα, επιχειρηματικά μυστικά, πνευματικά δικαιώματα ή άλλα δικαιώματα ιδιοκτησίας και/ή συναφή δικαιώματα τρίτων;</p>
<p>- να στέλνει μη εξουσιοδοτημένα διαφημιστικά μηνύματα (junk mail, spam) σε διευθύνσεις email που αναφέρονται στην ιστοσελίδα;</p>
<p>- να αντιγράφει και να χρησιμοποιεί για εμπορικούς σκοπούς οποιεσδήποτε πληροφορίες αποκτηθούν μέσω του Πόρου που παραβιάζουν τα δικαιώματα τρίτων ή θα μπορούσαν να τους προκαλέσουν άμεση υλική ή ηθική βλάβη;</p>
<p>- να δημοσιεύει συνδέσμους προς διαδικτυακούς πόρους των οποίων το περιεχόμενο παραβιάζει την ισχύουσα νομοθεσία;</p>
<p>- να παριστάνει οποιοδήποτε πρόσωπο ή εκπρόσωπο οργανισμού και/ή κοινότητας χωρίς κατάλληλη εξουσιοδότηση, συμπεριλαμβανομένων υπαλλήλων της Διοίκησης ή του ιδιοκτήτη του Πόρου.</p>
</ul>

<li><h3>ΑΠΟΠΟΙΗΣΗ ΕΓΓΥΗΣΕΩΝ</h3>

<p>Η πρόσβαση στον Πόρο παρέχεται «ως έχει» χωρίς καμία εγγύηση οποιουδήποτε είδους, είτε ρητή είτε σιωπηρή.</p>

<p>Ειδικότερα, η Διοίκηση του Πόρου δεν εγγυάται τη λειτουργικότητα του ιστότοπου ή των επιμέρους τμημάτων του, ούτε την αξιόπιστη λειτουργία και τη σταθερότητα των συνδέσμων που αναρτούν οι Χρήστες.</p>

<p>Ο Πόρος δεν ευθύνεται για οποιεσδήποτε άμεσες ή έμμεσες ζημίες που προκύπτουν από: τη χρήση ή την αδυναμία χρήσης της υπηρεσίας, ή τη μη εξουσιοδοτημένη πρόσβαση στις επικοινωνίες σας.</p>

<li><h3>ΔΙΚΑΙΩΜΑΤΑ ΤΗΣ ΔΙΟΙΚΗΣΗΣ ΤΟΥ ΠΟΡΟΥ</h3>

<p>Η Διοίκηση του Πόρου έχει το δικαίωμα να αρνηθεί την πρόσβαση στον Πόρο σε οποιονδήποτε Χρήστη ή ομάδα Χρηστών χωρίς αιτιολόγηση ή προειδοποίηση.</p>

<p>Η Διοίκηση του Πόρου μπορεί να τροποποιήσει ή να διαγράψει οποιαδήποτε πληροφορία, αρχεία hash (torrents), γραφικά, αρχεία ήχου και άλλα δεδομένα που έχουν υποβληθεί από Χρήστες χωρίς προειδοποίηση ή αιτιολόγηση.</p>

<li><h3>ΕΥΘΥΝΕΣ ΤΩΝ ΜΕΡΩΝ</h3>

<p>Ο Χρήστης συμφωνεί ότι όλες οι διαφορές που προκύπτουν από αυτή τη Συμφωνία θα επιλύονται σύμφωνα με την ισχύουσα νομοθεσία.</p>

<p>Ο Χρήστης συμφωνεί ότι οι νόμοι και κανονισμοί περί προστασίας καταναλωτή δεν εφαρμόζονται στη χρήση αυτού του Πόρου, καθώς δεν παρέχει πληρωμένες υπηρεσίες.</p>

<p>Ο Πόρος δεν δημιουργεί σχέση πρακτόρευσης, εταιρικής σχέσης, κοινοπραξίας, εργασίας ή άλλες σχέσεις που δεν περιγράφονται ρητά σε αυτή τη Συμφωνία.</p>

<p>Η μη ενέργεια του Πόρου για παραβίαση της Συμφωνίας από Χρήστη ή ομάδα Χρηστών δεν αποτελεί αποδοχή ή βοήθεια στις ενέργειες αυτές.</p>

<p>Η μη ενέργεια του Πόρου σε παράβαση της Συμφωνίας από Χρήστη ή ομάδα Χρηστών δεν στερεί από τον Πόρο το δικαίωμα να λάβει κατάλληλα μέτρα για την προστασία των συμφερόντων του μελλοντικά.</p>

<li><h3>ΑΠΟΔΟΧΗ ΤΗΣ ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ</h3>

<p>ΕΑΝ ΔΕΝ ΣΥΜΦΩΝΕΙΤΕ ΜΕ ΟΛΟΥΣ ΤΟΥΣ ΠΑΡΑΠΑΝΩ ΟΡΟΥΣ ΚΑΙ ΠΡΟΥΠΟΘΕΣΕΙΣ, ΔΕΝ ΕΠΙΤΡΕΠΕΤΑΙ ΝΑ ΠΡΟΣΒΑΣΕΤΕ ΤΟΝ ΠΟΡΟ ΣΥΝΟΛΙΚΑ Ή ΕΝ ΜΕΡΕΙ, ΕΚΤΟΣ ΑΠΟ ΑΥΤΗ ΤΗ ΣΕΛΙΔΑ ΣΥΜΦΩΝΙΑΣ ΧΡΗΣΤΗ, ΟΥΤΕ ΝΑ ΛΑΜΒΑΝΕΤΕ Ή ΝΑ ΠΡΟΣΒΑΖΕΣΤΕ ΤΑ ΠΕΡΙΕΧΟΜΕΝΑ ΤΟΥ ΠΟΡΟΥ ΜΕ ΟΠΟΙΟΔΗΠΟΤΕ ΑΛΛΟ ΤΡΟΠΟ, ΣΥΝΟΛΙΚΑ Ή ΕΝ ΜΕΡΕΙ.</p>

<p>ΕΑΝ ΔΕΝ ΣΥΜΦΩΝΕΙΤΕ ΜΕ ΑΥΤΗ ΤΗ ΣΥΜΦΩΝΙΑ ΧΡΗΣΤΗ, ΠΡΕΠΕΙ ΝΑ ΑΠΟΧΩΡΗΣΕΤΕ ΑΜΕΣΩΣ ΑΠΟ ΤΟΝ ΠΟΡΟ.</p>

</ol>
</p>

</div>
