<div id="infobox-body">

<p><h1>INFORMÁCIE PRE DRŽITEĽOV AUTORSKÝCH PRÁV</h1></p>

<p>Ak ste držiteľom autorských práv k akémukoľvek materiálu odkazovanému na tejto stránke a prajete si, aby tieto informácie neboli šírené používateľmi bez vášho súhlasu, radi vám pomôžeme odstrániť príslušné odkazy.</p>

<p>Ak to chcete uskutočniť, prosím, pošlite nám elektronický list obsahujúci nasledujúce informácie:</p>

<p>1. Dokumentárny dôkaz o vašich právach k autorsky chránenému materiálu:</p>
<p> — naskenovaný dokument opatrený úradnou pečiatkou, alebo</p>
<p> — e-mail zaslaný z oficiálnej domény spoločnosti držiteľa práv, alebo</p>
<p> — iné kontaktné údaje, ktoré vás jednoznačne identifikujú ako držiteľa práv.</p>

<p>2. Náhradný text, ktorý chcete zverejniť namiesto odstráneného obsahu.</p>

<p>V tomto texte môžete uviesť, kde a za akých podmienok môžu používatelia získať informácie, na ktoré odkazy boli odstránené, ako aj vaše kontaktné údaje, aby vás mohli ohľadom tohto materiálu kontaktovať.</p>

<p>3. Priame odkazy na stránky obsahujúce odkazy na údaje, ktoré je potrebné odstrániť.</p>

<p>Odkazy by mali byť vo formáte <strong>https://url.to/link</strong> alebo podobnom.</p>

<p>Do 48 hodín od prijatia vašej žiadosti odstránime príslušné odkazy zo stránky.</p>

<p class="bold">Náš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UPOZORNENIE!</p>

<p>a) Vyhradzujeme si právo zverejniť na stránke akékoľvek informácie, ktoré nám boli zaslané na e-mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nemáme kontrolu nad činnosťami používateľov, ktorí môžu znovu zverejňovať odkazy na informácie, ktoré sú predmetom vašich autorských práv. Fórum automaticky zverejňuje všetky informácie bez predchádzajúcej kontroly alebo moderovania, v súlade s všeobecne uznávanými medzinárodnými postupmi hostovania informácií na internete. Napriek tomu zvážime všetky žiadosti týkajúce sa odkazov na informácie, ktoré porušujú vaše práva.</p>

<p>c) Podľa platného autorského a súvisiaceho práva nie je odkaz (hyperlink) na údaje (informačný odkaz) sám o sebe predmetom ochrany autorských práv (aj keď môže porušovať Užívateľskú zmluvu stránky). Preto vás prosíme, aby ste sa zdržali zasielania listov obsahujúcich hrozby alebo požiadavky, keďže na takéto nároky neexistujú žiadne právne základy.</p>

</div>
