<div>
	<h3>Bočný panel 2</h3>
	Aby ste pridali obsah do tohto bočného panela, upravte nasledujúce súbory:
	<br /><br />
	<ul class="med">
		<li>knižnica/jazyk/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Ak chcete zakázať tento panel, nastavte premennú page.show_sidebar2 v súbore config.php na hodnotu false.
</div>
