<div id=\"infobox-body\">

<p>

<p><h1>DOHODA O POUŽÍVANÍ UŽÍVATEĽA</h1></p>

<p><h3>O STRÁNKE</h3></p>

<p>Internetový zdroj / webová stránka (ďalej len - Zdroj) je internetová stránka, ktorá umožňuje používateľom zdieľať informácie medzi sebou cez bit-torrent, ako aj vo voľnej forme, a poskytuje prostriedky na kontrolu integrity prenášaných informácií (prostredníctvom hash-súborov).</p>

<ol>

<li type="1"><h3>O POUŽÍVATEĽSKEJ DOHODE</h3>

<p>Táto DOHODA O POUŽÍVATEĽOVI nadobúda platnosť po kliknutí na "Súhlasím" v spodnej časti a platí počas celej doby používania zdroja používateľmi. DOHODA O POUŽÍVATEĽOVI môže byť Administráciou zmenená bez akéhokoľvek upozornenia. <p>Nová verzia DOHODY nadobúda platnosť po uplynutí 3 (troch) dní od dátumu jej zverejnenia, pokiaľ v novej verzii DOHODY O POUŽÍVANÍ nie je uvedené inak.</p>

<li><h3>OBMEDZENIA ZODPOVEDNOSTI</h3>

<p>Užívateľ výslovne súhlasí, že používa Zdroj na vlastné riziko.</p>

<p>Používateľ vie a súhlasí s tým, že pracuje so zdrojovými materiálmi a údajmi vytvorenými tretími stranami a umiestnenými na internete na ich počítačoch a (alebo) serveroch. <p>Obsah a bezpečnosť týchto materiálov nemôže byť kontrolovaná administráciou zdroja, preto táto nenesie zodpovednosť za:</p>
<ul>
<p>- obsah materiálov získaných užívateľom z používania údajov Zdroja a ich možný nesúlad s platnými zákonmi alebo urážlivosť;</p>
<p>- následky aplikácie, použitia alebo nepoužitia získaných informácií;</p>
<p>- možný nesúlad medzi výsledkami získanými použitím Zdroja a očakávaniami používateľa;</p>
<p>- akékoľvek poškodenie hardvéru alebo softvéru používateľa vyplývajúce z používania Zdroja;</p>
<p>- nemožnosť používať zdroj z akéhokoľvek dôvodu;</p>
<p>- následky, ktoré môžu vzniknúť zo šírenia nelegálneho alebo neautorizovaného softvéru, audio-/video produktov a iných materiálov alebo údajov ovplyvňujúcich práva tretích strán.</p>
</ul>

<p>Za žiadnych okolností Zdroj nezodpovedá používateľovi ani tretej strane za škody, straty alebo náklady vzniknuté v súvislosti s týmto Zdrojem, jeho používaním alebo nemožnosťou používať ho, vrátane straty alebo ušlého zisku.</p>

<p>Administrácia Zdroja nie je povinná zabezpečiť dôvernosť informácií poskytovaných používateľmi, pričom prijíma všetky dostupné opatrenia, pokiaľ neexistuje dohoda inak alebo príslušné požiadavky platnej legislatívy.</p>

<p>Povinnosti Zdroja neobsahujú kontrolu legálne alebo nelegálne prenášaných informácií (vrátane, ale nielen, informácií prenášaných medzi používateľmi cez bit-torrent, interných prenosov informácií prostredníctvom rôznych odkazov, textov alebo súborov), vyjasňovanie vlastníckych práv alebo zákonnosti prenosu či prijatia informácií.</p>

<li><h3>OBMEDZENIA VYUŽÍVANIA ZDROJA POUŽÍVATEĽOM</h3>

<p>Používaním tohto Zdroja nemá POUŽÍVATEĽ právo a súhlasí s nasledujúcim:</p>
<ul>
<p>- umiestňovať hash-súbory (torrenty) obsahujúce vírusy alebo iné škodlivé počítačové programy, súbory či programy navrhnuté na prerušenie, zničenie alebo obmedzenie funkčnosti akéhokoľvek počítača alebo telekomunikačného zariadenia, programy na neoprávnený prístup, sériové čísla komerčných softvérových produktov a programy pre ich generovanie, prihlasovacie mená, heslá a iné prostriedky na získanie neoprávneného prístupu na internetové stránky, ako aj zverejňovať odkazy na tieto informácie;</p>
<p>- umiestňovať hash-súbory (torrenty) správy, dáta alebo programy, ktorých používanie porušuje akýkoľvek patent, ochrannú známku, obchodné tajomstvo, autorské právo alebo iné vlastnícke práva a/alebo práva tretích strán;</p>
<p>- odosielať na uvedené e-mailové adresy na stránke nevyžiadané reklamné e-maily (spam);</p>
<p>- kopírovať a používať na komerčné účely akékoľvek informácie získané prostredníctvom tohto zdroja, ktoré porušujú práva iných alebo by mohli spôsobiť priamu materiálnu alebo morálnu ujmu;</p>
<p>- zverejňovať odkazy na webové zdroje, ktorých obsah je v rozpore so súčasnou legislatívou;</p>
<p>- vydávať sa za inú osobu alebo zástupcu organizácie/spoločenstva bez primeraných práv, vrátane zamestnancov administrácie alebo vlastníka Zdroja.</p>
</ul>

<li><h3>ZÁRUKA VÝKONNOSTI</h3>

<p>Prístup k Zdrojom je poskytovaný "tak ako je" bez akejkoľvek priamej či nepriamej záruky.</p>

<p>Administrácia Zdroja nezaručuje funkčnosť webovej stránky a jej jednotlivých sekcií, ani spoľahlivosť a výkonnosť odkazov umiestnených používateľmi.</p>

<p>Zdroj nezodpovedá za priame alebo nepriame škody vzniknuté v dôsledku použitia alebo nemožnosti použitia služby; neoprávneného prístupu k vašim komunikáciám.</p>

<li><h3>PRÁVA SPRÁVY ZDROJA</h3>

<p>Administrácia Zdroja má právo odmietnuť prístup k zdroju akémukoľvek používateľovi alebo skupine používateľov bez vysvetlenia alebo upozornenia.</p>

<p>Administrácia Zdroja môže upravovať alebo odstraňovať akékoľvek informácie, hash-súbory (torrenty), grafiku, zvukové a iné dáta nahrané používateľom bez upozornenia a vysvetlenia.</p>

<li><h3>POVINNOSTI STRÁN</h3>

<p>Používateľ súhlasí, že všetky prípadné spory týkajúce sa DOHODY O POUŽÍVANÍ budú riešené podľa platných právnych predpisov.</p>

<p>Používateľ súhlasí, že pravidlá a zákony o ochrane spotrebiteľa sa nemôžu uplatniť na používanie Zdroja, keďže Zdroj neposkytuje platené služby.</p>

<p>Zdroj nevytvára vzťahy agentúrne, partnerstvá, pracovné vzťahy ani iné vzťahy, ktoré nie sú výslovne popísané v DOHODE O POUŽÍVANÍ.</p>

<p>Nečinnosť zo strany Zdroja pri porušení DOHODY POUŽÍVATEĽOM alebo skupinou používateľov neznamená, že Zdroj podporuje takéto činnosti.</p>

<p>Nečinnosť Zdroja pri porušení DOHODY nezbavuje Zdroj práva prijať opatrenia na ochranu svojich záujmov neskôr.</p>

<li><h3>PRIJATIE DOHODY O POUŽÍVANÍ UŽÍVATEĽA</h3>

<p>AK NESÚHLASÍTE SO VŠETKÝMI UVEDENÝMI PODMIENKAMI, NESMIETE NAVŠTÍVIŤ ZDROJ V CELKU ANI JEHO ČASŤ, OKREM STRÁNKY S DOHODOU, ANI PREJAVOVAŤ PRÍSTUP K OBSAHU ZDROJA AKÝMKOLVEK INÝM SPÔSOBOM.</p>

<p>AK NESÚHLASÍTE S DOHODOU O POUŽÍVANÍ, MUSÍTE IHNEĎ OPUSTIŤ ZDROJ.</p>

</ol>
</p>

</div><!--/infobox-body-->
