<div id="infobox-body">

<p>

<p><h1>DOHODA POUŽÍVATEĽA</h1></p>

<p><h3>O STRÁNKE</h3></p>

<p>Táto internetová stránka (ďalej len "Zdroj") umožňuje používateľom vzájomne zdieľať informácie prostredníctvom BitTorrentu aj inými spôsobmi a poskytuje prostriedky na overenie integrity prenášaných informácií (cez hash súbory).</p>

<ol>

<li type="1"><h3>O POUŽÍVATEĽSKEJ DOHODE</h3>

<p>Táto používateľská dohoda (ďalej len "Dohoda") nadobúda platnosť kliknutím na "Súhlasím" v spodnej časti a zostáva v platnosti po celú dobu používania zdroja používateľom. Dohodu môže správa zdroja meniť bez predchádzajúceho upozornenia. Nová verzia dohody nadobúda platnosť 3 (tri) dni po zverejnení, pokiaľ v novej verzii dohody nie je uvedené inak.</p>

<li><h3>OBMEDZENIE ZODPOVEDNOSTI</h3>

<p>Používateľ výslovne súhlasí, že používa zdroj na vlastné riziko.</p>

<p>Používateľ berie na vedomie a súhlasí, že zdroj obsahuje materiály a údaje vytvorené tretími stranami a hosťované nimi na internete pomocou ich vlastných počítačov a/alebo serverov. Správa zdroja nemôže kontrolovať obsah a bezpečnosť týchto materiálov; preto správa nezodpovedá za:</p>
<ul>
<p>- obsah materiálov získaných používateľom prostredníctvom zdroja vrátane ich prípadnej nesúladu s platnými zákonmi alebo ich urážlivého charakteru;</p>
<p>- dôsledky použitia, nevyužitia alebo zlyhania využitia získaných informácií;</p>
<p>- prípadný nesúlad medzi výsledkami získanými prostredníctvom zdroja a očakávaniami používateľa;</p>
<p>- akékoľvek poškodenie hardvéru alebo softvéru používateľa vzniknuté používaním zdroja;</p>
<p>- nemožnosť využívať zdroj z akéhokoľvek dôvodu;</p>
<p>- dôsledky vyplývajúce z šírenia nelegálneho alebo neautorizovaného softvéru, audio/video obsahu či iných materiálov alebo údajov, ktoré porušujú práva tretích strán.</p>
</ul>

<p>Za žiadnych okolností správa zdroja nezodpovedá používateľovi ani tretej strane za akékoľvek škody, straty alebo náklady vzniknuté v súvislosti so zdrojom, jeho používaním alebo nemožnosťou jeho používania, vrátane ušlého zisku.</p>

<p>Správa zdroja nie je povinná zabezpečiť dôvernosť informácií poskytnutých používateľmi, hoci prijíma všetky primerané opatrenia, pokiaľ neexistuje samostatná dohoda alebo zákon nevyžaduje inak.</p>

<p>Povinnosti správy zdroja nezahŕňajú kontrolu zákonnosti prenášaných informácií (vrátane, ale nielen, informácií prenášaných medzi používateľmi cez BitTorrent, vnútorných správ v akýchkoľvek formách, textov alebo súborov), ani určenie vlastníckych práv či legitimity ich prenosu alebo prijímania.</p>

<li><h3>OBMEDZENIA PRI POUŽÍVANÍ ZDROJA POUŽÍVATEĽOM</h3>

<p>Pri používaní tohto zdroja používateľ nesmie a súhlasí, že nebude:</p>
<ul>
<p>- nahrávať hash súbory (torrenty) obsahujúce dáta s vírusmi alebo iným škodlivým softvérom, súbory alebo programy určené na narušenie, zničenie alebo obmedzenie funkčnosti akéhokoľvek počítača či telekomunikačného zariadenia, programy na neoprávnený prístup, sériové čísla komerčného softvéru alebo nástroje na ich tvorbu, prihlasovacie údaje, heslá alebo iné prostriedky neoprávneného prístupu k internetovým zdrojom, ako aj zverejňovať odkazy na takéto materiály;</p>
<p>- nahrávať hash súbory (torrenty) obsahujúce správy, dáta alebo programy, ktorých použitie porušuje akýkoľvek patent, ochrannú známku, obchodné tajomstvo, autorské práva alebo iné vlastnícke práva a súvisiace práva tretích strán;</p>
<p>- zasielať nevyžiadané reklamné správy (spam, junk mail) na emailové adresy uvedené na stránke;</p>
<p>- kopírovať a používať na obchodné účely akékoľvek informácie získané prostredníctvom zdroja, ktoré porušujú práva iných osôb alebo môžu spôsobiť priamu materiálnu či morálnu ujmu;</p>
<p>- zverejňovať odkazy na webové zdroje, ktorých obsah je v rozpore s platnou legislatívou;</p>
<p>- vydávať sa za inú osobu alebo zástupcu organizácie alebo komunity bez oprávnenia, vrátane zamestnancov správy alebo vlastníka zdroja.</p>
</ul>

<li><h3>VÝHRADY ZODPOVEDNOSTI</h3>

<p>Prístup k zdroju je poskytovaný "tak, ako je", bez akýchkoľvek záruk, či už výslovných alebo predpokladaných.</p>

<p>Správa zdroja nezaručuje funkčnosť stránky alebo jej jednotlivých sekcií, ani prevádzkyschopnosť a spoľahlivosť odkazov zverejnených používateľmi.</p>

<p>Zdroj nenesie zodpovednosť za priame alebo nepriame straty vyplývajúce z používania alebo neschopnosti používať službu alebo za neoprávnený prístup k vašej komunikácii.</p>

<li><h3>PRÁVA SPRÁVY ZDROJOV</h3>

<p>Správa zdroja má právo odmietnuť prístup k zdroju akémukoľvek používateľovi alebo skupine používateľov bez vysvetlenia alebo predchádzajúceho upozornenia.</p>

<p>Správa zdroja môže bez upozornenia alebo vysvetlenia upraviť alebo odstrániť akékoľvek informácie, hash súbory (torrenty), grafiku, audio a iné údaje nahrané používateľmi.</p>

<li><h3>POVINNOSTI STRÁN</h3>

<p>Používateľ súhlasí, že všetky spory vyplývajúce z tejto dohody budú riešené v súlade s platnými právnymi predpismi.</p>

<p>Používateľ súhlasí, že zákony a predpisy na ochranu spotrebiteľa sa na používanie tohto zdroja nevzťahujú, pretože neposkytuje platené služby.</p>

<p>Zdroj nevytvára agentúrne, partnerské, spoločné podnikateľské vzťahy, pracovný pomer alebo iné vzťahy, ktoré nie sú výslovne popísané v tejto dohode.</p>

<p>Ak správa zdroja nepristúpi k riešeniu porušenia dohody používateľom alebo skupinou používateľov, nepovažuje sa to za súhlas s takými činmi ani ich podporu.</p>

<p>Nečinnosť správy zdroja pri porušení dohody používateľom alebo skupinou používateľov nezbavuje zdroj práva neskôr prijať primerané opatrenia na ochranu svojich záujmov.</p>

<li><h3>PRIJATIE DOHODY O POUŽÍVANÍ UŽÍVATEĽOM</h3>

<p>AK NESÚHLASÍTE SO VŠETKÝMI TÝMITO PODMIENKAMI, NESMIETE POUŽÍVAŤ ZDROJ CELOKOVO ANI ČIASTKOVO, OKREM STRÁNKY TÝKAJÚCEJ SA TÝCHTO POUŽÍVATEĽSKÝCH PODMIENOK, ANI NESMIETE POBIERAŤ ALEBO ZÍSKAVAŤ PRÍSTUP K OBSAHU ZDROJA INÝMI SPÔSOBMI, CELOKOVO ALEBO ČIASTKOVO.</p>

<p>AK NESÚHLASÍTE S TOUTO POUŽÍVATEĽSKOU DOHODOU, MUSÍTE ZDROJ NEODKLADNE OPUSTIŤ.</p>

</ol>
</p>

</div>
