<div id="infobox-body">

<p><h1>Mualliflik huquqi egalari uchun AXBOROT</h1></p>

<p>Agar siz ushbu saytida mavjud bo'lgan har qanday materialning mualliflik huquqiga ega bo'lsangiz va foydalanuvchilar tomonidan roziligingizsiz bu ma'lumot tarqalishini xohlamasangiz, biz sizga tegishli havolalarni olib tashlashda yordam beramiz.</p>

<p>Buni amalga oshirish uchun, iltimos, quyidagi ma'lumotlarni o'z ichiga olgan elektron xat yuboring:</p>

<p>1. Mualliflik huquqi bilan himoyalangan materialga bo'lgan huquqlaringizni hujjatli tasdiqlovchi:</p>
<p> — rasmiy muhr bilan tasdiqlangan skanerlangan hujjat, yoki</p>
<p> — huquq egasi kompaniyaning rasmiy domenidan yuborilgan elektron pochta, yoki</p>
<p> — sizni huquq egasi sifatida noyob tarzda aniqlaydigan boshqa aloqa ma'lumotlari.</p>

<p>2. Olib tashlangan kontent o'rniga qo'yilishini istagan matn.</p>

<p>Ushbu matnda olib tashlangan havolalar qayerda va qanday shartlarda foydalanuvchilar tomonidan olinishi mumkinligini, shuningdek, foydalanuvchilar sizga ushbu material bo‘yicha murojaat qilishlari uchun aloqa ma’lumotlaringizni ko‘rsatishingiz mumkin.</p>

<p>3. O'chirilishi kerak bo'lgan ma'lumotlarga havolalarni o'z ichiga olgan sahifalarga to'g'ridan-to'g'ri havolalar.</p>

<p>Havolalar quyidagi formatda bo‘lishi kerak: <strong>https://url.to/link</strong> yoki shunga o‘xshash.</p>

<p>So‘rovingizni olganimizdan keyin 48 soat ichida saytimizdan tegishli havolalarni olib tashlaymiz.</p>

<p class="bold">Bizning elektron manzilimiz: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>OGOHLANTIRISH!</p>

<p>a) Bizga <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> elektron pochta orqali yuborilgan har qanday ma’lumotni saytimizda nashr etish huquqini o‘zimizda saqlab qolamiz</p>

<p>b) Sizning mualliflik huquqingiz ob'ekti bo'lgan ma'lumotlarga havolalarni qayta joylashtirishi mumkin bo'lgan foydalanuvchilarning xatti-harakatlari ustidan nazoratimiz yo'q. Forum hech qanday nazoratsiz, to‘liq avtomatik ravishda, internetda ma’lumot joylashtirishga oid xalqaro qabul qilingan amaliyotga muvofiq har qanday ma’lumotni joylashtiradi. Shu bilan birga, biz huquqlaringizni buzuvchi ma’lumotlarga havolalar bo‘yicha barcha so‘rovlarni ko‘rib chiqamiz.</p>

<p>c) Amaldagi mualliflik va unga aloqador huquqlar to‘g‘risidagi qonunlarga ko‘ra, ma’lumotlarga gipermatn havolasi (axborot havolasi) o‘zi mualliflik huquqi himoyasiga taalluqli emas (sayt Foydalanuvchi Shartnomasini buzishi mumkin bo‘lsa-da). Shuning uchun, iltimos, tahdidlar yoki talablarni o‘z ichiga olgan xatlar yuborishdan tiyiling, chunki bunday da’volarga qonuniy asoslar yo‘q.</p>

</div>
