<div id=\"infobox-body\">

<p><h1>Mualliflik huquqi egalari uchun AXBOROT</h1></p>

<p>Agar siz ushbu saytida mavjud bo'lgan har qanday materialning mualliflik huquqiga ega bo'lsangiz va foydalanuvchilar tomonidan roziligingizsiz bu ma'lumot tarqalishini xohlamasangiz, biz sizga tegishli havolalarni olib tashlashda yordam beramiz.</p>

<p>Bu bizga elektron shakldagi xat yuborganingizni talab qiladi
bizga quyidagi ma'lumotlarni ko‘rsatgan:</p>

<p>1. Mualliflik huquqi bilan himoyalangan materialga bo‘lgan huquqlaringizni hujjatli tasdiqlovchi:</p>
<p> - muhrlangan hujjatning skaner qilingan nusxasi, yoki</p>
<p> - kompaniya egasining rasmiy elektron pochta domenidan yuborilgan elektron pochta, yoki</p>
<p> - material egasi sifatida sizni aniq ko‘rsatadigan boshqa aloqa ma’lumotlari.</p>

<p>2. Olib tashlanadigan ma’lumot bilan birga joylashtirmoqchi bo‘lgan matn.</p>

<p>Unda siz olib tashlangan ma’lumotlarga havolalar qaerda va qanday shartlar asosida berilganini, shuningdek foydalanuvchilar sizdan ushbu material haqida kerakli barcha ma’lumotlarni olishi uchun aloqa ma’lumotlaringizni ko‘rsatishingiz mumkin.</p>

<p>3. O‘chirilishi kerak bo‘lgan ma’lumotlarga havolalar mavjud bo‘lgan sahifalarning to‘g‘ridan-to‘g‘ri havolalari.</p>

<p>Havolalar quyidagi ko‘rinishda bo‘lishi kerak: <strong>https://url.to/link</strong> yoki shunga o‘xshash.</p>

<p>Shundan so‘ng 48 soat ichida biz talab qilgan havolalaringizni saytdan olib tashlaymiz.</p>

<p class="bold">Bizning elektron manzilimiz: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>DIQQAT!</p>

<p>a) Bizga <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> elektron pochta orqali yuborilgan har qanday ma’lumotni saytimizda nashr etish huquqini o‘zimizda saqlab qolamiz</p>

<p>b) Sizning mualliflik huquqingizga taalluqli bo‘lgan ma’lumotlarga havolalarni qayta joylashtirishi mumkin bo‘lgan foydalanuvchilarning harakatlari ustidan bizda nazorat yo‘q. Forum hech qanday nazoratsiz, to‘liq avtomatik ravishda, internetda ma’lumot joylashtirishga oid xalqaro qabul qilingan amaliyotga muvofiq har qanday ma’lumotni joylashtiradi. Biroq, har qanday holatda biz sizning huquqlaringizni buzadigan ma’lumotlarga havolalar bo‘yicha barcha murojaatlaringizni ko‘rib chiqamiz.</p>

<p>v) Mualliflik huquqi va unga aloqador huquqlar to‘g‘risidagi qonunga ko‘ra, har qanday ma’lumotga (axborot xabariga) havola o‘z-o‘zidan mualliflik huquqi qonuniga taalluqli emas (garchi bu "Veb-saytdan foydalanish shartnomasi"ni buzishi mumkin). Shuning uchun haqiqiy asos bo‘lmagan tahdid yoki talablarni o‘z ichiga olgan xatlar yuborish zarur emas.</p>

</div><!--/infobox-body-->
