<div>
	<h3>Yon panel 2</h3>
	Ushbu yon panelga mazmun qo'shish uchun quyidagi fayllarni tahrir qiling:
	<br /><br />
	<ul class="med">
		<li>kutubxona/til/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Ushbu yon panelni o‘chirib qo‘yish uchun config/layouts.php faylida page.show_sidebar2 o‘zgaruvchisini false ga o‘rnating.
</div>
