<div id="infobox-body">

<p>

<p><h1>FOYDALANUVCHI SHARTNOMASI</h1></p>

<p><h3>SAYT HAQIDA</h3></p>

<p>Ushbu internet resurs/veb-sayt (bundan keyin "Resurs" deb yuritiladi) foydalanuvchilarga BitTorrent orqali, shuningdek boshqa shakllarda o‘zaro ma’lumot almashish imkonini beruvchi sayt bo‘lib, uzatilgan ma’lumotlarning yaxlitligini (hash-fayllar orqali) tekshirish vositasini taqdim etadi.</p>

<ol>

<li type="1"><h3>USHBU FOYDALANUVCHI SHARTNOMASI HAQIDAI</h3>

<p>Ushbu Foydalanuvchi Shartnomasi (bundan keyin — "Shartnoma") pastdagi "Qabul qilaman" tugmasini bosgan vaqtdan kuchga kiradi hamda foydalanuvchi Resursdan foydalangan davr mobaynida amal qiladi. Shartnoma ma'muriyat tomonidan oldindan ogohlantirishsiz o‘zgarishi mumkin. Shartnomaning yangi tahriri, agar unda boshqacha ko‘rsatilmagan bo‘lsa, e’lon qilinganidan keyin 3 (uch) kun o‘tib kuchga kiradi.</p>

<li><h3>JAVOBGARCHILIKNING CHEGARALARI</h3>

<p>Foydalanuvchi Resursdan o‘z xavfi evaziga foydalanishni aniq qabul qiladi.</p>

<p>Foydalanuvchi Resurs uchinchi shaxslar tomonidan yaratilgan va ularning o‘z kompyuterlari va/yoki serverlarida internetda joylashtirilgan materiallar va ma’lumotlar bilan ishlashini tushunadi va bunu qabul qiladi. Ushbu materiallarning mazmuni va xavfsizligi Resurs ma'muriyati tomonidan nazorat qilinmaydi; shuning uchun, ma'muriyat quyidagilar uchun javobgar emas:</p>
<ul>
<p>- Foydalanuvchi Resurs orqali olgan materiallarning mazmuni, shu jumladan, amaldagi qonunlar bilan mos kelmasligi yoki haqoratli bo‘lishi;</p>
<p>- Olingan ma’lumotlarni qo‘llash, foydalanish yoki foydalanmaslik natijalari;</p>
<p>- Resurs orqali olingan natijalar va foydalanuvchining kutganlari o‘rtasidagi har qanday nomuvofiqlik;</p>
<p>- Resursdan foydalanish natijasida foydalanuvchining apparat yoki dasturiy ta’minotiga yetkazilgan har qanday zarar;</p>
<p>- Har qanday sababga ko‘ra Resursdan foydalanishning imkonsizligi;</p>
<p>- Noqonuniy yoki litsenziyasiz dasturiy ta’minot, audio/video kontent yoki uchinchi shaxslarning huquqlarini buzuvchi boshqa materiallar yoki ma’lumotlarning tarqalishi oqibatlari.</p>
</ul>

<p>Har qanday holatda ham Resurs foydalanuvchi yoki uchinchi shaxslarga Resurs, uning foydalanilishi yoki foydalanib bo‘lmasligiga bog‘liq har qanday zarar, yo‘qotish yoki xarajatlar, shu jumladan, foyda yo‘qotilishi uchun javobgar emas.</p>

<p>Resurs ma’muriyati foydalanuvchilardan olingan ma’lumotlarning maxfiyligini ta’minlash majburiyatiga ega emas, biroq buning uchun barcha mumkin bo‘lgan choralarni ko‘radi, alohida kelishuv yoki amaldagi qonunchilik boshqa talab qilmasa.</p>

<p>Resursning vazifalariga uzatilayotgan ma’lumotlarning qonuniyligini nazorat qilish (shu jumladan, BitTorrent orqali foydalanuvchilar o‘rtasida uzatilayotgan axborotlar, ichki xabarlar, matnlar yoki fayllar) yoki intellektual mulk huquqlari hamda ushbu ma’lumotlarni uzatish yoki qabul qilish qonuniyligini aniqlash kirmaydi.</p>

<li><h3>FOYDALANUVCHINING RESURSDAN FOYDALANISHIGA OID CHEGARALAR</h3>

<p>Ushbu Resursdan foydalanganda foydalanuvchi quyidagilarni qilmaslikka rozidir va bunday harakatlarni qilmaydi:</p>
<ul>
<p>- viruslar yoki boshqa zararli dasturlar, kompyuter va telekommunikatsion vositalarning ishlashini buzish, yo‘q qilish yoki cheklash uchun mo‘ljallangan fayl yoki dasturlar, ruxsatsiz kirish uchun dasturlar, tijoriy dasturiy ta’minot uchun seriya raqamlari yoki ularni yaratish vositalari, loginlar, parollar yoki internet resurslariga ruxsatsiz kirish vositalarini o‘z ichiga olgan hash-fayllarni (torrentlarni) yuklash va ularga havola berish;</p>
<p>- har qanday patent, savdo belgisi, tijorat siri, mualliflik huquqi yoki uchinchi shaxslarning boshqa mulkiy yoki tegishli huquqlariga zid bo‘lgan xabarlar, ma’lumotlar yoki dasturlarni o‘z ichiga olgan hash-fayllarni yuklash;</p>
<p>- saytda ko‘rsatilgan elektron pochta manzillariga ruxsatsiz reklama xabarlari (spam, junk mail) yuborish;</p>
<p>- Resurs orqali olingan va boshqalarning huquqlarini buzuvchi yoki ularga moddiy yoki ma’naviy zarar yetkazishi mumkin bo‘lgan har qanday ma’lumotni tijorat maqsadlarida ko‘chirish va foydalanish;</p>
<p>- amaldagi qonunchilikni buzuvchi veb-resurslarga havolalar joylashtirish;</p>
<p>- impersonate any person or representative of an organization and/or community without proper authorization, including employees of the Administration or the owner of the Resource.</p>
</ul>

<li><h3>GARANTILARNI INKOR ETISH</h3>

<p>Resursga kirish "kabi bor" asosida, hech qanday aniq yoki bilvosita kafolatlarsiz taqdim etiladi.</p>

<p>Xususan, Resurs ma’muriyati sayt yoki uning bo‘limlarining funksionalligi hamda foydalanuvchilar tomonidan joylashtirilgan havolalarning ishlash va ishonchliligini kafolatlamaydi.</p>

<p>Resurs hech qanday to‘g‘ridan-to‘g‘ri yoki bilvosita zararlar uchun javobgar emas, jumladan xizmatdan foydalanish yoki foydalanmaslik, shuningdek, xabarlarga ruxsatsiz kirish natijasidagi zararlar.</p>

<li><h3>RESURS MA’MURIYATINING HUQUQLARI</h3>

<p>Resurs ma’muriyati istalgan foydalanuvchiga yoki foydalanuvchilar guruhiga hech qanday izoh yoki oldindan ogohlantirishsiz Resursga kirishni taqiqlash huquqiga ega.</p>

<p>Resurs ma’muriyati foydalanuvchilar tomonidan yuborilgan har qanday ma’lumot, hash-fayllar (torrentlar), grafiklar, audio va boshqa ma’lumotlarni oldindan ogohlantirmasdan yoki izoh bermasdan o‘zgartirish yoki o‘chirish huquqiga ega.</p>

<li><h3>TOMONLARNING JAVOBGARLIGI</h3>

<p>Foydalanuvchi ushbu Shartnomadan kelib chiqadigan barcha nizolar amaldagi qonunlarga muvofiq hal qilinishini qabul qiladi.</p>

<p>Foydalanuvchi ushbu Resurdan foydalanishda iste’molchi himoyasi qonunlari va qoidalari tatbiq etilmasligini qabul qiladi, chunki u pul evaziga xizmat ko‘rsatmaydi.</p>

<p>Resurs hech qanday agentlik, sheriklik, qo‘shma korxona, ishga olinganlik yoki ushbu Shartnomada aniq ta’riflanmagan boshqa munosabatlarni o‘rnatmaydi.</p>

<p>Foydalanuvchi yoki foydalanuvchilar guruhining Shartnoma buzilishiga Resursning javobi bu xatti-harakatlarni tasdiqlashi yoki ularga yordam berishi hisoblanmaydi.</p>

<p>Foydalanuvchi yoki foydalanuvchilar guruhining Shartnoma buzilishiga Resursning javobsiz qolishi ma’lum bir vaqtda o‘z manfaatlarini himoya qilish uchun tegishli choralarni ko‘rish huquqidan mahrum qilmaydi.</p>

<li><h3>FOYDALANUVCHI SHARTNOMASINI QABUL QILISH</h3>

<p>Yuqoridagi barcha shart va qoidalarga rozi bo‘lmasangiz, Foydalanuvchi Shartnomasi sahifasi tashqari Resursga to‘liq yoki qisman kira olmaysiz va ushbu Resurs mazmunini boshqa usullar bilan to‘liq yoki qisman qabul qilishingiz yoki ko‘rishingiz mumkin emas.</p>

<p>Agar ushbu Foydalanuvchi Shartnomasiga rozi bo‘lmasangiz, darhol Resursni tark etishingiz shart.</p>

</ol>
</p>

</div>
