<div id=\"infobox-body\">

<p>

<p><h1>FOYDALANUVCHI SHARTNOMASI</h1></p>

<p><h3>Sayt haqida</h3></p>

<p>Internet-resurs / veb-sayt (keyinchalik - Resurs) foydalanuvchilarga bir-biri bilan bit-torrent orqali, shuningdek, erkin shaklda axborot almashishni ta'minlaydi va uzatilayotgan axborotning yaxlitligini nazorat qilish uchun vosita beradi (hash-fayllar orqali).</p>

<ol>

<li type="1"><h3>FOYDALANUVCHI SHARTNOMASI HAQIDA</h3>

<p>Ushbu FOYDALANUVCHI SHARTNOMASI pastki qismidagi "Roziman" tugmasini bosgandan so'ng kuchga kiradi va resurs foydalanuvchilari tomonidan har doim foydalanishda ishlaydi. FOYDALANUVCHI SHARTNOMASI ma'muriyat tomonidan hech qanday ogohlantirishsiz o'zgartirilishi mumkin. Yangi FOYDALANUVCHI SHARTNOMASI versiyasi taqdim etilgan kundan boshlab 3 (uch) kun o'tgach kuchga kiradi, agar yangi versiyada boshqa tartib ko'rsatilmagan bo'lsa.</p>

<li><h3>JAVOBGARCHILIKNING CHEGARALARI</h3>

<p>Foydalanuvchi o'z xavfi ostida Resursdan foydalanishga aniq rozilik bildiradi.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Mazmuni va xavfsizligi ushbu materiallarning Resurs ma'muriyati tomonidan nazorat qilinmasligi sababli, u quyidagilar uchun javobgar emas:</p>
<ul>
<p>- Foydalanuvchi ma'lumotlar resursidan olingan materiallarning mazmuni va ularning amaldagi qonunlarga zidligi yoki haqoratli bo'lishi mumkinligiga javobgar emas;</p>
<p>- Olingan ma'lumotlardan foydalanish, foydalanmaslik yoki qo'llash natijalari;</p>
<p>- Resurs foydalanuvchisining kutganlariga nisbatan olingan natijalar orasidagi mumkin bo'lgan tafovut;</p>
<p>- Resursdan foydalanish natijasida foydalanuvchining apparat yoki dasturiy ta'minotiga kelgan zarar;</p>
<p>- Har qanday sababga ko'ra resursdan foydalanishning imkonsizligi;</p>
<p>- Noqonuniy yoki litsenziyasiz dasturiy ta'minot, audio-/video mahsulotlar va uchinchi shaxslarning huquqlariga ta'sir qiluvchi boshqa materiallar yoki ma'lumotlarning tarqalishidan kelib chiqadigan oqibatlar.</p>
</ul>

<p>Har qanday holatda Resurs foydalanuvchi yoki uchinchi shaxsga resursdan foydalanish yoki foydalanmaslik bilan bog‘liq zararlari, yo‘qotishlari yoki xarajatlari uchun, shuningdek, yo‘qotilgan foyda uchun javobgar emas.</p>

<p>Resurs ma'muriyati foydalanuvchilari tomonidan taqdim etilgan ma'lumotning maxfiyligini kafolatlamaydi, biroq imkon qadar buning uchun barcha choralarni ko'radi, agar kontrakt va amaldagi qonunchilik talablariga zid bo'lmasa.</p>

<p>Resursning vazifalari qonuniy yoki noqonuniy tarzda uzatilgan ma'lumotlarni nazorat qilishni o'z ichiga olmaydi (bit-torrent orqali foydalanuvchilar orasida uzatiladigan ma'lumotlar, ichki ko'chirishdagi turli havolalar, matn yoki fayllar), mulk huquqlari yoki ushbu ma'lumotlarning uzatilishi yoki qabul qilinishining qonuniyligini aniqlash ham kiritilgan emas.</p>

<li><h3>FOYDALANUVCHI TOMONIDAN RESURSDAN FOYDALANISH CHEGARALARI</h3>

<p>Ushbu resursdan foydalanganingizda, foydalanuvchi quyidagilarga ega emas va bunga rozi bo'ladi:</p>
<ul>
<p>- Viruslar yoki boshqa zararli dasturlarni, kompyuter yoki telekommunikatsiya uskunalari funksiyalarini to'xtatish, yo'q qilish yoki cheklash uchun mo'ljallangan fayllar va dasturlarni, shuningdek, tijorat dasturlarining seriya raqamlari, ularning yaratish dasturlari, loginlar, parollar va internet saytlariga noqonuniy kirish vositalarini o'z ichiga olgan hash-fayllarni (torrentlarni) joylashtirmaslik;</p>
<p>- Har qanday patent, savdo belgisi, tijorat siri yoki mualliflik huquqlari va/yoki uchinchi shaxslarning mualliflik va tegishli huquqlarini buzuvchi xabarlar, ma'lumotlar yoki dasturlarni hash-fayllarga (torrentlarga) joylashtirmaslik;</p>
<p>- Saytda keltirilgan e-mail manzillariga ruxsatsiz reklama xabarlarini (spam) yubormaslik;</p>
<p>- Ushbu resurs orqali olingan har qanday ma'lumotni tijorat maqsadlarida nusxalash va foydalanish, boshqalarning huquqlarini buzish yoki ularga bevosita moddiy yoki ma'naviy zarar yetkazish;</p>
<p>- Mazmuni amaldagi qonunchilikka zid bo'lgan veb-resurslarga havolalarni joylashtirish;</p>
<p>- Yetarli huquqlarsiz, shu jumladan ma'muriyat xodimlari sifatida, hech qanday shaxs yoki tashkilot va/yoki jamiyat vakili kabi o'zini ko'rsatmaslik.</p>
</ul>

<li><h3>ISHLASH KAFOLATI</h3>

<p>Resursga kirish «mavjud holatda» taqdim etiladi, hech qanday to‘g‘ridan-to‘g‘ri yoki bilvosita kafolatlar bermaydi.</p>

<p>Resurs ma'muriyati sayt va uning alohida bo'limlari funksionalligini, shuningdek foydalanuvchilar tomonidan joylashtirilgan havolalarning faoliyatini va ishonchliligini kafolatlamaydi.</p>

<p>Resurs xizmatni ishlatish yoki ishlata olmaslik, shuningdek, sizning kommunikatsiyalaringizga ruxsatsiz kirish natijasida yuzaga kelgan har qanday bevosita yoki bilvosita zarar uchun javobgar emas.</p>

<li><h3>RESURSLAR MA'MURIYATINING HUQUQLARI</h3>

<p>Resurs ma'muriyati istalgan foydalanuvchini yoki foydalanuvchilar guruhini uning harakatlarini tushuntirmasdan va ogohlantirishsiz resursga kirishni taqiqlash huquqiga ega.</p>

<p>Resurs ma'muriyati foydalanuvchi tomonidan taqdim etilgan har qanday ma'lumot, hash-fayllar (torrentlar), grafika, audio va boshqa ma'lumotlarni ogohlantirishsiz va harakatlarini tushuntirmasdan o‘zgartirish yoki o‘chirish huquqiga ega.</p>

<li><h3>TOMONLARNING JAVOBGARLIGI</h3>

<p>Foydalanuvchi Foydalanish bo‘yicha kelishuvdan kelib chiqadigan barcha mumkin bo‘lgan nizolar qonuniy normalarga muvofiq hal qilinishiga rozilik bildiradi.</p>

<p>Foydalanuvchi, bu resursda to‘lovli xizmatlar mavjud emasligi sababli, iste’molchilarni himoya qilish qoidalari va qonunlari unga tatbiq etilmasligini tan oladi.</p>

<p>Resurs foydalanuvchi agentlik munosabatlari, hamkorlik munosabatlari, ishga qabul qilish munosabatlari va Foydalanish bo‘yicha kelishuvda aniq bayon qilinmagan boshqa munosabatlarni o'rnatmaydi.</p>

<p>Foydalanuvchi yoki foydalanuvchilar guruhining FOYDALANUVCHI SHARTNOMASINI buzish hodisasiga Resursning norozi harakatlari Resursning ushbu harakatlarda foydalanuvchilarga yordam berishini anglatmaydi.</p>

<p>Foydalanuvchi yoki foydalanuvchilar guruhining FOYDALANUVCHI SHARTNOMASINI buzilishiga Resursning norozi ta'siri Resursga o'z manfaatlarini himoya qilish bo'yicha keyinchalik tegishli choralarni ko'rish huquqini bermaydi.</p>

<li><h3>FOYDALANUVCHI SHARTNOMASINI QABUL QILISH</h3>

<p>AGAR YUQORIDAGI SHARTLAR VA QOIDALARNING HAMMASIGA ROZI BO‘LMASANGIZ, FOYDALANUVCHI SHARTNOMASI SAHIFASI TASHQARISIDAGI MANBAGA BUTUNLAY YOKI QISMAN KIRISHINGIZ, HAMDA USHBU RESURSNING MAZMUNINI QABUL QILISH YOKI BOSHQA USULLAR BILAN KO‘RISHINGIZ MUMKIN EMAСH!</p>

<p>AGAR FOYDALANUVCHI SHARTNOMASIGA ROZIMASANGIZ, DARHOL RESURSNI TARK ETING.</p>

</ol>
</p>

</div><!--/infobox-body-->
