<div id=\"infobox-body\">

<p><h1>INFORMACIÓ PER A TITULARS DE DRETS D'AUTOR</h1></p>

<p>Si sou el titular de qualsevol material enllaç (o enllaços) que estiguin disponibles en aquest lloc, i no voleu que els usuaris difonguin aquesta informació sense el vostre consentiment, estarem encantats d'ajudar-vos a eliminar els enllaços corresponents.</p>

<p>Això requereix que ens hàgiu enviat una carta (en forma electrònica)
que ens indiqui la següent informació:</p>

<p>1. Prova documental dels vostres drets sobre material protegit per drets d'autor:</p>
<p> - document escanejat amb el segell, o</p>
<p> - correu electrònic d'un domini oficial de l'empresa propietària, o</p>
<p> - altres dades de contacte que us identifiquin com el propietari del material.</p>

<p>2. El text que voleu col·locar, acompanyat d'una informació que es pugui eliminar.</p>

<p>En ell podeu especificar on i sota quines condicions es pot obtenir la informació, les referències a la qual han estat eliminades, així com les vostres dades de contacte, perquè els usuaris puguin obtenir de vosaltres tota la informació necessària sobre aquest material.</p>

<p>3. Enllaços directes a pàgines que contenen referències a dades que s'han d'eliminar.</p>

<p>Els enllaços han de veure's com <strong>https://url.to/link</strong> o alguna cosa similar.</p>

<p>Després d'això, en 48 hores, eliminarem del lloc els enllaços que us interessen.</p>

<p class="bold">El nostre correu electrònic: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>AVÍS!</p>

<p>a) Ens reservem el dret de publicar al lloc qualsevol informació que ens sigui enviada per correu a <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

b) No tenim control sobre les accions dels usuaris que poden tornar a publicar enllaços a la informació, que és objecte dels vostres drets d'autor. Qualsevol informació que el fòrum col·loca automàticament, sense cap control per part de cap entitat, correspon a la pràctica internacionalment acceptada de col·locar informació a Internet. Tanmateix, en qualsevol cas, considerem totes les vostres consultes respecte a la referència a la informació que vulnera els vostres drets.</p>

c) Segons la Llei de drets d'autor i drets conexos, una referència a qualsevol dada (missatge informatiu), per si sola, no està subjecta a la llei de drets d'autor (encara que pot infringir l"Acord d'ús del lloc web"). Així, no és necessari enviar cartes amb amenaces o demandes, per no tenir un motiu real.</p>

</div><!--/infobox-body-->
