<div id="infobox-body">

<p><h1>INFORMACIÓ PER A TITULARS DE DRETS D'AUTOR</h1></p>

<p>Si sou el titular de qualsevol material enllaçat en aquest lloc i no voleu que aquesta informació sigui distribuïda pels usuaris sense el vostre consentiment, estarem encantats d'ajudar-vos retirant els enllaços pertinents.</p>

<p>Per a fer-ho, envieu-nos una carta electrònica que contingui la següent informació:</p>

<p>1. Prova documental dels vostres drets sobre el material protegit per drets d'autor:</p>
<p> — un document escanejat que porti un segell oficial, o</p>
<p> — un correu electrònic enviat des del domini oficial de l'empresa titular dels drets, o</p>
<p> — altres dades de contacte que us identifiquin de manera única com el titular dels drets.</p>

<p>2. El text de substitució que voleu que es publiqui en lloc del contingut eliminat.</p>

<p>En aquest text podeu especificar on i sota quines condicions els usuaris poden obtenir la informació als enllaços de la qual s'ha eliminat, així com les vostres dades de contacte perquè els usuaris us puguin consultar sobre aquest material.</p>

<p>3. Enllaços directes a pàgines que contenen referències a les dades que s'han de retirar.</p>

<p>Els enllaços haurien de tenir el format <strong>https://url.to/link</strong> o similar.</p>

<p>En un termini de 48 hores des de la recepció de la vostra sol·licitud, retirarem els enllaços pertinents del lloc.</p>

<p class="bold">El nostre correu electrònic: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>AVÍS!</p>

<p>a) Ens reservem el dret de publicar al lloc qualsevol informació que ens sigui enviada a <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) No tenim control sobre les accions dels usuaris que puguin tornar a publicar enllaços a la informació que és objecte dels vostres drets d'autor. Tota la informació del fòrum es publica automàticament, sense revisió ni moderació prèvia, d'acord amb les pràctiques internacionals generalment acceptades per allotjar informació a Internet. No obstant això, considerarem totes les sol·licituds relacionades amb enllaços d'informació que infringeixi els vostres drets.</p>

<p>c) Segons la legislació aplicable sobre drets d'autor i drets connexos, un hiperenllaç a dades (una referència informativa) no està, en si mateix, protegit per drets d'autor (tot i que pot violar l'Acord d'Usuari del lloc). Per tant, si us plau, absteniu-vos d'enviar cartes que continguin amenaces o reclamacions, ja que no hi ha fonaments legals per a aquestes demandes.</p>

</div>
