<div>
	<h3>Barra lateral 2</h3>
	Per afegir contingut en aquesta barra lateral, editeu els fitxers següents:
	<br /><br />
	<ul class="med">
		<li>biblioteca/idioma/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Per desactivar aquesta barra lateral, configureu la variable page.show_sidebar2 al fitxer config/layouts.php a false.
</div>
