<div id=\"infobox-body\">

<p>

<p><h1>ACORD D'USUARI</h1></p>

<p><h3>SOBRE EL LLOC</h3></p>

<p>Internet: recurs / lloc web (d'ara endavant - Recurso) és un lloc d'internet que permet als usuaris compartir informació entre ells mitjançant bit-torrent, així com en forma lliure, i ofereix un mitjà per controlar la integritat de la informació transmesa (mitjançant arxius hash).</p>

<ol>

<li type="1"><h3>SOBRE L'ACORD D'USUARI</h3>

<p>AQUEST ACORD D'USUARI entrarà en vigor després de fer clic a "Estic d'acord" a la part inferior i funcionarà durant tot el temps d'ús dels usuaris del recurs. L'ACORD D'USUARI pot ser modificat per l'Administració sense cap avís. La nova versió de l'AC entra en vigor després de 3 (tres) dies des de la data en què s’hi presenta, llevat que es disposi el contrari en la nova versió de l'ACORD D'USUARI.</p>

<li><h3>LIMITACIONS DE RESPONSABILITAT</h3>

<p>L'usuari accepta expressament que utilitza el Recurso sota la seva pròpia responsabilitat.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. El contingut i la seguretat d’aquests materials no poden ser controlats per l’administració del Recurso, per això aquesta no es fa responsable:</p>
<ul>
<p>- pel contingut dels materials obtinguts per l'usuari a partir de l'ús de dades del Recurso i la seva possible incompatibilitat amb les lleis aplicables o que puguin resultar ofensius;</p>
<p>- per les conseqüències de l'aplicació, ús o no ús de la informació rebuda;</p>
<p>- per una possible discrepància entre els resultats obtinguts i les expectatives de l'usuari que fa servir el Recurso;</p>
<p>- per qualsevol dany a maquinari o programari de l'usuari que resulti de l'ús del Recurso;</p>
<p>- per la impossibilitat d'usar el Recurso per qualsevol motiu;</p>
<p>- per les conseqüències derivades de la difusió de programari il·legal o sense llicència i productes d'àudio/vídeo, així com altres materials o dades que afectin els drets de tercers.</p>
</ul>

<p>En cap cas el Recurso serà responsable davant l'usuari ni tercers pels danys, pèrdues o despeses (inclòs la pèrdua de beneficis) relacionats amb aquest Recurso, el seu ús o la impossibilitat d'ús.</p>

<p>L’administració del Recurso no està obligada a garantir la confidencialitat de la informació proporcionada pels seus usuaris, tot i que pren totes les mesures possibles per fer-ho, tret que hi hagi acord en contrari o requisits legals vigents.</p>

<p>Les obligacions del Recurso NO INCLOUEN el control de la informació transmitida legalment o il·legalment (incloent, però no limitat a, informació transmesa entre usuaris via bit-torrent, transferència interna d'informació en diversos enllaços, textos o fitxers), ni la definició dels drets de propietat o la legitimitat de la transmissió o recepció d’aquesta informació.</p>

<li><h3>LÍMITS D'ÚS DEL RECURSO PER PART DE L'USUARI</h3>

<p>Quan utilitzeu aquest Recurso, l’USUARI no té dret i accepta el següent:</p>
<ul>
<p>- publicar arxius hash (torrents) que continguin virus o altres programes maliciosos coneguts, arxius o programes dissenyats per interrompre, destruir o limitar la funcionalitat de qualsevol equip informàtic o de telecomunicacions, o programes per a l'accés no autoritzat, així com números de sèrie de programari comercial, programes per generar-los, noms d'usuari, contrasenyes i altres mitjans per a l'accés no autoritzat a llocs d'internet, així com publicar enllaços a aquesta informació;</p>
<p>- publicar arxius hash (torrents) amb missatges, dades o programes l'ús dels quals infringeixi patents, marques comercials, secrets comercials, drets d'autor o altres drets de propietat, o drets afins de tercers;</p>
<p>- enviar per correu electrònic missatges publicitaris no autoritzats (correu brossa, spam) a adreces llistades al lloc web;</p>
<p>- copiar i usar amb fins comercials qualsevol informació obtinguda a través d’aquest recurs que infringeixi drets de tercers o que pugui causar-los dany material o moral directe;</p>
<p>- publicar enllaços a recursos web el contingut dels quals contradiu la legislació vigent;</p>
<p>- suplantar qualsevol persona o representant d’una organització i/o comunitat sense tenir els drets suficients, inclosos empleats de l’administració, o al propietari del Recurso.</p>
</ul>

<li><h3>GARANTIA DE FUNCIONAMENT</h3>

<p>L’accés al Recurso es proporciona "tal qual", sense cap tipus de garanties, ni directes ni indirectes.</p>

<p>En particular, l’administració del Recurso no garanteix la funcionalitat del lloc ni de les seves seccions individuals, ni tampoc el rendiment i la fiabilitat dels enllaços publicats pels seus usuaris.</p>

<p>El Recurso no és responsable de cap pèrdua directa o indirecta deguda a: l’ús o la impossibilitat d’usar el servei; l’accés no autoritzat a les seves comunicacions.</p>

<li><h3>DRETS DE L'ADMINISTRACIÓ DEL RECURSO</h3>

<p>L'administració del Recurso té dret a denegar l’accés a qualsevol usuari o grup d’usuaris sense necessitat de justificar ni notificar la decisió.</p>

<p>L'administració del Recurso pot modificar o eliminar qualsevol informació, arxius hash (torrents), gràfics, àudio o altres dades presentades pels usuaris sense avís previ ni explicació.</p>

<li><h3>RESPONSABILITATS DE LES PARTS</h3>

<p>L’usuari accepta que qualsevol disputa referent a l’ACORD D’ÚS es resoldrà d’acord amb la normativa legal vigent.</p>

<p>L’usuari accepta que les normes i lleis de protecció al consumidor no s’apliquen en l’ús d’aquest Recurso, ja que no hi ha serveis de pagament.</p>

<p>El Recurso no estableix relacions d'agent d’usuari, de col·laboració en activitats comunes, ni relacions laborals o altres no expressament descrites a l'ACORD D’ÚS.</p>

<p>La inacció del Recurso davant d’un incompliment de l’usuari o grup d’usuaris de l’ACORD D’USUARI no significa que el Recurso doni suport als infractors.</p>

<p>La inacció del Recurso davant un incompliment per part de l’usuari o grup d’usuaris de l’ACORD D’USUARI no impedeix que el Recurso prengui les mesures oportunes per protegir els seus interessos posteriorment.</p>

<li><h3>ACCEPTACIÓ DE L'ACORD D'USUARI</h3>

<p>SI NO ESTEVEU D'ACORD AMB TOTS ELS TERMES I CONDICIONS ESMENTATS, NO PODEU ACCEDIR AL RECURSO NI EN LA SEVA TOTALITAT NI EN PART, EXCEPTE A LA PÀGINA AMB L'ACORD D'USUARI, NI REBRE I/O ACCEDIR AL CONTINGUT D'AQUEST RECURSO PER CAP ALTRE MITJÀ NI EN LA SEVA TOTALITAT NI EN PART!</p>

<p>SI NO ESTEU D'ACORD AMB L'ACORD D'USUARI, HEU D'ABANDONAR IMMEDIATAMENT EL RECURSO.</p>

</ol>
</p>

</div><!--/infobox-body-->
