<div id="infobox-body">

<p><h1>INFORMATIE VOOR HOUDERS VAN DE AUTEURSRECHTEN</h1></p>

<p>Indien u de auteursrechten bezit van enig materiaal dat op deze site gelinkt is en niet wilt dat deze informatie door gebruikers zonder uw toestemming wordt verspreid, helpen wij u graag door de relevante links te verwijderen.</p>

<p>Stuur ons daartoe een elektronische brief met de volgende informatie:</p>

<p>1. Documentair bewijs van uw rechten op het auteursrechtelijk beschermde materiaal:</p>
<p> — een gescand document met een officieel zegel, of</p>
<p> — een e-mail verzonden vanaf het officiële domein van het bedrijf dat de rechten bezit, of</p>
<p> — andere contactinformatie die u uniek identificeert als de rechthebbende.</p>

<p>2. De vervangende tekst die u wilt laten plaatsen in plaats van de verwijderde inhoud.</p>

<p>In deze tekst kunt u aangeven waar en onder welke voorwaarden gebruikers de informatie kunnen verkrijgen waarvan de links zijn verwijderd, evenals uw contactgegevens zodat gebruikers contact met u kunnen opnemen over dit materiaal.</p>

<p>3. Directe links naar pagina's met verwijzingen naar de gegevens die verwijderd moeten worden.</p>

<p>Links dienen het formaat <strong>https://url.to/link</strong> of iets dergelijks te hebben.</p>

<p>Binnen 48 uur na ontvangst van uw verzoek verwijderen wij de relevante links van de site.</p>

<p class="bold">Onze e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WAARSCHUWING!</p>

<p>a) Wij behouden ons het recht voor om op de site alle informatie te publiceren die ons wordt toegestuurd via <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Wij hebben geen controle over de handelingen van gebruikers die mogelijk links naar informatie die onder uw auteursrecht valt opnieuw plaatsen. Alle informatie op het forum wordt automatisch geplaatst, zonder voorafgaande controle of moderatie, in overeenstemming met algemeen aanvaarde internationale praktijken voor het hosten van informatie op het internet. Desondanks zullen wij alle verzoeken over links naar informatie die inbreuk maakt op uw rechten in overweging nemen.</p>

<p>c) Volgens het toepasselijke auteursrecht en aanverwante rechtenwetgeving is een hyperlink naar gegevens (een informatielink) op zichzelf niet auteursrechtelijk beschermd (hoewel dit mogelijk in strijd is met de Gebruikersovereenkomst van de site). Wij verzoeken u daarom af te zien van het sturen van brieven met bedreigingen of eisen, daar hier geen juridische grondslag voor bestaat.</p>

</div>
