<div id=\"infobox-body\">

<p><h1>INFORMATIE VOOR HOUDERS VAN DE AUTEURSRECHTEN</h1></p>

<p>Indien u de auteursrechten bezit van enig materiaal (of materialen) die beschikbaar zijn op deze site, en niet wilt dat deze informatie door gebruikers zonder uw toestemming wordt verspreid, helpen wij u graag door de juiste links te verwijderen.</p>

<p>Dit vereist dat u ons een brief (in elektronische vorm) hebt gestuurd
die ons de volgende informatie aangeeft:</p>

<p>1. Documentair bewijs van uw rechten op materiaal dat door auteursrecht is beschermd:</p>
<p> - gescand document met het zegel, of</p>
<p> - e-mail van een officieel e-maildomein van de eigenaar van het bedrijf, of</p>
<p> - andere contactinformatie die u uniek identificeert als de eigenaar van het materiaal.</p>

<p>2. De tekst die u wilt plaatsen, vergezeld van verwijderbare informatie.</p>

<p>Daarin kunt u specificeren waar en onder welke voorwaarden u informatie kunt krijgen, verwijzingen naar welke zijn verwijderd, evenals uw contactgegevens, zodat gebruikers bij u alle benodigde informatie over dit materiaal kunnen verkrijgen.</p>

<p>3. Directe links naar pagina's die verwijzingen naar gegevens bevatten die moeten worden verwijderd.</p>

<p>Links dienen te worden weergegeven als <strong>https://url.to/link</strong> of iets dergelijks.</p>

<p>Daarna verwijderen wij binnen 48 uur de door u opgegeven interessante links van de site.</p>

<p class="bold">Onze e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WAARSCHUWING!</p>

<p>a) Wij behouden ons het recht voor om op de site alle informatie te publiceren die ons per e-mail wordt gestuurd via <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

b) We hebben geen controle over de acties van gebruikers die mogelijk links naar informatie die het voorwerp is van uw auteursrecht opnieuw plaatsen. Alle informatie van het forum wordt automatisch geplaatst, zonder enige controle van welke kant dan ook, en komt overeen met de algemeen aanvaarde internationale praktijk van het publiceren van informatie op het internet. Echter, in alle gevallen zullen wij al uw verzoeken met betrekking tot de verwijzing naar de informatie die uw rechten schendt in overweging nemen.</p>

<p>c) Volgens de Wet op Auteursrecht en Gerelateerde Rechten valt een verwijzing naar enige gegevens (informatie) op zich niet onder het auteursrecht (hoewel het mogelijk in strijd is met de "Overeenkomst voor het gebruik van de website"). Het is daarom niet nodig om brieven te sturen die bedreigingen of eisen bevatten, omdat er geen gegronde reden is.</p>

</div><!--/infobox-body-->
