<div>
	<h3>Zijbalk 2</h3>
	Om inhoud aan deze zijbalk toe te voegen, bewerk de volgende bestanden:
	<br /><br />
	<ul class="med">
		<li>bibliotheek/talen/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Om deze zijbalk uit te schakelen, zet de variabele page.show_sidebar2 in het bestand config/layouts.php op false.
</div>
