<div id="infobox-body">

<p>

<p><h1>GEBRUIKERSOVEREENKOMST</h1></p>

<p><h3>OVER DE SITE</h3></p>

<p>Deze internetbron/website (hierna te noemen de "Bron") is een website die gebruikers in staat stelt informatie met elkaar te delen via BitTorrent, evenals op andere manieren, en biedt een middel om de integriteit van de overgedragen informatie te verifiëren (via hash-bestanden).</p>

<ol>

<li type="1"><h3>OVER DEZE GEBRUIKERSOVEREENKOMST</h3>

<p>Deze Gebruikersovereenkomst (hierna te noemen de "Overeenkomst") treedt in werking bij het klikken op "Ik ga akkoord" onderaan en blijft van kracht gedurende de gehele duur van het gebruik van de Bron door de gebruiker. De Overeenkomst kan door de Administratie zonder voorafgaande kennisgeving worden gewijzigd. De nieuwe versie van de Overeenkomst treedt in werking 3 (drie) dagen na publicatie, tenzij anders vermeld in de nieuwe versie van de Overeenkomst.</p>

<li><h3>BEPERKINGEN VAN AANSPRAKELIJKHEID</h3>

<p>De gebruiker stemt uitdrukkelijk toe de Bron op eigen risico te gebruiken.</p>

<p>De gebruiker erkent en accepteert dat de Bron materialen en gegevens bevat die door derden zijn gecreëerd en door hen op internet worden gehost via hun eigen computers en/of servers. De inhoud en beveiliging van deze materialen kunnen niet door de Administratie van de Bron worden gecontroleerd; daarom is de Administratie niet aansprakelijk:</p>
<ul>
<p>- voor de inhoud van materialen die de gebruiker verkrijgt via de Bron, inclusief eventuele mogelijke strijdigheid met toepasselijke wetten of de beledigende aard daarvan;</p>
<p>- voor de gevolgen van het toepassen, gebruiken of niet gebruiken van de verkregen informatie;</p>
<p>- voor enige discrepantie tussen de via de Bron verkregen resultaten en de verwachtingen van de gebruiker;</p>
<p>- voor enige schade aan de hardware of software van de gebruiker die voortvloeit uit het gebruik van de Bron;</p>
<p>- voor enige onmogelijkheid om de Bron om welke reden dan ook te gebruiken;</p>
<p>- voor de gevolgen die kunnen voortvloeien uit de verspreiding van illegale of niet-gelicentieerde software, audio-/video-inhoud, of andere materialen of gegevens die inbreuk maken op de rechten van derden.</p>
</ul>

<p>Onder geen enkele omstandigheid is de Bron aansprakelijk jegens de gebruiker of enige derde partij voor schade, verliezen of kosten voortvloeiend uit de Bron, het gebruik ervan, of het onvermogen om deze te gebruiken, inclusief gederfde winst.</p>

<p>De Administratie van de Bron is niet verplicht de vertrouwelijkheid van door haar gebruikers verstrekte informatie te waarborgen, hoewel zij alle redelijke maatregelen daartoe treft, tenzij een afzonderlijke overeenkomst bestaat of toepasselijke wetgeving anders vereist.</p>

<p>De taken van de Bron omvatten niet het toezicht op de legaliteit van de overgedragen informatie (inclusief, maar niet beperkt tot, informatie die via BitTorrent tussen gebruikers wordt uitgewisseld, interne berichten in welke vorm dan ook, tekst of bestanden), noch het bepalen van intellectuele eigendomsrechten of de rechtmatigheid van het verzenden of ontvangen van dergelijke informatie.</p>

<li><h3>BEPERKINGEN VAN HET GEBRUIK VAN DE BRON DOOR DE GEBRUIKER</h3>

<p>Bij het gebruik van deze Bron mag de gebruiker niet, en stemt hij ermee in dit niet te doen:</p>
<ul>
<p>- hash-bestanden (torrents) uploaden die gegevens bevatten met virussen of andere kwaadaardige software, bestanden of programma's ontworpen om de functionaliteit van computers of telecommunicatieapparatuur te verstoren, vernietigen of beperken, programma's voor ongeautoriseerde toegang, serienummers voor commerciële software of tools voor het genereren daarvan, inloggegevens, wachtwoorden of andere middelen om ongeautoriseerde toegang tot internetbronnen te verkrijgen, evenals links naar het voorgaande plaatsen;</p>
<p>- hash-bestanden (torrents) uploaden die berichten, gegevens of programma's bevatten waarvan het gebruik inbreuk maakt op patenten, handelsmerken, bedrijfsgeheimen, auteursrechten of andere eigendomsrechten en/of aanverwante rechten van derden;</p>
<p>- ongeautoriseerde reclameberichten (junkmail, spam) versturen naar op de site vermelde e-mailadressen;</p>
<p>- informatie die via de Bron is verkregen kopiëren en gebruiken voor commerciële doeleinden indien deze de rechten van anderen schendt of directe materiële of morele schade kan veroorzaken;</p>
<p>- links plaatsen naar webbronnen waarvan de inhoud in strijd is met de toepasselijke wetgeving;</p>
<p>- zich voordoen als een persoon of vertegenwoordiger van een organisatie en/of gemeenschap zonder juiste toestemming, inclusief medewerkers van de Administratie of de eigenaar van de Bron.</p>
</ul>

<li><h3>AFWIJZING VAN GARANTIES</h3>

<p>Toegang tot de Bron wordt aangeboden op een "zoals het is"-basis zonder enige garanties, uitdrukkelijk of impliciet.</p>

<p>In het bijzonder garandeert de Administratie van de Bron de functionaliteit van de site of afzonderlijke secties niet, noch de bruikbaarheid en betrouwbaarheid van door gebruikers geplaatste links.</p>

<p>De Bron is niet verantwoordelijk voor directe of indirecte schade als gevolg van: het gebruik of de onmogelijkheid om van de dienst gebruik te maken; of ongeautoriseerde toegang tot uw communicatie.</p>

<li><h3>RECHTEN VAN DE ADMINISTRATIE VAN DE BRON</h3>

<p>De Administratie van de Bron heeft het recht toegang tot de Bron te weigeren aan elke gebruiker of gebruikersgroep zonder uitleg of voorafgaande kennisgeving.</p>

<p>De Administratie van de Bron kan elke informatie, hash-bestanden (torrents), grafische beelden, audio en andere door gebruikers ingediende gegevens zonder voorafgaande kennisgeving of uitleg wijzigen of verwijderen.</p>

<li><h3>VERANTWOORDELIJKHEDEN VAN DE PARTIJEN</h3>

<p>De gebruiker stemt ermee in dat alle geschillen voortvloeiend uit deze Overeenkomst worden opgelost in overeenstemming met de toepasselijke wetgeving.</p>

<p>De gebruiker stemt ermee in dat consumentenbeschermingswetten en -regelgeving niet van toepassing zijn op het gebruik van deze Bron, aangezien deze geen betaalde diensten levert.</p>

<p>De Bron vestigt geen agentschap, partnerschap, joint venture, arbeidsovereenkomst of andere relaties die niet uitdrukkelijk in deze Overeenkomst zijn beschreven.</p>

<p>Het nalaten van de Bron om te reageren op een schending van deze Overeenkomst door een gebruiker of groep gebruikers betekent geen goedkeuring van of hulp bij dergelijke handelingen.</p>

<p>Het nalaten van de Bron om te reageren op een schending van deze Overeenkomst door een gebruiker of groep gebruikers doet geen afbreuk aan het recht van de Bron om later passende maatregelen te nemen ter bescherming van haar belangen.</p>

<li><h3>ACCEPTATIE VAN DE GEBRUIKERSOVEREENKOMST</h3>

<p>ALS U NIET AKKOORD GAAT MET AL DE BOVENSTAANDE VOORWAARDEN EN BEPALINGEN, MAG U DE BRON ALS GEHEEL OF GEDEELTELIJK NIET BETREDEN, BEHALVE DEZE PAGINA MET DE GEBRUIKERSOVEREENKOMST, EN EVENMIN DE INHOUD VAN DEZE BRON OP ENIGE WIJZE ONTVANGEN EN/OF TOEGANG HEBBEN, GEHEEL OF GEDEELTELIJK.</p>

<p>ALS U NIET AKKOORD GAAT MET DEZE GEBRUIKERSOVEREENKOMST, DIENT U DE BRON ONMIDDELLIJK TE VERLATEN.</p>

</ol>
</p>

</div>
