<div id=\"infobox-body\">

<p>

<p><h1>GEBRUIKERSOVEREENKOMST</h1></p>

<p><h3>OVER DE SITE</h3></p>

<p>Internet - bron / website (hierna Resource) is een website die gebruikers in staat stelt om informatie te delen met elkaar via bit-torrent, als in vrije vorm, en biedt een middel om de bewaking van de integriteit van de doorgegeven informatie (via hash-bestanden).</p>

<ol>

<li type="1"><h3>OVER DE GEBRUIKERSOVEREENKOMST</h3>

<p>Deze GEBRUIKERSOVEREENKOMST treedt in werking na het klikken op "Ik ga akkoord" onderaan en geldt voor de gehele gebruiksperiode van het gebruik van de bron door gebruikers. De GEBRUIKERS-OVEREENKOMST kan worden gewijzigd door de Administratie zonder enige kennisgeving. De nieuwe versie van de GEBRUIKERSOVEREENKOMST treedt in werking na 3 (drie) dagen vanaf de datum van indiening, tenzij in de nieuwe versie van de GEBRUIKERSOVEREENKOMST anders is bepaald.</p>

<li><h3>BEPERKINGEN VAN AANSPRAKELIJKHEID</h3>

<p>De gebruiker aanvaardt uitdrukkelijk dat het gebruik van de Bron op eigen risico is.</p>

<p>De gebruiker weet en stemt ermee in dat hij omgaat met materiaal en gegevens van bronnen die zijn gemaakt door derden en op hun computers en/of servers op het internet zijn geplaatst. De inhoud en beveiliging van deze materialen kunnen niet door de administratie van de Bron worden gecontroleerd, waardoor deze laatste niet aansprakelijk is:</p>
<ul>
<p>- voor de inhoud van materialen die de gebruiker verkrijgt uit het gebruik van gegevens vanuit de Bron en hun mogelijke inconsistentie met de toepasselijke wetgeving of beledigende inhoud;</p>
<p>- voor de gevolgen van de toepassing, het gebruik of niet-gebruik van de ontvangen informatie;</p>
<p>- voor eventuele discrepantie tussen de resultaten die zijn verkregen met behulp van de Bron en de verwachtingen van de gebruiker;</p>
<p>- voor eventuele schade aan de hardware of software van de gebruiker als gevolg van het gebruik van de Bron;</p>
<p>- voor de onmogelijkheid om de Bron om welke reden dan ook te gebruiken;</p>
<p>- voor de gevolgen die kunnen voortvloeien uit de verspreiding van illegale of ongeregistreerde software en audio-/video producten, en andere materialen of gegevens die de rechten van derden beïnvloeden.</p>
</ul>

<p>Onder geen enkele omstandigheid is de Bron aansprakelijk jegens de gebruiker of een derde partij voor schade, verlies of kosten die voortvloeien uit het gebruik van deze Bron, inclusief verlies of gederfde wint.</p>

<p>De administratie van de Bron is niet verplicht om de vertrouwelijkheid van informatie die door zijn gebruikers is verstrekt te waarborgen, terwijl ze alle mogelijke maatregelen daartoe nemen, tenzij er een overeenkomst is die het tegendeel bepaalt of de relevante eisen van de huidige wetgeving.</p>

<p>De taken van de Bron omvatten NIET het controleren van legaal of illegaal verzonden informatie (met inbegrip van, maar niet beperkt tot, informatie die tussen gebruikers via bit-torrent wordt verzonden, interne overdracht van informatie in verschillende links, tekst of bestanden), de definitie van eigendomsrechten of de wettigheid van het verzenden of ontvangen van deze informatie.</p>

<li><h3>LIMITS VAN HET GEBRUIK VAN DE BRON DOOR DE GEBRUIKER</h3>

<p>Wanneer u gebruik maakt van deze Bron, heeft de GEBRUIKER geen rechten en stemt hij in met het volgende: </p>
<ul>
<p>- plaats hash-bestanden (torrents) met gegevens die virussen bevatten of andere kwaadaardige computerprogramma's die bedoeld zijn voor het verstoren, vernietigen of beperken van de functionaliteit van computers of telecommunicatie-apparatuur, of programma's voor niet-geautoriseerde toegang, evenals serienummers voor commerciële software-producten en programma's voor hun generatie, logins, wachtwoorden en andere middelen voor onbevoegde toegang tot internetpagina's, evenals het plaatsen van links naar bovenstaande informatie;</p>
<p>- plaats hash-bestanden (torrents) met berichten, gegevens of programma's waarvan het gebruik inbreuk maakt op enig patent, handelsmerk, commercieel geheim, auteursrecht of andere eigendomsrechten en / of auteursrechten en verwante rechten van derden.</p>
<p>- het verzenden van e-mail adressen die vermeld staan op de site, onbevoegde mailberichten met reclame-type (junk mail, spam);</p>
<p>- kopiëren en gebruiken voor commerciële doeleinden van enige informatie verkregen via deze Bron die de rechten van anderen schendt of die directe materiële of morele schade kan veroorzaken.</p>
<p>- plaats links naar webbronnen wiens inhoud in tegenspraak is met de huidige wetgeving;</p>
<p>- de identiteit van een persoon of vertegenwoordiger van een organisatie en / of gemeenschap imiteren zonder voldoende rechten, waaronder de medewerkers van de administratie, voor de eigenaar van de Bron.</p>
</ul>

<li><h3>GARANTIE VAN UITVOERING</h3>

<p>Toegang tot de Bron wordt aangeboden op een "zoals het is" basis zonder garanties van welke aard dan ook, zowel direct als indirect.</p>

<p>In het bijzonder biedt de administratie van de Bron geen garantie voor de functionaliteit van de site en zijn afzonderlijke secties, alsook voor de prestaties en betrouwbaarheid van de door gebruikers geplaatste links.</p>

<p>De Bron is niet verantwoordelijk voor enige directe of indirecte verliezen die voortvloeien uit: het gebruik of het onvermogen om de dienst te gebruiken; ongeautoriseerde toegang tot uw communicatie.</p>

<li><h3>DE RECHTEN VAN DE ADMINISTRATIE VAN DE BRON</h3>

<p>De administratie van de Bron heeft het recht om de toegang tot de Bron voor elke gebruiker of gebruikersgroep te weigeren zonder uitleg van zijn acties en kennisgeving.</p>

<p>De administratie van de Bron kan zonder kennisgeving en uitleg van hun acties elke informatie, hash-bestanden (torrents), grafische beelden, audio en andere gegevens die door de gebruiker zijn ingediend, wijzigen of verwijderen.</p>

<li><h3>VERANTWOORDELIJKHEDEN VAN DE PARTIJEN</h3>

<p>Gebruiker stemt ermee in dat alle mogelijke geschillen met betrekking tot de OVEREENKOMST VAN GEBRUIK zullen worden opgelost volgens de wettelijke norm.</p>

<p>De gebruiker stemt ermee in dat de regels en wetten ter bescherming van de consument niet van toepassing kunnen zijn op het gebruik van de Bron, aangezien deze geen betaalde diensten heeft.</p>

<p>De Bron stelt geen user-agent-relaties, samenwerkingsverbanden voor gezamenlijke activiteiten, recruitmentrelaties of andere relaties vast die niet expliciet zijn beschreven in de OVEREENKOMST VAN GEBRUIK.</p>

<p>Het uitblijven van maatregelen door de Bron in geval van schending door de gebruiker of gebruikersgroep van de GEBRUIKERSOVEREENKOMST betekent niet dat de Bron bij dergelijke actie zal helpen.</p>

<p>Het uitblijven van maatregelen door de Bron in het geval van schending door de gebruiker of gebruikersgroep van de GEBRUIKERSOVEREENKOMST ontnemt de Bron niet het recht om later passende maatregelen te nemen ter bescherming van haar belangen.</p>

<li><h3>ACCEPTATIE VAN DE GEBRUIKERSOVEREENKOMST</h3>

<p>ALS U NIET AKKOORD GAAT MET ALLE BOVENSTAANDE VOORWAARDEN EN BEPALINGEN, MAG U DE BRON ALS GEHEEL OF ENIG DEEL NIET BETREDEN, BEHALVE DE PAGINA MET DE GEBRUIKERSOVEREENKOMST, EN / OF DE INHOUD VAN DEZE BRON DIRECT OF INDIRECT ONTVANGEN!</p>

<p>ALS U NIET AKKOORD GAAT MET DE GEBRUIKERSOVEREENKOMST, DIENT U DE BRON ONMIDDELLIJK TE VERLATEN.</p>

</ol>
</p>

</div><!--/infobox-body-->
