<div id=\"infobox-body\">

<p><h1>OPLYSNINGER FOR INDEHAVERE AF OPHAVSRET</h1></p>

<p>Hvis du er indehaver af ophavsretten til ethvert materiale link (eller links), som er tilgængeligt på dette sted, og ikke ønsker at sprede disse oplysninger blandt brugere uden dit samtykke, vil vi med glæde hjælpe dig med at fjerne de relevante links.</p>

<p>Dette kræver, at du har sendt os et brev (i elektronisk form)
som angiver følgende oplysninger:</p>

<p>1. Dokumentation for dine rettigheder til materiale, der er beskyttet af ophavsret:</p>
<p> - scannet dokument med segl, eller</p>
<p> - e-mail fra et officielt e-mail-domæne for virksomhedsejeren, eller</p>
<p> - andre kontaktoplysninger, der entydigt identificerer dig som ejer af materialet.</p>

<p>2. Den tekst, du ønsker at placere, ledsaget af en aftagelig information.</p>

<p>Heri kan du angive, hvor og under hvilke betingelser du kan få information, hvis referencer er blevet fjernet, samt dine kontaktoplysninger, så brugerne kan få alle nødvendige oplysninger fra dig vedrørende dette materiale.</p>

<p>3. Direkte links til sider, der indeholder henvisninger til data, som skal fjernes.</p>

<p>Links skal vises som <strong>https://url.to/link</strong> eller lignende.</p>

<p>Herefter vil vi inden for 48 timer fjerne de relevante links fra siden.</p>

<p class="bold">Vores e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ADVARSEL!</p>

<p>a) Vi forbeholder os retten til at offentliggøre alle informationer, som sendes til os via mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Vi har ingen kontrol over handlingerne hos brugere, som kan genudgive links til oplysninger, der er genstand for din ophavsret. Enhver information på forummet placeres automatisk, uden nogen form for kontrol fra nogen instans, hvilket svarer til den generelt accepterede internationale praksis for placering af information på internettet. Men under alle omstændigheder tager vi alle dine henvendelser vedrørende henvisninger til information, der krænker dine rettigheder, i betragtning.</p>

<p>c) Ifølge loven om ophavsret og beslægtede rettigheder er en henvisning til data (informationsmeddelelse) i sig selv ikke underlagt ophavsret (selvom det kan krænke "Brugsaftalen for hjemmesiden"). Derfor er det ikke nødvendigt at sende breve, der indeholder trusler eller krav, som ikke har reel begrundelse.</p>

</div><!--/infobox-body-->
