<div id="infobox-body">

<p><h1>OPLYSNINGER FOR INDEHAVERE AF OPHAVSRET</h1></p>

<p>Hvis du er ophavsretsindehaver til noget materiale, der er linket til på dette site, og ikke ønsker, at denne information distribueres af brugere uden dit samtykke, vil vi gerne hjælpe dig ved at fjerne de relevante links.</p>

<p>For at gøre dette, bedes du sende os et elektronisk brev med følgende oplysninger:</p>

<p>1. Dokumentation for dine rettigheder til det ophavsretligt beskyttede materiale:</p>
<p> — et scannet dokument med officielt stempel, eller</p>
<p> — en e-mail sendt fra den officielle domæneadresse for det rettighedshavende firma, eller</p>
<p> — andre kontaktoplysninger, der entydigt identificerer dig som rettighedshaver.</p>

<p>2. Den erstatningstekst, du ønsker, der skal indsættes i stedet for det fjernede indhold.</p>

<p>I denne tekst kan du angive, hvor og på hvilke betingelser brugere kan få adgang til den information, hvis links er blevet fjernet, samt dine kontaktoplysninger, så brugerne kan kontakte dig angående dette materiale.</p>

<p>3. Direkte links til sider, der indeholder henvisninger til de data, der skal fjernes.</p>

<p>Links skal være i formatet <strong>https://url.to/link</strong> eller lignende.</p>

<p>Inden for 48 timer efter modtagelse af din anmodning vil vi fjerne de relevante links fra siden.</p>

<p class="bold">Vores e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ADVARSEL!</p>

<p>a) Vi forbeholder os retten til at offentliggøre alle oplysninger, der sendes til os på <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Vi har ingen kontrol over handlinger fra brugere, der kan genposte links til oplysninger, som er underlagt din ophavsret. Al information på forummet uploades automatisk uden forudgående gennemgang eller moderation, i overensstemmelse med almindeligt accepterede internationale praksisser ved hosting af information på internettet. Vi vil dog behandle alle anmodninger vedrørende links til information, der krænker dine rettigheder.</p>

<p>c) Efter gældende ophavsrets- og beslægtede rettighedslove er et hyperlink til data (en informationsreference) i sig selv ikke ophavsretligt beskyttet (selvom det kan være i strid med site-brugeraftalen). Derfor bedes du undlade at sende breve med trusler eller krav, da der ikke er retligt grundlag for sådanne påstande.</p>

</div>
