<div id=\"infobox-body\">

<p>

<p><h1>BRUGER-AFTALE</h1></p>

<p><h3>OM SITET</h3></p>

<p>Internet - ressource / website (i det følgende benævnt - Ressource) er et internet-site, der giver brugerne mulighed for at dele oplysninger med hinanden via bit-torrent, såvel som i fri form, og giver et middel til at overvåge integriteten af de oplysninger, der overføres via hash-filer).</p>

<ol>

<li type="1"><h3>OM BRUGERAFTALEN</h3>

<p>Denne BRUGERAFTALE træder i kraft, når du klikker på "Jeg er enig" nederst og gælder i hele brugerens brug af ressourcen. BRUGERAFTALE kan ændres af administrationen uden varsel. Den nye version af UA træder i kraft efter 3 (tre) dage fra datoen for dens indsendelse — medmindre andet er fastsat i den nye version af BRUGERAFTALEN.</p>

<li><h3>BEGRÆNSNING AF ANSVAR</h3>

<p>Brugeren er udtrykkeligt enig i, at brug af Ressourcen er på egen risiko.</p>

<p>Brugeren ved og er enig i, at det handler om ressourcematerialer og data, der er skabt af tredjeparter og placeret dem på internettet på deres computere og (eller) servere. Indhold og sikkerhed af disse materialer kan ikke kontrolleres af ressourceadministration, så sidstnævnte er ikke ansvarlig:</p>
<ul>
<p>- for the content of the materials obtained by the User from the use of data Resources and their possible inconsistency with applicable laws or offensive;</p>
<p>- for konsekvenserne af brug, anvendelse eller ikke-anvendelse af de modtagne oplysninger;</p>
<p>- for a possible discrepancy between the results obtained using the Resource User's expectations;</p>
<p>- for any damage to hardware or software User resulting from the use of Resource;</p>
<p>- for inability to resource use for any reason;</p>
<p>- for de konsekvenser, der kan følge af spredning af ulovlige eller ikke-licenserede software og lyd-/video-produkter og andre materialer eller data, der berører tredjemands rettigheder.</p>
</ul>

<p>Under ingen omstændigheder skal Ressourcen være ansvarlig over for Brugeren eller en tredjepart for skader, tab eller omkostninger, der opstår i forbindelse med denne Ressource, dens brug eller manglende evne til at bruge, herunder tab eller tabt profit.</p>

<p>Ressourcen Administration er under ingen forpligtelse til at sikre fortroligheden af de oplysninger, der leveres af Brugerne, mens de tager alle mulige foranstaltninger for dette, hvis der ikke er aftale om det modsatte eller de relevante krav i gældende lovgivning.</p>

<p>Ressourcens opgaver omfatter IKKE kontrol af oplysninger, der overføres lovligt eller ulovligt (herunder, men ikke begrænset til, oplysninger, der overføres mellem brugere via bit-torrent, intern overførsel af data i forskellige links, tekst eller filer), fastsættelse af ejendomsrettigheder eller lovligheden af transmission eller modtagelse af disse oplysninger.</p>

<li><h3>RESSOURCEFORBRUGSBEGRÆNSNINGER PR. BRUGER</h3>

<p>Når du bruger denne Ressource, BRUGEREN har ingen ret til, og er enig i dette:</p>
<ul>
<p>- placere hash-filer (torrenter) med data, der indeholder virus eller andre skadelige computervirusser, handlinger, filer eller programmer kendt for at afbryde, ødelægge eller begrænse funktionaliteten af computer- eller telekommunikationsudstyr eller programmer til uautoriseret adgang, samt serienumre til kommercielle softwareprodukter og programmer til deres generering, logins, adgangskoder og andre midler til at opnå uautoriseret adgang til websteder på internettet, samt at poste links til ovenstående oplysninger;</p>
<p>- place hash-files (torrents) any messages, data, or programs, the use of which infringes any patent, trademark, trade secret, copyright or other proprietary rights and / or copyrights and related rights of third parties;</p>
<p>- send e-mail addresses listed on the site, unauthorized mail messages advertising type (junk mail, spam);</p>
<p>- copy and use for commercial purposes any information obtained through this resource, violates the rights of others or could cause them direct material or moral damage;</p>
<p>- post links to web resources, whose content contradicts the current legislation;</p>
<p>- impersonate any person or representative of an organization and / or community without sufficient rights, including employees of Administration, for the owner of the Resource.</p>
</ul>

<li><h3>PERFORMANCE GARANTI</h3>

<p>Adgang til Ressourcen gives som den er uden garantier af nogen art, hverken direkte eller indirekte.</p>

<p>Ressource Administration garanterer ikke funktionaliteten af sitet, dets enkelte sektioner og pålideligheden af links placeret af dets Brugere.</p>

<p>Ressourcen er ikke ansvarlig for eventuelle direkte eller indirekte tab opstået som følge af brug eller manglende evne til at bruge tjenesten, uautoriseret adgang til din kommunikation.</p>

<li><h3>RETTIGHEDER FOR RESSOURCE ADMINISTRATION</h3>

<p>Ressource Administration har ret til at nægte adgang til ressourcen til enhver Bruger eller Gruppe af brugere, uden at give forklaring på sine handlinger og uden varsel.</p>

<p>Ressource Administration kan ændre eller slette oplysninger, hash-filer (torrents), grafik, lyd og andre data indsendt af Brugere fra ressourcen uden varsel eller forklaring på deres handlinger.</p>

<li><h3>ANSVAR FOR PARTERNE</h3>

<p>Brugeren er enig i, at alle mulige tvister vedrørende AFTALEN OM BRUG vil blive løst i henhold til den juridiske norm.</p>

<p>Brugeren accepterer, at reglerne og lovene om forbrugerbeskyttelse ikke kan anvendes på brugen af Ressourcen, da den ikke har betalte tjenester.</p>

<p>Ressourcen opstiller ikke agentforhold, partnerskabsforhold vedrørende fælles aktivitet, rekrutteringsforhold og andre relationer, som ikke er udtrykkeligt beskrevet i AFTALEN OM BRUG.</p>

<p>Inaktivitet fra Ressourcen ved overtrædelser af Bruger- eller Brugergruppens BRUGER AFTALEN betyder ikke, at Ressourcen vil støtte Brugerens eller Brugergruppens handlinger.</p>

<p>Inaktivitet fra Ressourcen ved overtrædelser af Bruger- eller Brugergruppens BRUGER AFTALEN berøver ikke Ressourcens ret til at træffe passende foranstaltninger for at beskytte sine interesser senere.</p>

<li><h3>ACCEPT AF BRUGERAFTALEN</h3>

<p>IF YOU DO NOT AGREE TO ALL OF THE ABOVE TERMS AND CONDITIONS, YOU MAY NOT GO TO RESOURCE AS A WHOLE OR ANY PART OF, EXCEPT PAGE WITH USER AGREEMENT, RECEIVE AND / OR ACCESS THE CONTENTS OF THIS RESOURCE ANY OTHER METHODS AS A WHOLE OR IN ANY PART!</p>

<p>HVIS DU IKKE ER ENIG I BRUGERVILKÅRENE, SKAL DU ØJEBLIKKELIGT FORLADE RESSOURCEN.</p>

</ol>
</p>

</div><!--/infobox-body-->
