<div id="infobox-body">

<p>

<p><h1>BRUGERAFTALE</h1></p>

<p><h3>OM SIDEN</h3></p>

<p>Denne internetressource/hjemmeside (herefter benævnt "Ressourcen") er en hjemmeside, som tillader brugere at dele information med hinanden via BitTorrent samt i andre former, og giver mulighed for at verificere integriteten af overført information (via hash-filer).</p>

<ol>

<li type="1"><h3>OM DENNE BRUGERAFTALE</h3>

<p>Denne Brugeraftale (herefter benævnt "Aftalen") træder i kraft ved klik på "Jeg er enig" nederst og forbliver gyldig for hele brugerens anvendelsestid af Ressourcen. Aftalen kan ændres af administrationen uden forudgående varsel. Den nye version af Aftalen træder i kraft 3 (tre) dage efter offentliggørelsen, medmindre andet angives i den nye version af Aftalen.</p>

<li><h3>ANSVARSBEGRÆNSNINGER</h3>

<p>Brugeren accepterer udtrykkeligt at bruge Ressourcen på eget ansvar.</p>

<p>Brugeren erkender og accepterer, at Ressourcen håndterer materialer og data oprettet af tredjeparter og hostet af dem på internettet ved hjælp af egne computere og/eller servere. Indholdet og sikkerheden af disse materialer kan ikke kontrolleres af Ressourcens administration; derfor kan administrationen ikke holdes ansvarlig for:</p>
<ul>
<p>- indholdet af materialer, som Brugeren får gennem Ressourcen, herunder enhver mulig uoverensstemmelse med gældende love eller eventuelt krænkende indhold;</p>
<p>- konsekvenserne af anvendelse, brug eller undladelse af at bruge den opnåede information;</p>
<p>- enhver uoverensstemmelse mellem resultater opnået via Ressourcen og Brugerens forventninger;</p>
<p>- enhver skade på Brugerens hardware eller software som følge af brugen af Ressourcen;</p>
<p>- enhver manglende evne til at bruge Ressourcen af en hvilken som helst årsag;</p>
<p>- konsekvenser, der måtte opstå fra distribution af ulovlig eller ikke-licenseret software, audio-/videoindhold eller andre materialer eller data, der krænker tredjeparts rettigheder.</p>
</ul>

<p>Under ingen omstændigheder er Ressourcen ansvarlig over for Brugeren eller tredjeparter for skader, tab eller omkostninger opstået i forbindelse med Ressourcen, dens brug, eller manglende evne til at bruge den, herunder tabt fortjeneste.</p>

<p>Ressourceadministrationen er ikke forpligtet til at sikre fortroligheden af information leveret af brugerne, selvom alle rimelige foranstaltninger tages, medmindre særskilt aftale eksisterer eller lovgivningen kræver andet.</p>

<p>Ressourcens opgaver inkluderer ikke overvågning af lovligheden af overført information (herunder, men ikke begrænset til, information overført mellem brugere via BitTorrent, interne beskeder i enhver form, tekst eller filer), ejendomsrettigheder eller legitimiteten af transmission eller modtagelse af sådan information.</p>

<li><h3>BEGRÆNSNINGER FOR BRUGERENS BRUG AF RESSOURCEN</h3>

<p>Ved brug af denne Ressource må Brugeren ikke og accepterer ikke at:</p>
<ul>
<p>- uploade hash-filer (torrents), der indeholder data med virus eller anden skadelig software, filer eller programmer designet til at forstyrre, ødelægge eller begrænse funktionaliteten af computer- eller telekommunikationsudstyr, programmer til uautoriseret adgang, serienumre til kommerciel software eller værktøjer til at generere disse, loginoplysninger, adgangskoder eller andre midler til uautoriseret adgang til internetressourcer, samt at poste links til disse;</p>
<p>- uploade hash-filer (torrents) indeholdende beskeder, data eller programmer, hvis brug krænker patent-, varemærke-, forretningshemmelighed-, ophavsretlige eller andre ejendoms- og relaterede rettigheder tilhørende tredjepart;</p>
<p>- sende uautoriserede reklamebeskeder (junk mail, spam) til e-mailadresser opført på siden;</p>
<p>- kopiere og bruge information opnået via Ressourcen til kommercielle formål, som krænker andres rettigheder eller kan forårsage dem direkte materiel eller moralsk skade;</p>
<p>- poste links til webressourcer, hvis indhold strider mod gældende lovgivning;</p>
<p>- udgive sig for at være en anden person eller repræsentant for en organisation og/eller et fællesskab uden behørig tilladelse, inklusive medarbejdere i administrationen eller ejeren af Ressourcen.</p>
</ul>

<li><h3>ANSVARSFRASKRIVELSE</h3>

<p>Adgang til Ressourcen gives "som den er" uden garantier af nogen slags, hverken udtrykte eller underforståede.</p>

<p>Specifikt garanterer ressourceadministrationen ikke funktionaliteten af siden eller dens enkelte sektioner, ej heller driftsikkerheden og pålideligheden af links indsendt af brugerne.</p>

<p>Ressourcen er ikke ansvarlig for direkte eller indirekte tab som følge af: brug eller manglende evne til at bruge tjenesten; eller uautoriseret adgang til dine kommunikationer.</p>

<li><h3>RETTIGHEDER FOR RESSOURCEADMINISTRATIONEN</h3>

<p>Ressourceadministrationen har ret til at nægte adgang til Ressourcen for enhver bruger eller brugergruppe uden forklaring eller forudgående varsel.</p>

<p>Ressourceadministrationen kan ændre eller slette enhver information, hash-filer (torrents), grafik, lyd og andre data indsendt af brugere uden varsel eller forklaring.</p>

<li><h3>PARTERNES ANSVAR</h3>

<p>Brugeren accepterer, at alle tvister, som opstår fra denne aftale, skal løses i overensstemmelse med gældende lovgivning.</p>

<p>Brugeren accepterer, at forbrugerbeskyttelsesloven ikke gælder for brug af denne Ressource, da den ikke leverer betalte tjenester.</p>

<p>Ressourcen etablerer ikke agentur, partnerskab, joint venture, ansættelse eller andre forhold, der ikke udtrykkeligt er beskrevet i denne aftale.</p>

<p>Manglende handling fra Ressourcens side ved brud på denne aftale af en bruger eller brugergruppe udgør ikke godkendelse eller bistand til sådanne handlinger.</p>

<p>Manglende handling fra Ressourcens side ved brud på denne aftale af en bruger eller brugergruppe fratager ikke Ressourcen retten til at træffe passende foranstaltninger for at beskytte sine interesser senere.</p>

<li><h3>ACCEPT AF BRUGERAFTALEN</h3>

<p>HVIS DU IKKE ACCEPTERER ALLE OVENSTÅENDE VILKÅR, MÅ DU IKKE TILGÅ RESSOURCEN, HVERKEN HELT ELLER DELVIST, UNDTAGEN SIDEN MED BRUGERAFTALEN, EJ HELLER MODTAGE ELLER FÅ ADGANG TIL INDHOLDET VIA ANDRE MIDLER, HELLER IKKE DELVIST.</p>

<p>HVIS DU IKKE ACCEPTERER DENNE BRUGERAFTALE, SKAL DU OMGÅENDE FORLATE RESSOURCEN.</p>

</ol>
</p>

</div>
