<div id="infobox-body">

<p><h1>INFORMAȚII PENTRU DEȚINĂTORII DREPTURILOR DE AUTOR</h1></p>

<p>Dacă sunteți deținătorul drepturilor de autor pentru orice material legat pe acest site și nu doriți ca această informație să fie distribuită de utilizatori fără consimțământul dumneavoastră, vă vom ajuta cu plăcere să eliminăm linkurile relevante.</p>

<p>Pentru aceasta, vă rugăm să ne trimiteți o scrisoare electronică care să conțină următoarele informații:</p>

<p>1. Dovada documentară a drepturilor dumneavoastră asupra materialului protejat prin drepturi de autor:</p>
<p> — un document scanat care poartă o ștampilă oficială, sau</p>
<p> — un e-mail trimis de pe domeniul oficial al companiei deținătoare a drepturilor, sau</p>
<p> — alte informații de contact care să vă identifice în mod unic ca deținător al drepturilor.</p>

<p>2. Textul de înlocuire pe care doriți să îl postați în locul conținutului eliminat.</p>

<p>În acest text, puteți specifica unde și în ce condiții utilizatorii pot obține informațiile ale căror linkuri au fost eliminate, precum și detaliile dumneavoastră de contact, astfel încât utilizatorii să vă poată contacta în legătură cu acest material.</p>

<p>3. Link-uri directe către paginile care conțin referințe la datele ce trebuie eliminate.</p>

<p>Link-urile ar trebui să fie în formatul <strong>https://url.to/link</strong> sau similar.</p>

<p>În termen de 48 de ore de la primirea cererii dumneavoastră, vom elimina linkurile relevante de pe site.</p>

<p class="bold">E-mail-ul nostru: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ATENȚIE!</p>

<p>a) Ne rezervăm dreptul de a publica pe site orice informație trimisă către noi la adresa <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nu avem niciun control asupra acțiunilor utilizatorilor care pot reposta link-uri către informații ce fac obiectul drepturilor dumneavoastră de autor. Toate informațiile de pe forum sunt postate automat, fără revizuire sau moderare prealabilă, conform practicilor internaționale general acceptate privind găzduirea informațiilor pe internet. Cu toate acestea, vom analiza toate cererile referitoare la linkurile către informații care încalcă drepturile dumneavoastră.</p>

<p>c) Conform legii aplicabile privind drepturile de autor și drepturile conexe, un hyperlink către date (o referință informațională) nu este, prin sine, protejat prin drepturi de autor (deși poate încălca Acordul de utilizare al site-ului). Prin urmare, vă rugăm să vă abțineți de la trimiterea de scrisori conținând amenințări sau cereri, deoarece nu există temeiuri legale pentru astfel de revendicări.</p>

</div>
