<div id=\"infobox-body\">

<p><h1>INFORMAȚII PENTRU DEȚINĂTORII DREPTURILOR DE AUTOR</h1></p>

<p>Dacă sunteți deținătorul drepturilor de autor pentru orice material (sau linkuri) disponibile pe acest site și nu doriți ca aceste informații să fie răspândite de utilizatori fără consimțământul dumneavoastră, vom fi bucuroși să vă asistăm prin eliminarea linkurilor corespunzătoare.</p>

<p>Acest lucru necesită să ne fi trimis o scrisoare (în format electronic)
care să ne indice următoarele informații:</p>

<p>1. Dovada documentară a drepturilor dumneavoastră asupra materialului protejat prin drepturi de autor:</p>
<p> - document scanat cu ștampilă, sau</p>
<p> - e-mail de la un domeniu oficial de e-mail al proprietarului companiei, sau</p>
<p> - alte informații de contact care să vă identifice în mod unic ca proprietar al materialului.</p>

<p>2. Textul pe care doriți să îl plasați, însoțit de informații amovibile.</p>

<p>În acesta puteți specifica unde și în ce condiții se pot obține informațiile ale căror referințe au fost eliminate, precum și informațiile dumneavoastră de contact, astfel încât utilizatorii să poată obține de la dumneavoastră toate informațiile necesare legate de acest material.</p>

<p>3. Linkuri directe către pagini care conțin referințe la date care trebuie eliminate.</p>

<p>Linkurile trebuie să fie de forma <strong>https://url.to/link</strong> sau ceva similar.</p>

<p>După aceea, în termen de 48 de ore, vom elimina linkurile care vă interesează de pe site.</p>

<p class="bold">E-mail-ul nostru: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ATENȚIE!</p>

<p>a) Ne rezervăm dreptul de a publica pe site orice informație trimisă către noi prin mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nu avem niciun control asupra acțiunilor utilizatorilor care pot reposta linkuri către informațiile ce reprezintă obiect al drepturilor dumneavoastră de autor. Orice informație pe care forumul o plasează automat, fără niciun fel de control din vreo parte, corespunde practicii internaționale în general acceptate privind plasarea informațiilor pe internet. Cu toate acestea, în orice caz, luăm în considerare toate solicitările dumneavoastră referitoare la referințele către informațiile care încalcă drepturile dumneavoastră.</p>

<p>c) Conform Legii drepturilor de autor și drepturilor conexe, o trimitere către orice date (mesaj informativ), prin ea însăși, nu este supusă legii drepturilor de autor (deși poate încălca "Acordul privind utilizarea site-ului"). Prin urmare, nu este necesar să trimiteți scrisori conținând amenințări sau cereri, care nu au un motiv real.</p>

</div><!--/infobox-body-->
