<div>
	<h3>Sidebar 2</h3>
	Pentru a adăuga conținut în această bară laterală, editați următoarele fișiere:
	<br /><br />
	<ul class="med">
		<li>bibliotecă/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Pentru a dezactiva această bară laterală, setați variabila page.show_sidebar2 în fișierul config/layouts.php la false.
</div>
