<div id=\"infobox-body\">

<p>

<p><h1>ACORD DE UTILIZARE</h1></p>

<p><h3>DESPRE SITE</h3></p>

<p>Internet - resursă (în continuare - Resursă) este un site web care permite utilizatorilor să partajeze informații între ei prin intermediul bit-torrent, precum și în formă liberă, și oferă un mijloc de a monitoriza integritatea informațiilor transmise (prin fișiere hash).</p>

<ol>

<li type="1"><h3>DESPRE ACORDUL DE UTILIZARE</h3>

<p>Acest ACORD DE UTILIZARE intră în vigoare după ce faceţi clic pe „Sunt de acord” în partea de jos și este valabil pe toată durata utilizării Resursei de către utilizatori. ACORDUL DE UTILIZARE poate fi modificat de către Administrație fără nicio notificare. Noua versiune a ACORDULUI intră în vigoare după 3 (trei) zile de la data publicării, cu excepția cazului în care noua versiune a ACORDULUI DE UTILIZARE prevede altfel.</p>

<li><h3>LIMITĂRILE DE RĂSPUNDERE</h3>

<p>Utilizatorul este de acord în mod expres că utilizează Resursa pe propriul său risc.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Conținutul și securitatea acestor materiale nu pot fi controlate de administrația Resursei, astfel încât aceasta nu este răspunzătoare:</p>
<ul>
<p>- pentru conținutul materialelor obținute de către Utilizator din folosirea datelor Resursei și eventualitatea neconcordanței acestora cu legislația aplicabilă sau cu caracter ofensator;</p>
<p>- pentru consecințele aplicării, utilizării sau neutilizării informațiilor primite;</p>
<p>- pentru eventualele discrepanțe între rezultatele obținute folosind Resursa și așteptările Utilizatorului;</p>
<p>- pentru orice prejudiciu cauzat hardware-ului sau software-ului Utilizatorului ce rezultă din utilizarea Resursei;</p>
<p>- pentru imposibilitatea de a folosi Resursa din orice motiv;</p>
<p>- pentru consecințele care pot rezulta din răspândirea software-ului ilegal sau fără licență, produselor audio/video și altor materiale sau date care afectează drepturile terților.</p>
</ul>

<p>În niciun caz Resursa nu va fi răspunzătoare față de Utilizator sau terțe părți pentru daune, pierderi sau cheltuieli apărute în legătură cu aceasta, utilizarea sau imposibilitatea de a o utiliza, inclusiv pierderea de profit.</p>

<p>Administrația Resursei nu are obligația de a asigura confidențialitatea informațiilor furnizate de către utilizatori, deși va lua toate măsurile posibile în acest sens, cu excepția cazului în care există un acord contrar sau cerințele legale relevante.</p>

<p>Responsabilitățile Resursei NU INCLUD controlul informațiilor transmise legal sau ilegal (inclusiv, dar fără a se limita la informațiile transmise între utilizatori prin bit-torrent, transferuri interne în diverse linkuri, texte sau fișiere), definirea drepturilor de proprietate sau legitimitatea transmiterii ori recepției acestor informații.</p>

<li><h3>LIMITĂRILE UTILIZĂRII RESURSEI DE CĂTRE UTILIZATOR</h3>

<p>Când utilizați această Resursă, UTILIZATORUL nu are dreptul și este de acord cu următoarele:</p>
<ul>
<p>- să plaseze hash-fișiere (torrenturi) care conțin viruși sau alte programe calculatoriale malițioase cunoscute, fișiere sau programe destinate întreruperii, distrugerii sau limitării funcționalității oricărui echipament de calcul sau telecomunicații ori programe pentru acces neautorizat, precum și numere de serie pentru software comercial și programe de generare, logine, parole sau alte mijloace de acces neautorizat la site-uri web, precum și să posteze link-uri către astfel de informații;</p>
<p>- să plaseze hash-fișiere (torrenturi) cu mesaje, date sau programe a căror utilizare încalcă brevete, mărci comerciale, secrete comerciale, drepturi de autor sau alte drepturi proprietare și/sau drepturi conexe ale terților;</p>
<p>- să trimită mesaje nesolicitate publicitare (spam) către adrese de e-mail listate pe site;</p>
<p>- să copieze și să utilizeze în scopuri comerciale orice informație obținută prin această resursă care încalcă drepturile altora sau care le-ar putea cauza prejudicii materiale sau morale;</p>
<p>- să posteze link-uri către resurse web a căror conținut contravine legislației în vigoare;</p>
<p>- să se dea drept orice persoană sau reprezentant al unei organizații și/sau comunități fără drepturi suficiente, inclusiv angajați ai Administrației, în calitate de proprietar al Resursei.</p>
</ul>

<li><h3>GARANȚIE DE PERFORMANȚĂ</h3>

<p>Accesul la Resursă este oferit "așa cum este" fără garanții de niciun fel, directe sau indirecte.</p>

<p>În special, Administrația Resursei nu garantează funcționalitatea site-ului și a secțiunilor sale individuale, precum și performanța și fiabilitatea linkurilor plasate de utilizatori.</p>

<p>Resursa nu este responsabilă pentru pierderi directe sau indirecte rezultate din utilizarea sau imposibilitatea de a folosi serviciul; accesul neautorizat la comunicațiile dumneavoastră.</p>

<li><h3>DREPTURILE ADMINISTRAȚIEI RESURSEI</h3>

<p>Administrația Resursei are dreptul de a refuza accesul la resursă pentru orice utilizator sau grup de utilizatori fără a oferi explicații sau notificări.</p>

<p>Administrația Resursei poate modifica sau șterge orice informație, hash-fișiere (torrenturi), grafică, audio sau alte date transmise de utilizator fără notificare sau explicație.</p>

<li><h3>RESPONSABILITĂȚILE PĂRȚILOR</h3>

<p>Utilizatorul este de acord că toate disputele privind ACORDUL DE UTILIZARE vor fi rezolvate conform normelor legale.</p>

<p>Utilizatorul este de acord că regulile și legile privind protecția consumatorilor nu se aplică utilizării Resursei, deoarece nu există servicii plătite.</p>

<p>Resursa nu stabilește relații de reprezentare, parteneriat, recrutare sau alte relații nespecificate expres în ACORDUL DE UTILIZARE.</p>

<p>Inacțiunea Resursei în cazul încălcării ACORDULUI DE UTILIZARE de către utilizatori nu înseamnă că Resursa sprijină astfel de acțiuni.</p>

<p>Inacțiunea Resursei la încălcarea ACORDULUI DE UTILIZARE nu o privează de dreptul de a lua măsuri ulterioare pentru protejarea intereselor sale.</p>

<li><h3>ACCEPTAREA ACORDULUI DE UTILIZARE</h3>

<p>DACĂ NU SUNTEȚI DE ACORD CU TOATE TERMENELE ȘI CONDIȚIILE DE MAI SUS, NU AVEȚI DREPTUL SĂ ACCESAȚI RESURSA ÎN ÎNTREGIME SAU ÎN ORICE PARTE, CU EXCEPȚIA PAGINII CU ACORDUL DE UTILIZARE, NU PRIMIȚI ȘI/SĂ NU ACCESAȚI CONȚINUTUL ACESTEI RESURSE PRIN ORICE ALTĂ METODĂ!</p>

<p>DACĂ NU SUNTEȚI DE ACORD CU ACORDUL DE UTILIZARE, TREBUIE SĂ PĂRĂSIȚI IMEDIAT RESURSA.</p>

</ol>
</p>

</div><!--/infobox-body-->
