<div id="infobox-body">

<p>

<p><h1>ACORDUL DE UTILIZARE</h1></p>

<p><h3>DESPRE SITE-UL</h3></p>

<p>Această resursă/website de internet (denumită în continuare "Resursa") este un site web care permite utilizatorilor să partajeze informații între ei prin BitTorrent, precum și în alte forme, și oferă un mijloc de verificare a integrității informațiilor transmise (prin fișiere hash).</p>

<ol>

<li type="1"><h3>DESPRE ACORDUL DE UTILIZARE</h3>

<p>Prezentul Acord al Utilizatorului (denumit în continuare "Acordul") intră în vigoare la apăsarea butonului "Sunt de acord" de la final și rămâne valabil pe întreaga durată a utilizării Resursei de către Utilizator. Acordul poate fi modificat de către Administrație fără notificare prealabilă. Noua versiune a Acordului intră în vigoare la 3 (trei) zile după publicare, dacă în noua versiune a Acordului nu este specificat altfel.</p>

<li><h3>LIMITĂRILE DE RĂSPUNDERE</h3>

<p>Utilizatorul este de acord în mod expres să folosească Resursa pe propriul său risc.</p>

<p>Utilizatorul recunoaște și este de acord că Resursa se ocupă cu materiale și date create de terți și găzduite de aceștia pe internet, folosind propriile calculatoare și/sau servere. Conținutul și securitatea acestor materiale nu pot fi controlate de Administrația Resursei; prin urmare, Administrația nu va fi răspunzătoare:</p>
<ul>
<p>- pentru conținutul materialelor obținute de către Utilizator prin intermediul Resursei, inclusiv pentru orice eventuală neconcordanță cu legislația aplicabilă sau pentru caracterul ofensator al acestora;</p>
<p>- pentru consecințele aplicării, utilizării sau neutilizării informațiilor obținute;</p>
<p>- pentru orice discrepanță între rezultatele obținute prin intermediul Resursei și așteptările Utilizatorului;</p>
<p>- pentru orice prejudiciu adus hardware-ului sau software-ului Utilizatorului ca urmare a utilizării Resursei;</p>
<p>- pentru incapacitatea de folosire a Resursei din orice motiv;</p>
<p>- pentru consecințele ce pot apărea ca urmare a distribuirii de software ilegal sau fără licență, conținut audio/video sau alte materiale ori date care încalcă drepturile terților.</p>
</ul>

<p>În niciun caz Resursa nu va fi răspunzătoare față de Utilizator sau terți pentru daune, pierderi sau cheltuieli apărute în legătură cu Resursa, utilizarea acesteia sau incapacitatea de a o utiliza, inclusiv profituri pierdute.</p>

<p>Administrația Resursei nu este obligată să asigure confidențialitatea informațiilor furnizate de Utilizatorii săi, deși va lua toate măsurile rezonabile în acest sens, dacă nu există un acord separat sau legislația aplicabilă prevede altfel.</p>

<p>Responsabilitățile Resursei nu includ monitorizarea legalității informațiilor transmise (inclusiv, dar fără a se limita la, informații transmise între utilizatori prin BitTorrent, mesaje interne în orice formă, texte sau fișiere), nici determinarea drepturilor de proprietate intelectuală sau legitimitatea transmiterii ori recepției acestor informații.</p>

<li><h3>RESTRICȚII LA UTILIZAREA RESURSEI DE CĂTRE UTILIZATOR</h3>

<p>Atunci când utilizează această Resursă, Utilizatorul nu are dreptul și este de acord să nu:</p>
<ul>
<p>- să încarce fișiere hash (torrente) care conțin date cu viruși sau alte software-uri malițioase, fișiere sau programe proiectate să perturbe, distrugă sau să limiteze funcționalitatea oricărui calculator sau echipament de telecomunicații, programe pentru acces neautorizat, numere seriale pentru software comercial sau instrumente pentru generarea acestora, logări, parole sau alte mijloace de acces neautorizat la resursele de internet, precum și să posteze linkuri către acestea;</p>
<p>- să încarce fișiere hash (torrente) conținând mesaje, date sau programe a căror utilizare încalcă orice brevet, marcă înregistrată, secret comercial, drept de autor sau alte drepturi proprietare și/sau drepturi conexe ale terților;</p>
<p>- să trimită mesaje publicitare neautorizate (spam) către adrese de email listate pe site;</p>
<p>- să copieze și să utilizeze în scopuri comerciale orice informație obținută prin Resursă care încalcă drepturile altora sau le-ar putea cauza prejudicii materiale ori morale directe;</p>
<p>- să posteze linkuri către resurse web al căror conținut încalcă legislația aplicabilă;</p>
<p>- să se dea drept o altă persoană sau reprezentant al unei organizații și/sau comunități fără autorizarea corespunzătoare, inclusiv angajați ai Administrației sau ai deținătorului Resursei.</p>
</ul>

<li><h3>DISCLAIMER AL GARANȚIILOR</h3>

<p>Accesul la Resursă este oferit "ca atare" fără garanții de niciun fel, exprimate sau implicite.</p>

<p>În special, Administrația Resursei nu garantează funcționalitatea site-ului sau a secțiunilor sale, nici operabilitatea și fiabilitatea linkurilor postate de Utilizatorii săi.</p>

<p>Resursa nu este responsabilă pentru pierderi directe sau indirecte rezultate din: utilizarea sau incapacitatea de utilizare a serviciului; ori acces neautorizat la comunicațiile dumneavoastră.</p>

<li><h3>DREPTURILE ADMINISTRAȚIEI RESURSEI</h3>

<p>Administrația Resursei are dreptul de a refuza accesul la Resursă oricărui Utilizator sau grup de Utilizatori fără a da explicații sau notificări prealabile.</p>

<p>Administrația Resursei poate modifica sau șterge orice informație, fișiere hash (torrente), elemente grafice, audio și alte date transmise de Utilizatori fără notificare sau explicații prealabile.</p>

<li><h3>RESPONSABILITĂȚILE PĂRȚILOR</h3>

<p>Utilizatorul este de acord că toate litigiile apărute din acest Acord se vor soluționa conform legii aplicabile.</p>

<p>Utilizatorul este de acord că legile și reglementările privind protecția consumatorilor nu se aplică utilizării acestei Resurse, întrucât aceasta nu oferă servicii plătite.</p>

<p>Resursa nu stabilește agenție, parteneriat, asociere în participație, angajare sau alte relații care nu sunt expres descrise în acest Acord.</p>

<p>Nerespectarea de către Resursă a reacției la o încălcare a acestui Acord de către un Utilizator sau grup de Utilizatori nu constituie acceptare sau sprijin pentru astfel de acțiuni.</p>

<p>Nerespectarea de către Resursă a reacției la o încălcare a acestui Acord de către un Utilizator sau grup de Utilizatori nu o privează de dreptul de a lua măsuri adecvate pentru a-și proteja interesele ulterior.</p>

<li><h3>ACCEPTAREA ACORDULUI DE UTILIZARE</h3>

<p>DACĂ NU SUNTEȚI DE ACORD CU TOȚI TERMENII ȘI CONDIȚIILE DE MAI SUS, NU AVEȚI DREPTUL SĂ ACCESAȚI RESURSA ÎN ÎNTREGIME SAU PARȚIAL, CU EXCEPȚIA PAGINII ACESTUI ACORD DE UTILIZARE, ȘI NICI SĂ PRIMIȚI SAU ACCESAȚI CONȚINUTUL ACESTEI RESURSE PRIN ORICE ALTE MIJLOACE, ÎN TOTALITATE SAU PARȚIAL.</p>

<p>DACĂ NU SUNTETI DE ACORD CU ACEST ACORD DE UTILIZARE, TREBUIE SĂ PĂRĂSIȚI RESURSA IMEDIAT.</p>

</ol>
</p>

</div>
