<div id=\"infobox-body\">

<p><h1>INFORMASJON FOR RETTIGHETSHAVERE</h1></p>

<p>Hvis du er rettighetshaver til materiale eller lenker som er tilgjengelige på dette nettstedet, og ikke ønsker at denne informasjonen skal bli delt av brukere uten ditt samtykke, hjelper vi deg gjerne med å fjerne de aktuelle lenkene.</p>

<p>Dette krever at du har sendt oss et brev (i elektronisk form)
som oppgir følgende informasjon:</p>

<p>1. Dokumentasjon på dine rettigheter til materiale beskyttet av opphavsrett:</p>
<p> - skannet dokument med segl, eller</p>
<p> - e-post fra en offisiell e-postadresse i selskapets domene, eller</p>
<p> - annen kontakt-informasjon som identifiserer deg som eier av materialet.</p>

<p>2. Teksten du ønsker å legge inn, ledsaget av informasjon som kan fjernes.</p>

<p>Der kan du oppgi hvor og under hvilke betingelser man kan få tilgang til informasjonen som referansene er fjernet fra, samt dine kontaktopplysninger, slik at brukerne kan kontakte deg for å få all nødvendig informasjon om materialet.</p>

<p>3. Direkte linker til sider som inneholder referanser til data som må fjernes.</p>

<p>Lenkene bør vises som <strong>https://url.to/link</strong> eller lignende.</p>

<p>Deretter vil vi innen 48 timer fjerne de aktuelle lenkene fra nettstedet.</p>

<p class="bold">Vår e-post: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ADVARSEL!</p>

<p>a) Vi forbeholder oss retten til å publisere på nettstedet all informasjon sendt til oss via e-post <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

b) Vi har ingen kontroll over handlingene til brukere som kan poste lenker til informasjon, som er objektet for opphavsretten. All informasjon som legges ut på forumet, publiseres automatisk uten kontroll fra noen instans, i tråd med allment akseptert internasjonal praksis for publisering på Internett. Vi vil uansett vurdere alle henvendelser fra deg angående referanser til informasjon som krenker dine rettigheter.</p>

<p>c) I henhold til loven om opphavsrett og relaterte rettigheter, henvisning til data (informasjonsmelding), er på egen hånd ikke underlagt opphavsrett (selv om det kan bryte "Avtale om bruk av nettstedet"). Dermed er det ikke nødvendig å sende brev som inneholder trusler eller krav, da disse vanligvis ikke har et reelt grunnlag.</p>

</div><!--/infobox-body-->
