<div id="infobox-body">

<p><h1>INFORMASJON FOR RETTIGHETSHAVERE</h1></p>

<p>Hvis du er rettighetshaver til materiale som er lenket til på dette nettstedet og ikke ønsker at denne informasjonen skal distribueres av brukere uten ditt samtykke, hjelper vi deg gjerne med å fjerne de aktuelle lenkene.</p>

<p>For å gjøre dette, vennligst send oss et elektronisk brev som inneholder følgende informasjon:</p>

<p>1. Dokumentasjon på dine rettigheter til opphavsrettsbeskyttet materiale:</p>
<p> — et skannet dokument med offisiell stempel, eller</p>
<p> — en e-post sendt fra det offisielle domenet til rettighetshaverens selskap, eller</p>
<p> — annen kontaktinformasjon som entydig identifiserer deg som rettighetshaver.</p>

<p>2. Erstatningsteksten du ønsker publisert i stedet for det fjernede innholdet.</p>

<p>I denne teksten kan du spesifisere hvor og under hvilke betingelser brukere kan få tilgang til informasjonen som lenkene er fjernet fra, samt dine kontaktopplysninger slik at brukerne kan kontakte deg angående dette materialet.</p>

<p>3. Direkte lenker til sider som inneholder referanser til data som må fjernes.</p>

<p>Lenkene bør være i formatet <strong>https://url.to/link</strong> eller lignende.</p>

<p>Innen 48 timer etter mottak av forespørselen vil vi fjerne de relevante lenkene fra nettstedet.</p>

<p class="bold">Vår e-post: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ADVARSEL!</p>

<p>a) Vi forbeholder oss retten til å publisere på nettstedet all informasjon sendt til oss på <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Vi har ingen kontroll over handlingene til brukere som kan republisere lenker til informasjon som omfattes av din opphavsrett. All informasjon på forumet publiseres automatisk, uten forhåndsgjennomgang eller moderasjon, i samsvar med allment akseptert internasjonal praksis for hosting av informasjon på Internett. Likevel vil vi vurdere alle forespørsler angående lenker til informasjon som krenker dine rettigheter.</p>

<p>c) I henhold til gjeldende lov om opphavsrett og tilknyttede rettigheter, er en hyperkobling til data (en informasjonsreferanse) i seg selv ikke beskyttet av opphavsrett (selv om den kan bryte nettstedets brukeravtale). Vennligst avstå fra å sende brev med trusler eller krav, da det ikke foreligger rettslige grunnlag for slike påstander.</p>

</div>
