<div>
	<h3>Sidepanel 2</h3>
	For å legge til innhold i dette sidepanelet, rediger følgende filer:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	For å deaktivere dette sidepanelet, sett variabelen page.show_sidebar2 i filen config/layouts.php til false.
</div>
