<div id="infobox-body">

<p>

<p><h1>BRUKERAVTALEN</h1></p>

<p><h3>OM NETTSTEDET</h3></p>

<p>Denne internettressursen/nettsiden (heretter kalt "Ressursen") er en nettside som gjør det mulig for brukere å dele informasjon med hverandre via BitTorrent, samt i andre former, og gir en metode for å verifisere integriteten til overført informasjon (via hash-filer).</p>

<ol>

<li type="1"><h3>OM DENNE BRUKERAVTALEN</h3>

<p>Denne brukeravtalen (heretter kalt "Avtalen") trer i kraft når du klikker "Jeg godtar" nederst, og forblir gyldig så lenge brukeren benytter Ressursen. Avtalen kan endres av administrasjonen uten forhåndsvarsel. Den nye versjonen av Avtalen trer i kraft 3 (tre) dager etter at den er publisert, med mindre noe annet er spesifisert i den nye versjonen av Avtalen.</p>

<li><h3>ANSVARSBEBRENSNINGER</h3>

<p>Brukeren samtykker uttrykkelig i at bruk av Ressursen skjer på egen risiko.</p>

<p>Brukeren er klar over og godtar at Ressursen omhandler materiale og data laget av tredjeparter og hostet av dem på internett ved bruk av deres egne datamaskiner og/eller servere. Innholdet og sikkerheten til disse materialene kan ikke kontrolleres av Ressursens administrasjon; derfor kan administrasjonen ikke holdes ansvarlig for:</p>
<ul>
<p>- innholdet i materiale som brukeren skaffer via Ressursen, inkludert eventuell uoverensstemmelse med gjeldende lover eller støtende innhold;</p>
<p>- konsekvenser av anvendelse, bruk eller unnlatelse av å bruke den mottatte informasjonen;</p>
<p>- eventuelle avvik mellom resultater oppnådd gjennom Ressursen og brukerens forventninger;</p>
<p>- enhver skade på brukerens maskinvare eller programvare som følge av bruk av Ressursen;</p>
<p>- manglende mulighet til å bruke Ressursen av enhver grunn;</p>
<p>- konsekvenser som kan oppstå fra spredning av ulovlig eller ulisensiert programvare, lyd-/videoinnhold eller annet materiale eller data som krenker tredjeparters rettigheter.</p>
</ul>

<p>Under ingen omstendigheter skal Ressursen holdes ansvarlig overfor brukeren eller tredjepart for skader, tap eller utgifter som oppstår i forbindelse med Ressursen, dens bruk eller manglende evne til å bruke den, inkludert tapt fortjeneste.</p>

<p>Ressursadministrasjonen er ikke forpliktet til å sikre konfidensialitet for informasjon gitt av brukerne, selv om alle rimelige tiltak vil bli tatt, med mindre annet er avtalt eller krevd av gjeldende lovgivning.</p>

<p>Ressursens plikter inkluderer IKKE overvåking av lovligheten til overført informasjon (inkludert, men ikke begrenset til, informasjon som overføres mellom brukere via BitTorrent, interne meldinger i alle former, tekst eller filer), eiendomsrettigheter eller legitimiteten av overføring og mottak av slik informasjon.</p>

<li><h3>RESTRIKSJONER FOR BRUKERENS BRUK AV RESSURSEN</h3>

<p>Når du bruker denne Ressursen skal ikke brukeren, og samtykker i å ikke:</p>
<ul>
<p>- laste opp hash-filer (torrenter) som inneholder data med virus eller annen skadelig programvare, filer eller programmer designet for å forstyrre, ødelegge eller begrense funksjonaliteten til datamaskiner eller telekommunikasjonsutstyr, programmer for uautorisert tilgang, serienummer for kommersiell programvare eller verktøy for å generere disse, påloggingsinformasjon, passord eller andre midler for å oppnå uautorisert tilgang til internettressurser, samt legge ut lenker til ovennevnte;</p>
<p>- laste opp hash-filer (torrenter) som inneholder meldinger, data eller programmer hvis bruk krenker patenter, varemerker, forretningshemmeligheter, opphavsrett eller andre eiendomsrettigheter og/eller tilknyttede rettigheter til tredjeparter;</p>
<p>- sende uautoriserte reklamebudskap (søppelpost, spam) til e-postadresser oppført på nettstedet;</p>
<p>- kopiere og bruke for kommersielle formål informasjon innhentet via Ressursen som krenker andres rettigheter eller kan forårsake dem direkte økonomisk eller moralsk skade;</p>
<p>- legge ut lenker til webressurser hvis innhold bryter gjeldende lovgivning;</p>
<p>- utgi seg for å være en annen person eller representant for en organisasjon og/eller fellesskap uten nødvendig tillatelse, inkludert ansatte i administrasjonen eller eieren av Ressursen.</p>
</ul>

<li><h3>ANSVARSFRASKRIVELSE FOR GARANTIER</h3>

<p>Tilgang til Ressursen tilbys "som den er" uten noen form for garantier, verken uttrykte eller underforståtte.</p>

<p>Spesielt garanterer ikke Ressursadministrasjonen funksjonaliteten til nettstedet eller dets enkelte seksjoner, eller driftsstabiliteten og påliteligheten til lenker publisert av brukerne.</p>

<p>Ressursen er ikke ansvarlig for direkte eller indirekte tap som følge av: bruk eller manglende evne til å bruke tjenesten; eller uautorisert tilgang til din kommunikasjon.</p>

<li><h3>RETTIGHETER FOR RESSURSADMINISTRASJONEN</h3>

<p>Ressursadministrasjonen har rett til å nekte enhver bruker eller gruppe brukere tilgang til Ressursen uten forklaring eller forhåndsvarsel.</p>

<p>Ressursadministrasjonen kan endre eller slette informasjon, hash-filer (torrenter), grafikk, lyd og annet innhold sendt inn av brukere uten forhåndsvarsel eller forklaring.</p>

<li><h3>ANSVAR FOR PARTENE</h3>

<p>Brukeren samtykker i at alle tvister som oppstår fra denne Avtalen skal løses i samsvar med gjeldende lov.</p>

<p>Brukeren aksepterer at forbrukerbeskyttelseslover og -forskrifter ikke gjelder for bruken av denne Ressursen, siden den ikke tilbyr betalte tjenester.</p>

<p>Ressursen etablerer ikke agentur, partnerskap, joint venture, arbeidsforhold eller andre forhold som ikke er uttrykkelig beskrevet i denne Avtalen.</p>

<p>Manglende handling fra Ressursen ved brudd på denne Avtalen av en bruker eller gruppe brukere utgjør ikke godkjenning eller bistand til slike handlinger.</p>

<p>Manglende handling fra Ressursen ved brudd på denne Avtalen fratar ikke Ressursen retten til å iverksette passende tiltak for å beskytte sine interesser senere.</p>

<li><h3>AKSEPT AV BRUKERAVTALEN</h3>

<p>HVIS DU IKKE GODTAR ALLE OVERRSTE VILKÅR OG BETINGELSER, MÅ DU IKKE FÅ TILGANG TIL RESSURSEN, VERKEN HELT ELLER DELVIS, BORTSETT FRA SIDEN MED BRUKERAVTALEN, OG DU MÅ HELLER IKKE MOTTA ELLER FÅ TILGANG TIL INNHOLDET PÅ RESSURSEN PÅ NOEN ANNEN MÅTE, VERKEN HELT ELLER DELVIS.</p>

<p>HVIS DU IKKE ER ENIG I DENNE BRUKERAVTALEN, MÅ DU UMIDDELBART FORLATE RESSURSEN.</p>

</ol>
</p>

</div>
