<div id=\"infobox-body\">

<p>

<p><h1>BRUKERAVTALE</h1></p>

<p><h3>OM NETTSTEDET</h3></p>

<p>Internettressurs / nettsted (heretter – Ressurs) er et nettsted som lar brukere dele informasjon med hverandre via BitTorrent, samt på fri form, og gir mulighet til å overvåke integriteten til overført informasjon (via hash-filer).</p>

<ol>

<li type="1"><h3>OM BRUKERAVTALEN</h3>

<p>Denne BRUKERAVTALEN trer i kraft etter at du klikker "Jeg godtar" nederst, og gjelder hele tiden brukere benytter ressursen. BRUKERAVTALEN kan endres av administrasjonen uten varsel. Den nye versjonen av BRUKERAVTALEN trer i kraft 3 (tre) dager etter datoen den publiseres, med mindre annet er angitt i den nye versjonen av BRUKERAVTALEN.</p>

<li><h3>ANSVARSBEGRENSNINGER</h3>

<p>Brukeren godtar uttrykkelig at all bruk av Ressursen skjer på egen risiko.</p>

<p>Brukeren kjenner til og samtykker i at ressursen behandler materiale og data skapt av tredjeparter og lagt ut på Internett på deres datamaskiner og/eller servere. Innholdet og sikkerheten til disse materialene kan ikke kontrolleres av ressursens administrasjon, og sistnevnte er derfor ikke ansvarlig for:</p>
<ul>
<p>- innholdet i materiale som brukeren skaffer ved bruk av ressursens data, og at dette kan være i strid med gjeldende lover eller støtende;</p>
<p>- konsekvensene av anvendelse, bruk eller manglende bruk av den mottatte informasjonen;</p>
<p>- et mulig avvik mellom resultatene oppnådd ved bruk av ressursen og brukerens forventninger;</p>
<p>- enhver skade på brukerens maskinvare eller programvare som følge av bruk av ressursen;</p>
<p>- manglende mulighet til å bruke ressursen av enhver grunn;</p>
<p>- konsekvensene som kan oppstå som følge av spredning av ulovlig eller ulisensiert programvare og audio-/video-produkter, samt annet materiale eller data som påvirker rettighetene til tredjeparter.</p>
</ul>

<p>Under ingen omstendigheter skal ressursen være ansvarlig overfor brukeren eller tredjepart for skader, tap eller utgifter som oppstår i forbindelse med denne ressursen, dens bruk eller manglende evne til å bruke den, inkludert tap av profitt.</p>

<p>Ressursens administrasjon er ikke forpliktet til å sikre konfidensialitet for informasjon som gis av brukerne, selv om det tas alle rimelige tiltak, med mindre annet er avtalt eller kreves av gjeldende lovgivning.</p>

<p>Ressursens plikter inkluderer IKKE kontroll av lovlig eller ulovlig overført informasjon (inkludert, men ikke begrenset til, informasjon som overføres mellom brukere via BitTorrent, intern overføring av informasjon gjennom lenker, tekst eller filer), fastsettelse av eiendomsrett eller vurdering av legitimiteten av slik overføring eller mottak.</p>

<li><h3>BEGRENSNINGER FOR BRUK AV RESSURSEN</h3>

<p>Når du bruker denne ressursen, har brukeren ikke rett til, og godtar at han/hun ikke skal:</p>
<ul>
<p>- legge ut hash-filer (torrents) som inneholder virus eller andre skadelige dataprogrammer, filer eller programmer utviklet for å avbryte, ødelegge eller begrense funksjonaliteten til datamaskiner eller telekommunikasjonsutstyr, programmer for uautorisert tilgang, samt serienummer for kommersiell programvare, programmer for generering av slike nøkler, innloggingsinformasjon, passord og andre midler for å få uautorisert tilgang til nettsteder på Internett, eller legge ut lenker til slik informasjon;</p>
<p>- legge ut hash-filer (torrents) med meldinger, data eller programmer hvis bruk krenker patenter, varemerker, forretningshemmeligheter, opphavsrett eller andre eiendomsrettigheter og/eller tilknyttede rettigheter til tredjeparter;</p>
<p>- sende e-postmeldinger av reklamekarakter (søppelpost, spam) til e-postadressene oppført på nettstedet uten tillatelse;</p>
<p>- kopiere og bruke for kommersielle formål informasjon innhentet gjennom denne ressursen, dersom dette krenker andres rettigheter eller kan forårsake direkte økonomisk eller moralsk skade;</p>
<p>- legge ut lenker til nettressurser hvis innhold er i strid med gjeldende lovgivning;</p>
<p>- utgi seg for en annen person eller representant for en organisasjon og/eller samfunn uten tilstrekkelige rettigheter, inkludert ansatte i administrasjonen, som eier av ressursen.</p>
</ul>

<li><h3>YTELSESGARANTI</h3>

<p>Tilgang til ressursen tilbys "som den er" uten noen form for garantier, verken direkte eller indirekte.</p>

<p>Spesifikt garanterer ikke ressursens administrasjon funksjonaliteten til nettstedet eller dets enkelte seksjoner, eller ytelsen og påliteligheten til lenker publisert av brukerne.</p>

<p>Ressursen er ikke ansvarlig for eventuelle direkte eller indirekte tap som følge av: bruk av eller manglende mulighet til å bruke tjenesten; uautorisert tilgang til din kommunikasjon.</p>

<li><h3>RETTIGHETER TIL RESSURSADMINISTRASJONEN</h3>

<p>Ressursadministrasjonen har rett til å nekte enhver bruker eller gruppe brukere tilgang til ressursen uten å gi begrunnelse eller varsel.</p>

<p>Ressursadministrasjonen kan endre eller slette all informasjon, hash-filer (torrents), grafikk, lyd og annet innhold som brukeren har sendt inn til ressursen, uten varsel eller forklaring.</p>

<li><h3>ANSVARET TIL PARTENE</h3>

<p>Brukeren samtykker i at alle mulige tvister knyttet til BRUKSAVTALEN vil bli løst i henhold til gjeldende lovverk.</p>

<p>Brukeren samtykker i at regler og lover om forbrukerbeskyttelse ikke kan anvendes på bruk av denne ressursen, da den ikke tilbyr betalte tjenester.</p>

<p>Ressursen etablerer ikke forhold som bruker-agent, partnerskap for felles virksomhet, ansettelsesforhold eller andre relasjoner som ikke uttrykkelig er beskrevet i BRUKSAVTALEN.</p>

<p>At ressursen ikke reagerer på brudd på BRUKERAVTALEN fra en bruker eller gruppe brukere betyr ikke at ressursen støtter slik atferd.</p>

<p>At ressursen ikke reagerer på brudd på BRUKERAVTALEN fra en bruker eller gruppe brukere fratar ikke ressursen retten til senere å iverksette passende tiltak for å beskytte sine interesser.</p>

<li><h3>AKSEPT AV BRUKERAVTALEN</h3>

<p>HVIS DU IKKE AKSEPTERER ALLE DE OVENNEVNTE VILKÅR OG BETINGELSER, MÅ DU IKKE BENYTTE RESSURSEN, VERKEN I HELHET ELLER DELVIS, UNNTATT SIDEN MED BRUKERAVTALEN; DU MÅ HELLER IKKE MOTTA ELLER FÅ TILGANG TIL INNHOLDET PÅ RESSURSEN PÅ NOEN ANDRE MÅTER.</p>

<p>HVIS DU IKKE GODTAR BRUKERAVTALEN, MÅ DU UMIDDELBART FORLATE RESSURSEN.</p>

</ol>
</p>

</div><!--/infobox-body-->
