<div id="infobox-body">

<p><h1>INFORMATIONEN FÜR RECHTEINHABER</h1></p>

<p>Wenn Sie Inhaber der Urheberrechte an einem Material sind, das auf dieser Seite verlinkt ist, und nicht möchten, dass diese Informationen von Nutzern ohne Ihre Zustimmung verbreitet werden, helfen wir Ihnen gerne, die entsprechenden Links zu entfernen.</p>

<p>Bitte senden Sie uns hierfür einen elektronischen Brief mit den folgenden Angaben:</p>

<p>1. Dokumentarischer Nachweis Ihrer Rechte an urheberrechtlich geschütztem Material:</p>
<p> — ein eingescanntes Dokument mit amtlichem Siegel, oder</p>
<p> — eine E-Mail von der offiziellen Domain des Rechteinhabers, oder</p>
<p> — andere Kontaktinformationen, die Sie eindeutig als Rechteinhaber identifizieren.</p>

<p>2. Den Ersatztext, der anstelle des entfernten Inhalts veröffentlicht werden soll.</p>

<p>In diesem Text können Sie angeben, wo und unter welchen Bedingungen Nutzer die Informationen erhalten können, deren Links entfernt wurden, sowie Ihre Kontaktdaten, damit sich Nutzer bezüglich dieses Materials an Sie wenden können.</p>

<p>3. Direkte Links zu Seiten, die Verweise auf die zu entfernenden Daten enthalten.</p>

<p>Links sollten im Format <strong>https://url.to/link</strong> oder ähnlich vorliegen.</p>

<p>Innerhalb von 48 Stunden nach Eingang Ihrer Anfrage werden wir die entsprechenden Links von der Seite entfernen.</p>

<p class="bold">Unsere E-Mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WARNUNG!</p>

<p>a) Wir behalten uns das Recht vor, alle Informationen, die uns an <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> gesendet werden, auf der Website zu veröffentlichen</p>

<p>b) Wir haben keine Kontrolle über das Verhalten von Nutzern, die Links zu Informationen, die Ihrem Urheberrecht unterliegen, erneut veröffentlichen könnten. Alle Informationen im Forum werden automatisch ohne vorherige Prüfung oder Moderation veröffentlicht, gemäß den allgemein anerkannten internationalen Praktiken zur Veröffentlichung von Informationen im Internet. Nichtsdestotrotz werden wir alle Anfragen hinsichtlich Links zu Informationen, die Ihre Rechte verletzen, prüfen.</p>

<p>c) Nach geltendem Urheber- und verwandtem Schutzrecht ist ein Hyperlink zu Daten (eine Informationsreferenz) an sich nicht urheberrechtlich geschützt (obwohl er gegen die Nutzungsbedingungen der Seite verstoßen kann). Bitte unterlassen Sie es daher, Schreiben mit Drohungen oder Forderungen zu senden, da hierfür keine rechtliche Grundlage besteht.</p>

</div>
