<div id=\"infobox-body\">

<p><h1>INFORMATIONEN FÜR RECHTEINHABER</h1></p>

<p>Wenn Sie der Urheber von Materiallink (oder Links) sind, die auf dieser Website verfügbar sind, und nicht möchten, dass diese Informationen ohne Ihre Zustimmung von Benutzern verbreitet werden, helfen wir Ihnen gerne, die entsprechenden Links zu entfernen.</p>

<p>Dies setzt voraus, dass Sie uns einen Brief (in elektronischer Form) geschickt haben</p>
<p>der uns die folgenden Informationen angibt:</p>

<p>1. Dokumentarischer Nachweis Ihrer Rechte an urheberrechtlich geschütztem Material:</p>
<p> - gescanntes Dokument mit dem Siegel oder</p>
<p> - E-Mail von einer offiziellen E-Mail-Domain des Unternehmensinhabers, oder</p>
<p> - andere Kontaktinformationen, die Sie eindeutig als Eigentümer des Materials identifizieren.</p>

<p>2. Der Text, den Sie platzieren möchten, begleitet von abnehmbaren Informationen.</p>

<p>In ihm können Sie angeben, wo und unter welchen Bedingungen Sie Informationen erhalten können, auf die verwiesen wurde, die entfernt wurden, sowie Ihre Kontaktdaten, damit Benutzer bei Ihnen alle erforderlichen Informationen zu diesem Material erhalten können.</p>

<p>3. Direkte Links zu Seiten, die Verweise auf Daten enthalten, die entfernt werden müssen.</p>

<p>Links sollten auf <strong>https://url.to/link</strong> oder etwas Ähnliches verweisen.</p>

<p>Nach 48 Stunden werden wir die Links, die Sie interessieren, von der Seite entfernen.</p>

<p class="bold">Unsere E-Mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WARNUNG!</p>

<p>a) Wir behalten uns das Recht vor, jegliche Informationen, die uns per Mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> zugesandt werden, auf der Seite zu veröffentlichen.</p>

<p>b) Wir haben keine Kontrolle über die Handlungen von Nutzern, die möglicherweise Links zu Informationen, die Ihr Urheberrecht betreffen, erneut veröffentlichen. Jegliche Informationen werden im Forum automatisch und ohne Kontrolle durch Dritte eingestellt, was der allgemein anerkannten internationalen Praxis der Veröffentlichung von Informationen im Internet entspricht. In jedem Fall betrachten wir jedoch alle Ihre Anfragen bezüglich der Hinweise auf die Informationen, die Ihre Rechte verletzen.</p>

<p>c) Nach dem Gesetz über Urheberrecht und verwandte Schutzrechte unterliegt ein Verweis auf beliebige Daten (Informationsnachricht) für sich genommen nicht dem Urheberrecht (obwohl er gegen die "Vereinbarung zur Nutzung der Website" verstoßen kann). <p>Somit ist es nicht notwendig, Briefe mit Drohungen oder Forderungen zu senden, da es keinen echten Grund dafür gibt.</p>

</div><!--/infobox-body-->
