<div>
	<h3>Sidebar 2</h3>
	Um Inhalte in diese Seitenleiste hinzuzufügen, bearbeiten Sie die folgenden Dateien:
	<br /><br />
	<ul class="med">
		<li>bibliothek/sprache/*/html/seitenleiste2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Um diese Seitenleiste zu deaktivieren, setzen Sie die Variable page.show_sidebar2 in der Datei config/layouts.php auf false.
</div>
