<div id="infobox-body">

<p>

<p><h1>NUTZUNGSVEREINBARUNG</h1></p>

<p><h3>ÜBER DIE WEBSITE</h3></p>

<p>Diese Internetressource/Website (im Folgenden "Ressource" genannt) ist eine Webseite, die es Nutzern ermöglicht, Informationen untereinander via BitTorrent sowie in anderen Formen auszutauschen, und bietet eine Möglichkeit zur Überprüfung der Integrität der übertragenen Informationen (über Hash-Dateien).</p>

<ol>

<li type="1"><h3>ÜBER DIESE NUTZUNGSVEREINBARUNG</h3>

<p>Diese Nutzungsvereinbarung (im Folgenden "Vereinbarung" genannt) tritt mit einem Klick auf "Ich stimme zu" am unteren Ende in Kraft und bleibt für die gesamte Dauer der Nutzung der Ressource durch den Nutzer gültig. Die Vereinbarung kann von der Verwaltung ohne vorherige Ankündigung geändert werden. Die neue Version der Vereinbarung tritt 3 (drei) Tage nach ihrer Veröffentlichung in Kraft, sofern in der neuen Version der Vereinbarung nicht anders festgelegt.</p>

<li><h3>HAFTUNGSBESCHRÄNKUNGEN</h3>

<p>Der Nutzer erklärt sich ausdrücklich damit einverstanden, die Ressource auf eigenes Risiko zu verwenden.</p>

<p>Der Nutzer erkennt an und stimmt zu, dass die Ressource Materialien und Daten verarbeitet, die von Dritten erstellt und von diesen über ihre eigenen Computer und/oder Server im Internet gehostet werden. Der Inhalt und die Sicherheit dieser Materialien können von der Verwaltung der Ressource nicht kontrolliert werden; daher haftet die Verwaltung nicht für:</p>
<ul>
<p>- den Inhalt der vom Nutzer über die Ressource erhaltenen Materialien, einschließlich etwaiger möglicher Unvereinbarkeit mit geltendem Recht oder deren anstößiger Natur;</p>
<p>- die Folgen der Anwendung, Nutzung oder Nichtnutzung der erhaltenen Informationen;</p>
<p>- jegliche Diskrepanz zwischen den über die Ressource erzielten Ergebnissen und den Erwartungen des Nutzers;</p>
<p>- Schäden an der Hardware oder Software des Nutzers, die aus der Nutzung der Ressource resultieren;</p>
<p>- jegliche Unfähigkeit, die Ressource aus welchem Grund auch immer zu nutzen;</p>
<p>- die Folgen, die sich aus der Verbreitung von illegaler oder nicht lizenzierter Software, Audio-/Video-Inhalten oder anderen Materialien oder Daten ergeben, die die Rechte Dritter verletzen.</p>
</ul>

<p>Die Ressource haftet unter keinen Umständen gegenüber dem Nutzer oder Dritten für Schäden, Verluste oder Aufwendungen im Zusammenhang mit der Ressource, deren Nutzung oder der Unfähigkeit zur Nutzung, einschließlich entgangener Gewinne.</p>

<p>Die Verwaltung der Ressource ist nicht verpflichtet, die Vertraulichkeit der von den Nutzern bereitgestellten Informationen zu gewährleisten, trifft jedoch alle zumutbaren Maßnahmen, es sei denn, es besteht eine gesonderte Vereinbarung oder die geltende Gesetzgebung schreibt etwas anderes vor.</p>

<p>Die Aufgaben der Ressource umfassen nicht die Überwachung der Rechtmäßigkeit der übertragenen Informationen (einschließlich, aber nicht beschränkt auf Informationen, die zwischen Nutzern via BitTorrent, in internen Nachrichten jeglicher Form, Texten oder Dateien übertragen werden), noch die Feststellung von geistigen Eigentumsrechten oder der Rechtmäßigkeit der Übertragung oder des Empfangs solcher Informationen.</p>

<li><h3>EINSCHRÄNKUNGEN BEI DER NUTZUNG DER RESSOURCE DURCH DEN NUTZER</h3>

<p>Bei der Nutzung dieser Ressource darf der Nutzer nicht und stimmt zu, es nicht zu tun:</p>
<ul>
<p>- Hash-Dateien (Torrents) hochzuladen, die Daten mit Viren oder anderer schädlicher Software, Dateien oder Programme enthalten, die dazu dienen, die Funktionalität von Computer- oder Telekommunikationsausrüstung zu stören, zu zerstören oder einzuschränken, Programme für unbefugten Zugriff, Seriennummern für kommerzielle Software oder Werkzeuge zu deren Generierung, Logins, Passwörter oder andere Mittel zum Erlangen unbefugten Zugriffs auf Internetressourcen, sowie Links zu den vorgenannten Inhalten zu posten;</p>
<p>- Hash-Dateien (Torrents) hochzuladen, die Nachrichten, Daten oder Programme enthalten, deren Nutzung bestehende Patente, Marken, Geschäftsgeheimnisse, Urheberrechte oder andere Eigentumsrechte und/oder verbundene Rechte Dritter verletzt;</p>
<p>- unautorisierte Werbenachrichten (Junk-Mail, Spam) an auf der Website gelistete E-Mail-Adressen zu senden;</p>
<p>- jegliche über die Ressource erhaltene Informationen zu kopieren und für kommerzielle Zwecke zu verwenden, die die Rechte anderer verletzen oder ihnen direkten materiellen oder immateriellen Schaden zufügen könnten;</p>
<p>- Links zu Webressourcen zu posten, deren Inhalte der geltenden Gesetzgebung widersprechen;</p>
<p>- sich ohne entsprechende Berechtigung als eine andere Person oder als Vertreter einer Organisation und/oder Gemeinschaft auszugeben, einschließlich Mitarbeiter der Verwaltung oder des Besitzers der Ressource.</p>
</ul>

<li><h3>GEWÄHRLEISTUNGSAUSSCHLUSS</h3>

<p>Der Zugang zur Ressource wird "wie besehen" ohne jegliche Gewährleistung, weder ausdrücklich noch stillschweigend, bereitgestellt.</p>

<p>Insbesondere garantiert die Verwaltungsstelle der Ressource weder die Funktionalität der Website oder ihrer einzelnen Abschnitte noch die Funktionsfähigkeit und Zuverlässigkeit von Links, die von ihren Nutzern gepostet werden.</p>

<p>Die Ressource ist nicht verantwortlich für direkte oder indirekte Verluste, die entstehen durch: die Nutzung oder die Unmöglichkeit der Nutzung des Dienstes; oder unbefugten Zugriff auf Ihre Kommunikation.</p>

<li><h3>RECHTE DER VERWALTUNG DER RESSOURCE</h3>

<p>Die Verwaltung der Ressource hat das Recht, jedem Nutzer oder jeder Nutzergruppe den Zugang zur Ressource ohne Begründung oder vorherige Ankündigung zu verweigern.</p>

<p>Die Verwaltung der Ressource kann Informationen, Hash-Dateien (Torrents), Grafiken, Audiodateien und andere von Nutzern eingereichte Daten ohne vorherige Ankündigung oder Erklärung bearbeiten oder löschen.</p>

<li><h3>VERANTWORTUNGEN DER PARTEIEN</h3>

<p>Der Nutzer stimmt zu, dass alle Streitigkeiten aus dieser Vereinbarung gemäß geltendem Recht beigelegt werden.</p>

<p>Der Nutzer stimmt zu, dass Verbraucherschutzgesetze und -bestimmungen auf die Nutzung dieser Ressource nicht anwendbar sind, da keine kostenpflichtigen Dienstleistungen angeboten werden.</p>

<p>Die Ressource begründet keine Agentur-, Partnerschafts-, Joint-Venture-, Arbeits- oder sonstige Beziehungen, die nicht ausdrücklich in dieser Vereinbarung beschrieben sind.</p>

<p>Das Unterlassen von Maßnahmen durch die Ressource bei Verletzungen dieser Vereinbarung durch Nutzer oder Nutzergruppen stellt keine Billigung oder Unterstützung solcher Handlungen dar.</p>

<p>Das Unterlassen von Maßnahmen seitens der Ressource bei Verstößen gegen diese Vereinbarung durch Nutzer oder Nutzergruppen entbindet die Ressource nicht von ihrem Recht, zu einem späteren Zeitpunkt angemessene Schritte zum Schutz ihrer Interessen zu ergreifen.</p>

<li><h3>AKZEPTANZ DER NUTZUNGSVEREINBARUNG</h3>

<p>WENN SIE NICHT ALLEN OBEN GENANNTEN BEDINGUNGEN ZUSTIMMEN, DÜRFEN SIE DIE RESSOURCE WEDER GANZES NOCH TEILWEISE NUTZEN, AUSSER DIESSEITER MIT DER NUTZUNGSVEREINBARUNG, UND SIE DÜRFEN NICHT AUF SONSTIGE WEISE AUF INHALTE DIESER RESSOURCE GANZ ODER TEILWEISE ZUGREIFEN ODER SIE ERHALTEN.</p>

<p>WENN SIE MIT DIESER NUTZUNGSVEREINBARUNG NICHT EINVERSTANDEN SIND, MÜSSEN SIE DIE RESSOURCE SOFORT VERLASSEN.</p>

</ol>
</p>

</div>
