<div id=\"infobox-body\">

<p>

<p><h1>NUTZERVEREINBARUNG</h1></p>

<p><h3>ÜBER DIESE SEITE</h3></p>

<p>Die Internet-Ressource / Webseite (im Folgenden - Ressource) ist eine Internetseite, die Benutzern ermöglicht, Informationen über BitTorrent sowie in freier Form auszutauschen, und stellt ein Mittel zur Überwachung der Integrität der übertragenen Informationen (über Hash-Dateien) bereit.</p>

<ol>

<li type="1"><h3>ÜBER DIE NUTZERVEREINBARUNG</h3>

<p>Diese NUTZERVEREINBARUNG tritt in Kraft, nachdem "Ich stimme zu" unten angeklickt wurde, und gilt für die gesamte Nutzungszeit der Ressource durch die Nutzer. Die NUTZERVEREINBARUNG kann von der Verwaltung ohne jegliche Vorankündigung geändert werden. <p>Die neue Version der NUTZERVEREINBARUNG tritt 3 (drei) Tage nach dem Datum ihrer Veröffentlichung in Kraft, sofern in der neuen Version der NUTZERVEREINBARUNG nichts anderes vorgesehen ist.</p>

<li><h3>HAFTUNGSAUSSCHLUSS</h3>

<p>Der Benutzer erklärt sich ausdrücklich damit einverstanden, die Ressource auf eigenes Risiko zu nutzen.</p>

<p>Der Nutzer weiß und stimmt zu, dass es sich um Materialien und Daten der Ressource handelt, die von Dritten erstellt und im Internet auf deren Computern und/oder Servern platziert wurden. <p>Der Inhalt und die Sicherheit dieser Materialien können von der Ressourcenverwaltung nicht kontrolliert werden, daher haftet diese nicht:</p>
<ul>
<p>- für den Inhalt der Materialien, die der Nutzer durch Nutzung der Daten der Ressource erhält, und deren mögliche Unvereinbarkeit mit geltendem Recht oder anstößigen Inhalt;</p>
<p>- für die Folgen der Anwendung, Nutzung oder Nichtnutzung der erhaltenen Informationen;</p>
<p>- für eine mögliche Abweichung der mit der Ressource erzielten Ergebnisse von den Erwartungen des Nutzers;</p>
<p>- für jegliche Schäden an Hard- oder Software des Nutzers, die aus der Nutzung der Ressource resultieren;</p>
<p>- für die Unmöglichkeit der Nutzung der Ressource aus jeglichen Gründen;</p>
<p>- für die Folgen, die sich aus der Verbreitung von illegaler oder nicht lizenzierter Software sowie Audio-/Video-Produkten und anderen Materialien oder Daten ergeben, die die Rechte Dritter beeinträchtigen.</p>
</ul>

<p>Unter keinen Umständen haftet die Ressource gegenüber dem Nutzer oder Dritten für Schäden, Verluste oder Kosten, die im Zusammenhang mit dieser Ressource, ihrer Nutzung oder Unmöglichkeit der Nutzung entstehen, einschließlich entgangener Gewinne.</p>

<p>Die Verwaltung der Ressource ist nicht verpflichtet, die Vertraulichkeit der von den Nutzern bereitgestellten Informationen zu gewährleisten, ergreift dabei jedoch alle möglichen Maßnahmen, sofern keine gegenteilige Vereinbarung oder gesetzliche Anforderungen bestehen.</p>

<p>Die Aufgaben der Ressource schließen nicht die Kontrolle über legal oder illegal übermittelte Informationen ein (einschließlich, aber nicht beschränkt auf Informationen, die zwischen Nutzern via BitTorrent übertragen werden, interne Übertragungen von Informationen in Links, Texten oder Dateien), sowie die Feststellung von Eigentumsrechten oder der Rechtmäßigkeit der Übertragung oder des Empfangs solcher Informationen.</p>

<li><h3>NUTZUNGSBESCHRÄNKUNGEN DER RESSOURCE DURCH DEN BENUTZER</h3>

<p>Bei der Nutzung dieser Ressource hat der BENUTZER kein Recht und stimmt Folgendem zu:</p>
<ul>
<p>- Hash-Dateien (Torrents) bereitzustellen, die Viren oder andere schädliche Computerprogramme enthalten, oder Dateien bzw. Programme, die darauf ausgelegt sind, die Funktionalität von Computer- oder Telekommunikationsgeräten zu unterbrechen, zu zerstören oder einzuschränken, Programme für unbefugten Zugriff, sowie Seriennummern für kommerzielle Softwareprodukte, Programme zu deren Generierung, Logins, Passwörter oder andere Mittel zur Erlangung unbefugten Zugangs zu Internetseiten; sowie Links zu den genannten Informationen zu posten;</p>
<p>- Hash-Dateien (Torrents) mit Nachrichten, Daten oder Programmen bereitzustellen, deren Nutzung Patente, Markenrechte, Geschäftsgeheimnisse, Urheberrechte oder andere Eigentumsrechte und/oder Urheberrechte sowie verwandte Schutzrechte Dritter verletzt;</p>
<p>- an auf der Webseite aufgeführte E-Mail-Adressen nicht autorisierte Werbenachrichten (Junkmail, Spam) zu senden;</p>
<p>- jegliche Informationen, die durch diese Ressource erhalten wurden, zu kopieren und für kommerzielle Zwecke zu verwenden, wenn dies die Rechte Dritter verletzt oder diesen direkten materiellen oder moralischen Schaden zufügen könnte;</p>
<p>- Links zu Webressourcen zu posten, deren Inhalte den geltenden Gesetzen widersprechen;</p>
<p>- sich als eine andere Person oder einen Vertreter einer Organisation und/oder Gemeinschaft ohne ausreichende Rechte auszugeben, einschließlich Mitarbeiter der Verwaltung, die für den Besitzer der Ressource handeln.</p>
</ul>

<li><h3>LEISTUNGSGARANTIE</h3>

<p>Der Zugang zur Ressource erfolgt «wie besehen» und ohne jegliche Gewährleistung, weder ausdrücklich noch stillschweigend.</p>

<p>Insbesondere garantiert die Verwaltung der Ressource weder die Funktionalität der Webseite und ihrer einzelnen Bereiche noch die Leistung und Zuverlässigkeit der von Nutzern gesetzten Links.</p>

<p>Die Ressource haftet nicht für direkte oder indirekte Verluste, die durch die Nutzung oder Nichtnutzung des Dienstes sowie durch unbefugten Zugriff auf Ihre Kommunikation entstehen.</p>

<li><h3>RECHTE DER VERWALTUNG DER RESSOURCE</h3>

<p>Die Verwaltung der Ressource hat das Recht, jedem Nutzer oder jeder Nutzergruppe ohne Angabe von Gründen und ohne Vorankündigung den Zugang zur Ressource zu verweigern.</p>

<p>Die Verwaltung der Ressource kann ohne Vorankündigung und ohne Erklärung sämtliche vom Nutzer über die Ressource bereitgestellten Informationen, Hash-Dateien (Torrents), Grafiken, Audio- und andere Daten ändern oder entfernen.</p>

<li><h3>VERANTWORTUNG DER PARTEIEN</h3>

<p>Der Nutzer stimmt zu, dass alle möglichen Streitigkeiten bezüglich der NUTZERVEREINBARUNG nach den gesetzlichen Bestimmungen beigelegt werden.</p>

<p>Der Nutzer stimmt zu, dass die Regeln und Gesetze zum Verbraucherschutz auf die Nutzung der Ressource nicht anwendbar sind, da keine kostenpflichtigen Dienstleistungen angeboten werden.</p>

<p>Die Ressource begründet keine Agentur- oder Partnerschaftsverhältnisse zwischen Benutzer und Ressource, keine Anstellungsverhältnisse oder andere nicht ausdrücklich in der NUTZERVEREINBARUNG beschriebene Beziehungen.</p>

<p>Das Unterlassen von Maßnahmen der Ressource bei Verstößen eines Nutzers oder einer Nutzergruppe gegen die NUTZERVEREINBARUNG bedeutet nicht, dass die Ressource solche Handlungen unterstützt.</p>

<p>Das Unterlassen von Maßnahmen der Ressource bei Verstößen eines Nutzers oder einer Nutzergruppe gegen die NUTZERVEREINBARUNG entzieht der Ressource nicht das Recht, später geeignete Maßnahmen zum Schutz ihrer Interessen zu ergreifen.</p>

<li><h3>AKZEPTANZ DER NUTZERVEREINBARUNG</h3>

<p>WENN SIE NICHT ALLEN OBEN AUFGEFÜHRTEN BEDINGUNGEN UND KONDITIONEN ZUSTIMMEN, DÜRFEN SIE DIE RESSOURCE ALS GANZES ODER TEILWEISE NICHT NUTZEN, AUSSER DER SEITE MIT DER NUTZERVEREINBARUNG UND DÜRFEN DESSEN INHALTE NICHT AUF ANDERE WEISE ALS GANZES ODER TEILWEISE ERHALTEN ODER ZUGREIFEN!</p>

<p>WENN SIE NICHT MIT DER NUTZERVEREINBARUNG EINVERSTANDEN SIND, MÜSSEN SIE DIE RESSOURCE SOFORT VERLASSEN.</p>

</ol>
</p>

</div><!--/infobox-body-->
