<div id=\"infobox-body\">

<p><h1>版權持有者的資訊</h1></p>

<p>如果您是本網站上任何材料的版權擁有者，並且不希望用戶在未經您同意的情況下傳播這些資訊，我們將很高興協助您刪除相關連結。</p>

<p>這需要您向我們發送一封信件（電子形式）</p>
<p>信中需包含以下資訊：</p>

<p>1. <p>您的版權保護材料權利的證明文件：</p>
<p> - 附有印章的掃描文件，或</p>
<p> - 來自版權擁有者官方電子郵件域的電子郵件，或</p>
<p> - 其他可唯一證明您為該材料擁有者的聯絡資訊。</p>

<p>2. <p>您想要發布的文字，附帶可移除的信息。</p>

<p>您可以在其中說明在哪裡以及在何種條件下可以獲取已被刪除的資料的資訊，以及您的聯絡方式，方便用戶向您取得關於該材料的所有必要信息。</p>

<p>3. <p>包含必須刪除資訊的頁面直接連結。</p>

<p>連結應該以 <strong>https://url.to/link</strong> 或類似格式顯示。</p>

<p>收到後的48小時內，我們將從網站上移除相關連結。</p>

<p class="bold">我們的郵箱：<strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>警告！</p>

<p>a) 我們保留在網站上發布任何通過郵件 <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> 發送給我們的信息的權利。</p>

<p>b) 我們無法控制用戶可能重新發布與您版權相關的信息的行為。 論壇的任何資訊將自動發布，並且不受任何方面的控制，這符合在互聯網上發布資訊的普遍國際慣例。 <p>然而，無論如何，我們會認真對待您關於侵權信息引用的所有查詢。</p>

<p>c) 根據版權及相關權利法，引用任何數據（信息消息）本身不受版權法的限制（儘管可能違反“使用網站協議”）。 <p>因此，無需寄送包含威脅或要求的信件，因為這沒有實際依據。</p>

</div><!--/infobox-body-->
