<div id="infobox-body">

<p><h1>版權持有者資訊</h1></p>

<p>如果您是本網站中任何連結資料的版權持有者，且不希望此資訊在未取得您同意的情況下被用戶散佈，我們樂意協助您刪除相關連結。</p>

<p>為此，請寄送電子信件告知以下資訊：</p>

<p>1. 您對受版權保護資料的權利證明文件：</p>
<p> — 掛有官方印章的掃描文件，或</p>
<p> — 從權利持有公司官方網域發出的電子郵件，或</p>
<p> — 其他可唯一識別您為權利持有者的聯絡資訊。</p>

<p>2. 您希望用以取代被移除內容的替代文字。</p>

<p>您可在此文字中說明用戶能夠在何處及在何種條件下取得已被移除連結所指向的資訊，以及提供您的聯絡方式，方便用戶就該資料與您聯繫。</p>

<p>3. 包含需移除資料參考的頁面直接連結。</p>

<p>連結應為 <strong>https://url.to/link</strong> 或類似格式。</p>

<p>在收到您的請求後 48 小時內，我們將會從網站移除相關連結。</p>

<p class="bold">我們的電子郵件：<strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>警告！</p>

<p>a) 我們保留在網站上發布任何通過郵件 <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong> 發送給我們的信息的權利。</p>

<p>b) 我們無法控制可能重新張貼您版權資訊連結的用戶行為。 論壇上所有資訊均為自動發布，未經事前審查或管理，符合互聯網資訊發布的國際通行慣例。 儘管如此，我們仍會審核所有關於侵犯您權益資訊連結的請求。</p>

<p>c) 根據適用的版權法及相關權利法規，資料的超連結（資訊參考）本身不受版權保護（但可能違反本站用戶協議）。 因此，請避免寄送包含威脅或索求的信件，因這類要求無法律依據。</p>

</div>
