<div>
	<h3>側邊欄 2</h3>
	要在此側邊欄添加內容，請編輯以下文件：
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	要禁用此側邊欄，請在 config.php 檔案中將變數 page.show_sidebar2 設為 false。
</div>
