<div>
	<h3>欄 2</h3>
	要將內容加入此側邊欄，請編輯以下檔案：
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	要停用此側邊欄，請在 config/layouts.php 檔案中將變數 page.show_sidebar2 設定為 false。
</div>
