<div id="infobox-body">

<p>

<p><h1>使用者協議</h1></p>

<p><h3>關於本站</h3></p>

<p>此互聯網資源／網站（以下稱「本資源」）是一個允許使用者透過 BitTorrent 及其他形式相互分享資訊，並提供驗證傳輸資訊完整性（透過哈希文件）工具的網站。</p>

<ol>

<li type="1"><h3>關於此使用者協議</h3>

<p>本使用者協議（以下稱「本協議」）於點擊底部的「我同意」後生效，並於使用者使用本資源期間持續有效。 本協議可由管理方在未事先通知的情況下予以修改。 新版本協議自公布後三（3）天生效，除非新版本協議另有規定。</p>

<li><h3>責任限制</h3>

<p>使用者明確同意自行承擔使用本資源的風險。</p>

<p>使用者知悉並同意，本資源涉及由第三方創建並透過其自身電腦和／或伺服器在互聯網上寄存的資料與內容。 資源管理方無法控制這些資料的內容與安全性，因此不承擔以下責任：</p>
<ul>
<p>－ 對使用者透過本資源取得的資料內容，包括可能與適用法律不符或具冒犯性之內容；</p>
<p>－ 對因使用、未使用或無法使用所獲資訊所產生的後果；</p>
<p>－ 對透過本資源獲得結果與使用者期待之差異負責；</p>
<p>－ 對因使用本資源導致使用者硬體或軟體遭受任何損害負責；</p>
<p>－ 對因任何原因無法使用本資源負責；</p>
<p>－ 對因散布非法或未授權軟體、音視頻內容或其他侵害第三方權利之資料所產生後果負責。</p>
</ul>

<p>本資源在任何情況下均不對使用者或任何第三方因本資源之使用或無法使用所導致的任何損害、損失或費用（包括利潤損失）承擔責任。</p>

<p>資源管理方不負有確保使用者所提供資訊保密的義務，但會採取合理措施，除非另有協議或適用法律另有規定。</p>

<p>本資源的職責不包含監控傳輸資訊的合法性（包括但不限於使用 BitTorrent 傳輸之資訊、內部訊息、文字或檔案），亦不包含判定智慧財產權或資訊傳輸與接收之合法性。</p>

<li><h3>使用者對本資源使用之限制</h3>

<p>使用本資源時，使用者不得且同意不得：</p>
<ul>
<p>- 上傳含有病毒或其他惡意軟體、設計用於干擾、破壞或限制任何電腦或電信設備功能的檔案或程式、未授權訪問程式、商業軟體序號及其產生工具、登入資料或其他未授權訪問網際網路資源手段之哈希文件（種子），並不得發布上述資訊的連結；</p>
<p>- 上傳侵害任何第三方專利權、商標權、營業秘密、著作權或其他專有權利及相關權利之訊息、資料或程式之哈希文件（種子）；</p>
<p>- 向網站列出的電子郵件地址發送未經授權的廣告訊息（垃圾郵件、垃圾信）；</p>
<p>- 複製並商業使用透過本資源獲得且侵害他人權利或可能造成直接物質或精神損害之任何資訊；</p>
<p>- 發布違反適用法律之網絡資源連結；</p>
<p>- 未經適當授權，冒充任何人員或組織和／或社群代表，包括管理方員工或資源所有者。</p>
</ul>

<li><h3>保證免責聲明</h3>

<p>本資源採「現狀」提供，無任何明示或暗示之保證。</p>

<p>尤其資源管理方不保證網站或其任何部分的功能性，亦不保證使用者所發布連結之可用性與可靠性。</p>

<p>本資源不對以下原因導致的任何直接或間接損失負責：服務使用或無法使用；或未經授權訪問您的通訊。</p>

<li><h3>資源管理方的權利</h3>

<p>資源管理方有權拒絕任何使用者或使用者群組訪問本資源，無需說明理由或事先通知。</p>

<p>資源管理方可在不通知或說明理由的情況下，修改或刪除使用者提交的任何資訊、哈希文件（種子）、圖像、音訊及其他資料。</p>

<li><h3>各方責任</h3>

<p>使用者同意所有因本協議引起的爭議均依適用法律解決。</p>

<p>使用者同意本資源不提供有償服務，故適用的消費者保護法律及規定不適用於本資源之使用。</p>

<p>本資源不建立代理、合夥、合資、僱傭或本協議未明確描述的任何其他關係。</p>

<p>資源對使用者或使用者群組違反協議的行為未採取行動，並不構成對該違約行為的認可或協助。</p>

<p>資源未對使用者或使用者群組違反本協議採取行動，並不剝奪資源日後為保護自身權益採取適當行動的權利。</p>

<li><h3>接受使用者協議</h3>

<p>若您不同意上述所有條款與條件，除本使用者協議頁面外，您不得全部或部分訪問本資源，亦不得以任何其他方式獲取本資源之全部或部分內容。</p>

<p>若您不同意本使用者協議，請立即離開本資源。</p>

</ol>
</p>

</div>
