<div id=\"infobox-body\">

<p>

<p><h1>用戶協議</h1></p>

<p><h3>關於本站</h3></p>

<p>互聯網資源/網站（以下簡稱「資源」）是一個允許用戶通過 BitTorrent 以及自由形式相互分享資訊的互聯網網站，並提供監測傳輸資訊完整性（通過哈希文件）的手段。</p>

<ol>

<li type="1"><h3>關於用戶協議</h3>

<p>本使用者協議於點擊下方的「我同意」後生效，並在使用資源過程中持續有效。 用戶協議可由管理方在未另行通知的情況下更改。 新版本的用戶協議自提交之日起三（3）日後生效，除非新版本用戶協議另有規定。</p>

<li><h3>責任限制</h3>

<p>用戶明確同意自行承擔使用資源的風險。</p>

<p>使用者知曉並同意，所處理的資源資料是由第三方創建並放置於其電腦及（或）伺服器上的互聯網中。 這些材料的內容及安全性無法由資源管理方控制，因此後者不承擔以下責任：</p>
<ul>
<p>- 對用戶通過數據資源獲得的材料內容及其可能與適用法律不符或冒犯性負責；</p>
<p>- 對所獲信息的應用、使用或未使用所帶來的後果負責；</p>
<p>- 對使用資源獲得的結果與用戶預期之間的可能差異負責；</p>
<p>- 對用戶因使用資源而致任何軟硬體損害負責；</p>
<p>- 對因任何原因導致無法使用資源負責；</p>
<p>- 對因散播非法或未授權軟體及音視頻產品及其它可能侵害第三方權利的材料或數據所引起的後果負責。</p>
</ul>

<p>在任何情況下，資源不對用戶或第三方因本資源及其使用或無法使用而產生的損害、損失或費用承擔責任，包括利潤損失。</p>

<p>資源管理方無義務確保用戶所提供信息的保密性，但在無相反協議或法律要求的情況下會盡力採取措施予以保護。</p>

<p>資源職責不包括控制合法或非法傳輸的信息（包括但不限於通過 BitTorrent 用戶間傳輸的資訊、多種鏈接中的內部轉移資訊、文本或文件），也不涉及判斷使用該信息的物權或合法性。</p>

<li><h3>用戶對資源使用的限制</h3>

<p>當您使用本資源時，用戶無權並同意不做以下行為：</p>
<ul>
<p>- 發佈包含病毒或其他惡意程式的哈希文件（種子），這些程式旨在中斷、破壞或限制任何電腦或通訊設備的功能，或未經授權的訪問程式，以及商業軟體序號及其生成程式、登入信息、密碼等用以非法訪問網站的手段，並發佈上述信息的鏈接；</p>
<p>- 發佈侵犯任何專利、商標、商業秘密、版權或其他第三方專有權利及／或相關權利的哈希文件（種子），包括任何信息、數據或程序；</p>
<p>- 發送未授權的電子郵件地址上的廣告郵件（垃圾郵件、群發郵件）；</p>
<p>- 複製並將通過本資源獲得的任何信息用於商業目的，侵害他人權益或可能導致其直接物質或道德損害；</p>
<p>- 發佈與現行法律相抵觸的網絡資源鏈接；</p>
<p>- 冒充任何人或組織及社群的代表，包括資源管理員工，未經適當權限的情況下行使此類身份。</p>
</ul>

<li><h3>性能保證</h3>

<p>資源以「現狀」提供，不作任何明示或暗示的保證，包括但不限於直接或間接保證。</p>

<p>特別地，資源管理方不保證網站及其各部分的功能性，也不保證用戶放置於其上的鏈接的性能和可靠性。</p>

<p>資源不對因使用或無法使用服務，或者未經授權訪問通訊而導致的任何直接或間接損失負責。</p>

<li><h3>資源管理方權利</h3>

<p>資源管理方有權無需說明原因及通知拒絕任何用戶或用戶組訪問資源。</p>

<p>資源管理方可在未通知用戶及不做解釋的情況下修改或刪除用戶提交的任何資訊、哈希文件（種子）、圖像、音訊及其他數據。</p>

<li><h3>各方責任</h3>

<p>用戶同意所有與使用協議相關之爭議將依法律規範解決。</p>

<p>用戶同意由於本資源無付費服務，消費者保護相關規定不適用於本資源使用。</p>

<p>資源不設立用戶代理、合作、聯合活動、招聘關係及使用協議未明確描述的其他關係。</p>

<p>對用戶或用戶組違反用戶協議事件資源不作為，不代表資源會協助用戶或用戶組執行違規行為。</p>

<p>資源對用戶或用戶組違反用戶協議事件的不作為，不剝奪資源日後採取適當行動保護權益的權利。</p>

<li><h3>用戶協議的接受</h3>

<p>若您不同意上述所有條款及條件，除用戶協議頁面外，您不得全部或部分訪問資源或以任何方式獲取本資源的任何內容！</p>

<p>若您不同意用戶協議，請立即離開本資源。</p>

</ol>
</p>

</div><!--/infobox-body-->
