<div id="infobox-body">

<p><h1>INFORMACE PRO DRŽITELE AUTORSKÝCH PRÁV</h1></p>

<p>Pokud jste držitelem autorských práv k jakémukoli materiálu propojenému na tomto webu a nechcete, aby tyto informace byly šířeny uživateli bez vašeho souhlasu, rádi vám pomůžeme odstraněním příslušných odkazů.</p>

<p>Pro tento účel nám prosím zašlete elektronický dopis obsahující následující informace:</p>

<p>1. Dokumentární důkaz vašich práv k materiálu chráněnému autorským právem:</p>
<p> — naskenovaný dokument s úředním razítkem, nebo</p>
<p> — e-mail zaslaný z oficiální domény společnosti držící práva, nebo</p>
<p> — jiné kontaktní údaje, které vás jednoznačně identifikují jako držitele práv.</p>

<p>2. Text, který chcete zveřejnit místo odstraněného obsahu.</p>

<p>V tomto textu můžete upřesnit, kde a za jakých podmínek mohou uživatelé získat informace, jejichž odkazy byly odstraněny, a také vaše kontaktní údaje, aby vás mohli ohledně tohoto materiálu kontaktovat.</p>

<p>3. Přímé odkazy na stránky obsahující odkazy na data, která musí být odstraněna.</p>

<p>Odkazy by měly být ve formátu <strong>https://url.to/link</strong> nebo podobném.</p>

<p>Do 48 hodin od obdržení vaší žádosti odstraníme příslušné odkazy z webu.</p>

<p class="bold">Náš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>VAROVÁNÍ!</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nemáme žádnou kontrolu nad jednáním uživatelů, kteří mohou znovu zveřejnit odkazy na informace, jež jsou předmětem vašich autorských práv. Veškeré informace na fóru jsou automaticky zveřejňovány bez předchozí kontroly či moderace, v souladu s běžně uznávanými mezinárodními praktikami hostování informací na internetu. Přesto zvážíme všechny žádosti týkající se odkazů na informace, které porušují vaše práva.</p>

<p>c) Podle platných zákonů o autorských právech a právech souvisejících není samotný hypertextový odkaz na data (informační odkaz) předmětem autorskoprávní ochrany (i když může porušovat Uživatelskou smlouvu webu). Prosíme vás proto, abyste se zdrželi zasílání dopisů obsahujících hrozby nebo požadavky, protože pro takové nároky neexistují právní důvody.</p>

</div>
