<div id=\"infobox-body\">

<p><h1>INFORMACE PRO DRŽITELE AUTORSKÝCH PRÁV</h1></p>

<p>Pokud máte autorská práva k jakémukoliv materiálu, odkazu (nebo odkazům), které jsou dostupné na tomto webu, a nechcete, aby tyto informace byly šířeny uživateli bez vašeho souhlasu, rádi vám pomůžeme odstraněním příslušných odkazů.</p>

<p>Vyžaduje to, abyste nám zaslali dopis (v elektronické podobě)
který nám sdělí následující informace:</p>

<p>1. Dokumentární důkaz vašich práv k materiálu chráněnému autorským právem:</p>
<p> - naskenovaný dokument s razítkem, nebo</p>
<p> - e-mail z oficiální e-mailové domény vlastníka společnosti, nebo</p>
<p> - jiné kontaktní informace, které vás jednoznačně identifikují jako vlastníka materiálu.</p>

<p>2. Text, který chcete umístit, doplněný o odstranitelné informace.</p>

<p>Můžete v něm uvést, kde a za jakých podmínek lze získat informace, na které byly odkazy odstraněny, stejně jako vaše kontaktní údaje, aby uživatelé mohli od vás získat všechny potřebné informace týkající se tohoto materiálu.</p>

<p>3. Přímé odkazy na stránky, které obsahují odkazy na data, jež musí být odstraněna.</p>

<p>Odkazy by měly být ve tvaru <strong>https://url.to/link</strong> nebo podobném.</p>

<p>Poté do 48 hodin odstraníme vámi uvedené odkazy z webu.</p>

<p class="bold">Náš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UPOZORNĚNÍ!</p>

<p>a) Vyhrazujeme si právo zveřejnit na webu jakékoli informace zaslané na náš e-mail <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Jakékoli informace na fóru jsou umisťovány automaticky, bez jakékoliv kontroly z jakékoli strany, což odpovídá všeobecně přijímané mezinárodní praxi zveřejňování informací na internetu. V každém případě však zvážíme všechny vaše dotazy týkající se odkazů na informace, které porušují vaše práva.</p>

<p>c) Podle zákona o autorských právech a právech souvisejících není samotný odkaz na jakákoli data (informační zprávu) předmětem autorského práva (i když může porušovat "Podmínky užívání webu"). Není proto nutné zasílat dopisy obsahující hrozby nebo požadavky, které nemají skutečný právní základ.</p>

</div><!--/infobox-body-->
