<div>
	<h3>Postranní panel 2</h3>
	Chcete-li přidat obsah do tohoto postranního panelu, upravte následující soubory:
	<br /><br />
	<ul class="med">
		<li>knihovna/jazyk/*/html/postranní_panel2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Chcete-li tento postranní panel zakázat, nastavte proměnnou page.show_sidebar2 v souboru config/layouts.php na false.
</div>
