<div id="infobox-body">

<p>

<p><h1>UŽIVATELSKÁ DOHODA</h1></p>

<p><h3>O WEBU</h3></p>

<p>Tento internetový zdroj/webová stránka (dále jen "Zdroj") je web, který umožňuje uživatelům vzájemně si sdílet informace prostřednictvím BitTorrentu i jinými způsoby a poskytuje prostředky k ověření integrity přenášených informací (pomocí hash souborů).</p>

<ol>

<li type="1"><h3>O TÉTO UŽIVATELSKÉ DOhodě</h3>

<p>Tato uživatelská dohoda (dále jen "Dohoda") vstupuje v platnost kliknutím na tlačítko „Souhlasím“ dole a zůstává v platnosti po celou dobu používání Zdroje Uživatelem. Dohoda může být Správou změněna bez předchozího upozornění. Nová verze Dohody vstupuje v platnost 3 (tři) dny po jejím zveřejnění, pokud není v nové verzi stanoveno jinak.</p>

<li><h3>OMEZENÍ ODPOVĚDNOSTI</h3>

<p>Uživatel výslovně souhlasí, že používá Zdroj na vlastní nebezpečí.</p>

<p>Uživatel bere na vědomí a souhlasí s tím, že Zdroj se zabývá materiály a daty vytvořenými třetími stranami, které jsou hostovány na jejich počítačích a/nebo serverech převážně na Internetu. Správa Zdroje nemůže kontrolovat obsah a bezpečnost těchto materiálů; proto není za ně odpovědná:</p>
<ul>
<p>- za obsah materiálů získaných Uživatelem prostřednictvím Zdroje, včetně jakéhokoli možného rozporu s platnými zákony nebo jejich urážlivé povahy;</p>
<p>- za důsledky aplikace, použití nebo nepoužití získaných informací;</p>
<p>- za jakékoli neshody mezi výsledky získanými pomocí Zdroje a očekáváními Uživatele;</p>
<p>- za jakoukoli škodu na hardwaru nebo softwaru Uživatele vzniklou v důsledku používání Zdroje;</p>
<p>- za jakoukoli nemožnost použití Zdroje z jakéhokoli důvodu;</p>
<p>- za důsledky vyplynuvší z distribuce nelegálního nebo nelicencovaného softwaru, audio/video obsahu nebo jiných materiálů či dat porušujících práva třetích stran.</p>
</ul>

<p>Za žádných okolností není Zdroj odpovědný Uživateli ani žádné třetí straně za škody, ztráty nebo náklady vzniklé v souvislosti se Zdrojem, jeho používáním nebo nemožností jeho použití, včetně ušlých zisků.</p>

<p>Správa Zdroje není povinna zaručit důvěrnost informací poskytnutých Uživateli, i když přijímá veškerá přiměřená opatření, pokud neexistuje samostatná dohoda nebo není stanoveno jinak platnou legislativou.</p>

<p>Povinnosti Zdroje nezahrnují monitorování legality přenášených informací (včetně, ale nikoli výlučně, informací přenášených mezi uživateli přes BitTorrent, interní zpráv ve všech formách, textů či souborů), ani určení práv duševního vlastnictví či oprávněnosti přenosu či příjmu těchto informací.</p>

<li><h3>OMEZENÍ POUŽÍVÁNÍ ZDROJE UŽIVATELEM</h3>

<p>Při používání tohoto Zdroje nesmí Uživatel a souhlasí s tím, že nebude:</p>
<ul>
<p>- nahrávat hash soubory (torrenty) obsahující data s viry nebo jiným škodlivým softwarem, soubory či programy určené k narušení, poškození nebo omezení funkčnosti jakéhokoli počítače či telekomunikačního zařízení, programy pro neoprávněný přístup, sériová čísla komerčního softwaru nebo nástroje k jejich generování, přihlašovací údaje, hesla či jiné prostředky k získání neoprávněného přístupu k internetovým zdrojům, stejně jako zveřejňovat odkazy na výše uvedené;</p>
<p>- nahrávat hash soubory (torrenty) obsahující jakékoli zprávy, data či programy, jejichž použití porušuje jakýkoli patent, ochrannou známku, obchodní tajemství, autorská práva nebo jiná vlastnická práva a/nebo související práva třetích stran;</p>
<p>- zasílat neoprávněné reklamní zprávy (junk mail, spam) na e-mailové adresy uvedené na webu;</p>
<p>- kopírovat a využívat pro komerční účely jakékoli informace získané prostřednictvím Zdroje, které porušují práva ostatních nebo jim mohou způsobit přímou hmotnou či morální újmu;</p>
<p>- zveřejňovat odkazy na webové zdroje, jejichž obsah je v rozporu s platnou legislativou;</p>
<p>- vydávat se za jakoukoli osobu, zástupce organizace a/nebo komunity bez řádného oprávnění, včetně zaměstnanců Správy nebo vlastníka Zdroje.</p>
</ul>

<li><h3>VÝHRADA ZÁRUK</h3>

<p>Přístup ke Zdroji je poskytován "jak je" bez jakýchkoli záruk, výslovných či mlčenlivých.</p>

<p>Správa Zdroje zejména nezaručuje funkčnost webu nebo jeho jednotlivých částí, ani provozuschopnost a spolehlivost odkazů vložených uživateli.</p>

<p>Zdroj nenese odpovědnost za žádné přímé ani nepřímé ztráty vzniklé: použitím nebo nemožností použití služby; nebo neoprávněným přístupem k Vaší komunikaci.</p>

<li><h3>PRÁVA SPRÁVY ZDROJE</h3>

<p>Správa Zdroje má právo odepřít přístup ke Zdroji jakémukoli Uživateli nebo skupině Uživatelů bez vysvětlení a předchozího upozornění.</p>

<p>Správa Zdroje může bez předchozího upozornění či vysvětlení upravovat nebo mazat jakékoli informace, hash soubory (torrenty), grafiku, audio a další data nahraná Uživateli.</p>

<li><h3>POVINNOSTI STRAN</h3>

<p>Uživatel souhlasí, že všechny spory vyplývající z této Dohody budou řešeny v souladu s platnými zákony.</p>

<p>Uživatel souhlasí, že zákony na ochranu spotřebitele a příslušné předpisy se na používání tohoto Zdroje nevztahují, protože nejedná o poskytování placených služeb.</p>

<p>Zdroj nevytváří agenturní, partnerské, společné podnikatelské, pracovní ani jiné vztahy, které nejsou výslovně uvedeny v této Dohodě.</p>

<p>Nepřijetí opatření Správou Zdroje vůči porušení této Dohody uživatelem či skupinou Uživateli nepředstavuje souhlas nebo pomoc s takovým jednáním.</p>

<p>Nepřijetí opatření Správou Zdroje vůči porušení této Dohody uživatelem či skupinou Uživateli nezbavuje Zdroje práva přijmout vhodná opatření k ochraně svých zájmů později.</p>

<li><h3>PŘIJETÍ UŽIVATELSKÉ DOHODY</h3>

<p>POKUD NESOUHLASÍTE SE VŠEMI VÝŠE UVEDENÝMI PODMÍNKAMI, NEMÁTE PRÁVO PŘISTUPOVAT KE ZDROJI JAK V CELKU, TAK V JEHO ČÁSTECH, KROMĚ TÉTO STRÁNKY S UŽIVATELSKOU DOHODOU, ANI PŘIJÍMAT ČI PŘISTUPOVAT K OBSAHU TOHOTO ZDROJE JINÝMI ZPŮSOBY, JAK V CELKU, TAK V ČÁSTECH.</p>

<p>POKUD NESOUHLASÍTE S TOUTO UŽIVATELSKOU DOHODOU, MUSÍTE OKAMŽITĚ ZDROJ OPUSTIT.</p>

</ol>
</p>

</div>
