<div id=\"infobox-body\">

<p>

<p><h1>UŽIVATELSKÁ DOHODA</h1></p>

<p><h3>O STRÁNCE</h3></p>

<p>Internetový zdroj / webová stránka (dále jen Zdroje) je internetová stránka, která umožňuje uživatelům sdílet informace mezi sebou pomocí bit-torrent, stejně jako ve volné formě, a poskytuje prostředky ke kontrole integrity přenášených informací (prostřednictvím hash-souborů).</p>

<ol>

<li type="1"><h3>O UŽIVATELSKÉ DOHODĚ</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. UŽIVATELSKÁ DOHODA může být Správou změněna bez jakéhokoliv oznámení. Nová verze UŽIVATELSKÉ DOHODY vstoupí v platnost po uplynutí 3 (tří) dnů od data jejího zveřejnění, pokud není v nové verzi UŽIVATELSKÉ DOHODY stanoveno jinak.</p>

<li><h3>OMEZENÍ ODPOVĚDNOSTI</h3>

<p>Uživatel výslovně souhlasí, že používá Zdroje na vlastní riziko.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Obsah a bezpečnost těchto materiálů nemůže být kontrolována správou Zdroje, a proto za ně není odpovědná:</p>
<ul>
<p>- za obsah materiálů získaných uživatelem z použití dat Zdroje a jejich možný nesoulad s platnými zákony nebo uražlivý obsah;</p>
<p>- za důsledky aplikace, použití nebo nepoužití získaných informací;</p>
<p>- za možný nesoulad mezi výsledky získanými pomocí Zdroje a očekáváními uživatele;</p>
<p>- za jakékoli škody na hardwaru nebo softwaru uživatele vzniklé v souvislosti s používáním Zdroje;</p>
<p>- za nemožnost využití zdroje z jakéhokoliv důvodu;</p>
<p>- za důsledky, které mohou vzniknout v důsledku šíření nelegálního nebo nelicencovaného softwaru a audio-/video produktů, a dalších materiálů nebo dat ovlivňujících práva třetích stran.</p>
</ul>

<p>Za žádných okolností Zdroje neodpovídá uživateli nebo třetí straně za škody, ztráty nebo náklady vzniklé v souvislosti s tímto Zdrojem, jeho používáním nebo nemožností použití, včetně ztráty nebo ušlého zisku.</p>

<p>Správa Zdroje není povinna zajistit důvěrnost informací poskytnutých svými uživateli, přičemž činí veškerá možná opatření k jejímu zabezpečení, pokud není dohodnuto jinak nebo neupravují to příslušné právní předpisy.</p>

<p>Povinnosti Zdroje nezahrnují kontrolu legálně či nelegálně přenášených informací (libovolných, včetně, ale nikoliv omezeno na, informace přenášené mezi uživateli prostřednictvím bit-torrent, interní přenos informací různými odkazy, textem či soubory), určení vlastnických práv či legitimity přenosu nebo příjmu těchto informací.</p>

<li><h3>OMEZENÍ VYUŽITÍ ZDROJE UŽIVATELEM</h3>

<p>Při používání tohoto Zdroje uživatel nemá právo a souhlasí s tím, že:</p>
<ul>
<p>- umisťovat hash-soubory (torrent) obsahující viry nebo jiné škodlivé počítačové programy, známé akcí, soubory či programy určené k přerušení, zničení nebo omezení funkčnosti jakéhokoliv počítačového či telekomunikačního zařízení či programů k neoprávněnému přístupu, stejně jako sériová čísla pro komerční softwarové produkty a programy k jejich generování, přihlašovací údaje, hesla a jiné prostředky k získání neoprávněného přístupu na internetové stránky, a také zveřejňovat odkazy na výše uvedené informace;</p>
<p>- umisťovat hash-soubory (torrentů) s jakýmikoliv zprávami, daty nebo programy, jejichž použití porušuje jakýkoliv patent, ochrannou známku, obchodní tajemství, autorská práva či jiná vlastnická práva a/nebo související práva třetích stran;</p>
<p>- zasílat na e-mailové adresy uvedené na webu neoprávněné reklamní e-maily (junk mail, spam);</p>
<p>- kopírovat a používat pro komerční účely jakékoli informace získané prostřednictvím tohoto zdroje, které porušují práva ostatních nebo by jim mohly způsobit přímou materiální či morální újmu;</p>
<p>- zveřejňovat odkazy na webové zdroje, jejichž obsah je v rozporu s platnou legislativou;</p>
<p>- vydávat se za jakoukoli osobu nebo zástupce organizace a/nebo komunity bez dostatečných oprávnění, včetně zaměstnanců správy, majitele Zdroje.</p>
</ul>

<li><h3>ZÁRUKA VÝKONU</h3>

<p>Přístup ke Zdroji je poskytován "jak stojí a leží", bez jakýchkoli záruk, přímých i nepřímých.</p>

<p>Správa Zdroje nezaručuje funkčnost webového místa, jeho jednotlivých sekcí ani výkon či spolehlivost odkazů umístěných uživateli.</p>

<p>Zdroj nenese odpovědnost za jakékoli přímé nebo nepřímé škody vzniklé v důsledku použití či nemožnosti použití služby; neoprávněného přístupu k vaší komunikaci.</p>

<li><h3>PRÁVA SPRÁVY ZDROJE</h3>

<p>Správa Zdroje má právo bez jakéhokoliv vysvětlení nebo oznámení odepřít přístup ke Zdroji kterémukoli uživateli nebo skupině uživatelů.</p>

<p>Správa Zdroje může upravit nebo odstranit jakékoli informace, hash-soubory (torrenty), grafiku, audio a další data, která uživatel zveřejnil ve zdroji, bez upozornění či vysvětlení svých kroků.</p>

<li><h3>POVINNOSTI SMLUVNÍCH STRAN</h3>

<p>Uživatel souhlasí, že veškeré možné spory týkající se DOHODY O POUŽITÍ budou řešeny v souladu s platnou právní normou.</p>

<p>Uživatel souhlasí, že pravidla a zákony na ochranu spotřebitele nelze uplatnit na používání tohoto Zdroje, protože neposkytuje žádné placené služby.</p>

<p>Zdroj nestanovuje agenturní vztahy, partnerské vztahy sdílené činnosti, vztahy náboru ani jiné vztahy, které nejsou výslovně popsané v DOHODĚ O POUŽITÍ.</p>

<p>Nečinnost Zdroje v případě porušení UŽIVATELSKÉ DOHODY uživatelem nebo skupinou uživatelů neznamená, že by Zdroje aktivně podporovaly takové jednání.</p>

<p>Nečinnost Zdroje při porušení UŽIVATELSKÉ DOHODY uživatelem nebo skupinou uživatelů nezbavuje Zdroje práva přijmout vhodná opatření na ochranu svých zájmů později.</p>

<li><h3>PŘIJETÍ UŽIVATELSKÉ DOHODY</h3>

<p>POKUD NESOUHLASÍTE SE VŠEMI VÝŠE UVEDENÝMI PODMÍNKAMI, NEMÁTE PRÁVO NAVŠTÍVIT ZDROJ JAKO CELEK NEBO JEHO JAKOUKOLI ČÁST, KROMĚ STRÁNKY S UŽIVATELSKOU DOHODOU, ANI PŘIJÍMAT NEBO PŘISTUPOVAT K OBSAHU TOHOTO ZDROJE JAKÝMKOLI JINÝMI ZPŮSOBY, JAKO CELEK NEBO V ČÁSTECH!</p>

<p>POKUD NESOUHLASÍTE S UŽIVATELSKOU DOHODOU, MUSÍTE ZDROJ OKAMŽITĚ OPUSTIT.</p>

</ol>
</p>

</div><!--/infobox-body-->
