<div id=\"infobox-body\">

<p><h1>TIETOA TEKIJÄNOIKEUKSIEN HALTIJOILLE</h1></p>

<p>Jos olet tekijänoikeuden haltija mihin tahansa materiaalin linkkiin (tai linkkeihin), jotka ovat saatavilla tällä sivustolla, etkä halua jakaa tätä tietoa käyttäjien kanssa ilman suostumustasi, autamme mielellämme poistamaan asianmukaiset linkit.</p>

<p>Tämä vaatii, että olet lähettänyt meille kirjeen (sähköisessä muodossa)
jossa ilmoitat meille seuraavat tiedot:</p>

<p>1. Dokumentaarinen todiste oikeuksistasi tekijänoikeudella suojattuun aineistoon:</p>
<p> - skannattu asiakirja, jossa on sinetti, tai</p>
<p> - sähköposti virallisen sähköpostidomainin omistajalta, tai</p>
<p> - muita yhteystietoja, jotka yksilöivät sinut materiaalin omistajana.</p>

<p>2. Teksti, jonka haluat sijoittaa, sisältää poistettavan tiedon.

<p>Siinä voit määrittää, mistä ja millä ehdoilla voit saada tietoa, johon on viitattu ja joka on poistettu, sekä yhteystietosi, jotta käyttäjät voivat saada sinulta kaikki tarvittavat tiedot tästä aineistosta.</p>

<p>3. Suorat linkit sivuille, jotka sisältävät viittauksia tietoihin, jotka on poistettava.</p>

<p>Linkkien tulisi olla muodossa <strong>https://url.to/link</strong> tai jotain vastaavaa.</p>

<p>Sen jälkeen 48 tunnin kuluessa poistamme sinulle kiinnostavat linkit sivustolta.</p>

<p class="bold">Sähköpostimme: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>VAROITUS!</p>

<p>a) Pidätämme oikeuden julkaista sivustolla kaiken meille sähköpostitse lähetetyn tiedon osoitteesta <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Meillä ei ole valvontaa käyttäjien toimien suhteen, jotka saattavat uudelleenjulkaista linkkejä tietoihin, jotka ovat tekijänoikeuksienne kohteena. Kaikki tiedot foorumilla sijoittuvat automaattisesti, ilman minkäänlaista valvontaa, yleisesti hyväksytyn kansainvälisen käytännön mukaisesti, joka koskee tietojen levittämistä Internetissä. Kuitenkin joka tapauksessa otamme huomioon kaikki kysymyksenne, jotka koskevat viittauksia tietoihin, jotka loukkaavat oikeuksianne.</p>

<p>c) Tekijänoikeus- ja lähioikeuslain mukaan viittaus mihinkään tietoihin (tiedotusviesti) itsessään ei kuulu tekijänoikeuslain piiriin (vaikka se saattaa rikkoa "sivuston käyttöehtoja"). Näin ollen ei ole tarpeen lähettää kirjeitä, jotka sisältävät uhkauksia tai vaatimuksia ilman todellista perustetta.</p>

</div><!--/infobox-body-->
