<div id="infobox-body">

<p><h1>TIETOA TEKIJÄNOIKEUDEN HALTIJOILLE</h1></p>

<p>Jos olet tekijänoikeuden haltija mille tahansa tällä sivustolla oleville materiaaleille ja et halua, että tätä tietoa levitetään käyttäjien toimesta ilman suostumustasi, autamme mielellämme poistamalla kyseiset linkit.</p>

<p>Voit tehdä tämän lähettämällä meille sähköpostitse kirjeen, joka sisältää seuraavat tiedot:</p>

<p>1. Todisteet tekijänoikeuksia koskevista oikeuksistasi:</p>
<p> — skannattu asiakirja, jossa on virallinen leima, tai</p>
<p> — sähköposti, joka on lähetetty oikeudenhaltijayrityksen virallisesta verkkotunnuksesta, tai</p>
<p> — muut yhteystiedot, jotka yksilöivät sinut oikeudenhaltijana.</p>

<p>2. Korvaava teksti, jonka haluat julkaistavan poistettavan sisällön tilalle.</p>

<p>Tässä tekstissä voit määrittää, mistä ja millä ehdoilla käyttäjät voivat saada linkitettyä tietoa, joka on poistettu, sekä yhteystietosi, jotta käyttäjät voivat ottaa sinuun yhteyttä tähän materiaaliin liittyen.</p>

<p>3. Suorat linkit sivuille, jotka sisältävät viittauksia poistettaviin tietoihin.</p>

<p>Linkkien tulee olla muodossa <strong>https://url.to/link</strong> tai vastaavaa.</p>

<p>Saatuamme pyynnön poistamme asianomaiset linkit sivustolta 48 tunnin kuluessa.</p>

<p class="bold">Sähköpostimme: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>VAROITUS!</p>

<p>a) Pidätämme oikeuden julkaista sivustolla kaiken meille osoitteeseen <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> lähetetyn tiedon</p>

<p>b) Emme valvo käyttäjien toimintaa, jotka saattavat uudelleenjulkaista linkkejä tietoihin, joihin tekijänoikeutesi kohdistuvat. Kaikki foorumilla julkaistava tieto tapahtuu automaattisesti ilman ennakkotarkistusta tai moderointia, yleisesti hyväksyttyjen kansainvälisten käytäntöjen mukaisesti internetin tietojen isännöinnissä. Otamme kuitenkin huomioon kaikki pyynnöt, jotka koskevat linkkejä tietoihin, jotka loukkaavat oikeuksiasi.</p>

<p>c) Sovellettavan tekijänoikeus- ja siihen liittyvän oikeuden mukaan hyperlinkki tietoihin (tiedollinen viittaus) ei itsessään ole tekijänoikeuden suojaama (vaikka se saattaakin rikkoa sivuston Käyttöehtoja). Pyydämme sinua välttämään kirjeiden lähettämistä, jotka sisältävät uhkauksia tai vaatimuksia, sillä tällaisille väitteille ei ole laillista perustaa.</p>

</div>
