<div>
	<h3>Sivupalkki 2</h3>
	Jos haluat lisätä sisältöä tähän sivupalkkiin, muokkaa seuraavia tiedostoja:
	<br /><br />
	<ul class="med">
		<li>kirjasto/kieli/*/html/sivupalkki2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Tämän sivupalkin poistamiseksi käytöstä aseta muuttujan page.show_sidebar2 arvoksi false tiedostossa config/layouts.php.
</div>
