<div id="infobox-body">

<p>

<p><h1>KÄYTTÖSOPIMUS</h1></p>

<p><h3>TIETOA SIVUSTOSTA</h3></p>

<p>Tämä internet-resurssi/verkkosivusto (jäljempänä "Resurssi") on sivusto, joka mahdollistaa käyttäjien jakavan tietoa keskenään BitTorrentin sekä muiden muotojen kautta ja tarjoaa keinon lähetyksen tiedon eheysvarmistukseen (hash-tiedostojen avulla).</p>

<ol>

<li type="1"><h3>TIETOA TÄSTÄ KÄYTTÖSOPIMUKSESTA</h3>

<p>Tämä Käyttösopimus (jäljempänä "Sopimus") tulee voimaan, kun "Hyväksyn" -painiketta klikataan sivun alareunassa, ja pysyy voimassa koko Käyttäjän käytön ajan Resurssissa. Hallinto voi muuttaa Sopimusta ilman ennakkoilmoitusta. Sopimuksen uusi versio tulee voimaan 3 (kolmen) päivän kuluttua sen julkaisemisesta, ellei uudessa versiossa toisin mainita.</p>

<li><h3>VASTUUN RAJOITUKSET</h3>

<p>Käyttäjä hyväksyy nimenomaisesti käyttävänsä Resurssia omalla vastuullaan.</p>

<p>Käyttäjä ymmärtää ja hyväksyy, että Resurssi käsittelee kolmansien osapuolten luomia materiaaleja ja tietoja, joita nämä ovat ylläpitäneet Internetissä omilla tietokoneillaan ja/tai palvelimillaan. Näiden materiaalien sisältöä ja turvallisuutta Resurssin hallinto ei voi valvoa; siksi hallinnolla ei ole vastuuta:</p>
<ul>
<p>- Käyttäjän Resurssin kautta saaman materiaalin sisällöstä, mukaan lukien mahdollinen ristiriita voimassa olevan lainsäädännön kanssa tai loukkaava luonne;</p>
<p>- saatujen tietojen käytön, soveltamisen tai käyttämättä jättämisen seurauksista;</p>
<p>- mahdollisesta ristiriidasta saatujen tulosten ja Käyttäjän odotusten välillä;</p>
<p>- mistä tahansa Resurssin käytöstä johtuvasta vahingosta Käyttäjän laitteistolle tai ohjelmistolle;</p>
<p>- mistä tahansa syystä johtuvasta kyvyttömyydestä käyttää Resurssia;</p>
<p>- laittoman tai lisensoimattoman ohjelmiston, ääni-/videoaineiston tai muiden kolmansien osapuolten oikeuksia loukkaavien materiaalien tai tietojen levittämisestä mahdollisesti aiheutuvista seurauksista.</p>
</ul>

<p>Resurssi ei missään olosuhteissa ole vastuussa Käyttäjälle tai kolmannelle osapuolelle Resurssiin, sen käyttöön tai käyttämisen estymiseen liittyvistä vahingoista, tappioista tai kuluista, mukaan lukien menetetyt voitot.</p>

<p>Resurssin hallinnolla ei ole velvollisuutta taata Käyttäjiltä saatujen tietojen luottamuksellisuutta, vaikka se ryhtyy kaikkiin kohtuullisiin toimenpiteisiin sen varmistamiseksi, ellei erillistä sopimusta ole tai sovellettava lainsäädäntö niin vaadi.</p>

<p>Resurssin tehtäviin ei kuulu lähetetyn tiedon laillisuuden valvonta (mukaan lukien, mutta ei rajoittuen, käyttäjien väliseen BitTorrent-lähetykseen, sisäisiin viesteihin, teksteihin tai tiedostoihin), eikä immateriaalioikeuksien tai tiedonsiirron laillisuuden arviointi.</p>

<li><h3>KÄYTTÄJÄN KÄYTÖN RAJAT RESURSSISSA</h3>

<p>Resurssia käyttäessään Käyttäjä ei saa, ja sitoutuu olemaan:</p>
<ul>
<p>- ladata hash-tiedostoja (torrenteja), jotka sisältävät viruksia tai muuta haitallista ohjelmistoa, tiedostoja tai ohjelmia, joiden tarkoitus on häiritä, tuhota tai rajoittaa minkä tahansa tietokoneen tai televiestintälaitteiston toimintaa, luvattoman pääsyn ohjelmia, kaupallisten ohjelmistojen sarjanumeroita tai niiden luontityökaluja, tunnuksia, salasanoja tai muita luvattoman pääsyn keinoja internetresursseille, sekä julkaista linkkejä edellä mainittuihin;</p>
<p>- ladata hash-tiedostoja (torrenteja), jotka sisältävät viestejä, tietoja tai ohjelmia, joiden käyttö loukkaa kolmansien osapuolten patentti-, tavaramerkki-, liikesalaisuus-, tekijänoikeus- tai muita omistusoikeuksia ja/tai niihin liittyviä oikeuksia;</p>
<p>- lähettää luvattomia mainosviestejä (roskapostia, spämmiä) sivustolla mainittuihin sähköpostiosoitteisiin;</p>
<p>- kopioida ja käyttää kaupallisiin tarkoituksiin Resurssin kautta saatuja tietoja, jotka loukkaavat muiden oikeuksia tai voivat aiheuttaa heille aineellista tai moraalista haittaa;</p>
<p>- julkaista linkkejä verkkoresursseihin, joiden sisältö on ristiriidassa voimassa olevan lainsäädännön kanssa;</p>
<p>- esiintyä ilman asianmukaisia valtuuksia henkilönä tai organisaation ja/tai yhteisön edustajana, mukaan lukien Resurssin hallinnon työntekijät tai ylläpitäjä.</p>
</ul>

<li><h3>VASTUUVAPAUSLAUSEKE</h3>

<p>Pääsy Resurssiin tarjotaan "sellaisenaan" ilman minkäänlaisia suoranaisia tai epäsuoria takuita.</p>

<p>Erityisesti Resurssin hallinto ei takaa sivuston tai sen osioiden toimivuutta, eikä käyttäjien julkaisemien linkkien toimivuutta tai luotettavuutta.</p>

<p>Resurssi ei ole vastuussa suorista tai epäsuorista menetyksistä, jotka johtuvat palvelun käytöstä tai käytön estymisestä, tai luvattomasta pääsystä viestintään.</p>

<li><h3>RESURSSIN HALLINNON OIKEUDET</h3>

<p>Resurssin hallinnolla on oikeus estää pääsy Resurssiin mille tahansa Käyttäjälle tai käyttäjäryhmälle ilman selitystä tai ennakkoilmoitusta.</p>

<p>Resurssin hallinto voi muuttaa tai poistaa käyttäjien lähettämiä tietoja, hash-tiedostoja (torrenteja), grafiikkaa, ääntä ja muuta dataa ilman ennakkoilmoitusta tai selitystä.</p>

<li><h3>OSAPUOLTEN VASTUUT</h3>

<p>Käyttäjä hyväksyy, että kaikki tästä Sopimuksesta johtuvat riidat ratkaistaan sovellettavan lain mukaisesti.</p>

<p>Käyttäjä hyväksyy, ettei kuluttajansuojalainsäädäntöä sovelleta tämän resurssin käyttöön, koska siitä ei tarjota maksullisia palveluita.</p>

<p>Resurssi ei muodosta agenttisuutta, kumppanuutta, yhteisyritystä, työsuhdetta tai muita tässä Sopimuksessa erikseen mainitsemattomia suhteita.</p>

<p>Resurssin toimettomuus vastauksena Käyttäjän tai käyttäjäryhmän sopimusrikkomukseen ei tarkoita hyväksyntää tai avunantoa kyseisiin toimiin.</p>

<p>Resurssin toimettomuus sopimusrikkomukseen ei poista sen oikeutta ryhtyä myöhemmin asianmukaisiin toimiin suojellakseen etujaan.</p>

<li><h3>KÄYTTÖSOPIMUKSEN HYVÄKSYMINEN</h3>

<p>JOS ET HYVÄKSY KAIKKIA YLLÄ OLEVIA EHTOJA, ET SAA KÄYTTÄÄ RESURSSIA KOKONAAN TAI OSITTAIN, POIKKEUKSENA VAIN TÄMÄ KÄYTTÖSOPIMUSSIVU; ET VOINA SAADA TAI KÄYTTÄÄ TÄMÄN RESURSSIN SISÄLTÖÄ MUULLA TAVALLA OSITTAIN TAI KOKONAAN.</p>

<p>JOS ET HYVÄKSY TÄTÄ KÄYTTÖSOPIMUSTA, SINUN TÄYTYY LÄHTEÄ RESURSSISTA HETI.</p>

</ol>
</p>

</div>
