<div id=\"infobox-body\">

<p>

<p><h1>KÄYTTÖSOPIMUS</h1></p>

<p><h3>TIETOA SIVUSTOSTA</h3></p>

<p>Internet-resurssi (jäljempänä "Resurssi") on verkkosivusto, joka mahdollistaa käyttäjien jakavan tietoa keskenään bittorrentin kautta sekä vapaamuotoisesti, ja tarjoaa keinot valvoa välitetyn tiedon eheyttä (hash-tiedostojen avulla).</p>

<ol>

<li type="1"><h3>KÄYTTÖSOPIMUKSESTA</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. KÄYTTÖSOPIMUSTA voidaan muuttaa hallinnon toimesta ilman erillistä ilmoitusta. Uusi KÄYTTÖSOPIMUKSEN versio tulee voimaan 3 (kolmen) päivän kuluttua sen julkaisemisesta, ellei uudessa versiossa toisin määrätä.</p>

<li><h3>VASTUUN RAJOITUKSET</h3>

<p>Käyttäjä hyväksyy nimenomaisesti käyttävänsä Resurssia omalla vastuullaan.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Content and security of these materials can not be controlled by Resource administration, so the latter is not liable:</p>
<ul>
<p>- käyttäjän Resurssista saamien materiaalien sisällöstä ja niiden mahdollisesta ristiriidasta sovellettavien lakien tai loukkaavuuden kanssa;</p>
<p>- tietojen soveltamisen, käytön tai käyttämättä jättämisen seurauksista;</p>
<p>- mahdollisesta ristiriidasta käyttäjän odotusten ja Resurssin avulla saatujen tulosten välillä;</p>
<p>- käyttäjälle Resurssin käytöstä mahdollisesti aiheutuneista laitteisto- tai ohjelmistovahingoista;</p>
<p>- kyvyttömyydestä käyttää Resurssia mistä tahansa syystä;</p>
<p>- laittoman tai lisensoimattoman ohjelmiston, ääni-/video-tuotteiden ja muiden materiaalien tai tietojen leviämisen seurauksista, jotka loukkaavat kolmansien osapuolten oikeuksia.</p>
</ul>

<p>Resurssi ei missään tilanteessa ole vastuussa käyttäjälle tai kolmannelle osapuolelle Resurssin käytöstä tai käytön estymisestä aiheutuneista vahingoista, menetyksistä tai kuluista, mukaan lukien voitonmenetykset.</p>

<p>Resurssin hallinnolla ei ole velvollisuutta taata käyttäjien antamien tietojen luottamuksellisuutta, vaikka se pyrkii ottamaan kaikki mahdolliset toimenpiteet tätä varten, ellei toisin sovita tai lain vaatimuksissa määrätä.</p>

<p>Resurssin velvollisuuksiin EI KUULU laillisesti tai laittomasti välitetyn tiedon valvonta (mukaan lukien tiedot, jotka siirtyvät käyttäjien välillä bittorrentin kautta, sisäisten linkkien tietojen siirto, tekstit tai tiedostot), omistusoikeuksien tai tiedon lähetyksen ja vastaanoton laillisuuden määrittäminen.</p>

<li><h3>KÄYTTÄJÄN RESSURSSIEN KÄYTÖN RAJOITUKSET</h3>

<p>Käyttäessäsi tätä Resurssia käyttäjällä ei ole oikeutta ja hän sitoutuu olemaan tekemättä seuraavaa:</p>
<ul>
<p>- sijoittaa hash-tiedostoja (torrenteja) tai tietoja, jotka sisältävät viruksia tai muita haitallisia ohjelmia, tiedostoja tai ohjelmia, jotka on tarkoitettu keskeyttämään, tuhoamaan tai rajoittamaan minkä tahansa tietokoneen tai tietoliikennelaitteen toimintaa, ohjelmia luvattomaan pääsyyn, kaupallisten ohjelmistojen sarjanumeroita ja niitä luovia ohjelmia, käyttäjätunnuksia, salasanoja tai muita välineitä luvattomaan pääsyyn sekä julkaista näihin tietoihin johtavia linkkejä;</p>
<p>- sijoittaa hash-tiedostoja (torrenteja) tai viestejä, tietoja tai ohjelmia, joiden käyttö rikkoo mitä tahansa patentti-, tavaramerkki-, liikesalaisuus-, tekijänoikeus- tai muita kolmansien osapuolten omistusoikeuksia tai niihin liittyviä oikeuksia;</p>
<p>- lähettää sivustolla lueteltuihin sähköpostiosoitteisiin luvattomia mainosviestejä (roskapostia, spammia);</p>
<p>- kopioida ja käyttää kaupallisiin tarkoituksiin mitään tämän resurssin kautta saatua tietoa, mikä loukkaa muiden oikeuksia tai voisi aiheuttaa heille suoraa taloudellista tai henkistä vahinkoa;</p>
<p>- julkaista linkkejä verkkosivustoille, joiden sisältö on ristiriidassa voimassa olevan lainsäädännön kanssa;</p>
<p>- esittää olevansa joku muu henkilö, organisaation tai yhteisön edustaja ilman asianmukaisia oikeuksia, mukaan lukien hallinnon työntekijät tai resurssin omistaja.</p>
</ul>

<li><h3>TOIMITUSVARMUUS</h3>

<p>Pääsy Resurssille tarjotaan "sellaisenaan" ilman minkäänlaisia takuita, suorasti tai epäsuorasti.</p>

<p>Erityisesti Resurssin hallinto ei takaa sivuston tai sen osioiden toimivuutta eikä käyttäjien asettamien linkkien toimivuutta tai luotettavuutta.</p>

<p>Resurssi ei ole vastuussa mistään suorista tai epäsuorista tappioista, jotka aiheutuvat palvelun käytöstä tai käytön estymisestä, mukaan lukien luvaton pääsy viestintään.</p>

<li><h3>RESURSSIN HALLINNON OIKEUDET</h3>

<p>Resurssin hallinnolla on oikeus evätä pääsy resurssille keneltä tahansa käyttäjältä tai käyttäjäryhmältä ilman selitystä tai ilmoitusta.</p>

<p>Resurssin hallinto voi muuttaa tai poistaa mitä tahansa käyttäjän toimittamaa tietoa, hash-tiedostoja (torrenteja), grafiikkaa, ääntä tai muuta dataa resurssilla ilman ennakkoilmoitusta tai perusteluja.</p>

<li><h3>OSAPUOLTEN VASTUUT</h3>

<p>Käyttäjä hyväksyy, että kaikki mahdolliset riidat KÄYTTÖSOPIMUKSESTA ratkaistaan lain mukaisesti.</p>

<p>Käyttäjä hyväksyy, että kuluttajansuojalakeja ei sovelleta resurssin käyttöön, koska siinä ei ole maksullisia palveluja.</p>

<p>Resurssi ei muodosta käyttäjäagenttisuhteita, kumppanuussuhteita yhteiseen toimintaan, rekrytointisuhteita tai muita sopimussuhteita, joita ei nimenomaisesti mainita KÄYTTÖSOPIMUKSESSA.</p>

<p>Resurssin toimettomuus käyttäjän tai käyttäjäryhmän KÄYTTÖSOPIMUKSEN rikkomistilanteissa ei tarkoita, että Resurssi tukee kyseisiä toimia.</p>

<p>Resurssin toimettomuus käyttäjän tai käyttäjäryhmän KÄYTTÖSOPIMUKSEN rikkomistilanteissa ei poista Resurssin oikeutta ryhtyä myöhemmin toimenpiteisiin suojellakseen etujaan.</p>

<li><h3>KÄYTTÖSOPIMUKSEN HYVÄKSYMINEN</h3>

<p>JOS ET HYVÄKSY KAIKKIA YLLÄ OLEVIA EHTOJA, ET SAA KÄYTTÄÄ RESURSSIA KOKONAISUUDESSAAN TAI OSITTEN, POIKKEUKSENA ON AINOASTAAN KÄYTTÖSOPIMUS SIVU. ET VOI VASTAANOTTAA TAI KÄYTTÄÄ TÄMÄN RESURSSIN SISÄLTÖÄ MUULLA TAVALLA TAI MISSÄÄN MUUSSA OSASSA!</p>

<p>JOS ET HYVÄKSY KÄYTTÖSOPIMUSTA, SINUN TÄYTYY LÄHTEÄ RESURSSISTA VÄLITTÖMÄSTI.</p>

</ol>
</p>

</div><!--/infobox-body-->
