<div id="infobox-body">

<p><h1>INFORMACIJE ZA NOSIOCE AUTORSKIH PRAVA</h1></p>

<p>Ako ste nosilac autorskih prava bilo kojeg materijala povezanog na ovoj stranici i ne želite da se ove informacije distribuiraju od strane korisnika bez vašeg pristanka, rado ćemo vam pomoći uklanjanjem relevantnih veza.</p>

<p>Da biste to učinili, pošaljite nam elektronsko pismo koje sadrži sljedeće informacije:</p>

<p>1. Dokumentarni dokaz vaših prava na zaštićeni materijal:</p>
<p> — skenirani dokument sa službenim pečatom, ili</p>
<p> — email poslan sa službene domene kompanije koja drži prava, ili</p>
<p> — druge kontakt informacije koje vas jedinstveno identifikuju kao nosioca prava.</p>

<p>2. Zamjenski tekst koji želite da bude objavljen umjesto uklonjenog sadržaja.</p>

<p>U ovom tekstu možete navesti gdje i pod kojim uslovima korisnici mogu dobiti informacije na koje su uklonjene veze, kao i vaše kontakt podatke da bi korisnici mogli stupiti u kontakt sa vama u vezi sa ovim materijalom.</p>

<p>3. Direktne veze ka stranicama koje sadrže reference na podatke koje je potrebno ukloniti.</p>

<p>Veze trebaju biti u formatu <strong>https://url.to/link</strong> ili sličnom.</p>

<p>U roku od 48 sati od prijema vašeg zahtjeva uklonićemo relevantne veze sa sajta.</p>

<p class="bold">Naš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UPOZORENJE!</p>

<p>a) Zadržavamo pravo da objavimo na sajtu bilo koje informacije koje nam budu poslane na <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nemamo kontrolu nad radnjama korisnika koji mogu ponovo objavljivati veze ka informacijama koje su predmet vaših autorskih prava. Sve informacije na forumu se objavljuju automatski, bez prethodnog pregleda ili moderacije, u skladu sa opšteprihvaćenim međunarodnim praksama za hosting informacija na internetu. Ipak, razmotrićemo sve zahtjeve u vezi sa vezama ka informacijama koje narušavaju vaša prava.</p>

<p>c) Prema važećem zakonu o autorskim pravima i srodnim pravima, hiperveza ka podacima (informaciona referenca) sama po sebi nije zaštićena autorskim pravom (iako može kršiti Ugovor o korištenju sajta). Stoga vas molimo da se suzdržite od slanja pisama koja sadrže prijetnje ili zahtjeve, jer za takve tvrdnje ne postoje pravni osnovi.</p>

</div>
