<div id="infobox-body">

<p><h1>INFORMACIJE ZA NOSIOCE AUTORSKIH PRAVA</h1></p>

<p>Ako ste nosilac autorskih prava bilo kojeg materijala (ili veza) koji je dostupan na ovoj stranici, i ne želite da se ove informacije šire od strane korisnika bez vašeg pristanka, rado ćemo vam pomoći uklanjanjem odgovarajućih veza.</p>

<p>To zahtijeva da nam pošaljete pismo (u elektronskom obliku)
koje nam je ukazalo sljedeće informacije:</p>

<p>1. Dokumentarni dokaz vaših prava na materijal zaštićen autorskim pravom:</p>
<p> - skenirani dokument sa pečatom, ili</p>
<p> - e-mail sa zvanične e-mail domene vlasnika kompanije, ili</p>
<p> - druge kontakt informacije koje vas jedinstveno identifikuju kao vlasnika materijala.</p>

<p>2. Tekst koji želite postaviti, praćen informacijama koje se mogu ukloniti.</p>

<p>U njemu možete navesti gdje i pod kojim uslovima možete dobiti informacije, reference na koje su uklonjene, kao i vaše kontakt informacije, kako bi korisnici mogli dobiti od vas sve potrebne informacije o ovom materijalu.</p>

<p>3. Direktne veze na stranice koje sadrže reference na podatke koji se moraju ukloniti.</p>

<p>Veza bi trebala biti u obliku <strong>https://url.to/link</strong> ili nečeg sličnog.</p>

<p>Nakon toga, u roku od 48 sati, uklonićemo vezu koja vas zanima sa sajta.</p>

<p class="bold">Naš e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UPOZORENJE!</p>

<p>a) Zadržavamo pravo da objavimo na sajtu bilo koje informacije koje nam budu poslane putem e-maila <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nemamo kontrolu nad radnjama korisnika koji mogu ponovo objavljivati linkove na informacije koje su predmet vaših autorskih prava. Bilo koja informacija se na forumu objavljuje automatski, bez bilo kakve kontrole sa bilo koje strane, što je u skladu sa opšteprihvaćenom međunarodnom praksom postavljanja informacija na Internet. Međutim, u svakom slučaju, razmatramo sve vaše upite u vezi sa upućivanjem na informacije koje krše vaša prava.</p>

<p>c) Prema Zakonu o autorskim pravima i srodnim pravima, upućivanje na bilo koji podatak (informativnu poruku) samo po sebi nije predmet zakona o autorskim pravima (iako može predstavljati kršenje "Ugovora o korištenju web stranice"). Stoga, nije potrebno slati pisma koja sadrže prijetnje ili zahtjeve, jer nemaju pravi razlog.</p>

</div><!--/infobox-body-->
