<div>
	<h3>Bočna traka 2</h3>
	Da biste dodali sadržaj u ovu bočnu traku, uredite sljedeće datoteke:
	<br /><br />
	<ul class="med">
		<li>biblioteka/jezik/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Da biste onemogućili ovu bočnu traku, postavite varijablu page.show_sidebar2 u datoteci config/layouts.php na false.
</div>
