<div id="infobox-body">

<p>

<p><h1>KORISNIČKI UGOVOR</h1></p>

<p><h3>O SAJTU</h3></p>

<p>Ovaj internet resurs/website (u daljnjem tekstu "Resurs") je web stranica koja korisnicima omogućava razmjenu informacija putem BitTorrenta, kao i na druge načine, te pruža mogućnost provjere integriteta prenesenih informacija (putem hash datoteka).</p>

<ol>

<li type="1"><h3>O OVOM KORISNIČKOM UGOVORU</h3>

<p>Ovaj Korisnički Ugovor (u daljnjem tekstu "Ugovor") stupa na snagu klikom na "Slažem se" na dnu i ostaje na snazi tokom cijelog korištenja Resursa od strane Korisnika. Ugovor može biti izmijenjen od strane Uprave bez prethodne najave. Nova verzija Ugovora stupa na snagu 3 (tri) dana nakon objave, osim ako nije drugačije navedeno u novoj verziji Ugovora.</p>

<li><h3>OGRANIČENJA ODGOVORNOSTI</h3>

<p>Korisnik izričito pristaje da koristi Resurs na vlastitu odgovornost.</p>

<p>Korisnik priznaje i slaže se da se Resurs bavi materijalima i podacima koje kreiraju treće strane i koji su od strane njih postavljeni na internet koristeći vlastite računare i/ili servere. Sadržaj i sigurnost ovih materijala ne može kontrolisati Administracija Resursa; stoga Administracija ne snosi odgovornost za:</p>
<ul>
<p>- sadržaj materijala dobijenih putem Resursa, uključujući bilo kakvu moguću neusaglašenost sa važećim zakonima ili njihovu uvredljivu prirodu;</p>
<p>- posljedice primjene, korištenja ili nekorištenja dobijenih informacija;</p>
<p>- bilo kakvu nepodudarnost između rezultata dobijenih korištenjem Resursa i očekivanja Korisnika;</p>
<p>- bilo kakvu štetu na hardveru ili softveru Korisnika uslijed korištenja Resursa;</p>
<p>- nemogućnost korištenja Resursa iz bilo kojeg razloga;</p>
<p>- posljedice koje mogu nastati uslijed distribucije ilegalnog ili nelicenciranog softvera, audio/video sadržaja ili drugih materijala ili podataka koji krše prava trećih strana.</p>
</ul>

<p>Pod nikakvim okolnostima Resurs ne može biti odgovoran Korisniku ili bilo kojoj trećoj strani za bilo kakvu štetu, gubitke ili troškove povezane sa Resursom, njegovom upotrebom ili nemogućnošću upotrebe, uključujući izgubljenu dobit.</p>

<p>Administracija Resursa nije obavezna osigurati povjerljivost informacija koje pružaju njeni Korisnici, iako preduzima razumne mjere u tu svrhu, osim ako ne postoji poseban sporazum ili važeći zakoni ne propisuju drugačije.</p>

<p>Dužnosti Resursa ne uključuju nadzor zakonitosti prenesenih informacija (uključujući, ali ne ograničavajući se na informacije razmijenjene putem BitTorrenta, unutrašnje poruke bilo kojeg oblika, tekstove ili datoteke), niti utvrđivanje prava intelektualne svojine ili zakonitosti prenosa ili prijema takvih informacija.</p>

<li><h3>OGRANIČENJA PRI KORIŠTENJU RESURSA OD STRANE KORISNIKA</h3>

<p>Kada koristi ovaj Resurs, Korisnik ne smije i slaže se da neće:</p>
<ul>
<p>- postavljati hash datoteke (torrente) koje sadrže podatke zaražene virusima ili drugim malicioznim softverom, datoteke ili programe koji ometaju, uništavaju ili ograničavaju funkcionalnost bilo kojeg računara ili telekomunikacijske opreme, programe za neovlašteni pristup, serijske brojeve komercijalnog softvera ili alate za njihovu generaciju, pristupne podatke, lozinke ili druge načine neovlaštenog pristupa internet resursima, kao i postavljati linkove na ovakve sadržaje;</p>
<p>- postavljati hash datoteke (torrente) koje sadrže poruke, podatke ili programe čija upotreba krši bilo koji patent, zaštitni znak, poslovnu tajnu, autorska ili druga prava trećih strana;</p>
<p>- slati neovlaštene reklamne poruke (junk mail, spam) na email adrese navedene na sajtu;</p>
<p>- kopirati i koristiti u komercijalne svrhe bilo kakve informacije dobijene putem Resursa koje krše prava drugih ili im mogu nanijeti direktnu materijalnu ili moralnu štetu;</p>
<p>- objavljivati linkove na web resurse čiji sadržaj krši važeće zakonodavstvo;</p>
<p>- predstavljati se kao bilo koja osoba ili predstavnik organizacije i/ili zajednice bez ovlaštenja, uključujući zaposlene u Administraciji ili vlasnika Resursa.</p>
</ul>

<li><h3>ODRICANJE OD GARANCIJA</h3>

<p>Pristup Resursu se pruža na osnovu "kako jeste" bez ikakvih garancija, izričitih ili implicitnih.</p>

<p>Posebno, Administracija Resursa ne garantuje funkcionalnost sajta ili njegovih pojedinačnih dijelova, niti ispravnost i pouzdanost linkova koje postave Korisnici.</p>

<p>Resurs nije odgovoran za bilo kakve direktne ili indirektne gubitke nastale usljed korištenja ili nemogućnosti korištenja usluge; ili neovlaštenog pristupa vašim komunikacijama.</p>

<li><h3>PRAVA ADMINISTRACIJE RESURSA</h3>

<p>Administracija Resursa ima pravo da uskrati pristup Resursu bilo kojem Korisniku ili grupi Korisnika bez objašnjenja ili prethodne najave.</p>

<p>Administracija Resursa može bez prethodne najave ili objašnjenja izmijeniti ili obrisati bilo kakve informacije, hash datoteke (torrente), grafike, audio i druge podatke koje pošalju Korisnici.</p>

<li><h3>OBAVEZE STRANA</h3>

<p>Korisnik se slaže da će svi sporovi proizašli iz ovog Ugovora biti rješavani u skladu sa važećim zakonima.</p>

<p>Korisnik se slaže da se zakoni i propisi o zaštiti potrošača ne primjenjuju na korištenje ovog Resursa, jer ne pruža plaćene usluge.</p>

<p>Resurs ne uspostavlja zastupništvo, partnerstvo, zajednički ulazak u posao, radni odnos niti bilo koji drugi odnos osim onih jasno opisanih ovim Ugovorom.</p>

<p>Nečinjenje Resursa u slučaju kršenja ovog Ugovora od strane Korisnika ili grupe Korisnika ne predstavlja odobravanje ili pomoć u takvim radnjama.</p>

<p>Nečinjenje Resursa u slučaju kršenja ovog Ugovora od strane Korisnika ili grupe Korisnika ne lišava Resurs prava da naknadno preduzme odgovarajuće mjere za zaštitu svojih interesa.</p>

<li><h3>PRIHVATANJE KORISNIČKOG UGOVORA</h3>

<p>AKO SE NE SLAŽETE SA SVIM NAVEDENIM UVJETIMA I ODREDBAMA, NE SMIJETE PRISTUPITI RESURSU U CIJELOSTI ILI DIJELU, OSIM OVOG STRANICE KORISNIČKOG UGOVORA, NITI PRIMATI ILI PRISTUPATI SADRŽAJIMA OVOG RESURSA NA BILO KOJI DRUGI NAČIN, U CIJELOSTI ILI DIJELU.</p>

<p>AKO SE NE SLAŽETE SA OVIM KORISNIČKIM UGOVOROM, ODMAH NAPUSTITE RESURS.</p>

</ol>
</p>

</div>
