<div id="infobox-body">

<p><h1>INFORMACIJE ZA IMETNIKE AVTORSKIH PRAVIC</h1></p>

<p>Če ste imetnik avtorskih pravic za kakršno koli gradivo, povezano na tej strani, in ne želite, da uporabniki razširjajo te informacije brez vašega soglasja, vam bomo z veseljem pomagali z odstranitvijo ustreznih povezav.</p>

<p>Za to nam prosimo pošljite elektronsko sporočilo z naslednjimi informacijami:</p>

<p>1. Dokumentarni dokaz vaših pravic do gradiva, zaščitenega z avtorskimi pravicami:</p>
<p> — skeniran dokument z uradnim žigom, ali</p>
<p> — e-pošta poslana z uradne domene podjetja imetnika pravic, ali</p>
<p> — drugi kontaktni podatki, ki vas enolično identificirajo kot imetnika pravic.</p>

<p>2. Nadomestno besedilo, ki ga želite objaviti namesto odstranjene vsebine.</p>

<p>V tem besedilu lahko navedete, kje in pod kakšnimi pogoji lahko uporabniki pridobijo informacije, na katere so povezave odstranjene, ter vaše kontaktne podatke, da vas lahko uporabniki glede tega gradiva tudi kontaktirajo.</p>

<p>3. Neposredne povezave do strani, ki vsebujejo sklice na podatke, ki jih je treba odstraniti.</p>

<p>Povezave naj bodo v obliki <strong>https://url.to/link</strong> ali podobno.</p>

<p>V roku 48 ur po prejemu vaše zahteve bomo ustrezne povezave odstranili s strani.</p>

<p class="bold">Naš e-poštni naslov: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>OPOZORILO!</p>

<p>a) Pridržujemo si pravico objaviti na spletni strani vse informacije, poslane nam na <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nimamo nadzora nad dejanji uporabnikov, ki lahko ponovno objavljajo povezave do informacij, ki so predmet vaših avtorskih pravic. Vse informacije na forumu so objavljene samodejno, brez predhodnega pregleda ali moderacije, v skladu s splošno sprejetimi mednarodnimi praksami gostovanja informacij na internetu. Kljub temu bomo preučili vse zahteve v zvezi s povezavami na informacije, ki kršijo vaše pravice.</p>

<p>c) Po veljavni zakonodaji o avtorskih pravicah in sorodnih pravicah sama povezava (informacijska referenca) ni predmet avtorske zaščite (čeprav lahko krši uporabniški dogovor spletnega mesta). Zato vas prosimo, da se vzdržite pošiljanja pisem, ki vsebujejo grožnje ali zahteve, saj za takšne trditve ni pravnih podlag.</p>

</div>
