<div>
	<h3>Stranska vrstica 2</h3>
	Za dodajanje vsebine v to stransko vrstico, uredite naslednje datoteke:
	<br /><br />
	<ul class="med">
		<li>knjižnica/jezik/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Da onemogočite to stransko vrstico, nastavite spremenljivko page.show_sidebar2 v datoteki config/layouts.php na false.
</div>
