<div id=\"infobox-body\">

<p>

<p><h1>UPORABNIŠKI SPORAZUM</h1></p>

<p><h3>O SPLETNI STRANI</h3></p>

<p>Internetni vir / spletna stran (v nadaljevanju - Vir) je spletno mesto, ki uporabnikom omogoča izmenjavo informacij med seboj prek bit-torrenta, pa tudi v prosti obliki, ter zagotavlja sredstva za spremljanje celovitosti prenesenih informacij (prek hash-datotek).</p>

<ol>

<li type="1"><h3>O UPORABNIŠKEM SPORAZUMU</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. UPORABNIŠKI SPORAZUM lahko uprava spremeni brez predhodnega obvestila. Nova različica UPORABNIŠKEGA SPORAZUMA začne veljati po 3 (treh) dnevih od dneva objave, razen če v novi različici ni drugače določeno.</p>

<li><h3>OMEJITEV ODGOVORNOSTI</h3>

<p>Uporabnik izrecno soglaša, da uporablja Vir na lastno odgovornost.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Vsebine in varnost teh materialov ne more nadzorovati uprava vira, zato slednja ne odgovarja:</p>
<ul>
<p>- za vsebino materialov, pridobljenih s strani uporabnika z uporabo podatkov vira, in njihovo morebitno neskladnost z veljavnimi zakoni ali žaljivo vsebino;</p>
<p>- za posledice uporabe, neuporabe ali nepravilne uporabe prejetih informacij;</p>
<p>- za morebitno neskladje med rezultati, pridobljenimi z uporabo vira, in pričakovanji uporabnika;</p>
<p>- za morebitno škodo na strojni ali programski opremi uporabnika zaradi uporabe vira;</p>
<p>- za nezmožnost uporabe vira iz kateregakoli razloga;</p>
<p>- za posledice, ki lahko nastanejo zaradi širjenja nezakonite ali nepooblaščene programske opreme, avdio-/video izdelkov ter drugih materialov ali podatkov, ki vplivajo na pravice tretjih oseb.</p>
</ul>

<p>Vir pod nobenimi pogoji ni odgovoren uporabniku ali tretji osebi za škodo, izgube ali stroške, ki nastanejo v povezavi z uporabo ali nezmožnostjo uporabe vira, vključno z izgubo dobička.</p>

<p>Uprava vira ni dolžna zagotavljati zaupnosti informacij, ki jih posredujejo uporabniki, čeprav sprejema vse možne ukrepe za to, razen če ni dogovorjeno drugače ali če zakonodaja ne zahteva drugače.</p>

<p>Obveznosti vira ne vključujejo nadzora zakonito ali nezakonito posredovanih informacij (katerekoli, vključno z informacijami, ki se prenašajo med uporabniki prek bit-torrenta, notranjimi prenosi informacij v različnih povezavah, besedilih ali datotekah), opredelitve premoženjskih pravic ali zakonitosti prenosa ali sprejema teh informacij.</p>

<li><h3>OMEJITVE UPORABE VIRA S STRANI UPORABNIKA</h3>

<p>Ob uporabi tega vira uporabnik nima pravice in se s tem strinja, da:</p>
<ul>
<p>- naloži hash-datoteke (hudournike) z vsebinami, ki vsebujejo viruse ali druge zlonamerne računalniške programe, datoteke ali programe, namenjene motenju, uničevanju ali omejevanju funkcionalnosti kakršne koli računalniške ali telekomunikacijske opreme, programe za nepooblaščen dostop, serijske številke za komercialno programsko opremo in programe za njihovo generacijo, uporabniška imena, gesla in druga sredstva za nepooblaščen dostop do spletnih mest, ter objavljanje povezav do teh informacij;</p>
<p>- naloži hash-datoteke (hudournike) z vsemi sporočili, podatki ali programi, katerih uporaba krši patenti, blagovne znamke, poslovne skrivnosti, avtorske pravice ali druge lastninske pravice tretjih oseb;</p>
<p>- pošilja nezaželena e-poštna sporočila reklamnega tipa (spam) na e-poštne naslove, navedene na strani;</p>
<p>- kopira in uporablja za komercialne namene kakršnekoli informacije, pridobljene prek tega vira, ki kršijo pravice drugih ali bi lahko povzročile neposredno materialno ali moralno škodo;</p>
<p>- objavlja povezave do spletnih virov, katerih vsebina je v nasprotju z veljavno zakonodajo;</p>
<p>- se izdajati za katero koli osebo ali predstavnika organizacije in/ali skupnosti brez zadostnih pravic, vključno z zaposlenimi v upravi, kot lastnika vira.</p>
</ul>

<li><h3>GARANCIJA ZA DELOVANJE</h3>

<p>Dostop do vira se zagotavlja "kot je" brez kakršnih koli garancij, neposrednih ali posrednih.</p>

<p>Zlasti uprava vira ne zagotavlja funkcionalnosti spletnega mesta in njegovih posameznih delov, prav tako ne delovanja in zanesljivosti povezav, ki jih objavijo uporabniki.</p>

<p>Vir ni odgovoren za neposredne ali posredne izgube, ki so nastale zaradi uporabe ali nezmožnosti uporabe storitve, ali nepooblaščenega dostopa do vaših komunikacij.</p>

<li><h3>PRAVICE UPRAVE VIRA</h3>

<p>Uprava vira ima pravico zavrniti dostop do vira kateremukoli uporabniku ali skupini uporabnikov brez pojasnila in obvestila.</p>

<p>Uprava vira lahko spremeni ali izbriše kakršnekoli informacije, hash-datoteke (hudournike), grafike, avdio in druge podatke, ki jih je uporabnik prenesel na vir, brez predhodnega obvestila ali pojasnila.</p>

<li><h3>OBVEZNOSTI STRANK</h3>

<p>Uporabnik se strinja, da se vsi morebitni spori, povezani s SPORAZUMOM O UPORABI, rešujejo v skladu z veljavno zakonodajo.</p>

<p>Uporabnik se strinja, da se pravila in zakoni o varstvu potrošnikov ne uporabljajo pri uporabi vira, saj ta ne nudi plačljivih storitev.</p>

<p>Vir ne vzpostavlja uporabniških zastopniških odnosov, partnerskih odnosov pri skupnem delu, zaposlitvenih razmerij ali drugih odnosov, ki niso izrecno opisani v SPORAZUMU O UPORABI.</p>

<p>Neukrepanje vira ob kršitvi SPORAZUMA s strani uporabnika ali skupine uporabnikov ne pomeni, da vir podpira takšna dejanja.</p>

<p>Neukrepanje vira ob kršitvi SPORAZUMA s strani uporabnika ali skupine uporabnikov ne odvzema viru pravice, da kasneje ukrepa za zaščito svojih interesov.</p>

<li><h3>SPREJEM UPORABNIŠKEGA SPORAZUMA</h3>

<p>ČE SE NE STRINJATE Z VSEMI ZGORAJ NAVEDENIMI POGOJI, NE SMETE UPORABLJATI VIROV KOT CELOTE ALI KATEREGA KOLI DELA, RAZEN STRANI Z UPORABNIŠKIM SPORAZUMOM, NE SMETE PREJEMATI ALI DOSTOPATI DO VSEBINE TIH VIROV NA DRUG NAČIN KOT KOT CELOTI ALI KATEREGA KOLI DELA!</p>

<p>ČE SE NE STRINJATE Z UPORABNIŠKIM SPORAZUMOM, MORATE TAKOJ ZAPUSTITI VIR.</p>

</ol>
</p>

</div><!--/infobox-body-->
