<div id="infobox-body">

<p>

<p><h1>UPORABNIŠKI SPORAZUM</h1></p>

<p><h3>O SPLETNEM MESTU</h3></p>

<p>Ta internetni vir/spletna stran (v nadaljevanju "Vir") je spletna stran, ki uporabnikom omogoča izmenjavo informacij med seboj prek BitTorrent, pa tudi na druge načine, in zagotavlja način za preverjanje celovitosti prenesenih informacij (prek hash datotek).</p>

<ol>

<li type="1"><h3>O TEM UPORABNIŠKEM SPORAZUMU</h3>

<p>Ta uporabniški sporazum (v nadaljevanju "Sporazum") začne veljati z klikom na »Strinjam se« na dnu in velja za celotno obdobje uporabe vira s strani uporabnika. Sporazum lahko uprava spremeni brez predhodnega obvestila. Nova različica Sporazuma začne veljati 3 (tri) dni po objavi, razen če ni v novi različici določeno drugače.</p>

<li><h3>OMEJITVE ODGOVORNOSTI</h3>

<p>Uporabnik izrecno soglaša, da uporablja Vir na lastno odgovornost.</p>

<p>Uporabnik priznava in soglaša, da Vir obravnava materiale in podatke, ki jih ustvarijo tretje osebe in jih gostijo na internetu s svojimi računalniki in/ali strežniki. Vsebino in varnost teh materialov uprava vira ne more nadzorovati; zato uprava ni odgovorna za:</p>
<ul>
<p>- vsebino materialov, pridobljenih prek vira, vključno z morebitno neskladnostjo z veljavnimi zakoni ali žaljivo naravo le-teh;</p>
<p>- posledice uporabe, neuporabe ali nepravilne uporabe pridobljenih informacij;</p>
<p>- morebitne razlike med rezultati, pridobljenimi z uporabo vira, in pričakovanji uporabnika;</p>
<p>- škodo na strojni ali programski opremi uporabnika, ki izhaja iz uporabe vira;</p>
<p>- nezmožnost uporabe vira iz kateregakoli razloga;</p>
<p>- posledice, ki izhajajo iz distribucije nezakonite ali nelicencirane programske opreme, avdio/video vsebin ali drugih materialov oziroma podatkov, ki kršijo pravice tretjih oseb.</p>
</ul>

<p>Vir v nobenem primeru ni odgovoren uporabniku ali tretji osebi za kakršnokoli škodo, izgubo ali stroške, povezane z uporabo vira, njegovo nezmožnostjo uporabe, vključno z izgubljenim dobičkom.</p>

<p>Uprava vira ni dolžna zagotavljati zaupnosti informacij, ki jih posredujejo uporabniki, čeprav sprejema vse razumne ukrepe za to, razen če obstaja poseben dogovor ali veljavna zakonodaja ne določa drugače.</p>

<p>Obveznosti vira ne vključujejo nadzora zakonitosti prenesenih informacij (vključno, a ne omejeno na informacije, prenašane med uporabniki prek BitTorrent, notranjih sporočil katerekoli oblike, besedil ali datotek), opredelitve avtorskih pravic ali zakonitosti prenosa ali prejema takšnih informacij.</p>

<li><h3>OMEJITVE PRI UPORABI VIRA S STRANI UPORABNIKA</h3>

<p>Pri uporabi tega vira uporabnik ne sme in se strinja, da ne bo:</p>
<ul>
<p>- naložil hash datotek (torrentov), ki vsebujejo podatke z virusi ali drugo zlonamerno programsko opremo, datoteke oziroma programe, namenjene motenju, uničenju ali omejevanju funkcionalnosti katere koli računalniške ali telekomunikacijske opreme, programe za nepooblaščen dostop, serijske številke za komercialno programsko opremo ali orodja za njihovo generiranje, uporabniška imena, gesla ali druge načine za nepooblaščen dostop do internetnih virov ter ne objavlja povezav do zgoraj naštetega;</p>
<p>- naložil hash datotek (torrentov) s sporočili, podatki ali programi, katerih uporaba krši patente, blagovne znamke, poslovne skrivnosti, avtorske pravice ali druge pravice in/ali sorodne pravice tretjih oseb;</p>
<p>- pošiljal nepooblaščenih oglasnih sporočil (junk mail, spam) na e-poštne naslove, navedene na strani;</p>
<p>- kopiral in uporabljal za komercialne namene kakršnekoli informacije, pridobljene prek vira, ki kršijo pravice drugih ali bi jim lahko povzročile materialno ali moralno škodo;</p>
<p>- objavljal povezav do spletnih virov, katerih vsebina krši veljavno zakonodajo;</p>
<p>- se lažno predstavljal za katero koli osebo ali predstavnika organizacije in/ali skupnosti brez ustreznega pooblastila, vključno z zaposlenimi uprave ali lastnikom vira.</p>
</ul>

<li><h3>IZJAVA O ODKLONU JAMSTEV</h3>

<p>Dostop do vira je zagotovljen "kot je" brez kakršnih koli eksplicitnih ali implicitnih jamstev.</p>

<p>Uprava vira posebej ne jamči za funkcionalnost strani ali posameznih oddelkov, kot tudi za delovanje in zanesljivost povezav, ki jih objavijo uporabniki.</p>

<p>Vir ni odgovoren za neposredne ali posredne izgube, nastale zaradi uporabe ali nezmožnosti uporabe storitve ali nepooblaščenega dostopa do komunikacij.</p>

<li><h3>PRAVICE UPRAVE VIRA</h3>

<p>Uprava vira ima pravico zavrniti dostop do vira kateremukoli uporabniku ali skupini uporabnikov brez razlage ali predhodnega obvestila.</p>

<p>Uprava vira lahko spremeni ali izbriše vse informacije, hash datoteke (torrente), grafiko, zvok in druge podatke, ki jih uporabniki naložijo, brez predhodnega obvestila ali razlage.</p>

<li><h3>OBVEZNOSTI STRANK</h3>

<p>Uporabnik soglaša, da se vsi spori, ki izhajajo iz tega sporazuma, rešujejo v skladu z veljavno zakonodajo.</p>

<p>Uporabnik soglaša, da se zakoni in predpisi o varstvu potrošnikov ne uporabljajo pri uporabi tega vira, saj ta ne nudi plačanih storitev.</p>

<p>Vir ne vzpostavlja agencijskih, partnerskih, skupnih podjetniških, delovnih ali drugih odnosov, ki niso izrecno navedeni v tem sporazumu.</p>

<p>Uprava vira z neukrepanjem v primeru kršitve sporazuma s strani uporabnika ali skupine uporabnikov ne odobrava in ne pomaga v takšnih dejanjih.</p>

<p>Neukrepanje uprave vira v primeru kršitve sporazuma s strani uporabnika ali skupine uporabnikov ne odvzema pravice upravi, da kasneje sprejme ustrezne ukrepe za zaščito svojih interesov.</p>

<li><h3>SPREJEM UPORABNIŠKEGA SPORAZUMA</h3>

<p>ČE SE NE STRINJATE Z VSEMI ZGORAJ NAVEDENIMI POGOJI, NE SMETE PRISTOPITI K VIRU KOT CELOTO ALI KATEREGAKOLI DELA, RAZEN TE STRANI Z UPORABNIŠKIM SPORAZUMOM, PRAVTOM NE PREJEMATI ALI DOSTOPATI DO VSEBINE VIRA KAKORKOLI DRUGAČE, CELOTNO ALI DELNO.</p>

<p>ČE SE NE STRINJATE S TEM UPORABNIŠKIM SPORAZUMOM, MORATE TAKOJ ZAPUSTITI VIR.</p>

</ol>
</p>

</div>
