<div id=\"infobox-body\">

<p><h1>МАЪЛУМОТ БАРОИ ДОРАНДАГОНИ ҲУҚУҚИ МУАЛЛИФӢ</h1></p>

<p>Агар шумо ҳуқуқи муаллифии ҳар гуна маводи пайванд (ё пайвандҳо), ки дар ин сайт дастрас аст, доред ва намехоҳед, ки ин маълумот аз тарафи истифодабарандагон бе иҷозати шумо паҳн карда шавад, мо хурсанд хоҳем буд, ки ба шумо кӯмак кунем, то пайвандҳои мувофиқро хориҷ кунем.</p>

<p>Ин талаб мекунад, ки шумо ба мо нома фиристода бошед (дар шакли электронӣ)
ки ба мо маълумоти зеринро ифода мекунад:</p>

<p>1. Исботи ҳуҷҷатии ҳуқуқи шумо ба маводи бо ҳуқуқи муаллиф ҳифзшаванда:</p>
<p> - ҳуҷҷатҳои сканшуда бо мӯҳри расмӣ, ё</p>
<p> - почтаи электронӣ аз домени расмии электронӣ соҳиби ширкат, ё</p>
<p> - дигар маълумоти тамос, ки шуморо ҳамчун соҳиби мавод ба таври калидӣ муайян мекунад.</p>

<p>2. Матне, ки шумо мехоҳед ҷойгир кунед, ки бо маълумоти ҷудошаванда ҳамроҳ аст.</p>

<p>Шумо метавонед дар он нишон диҳед, ки дар куҷо ва дар кадом шартҳо шумо метавонед маълумотеро, ки истинодаш хориҷ шудааст, дастрас намоед, инчунин маълумоти тамосии худро, то истифодабарандагон ҳамаи маълумоти зарурӣ дар бораи ин маводро аз шумо гиранд.</p>

<p>3. Истинодҳои мустақим ба саҳифаҳо, ки истинодҳо ба маълумоте доранд, ки бояд хориҷ карда шаванд.</p>

<p>Пайвандҳо бояд бо <strong>https://url.to/link</strong> ё чизе монанд бо нишон додашуда бошанд.</p>

<p>Баъд аз ин, дар давоми 48 соат, мо пайвандҳои дахлдорро аз сайт хориҷ мекунем.</p>

<p class="bold">Почтаи электронии мо: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ЭМОМ!</p>

<p>а) Мо ҳуқуқи нашр кардани ҳар гуна маълумотеро, ки ба мо тавассути почта фиристода шудааст, нигоҳ медорем <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>б) Мо бар рафторҳои корбароне, ки метавонанд истинодҳои ба иттилооте, ки объекти ҳуқуқи муаллифии шумо мебошад, дубора паҳн кунанд, ҳеҷ назорат надорем. Ҳар гуна маълумот дар форум ба таври худкор ва бидуни назорати касе ҷойгир мешавад, ки бо амалияи умумиҷаҳонии қабулшуда дар бораи ҷойгир кардани иттилоот дар интернет мувофиқ аст. Бо вуҷуди ин, дар ҳар ҳолат, мо ҳамаи дархостҳои шуморо, ки оид ба истинод ба маълумоте ҳастанд, ки ҳуқуқҳои шуморо вайрон мекунанд, ба назар мегирем.</p>

<p>в) Мувофиқи Қонуни ҳуқуқи муаллиф ва ҳуқуқҳои вобаста, истинод ба ҳар гуна маълумот (пайғами иттилоотӣ) танҳо, худ шартномаи ҳуқуқи муаллифиро вайрон намекунад (гарчанде ки метавонад «Созишнома оид ба истифодаи вебсайт»-ро нақз кунад). Аз ин рӯ, фиристодани мактубҳои таҳдидомез ё талабкунанда, бе сабаби воқеӣ зарур нест.</p>

</div><!--/infobox-body-->
