<div id="infobox-body">

<p><h1>МАЪЛУМОТИ ДАР БОРАИ ДОРОИ ХУҚУҚИ НУШТАНДОР</h1></p>

<p>Агар шумо соҳиби ҳуқуқи нусхабардории ягон мавод бошед, ки дар ин сайт пайваст шудааст ва намехоҳед, ки ин маълумот бидуни ризоияти шумо аз ҷониби корбарон паҳн шавад, мо бо хушҳолӣ ба шумо дар тафриқ кардани пайвандҳои дахлдор кӯмак мекунем.</p>

<p>Барои ин, лутфан ба мо номаи электронӣ бо маълумоти зерин фиристед:</p>

<p>1. Ҳуҷҷатҳои тасдиқкунандаи ҳуқуқи шумо ба маводи ҳуқуқи муаллифиро:</p>
<p> — санадҳои сканшуда бо мӯҳри расмӣ, ё</p>
<p> — почтаи электронӣ, ки аз домени расмии ширкати соҳиби ҳуқуқ ирсол шудааст, ё</p>
<p> — дигар маълумоти тамос, ки шуморо ҳамчун соҳиби ҳуқуқ ба таври беназир муайян мекунад.</p>

<p>2. Матни ивазкунандае, ки мехоҳед ба ҷои мундариҷаи хориҷшуда нашр карда шавад.</p>

<p>Дар ин матн шумо метавонед ишора кунед, ки корбарон аз куҷо ва дар кадом шартҳо метавонанд маълумоте гиранд, ки пайвандҳояш хориҷ шудаанд, инчунин маълумоти тамосии худро барои тамос гирифтани корбарон бо шумо дар бораи ин мавод.</p>

<p>3. Пайвандҳои мустақим ба саҳифаҳое, ки истинодҳо ба маълумот доранд ва бояд хориҷ шаванд.</p>

<p>Пайвандҳо бояд дар шакли <strong>https://url.to/link</strong> ё монанди он бошанд.</p>

<p>Дар давоми 48 соат пас аз гирифтани дархости шумо, мо пайвандҳои дахлдорро аз сайт хориҷ мекунем.</p>

<p class="bold">Почтаи электронии мо: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>ДИҚҚАТ!</p>

<p>а) Мо ҳуқуқи нашр кардани дар сомона ҳар гуна маълумоте, ки ба мо дар суроғаи <strong><a href=\"mailto:{{ config('mail.addresses.abuse') }}\" class=\"gen\">{{ config('mail.addresses.abuse') }}</a></strong> фиристода шудааст, нигоҳ медорем</p>

<p>б) Мо назорат намекунем, ки корбароне, ки метавонад пайвандҳои маълумоте, ки объекти ҳуқуқи шумо аст, дубора нашр кунанд, чӣ амал мекунанд. Ҳама маълумот дар форум ба таври худкор, бидуни пешакӣ мубодила ё мусоидат карда шудани он ва бо риояи амалияи умумиҷаҳонии қабулшудаи нигоҳ доштани маълумот дар интернет ҷойгир карда мешавад. Бо вуҷуди ин, мо ҳамаи дархостҳоро оид ба пайвандҳо ба маълумоте, ки ҳуқуқи шуморо нақз мекунад, баррасӣ мекунем.</p>

<p>в) Тибқи қонунҳои амалкунандаи ҳуқуқи муаллиф ва ҳуқуқҳои алоқаманд, пайванд ба маълумот (истиноди иттилоотӣ) худ бо худ зери ҳифзи ҳуқуқи муаллиф нест (гарчанде ки метавонад бо Санади истифодабарандаи сайт мухолифат кунад). Пас, лутфан аз ирсоли номаҳое, ки дорои таҳдид ё талабот ҳастанд, худдорӣ намоед, чунки ягон асоси қонунӣ барои чунин даъвоҳо вуҷуд надорад.</p>

</div>
