<div>
	<h3>Панели паҳлӯи 2</h3>
	Барои илова кардани мундариҷа ба ин панели паҳлӯ, файлҳои зерини зеринро таҳрир кунед:
	<br /><br />
	<ul class="med">
		<li>китобхона/забон/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Барои ғайрифаъол кардани ин панели паҳлӯ, параметри page.show_sidebar2-ро дар файли config/layouts.php ба false гузоред.
</div>
