<div>
	<h3>Панели паҳлӯ 2</h3>
	Барои илова кардани мундариҷа ба ин панели паҳлӯ, файлҳои зеринро таҳрир кунед:
	<br /><br />
	<ul class="med">
		<li>китобхона/забон/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Барои ғайрифаъол кардани ин панели паҳлӯ, параметри page.show_sidebar2 дар файли config.php-ро ба false гузоред.
</div>
