<div id=\"infobox-body\">

<p>

<p><h1>ШАРТНОМАИ ИСТИФОДАБАРАНДА</h1></p>

<p><h3>ДАР БОРАИ СОМОНА</h3></p>

<p>Интернет — манбаъ / сомона (минбаъд — Манбаъ) сомонаи интернетӣ мебошад, ки имкон медиҳад корбарон иттилоотро тавассути бит-торрент, инчунин бо шакли озод мубодила кунанд ва воситаҳои назорати беайбии иттилоотро, ки интиқол меёбад (тавре ки файлҳои хеш) таъмин менамояд.</p>

<ol>

<li type="1"><h3>ДАР БОРАИ ШАРТНОМАИ ИСТИФОДАБАРАНДА</h3>

<p>This USER AGREEMENT shall enter into force after clicking "I agree" at the bottom and works all the time use of resource users. ШАРТНОМАИ ИСТИФОДАБАРАНДА метавонад аз тарафи Маъмурият бидуни огоҳӣ тағйир ёбад. Нусхаи нави Шартномаи истифодабарӣ пас аз 3 (се) рӯз аз рӯзи пешниҳодаш эътибор пайдо мекунад, агар дар нусхаи нави ШАРТНОМАИ ИСТИФОДАБАРАНДА тартиби дигар пешбинӣ нашуда бошад.</p>

<li><h3>МАҲДУДИЯТҲОИ МАСЪУЛИЯТ</h3>

<p>Корбар возеҳона розӣ мешавад, ки истифодаи Манбаъ дар хатарҳои худ мебошад.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Маъмурияти Манбаъ наметавонад мундариҷа ва бехатарии ин маводҳоро назорат кунад, бинобар ин ба онҳо масъулият надорад:</p>
<ul>
<p>- барои мундариҷаи маводе, ки корбар тавассути истифодаи маълумоти Манбаъ мегирад ва мумкин аст бо қонунҳои амалкунанда мувофиқат накунад ё даҳшатовар бошад;</p>
<p>- барои оқибатҳои татбиқ, истифода ё истифода накардани маълумоти гирифташуда;</p>
<p>- барои номувофиқати эҳтимолӣ миёни натиҷаҳои ба дастомада ва интизориҳои корбарон аз истифодаи Манбаъ;</p>
<p>- барои ҳар гуна зараре, ки ба сахтафзор ё нармафзори корбар дар натиҷаи истифодаи Манбаъ расонида шудааст;</p>
<p>- барои номуваффақии истифодаи манбаъ бо ҳар сабаб;</p>
<p>- барои оқибатҳои эҳтимолӣ, ки аз паҳншавии барномаҳои ғайриқонунӣ ё бе иҷозат ва маҳсулоти аудио/видео ва дигар мавод ё маълумот, ки ҳуқуқи тарафи сеюмро вайрон мекунад, ба амал меоянд.</p>
</ul>

<p>Дар ҳеҷ ҳолат Манбаъ ба корбар ё тарафи сеюм барои зарарҳо, талафот ё хароҷоте, ки дар робита бо ин Манбаъ, истифода ё ноимкон будани истифодаи он ба амал меояд, аз ҷумла талафи даромад, масъул нест.</p>

<p>Маъмурияти Манбаъ ӯҳдадор нест махфияти маълумотеро, ки корбарон пешниҳод мекунанд, таъмин намояд, гарчанде ки тамоми чораҳои имконпазирро барои ин амалӣ менамояд, агар шартномаи мухолиф ё талаботи дахлдори қонунгузории ҷорӣ вуҷуд надошта бошад.</p>

<p>Вазифаҳои Манбаъ дохил намешаванд контрол кардани иттилооте, ки қонунӣ ё ғайриқонунӣ интиқол дода мешавад (ҳар гуна, аз ҷумла, иттилооте, ки миёни корбарон тавассути бит-торрент, интиқоли дохилӣ дар шаклҳои гуногун, матн ё файлҳо), муайян кардани ҳуқуқи моликӣ ё қонунистии интиқол ё қабул бо истифода аз ин маълумот.</p>

<li><h3>МАҲДУДИЯТҲОИ ИСТИФОДАИ МАНБАЪ ТАЪРИФШУДА АЗ СӮИ КОРБАР</h3>

<p>Вақте ки шумо ин Манбаъро истифода мебаред, корбар ҳақ надорад ва бо ин розӣ мешавад, ки:</p>
<ul>
<p>- ҷойгирсозии файлҳои хеш (торрентҳо) бо маълумоте, ки вирусҳо ё дигар барномаҳои зараровар, файлҳо ё барномаҳои маъруфи зараровар бо мақсади халалдорсозӣ, вайронкунӣ ё маҳдуд кардани функсияҳои компютер ё таҷҳизоти телекоммуникатсионӣ аст, инчунин рақамҳои силсилавӣ барои нармафзори тиҷоратӣ ва барномаҳо барои тавлиди онҳо, логинҳо, паролҳо ва дигар воситаҳо барои дастрасии иҷозатношуда ба сайтҳои интернетӣ, ҳамчунин ҷойгир кардани пайвандҳо ба чунин маълумот;</p>
<p>- ҷойгирсозии файлҳои хеш (торрентҳо) бо паёмҳо, маълумот ё барномаҳо, ки истифодаи онҳо ҳуқуқи патентӣ, аломати савдо, сирри тиҷоратӣ, ҳуқуқи муаллиф ва ҳуқуқҳои дахлдор ба тарафи сеюмро нақз мекунад;</p>
<p>- ирсоли паёмҳои номатлуби таблиғиӣ (почтаи спам, почтаи партов) ба суроғаҳои почтаи электронии зикршуда дар сайт;</p>
<p>- нусхабардорӣ ва истифодаи маълумоти гирифташуда тавассути ин манбаъ бо мақсади тиҷоратӣ, ки ҳуқуқи дигаронро вайрон мекунад ё метавонад ба онҳо зарари моддӣ ё маънавӣ расонад;</p>
<p>- ҷойгир кардани пайвандҳо ба манбаъҳои веб, ки мундариҷаи онҳо бо қонунгузории ҷорӣ мухолифат мекунад;</p>
<p>- ба ҷиносӣ даровардани шахс ё намояндаи ташкилот ва/ё ҷомеа бидуни ҳуқуқи кофӣ, аз ҷумла кормандони маъмурият, ба номи соҳибони Манбаъ.</p>
</ul>

<li><h3>КАФОЛАТИ ИФРОТ КУНАНДАН</h3>

<p>Дастрасӣ ба манбаъ дар ҳолати «ҳамон тавре, ки ҳаст» бе ягон кафолат, ҳам мустақим ва ҳам ғайримустақим, дода мешавад.</p>

<p>Хусусан, маъмурияти Манбаъ кафолат намедиҳад, ки фаъолияти сомона ва бахшҳои алоҳидаи он, инчунин иҷроиш ва эътимоднокии пайвандҳои ҷойгиршудаи корбаронро таъмин намояд.</p>

<p>Манбаъ барои ҳар гуна зарбаҳои мустақим ё ғайримустақим, ки ба истифода ё натавонистани истифодаи хизматрасонӣ ва дастрасии беиҷозат ба иртиботи шумо вобаста аст, масъул нест.</p>

<li><h3>ҲУҚУҚҲОИ ИДОРАКУНИИ МАНБАЪ</h3>

<p>Маъмурияти Манбаъ ҳақ дорад дастрасии ҳар як корбар ё гурӯҳи корбаронро бидуни шарҳи амал ва огоҳӣ манъ кунад.</p>

<p>Маъмурияти Манбаъ метавонад ҳар гуна маълумот, файлҳои хеш (торрентҳо), графика, аудио ва дигар маълумотҳоро, ки корбарон пешниҳод кардаанд, бидуни огоҳӣ ва шарҳи амалҳо тағйир ё нест кунад.</p>

<li><h3>МАСЪУЛИЯТИ ТАРАФҲО</h3>

<p>Корбар розӣ мешавад, ки ҳамаи ихтилофҳои эҳтимолӣ дар бораи ШАРТНОМАИ ИСТИФОДА бо тартиби қонуни рӯёбшуда ҳалли худро меёбанд.</p>

<p>Корбар розӣ мешавад, ки қоидаҳо ва қонунҳои ҳимояи истеъмолкунандагон ба истифодаи ин Манбаъ татбиқ намешаванд, зеро хадамот пардохтнашуда мебошанд.</p>

<p>Манбаъ муносибатҳои агентӣ, ҳамкории муштарак, муносибатҳои ҷалб ва дигар муносибатҳоро, ки дар ШАРТНОМАИ ИСТИФОДА ба таври возеҳ муайян нашудаанд, таъсис намедиҳад.</p>

<p>Наиштрои Манбаъ нисбат ба вайрон кардани ШАРТНОМАИ ИСТИФОДА аз тарафи корбар ё гурӯҳи корбарон маънои кӯмак ба онҳо дар чунин амалҳо надорад.</p>

<p>Наиштрои Манбаъ нисбат ба вайрон кардани ШАРТНОМАИ ИСТИФОДА ҳуқуқи он барои амалӣ кардани чораҳои зарурӣ барои ҳифзи манфиатҳои худро дар оянда маҳрум намекунад.</p>

<li><h3>ҚАБУЛИ ШАРТНОМАИ ИСТИФОДАБАРАНДАГӢ</h3>

<p>АГАР ШУМО БА ҲАМАИ ШАРТҲО ВА МОДДАҲОИ ЗИКРШУДА РОЗӢ НАБУДЕД, ШУМО НАМЕТАВОНЕД ҲАМ ВАҚТҲОИ ТОПИКРО ВА Ё ҲАР ҚИСМИ АМАЛӢ ҚАБУЛ НАКУНЕД, ҶУМЛА АЗ САҲИФАИ ШАРТНОМАИ ИСТИФОДАБАРАНДАГОН ВА Ё БО ҲЕҶ ЯК РАВИШАИ ДИГАР МАНБАЪРО ВА МОҲИЯТИ ОНРО ДАСТРАСИ НАМЕНМОЕД!</p>

<p>АГАР ШУМО БО ШАРТНОМАИ ИСТИФОДАБАРАНДАГӢ РОЗӢ НАБУДЕД, ФАВРАН МАНБАЪРО ТАРК НАМУНЕД.</p>

</ol>
</p>

</div><!--/infobox-body-->
