<div id="infobox-body">

<p>

<p><h1>ШАРТНОМАИ ИСТИФОДАБАРАНДАГОНИ</h1></p>

<p><h3>Дар бораи сайт</h3></p>

<p>Ин сомонаи интернетӣ (минбаъд "Захира" номида мешавад) сомонаест, ки ба истифодабарандагон имкон медиҳад тавассути BitTorrent ва шаклҳои дигар маълумотро бо ҳам мубодила кунанд ва воситаеро барои санҷидани беайбии иттилооти интиқолёфта (тасрифи файлҳои hash) пешниҳод мекунад.</p>

<ol>

<li type="1"><h3>ДАР БОРАИ ИН ШАРТНОМАИ ИСТИФОДАБАРАНДАГОН</h3>

<p>Ин Шартнома (минбаъд "Шартнома" номида мешавад) баъд аз пахш кардани "Ман розӣ ҳастам" дар поён ба эътибор медарояд ва дар тӯли тамоми муддати истифодаи истифодабаранда аз Захира амал мекунад. Маъмурият метавонад Шартномаро бидуни огоҳи пешакӣ тағйир диҳад. Нусхаи нави Шартнома 3 (се) рӯз пас аз нашр эътибор пайдо мекунад, агар дар нусхаи нав шартҳои дигар пешбинӣ нашуда бошад.</p>

<li><h3>Маҳдудиятҳои МАСЪУЛИЯТ</h3>

<p>Истифодабаранда равшан изҳор медорад, ки захираҳоро бо хавфи шахсии худ истифода мекунад.</p>

<p>Истифодабаранда мешиносад ва қабул мекунад, ки Захира бо мавод ва маълумоте кор мекунад, ки аз тарафи шахсони сеюм эҷод шуда, бо истифода аз компютерҳо ва/ё серверҳои онҳо дар Интернет ҷойгир шудаанд. Мундариҷа ва амнияти ин маводҳо аз ҷониби маъмурияти Захира назорат намешавад; бинобар ин, Маъмурият ҷавобгар нест:</p>
<ul>
<p>- барои мундариҷаи маводҳое, ки истифодабаранда тавассути Захира ба даст овардааст, аз ҷумла ҳар гуна эҳтимоли номувофиқатӣ бо қонунҳои татбиқшаванда ё хислати таҳқиромези онҳо;</p>
<p>- барои оқибатҳои татбиқ, истифода ё нодурусти истифодаи иттилооте, ки гирифт шудааст;</p>
<p>- барои ҳар гуна номувофиқат байни натиҷаҳои ба даст овардашуда тавассути Захира ва интизориҳои истифодабаранда;</p>
<p>- барои ҳар гуна зараре, ки ба таҷҳизот ё барномаҳои компютерии истифодабаранда бинобар истифодаи Захира расидааст;</p>
<p>- барои ҳар гуна нодурустии истифодаи Захира бо ягон сабаб;</p>
<p>- барои оқибатҳои паҳншавии нармафзори ғайриқонунӣ ё бе иҷозат, мундариҷаи аудио/видео ва дигар мавод ё маълумоте, ки ҳуқуқҳои шахсони сеюмро вайрон мекунанд.</p>
</ul>

<p>Дар ягон ҳолат Захира ба истифодабаранда ё шахси сеюм барои зарарҳо, талафот ё хароҷоте, ки дар робита бо Захира, истифодаи он ё нокофӣ будани имкони истифода ба вуҷуд омадааст, ҷавобгар нест, аз ҷумла фоидаи гумшуда.</p>

<p>Маъмурияти Захира вазифадор нест махфияти маълумоте, ки истифодабарандагон медиҳанд, таъмин кунад, гарчанде ки тамоми чораҳои мантиқӣ андешида мешавад, агар созишномаи ҷудогона ё қонунгузории татбиқшаванда талаботи дигаре накунад.</p>

<p>Вазифаҳои Захира назорати қонуният ё ғайриқонуният ё интиқоли маълумот (аз ҷумла, вале маҳдуд ба иттилооте, ки байни истифодабарандагон таваснути BitTorrent, паёмҳои дохилӣ, матн ё файлҳо интиқол ёфтааст) ва муайян кардани ҳуқуқҳои моликияти зеҳнӣ ё қонуният ё ғайриқонуният дар интиқол ё қабул кардани чунин маълумот дохил намешаванд.</p>

<li><h3>МАҲДУДИЯТҲО ДАР ИСТИФОДАИ ЗАХИРА БО ТОМИ ИСТИФОДАБАРАНДА</h3>

<p>Дар вақти истифодаи ин Захира, истифодабаранда наметавонад ва розӣ аст, ки накунад:</p>
<ul>
<p>- боргузорӣ кардани файлҳои hash (торрентҳо), ки дорои маълумоте бо вирусҳо ё барномаҳое мебошанд, ки ба компютер ё таҷҳизоти алоқа зарар мерасонанд, ё ба кори онҳо халал мерасонанд, барномаҳои дастрасии ғайриқонунӣ, рақамҳои силсилавӣ барои нармафзори тиҷоратӣ ё асбобҳои тавлиди он, шиносномаҳо, калимаҳои пуф ва дигар воситаҳо барои дастрасии ғайриқонунӣ ба захираҳои Интернет ва мубодила кардани пайвандҳои мазкур;</p>
<p>- боргузорӣ кардани файлҳои hash (торрентҳо), ки дорои паёмҳо, маълумот ё барномаҳое мебошанд, ки истифодаи онҳо ҳуқуқҳои патентӣ, аломати савдо, сирри тиҷорат, ҳуқуқи муаллиф ё дигар ҳуқуқҳои шахсони сеюмро вайрон мекунад;</p>
<p>- фиристодани паёмҳои таблиғотии ғайри иҷозатдодашуда (спам, почтаи нохоб), ба суроғаҳои почтаи электронии дар сомона зикршуда;</p>
<p>- нусхабардорӣ ва истифодаи иттилооте, ки тавассути Захира гирифта шудааст ва барои мақсадҳои тиҷоратӣ истифода шавад, агар онҳо ҳуқуқҳои дигаронро вайрон карда ё зарари моддӣ ё маънавӣ расонанд;</p>
<p>- ҷойгир кардани пайвандҳои вебресурсҳо, ки мундариҷаи онҳо бо қонунгузории татбиқшаванда мухолифат мекунад;</p>
<p>- қалбакӣ кардани шахсият ё намояндаи ташкилот ва/ё ҷамоат бидуни иҷозат, аз ҷумла кормандони маъмурият ё соҳибони Захира.</p>
</ul>

<li><h3>ДИСКЛЕЙМЕРИ КАФОЛАТНОМАҲО</h3>

<p>Дастрасӣ ба Захира бо шарти «ҳамон тавр аст» таъмин мешавад ва ягон кафолат ба ҳар гуна шакл, баёншуда ё пинҳон надорад.</p>

<p>Хусусан, маъмурияти Захира кафолат намедиҳад, ки сомона ё бахшҳои алоҳидаи он ҳатман кор мекунанд ё пайвандҳои гузоштаи истифодабарандагон корӣ ва боэътимоданд.</p>

<p>Захира дар баробари ягон талафоти мустақим ё ғайримустақим бинобар истифода ё нокофӣ будани хизматрасонӣ ё дастрасии ғайриқонунии муоширататон масъулият надорад.</p>

<li><h3>ҲУҚУҚҲОИ ИДОРАКУНИИ ЗАХИРА</h3>

<p>Маъмурияти Захира ҳуқуқ дорад бе шарҳ ва огоҳи пешакӣ дастрасии ягон истифодабаранда ё гурӯҳи истифодабарандагонро қатъ кунад.</p>

<p>Маъмурияти Захира метавонад ҳар гуна маълумот, файлҳои hash (торрентҳо), графика, аудио ва дигар маълумоти пешниҳодшуда аз ҷониби истифодабарандагонро бидуни огоҳӣ ё шарҳ тағйир диҳад ё нест кунад.</p>

<li><h3>МАСЪУЛИЯТИ ТАРАФҲО</h3>

<p>Истифодабаранда қабул мекунад, ки ҳамаи ихтилофоти баромада аз ин Шартнома мувофиқи қонунгузории татбиқшаванда ҳал мешаванд.</p>

<p>Истифодабаранда қабул мекунад, ки қонунҳо ва қоидаҳои ҳифзи истеъмолкунандагон ба истифодаи ин Захира, ки хидматҳои пулакӣ пешниҳод намекунад, татбиқ намешаванд.</p>

<p>Захира агентӣ, шарикӣ, корхонаи муштарак, муносибатҳои кори ё дигар муносибатҳои ғайр аз онҳое, ки равшан дар ин Шартнома таъриф шудаанд, эҷод намекунад.</p>

<p>Набудани амалиёт аз ҷониби Захира дар вокуниш ба вайроншавии ин Шартнома аз ҷониби як истифодабаранда ё гурӯҳи истифодабарандагон тасдиқ ё кӯмак дар чунин амалҳоро намесозад.</p>

<p>Набудани амалиёт аз ҷониби Захира дар вокуниш ба вайроншавии ин Шартнома аз ҷониби як истифодабаранда ё гурӯҳи истифодабарандагон ҳуқуқи Захира барои чораҳои мусоидаро барои ҳифзи манфиатҳои худ дертар маҳрум намекунад.</p>

<li><h3>ҚАБУЛ КАРДАНИ ШАРТНОМАИ ИСТИФОДАБАРАНДАГОН</h3>

<p>АГАР ШУМО БА ҲАМАИ ШАРТҲО ВА МОДДАҲОИ ЗИКРШУДА РОЗӢ НАБУДЕД, ШУМО НАМЕТАВОНЕД БА ЗАХИРА КУДАМАНДА Ё ҚИСМЕ ОНРО ИСТИФОДА НАМУНЕД, ҶУМЛА АЗ САҲИФАИ ШАРТНОМАИ ИСТИФОДАБАРАНДАГОН Ё МУНАДАДИ МАЪЛУМОТИ ЗАХИРА БО ҲЕҶ ЯК РАВИШАИ ДИГАР.</p>

<p>АГАР ШУМО БО ИН ШАРТНОМА РОЗӢ НАБУДЕД, БОЯД ЗАХИРАРО ФАВРАН ТАРК НАМОЕД.</p>

</ol>
</p>

</div>
