<div id="infobox-body">

<p><h1>INFORMACJE DLA WŁAŚCICIELI PRAW AUTORSKICH</h1></p>

<p>Jeśli jesteś właścicielem jakiegokolwiek materiału, którego link (lub linki) są dostępne na tej stronie, i nie chciałbyś, aby ta informacja była rozpowszechniana przez użytkowników bez twojej zgody, z przyjemnością pomożemy ci w usunięciu odpowiednich linków.</p>

<p>Wymaga to, abyś przesłał nam list (w formie elektronicznej)
który zawiera następujące informacje:</p>

<p>1. Udokumentowane potwierdzenie swoich praw do materiałów chronionych prawami autorskimi:</p>
<p>- zeskanowany dokument z pieczęcią, lub</p>
<p>- e-mail z oficjalnej skrzynki e-mailowej właściciela firmy, lub</p>
<p>- inne informacje kontaktowe, pozwalające jednoznacznie zidentyfikować ciebie jako właściciela tego materiału.</p>

<p>2. Tekst, który chcesz umieścić, wraz z informacją, którą można usunąć.</p>

<p>Możesz w nim określić, gdzie i na jakich warunkach można uzyskać informacje, do których odniesienia zostały usunięte, a także podać swoje dane kontaktowe, aby użytkownicy mogli uzyskać od ciebie wszystkie potrzebne informacje dotyczące tego materiału.</p>

<p>3. Bezpośrednie linki do stron, które zawierają odniesienia do danych, które muszą być usunięte.</p>

<p>Linki powinny mieć format <strong>https://url.to/link</strong> lub podobny.</p>

<p>W ciągu 48 godzin usuniemy interesujące cię linki ze strony.</p>

<p class="bold">Nasz e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UWAGA!</p>

<p>a) Zastrzegamy sobie prawo do publikacji na stronie wszelkich informacji przesłanych do nas mailem <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) We have no control over the actions of users who may be re-post links to information, which is the object of your copyright. Wszelkie informacje na forum są publikowane automatycznie, bez jakiejkolwiek kontroli z jakiejkolwiek strony, co odpowiada powszechnie przyjętej międzynarodowej praktyce umieszczania informacji w Internecie. Jednakże w każdym przypadku rozpatrujemy wszystkie twoje zapytania dotyczące odniesień do informacji naruszających twoje prawa.</p>

<p>c) Zgodnie z ustawą o prawie autorskim i prawach pokrewnych, samo odniesienie do jakichkolwiek danych (wiadomość informacyjna) nie podlega prawu autorskiemu (choć może naruszać „Umowę o korzystaniu z witryny”). Dlatego nie jest konieczne wysyłanie listów zawierających groźby lub żądania, jeśli nie mają one realnych podstaw.</p>

</div><!--/infobox-body-->
