<div id="infobox-body">

<p><h1>INFORMACJE DLA WŁAŚCICIELI PRAW AUTORSKICH</h1></p>

<p>Jeśli jesteś właścicielem jakiegokolwiek materiału, do którego prawa autorskie są objęte i nie życzysz sobie, aby te informacje były rozpowszechniane przez użytkowników bez Twojej zgody, chętnie pomożemy Ci, usuwając odpowiednie linki.</p>

<p>Aby to zrobić, prosimy o przesłanie wiadomości elektronicznej zawierającej następujące informacje:</p>

<p>1. Udokumentowane potwierdzenie Twoich praw do materiału objętego prawem autorskim:</p>
<p> — zeskanowany dokument z oficjalną pieczęcią, lub</p>
<p> — e-mail wysłany z oficjalnej domeny firmy posiadającej prawa, lub</p>
<p> — inne dane kontaktowe pozwalające jednoznacznie zidentyfikować Cię jako posiadacza praw.</p>

<p>2. Tekst zastępczy, który chciałbyś umieścić zamiast usuniętej treści.</p>

<p>W tym tekście możesz określić, gdzie i na jakich warunkach użytkownicy mogą uzyskać informacje, do których linki zostały usunięte, a także podać swoje dane kontaktowe, aby użytkownicy mogli się z Tobą kontaktować w sprawie tego materiału.</p>

<p>3. Bezpośrednie linki do stron zawierających odniesienia do danych, które należy usunąć.</p>

<p>Linki powinny mieć format <strong>https://url.to/link</strong> lub podobny.</p>

<p>W ciągu 48 godzin od otrzymania Twojej prośby usuniemy odpowiednie linki ze strony.</p>

<p class="bold">Nasz e-mail: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>UWAGA!</p>

<p>a) Zastrzegamy sobie prawo do publikowania na stronie wszelkich informacji przesyłanych do nas na adres <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) Nie mamy kontroli nad działaniami użytkowników, którzy mogą ponownie publikować linki do informacji objętych Twoimi prawami autorskimi. Wszystkie informacje na forum są publikowane automatycznie, bez wcześniejszej weryfikacji lub moderacji, zgodnie z powszechnie przyjętymi międzynarodowymi praktykami umieszczania informacji w Internecie. Niemniej jednak rozpatrzymy wszystkie zgłoszenia dotyczące linków do informacji naruszających Twoje prawa.</p>

<p>c) Zgodnie z obowiązującym prawem autorskim i prawami pokrewnymi, hiperłącze do danych (odniesienie informacyjne) samo w sobie nie podlega ochronie prawem autorskim (choć może naruszać Regulamin witryny). W związku z tym prosimy o powstrzymanie się od wysyłania listów zawierających groźby lub żądania, ponieważ nie istnieją prawne podstawy do takich roszczeń.</p>

</div>
