<div>
	<h3>Sidebar 2</h3>
	Aby dodać zawartość do tego paska bocznego, edytuj następujące pliki:
	<br /><br />
	<ul class="med">
		<li>biblioteka/język/*/html/bok2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	Aby wyłączyć ten pasek boczny, ustaw zmienną page.show_sidebar2 w pliku config/layouts.php na false.
</div>
