<div id="infobox-body">

<p>

<p><h1>OGÓLNE WARUNKI UŻYTKOWANIA</h1></p>

<p><h3>O STRONIE</h3></p>

<p>Zasób internetowy (dalej jako "Zasób") to strona internetowa, która pozwala użytkownikom dzielić się informacjami poprzez BitTorrent, a także w innych formach, oraz zapewnia środki do weryfikacji integralności przesyłanych informacji (poprzez pliki hash).</p>

<ol>

<li type="1"><h3>O TEJ UMOWIE UŻYTKOWNIKA</h3>

<p>Niniejsza Umowa Użytkownika (dalej "Umowa") wchodzi w życie po kliknięciu „Zgadzam się” na dole i pozostaje w mocy przez cały czas korzystania przez Użytkownika z Zasobu. Umowa może zostać zmieniona przez Administrację bez wcześniejszego powiadomienia. Nowa wersja Umowy wchodzi w życie 3 (trzy) dni po jej opublikowaniu, chyba że w nowej wersji Umowy określono inaczej.</p>

<li><h3>OGRANICZENIA ODPOWIEDZIALNOŚCI</h3>

<p>Użytkownik wyraźnie zgadza się korzystać z Zasobu na własne ryzyko.</p>

<p>Użytkownik przyjmuje do wiadomości i zgadza się, że Zasób zajmuje się materiałami i danymi stworzonymi przez osoby trzecie i hostowanymi przez nie w Internecie na ich komputerach i/lub serwerach. Administracja Zasobu nie ma możliwości kontroli treści i bezpieczeństwa tych materiałów, w związku z czym nie ponosi odpowiedzialności za:</p>
<ul>
<p>- treść materiałów uzyskanych przez Użytkownika za pośrednictwem Zasobu, w tym ewentualną niezgodność z obowiązującym prawem lub ich obraźliwy charakter;</p>
<p>- skutki wykorzystania, zastosowania lub zaniechania wykorzystania uzyskanych informacji;</p>
<p>- wszelkie rozbieżności pomiędzy wynikami uzyskanymi za pośrednictwem Zasobu a oczekiwaniami Użytkownika;</p>
<p>- jakiekolwiek uszkodzenia sprzętu lub oprogramowania Użytkownika powstałe w wyniku korzystania z Zasobu;</p>
<p>- niemożność korzystania z Zasobu z jakiejkolwiek przyczyny;</p>
<p>- konsekwencje wynikłe z rozpowszechniania nielegalnego lub nieautoryzowanego oprogramowania, treści audio/wideo lub innych materiałów bądź danych naruszających prawa osób trzecich.</p>
</ul>

<p>W żadnym wypadku Zasób nie ponosi odpowiedzialności wobec Użytkownika ani osób trzecich za jakiekolwiek szkody, straty lub wydatki związane z Zasobem, jego użytkowaniem lub niemożnością korzystania, w tym utracone zyski.</p>

<p>Administracja Zasobu nie jest zobowiązana do zapewnienia poufności informacji przekazywanych przez Użytkowników, choć podejmuje wszelkie rozsądne środki, chyba że istnieje odrębne porozumienie lub obowiązujące przepisy prawa stanowią inaczej.</p>

<p>Obowiązki Zasobu nie obejmują monitorowania legalności przesyłanych informacji (w tym, lecz nie wyłącznie, informacji przesyłanych pomiędzy użytkownikami za pomocą BitTorrent, wewnętrznych wiadomości w dowolnej formie, tekstów lub plików), ani ustalania praw własności intelektualnej czy legalności przesyłania lub odbioru takich informacji.</p>

<li><h3>OGRANICZENIA W KORZYSTANIU Z ZASOBU PRZEZ UŻYTKOWNIKA</h3>

<p>Podczas korzystania z tego Zasobu, Użytkownik nie może i zobowiązuje się nie:</p>
<ul>
<p>- przesyłać plików hash (torrentów) zawierających dane z wirusami lub innym złośliwym oprogramowaniem, plików lub programów zaprojektowanych do zakłócania, niszczenia lub ograniczania funkcjonalności jakiegokolwiek sprzętu komputerowego lub telekomunikacyjnego, programów do nieautoryzowanego dostępu, numerów seryjnych do komercyjnego oprogramowania lub narzędzi do ich generowania, loginów, haseł lub innych środków umożliwiających nieautoryzowany dostęp do zasobów internetowych, a także umieszczać odnośników do powyższych;</p>
<p>- przesyłać plików hash (torrentów) zawierających wiadomości, dane lub programy, których użycie narusza patenty, znaki towarowe, tajemnice handlowe, prawa autorskie lub inne prawa własności oraz/lub prawa pokrewne osób trzecich;</p>
<p>- wysyłać nieautoryzowanych wiadomości reklamowych (spam) na adresy e-mail podane na stronie;</p>
<p>- kopiować i wykorzystywać w celach komercyjnych jakiekolwiek informacje uzyskane za pośrednictwem Zasobu, które naruszają prawa innych osób lub mogą im wyrządzić bezpośrednią szkodę majątkową lub moralną;</p>
<p>- publikować linków do zasobów internetowych, których zawartość narusza obowiązujące przepisy prawne;</p>
<p>- podszywać się pod inną osobę lub przedstawiciela organizacji i/lub społeczności bez odpowiednich uprawnień, w tym pracowników Administracji lub właściciela Zasobu.</p>
</ul>

<li><h3>ZASTRZEŻENIE ODPOWIEDZIALNOŚCI</h3>

<p>Dostęp do Zasobu jest zapewniany „tak jak jest” bez żadnych gwarancji, wyraźnych ani dorozumianych.</p>

<p>W szczególności Administracja Zasobu nie gwarantuje funkcjonalności serwisu ani jego poszczególnych sekcji, ani działania i wiarygodności linków zamieszczanych przez użytkowników.</p>

<p>Zasób nie ponosi odpowiedzialności za jakiekolwiek bezpośrednie lub pośrednie straty wynikające z: korzystania lub niemożności korzystania z serwisu; lub nieautoryzowanego dostępu do komunikacji użytkownika.</p>

<li><h3>PRAWA ADMINISTRACJI ZASOBU</h3>

<p>Administracja Zasobu ma prawo odmówić dostępu do Zasobu dowolnemu użytkownikowi lub grupie użytkowników bez podania przyczyny lub wcześniejszego powiadomienia.</p>

<p>Administracja Zasobu może modyfikować lub usuwać informacje, pliki hash (torrenty), grafiki, dźwięki oraz inne dane przesłane przez użytkowników bez wcześniejszego powiadomienia lub wyjaśnienia.</p>

<li><h3>OBOWIĄZKI STRON</h3>

<p>Użytkownik zgadza się, że wszelkie spory wynikające z niniejszej Umowy będą rozstrzygane zgodnie z obowiązującym prawem.</p>

<p>Użytkownik zgadza się, że przepisy dotyczące ochrony konsumentów nie mają zastosowania do korzystania z tego Zasobu, ponieważ nie świadczy on usług płatnych.</p>

<p>Zasób nie ustanawia stosunku agencyjnego, partnerstwa, wspólnego przedsięwzięcia, zatrudnienia ani innych relacji nieopisanych wyraźnie w niniejszej Umowie.</p>

<p>Bezczynność Zasobu w przypadku naruszenia Umowy przez Użytkownika lub grupę Użytkowników nie oznacza akceptacji ani współudziału w takich działaniach.</p>

<p>Brak reakcji Zasobu na naruszenie Umowy przez Użytkownika lub grupę Użytkowników nie pozbawia Zasobu prawa do podjęcia odpowiednich działań w celu ochrony swoich interesów w przyszłości.</p>

<li><h3>AKCEPTACJA UMOWY UŻYTKOWNIKA</h3>

<p>JEŚLI NIE ZGADZASZ SIĘ NA WSZYSTKIE POWYŻSZE WARUNKI, NIE MASZ PRAWA KORZYSTAĆ Z ZASOBU W CAŁOŚCI ANI W CZĘŚCI, POZA STRONĄ UMOWY UŻYTKOWNIKA, ANI OTRZYMYWAĆ LUB UZYSKIWAĆ DOSTĘP DO TREŚCI TEGO ZASOBU W ŻADEN INNY SPOSÓB, W CAŁOŚCI LUB W CZĘŚCI.</p>

<p>JEŚLI NIE ZGADZASZ SIĘ Z NINIEJSZĄ UMOWĄ UŻYTKOWNIKA, MUSISZ NATYCHMIAST OPUSZCIĆ ZASÓB.</p>

</ol>
</p>

</div>
