<div id="infobox-body">

<p>

<p><h1>UMOWA UŻYTKOWNIKA</h1></p>

<p><h3>O STRONIE</h3></p>

<p>Zasób internetowy (dalej jako Zasób) to strona internetowa, która pozwala użytkownikom dzielić się informacjami poprzez BitTorrent, a także w dowolnej formie, oraz zapewnia środki do monitorowania integralności przesyłanych informacji (poprzez pliki hash).</p>

<ol>

<li type="1"><h3>O UMOWIE UŻYTKOWNIKA</h3>

<p>Niniejsza UMOWA UŻYTKOWNIKA wchodzi w życie po kliknięciu "zgadzam się" na dole i obowiązuje przez cały czas korzystania użytkowników z zasobu. UMOWA UŻYTKOWNIKA może być zmieniona przez Administrację bez żadnego powiadomienia. Nowa wersja UMOWY UŻYTKOWNIKA wchodzi w życie po upływie 3 (trzech) dni od daty jej ogłoszenia, chyba że w nowej wersji UMOWY UŻYTKOWNIKA przewidziano inaczej.</p>

<li><h3>OGRANICZENIA ODPOWIEDZIALNOŚCI</h3>

<p>Użytkownik wyraźnie zgadza się, że korzysta z Zasobu na własne ryzyko.</p>

<p>User knows and agrees that deals with Resource materials and data created by third parties and placed them on the Internet on their computers and (or) servers. Zawartość i bezpieczeństwo tych materiałów nie mogą być kontrolowane przez administrację Zasobu, dlatego ta ostatnia nie ponosi odpowiedzialności:</p>
<ul>
<p>- za treść materiałów uzyskanych przez użytkownika z korzystania z tych zasobów i ich ewentualną niezgodność z obowiązującym prawem lub obraźliwość;</p>
<p>- za skutki zastosowania, wykorzystania lub niewykorzystania otrzymanych informacji;</p>
<p>- za ewentualną niezgodność wyników uzyskanych przy użyciu Zasobu z oczekiwaniami użytkownika;</p>
<p>- za wszelkie uszkodzenia sprzętu lub oprogramowania użytkownika, powstałe w wyniku korzystania z Zasobu;</p>
<p>- za niemożność korzystania z zasobów z jakiegokolwiek powodu;</p>
<p>- za konsekwencje, które mogą wyniknąć z rozpowszechniania nielegalnego lub nieautoryzowanego oprogramowania oraz produktów audio/wideo, a także innych materiałów lub danych wpływających na prawa osób trzecich.</p>
</ul>

<p>Zasób w żadnym wypadku nie ponosi odpowiedzialności wobec użytkownika ani osób trzecich za szkody, straty lub koszty powstałe w związku z tym Zasobem, jego używaniem lub niemożnością używania, w tym utratę lub utracone zyski.</p>

<p>Administracja Zasobu nie jest zobowiązana do zapewnienia poufności informacji przekazywanych przez użytkowników, mimo podejmowania wszelkich możliwych działań w tym zakresie, chyba że umowa stanowi inaczej lub obowiązujące przepisy prawne przewidują inaczej.</p>

<p>Do obowiązków Zasobu nie należy kontrolowanie legalności lub nielegalności przekazywanych informacji (w tym, lecz nie wyłącznie, informacji przesyłanych między użytkownikami via bit-torrent, wewnętrznego transferu informacji w postaci linków, tekstów lub plików), określanie praw własności lub legalności transmisji czy odbioru tych informacji.</p>

<li><h3>OGRANICZENIA KORZYSTANIA Z ZASOBÓW PRZEZ UŻYTKOWNIKA</h3>

<p>Podczas korzystania z tego Zasobu, UŻYTKOWNIK nie ma prawa i zgadza się z tym, że:</p>
<ul>
<p>- umieszczać plików hash (torrentów) zawierających wirusy lub inne znane złośliwe programy komputerowe, pliki lub programy zaprojektowane do zakłócania, niszczenia lub ograniczania funkcjonalności dowolnego urządzenia komputerowego lub telekomunikacyjnego bądź programów do nieautoryzowanego dostępu, a także numerów seryjnych do komercyjnego oprogramowania oraz programów do ich generowania, loginów, haseł i innych środków uzyskania nieautoryzowanego dostępu do witryn internetowych, a także umieszczać linki do powyższych informacji;</p>
<p>- umieszczać plików hash (torrentów) zawierających wiadomości, dane lub programy, których użycie narusza jakiekolwiek prawa patentowe, znaki towarowe, tajemnice handlowe, prawa autorskie, inne prawa własności lub prawa pokrewne osób trzecich;</p>
<p>- wysyłać wiadomości e-mail podawane na stronie bez zgody (spam, nieautoryzowane reklamy);</p>
<p>- kopiować i używać w celach komercyjnych jakichkolwiek informacji uzyskanych za pośrednictwem tego Zasobu, naruszających prawa innych osób lub powodujących dla nich szkodę materialną lub moralną;</p>
<p>- publikować linki do zasobów internetowych, których zawartość jest sprzeczna z obowiązującym prawem;</p>
<p>- podszywać się pod inną osobę lub przedstawiciela organizacji i/lub społeczności bez odpowiednich do tego praw, w tym pracowników administracji, jako właściciela Zasobu.</p>
</ul>

<li><h3>GWARANCJA WYDAJNOŚCI</h3>

<p>Dostęp do Zasobu świadczony jest „tak jak jest” bez jakichkolwiek gwarancji, zarówno wyraźnych, jak i dorozumianych.</p>

<p>Administracja Zasobu w szczególności nie gwarantuje funkcjonalności serwisu i jego poszczególnych sekcji ani wydajności i wiarygodności zamieszczanych na nim linków przez użytkowników.</p>

<p>Zasób nie ponosi odpowiedzialności za jakiekolwiek szkody bezpośrednie lub pośrednie powstałe w wyniku: korzystania lub niemożności korzystania z serwisu; nieautoryzowanego dostępu do Twojej komunikacji.</p>

<li><h3>PRAWA ADMINISTRACJI ZASOBU</h3>

<p>Administracja zasobu ma prawo odmówić dostępu do zasobu dowolnemu użytkownikowi lub grupie użytkowników bez wyjaśniania swoich działań i uprzedzenia.</p>

<p>Administracja Zasobu może modyfikować lub usuwać wszelkie informacje, pliki hash (torrenty), grafiki, dźwięki i inne dane przesłane przez użytkowników do zasobu bez powiadomienia i uzasadnienia swoich działań.</p>

<li><h3>OBOWIĄZKI STRON</h3>

<p>Użytkownik zgadza się, że wszelkie możliwe spory dotyczące UMOWY O UŻYTKOWANIU będą rozstrzygane zgodnie z normami prawnymi.</p>

<p>Użytkownik zgadza się, że przepisy dotyczące ochrony konsumentów nie mają zastosowania do korzystania z tego Zasobu, ponieważ nie oferuje on usług płatnych.</p>

<p>Zasób nie ustanawia relacji agenta użytkownika, partnerstwa, współpracy, rekrutacji ani innych relacji nieopisanych wyraźnie w UMOWIE O UŻYTKOWANIU.</p>

<p>Zaniechanie ze strony Zasobu w przypadku naruszenia UMOWY UŻYTKOWNIKA przez użytkownika lub grupę użytkowników nie oznacza, że Zasób ma obowiązek pomagać użytkownikom lub grupom w takich działaniach.</p>

<p>Zaniechanie ze strony Zasobu w przypadku naruszenia UMOWY UŻYTKOWNIKA przez użytkownika lub grupę użytkowników nie pozbawia Zasobu prawa do podjęcia odpowiednich działań w celu ochrony własnych interesów w przyszłości.</p>

<li><h3>AKCEPTACJA UMOWY UŻYTKOWNIKA</h3>

<p>JEŻELI NIE ZGADZASZ SIĘ ZE WSZYSTKIMI POWYŻSZYMI WARUNKAMI, NIE MOŻESZ KORZYSTAĆ Z ZASOBU W CAŁOŚCI LUB W JAKIEJKOLWIEK JEGO CZĘŚCI, POZA STRONĄ Z UMOWĄ UŻYTKOWNIKA, ANI OTRZYMYWAĆ LUB UZYSKAĆ DOSTĘP DO TREŚCI TEGO ZASOBU W INNY SPOSÓB.</p>

<p>JEŚLI NIE ZGADZASZ SIĘ Z UMOWĄ UŻYTKOWNIKA, MUSISZ NATYCHMIAST OPUSZCIĆ ZASÓB.</p>

</ol>
</p>

</div><!--/infobox-body-->
