<div id="infobox-body">

<p><h1>ข้อมูลสำหรับเจ้าของลิขสิทธิ์</h1></p>

<p>หากคุณเป็นเจ้าของลิขสิทธิ์ของวัสดุใด ๆ ที่ลิงก์ไว้ในเว็บไซต์นี้ และไม่ประสงค์ให้ข้อมูลนี้ถูกเผยแพร่โดยผู้ใช้โดยมิได้รับความยินยอมจากคุณ เรายินดีที่จะช่วยเหลือคุณโดยการลบลิงก์ที่เกี่ยวข้องออก</p>

<p>หากประสงค์ กรุณาส่งจดหมายอิเล็กทรอนิกส์ถึงเราพร้อมข้อมูลดังนี้:</p>

<p>1. หลักฐานเป็นลายลักษณ์อักษรเกี่ยวกับสิทธิ์ของคุณในวัสดุที่มีลิขสิทธิ์:</p>
<p> — เอกสารถูกสแกนและประทับตราทางการ หรือ</p>
<p> — อีเมลที่ส่งมาจากโดเมนทางการของบริษัทเจ้าของสิทธิ์ หรือ</p>
<p> — ข้อมูลติดต่ออื่นที่ระบุตัวตนคุณในฐานะเจ้าของสิทธิ์อย่างชัดเจน</p>

<p>2. ข้อความทดแทนที่คุณต้องการให้แสดงแทนเนื้อหาที่ถูกลบ</p>

<p>ในข้อความนี้ คุณสามารถระบุว่าผู้ใช้สามารถเข้าถึงข้อมูลที่ลิงก์ถูกลบได้ที่ไหนและภายใต้เงื่อนไขใด รวมถึงข้อมูลติดต่อของคุณเพื่อให้ผู้ใช้สามารถติดต่อสอบถามเกี่ยวกับวัสดุนี้ได้</p>

<p>3. ลิงก์ตรงไปยังหน้าที่มีข้อมูลซึ่งต้องถูกลบ</p>

<p>ลิงก์ควรมีรูปแบบเป็น <strong>https://url.to/link</strong> หรือรูปแบบที่คล้ายกัน</p>

<p>ภายใน 48 ชั่วโมงหลังจากได้รับคำร้องขอ เราจะลบลิงก์ที่เกี่ยวข้องออกจากเว็บไซต์</p>

<p class="bold">อีเมลของเรา: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>คำเตือน!</p>

<p>a) เราขอสงวนสิทธิ์ในการเผยแพร่ข้อมูลใด ๆ ที่ส่งถึงเราที่อีเมล <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> บนเว็บไซต์นี้</p>

<p>b) เราไม่สามารถควบคุมการกระทำของผู้ใช้ที่อาจแชร์ลิงก์ไปยังข้อมูลที่มีลิขสิทธิ์ของคุณซ้ำได้ ข้อมูลทั้งหมดในฟอรั่มจะถูกเผยแพร่อัตโนมัติ โดยไม่มีการตรวจสอบหรือการควบคุมล่วงหน้า ตามแนวปฏิบัติสากลที่ได้รับการยอมรับโดยทั่วไปสำหรับการโฮสต์ข้อมูลบนอินเทอร์เน็ต อย่างไรก็ตาม เราจะพิจารณาคำขอทั้งหมดเกี่ยวกับลิงก์ที่นำไปสู่ข้อมูลที่ละเมิดสิทธิ์ของคุณ</p>

<p>c) ภายใต้กฎหมายลิขสิทธิ์และสิทธิที่เกี่ยวข้องที่บังคับใช้ ลิงก์ไฮเปอร์เท็กซ์ไปยังข้อมูล (การอ้างอิงข้อมูล) ไม่ถือเป็นการคุ้มครองลิขสิทธิ์ (แม้อาจขัดต่อข้อกำหนดการใช้งานของไซต์) ดังนั้น โปรดงดเว้นการส่งจดหมายที่มีเนื้อหาข่มขู่หรือเรียกร้อง เนื่องจากไม่มีพื้นฐานทางกฎหมายสำหรับการเรียกร้องดังกล่าว</p>

</div>
