<div>
	<h3>แถบด้านข้าง 2</h3>
	เพื่อเพิ่มเนื้อหาภายในแถบด้านข้างนี้ ให้แก้ไขไฟล์ต่อไปนี้:
	<br /><br />
	<ul class="med">
		<li>library/language/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	หากต้องการปิดใช้งานแถบด้านข้างนี้ ให้ตั้งค่าตัวแปร page.show_sidebar2 ในไฟล์ config/layouts.php เป็น false
</div>
