<div id="infobox-body">

<p>

<p><h1>ข้อตกลงของผู้ใช้</h1></p>

<p><h3>เกี่ยวกับเว็บไซต์</h3></p>

<p>ทรัพยากรอินเทอร์เน็ต/เว็บไซต์ (ต่อไปนี้เรียกว่า "ทรัพยากร") เป็นเว็บไซต์ที่อนุญาตให้ผู้ใช้แลกเปลี่ยนข้อมูลกันผ่าน BitTorrent รวมถึงในรูปแบบอื่น ๆ และให้วิธีการตรวจสอบความสมบูรณ์ของข้อมูลที่ส่งผ่าน (โดยไฟล์แฮช)</p>

<ol>

<li type="1"><h3>เกี่ยวกับข้อตกลงผู้ใช้ฉบับนี้</h3>

<p>ข้อตกลงผู้ใช้ฉบับนี้ (ต่อไปนี้จะเรียกว่า "ข้อตกลง") จะมีผลบังคับใช้เมื่อมีการคลิก "ฉันยอมรับ" ที่ด้านล่าง และจะมีผลบังคับใช้ตลอดระยะเวลาที่ผู้ใช้ใช้ทรัพยากรนี้ ข้อตกลงนี้อาจถูกแก้ไขโดยฝ่ายบริหารโดยไม่ต้องแจ้งให้ทราบล่วงหน้า เวอร์ชันใหม่ของข้อตกลงจะมีผลบังคับใช้หลังจากการเผยแพร่เป็นเวลา 3 (สาม) วัน เว้นแต่จะระบุไว้เป็นอย่างอื่นในเวอร์ชันใหม่ของข้อตกลง</p>

<li><h3>ข้อจำกัดความรับผิดชอบ</h3>

<p>ผู้ใช้ตกลงอย่างชัดเจนว่าจะใช้ทรัพยากรนี้ด้วยความเสี่ยงของตนเอง</p>

<p>ผู้ใช้รับทราบและตกลงว่าทรัพยากรนี้จัดการกับวัสดุและข้อมูลที่สร้างโดยบุคคลที่สามและถูกโฮสต์โดยบุคคลเหล่านั้นบนอินเทอร์เน็ตโดยใช้คอมพิวเตอร์และ/หรือเซิร์ฟเวอร์ของตนเอง เนื้อหาและความปลอดภัยของวัสดุเหล่านี้ไม่สามารถควบคุมโดยฝ่ายบริหารของทรัพยากรได้ ดังนั้นฝ่ายบริหารจะไม่รับผิดชอบ:</p>
<ul>
<p>- สำหรับเนื้อหาของวัสดุที่ผู้ใช้ได้รับผ่านทรัพยากร รวมถึงความไม่สอดคล้องใด ๆ กับกฎหมายที่ใช้บังคับหรือความไม่เหมาะสมของเนื้อหาเหล่านั้น</p>
<p>- สำหรับผลที่เกิดจากการนำไปใช้ การใช้ หรือการไม่ใช้ข้อมูลที่ได้รับ</p>
<p>- สำหรับความไม่ตรงกันใด ๆ ระหว่างผลลัพธ์ที่ได้รับผ่านทรัพยากรและความคาดหวังของผู้ใช้</p>
<p>- สำหรับความเสียหายที่เกิดขึ้นกับฮาร์ดแวร์หรือซอฟต์แวร์ของผู้ใช้ที่เกิดจากการใช้ทรัพยากร</p>
<p>- สำหรับความไม่สามารถในการใช้ทรัพยากรด้วยเหตุผลใด ๆ ก็ตาม</p>
<p>- สำหรับผลที่อาจเกิดขึ้นจากการเผยแพร่ซอฟต์แวร์ที่ผิดกฎหมายหรือไม่ได้รับอนุญาต เนื้อหาเสียง/วิดีโอ หรือวัสดุหรือข้อมูลอื่น ๆ ที่ละเมิดสิทธิของบุคคลที่สาม</p>
</ul>

<p>ภายใต้สถานการณ์ใด ๆ ทรัพยากรจะไม่รับผิดชอบต่อผู้ใช้หรือบุคคลที่สามในเรื่องความเสียหาย การสูญเสีย หรือค่าใช้จ่ายใด ๆ ที่เกิดขึ้นเกี่ยวข้องกับทรัพยากร การใช้ หรือความไม่สามารถใช้ รวมถึงผลกำไรที่สูญหาย</p>

<p>ฝ่ายบริหารทรัพยากรไม่มีภาระผูกพันในการรับรองความเป็นความลับของข้อมูลที่ผู้ใช้จัดให้ อย่างไรก็ตามจะใช้มาตรการที่สมเหตุสมผลทั้งหมดเพื่อปกป้องข้อมูล ยกเว้นมีข้อตกลงเฉพาะหรือข้อกฎหมายบังคับให้กระทำแตกต่างไป</p>

<p>หน้าที่ของทรัพยากรไม่รวมถึงการตรวจสอบความถูกต้องตามกฎหมายของข้อมูลที่ส่งผ่าน (รวมถึงแต่ไม่จำกัดเฉพาะข้อมูลที่ส่งระหว่างผู้ใช้ผ่าน BitTorrent ข้อความภายในรูปแบบใด ๆ ข้อความ หรือไฟล์) หรือการกำหนดสิทธิในทรัพย์สินทางปัญญาหรือความชอบด้วยกฎหมายของการส่งหรือรับข้อมูลดังกล่าว</p>

<li><h3>ข้อจำกัดในการใช้ทรัพยากรโดยผู้ใช้</h3>

<p>เมื่อใช้ทรัพยากรนี้ ผู้ใช้ต้องไม่ และตกลงว่าจะไม่:</p>
<ul>
<p>- อัปโหลดไฟล์แฮช (ทอร์เรนต์) ที่มีข้อมูลที่มีไวรัสหรือซอฟต์แวร์ที่เป็นอันตรายอื่น ๆ ไฟล์หรือโปรแกรมที่ถูกออกแบบมาเพื่อขัดขวาง ทำลาย หรือจำกัดการทำงานของคอมพิวเตอร์หรืออุปกรณ์สื่อสารใด ๆ โปรแกรมสำหรับเข้าถึงโดยไม่ได้รับอนุญาต หมายเลขซีเรียลสำหรับซอฟต์แวร์เชิงพาณิชย์หรือเครื่องมือสำหรับสร้าง หมายเลขล็อกอิน รหัสผ่าน หรือวิธีการอื่น ๆ ที่ใช้ในการเข้าถึงทรัพยากรอินเทอร์เน็ตโดยไม่ได้รับอนุญาต รวมถึงการโพสต์ลิงก์ไปยังสิ่งดังกล่าว</p>
<p>- อัปโหลดไฟล์แฮช (ทอร์เรนต์) ที่มีข้อความ ข้อมูล หรือโปรแกรมใด ๆ ที่การใช้งานละเมิดสิทธิบัตร เครื่องหมายการค้า ความลับทางการค้า ลิขสิทธิ์ หรือสิทธิในทรัพย์สินอื่น ๆ และ/หรือสิทธิที่เกี่ยวข้องของบุคคลที่สาม</p>
<p>- ส่งข้อความโฆษณาที่ไม่ได้รับอนุญาต (จดหมายขยะ สแปม) ไปยังที่อยู่อีเมลที่ปรากฏบนเว็บไซต์</p>
<p>- คัดลอกและใช้เพื่อวัตถุประสงค์เชิงพาณิชย์ข้อมูลใด ๆ ที่ได้รับผ่านทรัพยากร ซึ่งเป็นการละเมิดสิทธิของผู้อื่นหรืออาจก่อให้เกิดความเสียหายทางวัตถุหรือศีลธรรมโดยตรงแก่ผู้อื่น</p>
<p>- โพสต์ลิงก์ไปยังแหล่งข้อมูลบนเว็บที่เนื้อหาขัดต่อกฎหมายที่ใช้บังคับ</p>
<p>- แอบอ้างเป็นบุคคลใดบุคคลหนึ่งหรือผู้แทนขององค์กรและ/หรือชุมชนโดยไม่ได้รับอนุญาตอย่างถูกต้อง รวมถึงพนักงานฝ่ายบริหารหรือเจ้าของทรัพยากร</p>
</ul>

<li><h3>การปฏิเสธการให้การรับประกัน</h3>

<p>การเข้าถึงทรัพยากรถูกจัดให้ตามสภาพ "ตามที่เป็น" โดยไม่มีการรับประกันใด ๆ ทั้งโดยตรงและโดยนัย</p>

<p>โดยเฉพาะอย่างยิ่ง ฝ่ายบริหารของทรัพยากรไม่รับประกันการทำงานของเว็บไซต์หรือส่วนใดส่วนหนึ่ง รวมถึงความสามารถในการทำงานและความน่าเชื่อถือของลิงก์ที่ผู้ใช้โพสต์</p>

<p>ทรัพยากรไม่รับผิดชอบต่อความสูญเสียโดยตรงหรือโดยอ้อมใด ๆ ที่เกิดขึ้นจาก: การใช้หรือไม่สามารถใช้บริการ; หรือการเข้าถึงการสื่อสารของคุณโดยไม่ได้รับอนุญาต</p>

<li><h3>สิทธิของฝ่ายบริหารทรัพยากร</h3>

<p>ฝ่ายบริหารทรัพยากรมีสิทธิ์ปฏิเสธการเข้าถึงทรัพยากรต่อผู้ใช้หรือกลุ่มผู้ใช้โดยไม่ต้องชี้แจงหรือแจ้งให้ทราบล่วงหน้า</p>

<p>ฝ่ายบริหารทรัพยากรสามารถแก้ไขหรือลบข้อมูลใด ๆ ไฟล์แฮช (ทอร์เรนต์) กราฟิก เสียง และข้อมูลอื่น ๆ ที่ผู้ใช้ส่งโดยไม่ต้องแจ้งให้ทราบล่วงหน้าหรือชี้แจงเหตุผล</p>

<li><h3>ความรับผิดชอบของฝ่ายต่าง ๆ</h3>

<p>ผู้ใช้ตกลงว่าข้อพิพาททั้งหมดที่เกิดขึ้นจากข้อตกลงนี้จะได้รับการแก้ไขตามกฎหมายที่ใช้บังคับ</p>

<p>ผู้ใช้ตกลงว่ากฎหมายและระเบียบข้อบังคับปกป้องผู้บริโภคจะไม่ถูกนำมาใช้กับการใช้ทรัพยากรนี้ เนื่องจากไม่มีการให้บริการที่ต้องชำระเงิน</p>

<p>ทรัพยากรไม่จัดตั้งเป็นตัวแทน หุ้นส่วน กิจการร่วม ลูกจ้าง หรือความสัมพันธ์อื่น ๆ ที่ไม่ได้ถูกระบุอย่างชัดเจนในข้อตกลงนี้</p>

<p>การที่ทรัพยากรไม่ดำเนินการตอบสนองต่อการละเมิดข้อตกลงนี้ของผู้ใช้คนใดหรือกลุ่มผู้ใช้ใด ๆ ไม่ถือเป็นการอนุมัติหรือช่วยเหลือในการกระทำดังกล่าว</p>

<p>การที่ทรัพยากรไม่ดำเนินการตอบสนองต่อการละเมิดข้อตกลงนี้ของผู้ใช้หรือกลุ่มผู้ใช้ใด ๆ ไม่ทำให้ทรัพยากรสูญเสียสิทธิในการดำเนินการที่เหมาะสมเพื่อปกป้องผลประโยชน์ของตนในภายหลัง</p>

<li><h3>การยอมรับข้อตกลงผู้ใช้</h3>

<p>ถ้าคุณไม่เห็นด้วยกับข้อกำหนดและเงื่อนไขทั้งหมดข้างต้น คุณจะไม่สามารถเข้าถึงทรัพยากรทั้งหมดหรือบางส่วนได้ ยกเว้นหน้าข้อตกลงผู้ใช้ และจะไม่สามารถรับและ/หรือเข้าถึงเนื้อหาของทรัพยากรโดยวิธีการอื่น ๆ ไม่ว่าจะทั้งหมดหรือบางส่วน</p>

<p>ถ้าคุณไม่เห็นด้วยกับข้อตกลงผู้ใช้นี้ คุณต้องออกจากทรัพยากรทันที</p>

</ol>
</p>

</div>
