<div id=\"infobox-body\">

<p>

<p><h1>ข้อตกลงผู้ใช้</h1></p>

<p><h3>เกี่ยวกับเว็บไซต์</h3></p>

<p>ทรัพยากรอินเทอร์เน็ต (ต่อไปนี้เรียกว่า "ทรัพยากร") คือเว็บไซต์ที่อนุญาตให้ผู้ใช้แชร์ข้อมูลซึ่งกันและกันผ่านบิตทอร์เรนต์ รวมทั้งในรูปแบบฟรี และให้วิธีการติดตามความสมบูรณ์ของข้อมูลที่ส่ง (ผ่านไฟล์แฮช)</p>

<ol>

<li type="1"><h3>เกี่ยวกับข้อตกลงผู้ใช้</h3>

<p>ข้อตกลงผู้ใช้นี้จะมีผลใช้บังคับหลังจากคลิก "ฉันยอมรับ" ที่ด้านล่าง และใช้งานได้ตลอดเวลาโดยผู้ใช้ทรัพยากร ข้อตกลงผู้ใช้อาจเปลี่ยนแปลงได้โดยฝ่ายบริหารโดยไม่ต้องแจ้งให้ทราบล่วงหน้า เวอร์ชันใหม่ของข้อตกลงผู้ใช้จะมีผลบังคับใช้หลังจาก 3 (สาม) วันนับจากวันที่ส่ง เว้นแต่จะมีการกำหนดอย่างอื่นในเวอร์ชันใหม่ของข้อตกลงผู้ใช้</p>

<li><h3>ข้อจำกัดความรับผิดชอบ</h3>

<p>ผู้ใช้ตกลงโดยชัดแจ้งว่าการใช้ทรัพยากรเป็นความเสี่ยงของตนเอง</p>

<p>ผู้ใช้ทราบและเห็นด้วยว่าวัสดุและข้อมูลที่เกี่ยวข้องกับทรัพยากรถูกสร้างโดยบุคคลที่สามและถูกวางไว้บนอินเทอร์เน็ตในคอมพิวเตอร์และ/หรือเซิร์ฟเวอร์ของพวกเขา</p> เนื้อหาและความปลอดภัยของเนื้อหาเหล่านี้ไม่สามารถควบคุมได้โดยการบริหารทรัพยากร ดังนั้นสิ่งหลังจะไม่รับผิดชอบ:</p>
<ul>
<p>-สำหรับเนื้อหาของวัสดุที่ได้รับโดยผู้ใช้จากการใช้ข้อมูลของทรัพยากรและความไม่สอดคล้องที่อาจเกิดขึ้นกับกฎหมายที่ใช้บังคับหรือน่ารังเกียจ;</p>
<p>-สำหรับผลกระทบจากการนำไปใช้ การใช้ หรือไม่ใช้ข้อมูลที่ได้รับ;</p>
<p>-ในความไม่ตรงกันที่เป็นไปได้ระหว่างผลลัพธ์ที่ได้รับและความคาดหวังของผู้ใช้ทรัพยากร;</p>
<p>-สำหรับความเสียหายใด ๆ ที่เกิดขึ้นกับฮาร์ดแวร์หรือซอฟต์แวร์ของผู้ใช้ซึ่งเกิดจากการใช้ทรัพยากร;</p>
<p>-สำหรับความไม่สามารถในการใช้ทรัพยากรด้วยเหตุผลใด ๆ;</p>
<p>-สำหรับผลที่อาจเกิดจากการแพร่กระจายซอฟต์แวร์ที่ผิดกฎหมายหรือไม่ได้รับอนุญาตและผลิตภัณฑ์เสียง/วิดีโออื่น ๆ และข้อมูลหรือวัสดุอื่น ๆ ที่ส่งผลกระทบต่อสิทธิของบุคคลที่สาม.</p>
</ul>

<p>ในทางใด ๆ ทรัพยากรจะไม่รับผิดชอบต่อผู้ใช้หรือบุคคลที่สามในเรื่องค่าเสียหาย การสูญเสีย หรือค่าใช้จ่ายที่เกิดขึ้นในความสัมพันธ์กับทรัพยากรนี้ การใช้หรือไม่สามารถใช้ รวมถึงการสูญเสียหรือผลกำไรที่หายไป.</p>

<p>ผู้ดูแลระบบทรัพยากรไม่มีหน้าที่ที่จะต้องรับประกันความลับของข้อมูลที่จัดทำโดยผู้ใช้ ในขณะที่พยายามอย่างเต็มที่ในเรื่องนี้ หากไม่มีการตกลงกันในทางตรงกันข้ามหรือข้อกำหนดที่เกี่ยวข้องของกฎหมายปัจจุบัน.</p>

<p>หน้าที่ของทรัพยากรไม่มีการควบคุมข้อมูลที่ส่งอย่างถูกกฎหมายหรือผิดกฎหมาย ( ได้แก่ ข้อมูลทั้งหมดที่รวมถึง แต่ไม่จำกัดเฉพาะ ข้อมูลที่ส่งระหว่างผู้ใช้ผ่าน BitTorrent การถ่ายโอนข้อมูลภายในที่หลากหลายเชื่อมโยง ข้อความ หรือไฟล์) การกำหนดสิทธิในทรัพย์สินหรือลิขสิทธิ์ของการส่ง หรือการรับข้อมูลนี้.</p>

<li><h3>ข้อจำกัดการใช้ทรัพยากรโดยผู้ใช้</h3>

<p>เมื่อคุณใช้ทรัพยากรนี้ ผู้ใช้ไม่มีสิทธิและเห็นด้วยกับเรื่องนี้:</p>
<ul>
<p>- วางแฮช-แฟ้มหรือข้อมูลที่มีไวรัสหรือโปรแกรมชั่วร้าย โปรแกรมที่รู้จักซึ่งออกแบบมาเพื่อทำให้การทำงานของคอมพิวเตอร์หรืออุปกรณ์การสื่อสารไม่สามารถทำงานได้ หรือโปรแกรมที่ให้เข้าถึงที่ไม่ได้รับอนุญาต ตลอดจนหมายเลขซีเรียลสำหรับผลิตภัณฑ์ซอฟต์แวร์เชิงพาณิชย์และโปรแกรมสำหรับการสร้าง หมายเลขเข้าสู่ระบบ รหัสผ่าน และวิธีการอื่น ๆ เพื่อเข้าถึงเว็บไซต์บนอินเทอร์เน็ตอย่างไม่ได้รับอนุญาต รวมถึงโพสต์ลิงก์ไปยังข้อมูลข้างต้น;</p>
<p>- วางแฮช-แฟ้มหรือข้อความ ข้อมูล หรือโปรแกรมใด ๆ การใช้ซึ่งละเมิดสิทธิบัตร เครื่องหมายการค้า ความลับทางการค้า ลิขสิทธิ์ หรือสิทธิในทรัพย์สินอื่นและ/หรือสิทธิในลิขสิทธิ์และสิทธิที่เกี่ยวข้องของบุคคลที่สาม;</p>
<p>- ส่งอีเมลล์ที่อยู่ที่มีอยู่ในเว็บไซต์ ข้อความโฆษณาที่ไม่ได้รับอนุญาต (ขยะ โฆษณา สแปม);</p>
<p>- คัดลอกและใช้ข้อมูลใด ๆ ที่ได้รับผ่านทรัพยากรนี้เพื่อวัตถุประสงค์ในเชิงพาณิชย์ ซึ่งละเมิดสิทธิของผู้อื่นหรืออาจทำให้เกิดความเสียหายทางวัตถุหรือทางศีลธรรมแก่พวกเขา; </p>
<p>- โพสต์ลิงก์ไปยังแหล่งข้อมูลบนเว็บที่เนื้อหาขัดแย้งกับกฎหมายปัจจุบัน;</p>
<p>- ปลอมตัวเป็นบุคคลหรือผู้แทนขององค์กรและ/หรือชุมชนโดยไม่มีสิทธิ์ที่เพียงพอ รวมถึงพนักงานของผู้ดูแลระบบสำหรับเจ้าของทรัพยากร.</p>
</ul>

<li><h3>การรับประกันประสิทธิภาพ</h3>

<p>การเข้าถึงทรัพยากรมีให้ใน "ตามที่เป็น" โดยไม่มีการรับประกันประเภทใด ๆ ทั้งทางตรงและทางอ้อม.</p>

<p>โดยเฉพาะอย่างยิ่ง ผู้ดูแลระบบทรัพยากรไม่รับประกันฟีเจอร์ของเว็บไซต์และหมวดหมู่ รวมทั้งฟังก์ชัน การทำงาน และความน่าเชื่อถือของลิงก์ที่นำเสนอโดยผู้ใช้.</p>

<p>ทรัพยากรไม่รับผิดชอบต่อการสูญเสียโดยตรงหรือทางอ้อมใด ๆ ที่เกิดจากการใช้หรือไม่สามารถใช้บริการ การเข้าถึงการสื่อสารของคุณโดยไม่ได้รับอนุญาต.</p>

<li><h3>สิทธิของการบริหารทรัพยากร</h3>

<p>ผู้บริหารทรัพยากรมีสิทธิ์ที่จะปฏิเสธการเข้าถึงทรัพยากรใด ๆ สำหรับผู้ใช้หรือกลุ่มผู้ใช้ โดยไม่ต้องชี้แจงการกระทำของเขาและการแจ้งให้ทราบ.</p>

<p>ผู้ดูแลระบบทรัพยากรสามารถแก้ไขหรือลบข้อมูล แฮชไฟล์ (ทอร์เรนต์) กราฟิก เสียง และข้อมูลอื่น ๆ ที่ส่งโดยผู้ใช้จากทรัพยากร โดยไม่ต้องแจ้งให้ทราบและอธิบายการกระทำของพวกเขา.</p>

<li><h3>ความรับผิดชอบของฝ่ายต่างๆ</h3>

<p>ผู้ใช้ตกลงว่าข้อพิพาทที่เกี่ยวข้องกับข้อตกลงการใช้งานทั้งหมดจะถูกตัดสินตามบรรทัดฐานทางกฎหมาย.</p>

<p>ผู้ใช้เห็นด้วยว่ากฎระเบียบและกฎหมายเกี่ยวกับการคุ้มครองผู้บริโภคไม่สามารถใช้บังคับในการใช้งานของทรัพยากรนี้ เนื่องจากไม่มีบริการที่ต้องชำระเงิน.</p>

<p>ทรัพยากรไม่สร้างความสัมพันธ์ระหว่างผู้ใช้และความสัมพันธ์ด้านการเป็นหุ้นส่วนในกิจกรรมร่วม หรือความสัมพันธ์ในการสรรหา ตลอดจนความสัมพันธ์อื่นใดที่ไม่ได้ถูกบรรยายไว้ในข้อตกลงการใช้งาน.</p>

<p>การไม่ดำเนินการของทรัพยากรต่อเหตุการณ์การละเมิดข้อตกลงผู้ใช้โดยผู้ใช้หรือกลุ่มผู้ใช้ไม่ได้หมายความว่าทรัพยากรจะช่วยเหลือผู้ใช้หรือกลุ่มผู้ใช้ในการกระทำดังกล่าว.</p>

<p>การไม่ดำเนินการของทรัพยากรต่อเหตุการณ์การละเมิดข้อตกลงผู้ใช้โดยผู้ใช้หรือกลุ่มผู้ใช้ไม่ได้ทำให้ทรัพยากรสูญเสียสิทธิ์ในการดำเนินการที่เหมาะสมเพื่อปกป้องผลประโยชน์ในภายหลัง.</p>

<li><h3>การยอมรับของผู้ใช้ข้อตกลง</h3>

<p>หากคุณไม่เห็นด้วยกับข้อกำหนดและเงื่อนไขทั้งหมดข้างต้น คุณจะไม่สามารถเข้าถึงทรัพยากรโดยรวม หรือส่วนใดส่วนหนึ่ง ยกเว้นหน้าผู้ใช้ข้อตกลง รับและ/หรือเข้าถึงเนื้อหาของทรัพยากรโดยวิธีการอื่น ๆ โดยรวม หรือในส่วนใดส่วนหนึ่ง!</p>

<p>หากคุณไม่เห็นด้วยกับข้อตกลงผู้ใช้ คุณต้องออกจากทรัพยากรทันที.</p>

</ol>
</p>

</div><!--/infobox-body-->
