<div id="infobox-body">
	<h2 class="bold">हमारी साइट पर विज्ञापन</h2>
	<p>विज्ञापन के लिए कृपया संपर्क करें: <strong><a href="mailto:{{ config('mail.addresses.advert') }}" class="gen">{{ config('mail.addresses.advert') }}</a></strong></p>
</div>
