<div id=\"infobox-body\">

<p><h1>कॉपीराइट धारकों के लिए जानकारी</h1></p>

<p>यदि आप किसी भी सामग्री लिंक (या लिंक) के कॉपीराइट धारक हैं जो इस साइट पर उपलब्ध है, और आप बिना आपकी सहमति के उपयोगकर्ताओं द्वारा इस जानकारी के प्रसार को रोकना चाहते हैं, तो हम उपयुक्त लिंक हटाकर आपकी सहायता करने के लिए प्रसन्न होंगे।</p>

<p>इसके लिए आवश्यक है कि आपने हमें एक पत्र (इलेक्ट्रॉनिक रूप में) भेजा हो
जिसमें हमें निम्नलिखित जानकारी संकेतित की गई हो:</p>

<p>1. कॉपीराइट से संरक्षित सामग्री पर आपके अधिकारों का दस्तावेजी प्रमाण:</p>
<p> - मुहर के साथ स्कैन किया गया दस्तावेज़, या</p>
<p> - कंपनी के स्वामी के आधिकारिक ई-मेल डोमेन से प्राप्त ईमेल, या</p>
<p> - अन्य संपर्क जानकारी जो विशिष्ट रूप से आपको सामग्री का स्वामी साबित करती हो।</p>

<p>2. आप जो पाठ रखना चाहते हैं, उसके साथ हटाने योग्य सूचना होनी चाहिए।</p>

<p>आप उसमें यह निर्दिष्ट कर सकते हैं कि आप किस स्थान और किन शर्तों के तहत जानकारी प्राप्त कर सकते हैं, जिनके संदर्भ हटा दिए गए हैं, साथ ही आपकी संपर्क जानकारी, ताकि उपयोगकर्ता इस सामग्री के बारे में आपसे आवश्यक सभी जानकारी प्राप्त कर सकें।</p>

<p>3. हटाए जाने वाले डेटा के संदर्भ रखने वाले पृष्ठों के सीधे लिंक प्रदान करें।</p>

<p>लिंक इस प्रकार दिखने चाहिए: <strong>https://url.to/link</strong> या इसी तरह कुछ।</p>

<p>इसके बाद 48 घंटों के भीतर, हम आपकी रुचि के लिंक साइट से हटा देंगे।</p>

<p class="bold">हमारा ईमेल: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>चेतावनी!</p>

<p>क) हम इस साइट पर किसी भी सूचना को प्रकाशित करने का अधिकार सुरक्षित रखते हैं जो हमें ईमेल <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong> पर भेजी गई हो।</p>

<p>ख) हमारे पास उन उपयोगकर्ताओं के कार्यों पर कोई नियंत्रण नहीं है जो आपकी कॉपीराइट वाली जानकारी के लिंक को पुनः पोस्ट कर सकते हैं। कोई भी जानकारी मंच पर स्वतः, बिना किसी पक्ष के नियंत्रण के प्रकाशित होती है, जो इंटरनेट पर जानकारी प्रदर्शित करने के सामान्यतः स्वीकृत अंतरराष्ट्रीय अभ्यास के अनुरूप है। हालांकि, हम किसी भी मामले में आपकी अधिकारों का उल्लंघन करने वाली जानकारी के संदर्भ के संबंध में आपके सभी प्रश्नों पर विचार करते हैं।</p>

<p>ग) कॉपीराइट और संबंधित अधिकारों के कानून के अनुसार, किसी भी डेटा (सूचना संदेश) का संदर्भ स्वयं कॉपीराइट कानून के अंतर्गत नहीं आता है (हालांकि यह "वेबसाइट उपयोग समझौते" का उल्लंघन कर सकता है)। इसलिए, बिना वास्तविक कारण के, धमकी या मांगें वाले पत्र भेजना आवश्यक नहीं है।</p>

</div><!--/infobox-body-->
