<div id="infobox-body">

<p><h1>कॉपीराइट धारकों के लिए जानकारी</h1></p>

<p>यदि आप इस साइट पर लिंक की गई किसी भी सामग्री के कॉपीराइट धारक हैं और उपयोगकर्ताओं द्वारा आपकी सहमति के बिना इस जानकारी के प्रसार की अनुमति नहीं देना चाहते हैं, तो हम प्रासंगिक लिंक हटाकर आपकी सहायता करने के लिए प्रसन्न रहेंगे।</p>

<p>ऐसा करने के लिए, कृपया हमें निम्नलिखित जानकारी वाले इलेक्ट्रॉनिक पत्र भेजें:</p>

<p>1. कॉपीराइट से संरक्षित सामग्री पर आपके अधिकारों का दस्तावेजी प्रमाण:</p>
<p> — एक आधिकारिक मुहर वाला स्कैन किया हुआ दस्तावेज़, या</p>
<p> — अधिकार रखने वाली कंपनी के आधिकारिक डोमेन से भेजा गया ईमेल, या</p>
<p> — अन्य संपर्क जानकारी जो विशिष्ट रूप से आपको अधिकारधारी के रूप में पहचानती हो।</p>

<p>2. आप हटाई गई सामग्री की जगह जो प्रतिस्थापन पाठ प्रकाशित करना चाहते हैं।</p>

<p>इस पाठ में, आप निर्दिष्ट कर सकते हैं कि उपयोगकर्ता कहाँ और किन शर्तों के तहत उस जानकारी को प्राप्त कर सकते हैं जिसके लिंक हटाए गए हैं, साथ ही आपकी संपर्क जानकारी ताकि उपयोगकर्ता इस सामग्री के संबंध में आपसे संपर्क कर सकें।</p>

<p>3. उन पृष्ठों के सीधे लिंक जिनमें हटाए जाने वाले डेटा के संदर्भ मौजूद हैं।</p>

<p>लिंक का स्वरूप <strong>https://url.to/link</strong> या इसी तरह होना चाहिए।</p>

<p>आपका अनुरोध प्राप्त होने के 48 घंटे के भीतर, हम संबंधित लिंक साइट से हटा देंगे।</p>

<p class="bold">हमारा ईमेल: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>चेतावनी!</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) हमारे पास उन उपयोगकर्ताओं की कार्रवाई पर कोई नियंत्रण नहीं है जो आपकी कॉपीराइट वाली जानकारी के लिंक पुनः पोस्ट कर सकते हैं। फोरम पर सभी जानकारी स्वचालित रूप से, बिना पूर्व समीक्षा या मध्यस्थता के, इंटरनेट पर जानकारी होस्ट करने के लिए सामान्यतः स्वीकार किए गए अंतरराष्ट्रीय मानकों के अनुसार पोस्ट की जाती है। फिर भी, हम आपके अधिकारों के उल्लंघन वाली जानकारी के लिंक से संबंधित सभी अनुरोधों पर विचार करेंगे।</p>

<p>c) लागू कॉपीराइट और संबंधित अधिकारों के तहत, डेटा (सूचनात्मक संदर्भ) के लिए एक हाइपरलिंक स्वयं में कॉपीराइट सुरक्षा के अधीन नहीं है (हालाँकि यह साइट के उपयोगकर्ता समझौते का उल्लंघन कर सकता है)। इसलिए, कृपया धमकी या मांग वाले पत्र भेजने से बचें, क्योंकि ऐसे दावों के लिए कोई कानूनी आधार नहीं है।</p>

</div>
