<div>
	<h3>साइडबार 2</h3>
	इस साइडबार में सामग्री जोड़ने के लिए, निम्न फ़ाइलें संपादित करें:
	<br /><br />
	<ul class="med">
		<li>पुस्तकालय/भाषा/*/html/sidebar2.html</li>
		<li>style/templates/default/page_footer.tpl</li>
	</ul>
	<br />
	इस साइडबार को निष्क्रिय करने के लिए, फ़ाइल config/layouts.php में परिवर्तनीय page.show_sidebar2 को false पर सेट करें।
</div>
